footer {
  margin-top: 58px;
  width: 100%;
  background: $white;
  padding-bottom: 55px;

  @media (max-width: #{$media_tablete}) {
    margin-top: 40px;
  }

  .container {
    @media (max-width: #{$media_tablete}) {
      padding: 0;
      max-width: 100%;
    }
  }

  h3 {
    margin: 0px;
    color: $gray_59;
    font-size: 1.8em;
    letter-spacing: 0.5px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;

    a {
      font-size: 1em;
      letter-spacing: 0.5px;
      line-height: 22px;
      font-weight: 700;
      color: $red_cb;
    }
  }

  .footerAccordionContent {
    @media (min-width: #{$media_tablete_up}) {
      display: block !important;
    }

    @media (max-width: #{$media_tablete}) {
      display: none;
    }

    li {
      padding-bottom: 3px;

      a {
        color: $gray_59;
        font-size: 1.8em;
        font-weight: 700;

        &:hover {
          color: $red_cb;
        }
      }
    }
  }

  .footer-content {
    padding: 40px 0;
    width: 100%;
    border-top: 1px solid $gray_68;

    @media (min-width: #{$media_tablete_up}) {
      display: flex;
      align-items: flex-start;
    }

    @media (max-width: #{$media_tablete}) {
      padding-top: 0;
      border-top: none;
      padding: 0;
    }

    .footerAccordion {
      @media (min-width: #{$media_tablete_up}) {
        order: 2;
        flex: 1;
        display: flex;
        justify-content: space-between;
      }

      @media (max-width: #{$media_tablete}) {
        margin-bottom: 40px;
      }

      ul {
        li {
          @media (max-width: #{$media_tablete}) {
            background: $orange;
            border-bottom: 1px solid $white;
            min-height: 42px;
            display: flex;
            align-items: center;
          }

          &:last-child {
            border-bottom: none;  
          }

          a {
            @media (max-width: #{$media_tablete}) {
              max-width: 640px;
              width: 100%;
              margin: 0 auto;
              display: block;
              color: $white;
              position: relative;
              padding-left: 15px;
              font-size: 21px;
            }

            @media (max-width: #{$mobile_down}) {
              max-width: 285px;
            }
          }
        }
      }

      h3 {
        @media (max-width: #{$media_tablete}) {
          background: linear-gradient(#c93a2c, #cc4827);
          border-bottom: 1px solid $white;
          min-height: 37px;
          display: flex;
          align-items: center;
        }

        &.open {
          a {
            &:after {
              @media (max-width: #{$media_tablete}) {
                margin: -2px 0 0 1px;
                content: "";
                width: 11px;
                height: 2px;
                background: $white;
              }
            }
          }
        }
        
        a {
          @media (max-width: #{$media_tablete}) {
            max-width: 640px;
            width: 100%;
            margin: 0 auto;
            display: block;
            color: $white;
            position: relative;
            padding-left: 15px;
          }

          @media (max-width: #{$mobile_down}) {
            max-width: 285px;
          }

          &:after {
            @media (max-width: #{$media_tablete}) {
              margin-top: -20px;
              position: absolute;
              top: 50%;
              left: 0px;
              content: "+";
              font-weight: 300;
              font-size: 34px;
              line-height: 40px;
              color: $white;
            }
          }
        }
      }
    }

    .one {
      @media (min-width: #{$media_tablete_up}) {
        order: 1;
        max-width: 120px;
        width: 100%;
      }

      h3 {
       @media (max-width: #{$media_tablete}) {
          display: none;
        }
      }
    }

    .social {
      display: flex;
      align-items: center;

      @media (max-width: #{$media_tablete}) {
        justify-content: center;
        margin-bottom: 20px;
      }

      li {
        padding-bottom: 3px;
        padding-right: 9px;

        &:last-child {
          padding-right: 0;
        }

        a {
          position: relative;
          display: block;

          &:hover {
            img {
              &.hover {
                opacity: 1;
              }
            }
          }

          img {
            transition: all 0.5s ease-in-out;
            &.hover {
              position: absolute;
              top: 0;
              left: 0;
              opacity: 0;
            }
          }
        }
      }
    }
  }

  .copyright {
    text-align: center;

    @media (max-width: #{$media_tablete}) {
      padding-left: 15px;
      padding-right: 15px;
    }
    
    p {
      font-family: $adobe-garamond_font;
      font-weight: 400;
      font-size: 1.4em;

      a,
      span {
        font-family: $adobe-garamond_font;
        font-weight: 400;
        font-size: 1em;
      }
    }
  }

  .two {
    margin: 0 2% 0 3%;
    width: 20%;
  }

  .three {
    margin: 0 2% 0 2%;
    width: 16%;
  }

  .four {
    margin: 0 2% 0 1%;
    width: 16%;
  }

  .five {
    width: 17%;
    margin: 0 2%;
  }

  .six {
    width: 14%;
  }

  .two,
  .three,
  .four,
  .five,
  .six {
    @media (max-width: #{$media_tablete}) {
      width: 100%;
      margin: 0;
    }
  }
}