/* top-banner */
.top-banner {
  background: $banner-color;
  position: relative;
  text-align: center;
  padding: 15px 15px 10px 15px;

  img {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    max-width: 460px;
  }
}

.portal-bg {
  background: url("#{$img_path}portal-bg.jpg") center top no-repeat;
  background-size: 100% 500%;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  margin: 0 auto;

  @media (min-width: #{$mobile_up}) {
    max-width: 670px;
  }

  @media (min-width: #{$media_tablete}) {
    max-width: 970px;
  }

  @media (min-width: #{$media_desktop}) {
    max-width: 1030px;
  }
}

.bar {
  @media only screen and (max-width: 990px) {
    display: none;
  }

  ul {
    margin: 4px 0 0 0;
    display: flex;
    align-items: center;

    li {
      padding: 0 8px 0 7px;
      line-height: 30px;
      font-weight: 700;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        a {
          &:after {
            display: none;
          }
        }
      }

      a {
        color: $gray_93;
        font-size: 2em;
        line-height: 30px;
        font-weight: 700;
        font-family: $adobe-garamond_font;
        font-style: italic;
        position: relative;
        margin-right: 2px;

        &:after {
          content:'';
          width: 1px;
          height: 80%;
          background-color: $black;
          display: block;
          position: absolute;
          top: 0;
          right: -8px;
        }

        &:hover,
        &.active {
          color: $black;
        }

        &.langLink {
          display: none;
        }

        &.small {
          font-size: 1.5em;
        }
      }
    }
  }
}

header.printviewnone,
.bar {
  background: url("#{$img_path}portal-header.png") center center no-repeat;
  background-size: 100% 100%;
}

.mobileMenu {
  display: none;

  @media only screen and (max-width: 990px) {
    display: block;
  }
}

header.printviewnone {
  padding: 20px 0 40px;
  position: relative;
  z-index: 999;

  @media only screen and (max-width: 990px) {
    padding: 12px 0 0 0;
  }

  @media (max-width: #{$mobile_down}) {
    padding: 20px 0 0 0;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: 990px) {
      flex-direction: column;
      max-width: 100%;
      padding: 0;
    }
  }

  aside {
    &.pull-right {
      @media only screen and (max-width: 990px) {
        position: relative;
        width: 100%;
      }
    }
  }

  .logo {
    @media only screen and (max-width: 990px) {
      max-width: 215px;
      margin: 0 auto 6px;
      display: inline-block;
    }

    @media (max-width: #{$mobile_down}) {
      margin: 0 auto 18px;
    }

    img {
      max-width: 100%;

      @media only screen and (max-width: 990px) {
        min-height: 52px;
      }
    }
  }

  .shadow {
    position: absolute;
    bottom: -25px;
    left: 0px;
    height: 25px;
    width: 100%;
    display: block;
    background: url("#{$img_path}shadow.png") center center no-repeat;
    background-size: 100% 100%;

    @media only screen and (max-width: 990px) {
      bottom: -7px;
    }
  }

  .nav-toggle {
    @media only screen and (max-width: 990px) {
      height: 37px;
      background-color: $red;
      width: 100%;
      z-index: 1;
    }

    span {
      padding: 0px 0 0px 15px;
      font-weight: 700;
      width: 640px;
      display: block;
      margin: 0 auto;
      text-align: left;
      position: relative;
      font-size: 20px;
      line-height: 37px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: $white;

      @media (max-width: #{$mobile_down}) {
        width: 270px;
      }

      &:before {
        content: "+";
        position: absolute;
        top: 9px;
        left: 0px;
        font-weight: 700;
        font-size: 32px;
        line-height: 20px;
      }
    }
  }

  .nav {
    align-items: center;
    padding-top: 14px;

    @media only screen and (min-width: 991px) {
       display: flex !important;
    }

    @media only screen and (max-width: 990px) {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      width: 100%;
      background-color: $blue;
      z-index: 2;
      padding-top: 0;
    }

    li {
      font-size: 1.8em;
      font-weight: 700;
      text-transform: uppercase;
      color: $red_cb;
      line-height: 20px;
      position: relative;
      padding: 8px 10px;

      @media only screen and (max-width: 990px) {
        border-top: 1px solid $white;
        padding: 8px 10px 13px 10px;
      } 
        
      &:hover {
        @media only screen and (min-width: 991px) {
          background-color: $blue;
          color: $white;
        }

        a {
          span {
            @media only screen and (min-width: 991px) {
              color: $white;
            }
          }
        }
      }

      a {
        font-weight: 700;
        text-transform: uppercase;
        color: $red_cb;
        line-height: 20px;
        text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
        display: block;

        @media only screen and (max-width: 990px) {
          color: $white;
        }

        span {
          display: block;
          font-weight: 700;
          color: $red_cb;
          line-height: 20px;

          @media only screen and (max-width: 990px) {
            color: $white;
          }
        }
      }

      .sub-nav {
        display: none;
        padding: 10px 17px 10px 0px;
        list-style: none;
        list-style-type: none;
        position: absolute;
        top: 36px;
        left: 0px;
        width: 555px;
        background: $blue;
        z-index: 2;

        @media only screen and (max-width: 990px) {
          width: 100%;
          background-color: $gray_5e;
          padding: 0;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }

        &:after {
          content:'';
          display: block;
          clear: both;
        }

        li {
          margin-left: 20px;
          padding: 0px;
          width: 159px;
          float: left;
          font-size: 18px;
          line-height: 20px;

          @media only screen and (max-width: 990px) {
            width: 100%;
            background-color: $gray_5e;
            border-top: 1px solid $white;
            margin-left: 0;
          }

          &:last-child {
            @media only screen and (max-width: 990px) {
              padding-bottom: 4px;
            }
          }

          a {
            color: $white;
            display: block;
            font-size: 18px;
            line-height: 20px;
            padding: 0 0 4px 0;

            @media only screen and (max-width: 990px) {
              max-width: 640px;
              margin: 0 auto;
              padding: 7px 0 12px 0;
              text-transform: capitalize;
            }
          }

          ul {
            &:after {
              content:'';
              display: block;
              clear: both;
            }

            li {
              margin-left: 0;
              border-top: 1px solid $white;
              padding-top: 4px;
              padding-bottom: 2px;

               @media only screen and (max-width: 990px) {
                border: none;
               }

              a {
                font-weight: 400;
                @media only screen and (max-width: 990px) {
                  padding: 0 0 4px 0;
                  font-weight: 700;
                  text-transform: capitalize;
                }
              }
            }
          }
        }
      }

      &.search {
        position: relative;

        &.active {
          background-color: $blue;

          img {
            &.hover {
              display: block;
            }
          } 
        }

        form {
          width: 203px;
          padding: 10px;
          overflow: hidden;
          display: none;
          position: absolute;
          top: 40px;
          right: 0px;
          background: $blue;

          @media only screen and (max-width: 990px) {
            position: relative;
            display: flex;
            align-items: center;
            padding: 0px;
            overflow: hidden;
            max-width: 640px;
            margin: 0 auto;
            width: 100%;
            top: 0;
            background-color: $white;
          }
        }

        input[type="text"] {
          padding: 0 7px;
          color: $gray_58;
          border: 0px;
          width: 183px;
          height: 30px;
          background: #fff;
          font-size: 14.6px;
          line-height: 30px;
          font-weight: 700;
          outline: none;

          @media only screen and (max-width: 990px) {
            width: 100%;
            border-radius: 0;
            font-family: $adobe-garamond_font;
            font-weight: 400;
            font-style:  italic;
          }
        }

        input[type="submit"] {
          width: 30px;
          height: 30px;
          border: 0px;
          display: none;
          outline: none;
          background: $blue url("#{$img_path}search-icon2-hover.png") center center no-repeat;

          @media only screen and (max-width: 990px) {
            display: block;
            background: $white url("#{$img_path}search-icon2.png") center center no-repeat;
            cursor: pointer;
          }
        }
      }

      .searchFormBtn {
        position: relative;

        @media only screen and (max-width: 990px) {
          display: none;
        }

        img {
          &.hover {
            position: absolute;
            top: 0px;
            left: 0px;
            display: none;
          }
        }

        &:hover {
          img {
            &.hover {
              display: block;
            }
          }
        }
      }
    }
  }
}




























