<footer>
    <p>© 2019 Tom&amp;Co. {{ 'app.web.footer.rights'|trans({}, 'tomandco') }}</p>
    <p>Aniserco S.A. - Noordkustlaan 16A, B3 - 1702 Groot-Bijgaarden</p>
    <p>{{ 'app.web.footer.terms'|trans({}, 'tomandco') }}
        <a title="Tom&amp;Co" href="https://www.tomandco.be/be_fr/terms-and-conditions" target="_blank" rel="noopener">Belgique</a>
        <a title="Tom&amp;Co" href="https://www.tomandco.be/be_nl/terms-and-conditions" target="_blank" rel="noopener">Belgïe</a> |
        <a title="Tom&amp;Co" href="https://www.tomandco.fr/fr_fr/terms-and-conditions" target="_blank" rel="noopener">France</a> |
        <a title="Tom&amp;Co" href="https://www.tomandco.lu/lu_fr/terms-and-conditions" target="_blank" rel="noopener">Luxembourg</a>
    </p>
</footer>

<div id="cookies">
    <div class="message">
        {{ 'app.web.footer.cookie.traffic'|trans({}, 'tomandco') }}
        <br>
        {{ 'app.web.footer.cookie.share'|trans({}, 'tomandco') }}

        <div class="actions">
            <a class="button-accept">{{ 'app.web.footer.cookie.ok'|trans({}, 'tomandco') }}</a>
            <a target="_blank" rel="noopener" href="https://www.tomandco.be/splashpage-com">
                {{ 'app.web.footer.cookie.privacy'|trans({}, 'tomandco') }}
            </a>
        </div>
    </div>
</div>
