<header>
    {% if location is defined and location|length %}
        <div class="breadcrumb">
            <ul>
                <li><a href="{{ path('app_web_shop_home', {'_locale': app.request.locale}) }}">{{ 'app.web.header.homepage'|trans({}, 'tomandco') }}</a></li>
                <li>{{ location.name }}</li>
            </ul>
        </div>
    {% endif %}

    <div class="language-block">
        {% for language, domain in shop.languageDomains %}
            {% if location is defined and location|length %}
                {% set languagePath = app.request.scheme ~ '://' ~ domain ~ path('app_web_shop_show', {'_locale': language, 'slug': location.slug}) %}
            {% else %}
                {% set languagePath = app.request.scheme ~ '://' ~ domain ~ path('app_web_shop_home', {'_locale': language}) %}
            {% endif %}

            <a href="{{ languagePath }}" title="{{ language|upper }}">
                {{ language|upper }} {% if not loop.last %} &nbsp;|&nbsp; {% endif %}
            </a>
        {% endfor %}
    </div>

    <a class="custome-url" target="_blank" rel="noopener" href="https://www.tomandco.com">
        <!-- www.tomandco.com -->
        <img src="{{ asset('build/images/web/shop/tomandco/url-image-header.png') }}"
                 alt="{{ 'app.web.header.logo'|trans({}, 'tomandco') }}">
    </a>

    <div class="splashpage-container">
        <div class="splashpage-content"><a href="{{ path('app_web_shop_home') }}">
            <img class="splashpage-logo" src="{{ asset('build/images/web/shop/tomandco/logo.png') }}"
                 alt="{{ 'app.web.header.logo'|trans({}, 'tomandco') }}"></a>
        </div>
    </div>
</header>
