$font-path: '../../../../../fonts/shop/sequoia-be/';

@font-face {
    font-family: 'Helvetica-Neue';
    src: url($font-path + 'HelveticaNeue.eot');
    src: url($font-path + 'HelveticaNeue.eot?#iefix') format('embedded-opentype'),
        url($font-path + 'HelveticaNeue.woff2') format('woff2'),
        url($font-path + 'HelveticaNeue.woff') format('woff'),
        url($font-path + 'HelveticaNeue.ttf') format('truetype'),
        url($font-path + 'HelveticaNeue.svg#HelveticaNeue') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica-Condensed';
    src: url($font-path + 'HelveticaNeue-CondensedBold.eot');
    src: url($font-path + 'HelveticaNeue-CondensedBold.eot?#iefix') format('embedded-opentype'),
        url($font-path + 'HelveticaNeue-CondensedBold.woff') format('woff'),
        url($font-path + 'HelveticaNeue-CondensedBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Interstate';
    src: url($font-path + 'Interstate-Regular.eot');
    src: url($font-path + 'Interstate-Regular.eot?#iefix') format('embedded-opentype'),
        url($font-path + 'Interstate-Regular.woff2') format('woff2'),
        url($font-path + 'Interstate-Regular.woff') format('woff'),
        url($font-path + 'Interstate-Regular.ttf') format('truetype'),
        url($font-path + 'Interstate-Regular.svg#Interstate-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}