body {
  font-family: $Helvetica_neue_font;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  background: url('#{$img_path}bg-img.png');
}

* {
  font-family: $Helvetica_neue_font;
  font-weight: 400;
}

.wrapper {
    max-width: 1200px !important;
    box-shadow: 0 3px 6px -4px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: $white;
}


