// Color
$white: #ffffff;
$black: #000000;
$tr: transparent;

$green: #8DBE48;

$brown: #5f4c3f;

$gray: #545454;
$gray-text: #464646;

// Fonts
$Helvetica_neue_font: 'Helvetica-Neue', sans-serif;
$Helvetica-condensed_font: 'Helvetica-Condensed', sans-serif;
$font_Interstate: 'Interstate', sans-serif;

// Image path
$img_path: '../../../../../images/web/shop/sequoia-be/';

// Media
/* Media query */
$mobile_up: 768px;
$mobile_down: 767px;