{% set openHours = open_hours(location, shopDomain, shop.code) %}

<div class="opening-hours-block">
    <ul class="flex column reset left open-hours-show" id="details_opening_hours">
        <li>
            {% if location.status == 'CLOSED' %}
                <span href="#" class="reset weight600 block txt-grey  closed"><span>{{ 'app.web.show.sidebar.closed'|trans({}, shop.code) }}</span></span>
            {% else %}
            <a href="#" class="reset weight600 block txt-grey {% if openHours.opens.isOpenNow %}open{% else %}closed{% endif %}">
                <span>
                    {% if openHours.opens.openTime and openHours.opens.closeTime %}
                        <span>{{ openHours.opens.sentence }}</span>
                        <span class="today-work-hour">
                            {{ openHours.opens.openTime }}
                            {{ 'app.web.show.sidebar.open_between'|trans({}, shop.code) }}
                            {{ openHours.opens.closeTime }}
                            <span class="icon icon-arrow-down txt-blue-light"></span>
                        </span>
                    {% endif %}
                </span>
            </a>
            {% endif %}
        </li>
    </ul>

    <div class="opening-hours-week">
        <table id="details_opening_hours" class="expand">
            <tbody>
            {% for dayNumber in 1..7 %}
                {% set weekDay = openHours.currentWeekDay + dayNumber - 1 %}
                {% if weekDay > 7 %}
                    {% set weekDay = weekDay - 7 %}
                {% endif %}

                {% if openHours.weekSpecialHours[weekDay] is defined %}
                    {% if openHours.weekSpecialHours[weekDay].closed %}
                        <tr {% if openHours.currentWeekDay == weekDay %}class="weight600"{% endif %}>
                            <td>{{ ('app.web.global.open_hours.days.' ~ weekDay)|trans }}</td>
                            <td class="txt-red">
                                {{ 'app.web.global.open_hours.days.closed'|trans }}
                                {% if openHours.currentWeekDay == weekDay %}<span class="icon icon-localisation txt-grey-light"></span>{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="txt-red"><span class="icon icon-direction-long-arrow-up-to-right"></span>
                                    {{ 'app.web.show.sidebar.closed_on'|trans({}, shop.code) }}
                                    {{ date('now', location.address.timezone)|date_modify((dayNumber - 1) ~ ' days')|date('d', false) }}
                                    {{ ('app.web.global.open_hours.months.'~date('now', location.address.timezone)|date_modify((dayNumber - 1) ~ ' days')|date('n', false))|trans }}
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr {% if openHours.currentWeekDay == weekDay %}class="weight600"{% endif %}>
                            <td>{{ ('app.web.global.open_hours.days.' ~ weekDay)|trans }}</td>
                            <td class="{% if openHours.weekOpenHours[weekDay] is defined %}txt-yellow{% else %}txt-green{% endif %}">
                                {{ openHours.weekSpecialHours[weekDay].openTimeFormat }}
                                {{ ' - ' }}
                                {{ openHours.weekSpecialHours[weekDay].closeTimeFormat }}
                                {% if openHours.weekSpecialHours[weekDay].additionalOpenTime and openHours.weekSpecialHours[weekDay].additionalCloseTime %}
                                    {{ ' ' ~ openHoursSeparator ~ ' ' }}
                                    {{ openHours.weekSpecialHours[weekDay].additionalOpenTimeFormat }}
                                    {{ ' - ' }}
                                    {{ openHours.weekSpecialHours[weekDay].additionalCloseTimeFormat }}
                                {% endif %}
                                {% if openHours.currentWeekDay == weekDay %}<span class="icon icon-localisation txt-grey-light"></span>{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="txt-green"><span class="icon icon-direction-long-arrow-up-to-right"></span>
                                    {{ 'app.web.show.sidebar.open_on'|trans({}, shop.code) }}
                                    {{ date('now', location.address.timezone)|date_modify((dayNumber - 1) ~ ' days')|date('d', false) }}
                                    {{ ('app.web.global.open_hours.months.'~date('now', location.address.timezone)|date_modify((dayNumber - 1) ~ ' days')|date('n', false))|trans }}
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                {% elseif openHours.weekOpenHours[weekDay] is defined %}
                    <tr {% if openHours.currentWeekDay == weekDay %}class="weight600"{% endif %}>
                        <td>{{ ('app.web.global.open_hours.days.' ~ weekDay)|trans }}</td>
                        <td>
                            {% for weekOpenHour in openHours.weekOpenHours[weekDay]|sort((a, b) => a.openTime <=> b.openTime) %}
                                {{ weekOpenHour.openTimeFormat }}
                                {{ ' - ' }}
                                {{ weekOpenHour.closeTimeFormat }}
                                {% if loop.length > 1 and not loop.last %}{{ ' ' ~ openHoursSeparator ~ ' ' }}{% endif %}
                            {% endfor %}
                            {% if openHours.currentWeekDay == weekDay %}<span class="icon icon-localisation txt-grey-light"></span>{% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr {% if openHours.currentWeekDay == weekDay %}class="weight600"{% endif %}>
                        <td>{{ ('app.web.global.open_hours.days.' ~ weekDay)|trans }}</td>
                        <td class="txt-red">
                            {{ 'app.web.global.open_hours.days.closed'|trans }}
                            {% if openHours.currentWeekDay == weekDay %}<span class="icon icon-localisation txt-grey-light"></span>{% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>