{% set promotionType = constant('App\\Service\\Api\\Entity\\ItemEntity::TYPE_NATIONAL') %}

<!-- Block location events + slideshow -->
<section id="block_location_events" class="section-location-events" style="display: none">
    {% if location.items and location.items[promotionType] is defined and location.items[promotionType]|length %}
        <div class="events-block">
            <div class="wrapper">
                <h2>{{ 'app.web.show.location_events.title'|trans }}</h2>

                <div class="events-slide">
                    {% for serviceEvent in location.items[promotionType] %}

                        <article itemscope itemtype="http://schema.org/Event">
                            <div class="slide-image">

                                {% if serviceEvent.assets[0] is defined %}
                                    <img src="{{ path('app_web_image_cloudinary_path', {'apiKey': serviceEvent.assets[0].cloudName, 'apiPath': serviceEvent.assets[0].publicId}) }}"
                                         alt="{{ serviceEvent.contentFacet.title }}"/>
                                {% endif %}


                            </div>

                            <div class="slide-content">
                                <h3 itemprop="name">{{ serviceEvent.contentFacet.title }}</h3>
                            </div>

                            <div class="block-hover">
                                <h3>{{ serviceEvent.contentFacet.title }}</h3>
                                <h6>
                                    {% if serviceEvent.validityFacet.validFrom and serviceEvent.validityFacet.validUntil %}
                                        <span itemprop="startDate">{{ serviceEvent.validityFacet.validFrom|split(' ')[0] }}</span>
                                        -
                                        <span itemprop="endDate">{{ serviceEvent.validityFacet.validUntil|split(' ')[0] }}</span>
                                    {% endif %}
                                </h6>
                                <p itemprop="description">{{ serviceEvent.contentFacet.longContent }}</p>

                                <div class="button-bottom">
                                    <a href="{{ serviceEvent.callToActionFacet.ctaUrl ? serviceEvent.callToActionFacet.ctaUrl : '#' }}" class="info-button">
                                        {{ 'app.web.show.location_events.info_button'|trans }}
                                    </a>
                                </div>
                            </div>

                            <meta itemprop="identifier" content="{{ serviceEvent.externalId }}"/>
                            <meta itemprop="image" content="{{ url('app_web_image_cloudinary_path',
                                {
                                    'imageSize': 'w_440',
                                    'apiKey': serviceEvent.assets[0].cloudName,
                                    'apiPath': serviceEvent.assets[0].publicId})
                            }}"/>
                            <div itemprop="location" itemscope itemtype="http://schema.org/Place" style="display: none">
                                <meta itemprop="name" content="{{ serviceEvent.callToActionFacet.ctaUrl }}"/>
                                <meta itemprop="address" content="{{ serviceEvent.callToActionFacet.ctaUrl }}"/>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
</section>