{% extends 'web/base/home.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/web/shop/'~shop.code~'/home') }}
{% endblock %}

{% block header %}
    {% include 'web/shop/'~shop.code~'/default_remote/header_'~app.request.locale~'.html.twig' %}
{% endblock %}

{% block content %}
    {% set twigData = {'filterContent': include('web/block/map/filters/simple_checkbox.html.twig', {
        'filters': {

            'orServiceKeys[1]':'Association',
            'orServiceKeys[2]':'Pharmacy',
            'orServiceKeys[3]':'Store',

        }
    })} %}

    {{ parent() }}
    <div class="mobilosoft-block">
        <span>Powered by Mobilosoft</span>
        <img src="{{ asset('build/images/web/shop/' ~ shop.code ~ '/mobilosoft_local_businesses.png') }}" alt="">
    </div>

{% endblock %}


{% block footer %}
    {% include 'web/shop/'~shop.code~'/default_remote/footer_'~app.request.locale~'.html.twig' %}
{% endblock %}

{% block javascripts_var %}
    {{ parent() }}

    {#  Map Settings for this shop (default are defind in js map folder files, DEFAULT_SETTINGS getter) #}
    <script type="text/javascript">
        var globalSettings = {
            map: {
                center: {lat: 50.62313744304004, lng: 5.365809522627387},
                zoom: 10,
            },
            geoLocationCountry: ['BE'],
            searchType: 'FIT_ALL',
            query: {
                near: '50.8467,4.3524',
                radius: 5000,
                onEmptyRadius: 10000,
                page: 0,
                size: 200
            },
            marker: {
                icon: '{{ asset('build/images/web/shop/' ~ shop.code ~ '/marker-icon_green.png') }}',
                icon_width: 42,
                icon_height: 67
            },
        };
    </script>
{% endblock %}
