{% extends 'web/base/show.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/web/shop/'~shop.code~'/show') }}
{% endblock %}

{% block header %}
    {% include 'web/shop/'~shop.code~'/default_remote/header_'~app.request.locale~'.html.twig' %}
{% endblock %}

{% block content %}
    {# set filters content for map #}
    {% set twigData = {'showSocials': false, 'showBreadcrumb': 0} %}

    {# {% block breadcrumb %}
    <div class="breadcrumb">
        <div class="breadcrumb-wrapper">
            <ul vocab="https://schema.org/" typeof="BreadcrumbList">
            <li property="itemListElement" typeof="ListItem">
                <a property="item" typeof="WebPage" href="{{ path('app_web_shop_home', {'_locale': app.request.locale}) }}"> <span property="name">{{ 'app.web.header.homepage'|trans({}, shop.code) }}</span></a>
                <meta property="position" content="1">
            </li>
            <li property="itemListElement" typeof="ListItem">
                <span property="name">{{ location.name }}</span>
                <meta property="position" content="2">
            </li>
        </ul>
        </div>
    </div>
    {% endblock %} #}

    {{ parent() }}
    <div class="mobilosoft-block pt-50">
        <span>Powered by Mobilosoft</span>
        <img src="{{ asset('build/images/web/shop/' ~ shop.code ~ '/mobilosoft_local_businesses.png') }}" alt="">
    </div>
{% endblock %}

{% block footer %}
    {% include 'web/shop/'~shop.code~'/default_remote/footer_'~app.request.locale~'.html.twig' %}
{% endblock %}

{% block javascripts_var %}
    {{ parent() }}

    <script>
        var globalSettings = {
            near_query: {
                size: 6,
                radius: 600000
            },

            geoLocationCountry: ['BE'],
            marker: {
                icon: '{{ asset('build/images/web/shop/' ~ shop.code ~ '/marker-icon_green.png') }}',
                icon_width: 42,
                icon_height: 67
            },
        };
    </script>
{% endblock %}