$font-path: '../../../../../fonts/shop/pepejeans-int';

@font-face {
    font-family: 'Apercu';
    src: url($font-path + '/Apercu-Regular.eot');
    src: url($font-path + '/Apercu-Regular.eot?#iefix') format('embedded-opentype'),
        url($font-path + '/Apercu-Regular.woff2') format('woff2'),
        url($font-path + '/Apercu-Regular.woff') format('woff'),
        url($font-path + '/Apercu-Regular.ttf') format('truetype'),
        url($font-path + '/Apercu-Regular.svg#Apercu-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src: url($font-path + '/Apercu-Bold.eot');
    src: url($font-path + '/Apercu-Bold.eot?#iefix') format('embedded-opentype'),
        url($font-path + '/Apercu-Bold.woff2') format('woff2'),
        url($font-path + '/Apercu-Bold.woff') format('woff'),
        url($font-path + '/Apercu-Bold.ttf') format('truetype'),
        url($font-path + '/Apercu-Bold.svg#Apercu-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
