body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $apercu_font;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  background-color: $gray_fd;
}

* {
  font-family: $apercu_font;
  font-weight: 400;
}
