// Color
$white: #ffffff;
$black: #000000;

$black_22: #222222;

$gray_f3: #f3f3f3;
$gray_f7: #f7f7f7;
$gray_fd: #fdfdfd;
$gray_de: #dedede;
$gray_b7: #b7b7b7;

// Fonts
$apercu_font: 'Apercu', Helvetica,Roboto,Arial,sans-serif;

// Image path
$img_path: '../../../../../images/web/shop/pepejeans-int/';
