{% set openHours = open_hours(location, shopDomain, constant('App\\Twig\\OpenHoursExtension::TYPE_WEEK')) %}
{% set twigData = {'showSocials': false} %}
<div class="location-details-block">
    <div class="wrapper">
        <div class="wrapper-title-icon">
            <h1>
                {{ location.name }}
                &nbsp;
                {% if location.status == 'OPEN' %}
                    <span class="open-label {% if openHours.opens.isOpenNow %}is-open{% else %}is-closed{% endif %}">
                    {% if openHours.opens.isOpenNow %}
                        {{ 'app.web.global.open_hours.shop_open'|trans }}
                    {% else %}
                        {{ 'app.web.global.open_hours.shop_close'|trans }}
                    {% endif %}
                </span>
                    <span class="open-sentence {% if openHours.opens.isOpenNow %}is-open{% else %}is-closed{% endif %}">{{ openHours.opens.sentence }}</span>
                {% else %}
                    <span class="open-label is-closed">{{ 'app.web.global.open_hours.shop_close'|trans }}</span>
                {% endif %}
            </h1>
        </div>

        <div class="row">
            <div class="col">
                <div class="col-box mb-40">
                    <h4>{{ 'app.web.show.location_details.address'|trans }}</h4>
                    <address>
                        {% if location.address.extraInfo|length  %}
                            {{ location.address.extraInfo }}<br/>
                        {% endif %}
                        {{ (location.address.number ? location.address.number ~ ' ' : '') ~ location.address.street }}
                        {{ location.address.zipCode ~ ' ' ~ location.address.locality }}
                    </address>

                    <div class="m-b-30">
                        <button data-gtm_event="itinerary" data-gtm_event_value="__externalId__" type="button" class="services-button location-button ga-cta" data-type="{{ shop.mapType }}"
                                data-type-google="{{ constant('App\\Entity\\Shop::MAP_TYPE_GOOGLE') }}"
                                data-type-here="{{ constant('App\\Entity\\Shop::MAP_TYPE_HERE') }}"
                                data-show-route="{{ path('app_web_shop_show', {'_locale': app.request.locale, 'slug': location.slug, focusRoute: true}) }}">
                            {{ 'app.web.show.location_details.route'|trans }}
                        </button>
                    </div>
                </div>

                <div class="col-box">
                    <h4>{{ 'app.web.show.location_details.contact'|trans }}</h4>

                    <div class="m-b-15">
                        <p>
                            {{ location.contact.phone }}
                            <a data-gtm_event="call" data-gtm_event_value="__externalId__" href="tel:{{ location.contact.phone }}" class="services-button call-button ga-cta">{{ 'app.web.show.location_details.call'|trans }}</a>
                        </p>
                    </div>

                    <div class="m-b-15">

                        <p>
                            {% if location.contact.email %}
                                <a href="mailto:{{ location.contact.email }}">{{ location.contact.email }}</a>
                            {% endif %}
                        </p>


                        {% if location.locationExtraData and location.locationExtraData|length %}
                            {% for extraData in location.locationExtraData  %}

                                <p>
                                    {{ extraData.key }} - {{ extraData.value }}
                                </p>

                            {% endfor %}
                        {% endif %}

                    </div>
                </div>
            </div>

            {% if location.status == 'OPEN' %}
                <div class="col">
                    <div class="col-box">
                        <h4>{{ 'app.web.show.location_details.working_hours.title'|trans }}</h4>

                        {% include 'web/block/location_details/block/open_hours/week.html.twig' %}
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
</div>