$breakpoint-desktop: 1260px;
.footer-site{
    max-width: 1600px;
    width: 100%;
    margin: 36px auto 0;

    .grid{
      display: block;
      width: 100%;
      padding: 0 24px;

      .col-12{
        font-size: 19px ;
        font-family: Muli, sans-serif;
        text-align: center;
        width: 100%;
        margin-bottom: 12px;
        padding: 0 12px 12px;

        .logo-lolaLiza{
          width: 160px;
          padding-bottom: 2px;
        }

        p{
          font: 12px Muli, sans-serif;
          line-height: 1.5;
          .icon-plain#phone {
            width: 12px;
            fill: transparent;
            stroke-width: 4;
            stroke: #1c1c1c;
          }

          a{
            text-decoration: none;
            font: 12px Muli, sans-serif;
            font-weight: 700;
            color: #0A0A0A;
          }
        }

        .subsection-title{
          font-family: Sectra, serif;
          font-weight: 700;
          font-size: 18px;
          color: #4d4d4d;
          letter-spacing: 0.9px;
          margin-bottom: 12px;
        }

        .social-media-store-locator{
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 12px;

          a{
            height: 27px;
          }

          .icon-plain{
            width: 20px;
          }

          .icon-plain#pinterest{
            margin: 0 18px;
          }
        }
      }

      .col-9{
        display: inline-block;
        margin-top: 12px;

        @media (max-width: $breakpoint-desktop) {
          display: -webkit-box;
          margin-top: 0;
          margin-bottom: 12px;
          padding: 12px 12px;
          -webkit-box-pack: center;
          text-align: center;
        }
      }

      .legal-notices * {
        font: 12px Muli, sans-serif;
        text-transform: uppercase;
        color: #b3b3b3;
        text-decoration: none;
        font-weight: normal;
        line-height: 1.5;
      }

      .icons-payment i{
        display: block;
        transform: scale(.6);
        margin-left: -24px;
        margin-top: -12px;
      }

      .icons-payment{
        @media (max-width: $breakpoint-desktop) {
          -webkit-box-pack: center;
          padding: 12px;
        }

        display: -webkit-box;
        -webkit-box-pack: end;
        justify-content: flex-end;
        margin-top: -18px;

        .visa{
          background-image: url("https://www.lolaliza.com/on/demandware.static/Sites-lolaliza-Site/-/en_BE/v1582081546973/images/icons.png?_=f1394f4") ;
          background-repeat: no-repeat;
          background-position: -212px -96px;
          width: 74px;
          height: 46px;
        }

        .mastercard{
          background-image: url("https://www.lolaliza.com/on/demandware.static/Sites-lolaliza-Site/-/en_BE/v1582081546973/images/icons.png?_=f1394f4") ;
          background-repeat: no-repeat;
          background-position: -76px -150px;
          width: 74px;
          height: 46px;
        }

        .maestro{
          background-image: url("https://www.lolaliza.com/on/demandware.static/Sites-lolaliza-Site/-/en_BE/v1582081546973/images/icons.png?_=f1394f4") ;
          background-repeat: no-repeat;
          background-position: 0 -150px;
          width: 74px;
          height: 46px;
        }

        .paypal{
          background-image: url("https://www.lolaliza.com/on/demandware.static/Sites-lolaliza-Site/-/en_BE/v1582081546973/images/icons.png?_=f1394f4") ;
          background-repeat: no-repeat;
          background-position: -212px -48px;
          width: 74px;
          height: 46px;
        }

        .mistercash{
          background-image: url("https://www.lolaliza.com/on/demandware.static/Sites-lolaliza-Site/-/en_BE/v1582081546973/images/icons.png?_=f1394f4") ;
          background-repeat: no-repeat;
          background-position: -212px 0;
          width: 74px;
          height: 46px;
          margin-right: -16px;
        }
      }
    }
  }



