$width-icons: 16px;
$height-icons: 16px;

[class*=col-] {
  position: relative;
  width: 100%;
  vertical-align: top;
  padding: 0 12px 12px;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
[class*=col-] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
}
header {
  display: block;
  max-width: 1600px;
  margin: 0 auto;
  border: 0;
  width: 100%;
}
.header-site{
  background-color: #fff;
  z-index: 400;
}
.grid {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
  position: relative;
  letter-spacing: -.31em;
  *letter-spacing: normal;
  word-spacing: -.43em;
  list-style-type: none;
}
.header-desktop {
    padding-top: 12px;

      .container-full{
        margin: 0 auto;
        width: 100%;
        box-sizing: border-box;
        padding: 0 24px;

        .grid{
          display: flex;
          position: relative;
          margin: 0 -12px;
          padding: 0;
          box-sizing: border-box;
          
          .col-xl-2{
            @media (min-width: 1440px) {
              width: 16.66667%;
            }
          }
          .col-lg-3{
            @media (min-width: 1024px){
              width: 25%;
            }

            .uppercase{
              font: 14px  Muli, sans-serif;
              text-transform: uppercase;
              line-height: 24px;
              font-weight: 400;
            }
          }
          .col-lg-6{
            @media (min-width: 1440px) {
              width: 66.66667%; 
            }
            @media (min-width: 1024px) {
              width: 50%; 
            }
            .hide-sticky{
              text-align: center;
              margin: 36px 0 24px;

              .logo-lolaLiza{
                width: 250px;
              }
            }
          }
          .right-part{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            //-webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            .menu-icons{
              padding-top: 1px;
              display: -webkit-box;
              -webkit-box-pack: end;
              justify-content: flex-end;

              .icon-svg{
                width: $width-icons;
                height: $height-icons;
                fill: none;
                stroke: #1c1c1c;
                stroke-width: 2;
              }

              a:not(.no-hover):hover .icon-svg:hover {
                stroke: #ff8272;
              }

              .header-whish-counter{
                margin: 0 13px 0 12px;

                .icon-svg{
                  stroke-width: 1;
                  height: 15px;
                }
              }

              .cart-count{

                .icon-svg g{
                  width: 14px;
                }
              }
            }
          }
        }
      }
  }