  .section-location-details {
    
    //icons size
    .socials {
      li img {
        width: 25px;
      }
    }

    //buttons
    .services-button {
      @extend %button-primary;
    }

    //Tittle h5 under logo
    .wrapper {
      .wrapper-title-icon h1 {
        font: $h1-font;
        text-transform: uppercase;
      }
    }
    .col-box{
      h4{
        @extend %h5-style;
        color: $font-color;
      }
      .m-b-15 {
        @extend %address-style;
      }
    } 
  }

  .section-location-description{
    .col-half{
      h2 strong {
        @extend %h1-font-color;
      }
     }
    .image-slider{
      .slick-dots{
        li.slick-active button{
          background-color: $primary-color;
        }
        
        .slick-active button::before{
          background-color: $primary-color;
          border: 1px solid $primary-color;
        }
      }
    }
  }

  .section-location-events{
    .events-block{
      .wrapper{ 
        h2{
          @extend %h1-font-color;
        }

        .events-slide{
          .slick-list{
            .slide-content h3{
              @extend %h2-style;
            }

            .block-hover {
              h3{
                @extend %h2-style;
              }

              h6{
                @extend %address-style;
              }

              p{
                @extend %address-style;
              }

              .button-bottom{
                .info-button{
                  @extend %button-primary;
                } 
              }
            }
          }
        }
        .slick-dots{
          .slick-active button{
            background-color: $primary-color;
          }
          
          .slick-active button::before{
            background-color: $primary-color;
            border: 1px solid $primary-color;
          }
        }   
      }
    }
  }

  .section-near-location{
    .near-location-block{
      .wrapper{
        h2{
          @extend %h1-font-color;
        }
        .slick-slider{
          .slick-slide{
            .location-summary{
              h5{
                @extend %h2-style;
              }
              .search-button{
                @extend %button-primary;
              }
              .m-b-15{
                .services-button{
                  @extend %button-secondary;
                }
                .location-button {
                  background-image: url("#{$img_path}icon_location.png");
                }
              
                .call-button {
                  background-image: url("#{$img_path}phone-red.svg"); // url("/build/images/web/shop/lolaliza-be/phone-red.svg");
                }
              }
            }
          }
          .slick-dots{
            .slick-active button{
              background-color: $primary-color;
            }
            button::before{
              border: 1px solid $primary-color ;
              background-color: $primary-color;
            }
          }
        }
      }
    }
  }


  .section-location-services .location-services {
      background-color: #4F4F4F;
  }