.main-footer {
  margin: 0;
  background: #FFF;
  padding: 0;

  a {
    color: #58ae57;
    text-decoration: underline;

    &:hover, &:active, &:focus {
      text-decoration: none;
    }
  }

  h4 {
    text-transform: initial;
  }

  ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .pre-footer {
    position: relative;
    float: left;
    width: 100%;
    overflow: hidden;

    > .container > .row {
      position: relative;
      z-index: 1;
    }
  }

  .footer-banners {
    height: 100%;
    width: 100%;
    padding: 15px;
  }

  .footer-banners-wrap {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #FFF;
    padding: 0 20px;

    @media only screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  .footer-banners  {
    .footer-banner {
      padding: 20px 0;
      font-size: 14px;
      border-bottom: 1px solid #f1f1f1;
      width: 100%;

      &:last-child {
        border-bottom: 0;
      }

      .name {
        font-family: $lloyds_sansbold;
        margin-bottom: 15px;
        font-size: 16px;
      }

      .thumb {
        width: 48px;
        text-align: center;
        display: table-cell;
        display: none;

        > span {
          font-size: 34px;

          &.streamline-e-resept-app {
            font-size: 48px;

            .path1 {
              text-shadow: 0px 3px 6px rgba(150, 150, 150, 0.33);
            }
          }
        }
      }

      .description {
        display: table-cell;
        vertical-align: top;
      }
    }
  }

  .footer-line {
    display: flex;
    width: 100%;
    background: #FFF;
    padding: 0px 0 40px 0;

    .container {
      @media only screen and (max-width: 1023px) {
        display: flex;
        flex-wrap: wrap;
      }

      @media only screen and (max-width: 767px) {
        padding-left: 15px;
        padding-right: 15px;
        align-items: center;
      }
    }

    .footer-column {
      text-align: center;
      display: block;
      line-height: 30px;

      @media only screen and (max-width: 1023px) {
        display: inline-block;
        width: 25%;
        font-size: 16px;
        vertical-align: middle;
      }

      @media only screen and (max-width: 767px) {
        width: 50%;
      }

      @media only screen and (max-width: 480px) {
        width: 100%;
        margin-top: 10px;
      }

      span {
        @media only screen and (max-width: 1023px) {
          font-size: 16px;
        }
      }

      &.line-2,
      &.line-3 {
        @media only screen and (max-width: 480px) {
          width: 50%;
        }
      }

      &.line-4 {
        @media only screen and (max-width: 1023px) {
          width: 100%;
          margin-top: 15px;
        }
      }

      &.line-2 {
        img {
          @media only screen and (max-width: 1023px) {
            max-width: 60%;
          }
        }
      }

      a {
        @media only screen and (max-width: 767px) {
          display: block;
        }
      }
    }

    .copyright {
      img {
        max-width: 120px;
      }

      > a {
        display: block;
      }
    }

    .social-media {
      margin-top: 25px;

      > {
        span, a {
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px;
          text-decoration: none;
        }

        span {
          display: block;
        }

        *:last-child {
          margin-right: 0;
        }

        a {
          font-size: 42px;

          &:before {
            color: #404040;
            -webkit-transition: all 200ms linear;
            -moz-transition: all 200ms linear;
            -ms-transition: all 200ms linear;
            -o-transition: all 200ms linear;
            transition: all 200ms linear;
          }

          &.streamline-facebook:hover:before {
            color: #2662A2;
          }

          &.streamline-twitter:hover:before {
            color: #00ACEC;
          }

          &.streamline-youtube:hover:before {
            color: #e52d27;
          }
        }
      }
    }

    .payment-methods {
      ul {
        display: flex;
        align-items: center;

        @media only screen and (max-width: 767px) {
          justify-content: center;
        }

        @media only screen and (max-width: 480px) {
          flex-wrap: wrap;
        }

        li {
          display: inline-block;
          width: 15%;
          padding-right: 5px;

          @media only screen and (max-width: 480px) {
            width: 30%;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .main-footer {
    .footer-banners {
      font-size: 0;
    }

    .footer-banners-wrap {
      padding: 30px 0px;
    }

    .footer-banners .footer-banner {
      border-color: transparent;
      position: relative;
      font-size: 14px;
      display: inline-block;
      width: 100%;
      padding-top: 0px;

      &:nth-last-child(-n+2):before {
        content: '';
        display: block;
        height: 1px;
        position: absolute;
        top: 0;
        left: 0;
        right: 15px;
        background-color: #f1f1f1;
      }
    }
  }
}

@media (min-width: 1024px) {
  .main-footer .footer-banners {
    padding-top: 30px;
    padding-bottom: 0px;

    .footer-banner {
      width: 50%;
      padding-left: 10px;
      padding-right: 10px;

      &:before {
        display: none !important;
      }

      &:first-child {
        padding-top: 0;
      }
    }
  }

  .main-footer .footer-line {
    font-size: 0;

    .footer-column {
      text-align: left;
      width: 25%;
      display: inline-block;
      vertical-align: middle;
      font-size: 14px;
      line-height: 1.7;

      &.copyright,
      &.line-1 {
        width: 15%;
      }

      &.line-2 {
        width: 12%;
      }

      &.line-3 {
        width: 20%;
      }


      &.line-4 {
        width: 38%;
      }
    }

    .social-media {
      margin-top: 0px;

      > span {
        display: inline-block;
      }
    }

    > .container {
      display: flex;
      align-items: center;
    }
  }
}

@media (min-width: 1300px) {
  .main-footer .footer-banners-wrap {
    margin-left: -15px;
    margin-right: -15px;
    width: auto;
  }
}
