body {
  &.header-open {
    .main-navigation {
      @media only screen and (max-width: 1023px) {
        left: 0;
      }
    }

    button {
      &.main-nav-trigger {
        &:before {
          @media only screen and (max-width: 1023px) {
            height: 0;
            border: 1px solid #d70171;
            margin-top: 6px;
            transform: rotate(45deg);
          }
        }

        &:after {
          @media only screen and (max-width: 1023px) {
            margin-top: 6px;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}

.main-header {
  display: block;
  width: 100%;
  background-color: #FFF;
  position: relative;
  z-index: 101;

  @media only screen and (max-width: 1023px) {
    height: 120px;
    position: fixed;
    background: #FFFFFF;
    border-bottom: 1px solid #E0E0E0;
  }

  .container {
    padding: 0;
  }

  .secondary-navigation {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

    @media only screen and (max-width: 1023px) {
      position: fixed;
      top: 0;
      right: 10px;
      width: auto;
      height: 52px;
      z-index: 1;
    }

    @media only screen and (max-width: 480px) {
      padding: 6px 5px 0 5px;
    }

    .lang-switcher {
      padding: 5px;
      width: auto;
      margin-left: auto;
      margin-right: 0;

      .lang-form {
        label {
          cursor: pointer;
          display: inline-block;
          background-color: transparent;
          border: 1px solid #999999;
          color: #999999;
          border-radius: 100%;
          height: 35px;
          width: 35px;
          font-size: 16px;
          padding: 1px 3px;
          margin: 0;
          outline: none;
          text-align: center;

          @media only screen and (max-width: 1023px) {
            width: 40px;
            height: 40px;
          }

          @media only screen and (max-width: 480px) {
            width: 30px;
            height: 30px;
            font-size: 16px;
          }

          &.active {
            cursor: default;
            border: 1px solid #cccccc;
            color: #cccccc;
          }

          &[for="nl_BE"] {
            &:before {
              content: "NL";
            }
          }

          &[for="fr_BE"] {
            &:before {
              content: "FR";
            }
          }

          &:before {
            display: inline-block;
            line-height: 30px;

            @media only screen and (max-width: 1023px) {
              line-height: 37px;
            }

            @media only screen and (max-width: 480px) {
              line-height: 25px;
            }
          }

          input[type="submit"] {
            display: none;
          }
        }
      }
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0 25px;
      display: block;
      background-color: #58ae57;
      color: #FFFFFF;

      &:first-of-type {
        min-height: 37px;
        background-color: #005b2e;

        @media only screen and (max-width: 1023px) {
          display: none;
        }
      }

      &:last-of-type {
        @media only screen and (max-width: 1023px) {
          z-index: 3;
          right: 0;
          text-align: center;
          background-color: transparent;
          padding: 0;
          margin-top: 5px;
        }
        li {
          @media only screen and (max-width: 1023px) {
            padding: 0;
            line-height: 2;
            border-radius: 100%;
            width: 40px;
            height: 40px;
            background-color: #58ae57;
          }

          @media only screen and (max-width: 480px) {
            width: 30px;
            height: 30px;
            font-size: 16px;
          }
          a {
            border-bottom: none;

            span {
              color: #ffffff;
              font-size: 14px;
              line-height: 21px;

              &.text {
                border-bottom: 1px solid #ffffff;

                @media only screen and (max-width: 1023px) {
                  display: none;
                }
              }
            }
          }
        }
      }

      li {
        display: inline-block;
        vertical-align: middle;
        padding: 5px 25px 8px 25px;

        a {
          color: inherit;
          text-decoration: none;
          font-size: 14px;
          padding: 2px 0;
          border-bottom: 1px solid #FFF;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
          color: #ffffff;
          font-size: 14px;
          line-height: 21px;

          span {
            display: inline-block;
            vertical-align: middle;

            &.icon {
              font-size: 20px;
              margin-right: 5px;

              @media only screen and (max-width: 1023px) {
                margin-right: 0;
                display: block;
                line-height: 37px;
              }

              @media only screen and (max-width: 480px) {
                line-height: 28px;
              }
            }
          }
        }
      }
    }
  }

  .js-scroll-attach {
    position: relative;
    width: 100%;
    box-shadow: 0px 4px 10px -4px transparent;
    transition: all 1s ease;
    -webkit-backface-visibility: hidden;

    @media only screen and (max-width: 1023px) {
      border-bottom: 1px solid #005b2e;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    }

    > .container {
      position: relative;
    }

    .main-nav-trigger {
      @media only screen and (min-width: 1024px) {
        display: none;
      }
    }

    button {
      &.main-nav-trigger {
        &:after {

        }
      }
    }
  }
}

.simple-banner-component {
  a {
    display: block;
  }
}

.site-logo {
  @media only screen and (min-width: 1024px) {
    position: absolute;
    width: 200px;
    top: 0;
    left: 15px;
    margin: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }

   @media only screen and (min-width: 1280px) {
    width: 220px;
    top: 0;
    left: 15px;
  }

  @media only screen and (max-width: 1023px) {
    width: 126px;
    vertical-align: middle;
    position: absolute;
    left: 70px;
    top: 50%;
    margin-top: -10px;
  }

  @media only screen and (max-width: 480px) {
    left: 50px;
    width: 120px;
  }

  img {
    width: 100%;
    height: auto;
    @media only screen and (min-width: 1024px) {
      width: auto;
      max-width: 100%;
    }
  }
}

.main-navigation  {
  @media only screen and (max-width: 1023px) {
    position: absolute;
    width: 100%;
    left: -100%;
    top: 52px;
    height: calc(100vh - 52px);
    background: #ffffff;
    z-index: 10;
    transition: left 0.4s ease;
  }
  > ul {
    > li {
      display: inline-block;
      @media only screen and (min-width: 1024px) {
        padding: 36px 15px;
      }

      @media only screen and (min-width: 1280px) {
        padding: 36px 25px;
      }

      &.has-children {
        > a {
          &:after {
            font-family: $glyphicons;
            content: "\e252";
            display: inline-block;
            margin-right: 5px;
            color: #404040;
            position: relative;
            margin-left: 5px;
            font-size: 12px;
            display: none;
          }
        }
      }

      a {
        @media only screen and (min-width: 1024px) {
          padding: 3px 0;
          text-decoration: none;
          transition: all 0.2s ease 0.2s;
          font-size: 16px;
        }

        @media only screen and (min-width: 1280px) {
          font-size: 18px;
          padding: 3px 0;
          text-decoration: none;
          color: #404040;
        }

        @media only screen and (max-width: 1023px) {
          display: block;
          border-bottom: 1px solid #F2F2F2;
          font-size: 19px;
          position: relative;
          text-decoration: none;
          padding: 10px 0;
          white-space: nowrap;
        }
      }
    }
  }

  ul {
    @media only screen and (max-width: 1023px) {
      height: 100%;
      padding: 20px;
      background-color: #fff;
    }

    li {
      @media only screen and (max-width: 1023px) {
        display: block;
      }
    }
    &.cd-dropdown {

      li {
        background: #ffffff;
        padding: 0 15px;

        &.go-back {
          border-bottom: none;
          margin-top: -10px;
          background: #F7FAF2;

          @media only screen and (min-width: 1024px) {
            display: none;
          }
        }

        &.see-all {
          display: none;
        }

        a {
          padding: 10px 20px;
          display: block;
          border-bottom: 1px solid #F2F2F2;
        }
      }
    }

    &.cd-dropdown-content {
      display: none;

      @media only screen and (min-width: 1024px) {
        position: absolute;
        margin-top: 15px;
        z-index: 1;
        border: 1px solid #D9D9D9;
        border-radius: 4px;
        box-shadow: 0px 4px 10px -4px rgba(0,0,0,0.29);
        width: 300px;
        max-height: 500px;
        background: #fff;
        overflow-y: auto;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      @media only screen and (min-width: 1280px) {
        width: 280px;
      }

      &.is-hidden {
        // transform: translateX(0);
        // visibility: hidden;
      }
    }
  }

  .small-tool-navigation {
    li {
      &.log_in {
        display: none;
      }
    }
  }
}

.small-tool-navigation {
  background-color: #F7FAF2;
  margin: 0 -20px;
  padding: 0;
  transition: background-color 0.4s ease;

  @media only screen and (min-width: 1024px) {
    display: none !important;
  }

  ul {
    @media only screen and (max-width: 1023px) {
      padding: 0 20px;
    }
  }
}

.autocomplete-site { 
  @media only screen and (min-width: 1024px) {
    padding: 0;
    position: absolute;
    top: 0;
    right: 100%;
    width: 520px;
    overflow: hidden;
  }

  @media only screen and (min-width: 1280px) {
    width: 650px;
  }

  @media only screen and (max-width: 1023px) {
    top: 53px;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &.active {
    @media only screen and (max-width: 1023px) {
      position: fixed;
      background-color: #ffffff;
      width: 100%;
      height: 100%;
      z-index: 9;
    }

    #autocomplete-form {
      @media only screen and (min-width: 1024px) {
        display: block;
      }
      @media only screen and (max-width: 1023px) {
        padding: 10px 10px 0 10px;
      }
    }

    .js-fieldfocus {
      @media only screen and (max-width: 1023px) {
        width: 80%;
        position: static;
      }
    }

    .cancel-search {
      @media only screen and (max-width: 1023px) {
        display: block;
      }
    }
  }

  #autocomplete-form {
    @media only screen and (min-width: 1024px) {
      display: none;
    }
  }

  .input-group {
    @media only screen and (min-width: 1024px) {
     border: 1px solid #e0e0e0;
      border-radius: 4px;
      overflow: hidden;
      display: flex;
      align-items: center;
      background-color: #f5f8fc;
      padding-right: 16px;
    }
    @media only screen and (max-width: 1023px) {
      position: relative;
      border-collapse: separate;
      overflow: hidden;
      border-radius: 15px;
      border: 1px solid #58ae57;
      display: flex;
    }
  }

  .form-control {
    outline: none;
    @media only screen and (min-width: 1024px) {
      width: 100%;
      height: 100%;
      font-size: 16px;
      line-height: 1.33;
      padding: 12px 16px;
      background-color: #f5f8fc;
    }
    @media only screen and (max-width: 1023px) {
      height: 49px;
      padding: 10px 16px;
      font-size: 16px;
      line-height: 1.33;
      width: 100%;
    }
  }

  .submit-search {
    @media only screen and (min-width: 1024px) {
      display: none;
    }

    @media only screen and (max-width: 1023px) {
      position: relative;
      display: block;
    }

    button {
      @media only screen and (max-width: 1023px) {
        height: 100%;
        width: 50px;
        background-color: #58ae57;
        font-size: 18px;
        display: block;
        text-align: center;
        border: none;
        padding: 0;
        border-radius: 0;
      }

      &:before {
        @media only screen and (max-width: 1023px) {
          content: '\e601';
          font-family: $streamline;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }

    span {
      @media only screen and (max-width: 1023px) {
        display: none;
      }
    }
  }

  .cancel-search {
    @media only screen and (max-width: 1023px) {
      position: absolute;
      width: 20%;
      right: 0;
      display: none;
    }

    button {
      @media only screen and (min-width: 1024px) {
        padding: 0;
        border: none;
        font-size: 16px;
        border-bottom: 1px solid #58ae57;
        border-radius: 0;
        background-color: #f5f8fc;
      }

      @media only screen and (max-width: 1023px) {
        font-size: 18px;
        width: 49px;
        height: 49px !important;
        display: block;
        color: transparent !important;
        margin: 0 auto;
        text-align: center;
        padding: 10px 16px !important;
        border: none;
      }

      &:after {
        @media only screen and (max-width: 1023px) {
          content: '\e602';
          font-family: 'streamline';
          display: inline-block;
          vertical-align: middle;
          color: #404040 !important;
          position: absolute;
          top: 17px;
          left: 16px;
        }
      }
    }
  }
}

.tool-navigation {
  @media only screen and (max-width: 1023px) {
    position: relative;
    top: 61px;
    padding: 0 10px;
    background-color: #ffffff;
  }
  > ul {
    > li {
      @media only screen and (min-width: 1024px) {
        display: inline-block;
        vertical-align: middle;
        padding: 0 15px;
      }
    }
  }

  ul {
    @media only screen and (max-width: 1023px) {
      display: flex;
      justify-content: space-between;
    }
    li {
      &.global-search {
        display:none;
        position: relative;

        @media only screen and (max-width: 1023px) {
          height: 52px;
          width: 75%;
          background: #ffffff;
          text-align: right;
        }
      }

      &.cart {
        display: none;
        @media only screen and (min-width: 1024px) {
          padding-left: 0;
        }

        @media only screen and (max-width: 1023px) {
          width: 20%;
          border-radius: 15px;
          color: #404040;
          z-index: 2;
        }

        a {
          @media only screen and (max-width: 1023px) {
            color: inherit;
            padding: 0 20px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            background-color: #58ae57;
            border-radius: 15px;
          }

          .text {
            @media only screen and (max-width: 1023px) {
              display: none;
            }
          }
        }
      }

      button {
        position: relative;
        border: 1px solid #E0E0E0;
        background-color: #FFF;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        padding: 8px 32px;
        z-index: 1;
        outline: none;
        cursor: pointer;
        
        span {
          font-size: 16px;
        }

        &.toggle-search {
          display: inline-block;
          vertical-align: middle;
          border: 1px solid #58ae57;

          @media (max-width: 1140px) and (min-width: 1024px) {
            padding: 0;
            width: 48px;
            height: 48px;
          }

          @media only screen and (max-width: 1023px) {
            display: none;
          }

          &:before {
            line-height: 30px;
            @media only screen and (min-width: 1024px) {
              margin-right: 10px;
              font-size: 20px;
            }

            @media (max-width: 1140px) and (min-width: 1024px) {
              margin: 0;
            }
          }

          .text {
            @media (max-width: 1140px) and (min-width: 1024px) {
              display: none;
            }
          }
        }
      }
    }
  }
}

.mini-cart-link {
  display: table-cell;
  vertical-align: middle;
  text-decoration: none;

  @media only screen and (min-width: 1024px) {
    border: 1px solid #E5F1D5;
    background-color: #F7FAF2;
    color: #404040;
    position: relative;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    padding: 8px 32px;
    z-index: 2;
    outline: none;
  }

  &:before {
    content: '\e610';
    font-family: $streamline;
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;

    @media only screen and (min-width: 1024px) {
      margin-right: 10px;
      font-size: 20px;
    }

    @media only screen and (max-width: 1023px) {
      font-size: 21px;
    }
  }

  * {
    display: inline-block;
    vertical-align: middle;
  }

  .mini-cart-count {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 3px;
    top: 3px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    background: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #58ae57;
    transition: all 0.3s ease;

     @media only screen and (min-width: 1024px) {
      top: 5px;
      right: 9px;
      color: #005B2E;
      font-size: 16px;
    }

    &:empty {
      display: none;
    }
  }

  span {
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
  }
}

.mini-cart-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 999;
  display: none;
}

button {
  &.main-nav-trigger {
    @media only screen and (max-width: 1023px) {
      position: absolute;
      top: 0;
      left: 0;
      appearance: none;
      border: none;
      height: 52px;
      width: 50px;
      z-index: 2;
      outline: none;
      border: none;
      display: inline-block;
      vertical-align: middle;
      background-color: #FFFFFF;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      right: 15px;
      left: 15px;
      transform: rotate(0deg);
      transition: -webkit-transform 0.4s ease;
      border-top: 2px solid #d70171;
      border-bottom: 2px solid #d70171;
      height: 4px;
      background-color: #ffffff;
       margin-top: -4px;

      @media only screen and (max-width: 480px) {
        top: 45%;
      }
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      right: 15px;
      left: 15px;
      height: 2px;
      margin-top: 8px;
      background-color: #d70171;

      @media only screen and (max-width: 480px) {
        top: 45%;
      }
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.addToCartMobileNotification {
  display: none;

  @media only screen and (min-width: 1024px) {
    display: none !important;
  }

  @media only screen and (max-width: 1023px) {
    position: fixed;
    top: 75px;
    right: 3px;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #4FA718;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: 1000;
    display: none;
  }
}

.navigations-wrapper {
  @media only screen and (min-width: 1024px) {
    position: relative;
    float: right;
  }

  > nav {
    @media only screen and (min-width: 1024px) {
      display: inline-block;
      vertical-align: middle;
    }
  }
}





























