.container{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  
  @media (min-width: 768px){
    width: 750px;
  } 
  @media (min-width: 992px){
    width: 970px;
  }
  @media (min-width: 1200px){
    width: 1170px;
  }
}
.row{
  margin-left: -15px;
  margin-right: -15px;
}
.col-sm-4{
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px;
}
.col-sm-12{
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px;
  @media (min-width: 768px){
    width: 100%;
  }
}

a {
  cursor: pointer;
  outline: none;
  text-decoration: none;
  transition: all 250ms ease-out;
  color: #00512a;
  background-color: transparent;
}

.nav{
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav::after{
  content: " ";
  display: table;
  clear: both;
}

.navbar-nav{
  @media (min-width: 992px){
    float: left;
    margin: 0;
  }
  li{
    a{
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 22px;
    }
  }
}

//Before footer

.fadeInDown {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.banner--social-medias::before{
  content: '';
   display: inline-block;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
   z-index: 1;
   background: -webkit-linear-gradient(top,rgba(0,81,42,.3) 0%,rgba(173,203,83,.3) 100%);
   background: linear-gradient(to bottom,rgba(0,81,42,.3) 0%,rgba(173,203,83,.3) 100%);
} 
.banner--social-medias{
  position: relative;
  background: url("#{$img_path}image_social-medias-alt.jpg") center center no-repeat;
  background-size: cover;
  text-align: center;
  padding: 65px 0 62px;
  .container {
    position: relative;
    z-index: 2;

      .row{
        display: flex;
        justify-content: center;

        @media (max-width: 768px){
          display: block ;
        }

        @media screen and (max-width: 767px) and (min-width: 601px) {
          max-width: 400px;
          width: 100%;
          margin: 0 auto;
        }

        .banner--social-medias--subtitle {
          color: #fff;
          margin-top: 0;
          margin-bottom: 55px;
          font-size: 20px;
          font-weight: 700;
          line-height: 24px;
          font-family: Montserrat,Helvetica,Arial,sans-serif;
        }

        .banner--social-medias--title{
          margin: 22px 0 7px;
          font-size: 40px;
          line-height: 44px;
          font-family: $font-avenir;
          color: white;
          font-weight: 400;
          text-transform: none;
        }
          
          .social-media{
            margin-bottom: 50px;
            text-align: center;
            @media only screen and (min-width: 768px){
             margin-bottom: 0;
            }
        
              &:hover{
                .social-media__inner{
                  -webkit-transform: translateY(-10px);
                  transform: translateY(-10px);
                }
                &.social-media--facebook .btn{
                  background: darken($facebook-color, 10%);
                }
                &.social-media--instagram .btn{
                  background: darken($instagram-color, 10%);
                }
              }

              a {
                display: block;
                width: 100%;

                @media only screen and (min-width: 768px){
                  min-width: 349px;
                  max-width: 349px;
                }
              }
        
              .social-media__inner{
                position: relative;
                padding: 45px 15px 30px;
                background: white;
                -webkit-transition: .3s all ease;
                width: 100%;
        
              img {
                top: -30px;
                position: absolute;
                -webkit-transform: translate(-50%,0);
                transform: translate(-50%,0);
              }
        
              p {
                margin: 0 0 25px;
                text-transform: uppercase;
                font-weight: 700;
                font-family: Montserrat,Helvetica,Arial,sans-serif;
                font-size: 16px;
                line-height: 20px;
              }
        
              .btn {
                font-weight: 700;
                border-radius: 25px;
                font-size: 14px;
                outline: none;
                padding-bottom: 15px;
                padding-top: 15px;
                text-transform: uppercase;
                white-space: normal;
                width: 100%;
                border: 1px solid transparent;
              }
            }
          }
        
          .social-media--instagram{
            p{
              color: #19567c;
            }
        
            .btn{
              color: #fff;
              background-color: #19567c;
            }
          }
        
          .social-media--facebook{
            p{
              color: #4267b2;
            }
            .btn{
              color: white;
              background-color: #4267b2 ;
            }
          }
        }
      }    
  }
  

//Footer

.footer{
  background: url("#{$img_path}illu_footer.png") center bottom repeat-x;
  padding: 20px 0 57px;
  display: block;

  ul {
    float: none !important;
    text-align: center;
    li {
      display: block;
      float: none;

      @media only screen and (min-width: 768px){
        display: inline-block;
      }  
        a {
          display: inline-block;
          padding-left: 10px;
          padding-right: 10px;
          font-family: Montserrat,Helvetica,Arial,sans-serif;
          font-size: 16px;
          line-height: 22px;

          @media (min-width: 992px){
            padding-top: 14px;
            padding-bottom: 14px;
          }
        }
        a:hover{
          color: #adcb53; 
          background: 0 0;
        }
    }
    li::after{
      @media only screen and (min-width: 768px){
        color: #adcb53;
        content: '|';
        display: inline-block;
      }
    }
    li:last-child::after{
      display: none;
    }
  }
      ul.navbar--secondary{ 
        @media only screen and (min-width: 768px){
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;  
        }
      }  
    .footer__more{
      // padding-bottom: 6px;
      text-align: center;

      span {
        color: #00512a;
        display: inline-block;
        padding: 10px 0;
        text-align: center;
        font-family: Montserrat,Helvetica,Arial,sans-serif;
        font-size: 16px;
        line-height: 22px;

        @media only screen and (min-width: 768px){
          padding: 0;
          vertical-align: top;
        }
      }

      span::after{
        @media only screen and (min-width: 768px){
          color: #00512a;
          content: '-';
          margin: 0 0 0 5px;
       }  
      }
      .menu-menu-secondary-fr-2-container{
        @media only screen and (min-width: 768px){
          display: inline;
        }
      }
      .navbar--secondary--more{
        margin: 0;
        padding: 0;
        @media only screen and (min-width: 768px){
          display: inline-block;
          vertical-align: top;
        }

        li{
          a {
            display: inline-block;
            padding-bottom: 10px;
            padding-top: 10px;
            @media only screen and (min-width: 768px){
              padding: 0;
            }
          }
          a:hover{
            text-decoration: none;
          }
        }

        li::after {
          @media only screen and (min-width: 768px){
            color: #00512a;
            content: '-';
            margin: 0 0 0 5px;
          }
        }
      }
    }
  }