.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
    max-height: calc(100vh - 72px);
}
body{
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
    line-height: 1.42857;
    @media (max-width: 767px){
      font-size: 14px;
    }
}


img {
  max-width: 100%;
  height: auto;
}

.breadcrumb-row {
  width: 100%;
  padding: 0 49px;
  margin-bottom: 34px;

  @media (max-width: 992px){
    display: none;
  }

  .breadcrumbs-list {
    background-color: transparent;
    position: relative;
    font-size: .85em;
    list-style: none;
    display: block;
    margin: 0 auto;
    padding: 0;
    z-index: 101;
    display: flex;
    align-items: center;

    .arrow {
      color: #cacaca;
      content: "/";
      margin: 0 8px;
      position: relative;
      top: 1px;
      opacity: 1;
    }

    li {
      font: 400 9px/14px Montserrat,Helvetica,Arial,sans-serif;
      color: $green;
      text-transform: uppercase;

      &:last-child {
        color: #0a0a0a;
      }

      a {
        font: 400 9px/14px Montserrat,Helvetica,Arial,sans-serif;
        color: $green;
        text-transform: uppercase;
      }

      span {
        font: 400 9px/14px Montserrat,Helvetica,Arial,sans-serif;
        color: #0a0a0a;
      }

      .home-icon {
        display: block;
      }

      .home {
        background: url("#{$img_path}home.png") center center no-repeat;
        width: 9px;
        height: 8px;
        display: block;
      }
    }
  }
}

.menu-mobile {
  @media (min-width: 992px){
    display: none;
  }
}

.menu-desktop {
  display: flex;
  justify-content: flex-end;

  @media (max-width: 991px){
    display: none;
  }
  .navbar-right{
    @media (min-width: 992px){
      float: right !important;
      margin-right: -15px;
    }
  }  
  .navbar-nav{
    @media (min-width: 992px){
      float: right!important;
      margin-right: -15px;
    }
    li{
      float: left;
    }
  } 
}

.navbar{
  margin-bottom: 22px;
  min-height: 50px;
  border: 1px solid transparent;
  @media (min-width: 992px){
    border-radius: 25px;
  }

  .menu-item-has-children ul{
    display: none;
  }

  .collapse {
    display: none ;
    @media (min-width: 992px){
      display: block!important;
      height: auto!important;
      padding-bottom: 0;
      overflow: visible!important;
    }  
  }
  
  .hidden-lg{
    @media (min-width: 1200px){
      display: none!important;
    }
  }
  
  .hidden-md {
    @media (max-width: 1199px) and (min-width: 992px){
      display: none!important;
    }

    &.hidden-lg {
      @media (max-width: 991px){
        display: none !important;
      }
    }
  }

  .hidden-sm{
    @media (max-width: 991px) and (min-width: 768px){
      display: none!important;
    }

    .navbar-right{
      @media (min-width: 992px){
        float: right !important;
        margin-right: -15px;
      }
    }  
    .navbar-nav{
      @media (min-width: 992px){
        float: right!important;
        margin-right: -15px;
      }
      li{
        float: left;
      }
    } 
  } 

  .menu-main-container,
  .menu-main-dutch-container { 
    .nav {
      margin-bottom: 0;
      padding-left: 0;
      list-style: none;
      li{
        position: relative;
        display: block;
      }
    }

    .navbar-desktop{
      margin-right: 0;

      @media (min-width: 768px){
        display: flex;
      }
    }

    .navbar-right {
      .menu-item{
        text-align: center;
        width: 135px;
        border-left: 1px solid $green;

        &:first-child {
          @media (max-width: 991px){
            border-top: 1px solid $green;
          }
        }

        @media (max-width: 991px){
          width: 100%;
          border-left: none;
          border-bottom: 1px solid $green;
        }

        a {
          line-height: 20px;
          text-decoration: none;
          position: relative;
          display: block;
          padding-top: 60px;
          width: 100%;
          color: $dark_green;
          min-height: 115px;
          font-size: 16px;
          font-family: 'Montserrat', sans-serif;

          span {
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
          }
        }

        a:hover{
          background-color: transparent;
          color: #adcb53;
        }
      }

      .menu-item-has-children {
        display: none;
      }     
    }  
  }

  .navbar--lang{
    padding-left: 40px;
    order: 2;

    @media (max-width: 991px){
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-left: 0;
      margin-bottom: 25px;
    }

    li:first-of-type{
      @media (min-width: 992px){
        padding-left: 10px;
        border-left: 1px solid #adcb53;
      }
    }
  
    li{
      @media (min-width: 992px){
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
      }
      
      @media (max-width: 991px){
        width: 50%;
        text-align: center;
        padding: 0;
        position: relative;
        z-index: 5
      }
    
    a {
      color: #727272;
      display: block;
      text-decoration: none;
      padding: 20px 5px 20px 5px;
      font-size: 16px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;

      @media (max-width: 991px){
        padding: 5px;
      }
    }
    
      a:hover{
        color: #adcb53;
      }

      a.active{ 
        color: $dark_green;
        @media (max-width: 991px){
          background-color: #adcb53;
        }
      }
    }
  }
}

.navbar-fixed-top{
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  transition: top ease-in-out 400ms;
  border-width: 0 0 1px;
  z-index: 1030;
  @media (min-width: 992px){
    border-radius: 0;
  }
}

.navbar-default{
  background: #ffffff;
  border-color: #e7e7e7;

  .container-fluid{
    position: relative;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 992px){
      padding: 0 50px;
    } 

    .navbar-header{
      margin-right: -15px;
      margin-left: -15px;
      @media (min-width: 992px){
        float: left;
        margin-right: 0;
        margin-left: 0;
      }
    }

    .navbar-collapse {
      overflow-x: auto;
      padding-right: 15px;
      padding-left: 15px;
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
      -webkit-overflow-scrolling: touch;
      border-top: 0;
      box-shadow: none;
      margin-right: -15px;
      margin-left: -15px;
      transition: all ease 0.2s;

      &.active {
        opacity: 1;
        visibility: visible;
      }

      @media screen and (max-width: 992px){
        padding-top: 25px;
      }

      @media (min-width: 992px) {
        margin-right: 0;
        margin-left: 0; 
        padding-left: 0;
        padding-right: 0;
        width: auto;
        border-top: 0;
        box-shadow: none;  
      }

      @media (max-width: 992px) {
        position: absolute;
        width: 100%;
        background: $white;
        top: 73px;
        opacity: 0;
        visibility: hidden;
        display: block;
      }  
    } 
  }

  .navbar-toggle {
    background: none !important;
    border: 0;
    margin-bottom: 20px;
    margin-top: 20px;
    z-index: 10;
    outline: none;
    cursor: pointer;

    .icon-bar+.icon-bar{
      margin-top:4px; 
    }

    .icon-bar{
      display: block;
      background-color: #888;
      height: 2px;
      width: 22px;
      border-radius: 1px;
    }
  }
  
  .navbar-brand{
    float: left;
    font-size: 20px;
    line-height: 22px;
    position: absolute;
    margin: 0;
    top: 0;
    color: $dark_green;
    left: 30px;

    @media only screen and (min-width: 992px){
      left: 65px;
    }

    @media only screen and (max-width: 991px){
      max-width: 350px;
      width: 100%;
    }

    .logo--full{
      display: block;
      max-width: 350px;

      @media only screen and (min-width: 992px){
        max-width: 100%;
      }

      @media only screen and (max-width: 991px){
        position: relative;
        z-index: 3
      }

      @media only screen and (min-width: 768px){
        height: 140px;
      }
    }

    span[itemprop=headline]{
      display: none;  
    } 
  }
}

.icon-house a::before{
  background-size: 29px!important;
  display: block;
  left: 50%;
  top: 25px;
  content: '';
  position: absolute;
  width: 29px;
  height: 25px;
  transform: translateX(-50%);
  background: url("#{$img_path}icon_house.svg") 50% no-repeat;
}

.icon-book a::before{
  content: '';
  display: block;
  left: 50%;
  top: 25px;
  position: absolute;
  width: 28px;
  height: 25px;
  transform: translateX(-50%);
  background: url("#{$img_path}icon_book.svg") 50% no-repeat;
  background-size: 28px!important;
}

.icon-products a::before{
  background-size: 27px!important;
  display: block;
  left: 50%;
  top: 25px;
  content: '';
  position: absolute;
  width: 27px;
  height: 25px;
  transform: translateX(-50%);
  background: url("#{$img_path}icon_product.svg") 50% no-repeat;
}

.icon-hands a::before{
  background-size: 35px!important;
  display: block;
  left: 50%;
  top: 25px;
  content: '';
  position: absolute;
  width: 35px;
  height: 25px;
  transform: translateX(-50%);
  background: url("#{$img_path}icon_hand.svg") 50% no-repeat;
}





//navbar
.navbar-toggle{
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  background: 0 0!important;
  border: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  z-index: 10;
  @media (min-width: 992px){
    display: none;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
} 


















// .navbar-default {
//     background: white;


//     .navbar-nav {

//         li {

//             .dropdown-menu {
//                 border-radius: 0;
//                 font-size: 14px;
//                 padding: 0;

//                 li {
//                     border: 0;

//                     &:before {
//                         display: none;
//                     }

//                     a {
//                         padding-bottom: 10px;
//                         padding-top: 10px;

//                         &:active, &:focus, &:hover {
//                             background: none;
//                             color: $brand-success;
//                         }
//                     }

//                     &.current-menu-item {

//                         a {
//                             color: $brand-success !important;
//                         }
//                     }
//                 }

//             }
//         }

//         &.navbar-desktop {
//             margin-right: 0;

//             // specific for level with icons
//             & > li {
//                 width: 135px;
//                 text-align: center;
//                 height: 115px;
//                 border-left: 1px solid $brand-success;

//                 & > a {
//                     display: block;
//                     height: 100%;
//                     padding: 60px 0 0 0;

//                     &:before {
//                         content: '';
//                         display: block;
//                         width: 15px;
//                         height: 25px;

//                         position: absolute;
//                         top: 25px;
//                         left: 50%;
//                         transform: translateX(-50%);
//                     }
//                 }

//                 &.icon-book > a:before {
//                     background: url(../img/icon_book.svg) center center no-repeat;
//                     background-size: 28px;
//                     width: 28px;
//                 }
//                 &.icon-flag > a:before {
//                     background: url(../img/icon_flag.svg) center center no-repeat;
//                     background-size: 25px;
//                     width: 25px;
//                 }
//                 &.icon-hands > a:before {
//                     background: url(../img/icon_hand.svg) center center no-repeat;
//                     background-size: 35px;
//                     width: 35px;
//                 }
//                 &.icon-house > a:before {
//                     background: url(../img/icon_house.svg) center center no-repeat;
//                     background-size: 29px;
//                     width: 29px;
//                 }
//                 &.icon-products > a:before {
//                     background: url(../img/icon_product.svg) center center no-repeat;
//                     background-size: 27px;
//                     width: 27px;
//                 }
//             }
//             li {
//                 position: relative;

//                 .dropdown-menu {
//                     font-size: 16px;
//                     right: auto;
//                     left: 50%;
//                     transform: translateX(-50%);
//                 }
//             }
//         }
//         &.navbar-mobile {
//             max-height: calc(100vh - 72px);

//             li {

//                 a {
//                     display: block;
//                     padding-bottom: 10px;
//                     padding-top: 10px;
//                 }
//                 &.icon-book,
//                 &.icon-flag,
//                 &.icon-hands,
//                 &.icon-house,
//                 &.icon-products {
//                     > a {
//                         padding-left: 15px;

//                         &:before {
//                             background-size: 15px;
//                             content: '';
//                             display: inline-block;
//                             height: 25px;
//                             vertical-align: middle;
//                             width: 45px;
//                         }
//                     }
//                 }

//                 &.icon-book > a:before {
//                     background: url(../img/icon_book.svg) center left no-repeat;
//                     background-size: 28px;
//                     //width: 28px;
//                 }

//                 &.icon-flag > a:before {
//                     background: url(../img/icon_flag.svg) center left no-repeat;
//                     background-size: 25px;
//                     //width: 25px;
//                 }

//                 &.icon-hands > a:before {
//                     background: url(../img/icon_hand.svg) center left no-repeat;
//                     background-size: 35px;
//                     //width: 35px;
//                 }

//                 &.icon-house > a:before {
//                     background: url(../img/icon_house.svg) center left no-repeat;
//                     background-size: 29px;
//                     //width: 29px;
//                 }

//                 &.icon-products > a:before {
//                     background: url(../img/icon_product.svg) center left no-repeat;
//                     background-size: 27px;
//                     //width: 27px;
//                 }

//                 &.menu-row {
//                     padding: 0;

//                     ul {
//                         padding: 0;
//                         display: flex;
//                     }
//                     li.thumbnail {
//                         width: 50%;
//                         max-width: 250px;
//                         padding: 0 10px !important;
//                         border: none;

//                         &:before {
//                             display: none;
//                         }

//                         a {
//                             display: block;
//                             color: #fff;
//                             text-align: center;
//                             padding: 0;
//                             @include aspect-ratio(1,1);

//                             &:after {
//                                 display: block;
//                                 position: absolute;
//                                 top: 0;
//                                 left: 0;
//                                 right: 0;
//                                 bottom: 0;
//                                 content: '';
//                                 background-color: rgba(0,0,0,0.5);
//                             }
//                         }
//                         span {
//                             position: absolute;
//                             top: 50%;
//                             left: 50%;
//                             transform: translate(-50%, -50%);
//                             z-index: 1;
//                         }
//                     }
//                 }
//             }
//         }

//         @include sm-max {
//             &.navbar--lang {
//                 display: flex;

//                 li {
//                     width: 50%;
//                     text-align: center;
//                     padding: 0;

//                     &:before {
//                         display: none;
//                     }
//                 }
//                 a {
//                     display: block;
//                     width: 100%;
//                     padding: 10px 0;
//                     background-color: $gray-lighter;


//                     &:first-of-type {
//                         border-right: 1px solid #fff;
//                     }

//                     &.active {
//                         background-color: $brand-success;
//                     }
//                 }
//             }
//         }
//         @include md-min {
//             &.navbar--lang {
//                 li {
//                     width: auto;
//                     height: 115px;

//                     &:first-of-type {
//                         padding-left: 10px;
//                         border-left: 1px solid $brand-success;
//                     }
//                 }
//                 a {
//                     display: block;
//                     padding: 60px 5px 0 5px;
//                     color: $gray;

//                     &.active {
//                         color: $brand-primary;
//                     }
//                 }
//             }
//         }
//     }


//     span[itemprop="headline"] {
//         display: none;
//     }

//     .container-fluid {
//         position: relative;

//         @include screen-md {
//             padding-left: 50px;
//             padding-right: 50px;
//         }
//     }

//     .navbar-brand {
//         height: auto !important;
//         left: 30px;
//         margin: 0;
//         padding: 0 !important;
//         position: absolute;
//         top: 0;

//         @include screen-md {
//             left: 65px;
//         }

//         img.hidden-md {
//             max-width: 50px;
//             margin-top: 11px;
//         }

//         img.logo--full {
//             display: block;
//             max-width: 350px;

//             @include screen-md {
//                 max-width: 100%;
//                 height: 145px;
//             }
//         }
//     }

    

//     .navbar-collapse {

//         @media screen and (max-width: $screen-md) {
//             padding-top: 25px;
//         }
//     }
// }

