.section-map {
  position: relative;
  max-width: 1200px;
  padding-top: 180px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (max-width: 992px){
    padding-top: 120px;
  }

  .section-map-title {
    font-size: 24px;
    line-height: 24px;
    margin: 0 0 16px 0;
    color: $gray_72;
    text-transform: initial;
    font-family: $font-helvetica-neue;
    font-weight: 400;

    @media (max-width: 767px){
      margin: 0 0 36px 0;
    }

    .search-results-location {
      font-size: 24px;
      line-height: 24px;
      color: $gray_72;
    }
  }

  .section-map-block {
    height: 625px;
    position: relative;

    @media (max-width: 767px){
      height: auto;
    }
  }

  .services-button,
  .search-button,
  .location-button {
    &:hover {
      filter: none;
    }
  }

  .search-button {
    border: none;
    border-radius: 0;

    @media (max-width: 767px){
      background-color: $green !important;
      color: $white !important;
      font-size: 12px !important;
    }
  }

  .location-button {
    background-image: none;
  }

  .map-search-box{
    -webkit-box-shadow: -20px 0 15px -15px rgba(0,0,0,.1);
    box-shadow: -20px 0 15px -15px rgba(0,0,0,.1);
    border: 1px solid #ececec;
    background-color: #fff;

    @media (min-width: 768px){
      position: absolute;
      top: inherit ;
      right: 0;
      max-height: 100%;
      border-left-width: 0;
      overflow: hidden;
      z-index: 10;
      border-radius: 0 4px 4px 0;
      width: 320px;
      height: 625px !important;
    }

     @media (max-width: 767px){
      border-radius: 3px;
      width: 100%;
      position: initial;
      margin-bottom: 10px;
     }

    .search-form-header {
      display: flex;
    }

    .search-form {
      border-bottom: 1px solid #cacaca;
      padding: 10px;
      width: inherit;
      display: block;

      .search-position{
        justify-content: space-between;
        align-items: center;
        display: flex;

        #map_search_autocomplete{
          height: 34px;
        }

        input[type="text"]{
          -webkit-transition: border-color .25s ease-in-out,-webkit-box-shadow .5s;
          transition: border-color .25s ease-in-out,-webkit-box-shadow .5s;
          transition: box-shadow .5s,border-color .25s ease-in-out;
          transition: box-shadow .5s,border-color .25s ease-in-out,-webkit-box-shadow .5s;
          height: 34px;
          -webkit-box-shadow: inset 0 1px 2px hsla(0,0%,4%,.1);
          box-shadow: inset 0 1px 2px hsla(0,0%,4%,.1);
          border-radius: 0;
          font-size: 12px;
          background-color: #fefefe;
          color: #727272;
          padding: 5px;
          border: 1px solid #cacaca;
          text-align: left;
          outline: 0 none;
          display: block;
          width: 100%;

          &:focus {
            background-color: $gray_fe;
            color: $gray_72;
            -webkit-box-shadow: 0 0 5px #cacaca;
            box-shadow: 0 0 5px #cacaca;
            border-color: #8a8a8a;
          }
        }

        .position-locate{
          display: none;
        }
      }
      .search-button  {
        text-transform: uppercase;
        margin: 0;
        height: 34px;
        width: auto;
        background-color: #adcb53;
        color: #fff;
        -webkit-transition: background-color .3s ease,color .3s ease;
        transition: background-color .3s ease,color .3s ease;
        border-radius: 0;
        padding: 10px 13px;
        font-size: 12px;
        line-height: 13.8px;
        display: inline-block;
        text-decoration: none;
        white-space: nowrap;
        text-align: center;
        cursor: pointer;
        outline: 0 none;
        border: 0 none;

        @media (max-width: 767px){
          background-size: 100% 65%;
          padding: 10px 17px;
        }

        &:hover {
          background-color: $green_be;
          filter: none;
        }
      }
    }
    .search-results {
      position: relative;
      overflow: hidden;
      width: auto;
      height: 515px;
      background-color: #fff;
      border: none;

      @media (max-width: 767px){
        height: 510px;
      }

      .search-results-list {
        padding: 0;
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;

        ul {
          margin: 0;
          padding: 0;

          .location-summary {
            padding: 17px 15px 23px 0px;
            position: relative;
            display: flex;
            align-items: flex-start;

            .pin-block {
              width: 80px;

              .marker {
                display: block;
                text-align: center;

                img {
                  display: block;
                  margin: 0 auto;
                }

                .marker-number {
                  display: block;
                  margin-top: 5px;
                  z-index: 1;
                  font-weight: 700;
                  font-size: 14px;
                  color: $gray_72;
                }
              }
            }

            .location-summary-content {
              width: 100%;
              padding-left: 4px;
            }
            .show-open-window{
              margin: 0 0 7px;
            }
          }
        }
      }
    }
  }
  .map-container{
    max-width: 850px;
    width: 100%;
    height: 100%;
    position: relative;

    @media (max-width: 767px){
      height: 623px;
      max-width: 100%;
    }

    /* geolocation btn*/
    .geolocation-btn {
      position: absolute;
      top: 72px;
      left: 55px;
      font-family: Montserrat,Helvetica,Arial,sans-serif;
      color: #ffffff;
      padding: 10px 13px;
      font-size: 12px;
      line-height: 14px;

      @media (max-width: 767px){
        display: none;
      }

      &.mobile-only {
        display: none;

        @media (max-width: 767px){
          display: block;
          position: static;
          width: 100%;
          height: 48px;
        }
      }

      span {
        color: #ffffff;
        font-family: Montserrat,Helvetica,Arial,sans-serif;
        font-size: 12px;
        line-height: 14px;
        display: block;
      }
    }
  }
}

.info-window-block {
  .location-summary {
    padding: 0;
  }

  .btn {
    font-family: 'Roboto', sans-serif;
  }
}

.location-summary {
  h5 {
    font-weight: 500;
    line-height: 20px;
    font-size: 13px;
    color:$green;
    text-transform: none;
    text-transform: none;
    padding-bottom: 6px;
    margin: 0;
    font-family: Montserrat,Helvetica,Arial,sans-serif;
    font-weight: 500;
    text-align: left;

    a {
      background-color: transparent;
      text-decoration: none;
      -webkit-transition: all .25s ease-out;
      transition: all .25s ease-out;
      font-weight: 500;
      line-height: 20px;
      font-size: 13px;
      color:$green;
      text-transform: none;
      padding-bottom: 6px;
      margin: 0;
      font-family: Montserrat,Helvetica,Arial,sans-serif;
      font-weight: 500;
    }

    &:hover {
      color: $dark_green;
      text-decoration: underline;
    }
  }

  address{
    font-family: Montserrat,Helvetica,Arial,sans-serif;
    color: #727272;
    margin: 0;
    padding: 0;
    line-height: 18px;
    font-size: 12px;
    text-align: left;
    font-weight: 400;
  }

  .btn-group {
    display: flex;
    align-items: center;
    margin-top: 8px;

    .btn {
      margin: 0 2px 0 0;
      width: 100%;
      text-indent: 0;
      background-image: none;

      &:last-child {
        margin: 0;
      }
    }
  }
}

.open-close-box {
  .open-box {
    display: flex;
  }

  .open-label {
    padding: 0;
    background-color: transparent;
    font-family: Montserrat,Helvetica,Arial,sans-serif;
    color: $gray_72;
    margin: 0 0 2px;
    line-height: 18px;
    font-size: 12px;
    font-weight: 400;
  }

  .open-sentence {
    font-family: Montserrat,Helvetica,Arial,sans-serif;
    color: $gray_72;
    margin: 0 0 2px;
    line-height: 18px;
    font-size: 12px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    font-weight: 400;

    &:after {
      width: 9px !important;
      height: 9px !important;
    }
  }
}

.table-schedule {
  th,
  td {
    font-size: 12px;
    font-family: Montserrat,Helvetica,Arial,sans-serif;
    color: $gray_72;
    font-weight: 400;
  }
}

.small-schedule {
  padding: 0;
  border-radius: 0;
  border: none;
  box-shadow: none;
  margin-top: 7px;
}

.location-distance {
  background-image: none;
  padding: 0;
  display: block;
  font-family: Montserrat,Helvetica,Arial,sans-serif;
  font-size: 10px;
  color: $gray_72;
  font-weight: 300;
  text-align: center;
}


.checkbox-row {
  display: flex;
  align-items: center;
  padding-top: 10px;

  input {
    width: 12px;
    height: 12px;
    margin-right: 4px;
  }

  label {
    font-size: 12px;
    display: block;
    line-height: 13px;
  }
}
