.bread_default {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto 40px auto;
  width: 100% !important;
  padding-top: 0;

  @media (max-width: #{$tablet}) {
    padding-left: 15px;
    padding-right: 15px;
  }

  @media (min-width: #{$small_screen_up}) {
    max-width: 540px;
  }

  @media (min-width: #{$mobile_down}) {
    max-width: 720px;
  }

  @media (min-width: #{$tablet}) {
    max-width: 960px;
  }

  @media (min-width: #{$desktop}) {
    max-width: 1140px;
  }

  li {
    a {
      span {
        color: $black_23;
      }
    }
  }
}