.section-location-description {
  .image-slider {
    .slick-dots {
      li {
        margin-right: 5px;

        &:last-child {
          margin-right: 0;
        }

        &.slick-active {
          button {
            background-color: $green;

            &:before {
              background-color: $green;
              border-color: $green;
            }
          }
        }

        button {
          width: 15px;
          height: 15px;

          &:hover {
            &:before {
              background-color: $green;
              border-color: $green;
            }
          }

          &:before {
            background-color: $gray_d6;
            border-color: $gray_d6;
            width: 13px;
            height: 13px;
            top: 5px;
            left: 5px;
          }
        }
      }
    }
  }
}