.section-location-events {
  padding-bottom: 50px;

  .events-slide {
    .slick-track {
      padding-top: 10px;
    }
  }

  .events-block {
    h2 {
      @media (max-width: #{$mobile_down}) {
        margin-bottom: 20px;
      }
    }
    article {
      background-color: $yellow;

      &:hover {
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.14);
      }

      .slide-image {
        img {
          border-radius: 50%;
        }
      }

      .block-hover {
        p {
          margin-bottom: 10px;
        }
      }
    }
  }
}

.section-location-promotions ,
.section-location-events {
  h3 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: $black_23;
  }

  .slick-dots {
    li {
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }

      &.slick-active {
        button {
          background-color: $green;

          &:before {
            background-color: $green;
            border-color: $green;
          }
        }
      }

      button {
        width: 15px;
        height: 15px;


        &:hover {
          &:before {
            background-color: $green;
            border-color: $green;
          }
        }

        &:before {
          background-color: $gray_d6;
          border-color: $gray_d6;
          width: 13px;
          height: 13px;
          top: 5px;
          left: 5px;
        }
      }
    }
  }

  .info-button {

    background-color: $yellow;
    background-image: none;
    border: 2px solid  $black_23;
    color: $black_23;
    border-radius: 25px;
    font-size: 14px;
    padding: 7.4px 16px;
    display: inline-block;
    font-weight: 700;
    box-shadow: none;
    margin: 0 5px 0 0;
    width: auto;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    &:hover {
      background-color: $black_23;
      border-color: $black_23;
      color: $white;
      text-decoration: none;
    }
  }

  .slick-track {
    display: flex;
  }

  .slick-slide {
    height: inherit;
    outline: none;
  }
}

.section-location-promotions {
  background-color: $gray_fa;
  margin-top: 0;
  padding-top: 50px;
  padding-bottom: 50px;

  .promotions-block {
    article {
      box-shadow: none;

      .slide-content {
        height: calc(100% - 250px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}