.section-location-services {
  .location-services {
    background-color: #92d500;

    h2 {
      color: $black_23;
    }
  }

  .services-images {
    li {
      span {
        color: $white;
        text-transform: initial;
      }

      .services-tooltip {
        color: $black_23;
      }

      img {
        height: auto;
      }
    }
  }


}