.section-location-details {
  margin-top: 0;

  .services-button {
    background-image: none !important;
    border: 2px solid  $black_23;
    color: $black_23;
    border-radius: 25px;
    font-size: 14px;
    padding: 7.4px 16px;
    display: inline-block;
    background-color: $tr;
    font-weight: 700;
    box-shadow: none;
    margin: 0 5px 0 0;
    width: auto;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    &:hover {
      background-color: $black_23;
      border-color: $black_23;
      color: $white;
      text-decoration: none;
    }
  }

  .open-sentence {
    font-size: 14px;
  }

  .box {
    .details-address {
      @media (max-width: #{$mobile_down}) {
        padding: 0;
      }
    }
  }

  .details-header {
    .services-button {
      background-color: $black_23;
      border-color: $black_23;
      color: $white;

      &:hover {
        background-color: #7c7b7b;
        border-color: #7c7b7b;
        filter: none;
      }
    }
  }

  .image-slider {
    &.slick-dotted {
      &.slick-slider {
        height: 315px;
      }
    }

    img {
      height: 315px;
    }

    .slick-dots {
      li {
        margin-right: 5px;

        &:last-child {
          margin-right: 0;
        }

        &.slick-active {
          button {
            background-color: $green;

            &:before {
              background-color: $green;
              border-color: $green;
            }
          }
        }

        button {
          width: 15px;
          height: 15px;

          &:hover {
            &:before {
              background-color: $green;
              border-color: $green;
            }
          }

          &:before {
            background-color: $gray_d6;
            border-color: $gray_d6;
            width: 13px;
            height: 13px;
            top: 5px;
            left: 5px;
          }
        }
      }
    }
  }

  .mb-40 {
    margin-bottom: 40px;
  }

  .row {
    margin: 0 -1.5%;

    &.m-b-30 {
      margin-bottom: 30px;

      @media (max-width: #{$mobile_down}) {
        margin-bottom: 20px;
      }
    }
  }

  .col {
    @media (max-width: #{$mobile_down}) {
      margin-bottom: 20px;
    }
  }

  .col-image {
    height: 315px;
  }

  .location-details-block {
    .row {
      .col {
        align-self: stretch;

        .col-box {
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        &:last-child {
          .col-box {
            margin-bottom: 0;
            height: 100%;
          }
        }
      }
    }
  }
}