.section-locations {
  .location-search {
    background-color: $blue_2a;

    label {
      color: $black_23;
      font-weight: 500;
    }
  }

  .location-search-input {
    border: solid 2px $black_23;
    color: $black_23;
    padding: 8px 30px 8px 16px;
    font-size: 14px;
    border-radius: 25px;
    line-height: 20.8px;
    outline: none;
    font-weight: 500;
    background-color: $tr;

    &:focus {
      border-color: $black_23
    }

    &::placeholder {
      color: rgba($gray, 0.7);
      font-size: 14px;
    }
  }

  .search-alphabet {
    padding: 25px 0;
  }

  .result-one-letter {
    .title-letter {
      color: $black_23;
      font-weight: 700;
    }
  }

  .is-open {
    .open-label {
      background-color: $green;
    }

    .open-sentence {
      color: $green;
    }
  }
}