.section-map {
  margin-top: 0;

  .search-button {
    border: 2px solid  $black_23;
    color: $black_23;
    border-radius: 25px;
    font-size: 14px;
    padding: 7.4px 16px;
    display: inline-block;
    background-color: $tr;
    font-weight: 700;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    &:hover {
      background-color: $black_23;
      border-color: $black_23;
      color: $white;
      text-decoration: none;
    }

    @media (max-width: #{$mobile_down}) {
      background: none !important;
      background-color: $green !important;
      border-color: $green;
      width: 40px !important;
      height: 40px;
      border-radius: 50%;
      font-family: $font_awesome;
      font-weight: 900;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      padding: 7.4px 11px;
    }

    &:before {
      @media (max-width: #{$mobile_down}) {
        content: "\f002";
        width: 14px;
        height: 14px;
        display: block;
        font-size: 14px;
        color: $white;
      }
    }
  }

  .table-schedule  {
    th {
      width: 40%;
    }

    td {
      width: 60%;
    }
  }

  .search-filters {
    .open-filters-checkbox  {
      p {
        background-size: 4% 42% !important;
      }
    }
  }

  .map-search-box {
    &.open {
      .search-results {
        @media (min-width: #{$mobile_up}) {
          height: calc(100vh - 385px) !important;
        }
      }
    }

    .search-form {
      .search-position {
        #map_search_autocomplete {
          border: solid 2px $gray_89;
          color: $black_23;
          width: 100%;
          padding: 8px 30px 8px 16px;
          font-size: 14px;
          border-radius: 4.8px;
          line-height: 20.8px;
          outline: none;
          font-weight: 500;
          background-color: $tr;

          &:focus {
            border-color: $black_23
          }

          &::placeholder {
            color: rgba($gray, 0.7);
            font-size: 14px;
          }
        }

        .position-locate {
          border-width: 0;
          background-color: $tr;
          outline: none;
        }
      }
    }

    .search-results-list {
      .location-summary {
        border-color: $gray_89;
        border-width: 2px;
      }
    }

    .search-results {
      background-color: $gray_f5;
    }
  }
}

.is-open {
  .open-label {
    background-color: $green;
  }

  .open-sentence {
    color: $green;
  }
}

.info-window-block {
  min-width: 300px;

  .location-summary {
    .m-t-15 {
      display: flex;
    }

    .services-button {
      background-image: none !important;
      border: 2px solid  $black_23;
      background-color: $black_23;
      border-radius: 25px;
      font-size: 14px;
      padding: 7.4px 16px;
      display: inline-block;
      font-weight: 700;
      box-shadow: none;
      margin: 0 5px 0 0;
      color: $white;
      width: 100%;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

      &:hover {
        text-decoration: none;
        color: $black_23;
        background-color: $tr;
      }

      &:last-child {
        margin: 0;
      }
    }

    .search-button {
      width: 100%;
    }
  }
}












