.section-near-location {
  margin-top: 0;

  .m-b-15 {
    display: flex;
    justify-content: center;
  }

  .slick-track {
    display: flex;
  }

  .slick-slide {
    height: inherit;
    outline: none;
  }

  .slick-dots {
    li {
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }

      &.slick-active {
        button {
          background-color: $green;

          &:before {
            background-color: $green;
            border-color: $green;
          }
        }
      }

      button {
        width: 15px;
        height: 15px;

        &:hover {
          &:before {
            background-color: $green;
            border-color: $green;
          }
        }

        &:before {
          background-color: #bbb8b8;
          border-color: #bbb8b8;
          width: 13px;
          height: 13px;
          top: 5px;
          left: 5px;
        }
      }
    }
  }

  .services-button,
  .search-button {
    background-image: none !important;
    border: 2px solid $black_23;
    color: $black_23;
    border-radius: 25px;
    font-size: 14px;
    padding: 7.4px 16px;
    display: inline-block;
    background-color: $tr;
    font-weight: 700;
    box-shadow: none;
    margin: 0 5px 0 0;
    width: 100%;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    &:hover {
      background-color: $black_23;
      border-color: $black_23;
      color: $white;
      text-decoration: none;
    }

    &:last-child {
      margin: 0;
    }
  }

  .services-button {
    background-color: $black_23;
    border-color: $black_23;
    color: $white;

    &:hover {
      background-color: $tr;
      color: $black_23;
    }
  }
}