.footer {
  .section-social {
    .wrapper {
      padding: 35px 10.7% 47px;
      text-align: center;
      background-image: none;
      background-color: #f4f1ee;
    }

    .title-icon {
      margin-bottom: 6px;
      text-align: center;
    }

    .icon-hopLeft--grey {
      font-size: 35px;
      color: $gray_9f;
    }

    .title-01 {
      position: relative;
      padding-bottom: 30px;
      font-family: $Oswald_font;
      font-size: 20px;
      line-height: 26px;
      text-align: center;
      text-transform: uppercase;
      color: $header_bg;
      margin-bottom: 32px;

      @media only screen and (max-width: 767px) {
        margin-bottom: 25px;
      }

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        width: 50px;
        height: 2px;
        background: $header_bg;
      }

      span {
        font-family: $Oswald_font;
        font-size: 20px;
        line-height: 26px;
        color: $header_bg;
      }
    }

    .social-text {
      margin-bottom: 25px;
      font-size: 18px;
      color: $header_bg;
      line-height: 21px;
      text-align: center;

      @media only screen and (max-width: 767px) {
        display: none;
      }
    }

    .social-col {
      display: inline-block;

      @media only screen and (min-width: 768px) {
        margin: 0 5%;
      }

      @media only screen and (max-width: 767px) {
        width: 28.3333%;
        margin: 0 2%;
      }

      & [class*="sprite-"] {
        margin-bottom: 16px;
      }

      .sprite-social-tw,
      .sprite-social-fb,
      .sprite-social-ig {
        background: url("#{$img_path}sprite.png") center center no-repeat;
        display: inline-block;
        max-width: 100%;
      }

      .sprite-social-tw {
        background-position: 0 61.721259%;
        background-size: 111.564626%;
      }

      .sprite-social-fb {
        background-position: 0 42.71034%;
        background-size: 111.564626%;
      }

      .sprite-social-ig {
        background-position: 0 52.2158%;
        background-size: 111.564626%;
      }

      .social-iconText {
        display: block;
        font-size: 20px;
        color: $header_bg;
        text-align: center;

        @media only screen and (max-width: 767px) {
          font-size: 18px;
        }
      }
    }
  }

  .prefooter {
    .wrapper {
      background-image: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      background: $green;

      @media only screen and (min-width: 768px) {
        padding: 40px 13.8% 50px;
        display: flex;
      }

      @media only screen and (max-width: 767px) {
        padding: 15px 9px 22px;
      }
    }

    .tiny-menu {
      @media only screen and (min-width: 768px) {
        width: 26%;
        margin-top: 24px;
        padding-right: 20px;
      }

      @media only screen and (max-width: 767px) {
        display: none;
      }

      .tiny-menu-item {
        @media only screen and (min-width: 768px) {
          margin-bottom: 14px;
        }

        &:last-child {
          @media only screen and (min-width: 768px) {
            margin-bottom: 0px;
          }
        }

        .tiny-menu-link {
          @media only screen and (min-width: 768px) {
            font-family: $Oswald_font;
            font-size: 14px;
            line-height: 14px;
            text-transform: uppercase;
            color: $white;
          }
        }
      }
    }

    .info-table {
      text-align: center;
      border: 1px solid rgba(255, 255, 255, 0.3);

      @media only screen and (min-width: 768px) {
        width: 74%;
        display: table;
      }

      &:after {
        @media only screen and (max-width: 767px) {
          content:'';
          clear: both;
          display: block;
        }
      }

      .info-table-item {
        padding: 24px 15px;

        @media only screen and (min-width: 768px) {
          display: table-cell;
          width: 25%;
          border-left: 1px solid rgba(255, 255, 255, 0.3);
        }

        @media only screen and (max-width: 767px) {
          width: 50%;
          height: 140px;
          border-top: 1px solid rgba(255, 255, 255, 0.3);
          border-left: 1px solid rgba(255, 255, 255, 0.3);
          float: left;
        }

        &:first-child {
          @media only screen and (min-width: 768px) {
            border-left: 0;
          }
        }

        &:nth-child(odd) {
          @media only screen and (max-width: 767px) {
            border-left: none;
          }
        }

        &:nth-child(-n+2) {
          @media only screen and (max-width: 767px) {
            border-top: none;
          }
        }

        .icon {
          font-size: 46px;
          color: $green-light;

          @media only screen and (min-width: 768px) {
            margin-bottom: 3px;
            margin-bottom: 2px;
          }

          @media only screen and (max-width: 767px) {
            line-height: 46px;
          }
        }

        .info-table-text {
          font-family: $Oswald_font;
          font-size: 14px;
          line-height: 18px;
          text-transform: uppercase;
          color: $white;
        }
      }
    }

    .footer-sublinks {
      display: none;

      @media only screen and (max-width: 767px) {
        padding: 17px 6px 0;
        text-align: center;
      }

      &.mobile-only {
        @media only screen and (max-width: 767px) {
          display: block;
        }
      }

      .footer-sublinks-item {
        @media only screen and (max-width: 767px) {
          display: inline-block;
          margin: 0 15px;
        }
      }

      .footer-sublinks-link {
        @media only screen and (max-width: 767px) {
          font-size: 15px;
          color: $white;
          line-height: 15px;
        }

        .icon {
          @media only screen and (max-width: 767px) {
            vertical-align: middle;
            margin-right: 6px;
            font-size: 21px;
            color: $white;
          }
        }
      }

      .preheader-link {
        @media only screen and (max-width: 767px) {
          font-size: 16px;
        }

        .icon {
          @media only screen and (max-width: 767px) {
            vertical-align: text-bottom;
            font-size: 16px;
            color: $link-color;
          }
        }
      }
    }
  }

  .footer-warning {
    padding: 20px;
    font-size: 15px;
    text-align: center;
    line-height: 21px;
    background: $green;
    color: $white;
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;

    a {
      font-size: 15px;
      line-height: 21px;
      color: $white;
    }
  }

  .footer-links {
    text-align: center;
    background: $black;
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;

    @media only screen and (min-width: 768px) {
      padding: 20px;
    }

    @media only screen and (max-width: 767px) {
      padding: 15px 10px 18px;
    }

    .footer-links-item {
      display: inline-block;

      @media only screen and (min-width: 768px) {
        margin: 0 15px;
      }

      @media only screen and (max-width: 767px) {
        margin: 0 10px;
      }

      .footer-links-link { 
        font-size: 13px;
        color: $white;
      }
    }
  }
}













