.header {
  position: relative;
  z-index: 121;

  .wrapper {
    max-width: 1300px;
    position: relative;

    @media only screen and (min-width: 1280px) {
      padding-left: 155px;
    }
  }

  .main-logo {
    position: absolute;
    z-index: 1;

    @media only screen and (min-width: 1280px) {
      top: 50%;
      left: 0;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
    }

    @media only screen and (max-width: 1279px) {
      top: 13px;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      text-align: center;
    }
  }

  .preheader {
    @media only screen and (max-width: 1279px) {
      display: none;
    }

    .wrapper {
      background: $header_bg;
      @media only screen and (min-width: 1280px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 3px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      }
    }

    .preheader-links {
      .preheader-item {
        @media only screen and (min-width: 1280px) {
          margin-right: 20px;
          display: inline-block;
        }

        &:last-child {
          @media only screen and (min-width: 1280px) {
            margin-right: 0;
          }
        }

        .preheader-link {
          @media only screen and (min-width: 1280px) {
            display: inline-block;
            padding: 11px 0 7px;
            font-size: 14px;
            line-height: 14px;
            color: $gray_6e;
          }

          .icon {
            @media only screen and (min-width: 1280px) {
              vertical-align: text-bottom;
              margin-right: 6px;
              font-size: 18px;
              color: $gray_6e;
              line-height: 13px;
            }
          }
        }
      }
    }

    .preheader-social {
      @media only screen and (min-width: 1280px) {
        padding-right: 45px;
      }

      .preheader-item {
        @media only screen and (min-width: 1280px) {
          display: inline-block;
          margin-right: 20px;
        }

        &:last-child {
          @media only screen and (min-width: 1280px) {
            margin-right: 0px;
          }
        }

        .preheader-link {
          @media only screen and (min-width: 1280px) {
            display: inline-block;
            padding: 10px 0 7px;
            font-size: 14px;
            line-height: 14px;
            color: $gray_6e;
          }

          .icon {
            @media only screen and (min-width: 1280px) {
              vertical-align: text-bottom;
              font-size: 18px;
              color: $gray_6e;
            }
          }
        }
      }
    }
  }

  .subheader {
    background: $header_bg;
    @media only screen and (min-width: 1280px) {
      display: flex;
      justify-content: space-between;
    }

    .submenu {
      display: flex;
      @media only screen and (min-width: 1280px) {
        order: 2;
        max-width: 460px;
        width: 100%;
      }

      @media only screen and (max-width: 1279px) {
        height: 45px;
      }

      .submenu-item {
        width: 50%;

        &.submenu-thecircle {
          background: $dark-red;
        }

        &.submenu-find-restaurant {
          background: $red;
        }

        .submenu-link {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          padding: 0 15px;
          font-family: $Oswald_font;
          font-size: 13px;
          color: $white;
          text-transform: uppercase;

          .icon {
            margin-right: 10px;
            font-size: 30px;
            color: $white;
            display: block;
            padding-bottom: 2px;

            &:before {
              vertical-align: middle;
            }
          }

          .submenu-desc {
            font-family: $Oswald_font;
            font-size: 13px;
            line-height: 13px;
            color: $white;
            display: block;
            line-height: 18.2px;
            letter-spacing: 1px;
          }
        }
      }
    }

    .main-nav {
      @media only screen and (min-width: 1280px) {
        order: 1;
      }

      @media only screen and (max-width: 1279px) {
        position: relative;
        height: 75px;
      }

      .js-display-menu {
        @media only screen and (min-width: 1280px) {
          display: none;
        }

        @media only screen and (max-width: 1279px) {
          position: absolute;
          top: 50%;
          left: 18px;
          -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
          display: inline-block;
          width: 32px;
          padding: 6px 0;
          line-height: 0;
          border-width: 4px 0;
          border-style: solid;
          border-color: $white;
          background: transparent;
          outline: none;
        }

        span {
          @media only screen and (max-width: 1279px) {
            display: inline-block;
            width: 100%;
            height: 4px;
            background: white;
          }
        }
      }

      .main-nav-list {
        @media only screen and (max-width: 1279px) {
          display: none;
          position: absolute;
          top: 100%;
          width: 100%;
          padding: 40px 18px 25px;
          background: $green;
        }

        &.show {
          @media only screen and (max-width: 1279px) {
            display: block;
          }
        }

        .main-nav-item {
          @media only screen and (min-width: 1280px) {
            display: inline-block;
            margin-right: 60px;
          }

          @media only screen and (max-width: 1279px) {
            border-bottom: 1px dashed $green_66;
          }

          &:last-child {
            @media only screen and (min-width: 1280px) {
              margin-right: 0px;
            }

            @media only screen and (max-width: 1279px) {
              border-bottom: none;
            }
          }

          .main-nav-link {
            display: inline-block;
            font-family: $Oswald_font;
            font-size: 15px;
            letter-spacing: 1px;
            color: $white;
            text-transform: uppercase;

            @media only screen and (min-width: 1280px) {
              padding: 16px 0 20px 0;
            }

            @media only screen and (max-width: 1279px) {
              padding: 15px 0;
            }
          }
        }
      }
    }
  }
}


















