{% extends 'web/base/show.html.twig' %}
{% block body_class %}detail-page{% endblock %}

{% set headerUrl="https://www.multipharma.be/"~app.request.locale~"/home" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/web/shop/'~shop.code~'/show') }}
{% endblock %}

{% block header %}
    {% autoescape false %}
        {{ remote_content(shop, headerUrl, 'header') }}
    {% endautoescape %}
{% endblock %}

{% block content %}

    {% set twigData = {

        "defaultDescriptionLeft":"app.web.show.location_description.content"|trans({}, shop.code),
        'defaultImageLeft': asset('/build/images/web/shop/'~shop.code~'/default_image.png')

    } %}

    {% for template in templates %}
        {% if template.attribute.block == constant('App\\Entity\\Attribute::BLOCK_LOCATION_SERVICES') %}
            {% include 'web/shop/'~shop.code~'/block/location_services.html.twig' %}
        {% elseif template.attribute.block == constant('App\\Entity\\Attribute::BLOCK_LOCATION_DETAILS') %}
            {% include 'web/shop/'~shop.code~'/block/location_details.html.twig' %}
        {% else %}
            {% include 'web/block/' ~ template.attribute.block ~ '/' ~ template.attributeValue.value ~ '.html.twig' ignore missing %}
        {% endif %}
    {% endfor %}
{% endblock %}


{% block footer %}
    {% autoescape false %}
        {{ remote_content(shop, headerUrl, 'footer') }}
    {% endautoescape %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('js/web/shop/multipharma/app') }}
{% endblock %}



{% block javascripts_var %}
    {{ parent() }}

    <script>
        var globalSettings = {
            near_query: {
                size: 6,
                radius: 200000
            },
            marker: {
                icon: '{{ asset('build/images/web/shop/multipharma/marker.png') }}',
                icon_width: 64,
                icon_height: 64,
            },
            geoLocationCountry: ['BE'],
        };
    </script>
{% endblock %}
