@import "~jquery-ui/themes/base/all.css";
@import "~bootstrap/scss/bootstrap";

@import url("https://cdn-mkt.be.carrefour.eu/free-html/solomo_EB-19253/design.css");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800&display=swap");


// Components
@import "components/datepicker";

@import "components/all";
@import "block/map";
@import "block/header";
