@import "~bootstrap/scss/bootstrap";
@import '~owl.carousel/dist/assets/owl.carousel.css';
@import '~owl.carousel/dist/assets/owl.theme.default.css';

@import url("https://cdn-mkt.be.carrefour.eu/free-html/solomo_EB-19253/design.css");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800&display=swap");


@import "components/all";
@import "block/show-sidebar";
@import "block/show-main";
@import "block/header";
