.bread_default {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 80px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 33px;

  @media (max-width: #{$mobile_down}) {
    margin-top: 61px;
  }

  @media (max-width: #{$small_screen_down}) {
    max-width: 100%;
  }

  @media (min-width: #{$small_screen_up}) {
    max-width: 720px;
  }

  @media (min-width: #{$mobile_up}) {
    max-width: 920px;
  }

  @media (min-width: #{$tablet}) {
    max-width: 1000px;
  }

  @media (min-width: #{$desktop}) {
    max-width: 1015px;
  }
}