.section-location-promotions {
  .info-button {
    background-color: $white_fd;
    background-image: none;
    border: 2px solid $text-color;
    color: $text-color;
    display: block;
    letter-spacing: 1.7px;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    box-shadow: none;
    outline: none;
    border-radius: 0;
    font-size: 15px;

    &:hover {
      background-color: $text-color;
      color: $white_fd;
    }
  }

  .promotions-block {
    article {
      h3 {
        color: $text-color;
      }
    }

    article {
      .slide-content {
        .content-description {
          color: $gray;
        }
      }
    }
  }

  .slick-track {
    display: flex;
  }

  .slick-slide {
    height: inherit;
    outline: none;
  }
}