.section-near-location {
  .location-summary {
    h5 {
      text-transform: inherit;
      font-weight: 700;
      color: $text-color;
      font-size: 15px;
      line-height: 16px;
      margin-bottom: 5px;
    }
  }

  .near-location-block {
    background-color: $gray_footer;
  }

  .services-button,
  .search-button {
    margin-left: 0;
    background-color: $white_fd;
    background-image: none;
    border: 2px solid $text-color;
    border-radius: 0;
    width: auto;
    cursor: pointer;
    font-size: 15px;
    line-height: 15px;
    font-weight: 700;
    padding: 7px 15px;
    letter-spacing: .5px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    color: $text-color;
    box-shadow: none;

    &:hover {
      background-color: $text-color;
      color: $white_fd;
    }
  }

  .location-label,
  .location-sentence {
    background-color: $tr !important;
    padding: 0;
    color: $text-color !important;
    font-size: 13px;
    font-weight: 700;
    border-radius: 0;
  }

  .search-button {
    background-color: $text-color;
    color: $white_fd;
  }

  .slick-track {
    display: flex;
  }

  .slick-slide {
    height: inherit;

    .location-summary {
      height: 100%;
    }
  }

  .slick-dots {
    li {
      &.slick-active {
        button {
          background-color: $text-color;

          &:before {
            background-color: $text-color;
            border-color: $text-color;
          }
        }
      }

      button {
        transition: all 0.2s ease-in-out;
        border-color: $text-color;

        &:hover {
          background-color: $text-color;

          &:before {
            background-color: $text-color;
            border-color: $text-color;
          }
        }

        &:before {
          background-color: $white;
          border-color: $white;
        }
      }
    }
  }
}