<!DOCTYPE html>
<html lang="{{ app.request.locale|replace({'_': '-'}) }}">
<head>
    <meta charset="utf-8">
    <title>{{ 'app.web.maintenance.title'|trans({}, null, app.request.locale) }}</title>
</head>

<body>
<div style="text-align: center; margin: 0 auto;">
    <h1 style="color: red;">{{ 'app.web.maintenance.title'|trans({}, null, app.request.locale) }}</h1>
    <p style="color: #666;">{{ 'app.web.maintenance.back'|trans({}, null, app.request.locale) }}</p>
</div>
</body>
</html>
