<title>{% spaceless %}
    {% if 'app.web.home.meta.title'|trans({}, shop.code) != 'app.web.home.meta.title' %}
        {{ 'app.web.home.meta.title'|trans({}, shop.code) }}
    {% else %}
        {{ 'app.web.home.meta.title'|trans }}
    {% endif %}
{% endspaceless %}</title>

<meta name="description" content="{% spaceless %}
    {% if 'app.web.home.meta.description'|trans({}, shop.code) != 'app.web.home.meta.description' %}
        {{ 'app.web.home.meta.description'|trans({}, shop.code) }}
    {% else %}
        {{ 'app.web.home.meta.description'|trans }}
    {% endif %}
{% endspaceless %}">

<meta name="keywords" content="{% spaceless %}
    {% if 'app.web.home.meta.keywords'|trans({}, shop.code) != 'app.web.home.meta.keywords' %}
        {{ 'app.web.home.meta.keywords'|trans({}, shop.code) }}
    {% else %}
        {{ 'app.web.home.meta.keywords'|trans }}
    {% endif %}
{% endspaceless %}">