.section-locations {
  margin-top: 0;

  .wrapper {
    max-width: 1300px;
    padding: 0;
  }

  .event-list-block {
    @include media-breakpoint-down(sm) {
      display: none;
    }

    &.open {
      @include media-breakpoint-down(sm) {
        display: block;
      }
    }
  }

  .wrap-title {
    padding-top: 60px;
    padding-bottom: 60px;

    @include media-breakpoint-down(sm) {
      text-align: left;
      padding-top: 20px;
      padding-bottom: 15px;
      margin-right: 15px;
    }

    h2 {
      font-size: 36px;
      line-height: 41px;
      font-family: $shop-font-bree-regular;
      text-align: center;
      color: #2a2a2a;

      @include media-breakpoint-down(sm) {
        margin: 0;
        font-size: 22px;
        line-height: 24px;
        text-align: left;
        padding: 0 25px 0 15px;
        background: url('/build/images/web/shop/leondebruxelles-fr/arrow-down.svg') 100% no-repeat;
        display: inline-block;
      }
    }
  }

  .search-alphabet {
    margin: 0px;
    padding: 0;
    list-style-type: none;
    text-align: center;
    background-color: #edeff1;
    padding: 30px 0;

    @include media-breakpoint-down(sm) {
      padding: 10px;
    }

    li {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      a {
        display: block;

        span {
          padding: 0;
          color: #7e7a79;
          font-size: 16px;
          line-height: 19px;
          text-transform: uppercase;
          display: block;
          font-family: $shop-font-bree-regular;
        }
      }

      span {
        padding: 0;
        color: #caced0;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        display: block;
        font-family: $shop-font-bree-regular;
      }
    }
  }

  .results-by-letters {
    padding-top: 0;

    #results_letters_content {
      padding-top: 60px;
      padding-left: 65px;
      padding-right: 65px;
      padding-bottom: 20px;

      @include media-breakpoint-down(sm) {
        padding-top: 27px;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }

  .result-one-letter {
    display: flex;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    .title-letter {
      font-size: 36px;
      line-height: 41px;
      font-family: $shop-font-humper;
      margin: 0;
      color: #7e7a79;
      width: auto;

      @include media-breakpoint-down(sm) {
        font-size: 20px;
        line-height: 24px;
      }
    }

    ul {
      margin-left: 60px;
      width: 100%;

      @include media-breakpoint-down(sm) {
        margin-left: 30px;
      }

      li {
        width: 33.33333%;
        margin-bottom: 50px;

        @include media-breakpoint-down(sm) {
          width: 50%;
          margin-bottom: 24px;
        }
      }
    }
  }

  .location-summary {
    h5 {
      a {
        font-size: 16px;
        line-height: 18px;
        text-decoration: underline;
        color: #2c702e;

        &:hover {
          color: #2c702e;
        }
      }
    }

    .item-wrapper {
      span {
        font-size: 15px;
        line-height: 18px;
        color: #274856;
        display: block;
      }
    }
  }
}

.section-location-details {
  margin-top: 0;

  .wrapper {
    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }

  .section-location-introduction {
    padding-bottom: 220px;
    position: relative;

    @media only screen and (max-width: 1024px) {
      padding-bottom: 520px;
    }

    @include media-breakpoint-down(sm) {
      padding-bottom: 0px;
    }

    .wrapper-title {
      @media only screen and (max-width: 575px) {
        display: none;
      }
    }
  }

  .header-introduction {
    .open_pop {
      background-color: #f38034;
      min-width: 230px;
      font-size: 16px;
      line-height: 20px;
      border-radius: 4px;
      margin-bottom: 30px;

      @include media-breakpoint-down(sm) {
        margin-bottom: 13px;
      }
    }

    &.only-mobile {
      display: none;

      @media only screen and (max-width: 575px) {
        display: block;
        padding: 13px 0 0px 0;
      }
    }
    h2 {
      @include media-breakpoint-down(sm) {
        margin-bottom: 13px;
      }
    }
  }

  .rating-block {
    margin-bottom: 20px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 13px;
    }
  }

  .box {
    max-width: 970px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);

    @media only screen and (max-width: 1024px) {
      bottom: -159px;
    }

    @include media-breakpoint-up(sm) {
      display: flex;
      align-items: center;
    }

    @include media-breakpoint-down(sm) {
      position: relative;
      bottom: 0;
      flex-direction: column;
      border-radius: 0;
    }

    @media only screen and (max-width: 575px) {
      text-align: center;
    }

    .btn-block {
      display: none;

      @media only screen and (min-width: 576px) {
        display: flex;
        margin-bottom: 20px;
      }

      &.only-mobile {
        display: none;

        @media only screen and (max-width: 575px) {
          display: flex;
          flex-direction: column;
        }
      }

      .location-button {
        background-image: none;
        background-color: #4e9c34;
        font-family: $shop-font-bree-light;
        padding: 8px 15px;
        margin-right: 8px;
        border-radius: 5px;
        width: auto;
        text-transform: uppercase;
        margin-right: 8px;

        &:hover {
          filter: saturate(1);
        }

         @media only screen and (max-width: 575px) {
          width: 100%;
          margin-right: 0;
          font-size: 16px;
          padding: 10px 15px;
          margin-bottom: 8px;
         }


        &:last-child {
          margin-right: 0;
        }
      }

      .menu-btn {
        background-image: none;
        font-family: $shop-font-bree-light;
        padding: 8px 15px;
        margin-right: 8px;
        border-radius: 5px;
        width: auto;
        text-transform: uppercase;
        margin-right: 8px;
        background-color: #262460;

        &:hover {
          background-color: #262460;
        }
      }
    }

    .details-info {
      padding-left: 40px;
      width: 35%;

      @include media-breakpoint-down(sm) {
        width: 100%;
        border-left: none;
        padding: 0;
      }

      h4 {
        font-family: $shop-font-bree-light;
        font-size: 18px;
      }

      .call_it {
        font-family: $shop-font-bree-regular;
        display: block;
        line-height: 1;
        height: 24px;
        margin: 0 0 16px;

        a {
          background: url('/build/images/web/shop/leondebruxelles-fr/icone.png') no-repeat -175px -135px;
          background-size: 200px auto;
          color: #529e3b;
          font-size: 18px;
          padding: 0 0 0 30px;
          font-family: $shop-font-bree-regular;
        }
      }

      .cta-commander {
        display: flex;
        margin-top: 20px;

        a {
          margin-right: 12px;
          font-size: 13px;
          background-color: #faae00;
          padding: 8px 9px;

          @media only screen and (max-width: 575px) {
            flex: 1;
          }

          &.btn-secondary {
            background-color: #f38034;

            &:hover {
              text-decoration: none;
            }
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .details-image-slider {
      @include media-breakpoint-down(sm) {
        width: 100%;
        height: 300px;
      }

      .slick-dots {
        li {
          button {
            &:before {
              display: none;
            }
          }

          &.slick-active {
            button {
              background-color: #4e9c34;
            }
          }
        }
      }
    }

    .details-address {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 30px 0 45px;
      width: 35%;

      @include media-breakpoint-down(sm) {
        width: 100%;
        padding: 0;
      }

      h4 {
        font-family: $shop-font-bree-light;
        text-transform: inherit;

        @media only screen and (max-width: 575px) {
          display: none;
        }
      }

      address {
        font-family: $shop-font-bree-light;
        font-size: 16px;

        @media only screen and (max-width: 575px) {
          line-height: 24px;
        }
      }

      .logo-block {
        display: flex;
        align-items: flex-end;

        @media only screen and (max-width: 575px) {
          justify-content: center;
          padding-top: 10px;
        }

        .logo-block-item {
          width: 33.333333%;
          margin-right: 15px;

          &:nth-child(2) {
            width: 60px;
          }

          &:last-child {
            margin-right: 0;
          }

          img {
            display: block;
            width: 100%;
          }
        }
      }

      .delivery {
        background: transparent url('/build/images/web/shop/leondebruxelles-fr/UberEats.png') center center no-repeat;
        width: 60px;
        height: 60px;
        background-size: contain;
        box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.1);
        transition: box-shadow ease 0.2s;

        @media only screen and (max-width: 575px) {
          margin: 0 auto;
        }

        &:hover {
          box-shadow: none;
        }
      }
    }

    .schedule {
      th,
      td {
        width: auto;
        font-size: 14px;
        line-height: 20px;
        font-family: $shop-font-bree-light;
        color: #333;
        padding: 0;

        @media only screen and (max-width: 575px) {
          text-align: center;
        }
      }
    }
  }

  .wrapper-title {
    padding-bottom: 0;

    h1 {
      margin: 0;
    }
  }

  .map-container {
    height: 350px;
    min-height: 350px;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  .wrapper-title {
    position: relative;
  }

  .social_net {
    position: absolute;
    bottom: 35px;
    right: 140px;
    display: flex;

    @media only screen and (max-width: 1024px) {
      position: relative;
      justify-content: center;
      right: 0;
      bottom: 0;
    }

    li {
      margin:0 7px 0 0;

      &:last-child {
        margin: 0;
      }
    }

    a {
      width: 24px;
      height: 24px;
      background-image: url('/build/images/web/shop/leondebruxelles-fr/icone.png'); 
      background-size: 120px auto;
      margin: 0;
      border-radius: 2px;
      background-repeat: repeat-y;
      display: inline-block;

      &.facebook {
        background-color: #3b5998;
        background-position: 10px -392px;
        background-size: 150px auto;
      }

      &.tweet {
        background-color: #55acee;
        background-position: -18.5px -312px;
      }

      &.mac {
        background-color: #ededed;
        background-position: -50px -313px;
      }

      &.googlestore {
        background-color: #ededed;
        background-position: -77px -313px;
      }

      &.instagram {
        // background: #a639bd url('/build/images/web/shop/leondebruxelles-fr/sprite.png');
        // background-position: -88px -265px;
        width: 24px;
        height: 24px;
        background: none;

        img {
          width: 100%;
        }
      }

      &.youtube {
        // background: #fc0d1b url('/build/images/web/shop/leondebruxelles-fr/sprite.png');
        // background-position: -117px -92px;

        width: 24px;
        height: 24px;
        background: none;
        border-radius: 4px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}















