.location-items {
  .locations-to-slide {
    .slick-track {
      @include media-breakpoint-down(sm) {
        margin: 0;
      }
    }
  }
}

.promotion-slider {
  .slider-item-img {
    padding-right: 15px;
    padding-left: 15px;

    a {
      display: block;
    }

    img {
      max-width: 100%;
      margin: 0 auto;
    }
  }

  .slick-dots {
    bottom: -45px;
    li {
      width: 30px;
      height: 30px;
      margin: 0 6px;

      &.slick-active {
        button {
          background-color: #ffffff;

          &:before {
            opacity: 1;
          }
        }
      }

      button {
        width: 30px;
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 50%;
        background-color: #fff;

        &:before {
          content:'';
          width: 20px;
          height: 20px;
          background-color: #666;
          opacity: 0;
          left: 5px;
          top: 5px;
          border: none;
          transition: opacity .3s ease;
          border-radius: 50%;
        }
      }
    }
  }
}


