// @import "../components/vars";
// @import "../components/animation";
.mobi_content {
  @include media-breakpoint-down(sm) {
    padding-top: 60px;
  }

  &.content-sticky {
    @include media-breakpoint-down(md) {
      padding-top: 63px;
    }

    @include media-breakpoint-up(lg) {
      padding-top: 90px;
    }
  }
}

.H_ib {
  left: -90.3%;
  top: -30px;
}

.H_ib .H_ib_body .H_ib_content {
  min-height: 150px;
}

.section-map {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;

  @include media-breakpoint-down(sm) {
    position: relative;
  }

  .map-container {
    height: 750px;

    @include media-breakpoint-down(sm) {
      height: 10px;
      position: absolute !important;
      top: 25%;
      left: 0;
    }
  }

  .map-search-box {
    width: 370px;

    @include media-breakpoint-up(md) {
      top: 32px;
      right: 64px;
      height: 680px !important;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
      position: relative;
      top: 0;
      right: 0;
      box-shadow: none;
      border-radius: 0;
      border-bottom: 1px solid #eeecea;
      z-index: 101;
    }

    .search-form {
      padding: 18px 16px 21px;

      @include media-breakpoint-down(sm) {
        flex-direction: column;
      }

      .search-form-input {
        display: flex;
        flex: 1;

        @include media-breakpoint-down(sm) {
          padding-top: 18px;
        }
      }

      .search-position {
        #map_search_autocomplete {
          background-image: url('/build/images/web/shop/leondebruxelles-fr/icone.png');
          background-repeat: no-repeat;
          background-size: 400px auto;
          background-position: 12px 10px;
          height: 100%;
          border-radius: 5px;
          font-size: 12px;
          background-color: #eeecea;
          padding: 0 15px 0 33px;
          border: 0 none;
          text-align: left;
          outline: 0 none;
          display: block;
          width: 100%;
          box-shadow: none;

          &::placeholder {
            color: #848383;
          }
        }

        #map_current_position {
          display: none;          
        }
      }
    }

    .search-results-list {
      padding: 0;
      background-color: #ffffff;
      padding-bottom: 16px;

      .location-summary {
        border-color: #eeecea;
        padding: 18px 16px 18px 70px;
        position: relative;

        &:last-child {
          border-bottom: none;
        }

        .pin-icon {
          position: absolute;
          top: 18px;
          left: 13px;
          width: 40px;
          height: 46px;
          text-align: center;
          background: url('/build/images/web/shop/leondebruxelles-fr/pins_v.png');
          background-size: contain;
          color: #ffffff;
          line-height: 22px;
          font-family: $shop-font-bree-light;
          font-size: 16px;
          font-weight: 500;
          padding-top: 8px;

          span {
            color: #ffffff;
            line-height: 22px;
            font-family: $shop-font-bree-light;
            font-size: 16px;
            font-weight: 500;
          }
        }

        .location-distance {
          position: absolute;
          top: 70px;
          left: 10px;
          padding-left: 15px;
        }
      }
    }

    .search-results {
      border-color: #eeecea;
      @include media-breakpoint-up(md) {
        height: 609px;
      }
    }
  }

  .map-search-box {
    .search-button {
      text-transform: uppercase;
      margin: 0 0 0 8px;
      padding-left: 13px;
      padding-right: 13px;
      background-color: #f38034;
      color: #fff;
      border: none;
      border-radius: 3px;
      font-size: 13px;
      font-family: $shop-font-bree-regular;
      transition: background-color ease 0.3s;

      &:hover {
        filter: none;
        background-color: #e6640e;
      }

      @include media-breakpoint-down(sm) {
        width: auto;
        background-size: 60% 60% !important;
      }
    }
  }

  /* geolocation btn*/
  .geolocation-btn {
    position: absolute;
    top: 72px;
    left: 55px;
    font-family: $shop-font-bree-regular;
    font-size: 16px;
    line-height: 22px;
    padding: 8px 20px;
    border-radius: 3px;
    color: #ffffff;

    @include media-breakpoint-down(sm) {
      display: none;
    }

    &.mobile-only {
      display: none;

      @include media-breakpoint-down(sm) {
        display: block;
        position: static;
        width: 100%;
        height: 48px;
      }
    }

    span {
      color: #ffffff;
      font-family: $shop-font-bree-regular;
      font-size: 16px;
      line-height: 22px;
      display: block;
    }
  }
}

/* breadcrump*/
.breathcrumb_info {
  height: 60px;

  @include media-breakpoint-down(sm) {
    height: auto;
  }

  .location {
    input[type=text],
    a,
    input[type=submit] {
      font-size: 13px;
    }

    input[type=text] {
      height: 34px;
    }
  }
}

.header-introduction {
  h2 {
    font-family: $shop-font-helvetica;
    font-size: 30px;
    line-height: 28px;
  }

  h4 {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    line-height: 34px;
  }
}

.info-window-content {
  a {
    &:hover {
      text-decoration: none;
    }
  }

  .location-summary-title {
    font-size: 13px;
    font-family: $shop-font-bree-regular;
    color: #4e9c34;
    margin-bottom: 10px;
    display: block;
    text-transform: uppercase;          
  }

  .location-distance {
    margin-left: 5px;
  }

  address {
    font-size: 12px;
    line-height: 16px;
    color: #000;
    margin-bottom: 0;
  }

  .tel {
    font-size: 12px;
    line-height: 16px;
    color: #000;

    span {
      color: #4e9c34;
    }
  }

  .open-close-box {
    padding-top: 7px;

    &.box-opened {
      .open-sentence {
        &:after {
          font: normal normal normal 23px/0px FontAwesome;
        }
      }
    }

    .open-sentence {
      padding: 0 20px 0 0;

      &:after {
        position: absolute;
        top: -2px;
        right: 0;
        content: "\F0DD";
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        display: inline-block;
        text-rendering: auto;
        background-image: none;
        font: normal normal normal 23px/11px FontAwesome;
      }
    }

    span {
      line-height: 17px;
      font-size: 12px;
      color: #639b49;
      text-overflow: ellipsis;
      display: inline-block;
      white-space: nowrap;
      position: relative;
      max-width: 100%;
      overflow: hidden;
      cursor: pointer;
      margin-right: 0;
    }
  }

  .btn-group {
    display: flex;
    padding-top: 10px;

    .btn {
      font-size: 13px;
      margin-right: 7px;
      width: auto;
      padding: 8px 9px;
      border-radius: 5px;
      transition: background-color ease 0.3s;

      &:last-child {
        margin-right: 0;
      }
      &.hidden {
        display: none;
      }
    }

    &.leonbooking {
      background-color: #f38034;

      &:hover {
        filter: none;
        background-color: #e6640e;
      }
    }
  }

  .bottom-btn-container {
    padding-top: 14px;

    a {
      font-size: 13px;
      text-decoration: underline;

      &:hover {
        text-decoration: none;              
      }
    }
  }
}

.small-schedule {
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 7px 0px 0px 0;
  margin: 0;
}

.info-window-block {
  .info-window-content {
    text-align: left;
  }
}


.section-map .geolocation-btn {
  background-color: #f38034;
}

.info-window-content {
  .btn-group  {
    .btn {
      &.leonbooking {
        background-color: #f38034;

        &:hover {
          filter: none;
          background-color: #e6640e;
        }
      }
    }
  }
  
}






















