.section-near-location {
  margin-top: 0;
  
  .near-location-block {
    background-color: #eeecea;
    position: relative;
    margin-bottom: 46px;

    &:after {
      content: "";
      height: 12px;
      width: 100%;
      left: 0;
      position: absolute;
      background: url('/build/images/web/shop/leondebruxelles-fr/top-paper.png') top;
      bottom: 0;
    }

    .near-location-title {
      display: block;
      font-size: 24px;
      font-family: $shop-font-humper;
      color: #40474f;
      margin: 0;
      padding: 32px 0 20px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 400;
    }

    .wrapper {
      background-image: none;
    }
  }

  .slick-dots {
    bottom: -45px;
    li {
      width: 30px;
      height: 30px;
      margin: 0 6px;

      &.slick-active {
        button {
          background-color: #ffffff;

          &:before {
            opacity: 1;
          }
        }
      }

      button {
        width: 30px;
        height: 30px;
        border: 1px solid #ccc;
        background-color: #fff;

        &:before {
          width: 20px;
          height: 20px;
          background-color: #666;
          opacity: 0;
          left: 10px;
          top: 10px;
          border: none;
          transition: opacity .3s ease;
        }
      }
    }
  }
}

/* leondebruxelle proximities-list */
.proximities-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 8px;
  margin: 0 -15px;
  font-family: $shop-font-bree-light;

  .slick-list {
    width: 100%;

    .slick-track {
      width: 100%;
    }
  }

  .marker-item {
    .marker-item-title {
    font-weight: 600;
    line-height: 16px;
    min-height: 36px;
    font-family: $shop-font-bree-light;
    font-size: 16px;
    margin: 10px 0 0;
    color: #40474f;
    }

    .marker-icon {
      img {
        margin: 0 auto;
      }
    }
  }

  .marker-item-distance {
    line-height: 10px;
    font-size: 18px;
    margin: 13px 0 15px;
    color: #929298;
  }

  .marker-item-more-info {
    color: #4e9c34;
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}