{% extends 'web/base/home.html.twig' %}

{% block head_google_tag %}
    {{ block('google_tag_home', 'web/shop/' ~ shop.code ~ '/block/google_tag_manager.html.twig') }}
    {{ parent() }}
{% endblock %}

{% block header %}
    {# we will include the remote header #}
    {% autoescape false %}
        {{ remote_content(shop, 'https://medi-market-group.be/' ~ app.request.locale ~ '/header-only-' ~ app.request.locale ~ '/', 'header') }}
    {% endautoescape %}
{% endblock %}

{% block footer %}
    {# we will include the remote footer #}
    {% autoescape false %}
        {{ remote_content(shop, 'https://medi-market-group.be/' ~ app.request.locale ~ '/footer-only-' ~ app.request.locale ~ '/', 'footer') }}
    {% endautoescape %}
{% endblock %}

{% block content %}
    {% include 'web/shop/' ~ shop.code ~ '/block/map.html.twig' %}
    {% include 'web/shop/' ~ shop.code ~ '/block/locations.html.twig' %}

    {#{% include 'web/shop/' ~ shop.code ~ '/block/close_overlay.html.twig' %}#}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="//medi-market-group.be/wp-content/themes/medi-market/style.css">

    {{ encore_entry_link_tags('css/web/shop/' ~ shop.code ~ '/home') }}
{% endblock %}

{% block javascripts_main %}
    {{ encore_entry_script_tags('js/web/shop/' ~ shop.code ~ '/home') }}
{% endblock %}

{% block javascripts_custom %}
    <script type='text/javascript'>
        /* <![CDATA[ */
        var scriptParams = {"voir":"{{ "voir"|trans({}, 'medimarket-be') }}","plus":"{{ "plus"|trans({}, 'medimarket-be') }}"};
        /* ]]> */
    </script>
    <script src="//medi-market-group.be/wp-content/themes/medi-market/js/modernizr.js?ver=2.8.3"></script>
    <script src="//medi-market-group.be/wp-content/themes/medi-market/js/priority-nav.min.js?ver=1.0.8"></script>
    <script src="//medi-market-group.be/wp-content/themes/medi-market/js/script.js"></script>
{% endblock %}

{% block javascripts_var %}
    {{ parent() }}

    <script type="text/javascript">
        globalData['openHoursData']['openClass'] = 'mobilo_openStatus';
        globalData['openHoursData']['closedClass'] = 'mobilo_closedStatus';
        globalData['brandSlugMedi'] = "{{ constant('App\\Service\\Api\\Entity\\LocationEntity::MEDIMARKET_BRAND_SLUG_MEDI') }}";
        globalData['brandSlugInstitut'] = "{{ constant('App\\Service\\Api\\Entity\\LocationEntity::MEDIMARKET_BRAND_SLUG_INSTITUT') }}";
        globalData['brandSlugPharmacy'] = "{{ constant('App\\Service\\Api\\Entity\\LocationEntity::MEDIMARKET_BRAND_SLUG_PHARMACY') }}";
        globalData['brandSlugs'] = [
            "{{ constant('App\\Service\\Api\\Entity\\LocationEntity::MEDIMARKET_BRAND_SLUG_INSTITUT') }}",
            "{{ constant('App\\Service\\Api\\Entity\\LocationEntity::MEDIMARKET_BRAND_SLUG_MEDI') }}",
            "{{ constant('App\\Service\\Api\\Entity\\LocationEntity::MEDIMARKET_BRAND_SLUG_PHARMACY') }}"
        ];
        globalData['countriesCode'] = {
            'BE': "{{ 'app.country.BE'|trans({}, 'medimarket-be') }}",
            'FR': "{{ 'app.country.FR'|trans({}, 'medimarket-be') }}",
            'LU': "{{ 'app.country.LU'|trans({}, 'medimarket-be') }}",
        };

        var globalSettings = {
            map: {
                center: {lat: 50.62313744304004, lng: 5.365809522627387},
                zoom: 8,
                fitAll: true
            },
            marker: {
                icon: '{{ asset('build/images/web/shop/' ~ shop.code ~ '/markers/default.png') }}',
                icon_width: 50,
                icon_height: 50
            },
            apiVersion: "{{ shop.apiVersion }}",
            geoLocationCountry: ['BE','LU','FR'],
            searchType: 'FIT_ALL',
            query: {
                near: '50.8467,4.3524',
                radius: 25000,
                onEmptyRadius: 100000,
                page: 0,
                size: 200
            },
        };
    </script>
{% endblock %}
