{% if allowRobots %}

User-agent: *

# Allow search crawlers to discover the sitemap
Sitemap: {{ url_https('app_web_sitemap_index') }}

# Block access to specific groups of pages - Path

# Block CazoodleBot as it does not present correct accept content headers
User-agent: CazoodleBot
Disallow: /

# Block MJ12bot as it is just noise
User-agent: MJ12bot
Disallow: /

# Block dotbot as it cannot parse base urls properly
User-agent: dotbot/1.0
Disallow: /

# Block Gigabot
User-agent: Gigabot
Disallow: /


{% else %}
User-agent: *
Disallow: /
{% endif %}

