{% extends 'web/base/show.html.twig' %}

{% if location.brandSlug is defined %}
    {% set brandSlug = location.brandSlug %}
{% else %}
    {% set brandSlug = constant('App\\Service\\Api\\Entity\\LocationEntity::MEDIMARKET_BRAND_SLUG_MEDI') %}
{% endif %}

{% set className = "mobilo_para" %}
{% if brandSlug == constant('App\\Service\\Api\\Entity\\LocationEntity::MEDIMARKET_BRAND_SLUG_MEDI') %}
    {% set className = "mobilo_para" %}
    {% set metaDescription = "app.web.show.parapharmacie.meta_description" %}
    {% set altStoreType = "app.web.show.parapharmacie.store_type" %}
{% elseif brandSlug == constant('App\\Service\\Api\\Entity\\LocationEntity::MEDIMARKET_BRAND_SLUG_INSTITUT') %}
    {% set className = "mobilo_institut" %}
    {% set metaDescription = "app.web.show.institut.meta_description" %}
    {% set altStoreType = "app.web.show.institut.store_type" %}
{% elseif brandSlug == constant('App\\Service\\Api\\Entity\\LocationEntity::MEDIMARKET_BRAND_SLUG_PHARMACY') %}
    {% set className = "mobilo_pharma" %}
    {% set metaDescription = "app.web.show.pharmacie.meta_description" %}
    {% set altStoreType = "app.web.show.pharmacie.store_type" %}
{% endif %}

{% block main_meta_tags %}
    <title>{{ (altStoreType)|trans({}, shop.code) }} {{ "app.web.show.in"|trans({}, 'medimarket-be') }} {{ location.address.locality }} | {{ location.name }}</title>

    <meta name="description"
          content="{{ (metaDescription)|trans({'%%city%%':location.address.locality, '%%name%%':location.name}, shop.code) }}">

    <meta name="keywords"
          content="{{ (location.brand ? location.brand ~ ', ' : '') ~ location.name ~ ', ' ~ location.address.locality }}">
{% endblock %}

{% block head_google_tag %}
    {{ block('google_tag_show', 'web/shop/' ~ shop.code ~ '/block/google_tag_manager.html.twig') }}
    {{ parent() }}
{% endblock %}

{% block header %}
    {# we will include the remote header #}
    {% autoescape false %}
        {{ remote_content(shop, 'https://medi-market-group.be/' ~ app.request.locale ~ '/header-only-' ~ app.request.locale ~ '/', 'header') }}
    {% endautoescape %}
{% endblock %}

{% block footer %}
    {# we will include the remote footer #}
    {% autoescape false %}
        {{ remote_content(shop, 'https://medi-market-group.be/' ~ app.request.locale ~ '/footer-only-' ~ app.request.locale ~ '/', 'footer') }}
    {% endautoescape %}
{% endblock %}

{% block content %}
    <div class="{{ className }}">
        {% include 'web/shop/' ~ shop.code ~ '/block/location_details_simple.html.twig' %}
        {% include 'web/shop/' ~ shop.code ~ '/block/location_details_description.html.twig' %}
        {% include 'web/shop/' ~ shop.code ~ '/block/location_details_services.html.twig' %}
        {% include 'web/shop/' ~ shop.code ~ '/block/location_details_reviews.html.twig' %}
        {% include 'web/shop/' ~ shop.code ~ '/block/location_details_near.html.twig' %}

        {% if brandSlug == constant('App\\Service\\Api\\Entity\\LocationEntity::MEDIMARKET_BRAND_SLUG_PHARMACY') %}
            <section class="mobilo_sect-pharmacy">
                <div class="mobilo_wrapper">
                    <p class="detail-info">
                        {% autoescape false %}
                        {{ "app.web.show.pharmacie.en_garde"|trans({}, 'medimarket-be') }}
                        {% endautoescape %}
                    </p>
                </div>
            </section>
        {% endif %}
    </div>

    {#{% include 'web/shop/' ~ shop.code ~ '/block/close_overlay.html.twig' %}#}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="//medi-market-group.be/wp-content/themes/medi-market/style.css">

    {{ encore_entry_link_tags('css/web/shop/' ~ shop.code ~ '/show') }}
{% endblock %}

{% block javascripts_custom %}
    {{ encore_entry_script_tags('js/web/shop/' ~ shop.code ~ '/show') }}

    <script type='text/javascript'>
        /* <![CDATA[ */
        var scriptParams = {"voir":"{{ "voir"|trans({}, 'medimarket-be') }}","plus":"{{ "plus"|trans({}, 'medimarket-be') }}"};
        /* ]]> */
    </script>
    <script src="//medi-market-group.be/wp-content/themes/medi-market/js/modernizr.js?ver=2.8.3"></script>
    <script src="//medi-market-group.be/wp-content/themes/medi-market/js/priority-nav.min.js?ver=1.0.8"></script>
    <script src="//medi-market-group.be/wp-content/themes/medi-market/js/script.js"></script>
{% endblock %}

{% block javascripts_var %}
    {{ parent() }}

    <script>
        globalData['openHoursData']['openClass'] = 'mobilo_openStatus';
        globalData['openHoursData']['closedClass'] = 'mobilo_closedStatus';
        globalData['brandSlugMedi'] = "{{ constant('App\\Service\\Api\\Entity\\LocationEntity::MEDIMARKET_BRAND_SLUG_MEDI') }}";
        globalData['brandSlugInstitut'] = "{{ constant('App\\Service\\Api\\Entity\\LocationEntity::MEDIMARKET_BRAND_SLUG_INSTITUT') }}";
        globalData['brandSlugPharmacy'] = "{{ constant('App\\Service\\Api\\Entity\\LocationEntity::MEDIMARKET_BRAND_SLUG_PHARMACY') }}";
        globalData['brandSlugs'] = [
            "{{ constant('App\\Service\\Api\\Entity\\LocationEntity::MEDIMARKET_BRAND_SLUG_INSTITUT') }}",
            "{{ constant('App\\Service\\Api\\Entity\\LocationEntity::MEDIMARKET_BRAND_SLUG_MEDI') }}",
            "{{ constant('App\\Service\\Api\\Entity\\LocationEntity::MEDIMARKET_BRAND_SLUG_PHARMACY') }}"
        ];
        globalData['countriesCode'] = {
            'BE': "{{ 'app.country.BE'|trans({}, 'medimarket-be') }}",
            'FR': "{{ 'app.country.FR'|trans({}, 'medimarket-be') }}",
            'LU': "{{ 'app.country.LU'|trans({}, 'medimarket-be') }}",
        };

        var globalSettings = {
            near_query: {
                size: 9,
                radius: 200000,
            }
        };
    </script>
{% endblock %}
