<?xml version="1.0" encoding="UTF-8"?>

<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xhtml="https://www.w3.org/1999/xhtml"
        xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">

    {% set currentDate = 'now'|date('Y-m-d') %}
    <url>
        <loc>{{ url_https('app_web_shop_home', {'_locale': app.request.locale}) }}</loc>
        <lastmod>{{ currentDate }}</lastmod>
        <changefreq>weekly</changefreq>
        <priority>1.0</priority>
    </url>

    {% for location in shopLocations %}
        <url>
            <loc>{{ url_https('app_web_shop_show', {'_locale': app.request.locale, 'slug': location.detailsArray.slug}) }}</loc>
            <lastmod>{{ currentDate }}</lastmod>
            <changefreq>monthly</changefreq>
            <priority>0.5</priority>
        </url>
    {% endfor %}

</urlset>