<?xml version="1.0" encoding="UTF-8"?>

<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% set currentDate = 'now'|date('Y-m-d') %}
    {% for language, domain in languageDomains %}
        <sitemap>
            <loc>{{ 'https://' ~ domain ~ path('app_web_sitemap_locale_medimarket', {'_locale': language}) }}</loc>
            <lastmod>{{ currentDate }}</lastmod>
        </sitemap>
    {% endfor %}
</sitemapindex>