.section-location-promotions {
  margin-top: 0;

  .promotions-block {
    padding: 0;
    
    .wrapper {
      padding: 50px 0 20px 0;
      max-width: 1300px;
      background: $gray_ee;
      position: relative;

      &:after {
        content: "";
        height: 12px;
        width: 100%;
        left: 0;
        position: absolute;
        background: url("#{$img_path}top-paper-top.png") top;
        top: 0;
      }
    }

    h2 {
      font-family: $Oswald_font;
      color: $header_bg;
    }

    article {
      .slide-content {
        height: calc(100% - 250px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }

      h3 {
        font-family: $Oswald_font;
        color: $header_bg;
      }

      .show-more-text {
        .read-more {
          color: #484848;
        }
      }
    }

    .promotions-slide {
      .slick-track {
        display: flex;

        .slick-slide {
          height: inherit;
        }
      }
    }
  }

  .info-button {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 0;
    padding: 10px 20px;
    font-size: 13px;
    background-color: $red;
    color: $white;
    width: auto;
    text-transform: uppercase;
    font-family: $Oswald_font;
    outline: none;

    &:hover {
      opacity: 0.8;
    }
  }

  .slick-dots {
    li {
      width: 30px;
      height: 30px;
      margin: 0 6px;

      &.slick-active {
        button {
          background-color: #ffffff;

          &:before {
            opacity: 1;
          }
        }
      }

      button {
        width: 30px;
        height: 30px;
        border: 1px solid #ccc;
        background-color: #fff;

        &:before {
          width: 20px;
          height: 20px;
          background-color: $header_bg;
          opacity: 0;
          left: 10px;
          top: 10px;
          border: none;
          transition: opacity .3s ease;
        }
      }
    }
  }
}











