.section-location-details {
  margin-top: 0;
  .wrapper {
    max-width: 1300px;
    padding: 50px 0 0 0;

    @media only screen and (max-width: 767px) {
      padding: 30px 0 0 0;
    }

    &.pt-0 {
      padding-top: 0;
    }
  }

  .schedule th,
  .schedule td {
    @media only screen and (max-width: 575px) {
      text-align: center;
    }
  }

  .warning {
    color: $red;
  }

  .box {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

    @media only screen and (max-width: 767px) {
      border-radius: 0;
    }

    h4 {
      color: $header_bg;
      font-family: $Oswald_font;
      font-size: 20px;
      line-height: 24px;

      @media only screen and (max-width: 575px) {
        font-size: 18px;
        line-height: 22px;
      }
    }

    .details-address {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 40%;
      padding: 0 40px;

      @media screen and (max-width: 1024px) {
        width: 50%;
      }

      @media only screen and (max-width: 767px) {
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
      }

      @media only screen and (max-width: 575px) {
        text-align: center;
        margin-bottom: 0;
      }

      address {
        font-size: 16px;
        line-height: 20px;
      }

      .btn-group,
      .btn-block {
        padding-top: 0;

        @media only screen and (max-width: 575px) {
          display: none;
        }
      }

      .btn-group {
        &.mt-5 {
          margin-top: 5px;
        }
      }
    }

    .details-info {
      width: 30%;
      padding: 0 0px 0 20px;

      @media screen and (max-width: 1024px) {
        width: 50%;
      }

      @media only screen and (max-width: 767px) {
        width: 100%;
        padding: 0;
        border-left: none;
      }

      @media only screen and (max-width: 575px) {
        text-align: center;
        margin-bottom: 0;
      }

      .m-b-15 {
        display: flex;
        align-items: center;

        @media only screen and (max-width: 575px) {
          justify-content: center;
        }
      }

      .text-info {
        font-family: $Oswald_font;
        font-size: 18px;
      }

      .btn-group,
      .btn-block {
        @media only screen and (min-width: 576px) {
          display: none;
        }
      }

      .btn-group {
        &.mt-5 {
          margin-top: 5px;
        }
      }
    }
  }

  .wrapper-title {
    font-size: 36px;
    line-height: 41px;
    color: $header_bg;
    font-family: $Oswald_font;

    @media only screen and (max-width: 767px) {
      padding: 0 20px 20px 20px;
      font-size: 30px;
      line-height: 34px;
    }

    h1 {
      font-size: 36px;
      line-height: 41px;
      color: $header_bg;
      font-family: $Oswald_font;

      @media only screen and (max-width: 767px) {
        font-size: 30px;
        line-height: 34px;
      }
    }
  }

  .map-container {
    margin-top: -100px;
    height: 350px;
    min-height: 350px;

    @media only screen and (max-width: 767px) {
      display: none;
    }
  }

  .call-button {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 0;
    padding: 10px 20px;
    font-size: 13px;
    background-color: $red;
    color: $white;
    text-transform: uppercase;
    font-family: $Oswald_font;
    background-image: none;

    &:hover {
      opacity: 0.8;
    }
  }

  .location-button {
    background-image: none;
    padding: 10px 0;
    line-height: 15px;
  }
}
