.section-location-description {
  margin-top: 0;

  .wrapper {
    max-width: 1300px;
    padding: 0;
  }

  .description-block {
    .wrapper {
      padding: 40px 0;

      @media only screen and (max-width: 767px) {
        padding: 40px 15px 5px 15px;
      }
    }

    .content {
      padding-right: 40px;

      @media only screen and (max-width: 767px) {
        padding-right: 0;
      }

      h2 {
        font-family: $Oswald_font;
        color: $header_bg;

        strong {
          color: $header_bg;
          font-family: $Oswald_font;
        }
      }
    }

    .description-services-wrapper {
      padding-top: 20px;
    }

    .description-services {
      margin-bottom: 5px;

      .title {
        color: $header_bg;
        font-family: $Oswald_font;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 8px;

        @media only screen and (max-width: 767px) {
          font-size: 18px;
          line-height: 22px;
        }
      }

      .items {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;

        .item {
          width: 75px;
          padding: 0 15px;
          margin-bottom: 10px;
        }
      }
    }
  }

  .row {
    margin: 0 0;
  }
}