.section-locations {
  @media only screen and (max-width: 767px) {
    margin-top: 0;
  }

  .wrapper {
    max-width: 1300px;
    width: 100%;
    background: url("#{$img_path}bg-grainy-texture.jpg") center center;
  }

  .event-list-block {
    @media only screen and (max-width: 767px) {
      display: none;
    }

    &.open {
      @media only screen and (max-width: 767px) {
        display: block;
      }
    }
  }

  .wrap-title {
    padding: 0;

     @media only screen and (max-width: 767px) {
      border-top: 1px solid #b0b0b0;
      border-bottom: 1px solid #b0b0b0;
    }

    h2 {
      font-size: 36px;
      line-height: 41px;
      color: $header_bg;
      font-family: $Oswald_font;

      @media only screen and (max-width: 767px) {
        margin: 0;
        font-size: 22px;
        line-height: 24px;
        text-align: left;
        padding: 0 25px 0 15px;
        background: url("#{$img_path}arrow-down.svg") 100% no-repeat;
        display: inline-block;
      }
    }

    .wrapper {
      padding-top: 60px;
      padding-bottom: 60px;

      @media only screen and (max-width: 767px) {
        text-align: left;
        padding-top: 20px;
        padding-bottom: 15px;
        margin-right: 15px;
      }
    }
  }

  .search-alphabet {
    padding: 0;

    @media only screen and (max-width: 767px) {
      margin-top: 0;
      position: relative;
    }

    .wrapper {
      background-image: none;
      background-color: $header_bg;
      padding: 30px 0;
    }

    li {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      span {
        font-size: 16px;
        padding: 0;
      }

      a {
        span {
          color: white;
        }
      }
    }
  }

  .results-by-letters {
    padding: 0;

    .wrapper {
      padding-top: 40px;
      padding-bottom: 20px;
    }
  }

  .result-one-letter {
    .title-letter {
      color: $gray_6e;

      @media only screen and (max-width: 767px) {
        font-size: 20px;
        line-height: 24px;
      }
    }

    .location-summary {
      h5 {
        color: $red;
        margin-bottom: 0px;
        display: block;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 18px;
        font-family: $Oswald_font;

        a {
          color: $red;
          display: block;
          text-transform: uppercase;
          font-size: 16px;
          line-height: 18px;
          font-family: $Oswald_font;

          &:hover {
            color: $red;
            opacity: 0.8;
          }
        }
      }

      address {
        font-family: $Oswald_font;
      }
    }
  }
}




















