.section-map {
  margin-top: 0;

  .map-introduction {
    padding: 28px 0 16px 0;

    @media only screen and (max-width: 1279px) {
      padding: 48px 0 26px 0;
    }

    .map-title {
      text-align: center;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1.8px;
      line-height: 34px;
      margin: 0;
      color: $red;
    }

    .map-subtitle {
      font-size: 30px;
      line-height: 28px;
      text-align: center;
      margin: 0;
      color: $header_bg;
      text-transform: capitalize;
    }
  }

  /* geolocation btn*/
  .geolocation-btn {
    position: absolute;
    top: 72px;
    left: 55px;
    font-size: 16px;
    line-height: 22px;
    padding: 8px 20px;
    border-radius: 3px;
    color: $white;
    background-color: $red;
    text-transform:uppercase;
    outline: none;
    border: none;
    cursor: pointer;

    @media only screen and (max-width: 767px) {
      display: none;
    }

    &.mobile-only {
      display: none;

      @media only screen and (max-width: 767px) {
        display: block;
        position: static;
        width: 100%;
        height: 48px;
      }
    }

    span {
      color: $white;
      font-size: 16px;
      line-height: 22px;
      display: block;
      font-family: $Oswald_font;
    }
  }

  .map-wrapper {
    position: relative;
    display: flex;
  }

  .map-search-box {
    position: relative;
    top: 0;
    right: 0;
    width: 370px;

    @media only screen and (min-width: 768px) {
      height: calc(100vh - 129px) !important;
      min-height: 450px;
    }

    @media only screen and (max-width: 767px) {
      width: 100%;
      border-radius: 0;
      box-shadow: none;
    }

    .search-results {
      background-color: $white;

      @media only screen and (min-width: 768px) {
        height: calc(100vh - 202px);
        min-height: 377px;
      }
    }

    .search-form {
      padding: 18px 16px 21px;
      display: block;

      .search-form-input {
        display: flex;

        @media only screen and (max-width: 767px) {
          padding-top: 18px;
        }
      }

      .search-position {
        height: 34px;

        .position-locate {
          display: none;
        }

        #map_search_autocomplete {
          background: url("#{$img_path}search-icon.png");
          background-repeat: no-repeat;
          background-size: 12px;
          background-position: 12px;
          height: 100%;
          border-radius: 5px;
          font-size: 12px;
          background-color: $gray_ee;
          padding: 0 15px 0 33px;
          border: 0 none;
          text-align: left;
          outline: 0 none;
          display: block;
          width: 100%;
          box-shadow: none;
        }
      }
    }

    .search-results-list {
      padding: 0;

      @media only screen and (max-width: 767px) {
        height: 456px;
      }

      .location-summary {
        border-color: $gray_ee;
        padding: 18px 16px 18px 70px;
        position: relative;

        .info-window-content {
          .btn-group {
            .button {
              border: 1px solid $tr;
            }
          }
        }

        .pin-icon {
          position: absolute;
          top: 18px;
          left: 13px;
          width: 40px;
          height: 46px;
          text-align: center;
          background: url("#{$img_path}pin-locations.png") center center no-repeat;
          background-size: contain;
          color: $white;
          padding-top: 8px;
        }

        .location-distance {
          position: absolute;
          top: 70px;
          left: 10px;
          padding-left: 15px;
          display: inline-block;
          font-weight: normal;
          color: $header_bg;
        }
      }
    }
  }

  .search-button {
    background-color: $red;
    border-color: $red;
    transition: opacity ease 0.25s;
    padding: 7px 13px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: $Oswald_font;
    outline: none;

    &:hover {
      opacity: 0.8;
      filter: none;
    }

    @media screen and (max-width: 680px) and (min-width: 0px) {
      background-color: $red !important;
      border-color: $red;
    }
  }

  .map-container {
    flex: 1;
    height: calc(100vh - 129px);

    @media only screen and (max-width: 767px) {
      opacity: 0;
      flex: auto;
      height: 0;
      position: absolute !important;
    }
  }
}

.info-window-content {
  h5 {
    color: $red;
    margin-bottom: 10px;
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    font-family: $Oswald_font;

    a {
      color: $red;
      display: block;
      text-transform: uppercase;
      font-size: 13px;
      font-family: $Oswald_font;

      &:hover {
        color: $red;
        opacity: 0.8;
      }
    }
  }

  img {
    max-width: 100% !important;
  }

  address {
    font-size: 12px;
    color: $header_bg;
  }

  .tel {
    font-size: 12px;
    line-height: 16px;
    color: $header_bg;

    .list-phone {
      color: $red;
      display: inline-block;
    }
  }

  .open-close-box {
    padding-top: 7px;

    .open-box {
      &.is-closed {
        .open-label,
        .open-sentence {
          color: $dark-red;
        }
      }
    }
    
    .open-label {
      background-color: $tr;
      padding: 0;
      font-size: 12px;
      border-radius: 0;
      margin-right: 3px;
      color: #6ab130;
    }

    .open-sentence {
      font-size: 12px;
    }
  }

  .btn-group {
    padding-top: 10px;

    .button {
      margin-bottom: 1px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.small-schedule {
  background: $tr;
  border: none;
  box-shadow: none;
  padding: 7px 0px 0px 0;
  margin: 0;
}

.table-schedule {
  .warning {
    color: $red;
  }
}

.info-window-block {
  .location-summary {
    text-align: left;
    width: 270px;

    .button {
      &.uber-logo {
        padding: 10px 4px;
      }
    }
  }
}

.location-summary {
  .button {
    &.uber-logo {
      img {
        width: 70%;

        @media only screen and (max-width: 767px) {
          width: 30%;
        }

        @media only screen and (max-width: 600px) {
          width: 60%;
        }

        @media only screen and (max-width: 400px) {
          width: 80%;
        }
      }
    }

    &.delivero-logo {
      img {
        @media only screen and (max-width: 767px) {
          width: 40%;
        }

         @media only screen and (max-width: 600px) {
          width: 80%;
         }

        @media only screen and (max-width: 400px) {
          width: 100%;
        }
      }
    }
  }
}

























