.section-near-location {
  margin-top: 0;

  .near-location-block {
    padding: 0;
    background-color: $tr;

    .wrapper {
      max-width: 1300px;
      padding: 40px 0;
    }

    h2 {
      font-family: $Oswald_font;
      color: $header_bg;
    }

    article {
      outline: none;
    }
  }

  .location-summary {
    h5 {
      font-family: $Oswald_font;
    }

    address,
    .location-distance {
      color: $header_bg;
    }

    .openings {
      &.m-b-15 {
        display: block;
        margin-bottom: 15px;
      }
    }

    .m-b-15 {
      display: flex;
      margin-bottom: 1px;

      .services-button {
        margin-right: 1px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .services-button,
    .search-button {
      display: inline-block;
      text-align: center;
      line-height: 1;
      cursor: pointer;
      -webkit-appearance: none;
      transition: background-color 0.25s ease-out, color 0.25s ease-out;
      vertical-align: middle;
      border: 1px solid transparent;
      border-radius: 0;
      padding: 10px 0;
      font-size: 13px;
      background-color: $header_bg;
      color: $white;
      width: 100%;
      text-transform: uppercase;
      font-family: $Oswald_font;
      outline: none;
      background-image: none;
      margin: 0;

      &:hover {
        opacity: 0.8;
      }
    }

    .search-button {
      background-color: $red;
    }
  }

  .slick-dots {
    li {
      width: 30px;
      height: 30px;
      margin: 0 6px;

      &.slick-active {
        button {
          background-color: #ffffff;

          &:before {
            opacity: 1;
          }
        }
      }

      button {
        width: 30px;
        height: 30px;
        border: 1px solid #ccc;
        background-color: #fff;

        &:before {
          width: 20px;
          height: 20px;
          background-color: $header_bg;
          opacity: 0;
          left: 10px;
          top: 10px;
          border: none;
          transition: opacity .3s ease;
        }
      }
    }
  }
}