{% spaceless %}
  <div class="info-window-block">
    <div class="location-summary">
      <div class="location-summary-block">
        <h5>__name__</h5>

        <address> __address__</address>

        <span class="location-distance">__distance__ __distance_unit__</span>

        <div class="open-close-box">
          <div class="open-box __openClass__">
            <span class="open-label">__openLabel__</span>
            <span class="open-sentence">__openSentence__</span>
          </div>
          <div class="small-schedule">
            <table class="table-schedule"></table>
          </div>
        </div>
      </div>

      <div class="m-b-15">
        <button data-gtm_event="itinerary" data-gtm_event_value="__externalId__" type="button" class="services-button location-button ga-cta"
            data-show-route="{{ path('app_web_lloydspharma_show', {'_locale': app.request.locale, 'slug': '__slug__', focusRoute: true}) }}"
            data-latitude="__latitude__"
            data-longitude="__longitude__">
          {{ 'app.web.home.map.button.route'|trans }}
        </button>

        <a data-gtm_event="call" data-gtm_event_value="__externalId__" href="tel:__phone__" class="services-button call-button ga-cta">{{ 'app.web.home.map.button.call'|trans }}</a>
      </div>

      <div class="button-group">
        <a class="primary-button btn __commander_class__" href="__commander_link__" style="display: block">Commander</a>
        <a class="primary-button btn __prescription_class__" href="__prescription_link__" style="display: block">Ma prescription</a>
      </div>

      <a data-gtm_event="impressionMap" data-gtm_event_value="__externalId__" href="{{ path('app_web_lloydspharma_show', {'_locale': app.request.locale, 'slug': '__slug__'}) }}"
         target="_blank" class="search-button ga-cta">{{ 'app.web.home.map.button.show'|trans }}</a>
    </div>
  </div>
{% endspaceless %}