{% spaceless %}
  <li class="location-summary location-man">
    <div class="pin-block">
      <div class="entry-pin">
      <span class="marker">
        <span class="marker-number">__index__</span>
          <img alt="" src="{{ asset('/build/images/web/shop/'~shop.code~'/marker/pin-location-cross.png') }}" height="46" style="width:auto;height:46px;">
      </span>
      <span class="distance">__distance__ __distance_unit__</span>
    </div>
    </div>
    <div class="location-summary-content">
      <h5><a href="{{ path('app_web_lloydspharma_show', {'_locale': app.request.locale, 'slug': '__slug__'}) }}" target="_self" data-gtm_event="impression" data-gtm_event_value="__externalId__" class="ga-cta">__name__</a></h5>

    <div class="show-open-window" data-id="__externalId__">
      <address>__address__</address>
      <a class="tel ga-cta" href="tel: __phone__" data-gtm_event="call" data-gtm_event_value="__externalId__">__phone__</a>
    </div>

    <div class="open-close-box">
      <div class="open-box __openClass__">
        <span class="open-label">__openLabel__</span>
        <span class="open-sentence">__openSentence__</span>
      </div>
      <div class="small-schedule">
        <table class="table-schedule"></table>
      </div>
    </div>

    <div class="open-hours-exceptions">
      <div class="shedule-exception exception-small">
        <h5 class="is-open">{{ 'app.web.global.open_hours.exceptions.open'|trans }}</h5>
      </div>

      <div class="shedule-exception exception-small">
        <h5 class="is-closed">{{ 'app.web.global.open_hours.exceptions.closed'|trans }}</h5>
      </div>
    </div>

    <div class="button-group">
      <a class="primary-button btn __commander_class__" href="__commander_link__">{{ "app.web.home.map.btn_comander"|trans({}, shop.code) }}</a>
      <a class="primary-button btn __prescription_class__" href="__prescription_link__">{{ "app.web.home.map.btn_prescription"|trans({}, shop.code) }}</a>
    </div>

    <div class="button-group">
      <a data-gtm_event="impression" data-gtm_event_value="__externalId__" class="secondary-button btn ga-cta" href="{{ path('app_web_lloydspharma_show', {'_locale': app.request.locale, 'slug': '__slug__'}) }}">
        <span aria-hidden="true">
          <i class="fi-plus"></i>
        </span>
        {{ "app.web.home.map.btn_more_info"|trans({}, shop.code) }}
      </a>
      <a data-gtm_event="itinerary" data-gtm_event_value="__externalId__" class="secondary-button btn itinerary ga-cta" href="https://www.google.com/maps?saddr=My+Location&daddr=__latitude__,__longitude__"  data-show-route="{{ path('app_web_lloydspharma_show', {'_locale': app.request.locale, 'slug': '__slug__', focusRoute: true}) }}"
         data-latitude="__latitude__"
         data-longitude="__longitude__" target="_blank">
        {{ "app.web.home.map.btn_itineraire"|trans({}, shop.code) }}
      </a>
    </div>
    </div>
  </li>
{% endspaceless %}