{% set openHours = open_hours(location, shopDomain, constant('App\\Twig\\OpenHoursExtension::TYPE_WEEK')) %}
{% set twigData = {'showSocials': false} %}


{% set commander = '' %}
{% set ma_prescription = '' %}
{% set fax = '' %}
{% set Titulaire = '' %}
{% if location.locationExtraData and location.locationExtraData|length %}
    {% for extraData in location.locationExtraData %}
        {% if extraData.key|lower == 'commander' %}
            {% set commander = extraData.value %}
        {% endif %}
        {% if extraData.key|trim == 'ma-prescription' or extraData.key|trim == 'Ma prescription' %}
            {% set ma_prescription = extraData.value %}
        {% endif %}
        {% if extraData.key|trim == 'fax' or extraData.key|trim == 'Fax' %}
            {% set fax = extraData.value %}
        {% endif %}

        {% if extraData.key|trim == 'Titulaire' or extraData.key|trim == 'titulaire' %}
            {% set Titulaire = extraData.value %}
        {% endif %}

    {% endfor %}
{% endif %}


<div class="location-details-block">
    <div class="wrapper">
        <div class="wrapper-title-icon">
            <h1>
                {{ location.name }}
                {% if location.status == 'OPEN' %}
                    <span class="open-label {% if openHours.opens.isOpenNow %}is-open{% else %}is-closed{% endif %}">
                    {% if openHours.opens.isOpenNow %}
                        {{ 'app.web.global.open_hours.shop_open'|trans }}
                    {% else %}
                        {{ 'app.web.global.open_hours.shop_close'|trans }}
                    {% endif %}
                    </span>  <span>{{ openHours.opens.sentence }}</span>
                {% else %}
                    <span class="open-label is-closed">{{ 'app.web.global.open_hours.shop_close'|trans }}</span>
                {% endif %}
            </h1>
        </div>

        <div class="row">
            <div class="col">
                <div class="col-box mb-20">
                    <h4>{{ 'app.web.show.location_details.address'|trans }}</h4>
                    <address>
                        {{ (location.address.number ? location.address.number ~ ' ' : '') ~ location.address.street }}
                        {{ location.address.zipCode ~ ' ' ~ location.address.locality }}
                    </address>

                    <div class="m-b-30">
                        <button data-gtm_event="itinerary" data-gtm_event_value="__externalId__" type="button" class="services-button location-button ga-cta" data-type="{{ shop.mapType }}"
                                data-type-google="{{ constant('App\\Entity\\Shop::MAP_TYPE_GOOGLE') }}"
                                data-type-here="{{ constant('App\\Entity\\Shop::MAP_TYPE_HERE') }}"
                                data-show-route="{{ path('app_web_shop_show', {'_locale': app.request.locale, 'slug': location.slug, focusRoute: true}) }}">
                            {{ 'app.web.show.location_details.route'|trans }}
                        </button>
                    </div>
                </div>

                <div class="col-box">
                    <h4>{{ 'app.web.show.location_details.contact'|trans }}</h4>

                    <div class="m-b-15">
                        <p>
                            {{ location.contact.phone }}
                            <a data-gtm_event="call" data-gtm_event_value="__externalId__" href="tel:{{ location.contact.phone }}" class="services-button call-button ga-cta">{{ 'app.web.show.location_details.call'|trans }}</a>
                        </p>
                    </div>

                    <div class="m-b-15">


                        {% if location.externalId == 'kortrijk' %}
                            <div style="float:left">{{ "app.web.show.email"|trans({}, shop.code) }}: <a href="mailto:{{ location.contact.email }}">{{ location.contact.email }}</a></div>
                            <div style="float:left;">&nbsp;&nbsp;|&nbsp;&nbsp;</div>
                            <div style="float:left;">{{ "app.web.show.email_contact"|trans({}, shop.code) }}: <a href="mailto:  info@mddpharma.be">info@mddpharma.be</div>
                        {% else %}

                            <div style="float: left">
                                {% if location.contact.email %}
                                    <a href="mailto:{{ location.contact.email }}">{{ location.contact.email }}</a>
                                {% endif %}
                            </div>
                        {% endif %}
                        {% if Titulaire|length %}
                            <div style="float: left;margin-left: 10px"> | {{ Titulaire }}</div>
                        {% endif %}
                        <div style="clear: both"></div>
                    </div>

                    <div class="button-group">
                        {% if commander|length %}
                            <a class="primary-button btn" href="{{ commander }}" target="_blank" style="display: block">{{ "app.web.show.btn_comander"|trans({}, shop.code) }}</a>
                        {% endif %}
                        {% if ma_prescription|length %}
                            <a class="primary-button btn" href="{{ ma_prescription }}" target="_blank" style="display: block">{{ "app.web.show.btn_prescription"|trans({}, shop.code) }}</a>
                        {% endif %}
                    </div>

                </div>
            </div>

            {% if location.status == 'OPEN' %}
                <div class="col">
                    <div class="col-box">
                        <h4>{{ 'app.web.show.location_details.working_hours.title'|trans }}</h4>

                        {% include 'web/block/location_details/block/open_hours/week.html.twig' %}
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
</div>