{% spaceless %}
    <article>
        <div class="location-summary">
            <h5>__name__</h5>
            <address>__address__</address>
            <span class="location-distance">__distance__ __distance_unit__</span>
            <div class="openings m-b-15 __openClass__">
                <span class="location-label">__openLabel__</span>
                <span class="location-sentence">__openSentence__</span>
            </div>

            <div class="m-b-15">
                <button data-gtm_event="itinerary" data-gtm_event_value="__externalId__" type="button" class="services-button location-button ga-cta" data-type="{{ shop.mapType }}"
                        data-type-google="{{ constant('App\\Entity\\Shop::MAP_TYPE_GOOGLE') }}"
                        data-type-here="{{ constant('App\\Entity\\Shop::MAP_TYPE_HERE') }}"
                        data-latitude="__latitude__"
                        data-longitude="__longitude__"
                        data-show-route="{{ path('app_web_lloydspharma_show', {'_locale': app.request.locale, 'slug': '__slug__', focusRoute: true}) }}">
                    {{ 'app.web.show.near_location.route'|trans }}
                </button>

                <a data-gtm_event="call" data-gtm_event_value="__externalId__" href="tel:__phone__" class="services-button call-button ga-cta">
                    {{ 'app.web.show.near_location.call'|trans }}
                </a>
            </div>

            <a data-gtm_event="impression" data-gtm_event_value="__externalId__" href="{{ path('app_web_lloydspharma_show', {'_locale': app.request.locale, 'slug': '__slug__'}) }}"
               class="search-button ga-cta">{{ 'app.web.home.map.image.results.show'|trans }}</a>
        </div>
    </article>
{% endspaceless %}