{% extends 'web/base/home.html.twig' %}

{% set headerUrl = "https://www.lloydspharma.be/?lang=" ~ app.request.locale ~ "_BE" %}

{% block header %}
    {% autoescape false %}
        {{ remote_content(shop, headerUrl, 'header') }}
    {% endautoescape %}
{% endblock %}

{% block footer %}
    {% autoescape false %}
        {{ remote_content(shop, headerUrl, 'footer') }}
    {% endautoescape %}
{% endblock %}

{% block content %}
    {% for template in templates %}
        {% if template.attribute.block == constant('App\\Entity\\Attribute::BLOCK_MAP') %}
            {% include 'web/shop/' ~ shop.code ~ '/block/map_search_list.html.twig' %}
        {% else %}
            {% include 'web/block/' ~ template.attribute.block ~ '/' ~ template.attributeValue.value ~ '.html.twig' ignore missing %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block stylesheets_custom %}
    {{ encore_entry_link_tags('css/web/shop/' ~ shop.code ~ '/app') }}
{% endblock %}

{% block javascripts_main %}
    {{ encore_entry_script_tags('js/web/shop/' ~ shop.code ~ '/home') }}
{% endblock %}

{% block javascripts_custom %}
    {{ encore_entry_script_tags('js/web/shop/' ~ shop.code ~ '/app') }}
{% endblock %}

{% block javascripts_var %}
    {{ parent() }}

    {# Map Settings for this shop (default are defind in js map folder files, DEFAULT_SETTINGS getter) #}
    <script>
        var globalSettings = {
            map: {
                center: {lat: 50.62313744304004, lng: 5.365809522627387},
                zoom: 10,
            },
            geoLocationCountry: ['BE'],
            query: {
                size: 50,
                radius: 15000,
            },
            marker: {
                icon: '{{ asset('build/images/web/shop/' ~ shop.code ~ '/marker/pin-location-cross.png') }}',
                icon_width: 33,
                icon_height: 46,
            },
        };
    </script>
{% endblock %}
