{% extends 'web/base/show.html.twig' %}

{% set headerUrl = "https://www.lloydspharma.be/?lang=" ~ app.request.locale ~ "_BE" %}

{% block seo_tags %}
    {% set defaultDomain = shop.defaultDomain %}
    {% if defaultDomain %}
        <link rel="canonical" href="{{ app.request.scheme ~ '://' ~ defaultDomain.name ~ path('app_web_lloydspharma_show', {'_locale': defaultDomain.language.code, 'slug': location.slug}) }}"/>

        <link rel="alternate" hreflang="x-default" href="{{ app.request.scheme ~ '://' ~ defaultDomain.name ~ path('app_web_lloydspharma_show', {'_locale': defaultDomain.language.code, 'slug': location.slug}) }}"/>
    {% endif %}

    {% for language, domain in shop.languageDomains %}
        <link rel="alternate" hreflang="{{ language|replace({'_': '-'}) }}" href="{{ app.request.scheme ~ '://' ~ domain ~ path('app_web_lloydspharma_show', {'_locale': language, 'slug': location.slug}) }}"/>
    {% endfor %}
{% endblock %}

{% block header %}
    {% autoescape false %}
        {{ remote_content(shop, headerUrl, 'header') }}
    {% endautoescape %}
{% endblock %}

{% block footer %}
    {% autoescape false %}
        {{ remote_content(shop, headerUrl, 'footer') }}
    {% endautoescape %}
{% endblock %}

{% block content %}
    {#{% include 'web/shop/' ~ shop.code ~ '/block/location_details_with_image.html.twig' %}#}

    {% include 'web/shop/' ~ shop.code ~ '/block/location_details_simple.html.twig' %}
    {% include 'web/shop/' ~ shop.code ~ '/block/location_details_description.html.twig' %}
    {% include 'web/shop/' ~ shop.code ~ '/block/location_details_services.html.twig' %}
    {% include 'web/shop/' ~ shop.code ~ '/block/near_location_simple.html.twig' %}
{% endblock %}

{% block stylesheets_custom %}
    {{ encore_entry_link_tags('css/web/shop/' ~ shop.code ~ '/app') }}
{% endblock %}

{% block javascripts_custom %}
    {{ encore_entry_script_tags('js/web/shop/' ~ shop.code ~ '/app') }}
{% endblock %}

{% block javascripts_var %}
    {{ parent() }}

    <script>
        var globalSettings = {
            near_query: {
                size: 6,
                radius: 200000,
            },
            marker: {
                icon: '{{ asset('build/images/web/shop/' ~ shop.code ~ '/marker/pin-location-cross.png') }}',
                icon_height: 46,
                icon_width: 33
            },
        };
    </script>
{% endblock %}
