$font-path: '../../../../../fonts/shop/mobilosoft-test';

@font-face {
    font-family: 'Open-Sans';
    src: url($font-path + '/OpenSans-Regular.eot');
    src: url($font-path + '/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url($font-path + '/OpenSans-Regular.woff2') format('woff2'),
        url($font-path + '/OpenSans-Regular.woff') format('woff'),
        url($font-path + '/OpenSans-Regular.ttf') format('truetype'),
        url($font-path + '/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open-Sans';
    src: url($font-path + '/OpenSans-Light.eot');
    src: url($font-path + '/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url($font-path + '/OpenSans-Light.woff2') format('woff2'),
        url($font-path + '/OpenSans-Light.woff') format('woff'),
        url($font-path + '/OpenSans-Light.ttf') format('truetype'),
        url($font-path + '/OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open-Sans';
    src: url($font-path + '/OpenSans-Bold.eot');
    src: url($font-path + '/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url($font-path + '/OpenSans-Bold.woff2') format('woff2'),
        url($font-path + '/OpenSans-Bold.woff') format('woff'),
        url($font-path + '/OpenSans-Bold.ttf') format('truetype'),
        url($font-path + '/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FontAwesome';
    src: url($font-path + '/fontawesome-webfont.eot');
    src: url($font-path + '/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
        url($font-path + '/fontawesome-webfont.woff2') format('woff2'),
        url($font-path + '/fontawesome-webfont.woff') format('woff');
        font-display: swap;
}