// Color
$white: #ffffff;
$black: #000000;

$gray: #3b3b3b;
$gray_99: #999999;
$gray_f1: #f1f1f1;

$blue: #02f;
$blue_0e: #0e71b8;

$black_59: #595959;

// Fonts
$Opens_sans_font: 'Open-Sans', sans-serif;
$font-awesome: FontAwesome;

// Image path
$img_path: '../../../../../images/web/shop/mobilosoft-test/';