<header class="header">
  <div class="wrapper">
    <div class="header-content">
      <a href="{{ path('app_web_shop_home', {'_locale':app.request.locale}) }}" class="logo">
        <img src="{{ asset('build/images/web/shop/' ~ shop.code ~ '/logo_blue.svg') }}">
      </a>
    </div>
  </div>
</header>