{% if location.items is defined and location.items[constant('App\\Service\\Api\\Entity\\ItemEntity::TYPE_BANNER')] is defined %}
    <section id="block_details_banners" class="center wrapper">
        {% for itemBanner in location.items[constant('App\\Service\\Api\\Entity\\ItemEntity::TYPE_BANNER')] %}
            <ul class="flex reset radius_6 column-mobile">
                <li class="center wrapper"><h2 class="txt-blue ubuntu weight300 left">{{ itemBanner.contentFacet.title }}</h2>
                    <p class="txt-grey  left reset">{{ itemBanner.contentFacet.longContent }}</p>

                    <footer class="left reset">
                        <a href="{{ itemBanner.callToActionFacet.ctaUrl }}" class="underline txt-blue-light">
                            {{ 'app.web.show.banner.link'|trans({}, shop.code) }}
                        </a>
                    </footer>
                </li>

                <li>
                    <figure class="">
                        {% if itemBanner.assets[0] is defined %}
                            <img src="{{ path('app_web_image_cloudinary_path', {'apiKey': itemBanner.assets[0].cloudName, 'apiPath': itemBanner.assets[0].publicId, 'imageSize': 'w_270'}) }}"
                                 class="radius_6" alt="{{ itemBanner.contentFacet.title }}"/>
                        {% endif %}
                    </figure>
                </li>
            </ul>
        {% endfor %}
    </section>
{% endif %}