<ul class="breadcrumb-carrefour" itemscope itemtype="https://schema.org/BreadcrumbList">
  <li class="icon-arrow-right" itemprop="itemListElement" itemscope
      itemtype="https://schema.org/ListItem">
    <a href="https://carrefour.eu" target="_blank" itemprop="item"><span itemprop="name">Carrefour</span></a>
    <meta itemprop="position" content="1" />
  </li>
  <li class="icon-arrow-right" itemprop="itemListElement" itemscope
      itemtype="https://schema.org/ListItem">
    <a href="{{ path_query('app_web_shop_home') }}" itemprop="item"><span itemprop="name">{{ "app.web.show.breadcrum.back_homepage"|trans({}, shop.code) }}</span></a>
    <meta itemprop="position" content="2" />
  </li>
  <li class="icon-arrow-right" itemprop="itemListElement" itemscope
      itemtype="https://schema.org/ListItem">
    <span itemprop="name">{{ location.name }}</span>
    <meta itemprop="position" content="3" />
  </li>
</ul>