{% if location.items is defined and location.items[constant('App\\Service\\Api\\Entity\\ItemEntity::TYPE_POST')] is defined %}
    <section id="block_details_campaigns" class="center wrapper">
        <h2 class="txt-blue ubuntu weight300 left">{{ "app.web.show.campaigns.title"|trans({'%%locationName%%': location.name}, shop.code) }}</h2>

        <div class="row">
            <div class="col-12">
                <div class="detail-slider">
                    <div class="owl-carousel">
                        {% for itemPost in location.items[constant('App\\Service\\Api\\Entity\\ItemEntity::TYPE_POST')] %}

                            {% set tracking = "storelocator store detail:local content" %}
                            {% if itemPost.itemTypeCategoryLabel == constant('App\\Service\\Api\\Entity\\ItemEntity::TYPE_NATIONAL') %}
                                {% set tracking = "storelocator store detail:national content" %}
                            {% endif %}

                            <div class="item">
                                <ul class="flex center column reset" id="banner_component_regular">
                                    <a href="{{ itemPost.callToActionFacet.ctaUrl }}?eventOrigin={{ tracking }}" target="_blank">
                                        <li class="border-gray-light radius_6" style="height: 400px">
                                            <figure class="custom_radius">
                                                {% if itemPost.assets[0] is defined %}
                                                    <img src="{{ path('app_web_image_cloudinary_path', {'apiKey': itemPost.assets[0].cloudName, 'apiPath': itemPost.assets[0].publicId, 'imageSize': 'h_146'}) }}"
                                                         height="146" alt="{{ itemPost.contentFacet.title }}"/>
                                                {% endif %}
                                            </figure>

                                            <footer>
                                                <span class="title txt-blue">{{ itemPost.contentFacet.title }}</span>
                                                <div class="description txt-grey">
                                                    <div class="content more">
                                                        {{ itemPost.contentFacet.longContent }}
                                                    </div>
                                                </div>
                                            </footer>
                                        </li>
                                    </a>
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="show_more_trans" value="{{ "app.web.show.location_promotions.show_more"|trans }}">
        <input type="hidden" id="show_less_trans" value="{{ "app.web.show.location_promotions.show_less"|trans }}">
    </section>
{% endif %}