<div class="detail-page-main">
    <div class="center wrapper detail-page-map-block">
        <div id="details_map_container" class="detail-page-map"
             data-credentials="{{ shop.mapCredentials }}" data-language="{{ app.request.locale }}"></div>
    </div>

    <div class="detail-main-container">
        <div class="center wrapper">
            <section class="center reset store_details_address" id="storeloc_list">
                <div class="row">
                    <div class="col-12">
                        <div class="row column-992">
                            <div class="col-sm">
                                <ul class="flex center column reset">
                                    <li class="radius_6 full-width bg-grey-light d-flex justify-content-between left-item">
                                        <div class="flex-1 pr-20">
                                            <header class="reset">
                                                <h3 class="left txt-blue-grey">{{ 'app.web.show.details.address'|trans({}, shop.code) }}</h3>
                                                <h4 class="float-left left">
                                                    {{ location.name }}
                                                </h4>
                                            </header>
                                            <p class="full-width txt-grey left reset">
                                                <span>{{ location.address.street }}</span>
                                                <span class="d-block">{{ location.address.zipCode ~ ' ' ~ location.address.locality }}</span>
                                            </p>
                                        </div>

                                        <ul class="flex column left  reset infos ">
                                            <li class="txt-blue-light">
                                                <a  data-gtm_event="itinerary" data-gtm_event_value="__externalId__" class="click-tracking ga-cta" href="https://www.google.com/maps?saddr=My+Location&daddr={{ location.address.latitude }},{{ location.address.longitude }}" target="_blank" data-eventtracking="storelocator store detail:itinerary" data-itineraire="{{ location.address.latitude }},{{ location.address.longitude }}">
                                                    <span class="icon icon-directions" data-eventtracking="storelocator store detail:itinerary"></span>
                                                    <span class="underline" data-eventtracking="storelocator store detail:itinerary">{{ 'app.web.show.details.route'|trans({}, shop.code) }}</span>
                                                    <span class="icon icon-external-link small" data-eventtracking="storelocator store detail:itinerary"></span>
                                                </a>
                                            </li>
                                            <li class="txt-blue-light">
                                                {% if location.contact.phone %}
                                                    <a  data-gtm_event="call" data-gtm_event_value="__externalId__" href="tel:{{ location.contact.phone }}" class="click-tracking ga-cta" data-eventtracking="storelocator store detail:phone">
                                                        <span class="icon icon-phone"></span>
                                                        <span data-eventtracking="storelocator store detail:phone">{{ location.contact.phone }}</span>
                                                    </a>
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                            {% if location.locationExtraData and location.locationExtraData|length %}
                                {% for extraData in location.locationExtraData if extraData.key == 'pick-up-location' %}
                                    <div class="col-4">
                                        <ul class="flex center column reset height-100">
                                            <li class="radius_6 full-width bg-grey-light height-100">
                                                <header class="reset">
                                                    <h3 class="left txt-blue-grey">{{ 'app.web.show.details.withdraw'|trans({}, shop.code) }}</h3>
                                                </header>

                                                <p class="full-width txt-grey left reset weight400 open-sans">{{ extraData.value }}</p>
                                            </li>
                                        </ul>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </section>
        </div>

        {% include 'web/shop/' ~ shop.code ~ '/block/promotions.html.twig' %}

        {% include 'web/shop/' ~ shop.code ~ '/block/campaigns.html.twig' %}

        {#{% include 'web/shop/' ~ shop.code ~ '/block/products.html.twig' %}#}

        {% include 'web/shop/' ~ shop.code ~ '/block/social_media.html.twig' %}

        {% include 'web/shop/' ~ shop.code ~ '/block/banner.html.twig' %}

        {% include 'web/shop/' ~ shop.code ~ '/block/near_location.html.twig' %}
    </div>
</div>
