<!-- Block map + search list -->
<section id="block_map" class="section-map home-page">
    <div class="sidebar">
        <div class="map-search-box">
            <!-- to see search block add class show to search-wrapper-->
            <div id="map_search_block" class="search-wrapper" data-screen="search">
                <header class="header main_title">
                    <h2 class="txt-blue ubuntu center reset weight300">{{ "app.web.home.map.find_store"|trans({}, shop.code) }}</h2>
                </header>

                <p class="center txt-grey reset weight400 search-wrapper-subtitle">{{ "app.web.home.map.find_store_subtitle"|trans({}, shop.code) }}</p>
                <aside id="search_field_store">
                    <form _lpchecked="1">
                        <div class="relative wrapper">
                            <span class="icon icon-localise-me absolute txt-blue-light medium select select-done"
                                  id="map_current_position"></span>
                            <input id="map_search_autocomplete" class="open-sans full-width radius_6 " type="text"
                                   placeholder="{{ "app.web.home.map.autocomplete_placeholder"|trans({}, shop.code) }}"
                                   autocomplete="off">
                            <span id="map_search_reset"
                                  class="icon icon-delete-content-field absolute txt-light-grey select select-done"></span>
                            <label for="Placeholder"
                                   class="txt-grey-light selected-label">{{ "app.web.home.map.autocomplete_placeholder"|trans({}, shop.code) }}</label>
                        </div>
                        <footer class="ptb-20">
                            <!-- <em id="autocomplete_search_info" class="txt-grey-light small">{{ "app.web.home.map.autocomplete_info"|trans({}, shop.code) }}</em> -->
                            <em id="autocomplete_search_error" class="txt-red small"
                                style="display: none">{{ "app.web.home.map.autocomplete_error"|trans({}, shop.code) }}</em>

                            <em id="autocomplete_search_error_geo" class="txt-red small"
                                style="display: none">{{ "app.web.home.map.geolocation_error"|trans({}, shop.code) }}</em>
                        </footer>
                    </form>
                </aside>
            </div>

            <!-- to see results blcok add class show to results-wrapper-->
            <div id="map_search_results_block" class="results-wrapper" data-screen="results">
                <div class="results-mobile-top only-desktop">
                    <div>
                        <header class="top_header block header">
                            <div>
                                <a href="javascript:;" class="back_quick_link float-left medium"
                                   data-change-screen="search">
                                    <span class="icon icon-arrow-left txt-blue-light small"></span>
                                    <span class="back_quick_link_text">{{ "app.web.home.map.back"|trans({}, shop.code) }}</span>
                                </a>
                            </div>
                        </header>
                    </div>

                    <header class="header main_title">
                        <h2 class="txt-blue ubuntu center reset weight300">{{ "app.web.home.map.choose_store"|trans({}, shop.code) }}</h2>
                        <p class="search-value center txt-grey reset weight400 search-wrapper-subtitle"></p>
                    </header>
                </div>

                <div class="filter-block" data-change-screen="filters">
                    <div>
                        <div class="open-filter-block">
                            <div class="open-filter">
                                <span class="icon icon-filtering"></span>
                            </div>
                        </div>
                        <h3>{{ "app.web.home.map.filter"|trans({}, shop.code) }}</h3>
                    </div>
                    <div class="flex-fill d-flex justify-content-end pr-30 pl-10">
                        <div class="badge" data-active-filters>
                            <span></span>
                        </div>
                    </div>
                </div>

                <div class="search-results"
                     data-prototype="{% filter escape %}{% include 'web/shop/' ~ shop.code ~ '/block/map/prototype/open_hours.html.twig' %}{% endfilter %}">
                    <div class="search-results-list">
                        <ul id="storeloc_list"></ul>
                        <em class="no-results-info txt-grey-light small">{{ 'app.web.home.map.no_results'|trans({}, shop.code) }}</em>
                        <div class="custom-loading-block">
                            <div class="sk-circle1 sk-child"></div>
                            <div class="sk-circle2 sk-child"></div>
                            <div class="sk-circle3 sk-child"></div>
                            <div class="sk-circle4 sk-child"></div>
                            <div class="sk-circle5 sk-child"></div>
                            <div class="sk-circle6 sk-child"></div>
                            <div class="sk-circle7 sk-child"></div>
                            <div class="sk-circle8 sk-child"></div>
                            <div class="sk-circle9 sk-child"></div>
                        </div>
                        
                        <div class="search-list-actions hidden-searchlist-footer">
                            <p class="hidden center txt-grey-light ubuntu reset weight300 mb-20 no-results-text">{{ 'app.web.home.map.results'|trans({}, shop.code) }}</p>
                            <div class="center wrapper hide-on-mobile">
                                <button type="button" data-load-more
                                    class="button bg-blue txt-white radius_30 center block primary hidden">{{ 'app.web.home.map.load_more'|trans({}, shop.code) }}
                                </button>
                                <a href="javascript:;" data-change-screen="search"
                                        class="button bg-blue txt-white radius_30 center block primary">{{ 'app.web.home.map.new_search'|trans({}, shop.code) }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="center wrapper results-wrapper-mobile-btn">
                        <a href="javascript:;"
                           class="button bg-blue txt-white radius_30 return-to-results center block primary"
                           data-change-screen="results">
                            {{ 'app.web.home.map.back'|trans({}, shop.code) }}
                        </a>
                    </div>
                </div>
            </div>

            <!-- to see filter add class show to filter-block-results-->
            <div class="filter-block-results" data-screen="filters">
                <div class="filter-results-content">
                    <div class="filter-block-results-header">
                        <header class="top_header block header">
                            <div>
                                <header class="header main_title">
                                    <h2 class="txt-blue ubuntu center reset weight300">{{ "app.web.home.map.filter"|trans({}, shop.code) }}</h2>
                                </header>
                                <div class="badge" data-active-filters>
                                    <span></span>
                                </div>
                                <a href="javascript:;" class="close_link inline-block" data-change-screen="results">
                                    <span class="icon icon-close-cross"></span>
                                </a>
                            </div>
                        </header>
                    </div>

                    <div id="map_search_filters">
                        {% if twigData is defined and twigData['filterContent'] is defined and twigData['filterContent'] %}
                            {{ twigData['filterContent']|raw }}
                        {% endif %}
                    </div>
                </div>

                <div class="save-filter-btn">
                    <a href="javascript:;" data-submit-filters
                       class="button bg-blue txt-white radius_30 center block primary">{{ "app.web.home.map.filter_search"|trans({}, shop.code) }}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="results-mobile-top only-mobile">
            <div>
                <header class="top_header block header">
                    <div>
                        <a href="javascript:;" class="back_quick_link float-left medium"
                           data-change-screen="search">
                            <span class="icon icon-arrow-left txt-blue-light small"></span>
                            <span class="back_quick_link_text">{{ "app.web.home.map.back"|trans({}, shop.code) }}</span>
                        </a>
                    </div>
                </header>
            </div>

            <header class="header main_title">
                <h2 class="txt-blue ubuntu center reset weight300">{{ "app.web.home.map.choose_store"|trans({}, shop.code) }}</h2>
                <p class="search-value center txt-grey reset weight400 search-wrapper-subtitle"></p>
            </header>
        </div>
        <div class="map-container-with-reset">
            <div id="map_container" class="map-container" data-credentials="{{ shop.mapCredentials }}"
                 data-language="{{ app.request.locale }}"
                 data-prototype="{% filter escape %}{% include 'web/shop/' ~ shop.code ~ '/block/map/prototype/info_window.html.twig' %}{% endfilter %}">
                <div id="map_element" class="map-element"></div>
            </div>
            <div class="map-search-options">
                <div class="map-search-options-container">
                    <div class="loading-map-search">
                        <span class="item"></span>
                        <span class="item"></span>
                        <span class="item"></span>
                    </div>
                    <div class="input">
                        <input type="checkbox" id="map_refresh_on_drag"/>
                        <label for="map_refresh_on_drag"></label>
                    </div>
                    <div>
                        <span class="txt-blue ubuntu center reset weight300 selected-text">{{ 'app.web.home.map.search_on_move'|trans({}, shop.code) }}</span>
                        <span class="txt-blue ubuntu center reset weight300 not-selected-text">{{ 'app.web.home.map.search_area'|trans({}, shop.code) }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
