<section id="near_location_block" class="center wrapper" style="display:none!important;">
    <h2 class="txt-blue ubuntu weight300 left">{{ 'app.web.show.near_location.title'|trans({'%%locationName%%': location.name}, shop.code) }}</h2>

    <ul id="storeloc_list" class="flex center column reset stores_around"
        data-url="{{ path('api_get_near_locations_by_slug', {'version': shop.apiVersion, 'slug': location.slug}) }}"
        data-prototype="{% filter escape %}{% include 'web/shop/' ~ shop.code ~ '/block/near_location/summary.html.twig' %}{% endfilter %}"></ul>

    <a id="near_location_button" href="#" class="underline" style="display: none">{{ 'app.web.show.near_location.more'|trans({}, shop.code) }}</a>
</section>