<section class="center wrapper">
    <h2 class="txt-blue ubuntu weight300 left">{{ "app.web.show.products.title"|trans({'%%locationName%%':location.name}, shop.code) }}</h2>
    <div class="row">
        <div class="col-md-4 pb-20">
            <ul class="flex reset radius_6 border-gray-light center" id="product_tile">
                <li class="reset left">
                    <figure class="reset"><img src="https://via.placeholder.com/60x60" alt=""></figure>
                </li>
                <li class="left"><span class="txt-blue">
              <a href="#" class="txt-blue">Lipton Pyramides Thé Vert Mandarin…</a></span>
                    <span class="icon icon icon-cart txt-blue-light "></span>
                </li>
            </ul>
        </div>

        <div class="col-md-4 pb-20">
            <ul class="flex reset radius_6 border-gray-light center" id="product_tile">
                <li class="reset left">
                    <figure class="reset"><img src="https://via.placeholder.com/60x60" alt=""></figure>
                </li>
                <li class="left"><span class="txt-blue">
              <a href="#" class="txt-blue">Carrefour Bio Compote de Pommes …</a></span>
                    <span class="icon icon icon-cart txt-blue-light "></span>
                </li>
            </ul>
        </div>

        <div class="col-md-4 pb-20">
            <ul class="flex reset radius_6 border-gray-light center" id="product_tile">
                <li class="reset left">
                    <figure class="reset"><img src="https://via.placeholder.com/60x60" alt=""></figure>
                </li>
                <li class="left"><span class="txt-blue">
              <a href="#" class="txt-blue">Nutella pot de 750g</a></span>
                    <span class="icon icon icon-cart txt-blue-light "></span>
                </li>
            </ul>
        </div>

        <div class="col-md-4">
            <ul class="flex reset radius_6 border-gray-light center" id="product_tile">
                <li class="reset left">
                    <figure class="reset"><img src="https://via.placeholder.com/60x60" alt=""></figure>
                </li>
                <li class="left"><span class="txt-blue">
              <a href="#" class="txt-blue">Ferrero Rocher Oeuf 500g</a></span>
                    <span class="icon icon icon-cart txt-blue-light "></span>
                </li>
            </ul>
        </div>

        <div class="col-md-4">
            <ul class="flex reset radius_6 border-gray-light center" id="product_tile">
                <li class="reset left">
                    <figure class="reset"><img src="https://via.placeholder.com/60x60" alt=""></figure>
                </li>
                <li class="left"><span class="txt-blue">
              <a href="#" class="txt-blue">Häagen-Dazs Crème glacée Macadamia…</a></span>
                    <span class="icon icon icon-cart txt-blue-light "></span>
                </li>
            </ul>
        </div>

        <div class="col-md-4">
            <ul class="flex reset radius_6 border-gray-light center" id="product_tile">
                <li class="reset left">
                    <figure class="reset"><img src="https://via.placeholder.com/60x60" alt=""></figure>
                </li>
                <li class="left"><span class="txt-blue">
              <a href="#" class="txt-blue">Pommes Pink Lady 6pcs</a></span>
                    <span class="icon icon icon-cart txt-blue-light "></span>
                </li>
            </ul>
        </div>
    </div>
</section>