{% if location.items is defined and (location.items[constant('App\\Service\\Api\\Entity\\ItemEntity::TYPE_FOLDER')] is defined
    or location.items[constant('App\\Service\\Api\\Entity\\ItemEntity::TYPE_NATIONAL')] is defined)
%}
    <section id="block_details_promotions" class="center wrapper">
        <h2 class="txt-blue ubuntu weight300 left">{{ "app.web.show.promotions.title"|trans({'%%locationName%%': location.name}, shop.code) }}</h2>

        <div class="row">
            <div class="col-12">
                <div class="detail-slider">
                    {% if location.items[constant('App\\Service\\Api\\Entity\\ItemEntity::TYPE_FOLDER')] is defined %}
                        <div class="col-4 pull-left" style="float: left">
                            {% for index, itemFolder in location.items[constant('App\\Service\\Api\\Entity\\ItemEntity::TYPE_FOLDER')] if index == 1 %}
                                <div class="item">
                                    <ul class="flex center column" id="banner_component_magazine">
                                        <li class="radius_6 border-gray-light">
                                            <a href="{{ itemFolder.callToActionFacet.ctaUrl }}" class="magazine-img"
                                               target="_blank">
                                                <figure class="reset">
                                                    {% if itemFolder.assets[0] is defined %}
                                                        <img src="{{ path('app_web_image_cloudinary_path', {'apiKey': itemFolder.assets[0].cloudName, 'apiPath': itemFolder.assets[0].publicId, 'imageSize': 'h_126'}) }}"
                                                             alt="{{ itemFolder.contentFacet.title }}"/>
                                                    {% endif %}
                                                </figure>
                                            </a>

                                            <footer>
                                                <a href="{{ itemFolder.callToActionFacet.ctaUrl }}"
                                                   class="txt-blue icones" target="_blank">
                                                    {{ itemFolder.contentFacet.title }}
                                                </a><span class="icon icon-arrow-right txt-blue-light small"></span>
                                            </footer>
                                        </li>
                                    </ul>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if location.items[constant('App\\Service\\Api\\Entity\\ItemEntity::TYPE_NATIONAL')] is defined %}
                        <div class="owl-carousel {% if location.items[constant('App\\Service\\Api\\Entity\\ItemEntity::TYPE_FOLDER')] is defined %}col-8{% else %}col-12{% endif %}" style="float: right">
                            {% for itemNational in location.items[constant('App\\Service\\Api\\Entity\\ItemEntity::TYPE_NATIONAL')] %}
                                <div class="item">
                                    <ul class="flex center column reset" id="banner_component_regular">
                                        <a href="{{ itemNational.callToActionFacet.ctaUrl }}?eventOrigin=storelocator store detail:national content" target="_blank">
                                            <li class="border-gray-light radius_6">
                                                <figure class="custom_radius">
                                                    {% if itemNational.assets[0] is defined %}
                                                        <img src="{{ path('app_web_image_cloudinary_path', {'apiKey': itemNational.assets[0].cloudName, 'apiPath': itemNational.assets[0].publicId}) }}"
                                                             height="256" alt="{{ itemNational.contentFacet.title }}"/>
                                                    {% endif %}
                                                </figure>

                                                <footer>
                                                    <span class="title txt-blue">{{ itemNational.contentFacet.title }}</span>
                                                    <div class="description txt-grey">
                                                        <div class="content more">
                                                            {{ itemNational.contentFacet.longContent }}
                                                        </div>
                                                    </div>
                                                </footer>
                                            </li>
                                        </a>
                                    </ul>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <input type="hidden" id="show_more_trans" value="{{ "app.web.show.location_promotions.show_more"|trans }}">
        <input type="hidden" id="show_less_trans" value="{{ "app.web.show.location_promotions.show_less"|trans }}">
    </section>
{% endif %}