<div class="detail-page-aside">
    <div class="wrapper">
        <div class="detail-page-aside-container">
            <a href="{{ path_query('app_web_shop_home') }}" class="back_quick_link medium return-link click-tracking" data-eventtracking="storelocator store detail:back" data-usestorage="true">
                <span class="icon icon-arrow-left txt-blue-light small"></span>
                {{ 'app.web.show.sidebar.back_link'|trans({}, shop.code) }}
            </a>

            <div class="shop-logo">
                <img src="{{ asset('build/images/web/shop/' ~ shop.code ~ '/logo/logo-' ~ location.brandSlug|default('default') ~ '.svg') }}"
                     alt="{{ location.brandSlug|default('default') }}">
            </div>

            <h2 class="txt-blue ubuntu reset weight300">{{ location.name }}</h2>

            {% include 'web/shop/' ~ shop.code ~ '/block/sidebar/open_hours.html.twig' %}

            {% if location.locationItemIds is defined and location.locationItemIds and ('service.carrefour.store' in location.locationItemIds or 'service.carrefour.car.trunk' in location.locationItemIds) %}
                {% set externalIdDrive = location.externalId %}
                {% set diff = 4 - externalIdDrive|length %}
                {% if diff > 0 %}
                    {% for i in 1..diff %}
                        {% set externalIdDrive = "0"~externalIdDrive %}
                    {% endfor %}
                {% endif %}
                <div class="pt-24">
                    <a data-eventtracking="storelocator store detail:store pick-up" href="{{ 'https://drive.carrefour.eu/' ~ app.request.locale ~'/home?store_ref=' ~ externalIdDrive }}" target="_blank"
                       class="button bg-blue txt-white radius_30 center block primary click-tracking">{{ 'app.web.show.sidebar.details_link'|trans({}, shop.code) }}</a>
                </div>
            {% endif %}

            <div data-url="{{ path('api_get_location_reviews', {'version': shop.apiVersion, 'siteId': location.siteId, 'locationId': location.guid, 'language': app.request.locale}) }}"
                 id="location_reviews_block" data-externalid="{{ location.externalId }}">
                <span class="review-rating"></span>
                <span class="stars-container">★★★★★</span>
                <div>
                    {#<a href="https://www.google.com/search?q={{ location.name }}" target="_blank" class="click-tracking" data-eventtracking="storelocator store detail:google reviews">#}
                        <span data-eventtracking="storelocator store detail:google reviews"><span class="review-count"></span> {{ 'app.web.show.sidebar.reviews'|trans({}, shop.code) }}</span>
                        <!-- <span class="icon icon-external-link small"></span> -->
                    {#</a>#}
                </div>

                {#<div class="reviews-overlay">#}
                    {#<div class="reviews-content" id="location_reviews_content">#}
                        {##}
                    {#</div>#}
                {#</div>#}

            </div>



            <aside id="services_section" class="pt-24">
                <div id="accordion">
                    {% if location.services is defined and location.services %}
                        {% for serviceGroup, services in location.services %}
                            <div class="card">
                                <div class="card-header click-tracking-service" data-eventtracking="storelocator store detail:service" data-eventloop="{{ loop.index }}">
                                    <h3 class="mb-0">
                                        <button data-eventtracking="storelocator store detail:service" type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_service_{{ loop.index }}"
                                                aria-controls="collapse_service_{{ loop.index }}" aria-expanded="false" data-eventloop="{{ loop.index }}">
                                            {{ serviceGroup }}
                                        </button>
                                    </h3>
                                </div>

                                <div id="collapse_service_{{ loop.index }}" class="collapse">
                                    <div class="card-body">
                                        <ul class="left flex column reset">
                                            {% for serviceData in services %}
                                                {#<a href="#" class="txt-grey">#}
                                                    <li>
                                                        {#<img src="{{ path('app_web_image_cloudinary', {
                                                            'apiKey': shop.apiKey,
                                                            'id': serviceData.icon,
                                                            'imageSize': 'w_22',
                                                            'defaultImage': asset('build/images/web/one-pixel.png')
                                                        }) }}" alt="{{ serviceData.contentFacet.title }}"/>#}
                                                        <span class="d-contents">{{ serviceData.contentFacet.title }}</span>
                                                    </li>
                                                {#</a>#}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </aside>
        </div>
    </div>
</div>
