{% set instagramUrl = "https://www.instagram.com/carrefourbelgium/" %}
{% set facebookUrl = "https://www.facebook.com/Carrefourbe/" %}
{% if location.locationExtraData and location.locationExtraData|length %}
    {% for extraData in location.locationExtraData if extraData.key == 'special-facebook-url' %}
        {% set facebookUrl = extraData.value %}
    {% endfor %}
{% endif %}

<section class="center wrapper">
    <aside class="center bg-grey-light radius_6" id="stay_connected">
        <header>
            <h2 class="left txt-blue ubuntu weight300">{{ "app.web.show.social_media.title"|trans({}, shop.code) }}</h2>
        </header>

        <ul class="flex reset radius_6 column-mobile">
            <a href="{{ instagramUrl }}" class="block bg-white radius_6 click-tracking" target="_blank" data-eventtracking="storelocator store detail:instagram">
                <li class="flex left">
                    <figure class="reset"><img
                                src="https://cdn-mkt.be.carrefour.eu/free-html/solomo_EB-19253/img/social-instagram.svg">
                    </figure>
                    <span class="txt-blue-light" data-eventtracking="storelocator store detail:instagram">{{ "app.web.show.social_media.instagram"|trans({}, shop.code) }}</span>
                </li>
            </a>

            <a href="{{ facebookUrl }}" class="block bg-white radius_6 click-tracking" data-eventtracking="storelocator store detail:facebook" target="_blank">
                <li class="flex left">
                    <figure class="reset"><img
                                src="https://cdn-mkt.be.carrefour.eu/free-html/solomo_EB-19253/img/social-facebook.svg">
                    </figure>
                    <span class="txt-blue-light" data-eventtracking="storelocator store detail:facebook">{{ "app.web.show.social_media.facebook"|trans({}, shop.code) }}</span>
                </li>
            </a>
        </ul>
    </aside>
</section>