
{% set currentRoute = app.request.attributes.get('_route') %}
{% if currentRoute == 'app_web_shop_home' %}
    {% set pageName = "storelocator search" %}
{% elseif location is defined %}
    {% set pageName = "storelocator store detail" %}

    {% set externalIdDrive = location.externalId %}
    {% set diff = 4 - externalIdDrive|length %}
    {% if diff > 0 %}
        {% for i in 1..diff %}
            {% set externalIdDrive = "0"~externalIdDrive %}
        {% endfor %}
    {% endif %}

{% endif %}


{% set currentUrl = url(currentRoute,
    app.request.attributes.get('_route_params')|merge({'_locale':'fr'}) ) %}

{% if pageName is defined %}
<script language="JavaScript">
    digitalData = window.digitalData || {};
    digitalData.page={
        "pageInfo":{

            "pageName":"{{ pageName }}",
            "pageType":"storelocator",
            "language":"{{ app.request.locale }}",

            "pageURL":"{{ currentUrl }}",

            "pageError":"" //the error(s) shown to the customer
        },
        "pageHierarchy":{
        "pageHierarchy1":"storelocator"
        }
    };

    {% if location is defined %}
        digitalData.store = digitalData.store || {}
        digitalData.store.id = "{{ externalIdDrive }}";
    {% endif %}

</script>
{% endif %}