{% if appEnv!="prod" %}
    {% set appEnvTracking = "QA" %}
{% else %}
    {% set appEnvTracking = "PROD" %}
{% endif %}

{% set layerIncomplete = false %}

{% set currentRoute = app.request.attributes.get('_route') %}
{% if currentRoute == 'app_web_shop_home' %}
{% else %}
    {% set layerIncomplete = true %}
{% endif %}
<script language="JavaScript">
    digitalData = window.digitalData || {};
    digitalData.environment="{{ appEnvTracking }}";
    digitalData.siteType = "STORELOCATOR";
    {% if layerIncomplete %}
        digitalData.dataLayerIncompleteOnDomReady = true;
    {% endif %}
</script>