<footer class="footer">
  <div class="footer-container">
    <div class="footer-item">
      <div class="img-block">
        <img src="{{ asset('build/images/web/shop/refinerylab-us/phone-alt-solid.svg') }}" alt="phone logo"></a>
      </div>
      <div class="info">
        <h2>Any questions?</h2>
        <p>
          <a href="tel:+61 432 467 032">+61 432 467 032</a>
          <a href="tel:+1 720 319 7860 ">+1 720 319 7860 </a>
        </p>
      </div>
    </div>

     <div class="footer-item">
      <div class="img-block">
        <img src="{{ asset('build/images/web/shop/refinerylab-us/home-solid.svg') }}" alt="home logo"></a>
      </div>
      <div class="info">
        <h2>9-11 Harris Street</h2>
        <p>
          Pyrmont, NSW 2009 Australia
        </p>
      </div>
    </div>

     <div class="footer-item">
      <div class="img-block">
        <img src="{{ asset('build/images/web/shop/refinerylab-us/envelope-regular.svg') }}" alt="envelope logo"></a>
      </div>
      <div class="info">
        <p>
          info @ RefineryLab.com
        </p>
      </div>
    </div>
  </div>
</footer>