<header class="header">
  <div class="header-top">
    <a class="logo" href="#">
      <img src="{{ asset('build/images/web/shop/refinerylab-us/RL-White-Logo.png') }}" alt="refinerylab logo"></a>
    <div class="burger-btn">
      <span></span>
    </div>
  </div>
  <ul class="menu-header">
    <li class="menu-item">
        <a class="menu-link" href="#">What We Do</a>
    </li>
    <li class="menu-item">
        <a class="menu-link" href="#">Team</a>
    </li>
    <li class="menu-item">
        <a class="menu-link" href="#">Portfolio</a>
    </li>
    <li class="menu-item">
        <a class="menu-link" href="#">Perspectives</a>
    </li>
    <li class="menu-item">
        <a class="menu-link" href="#">Get Started</a>
    </li>
  </ul>

</header>