{% spaceless %}
    <div class="info-window-block">
        <div class="location-summary">
            <div class="location-summary-block">
                <h5>__name__</h5>

                <address>__address__</address>

                <span class="phone-number"><i class="fa fa-phone"></i>__phone__</span>

                <div class="open-close-box">
                    <div class="open-box __openClass__">
                        <span class="open-label">__openLabel__</span>
                        <span class="open-sentence">__openSentence__</span>
                    </div>
                    <div class="small-schedule">
                        <table class="table-schedule"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endspaceless %}