$font-path: '../../../../../fonts/shop/pv-be';

@font-face {
    font-family: 'open sans';
    src: url($font-path + '/opensans-regular-webfont.eot');
    src: url($font-path + '/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url($font-path + '/opensans-regular-webfont.woff2') format('woff2'),
         url($font-path + '/opensans-regular-webfont.woff') format('woff'),
         url($font-path + '/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'open sans';
    src: url($font-path + '/opensans-bold-webfont.eot');
    src: url($font-path + '/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url($font-path + '/opensans-bold-webfont.woff2') format('woff2'),
         url($font-path + '/opensans-bold-webfont.woff') format('woff'),
         url($font-path + '/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'open sans';
    src: url($font-path + '/opensans-light-webfont.eot');
    src: url($font-path + '/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url($font-path + '/opensans-light-webfont.woff2') format('woff2'),
         url($font-path + '/opensans-light-webfont.woff') format('woff'),
         url($font-path + '/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'fontawesome-alloyalloy';
    src: url($font-path + '/fontawesome-alloy.eot');
    src: url($font-path + '/fontawesome-alloy.eot?#iefix') format('embedded-opentype'),
         url($font-path + '/fontawesome-alloy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}
