.icon-reorder {
  font-family: $font-alloy;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-decoration: inherit;
  text-transform: none;

  &:before {
    content:"\f0c9";
    display: inline-block;
    speak: none;
    text-decoration: inherit;
  }
}