body {
  font-weight: 400;
  font-family: $Open_sans_font;
  text-rendering: optimizeLegibility;
  color: $gray;
}

* {
  font-family: $Open_sans_font;
  font-weight: 400;
}

a {
    text-decoration: none;
}

h2 {
  font-size: 30px;
  font-weight: 100;
  line-height: 36px;
  margin-bottom: 30px;
  color: $red;

  strong {
    color: $red;
  }
}

h4 {
  color: $red;
}
