// Color
$white: #ffffff;
$black: #000000;
$tr: transparent;

$gray: #555555;
$gray_nav: #646567;
$gray_ee: #eeeeee;
$gray_dark: #5d4d4d;

$red: #b30135;
$red_hover: #af002c;
$dark_red: #b20738;

$yellow: #f2791f;

$blue: #6382bb;
$blue_hover: #7193d4;

// Fonts
$Open_sans_font: 'open sans', sans-serif;
$font-alloy: 'fontawesome-alloyalloy';

// Image path
// $img_path: '../../../../../images/web/shop/covid-solidarity/';