.ui-menu {
  &.ui-widget-content {
    width: 261px;
    background-color: $lite_color;
    z-index: 1000;
    border-radius: 2px;
    border-top: 1px solid #d9d9d9;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }

  .ui-menu-item {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    line-height: 14px;
    text-align: left;
    font-size: 11px;
    border-top: 1px solid #e6e6e6;

    .ui-menu-item-wrapper {
      display: flex;
      padding: 4px;
      width: 100%;
      border-color: #e6e6e6 transparent transparent transparent;
      align-items: center;
      color: #999;

      b {
        display: contents;
      }

      &:before {
        content: '';
        width: 15px;
        min-width: 15px;
        height: 20px;
        margin-right: 7px;
        margin-top: 6px;
        display: inline-block;
        vertical-align: top;
        background-image: url('#{$img_path}web/block/map/autocomplete-icons.png');
        background-size: 34px;
        background-position: -1px -161px;
      }

      &.ui-state-active, &:hover {
        background-color: #fafafa;
        color: darken(#999, 20);
        border-right-color: transparent;
        border-left: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
      }
    }
  }
}