{% extends 'web/base/home.html.twig' %}

{% set countryCode = 'be' %}
{% set langCode = app.request.locale %}
{% if langCode|split('_')|length == 2 %}
    {% set countryCode = langCode|split('_')|last|lower %}
    {% set langCode = langCode|split('_')|first %}
{% endif %}

{% block header %}
    {% autoescape false %}
        {{ remote_content(shop, 'https://www.lolaliza.com/' ~ countryCode ~ '-' ~ langCode ~ '/storeLocator?n-r=true', 'header') }}
    {% endautoescape %}
{% endblock %}

{% block footer %}
    {% autoescape false %}
        {{ remote_content(shop, 'https://www.lolaliza.com/' ~ countryCode ~ '-' ~ langCode ~ '/storeLocator?n-r=true', 'footer') }}
    {% endautoescape %}
{% endblock %}

{% block content %}

    {% set twigData = {'filterDynamic': true} %}

    {% include 'web/shop/lolaliza-be/block/map_search_list.html.twig' %}
    {% include 'web/shop/lolaliza-be/block/locations_with_search.html.twig' %}
{% endblock %}

{% block stylesheets_custom %}
    {{ encore_entry_link_tags('css/web/shop/'~shop.code~'/home') }}
{% endblock %}

{% block javascripts_custom %}
    {{ encore_entry_script_tags('js/web/shop/' ~ shop.code ~ '/app') }}
{% endblock %}

{% block javascripts_var %}
    {{ parent() }}

    {# Map Settings for this shop (default are defind in js map folder files, DEFAULT_SETTINGS getter) #}
    <script>
        var globalSettings = {
            map: {
                center: {lat: 50.62313744304004, lng: 5.365809522627387},
                zoom: 10,
            },
            defaultGeolocationSearch: true,
            geoLocationCountry: ['BE', 'LU', 'FR'],
            query: {
                size: 100,
                radius: 30000,
            },
            marker: {
                icon: '{{ asset('build/images/web/shop/lolaliza-be/marker-corai.png') }}',
                icon_width: 21,
                icon_height: 33,
            },
            mapZoomMobile: false,
            refreshControlMobile: false,
        };
    </script>
{% endblock %}
