{% extends 'web/base/show.html.twig' %}

{% set countryCode = 'be' %}
{% set langCode = app.request.locale %}
{% if langCode|split('_')|length == 2 %}
    {% set countryCode = langCode|split('_')[1]|lower %}
    {% set langCode = langCode|split('_')[0] %}
{% endif %}
{% block body_class %}detail-page{% endblock %}

{% block header %}
    {% autoescape false %}
        {{ remote_content(shop, 'https://www.lolaliza.com/'~ countryCode ~ '-' ~ langCode ~ '/storeLocator?n-r=true', 'header') }}
    {% endautoescape %}
{% endblock %}

{% block footer %}
    {% autoescape false %}
        {{ remote_content(shop, 'https://www.lolaliza.com/' ~ countryCode ~ '-' ~ langCode ~ '/storeLocator?n-r=true', 'footer') }}
    {% endautoescape %}
{% endblock %}

{% block content %}
   {% set twigData = {'showSocials': false, 'showBreadcrumb': 0} %}

    {% for template in templates %}
        {% if template.attribute.block == constant('App\\Entity\\Attribute::BLOCK_NEAR_LOCATION') %}
            {% include 'web/shop/lolaliza-be/block/near_location_simple.html.twig' %}
        {% else %}
            {% include 'web/block/' ~ template.attribute.block ~ '/' ~ template.attributeValue.value ~ '.html.twig' ignore missing %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block stylesheets_custom %}
    {{ encore_entry_link_tags('css/web/shop/' ~ shop.code ~ '/show') }}
{% endblock %}

{% block javascripts_custom %}
    {{ encore_entry_script_tags('js/web/shop/' ~ shop.code ~ '/app') }}
{% endblock %}

{% block javascripts_var %}
    {{ parent() }}

    <script>
        var globalSettings = {
            near_query: {
                size: 6,
                radius: 200000
            },
            marker: {
                icon: '{{ asset('build/images/web/shop/lolaliza-be/marker-corai.png') }}',
                icon_width: 21,
                icon_height: 33,
            },
            geoLocationCountry: ['BE', 'LU', 'FR'],
        };
    </script>
{% endblock %}
