<!-- Block location promotions + slideshow -->
<section id="block_location_promotions" class="section-location-promotions" style="display: none">
    {% if location.items and location.items[constant('App\\Service\\Api\\Entity\\ItemEntity::TYPE_NATIONAL')] is defined  %}
        <div class="promotions-block">
            <div class="wrapper">
                <h2>{{ "app.web.show.campaigns.title"|trans({'%%locationName%%': location.name}, shop.code) }}</h2>

                <div class="promotions-slide">
                    {% for servicePromotion in location.items[constant('App\\Service\\Api\\Entity\\ItemEntity::TYPE_NATIONAL')] %}
                        <article itemscope itemtype="http://schema.org/Product">
                            <div class="slide-image">
                                {% if servicePromotion.assets[0] is defined %}
                                    <img src="{{ path('app_web_image_cloudinary_path', {'apiKey': servicePromotion.assets[0].cloudName, 'apiPath': servicePromotion.assets[0].publicId}) }}"
                                          alt="{{ servicePromotion.contentFacet.title }}"/>
                                {% endif %}
                            </div>

                            <div class="slide-content">
                                <div class="content-description">
                                    {% if  servicePromotion.priceFacet.price is defined %}
                                        <div class="prices-promo">
                                            <span>{{ servicePromotion.priceFacet.price }}€</span>
                                            {% if servicePromotion.priceFacet.priceOld %}
                                                <strong>{{ servicePromotion.priceFacet.priceOld }}€</strong>
                                            {% endif %}
                                        </div>
                                    {% endif %}

                                    <h3 itemprop="name">{{ servicePromotion.contentFacet.title }}</h3>

                                    <p itemprop="description" class="show-more-text">{{ servicePromotion.contentFacet.longContent }}</p>
                                </div>

                                <a href="{{ servicePromotion.callToActionFacet.ctaUrl ? servicePromotion.callToActionFacet.ctaUrl : '#' }}" class="info-button">
                                    {{ 'app.web.show.location_promotions.info_button'|trans }}
                                </a>

                                <meta itemprop="identifier" content="{{ servicePromotion.externalId }}"/>
                                <meta itemprop="image" content="{{ url('app_web_image_cloudinary_path', {'apiKey': servicePromotion.assets[0].cloudName, 'apiPath': servicePromotion.assets[0].publicId})
                                 }}"/>
                                <meta itemprop="brand" content="{{ location.brand }}"/>
                                <meta itemprop="category" content="{{ servicePromotion.itemTypeCategoryLabel }}"/>
                                <meta itemprop="url" content="{{ servicePromotion.callToActionFacet.ctaUrl }}"/>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </div>
        <input type="hidden" id="show_more_trans" value="{{ "app.web.show.campaigns.show_more"|trans({}, shop.code) }}">
        <input type="hidden" id="show_less_trans" value="{{ "app.web.show.campaigns.show_less"|trans({}, shop.code) }}">
    {% endif %}
</section>
