<div class="block-inline">
    <table class="schedule schedule-half">
        {% for weekDay in 1..7 %}
            <tr class="{% if openHours.currentWeekDay == weekDay %}active{% endif %}">
                <th>{{ ('app.web.global.open_hours.days.' ~ weekDay)|trans }}</th>
                <td>
                    {% if openHours.weekOpenHours[weekDay] is defined %}
                        {% for weekOpenHour in openHours.weekOpenHours[weekDay]|sort((a, b) => a.openTime <=> b.openTime) %}
                            {{ weekOpenHour.openTimeFormat }}
                            {{ ' - ' }}
                            {{ weekOpenHour.closeTimeFormat }}
                            {% if loop.length > 1 and not loop.last %}{{ ' ' ~ openHoursSeparator ~ ' ' }}{% endif %}
                        {% endfor %}
                    {% else %}
                        <span class="warning">{{ 'app.web.global.open_hours.days.closed'|trans }}</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    {# Exceptions #}
    <div class="shedule-exception">
        <div class="title-exception is-open">{{ 'app.web.global.open_hours.exceptions.open'|trans }}</div>
        {% if openHours.specialHours.open|length %}
            {% for specialOpenHour in openHours.specialHours.open %}
                <p>{{ specialOpenHour }}</p>
            {% endfor %}
        {% endif %}

        <div class="title-exception is-closed m-t-5">{{ 'app.web.global.open_hours.exceptions.closed'|trans }}</div>
        {% if openHours.specialHours.closed|length %}
            {% for specialClosedHour in openHours.specialHours.closed %}
                <p>{{ specialClosedHour }}</p>
            {% endfor %}
        {% endif %}
    </div>
</div>
