<div class="block-inline">
    <table class="schedule schedule-full">
        {% for dayNumber in 1..7 %}
            {% set weekDay = openHours.currentWeekDay + dayNumber - 1 %}
            {% if weekDay > 7 %}
                {% set weekDay = weekDay - 7 %}
            {% endif %}

            <tr class="{% if openHours.currentWeekDay == weekDay %}active{% endif %}">
                <th>{{ ('app.web.global.open_hours.days.' ~ weekDay)|trans }}</th>
                <td>
                    {% if openHours.weekSpecialHours[weekDay] is defined %}
                        {% if openHours.weekSpecialHours[weekDay].closed %}
                            <span class="warning">{{ 'app.web.global.open_hours.days.closed'|trans }}</span>
                            {{ ' (' ~ 'app.web.global.open_hours.exceptions.closed'|trans ~ ')' }}
                        {% else %}
                            {{ openHours.weekSpecialHours[weekDay].openTimeFormat }}
                            {{ ' - ' }}
                            {{ openHours.weekSpecialHours[weekDay].closeTimeFormat }}
                            {% if openHours.weekSpecialHours[weekDay].additionalOpenTime and openHours.weekSpecialHours[weekDay].additionalCloseTime %}
                                {{ ' ' ~ openHoursSeparator ~ ' ' }}
                                {{ openHours.weekSpecialHours[weekDay].additionalOpenTimeFormat }}
                                {{ ' - ' }}
                                {{ openHours.weekSpecialHours[weekDay].additionalCloseTimeFormat }}
                            {% endif %}
                            {{ ' (' ~ 'app.web.global.open_hours.exceptions.open'|trans ~ ')' }}
                        {% endif %}
                    {% elseif openHours.weekOpenHours[weekDay] is defined %}
                        {% for weekOpenHour in openHours.weekOpenHours[weekDay]|sort((a, b) => a.openTime <=> b.openTime) %}
                            {{ weekOpenHour.openTimeFormat }}
                            {{ ' - ' }}
                            {{ weekOpenHour.closeTimeFormat }}
                            {% if loop.length > 1 and not loop.last %}{{ ' ' ~ openHoursSeparator ~ ' ' }}{% endif %}
                        {% endfor %}
                    {% else %}
                        <span class="warning">{{ 'app.web.global.open_hours.days.closed'|trans }}</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>