$font-path: '../../../../../fonts/shop/lloydspharma-be';


@font-face {
  font-family: 'lloyds_sanslight';
  src: url($font-path + '/LloydsSans-Light.eot');
  src: url($font-path + '/LloydsSans-Light.eot?#iefix') format('embedded-opentype'),
      url($font-path + '/LloydsSans-Light.woff2') format('woff2'),
      url($font-path + '/LloydsSans-Light.woff') format('woff'),
      url($font-path + '/LloydsSans-Light.ttf') format('truetype'),
      url($font-path + '/LloydsSans-Light.svg#LloydsSans-Light') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'lloyds_sansbold';
  src: url($font-path + '/LloydsSans-Bold.eot');
  src: url($font-path + '/LloydsSans-Bold.eot?#iefix') format('embedded-opentype'),
      url($font-path + '/LloydsSans-Bold.woff2') format('woff2'),
      url($font-path + '/LloydsSans-Bold.woff') format('woff'),
      url($font-path + '/LloydsSans-Bold.ttf') format('truetype'),
      url($font-path + '/LloydsSans-Bold.svg#LloydsSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'streamline';
  src: url($font-path + '/streamline.eot?ywm1r2');
  src: url($font-path + '/streamline.eot?ywm1r2#iefix') format("embedded-opentype"), 
  url($font-path + '/streamline.ttf?ywm1r2') format("truetype"), 
  url($font-path + '/streamline.woff?ywm1r2') format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Glyphicons-halflings';
  src: url($font-path + '/glyphicons-halflings-regular.eot');
  src: url($font-path + '/glyphicons-halflings-regular.eot?#iefix') format("embedded-opentype"), 
  url($font-path + '/glyphicons-halflings-regular.woff') format("woff"), 
  url($font-path + '/glyphicons-halflings-regular.ttf') format("truetype");
}