.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;

  @media (min-width: 768px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

body,
* {
  font-family: $lloyds_sanslight;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.mb-20 {
  margin-bottom: 20px;
}

.clearfix:before, 
.clearfix:after, 
.dl-horizontal dd:before, 
.dl-horizontal dd:after, 
.container:before, 
.container:after, 
.container-fluid:before, 
.container-fluid:after, 
.row:before, 
.row:after, 
.form-horizontal 
.form-group:before, 
.form-horizontal 
.form-group:after, 
.btn-toolbar:before, 
.btn-toolbar:after, 
.btn-group-vertical > .btn-group:before, 
.btn-group-vertical > .btn-group:after, 
.nav:before, 
.nav:after, 
.navbar:before, 
.navbar:after, 
.navbar-header:before, 
.navbar-header:after, 
.navbar-collapse:before, 
.navbar-collapse:after, 
.pager:before, 
.pager:after, 
.panel-body:before, 
.panel-body:after, 
.modal-footer:before, 
.modal-footer:after, 
.tabs .tabs-list:before, 
.tabs .tabs-list:after, 
.no-space .row:before, 
.no-space .row:after, 
.product-listing.product-grid:before, 
.product-listing.product-grid:after {
  content: " ";
  display: table;
  clear: both;
}


[class^="streamline-"], [class*=" streamline-"] {
  font-family: $streamline !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.streamline-facebook:before {
  content: "\e68";
}

.streamline-instagram:before {
  content: "\e69";
}

.streamline-youtube:before {
  content: "\e66";
}

.streamline-user:before {
  content: "\e614";
}

.toggle-search:before {
  content: '\e601';
  font-family: $streamline;
  display: inline-block;
  vertical-align: middle;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: $glyphicons;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}