#location-page {
    position: static;
}

.header-top-title {
    // &+.col-md-12  {
    //    padding-right: 0;
    //    padding-left: 0;

    //    .row {
    //         margin-left: 0;
    //         margin-right: 0;

    //         .col-md-6 {
    //             max-width: 100%;
    //             width: 100%;
    //             flex: 1;
    //         }
    //    }
    // }

    .top-title {
        font-size: 1.875rem;
        color: #40474f;
        display: block;
        text-transform: none;
        line-height: 1.75rem;
        letter-spacing: normal;
        background-color: transparent;
    }
}

.image-block {
  img {
  width: 100%;
  }

  .inviter_amis {
    width: 189px;
    height: 176px;
    background: url(/build/images/web/shop/leondebruxelles-fr/invite_amis.png) center top no-repeat;
    box-sizing: border-box;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    color: #9a958e;
    padding: 80px 0 0 0;
    display: block;
    margin: -72px auto 0 auto;
    position: relative;

  b {
    font-weight: normal;
    font-family: $shop-font-bree-regular;
    font-size: 18px;
    color: #504c46;
    display: block;
  }
  }
}

.map-description {
  margin-left: 0;
  @include media-breakpoint-down(xs) {
    position: relative;
  }

  @media only screen and (max-width: 640px) {
  padding: 0;
  }

  .row {
    align-items: center;
    @include media-breakpoint-down(sm) {
      margin-left: 0;
      margin-right: 0;
    }

    .col-md-8 {
      .row {
        .col-md-6 {
          @include media-breakpoint-down(xs) {
            margin-bottom: 20px;
            position: static;
          }
          @include media-breakpoint-only(sm) {
            position: relative;
            margin-bottom: 20px;
          }

          &:last-child {
            @include media-breakpoint-down(xs) {
              margin-bottom: 0;
            }
            &:after {
              display: none;
            }
          }

          &:after {
           @include media-breakpoint-only(sm) {
            content:'';
            width: 1px;
            height: 100%;
            position: absolute;
            background-color: #e5e5e5;
            top: 0;
            right: 0;
          }
        }
      }
    }
  }
  }

  .adresse_store {
    color: #333;

    @media only screen and (max-width: 640px) {
      margin-left: -15px;
      margin-right: -15px;
    }
    .content_adresse {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      margin-bottom: 16px;

      @include media-breakpoint-down(xs) {
        text-align: center;
      }
    }

    h3 {
      font-size: 1rem;
      margin: 0;
      padding: 0 0 .5rem 0;
      line-height: .75rem;
      font-family: $shop-font-bree-regular;
      font-weight: normal;
      @include media-breakpoint-down(xs) {
        display: none;
      }
    }

    p {
      margin: 0;
      padding: 0 20px 0 0;
      line-height: 1.5rem;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      font-family: $shop-font-bree-light;

      @include media-breakpoint-down(xs) {
        text-align: center;
        padding: 0;
      }
    }

    .btn-container {
      @include media-breakpoint-up(md) {
        display: flex;
      }
       @include media-breakpoint-down(xs) {
        display: none;
       }

      .btn {
        background-color: #4e9c34;
        font-family: $shop-font-bree-light;
        padding: 0.5rem 0.95rem;
        margin-right: 8px;
        border-radius: 5px;
        width: auto;

         @include media-breakpoint-down(xs) {
          width: 100%;
          font-size: 16px;
          padding: 13px 0 12px 0;
          border-radius: 2px;
          margin: 0 auto .5rem auto;
          font-weight: 400;
          font-family: $shop-font-bree-regular;
         }

         &.only-desktop {
          @include media-breakpoint-down(sm) {
          display: none;
          }

          @include media-breakpoint-up(md) {
          display: block;
          }
        }

        &.only-mobile {
          @include media-breakpoint-down(sm) {
          display: inline-block;
          }

          @include media-breakpoint-up(md) {
          display: none;
          }
        }

        &:last-child {
          margin-right: 0;
          @include media-breakpoint-down(xs) {
            margin-right: auto;
          }
        }
        &.btn-secondary {
          background-color: #262460;
        }
      }
    }

    .btn-container_livration {

    margin-top: 20px;

    @include media-breakpoint-up(md) {
      display: flex;
    }
    @include media-breakpoint-down(xs) {
      display: none;
    }

    .btn {
      background-color: #FAAE00;
      font-family: $shop-font-bree-light;
      padding: 0.5rem 0.95rem;
      margin-right: 8px;
      border-radius: 5px;

      text-align: center;

      @include media-breakpoint-down(xs) {
      width: 100%;
      font-size: 16px;
      padding: 13px 0 12px 0;
      border-radius: 2px;
      margin: 0 auto .5rem auto;
      font-weight: 400;
      font-family: $shop-font-bree-regular;
      }

    }
    }
  }

  .content_2 {
   border-left: 1px solid #e5e5e5;
   padding-left: 40px;
   font-size: 14px;
   line-height: 20px;
   font-family: $shop-font-bree-light;
   color: #333333;

   @include media-breakpoint-down(xs) {
      padding-left: 0;
      border: none;
      text-align: center;
   }
   @include media-breakpoint-only(sm) {
      border: none;
      padding-left: 0;
      border: none;
      padding-top: 16px;
   }
   @media only screen and (max-width: 640px) {
      margin-left: -15px;
      margin-right: -15px;
    }
   @include media-breakpoint-between(md, lg) {
      padding-left: 30px;
  }
  .call_it {
    font-family: $shop-font-bree-regular;
    display: block;
    line-height: 1;
    height: 1.5rem;
    margin: 0 0 1rem 0;
    @include media-breakpoint-down(xs) {
      margin: 0;
    }

    a {
      background: url(/build/images/web/shop/leondebruxelles-fr/icone.png) no-repeat -175px -135px;
      background-size: 200px auto;
      color: #529e3b;
      font-size: 1.125rem;
      padding: 0 0 0 1.875rem;
    }
  }

  h3 {
    margin: 0 0 15px 0;
    padding: 0;
    font-size: 18px;
    line-height: 25px;
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    font-family: $shop-font-bree-light; 
    color: #333;

    span {
      display: block; 
    }
  }

    .cta-commander {
      border-radius: 5px;
      text-align: center;
      text-transform: uppercase;
      margin-top: 20px;
      padding-top: 2px;
      padding-bottom: 10px;
      padding-right: 80px;
      padding-left: 22px;
      width: 100%;

      @include media-breakpoint-down(xs) {
        margin-bottom: 10px;
        margin-top: 17px;
        padding-right: 14px;
        padding-left: 14px;
      }

      @include media-breakpoint-down(md) {
        width: 100%;
        border: none;
      }

      @media only screen and (max-width: 640px) and (min-width: 575.98px) {
        margin-top: 17px;
        margin-bottom: 24px;
      }

      @include media-breakpoint-between(md, lg) {
        width: 100%;
        padding-right: 22px;
        padding-left: 22px;
      }

      .title {
        font-size: 1.125rem;
        font-family: $shop-font-bree-regular;
        color: #f38034;
        margin: 0 0 12px 0;
        padding: 0;
        display: block;
      }

      .btn-container {
        display: flex;
        align-items: center;
        justify-content: center;
        @include media-breakpoint-only(md) {
          flex-wrap: wrap;
        }

        &.one-item {
          .btn {
            flex: 1;
          }
        }

        .btn {
          display: inline-block;
          padding: 0.54rem 0.57rem;
          margin: 0;
          color: #fff;
          text-transform: uppercase;
          font-size: .8125rem;
          font-family: $shop-font-bree-regular;
          border-radius: 5px;
          background-color: #FAAE00;
          margin-right: 12px;

          @include media-breakpoint-down(md) {
            min-width: 47%;
          }

          @include media-breakpoint-only(md) {
            margin-right: 0;
            margin-bottom: 10px;
          }

          &:nth-child(2) {
            margin-right: 0;
          }

          &.btn-secondary {
            background-color: #f38034;
          }
        }
      }
    }
  }
}

.custome-btn-container {
  &.btn-container {
  @include media-breakpoint-up(md) {
    display: flex;
  }
   @include media-breakpoint-down(xs) {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 8px;
    padding-right: 8px;
    z-index: 2;
   }

   &.only-sm {
    @include media-breakpoint-down(xs) {
    display: flex;
    }

    @include media-breakpoint-up(sm) {
    display: none;
    }
   }

  .btn {
    background-color: #4e9c34;
    font-family: $shop-font-bree-light;
    padding: 0.5rem 0.95rem;
    margin-right: 8px;
    border-radius: 5px;
    width: auto;

     @include media-breakpoint-down(xs) {
      width: 100%;
      font-size: 16px;
      padding: 13px 0 12px 0;
      border-radius: 2px;
      margin: 0 auto .5rem auto;
      font-weight: 400;
      font-family: $shop-font-bree-regular;
     }

     &.only-desktop {
      @include media-breakpoint-down(sm) {
      display: none;
      }

      @include media-breakpoint-up(md) {
      display: block;
      }
    }

    &.only-mobile {
      @include media-breakpoint-down(sm) {
      display: inline-block;
      }

      @include media-breakpoint-up(md) {
      display: none;
      }
    }

    &:last-child {
      margin-right: 0;
      @include media-breakpoint-down(xs) {
        margin-right: auto;
      }
    }
    &.btn-secondary {
      background-color: #262460;
    }

    &.btn-third {
      background-color: #FAAE00;
      color: white;
    }
  }
}
}