.evente-point-container {
  padding-top: 60px;
  @include media-breakpoint-down(sm) {
    padding-top: 10px;
  }

  .event-point-title {
    font-size: 36px;
    line-height: 41px;
    font-family: $shop-font-bree-regular;
    text-align: center;
    margin: 0 0 60px 0;
    color: #2a2a2a;

    @include media-breakpoint-down(sm) {
      margin: 0 0 0px 0;
      font-size: 22px;
      line-height: 24px;
      text-align: left;
      padding: 0 25px 0 15px;
      background: url('/build/images/web/shop/leondebruxelles-fr/arrow-down.svg') right center no-repeat;
      display: inline-block;
    }
  }

  .event-list-block {
    @include media-breakpoint-down(sm) {
      display: none;
      padding-top: 15px;
    }

    &.open {
     @include media-breakpoint-down(sm) {
      display: block;
     }
    }
    .event-list-title {
      margin: 0 0 60px 0;
      padding: 30px 0;
      list-style-type: none;
      background-color: #edeff1;
      text-align: center;

      @include media-breakpoint-down(sm) {
        padding: 10px 10px;
        margin: 0 0 27px 0;
      }

      li {
        display: inline-block;
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }

        span {
          font-size: 16px;
          line-height: 19px;
          text-transform: uppercase;
          display: block;
          font-family: $shop-font-bree-light;
          color: #caced0;
        }

        a {
          color: #7e7a79;
          font-size: 16px;
          line-height: 19px;
          text-transform: uppercase;
          display: block;
          font-family: $shop-font-bree-regular;
        }
      }
    }

    .event-list-rezults {
      .rezults-item {
        display: flex;
        align-items: flex-start;
        margin-bottom: 20px;

        @include media-breakpoint-down(sm) {
          margin-bottom: 10px;
        }

        .rezults-item-title {
          font-size: 36px;
          line-height: 41px;
          font-family: $shop-font-humper;
          margin: 0;
          color: #7e7a79;

          @include media-breakpoint-down(sm) {
            font-size: 20px;
            line-height: 24px;
          }
        }

        .rezults-item-block {
          margin-left: 60px;
          display: flex;
          flex-wrap: wrap;
          flex: 1;

          @include media-breakpoint-down(sm) {
            margin-left: 30px;
          }

          .item {
            width: 33.33333%;
            margin-bottom: 50px;

            @include media-breakpoint-down(sm) {
              width: 50%;
              margin-bottom: 24px;
            }

            @media only screen and (max-width: 600px) {
              width: 100%;
            }

            a {
              font-size: 16px;
              line-height: 18px;
              text-decoration: underline;
              color: #2c702e;
              font-family: $shop-font-bree-regular;
            }

            .item-info {
              font-size: 15px;
              line-height: 18px;
              font-family: $shop-font-bree-light;
              color: #274856;
              display: block;
            }
          }
        }
      }
    }
  }
}