@import "../../../base/animations";

$white: white;
$image_path: '../../../images/';
$gray_92: gray;
$tr: transparent;

/*map-search-options*/
.map-search-options {
  background-color: $white;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 8px;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 12px;
  cursor: pointer;
  transform: translate3d(-50%, 0, 0);
  position: absolute;
  z-index: 100;
  left: 50%;
  top: 24px;

  @media only screen and (max-width: 767px) {
    font-size: 13px !important;
    width: 210px;
  }

  &.need-map-refresh {
    @media only screen and (max-width: 767px) {
      width: 150px;
    }
    .not-selected-text {
      display: flex;
    }

    .selected-text {
      display: none;
    }

    .input {
      display: none;
    }
  }

  &.loading {
    @media only screen and (max-width: 767px) {
      width: auto;
    }
    .not-selected-text {
      display: none;
    }

    .selected-text {
      display: none;
    }

    .input {
      display: none;
    }

    .loading-map-search {
      display: flex;
    }
  }

  .selected-text {
    padding-left: 30px;
  }

  .not-selected-text {
    display: none;
    align-items: center;

    &:before {
      content:'';
      width: 20px;
      height: 20px;
      display: inline-block;
      background: url('#{$image_path}web/block/map/refresh-blue.svg') center center no-repeat;
      margin-right: 10px;
      background-size: 82%;
      margin-top: 2px;
    }
  }

  .map-search-options-container {
    position: relative;
  }

  .loading-map-search {
    display: none;
    align-items: center;
    height: 40px;
    padding: 0 20px;

    .item {
      width: 6px;
      height: 6px;
      margin-right: 11px;
      display: inline-block;
      border-radius: 50%;
      background-color: $loader_map_default_color;
      animation-name: mapSearchOptionLoading;
      animation-duration: 0.8s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-fill-mode: both;
      vertical-align: middle;

      &:last-child {
        margin-right: 0;
      }

      &:nth-child(1) {
        animation-delay: -0.3s;
      }

      &:nth-child(2) {
        animation-delay: -0.15s;
      }
    }
  }

  .input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0px;
    display: flex;
    align-items: center;

    input {
      width: 100%;
      height: 100%;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      cursor: pointer;
    }

    input[type=checkbox]:checked + label {
      background: $loader_map_default_color url('#{$image_path}web/block/map/check-white.svg') center center no-repeat;
      background-size: 59%;
      border-color: $loader_map_default_color;
    }

    label {
      position: absolute;
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      background: $tr url('#{$image_path}web/block/map/check-white.svg') center center no-repeat;
      transition: all ease 0.2s;
      background-size: 59%;
      border-radius: 3px;
      border: 1px solid $gray_92;
      position: relative;
      margin: 0px;
    }
  }
}

