.location-items {
  .shop-title-h2 {
    display: block;
    font-size: 24px;
    font-family: $shop-font-humper;
    color: #40474f;
    margin: 0;
    padding: 32px 0 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
  }

  .wrapper {
    background-image: none;
    background-color: #eeecea;
    position: relative;
    padding-top: 27px;
    padding-bottom: 45px;

    &:after {
      content: "";
      height: 12px;
      width: 100%;
      left: 0;
      position: absolute;
      background: url('/build/images/web/shop/leondebruxelles-fr/top-paper-top.png') top;
      top: 0;
    }
  }

  .locations-to-slide {
    @include media-breakpoint-up(md) {
      padding: 0 30px;
    }

    .slider-item-img {
      padding: 0 15px;
      a {
        display: block;

        img {
          margin: 0 auto;
          max-width: 100%;
        }
      }
    }

    .slick-dots {
      right: 0;
    }

    .slick-track {
      margin: 0 -15px;
    }

    .slider-item-title {
      display: none;
    }

    .slider-item-img {
      height: auto;
    }

    .offer-tracking {
      width: 100%;
      margin: 0;

      img {
        width: 90%;
        margin: 0 auto;
      }
    }

    .slick-list {
      padding-bottom: 30px;
    }
  }
}