

.location-item {

  &.itinerary-item {
    padding: 0;
  }
  .btn-group {
    justify-content: flex-start;

    a {
      text-overflow: ellipsis;
      padding-left: 0.5625rem;
      padding-right: 0.5625rem;
      overflow: hidden;
      width: auto;

      &:first-child {
        margin-right: 7px;
        width: auto;
      }
    }

    .btn {
      border-radius: 5px;
      &.btn-secondary {
        background-color: $shop-btn-secondary-bg;
        color: #ffffff;
      }
    }
  }
}

.google-popover {
  .btn-group  {
    .btn {
      font-size: .61rem;
      display: inline-block;
      padding: .5rem;
      border-radius: 2px;
      margin: 0 0 .5rem 0;
      font-family: $shop-font-bree-regular;
    }

    a {
      width: auto;

      &:first-child {
        width: auto;
      }
    }

    &.list {
      padding-top: 7px;
    }
  }

  .location-title, 
  .location-title a {
    width: 192px;
  }

  .bottom-btn-container a {
    margin: 0 .5rem 0 0;
    background-size: 10px;
    padding-left: 13px;
    background-position: left center;
  }
}

.location-title, 
  .location-title a {
    font-family: $shop-font-bree-regular;
    font-weight: 400;
  }

.btn {
  text-transform: uppercase;
  font-family: $shop-font-bree-regular;
  &.btn-secondary {
    background-color: $shop-btn-secondary-bg;
    color: #ffffff;
  }
}

.marker  {
  line-height: 22px;
  font-family: $shop-font-bree-light;
  font-size: 16px;
  font-weight: 500;
}

.location-title a {
  text-transform: uppercase;
}

.lication-more-info {
  font: 600 .8125rem/16px $shop-font-bree-light;
}

.hours-disponible .map-list-open-hours-action,
.map-list-open-hours-action {
    &:after {
      font: normal normal normal 23px/11px FontAwesome;
    }

    &.opened {
      &:after {
        line-height: 31px
      }
    }
}

.location-address,
.hours-disponible a,
.hours-disponible {
  font-size: .75rem;

  .list-phone{
    color: #4e9c34;
    font-family: $shop-font-bree-light;
  }
}

.bottom-btn-container {
  display: flex;

  a {
    text-transform: uppercase;
    color: #4e9c34;
  }
}


.bottom-btn-container a {
  margin-right: 20px;
  background-image: url('/build/images/web/shop/leondebruxelles-fr/icon-more.png');
  background-repeat: no-repeat;
  padding-left: 26px;
}

.bottom-btn-container a.intinerary {
  background-image: url('/build/images/web/shop/leondebruxelles-fr/icon-itineraire.png');
}

.map-list-wrapper {
  // height: 46.875rem;
  @include media-breakpoint-between('sm', 'md') {
    padding: 16px 0;
  }
}

.map-container {
  height: 100%;
  @include media-breakpoint-down('sm') {
    overflow: visible;
    display: flex;
    flex-direction: column;
  }

  .search-form-input-group .btn {
    border-radius: 3px;
    @include media-breakpoint-down('sm') {
      margin-right: 0;
    }
  }

  .search-form-input-group {
    input[type="text"] {
      background-image: url('/build/images/web/shop/leondebruxelles-fr/icone.png');
      background-repeat: no-repeat;
      background-size: 400px auto;
      background-position: 12px 10px;
    }
  }
}
.list-map-area {

  @include media-breakpoint-down('sm') {
    display: none;
  }

  .fyb_map {
    @include size(100%, 46.875rem);
  }

  .geolocation-btn {
    font-family: $shop-font-bree-regular;
    font-size: 16px;
    line-height: 22px;
    padding: 8px 20px;
    top: 72px;
    border-radius: 3px;
  }
}

.checkbox-row {
  display: none;
}

.map-list-body {
  @include media-breakpoint-down('sm') {
    order: 1;
  }

  .geolocation-btn {
    &.mobile-only {
      @include media-breakpoint-up(md) {
        display: none;
      }
      
      @include media-breakpoint-down(sm) {
        display: block;
        position: initial;
        width: 100%;
        font-family: $shop-font-bree-regular;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 18px;
      }
    }
  }
}

.map-list-container {
  @include media-breakpoint-down('sm') {
    box-shadow: none;
    order: 2;

  }

  .slimScrollDiv .slimScrollBar {
    background-color: #999999!important;
    width: 4px !important;
    height: 160px !important;
    border-radius: 7px !important;
  }
}

div.label  {

  margin: 5px;
  text-align: center;
}

