.leondebruxelles-block {
    h2 {
        margin: 0;
        color: #40474f;
        padding: 2.5rem 0rem;
        text-align: center;
        font-weight: normal;
        font-size: 34px;
        font-weight: 400;
        line-height: 34px;
        font-family: $shop-font-bree-regular;

        span {
            color: #4e9c34;
            font-family: $shop-font-bree-light;
            font-size: 1.25rem;
            display: block;
        }
    }

    .map-container-itinerary {
        padding: 0;
    }

    .map-options {
        position: absolute;
        z-index: 10;
        width: 23.125rem;
        height: 30.625rem;
        right: 2.75rem;
        top: 2.5rem;
        background: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,.15);
        border-radius: 10px;

        @include media-breakpoint-down(sm) {
            width: 100%;
        }

        @include media-breakpoint-down(md) {
            position: relative;
            top: 0;
            top: 0;
            margin: 0 auto 30px auto;
            right: 0;
        }

        .marker {
            display: none;
        }

        .btn {
            &.btn-primary {
                margin-left: 20px;
                background-color: #2c702e;
            }
        }

        .itineraire-container {
            height: 344px;
        }

        .scroll-outer {
            height: 344px !important;

            .slimScrollDiv,
            .slim-scroll {
                height: 344px!important;
            }
        }
        .slimScrollDiv {
           .slimScrollBar {
                background: rgb(0, 0, 0)!important;
                width: 4px!important;
                opacity: 0.4!important;
                border-radius: 7px!important;
                z-index: 99!important;
                right: 0px!important;
                height: 36.7647px!important;

            } 
        }
    }
}

.location-description {
    &.itinerary-infowindow {
        .location-title {
            font-weight: 600;
            line-height: 18px;
            font-size: 0.8125rem;
            color: #4e9c34;
            text-transform: uppercase;
            padding:3px 0 6px 0;
            margin: 0;
        }

        .location-address {
            color: #40474f;
            .list-phone {
                color: #40474f;
            }
        }

        .desc {
            width: 12rem;
        }

        .btn-group {
            .btn {
                text-transform: uppercase;
                font-size: .61rem;
                padding: .5rem;
                border-radius: 2px;
            }
        }

        .bottom-btn-container {
            a {
                background-size: 10px 10px;
                background-position: center left;
                padding-left: 16px;
                margin:20px .5rem 0 0;
            }
        }
    }
}












