.map-top {
    padding-top: 343px;
    @include media-breakpoint-down(sm) {
        padding-top: 0;
        pointer-events: none;
    }
}

.map-top-description {
  width: 60.625rem;
  border: 1px solid #e5e5e5;
  padding: 22.6px 0 1.225rem 24.2px;
  border-radius: 10px;

 
  @include media-breakpoint-down(sm) {
    width: 90%;
    padding: 0 10px 10px 10px;
  }

  @media only screen and (max-width: 640px) {
    border-radius: 0; 
    border: none;
    width: 100%;
    padding: 0;
  }

  @include media-breakpoint-between(md, lg) {
      width: 90%;
      padding: 10px;
  }

  .map-top-image {
    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
      max-height: 100%;
      min-height: auto;
    }

    @media only screen and (max-width: 640px) {
      padding: 0;
      margin-bottom: 16px;
    }

     @include media-breakpoint-up(md) {
      min-height: 180px;
      width: 270px;
      max-height: 180px;
     }

    img {
      width: 270px;
      border-radius: 5px;
      @media only screen and (max-width: 640px) {
        border-radius: 0;
      }
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
      @include media-breakpoint-up(md) {
        height: 180px;
      }
    }
  }
}

.map-top-description-container  {
    .map-top-description-header {
        &.leondebruxelles {
            padding: 22px 0 20px 0;
            position: relative;

            &.only-desktop {
                @include media-breakpoint-down(xs) {
                    display: none;
                }
                @include media-breakpoint-up(sm) {
                    display: block;
                }
            }

            &.only-mobile {
              @include media-breakpoint-down(xs) {
                display: block;
                padding: 0;
              }
              @include media-breakpoint-up(sm) {
                display: none;
              }

              h4 {
                @include media-breakpoint-down(xs) {
                  margin: 17px 0 5px 0;
                  text-align: center;
                }
              }

              h2 {
                @include media-breakpoint-down(xs) {
                  margin: 0 0 16px 0;
                  text-align: center;
                }
              }
            }

            .map-top-brand,
            h4 {
              font-family: $shop-font-bree-light;
              font-size: .75rem;
              color: #4e9c34;
              text-transform: uppercase;
              letter-spacing: 1.8px;
              font-weight: 400;
              line-height: 34px;

              @include media-breakpoint-down(xs) {
                  line-height: 24px;
              }
            } 

            .shop-title-h2,
            h2 {
              font-size: 1.875rem;
              color: #40474f;
              font-family: $shop-font-bree-regular;
              display: block;
              text-transform: none;
              line-height: 1.75rem;
              letter-spacing: normal;
              text-align: center;
              font-weight: 400;
              margin-bottom: 13px;
              -webkit-font-smoothing: antialiased;
             -moz-osx-font-smoothing: grayscale;
            }

            .social_net {
                display: flex;
                position: absolute;
                right: 8.35rem;
                top: 47.4px;
                width: 10rem;
                @include media-breakpoint-down(sm) {
                  display: none;
                }
                @include media-breakpoint-between(sm, lg) {
                  position: relative;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  margin: 0 auto;
                  width: auto;
                  display: table;
                }

                a {
                    width: 24px;
                    height: 24px;
                    background-image: url(/build/images/web/shop/leondebruxelles-fr/icone.png);
                    background-size: 120px auto;
                    margin: 0 .45rem 0 0;
                    border-radius: 2px;
                    background-repeat: repeat-y;
                    display: inline-block;

                    &.facebook {
                      background-color: #3b5998;
                      background-position: 10px -392px;
                      background-size: 150px auto;
                    }

                    &.tweet {
                      background-color: #55acee;
                      background-position: -18.5px -312px;
                    }

                    &.mac {
                      background-color: #ededed;
                      background-position: -50px -313px;
                    }

                    &.googlestore {
                      background-color: #ededed;
                      background-position: -77px -313px;
                    }
                }
            }
        }
    }
}