#location-items {
    .section-item-row {
        padding-bottom: 55px;
    }
}

#proximities-wrapper {
    margin-top: -13px;
    .section-item-row {
        &:after {
            display: none;
        }
    }
}

.section-item-row {
    background-color: #eeecea;
    border: none;
    position: relative;
    padding: 33px 0;

    * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    &.specialities-section {
        background-color: #eeecea;
    }

    &:after {
        background: url(/build/images/web/shop/leondebruxelles-fr/top-paper-top.png) top center;
        content: '';
        height: .75rem;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
    }

    &:before {
        background: url(/build/images/web/shop/leondebruxelles-fr/top-paper.png) top center;
        content: '';
        height: .75rem;
        width: 100%;
        bottom: 0;
        left: 0;
        position: absolute;
    }

    .shop-title-h2 {
        display: block;
        font-size: 1.5rem;
        font-family: $shop-font-humper;
        color: #40474f;
        margin: 0;
        padding: 2rem 0 1.25rem;
        text-align: center;
        text-transform: uppercase;
        font-weight: 400;
    }

    .proximities-list {
        .col-md-3 {
            @include media-breakpoint-up(md) {
                flex: 0 0 20%;
            }    
        }

        .marker-item {
            .marker-item-title {
                color: #40474f;
            }

            .marker-item-more-info {
                color: #4e9c34;
            }
        }
    }
}

.itineraire_liste_scroll {
    
}


















