.section-image-full {
  .slick-arrow {
    @include position(absolute, 0 null 0 null);
    @include size(51px, 100%);
    transform: none;
    z-index: 10;

    &:before {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 30px;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: $white;
    }

    &.slick-next:before { content: "\F0A9"; }
    &.slick-next {
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #adcb53 100%);
      right: 0;
    }

    &.slick-prev:before { content: "\F0A8"; }
    &.slick-prev {
      background: linear-gradient(to right, #adcb53 0%, rgba(255, 255, 255, 0) 100%);
      left: 0;
    }
  }

  &.slider-container {
    margin-top: 0;
    margin-bottom: 15px;
  }
  .slider {
    margin-bottom: 0;
  }

  .slick-dots {
    display: none !important;
  }

  .slider-item {
    background-color: #fff;
    outline: 0 none;
    width: 33.33333%;
    display: block;
    margin: 0 10px;
  }

  .slider-item-img {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 352px;

    img {
      max-height: 100%;
      max-width: 100%;
      display: block;
    }
  }

  .slider-entry {
    text-align: center;
    padding: 0 20px;
    height: 80px;
  }

  .slider-item-title {
    margin: 0;
    font-weight: 700;
  }
}


@media (max-width: 991px) {
  .section-image-full {
    .slider-entry {
      text-align: center;

      .shop-title-h2 {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
}
