.under-map-block{
    padding-top: 60px;

    @include media-breakpoint-down(sm) {
       padding-top: 0px; 
    }

    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
}