.bread_default {
  padding-right: 15px; 
  padding-left: 15px;
  margin: 0 auto;
  max-width: 90%;

  @media (min-width: #{$small_screen_down}) {
    width: 750px;
  }

  @media (min-width: #{$tablet}) {
    width: 970px;
  }

  @media (min-width: #{$desktop}) {
    width: 1170px;
  }

  li {
    &:first-child {
      &:before {
       top: 6px;
      }
    }
    
    a {
      span {
        color: $green;
      }
    }
  }
}