.section-location-services {
  .location-services {
    background-color: $green;
  }

  .services-images {
    .services-tooltip {
      color: #424242;
      font-size: 15px;
      font-weight: 400;
    }

    li {
      span {
        text-transform: initial;
        font-weight: 400;
      }
    }
  }
}