.section-location-promotions,
.section-location-events  {
  .info-button {
    background-color: $green;
    border-color: $green;
    font-size: 14px;
    padding: 6px 12px;
    white-space: nowrap;
    border-radius: 4px;
    background-image: none;
    font-weight: 400;

    &:hover {
      filter: none !important;
      background-color: rgb(0,90,67) !important;
    }
  }
}

.section-location-events {
  .events-block {
    article {

      &:hover {
        box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.14);
      }

      .block-hover {
        p {
          margin-bottom: 20px;
        }
      }
    }
  }
}