.section-map {
  margin-top: 0;

  .map-search-box  {
    .search-results {
      background-color: $tr;
    }

     .search-results-list {
      padding: 0;

      .location-summary {
        padding: 20px 12px 20px 67px;
        position: relative;
        border: none;

        &:nth-child(2n) {
          background-color: rgb(238, 238, 238);
        }

        .location-pin-block {
          position: absolute;
          top: 19px;
          left: 17px;

          .location-pin {
            display: block;
            width: 29px;
          }

          img {
            width: 100%;
          }
        }
      }
    }

    .search-filters {
      .open-filters-checkbox {
        p {
          font-size: 15px;
          font-weight: 700;
          color: $gray;
          background-size: 3% 50% !important;
        }
      }
    }
  }

  .search-button {
    background-color: $green;
    border-color: $green;
    font-size: 14px;
    padding: 6px 12px;
    white-space: nowrap;
    border-radius: 4px;
    box-shadow: none;

    &:hover {
      filter: none !important;
      background-color: rgb(0,90,67) !important;
    }
  }
}

.info-window-block {
  .location-summary {
    text-align: left;
  }
  
  .open-box {
    padding-top: 10px;
  }
}

















