.section-near-location {
  .search-button {
    background-color: $green;
    border-color: $green;
    font-size: 14px;
    padding: 6px 12px;
    white-space: nowrap;
    border-radius: 4px;
    background-image: none;
    font-weight: 400;
    box-shadow: none;
    color: $white;

    &:hover {
      filter: none !important;
      background-color: rgb(0,90,67) !important;
    }
  }

  .location-summary {
    h5 {
      margin-bottom: 10px;
    }
  }

  .location-distance {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }

  .location-sentence {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
}