<div class="filter-results-items">
    <div class="center wrapper">
        <aside id="services_section">
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h3 class="mb-0">
                            <button class="btn-link" data-toggle="collapse" data-target="#collapseOne">
                                {{ "app.web.home.filters.brands"|trans({}, 'carrefour-be') }}
                            </button>
                        </h3>
                    </div>

                    {# brand filter #}
                    <div id="collapseOne" class="collapse show">
                        <div class="card-body">
                          <div class="checkbox-with-img">
                            <div class="item">
                              <input type="checkbox" data-checkbox="brandSlugs" name="brandSlugs[1]" value="hyper">
                              <label> <img src="https://cdn-mkt.be.carrefour.eu/free-html/solomo_EB-19253/img/logo-hyper.svg?nocache001" alt=""></label>
                            </div>

                            <div class="item">
                              <input type="checkbox" data-checkbox="brandSlugs" name="brandSlugs[2]" value="market">
                              <label> <img src="https://cdn-mkt.be.carrefour.eu/free-html/solomo_EB-19253/img/logo-market.svg?nocache001" alt=""></label>
                            </div>

                            <div class="item">
                              <input type="checkbox" data-checkbox="brandSlugs" name="brandSlugs[3]" value="easy">
                              <label> <img src="https://cdn-mkt.be.carrefour.eu/free-html/solomo_EB-19253/img/logo-easy.svg?nocache004" alt=""></label>
                            </div>

                            <div class="item">
                              <input type="checkbox" data-checkbox="brandSlugs" name="brandSlugs[4]" value="express">
                              <label> <img src="https://cdn-mkt.be.carrefour.eu/free-html/solomo_EB-19253/img/logo-express.svg?nocache001" alt=""></label>
                            </div>

                            <div class="item">
                              <input type="checkbox" data-checkbox="brandSlugs" name="brandSlugs[5]" value="bio">
                              <label> <img src="https://cdn-mkt.be.carrefour.eu/free-html/solomo_EB-19253/img/logo-bio.svg?nocache001" alt=""></label>
                            </div>
                          </div>
                        </div>
                    </div>
                    {#end brand filter #}
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h3 class="mb-0">
                            <button class="btn-link" data-toggle="collapse" data-target="#collapseTwo">
                                {{ "app.web.home.filters.opening_hours"|trans({}, 'carrefour-be') }}
                            </button>
                        </h3>
                    </div>
                    {# open class filter #}
                    <div id="collapseTwo" class="collapse show">
                        <div class="ptb-20">
                            <ul class="flex column reset left ratio-input" id="filtering">
                                <li>
                                    <label class="container">
                                        <p class="font-z-14">
                                            <span class="inline-block">
                                                {{ "app.web.home.filters.open_now"|trans({}, 'carrefour-be') }}
                                            </span>
                                        </p>
                                        <input type="radio" name="open_hours" value="openNow" data-radio="open_hours">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="container">
                                        {{ "app.web.home.filters.open_sunday"|trans({}, 'carrefour-be') }}
                                        <input type="radio" name="open_hours" value="openOnSundays" data-radio="open_hours">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="container calendar-filter" htmlFor="#third-input">
                                        {{ "app.web.home.filters.open_date"|trans({}, 'carrefour-be') }}
                                        <input type="radio" name="open_hours" value="openOn" id="third-input" data-radio="open_hours">
                                        <span class="checkmark"></span>
                                        <span class="icon icon-calendar txt-blue-light medium relative" data-datepicker>
                                          <input type="text" class="form-control">
                                          <span class="calendar-selection txt-blue-light"></span>
                                        </span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {# end open class filter #}
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h3 class="mb-0">
                            <button class="btn-link" data-toggle="collapse" data-target="#collapseThree">
                                {{ "app.web.home.filters.services"|trans({}, 'carrefour-be') }}
                            </button>
                        </h3>
                    </div>
                    {# property Items filter #}
                    <div id="collapseThree" class="collapse show">
                        <div class="ptb-20">
                            <ul class="flex column reset left checkbox-with-icons" id="filtering">
                                <li>
                                    <label class="container">
                                        <span class="icon icon-cart txt-blue-grey"></span> 
                                            {{ "app.web.home.filters.corses_inline"|trans({}, 'carrefour-be') }}
                                        <input type="checkbox" data-checkbox="orServiceKeys" name="orServiceKeys[1]" value="'CAR_TRUNK','STORE'">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="container">
                                        <span class="icon icon-simply-you-box txt-blue-grey"></span>
                                        {{ "app.web.home.filters.simply_your_box"|trans({}, 'carrefour-be') }}
                                        <input type="checkbox" data-checkbox="orServiceKeys" name="orServiceKeys[2]" value="SMPYBOX">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="container">
                                        <span class="icon icon-sport-bike txt-blue-grey"></span>
                                        {{ "app.web.home.filters.delivery"|trans({}, 'carrefour-be') }}
                                        <input type="checkbox" data-checkbox="orServiceKeys" name="orServiceKeys[3]" value="SHIPTO">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {# end property Items filter #}
                </div>
            </div>
        </aside>
    </div>
</div>