{% import "web/shop/" ~ shop.code ~ "/block/macros/filter.html.twig" as _macro %}

<!-- Block map + search list -->
<section id="block_map" class="section-map home-page">
    <div class="sidebar">
        <div class="map-search-box">
            <!-- to see search block add class show to search-wrapper-->
            <div class="search-wrapper show">
                <div>
                    <header class="top_header block header">
                      <div>
                      </div>
                    </header>
                  </div>
                <header class="header main_title">
                  <h2 class="txt-blue ubuntu center reset weight300">{{ "app.web.home.map.find_store"|trans({}, shop.code) }}</h2>
                </header>
                <p class="center txt-grey reset weight400 search-wrapper-subtitle">Consultez les services disponibles autour de vous</p>
                <aside id="search_field_store">
                    <form _lpchecked="1">
                        <div class="relative wrapper">
                            <span class="icon icon-delete-content-field absolute txt-light-grey select select-done"></span>
                            <span class="icon icon-localise-me absolute txt-blue-light medium select select-done" id="map_current_position"></span>
                            <input id="map_search_autocomplete" class="open-sans full-width radius_6 " type="text" placeholder="{{ "app.web.home.map.autocomplete_placeholder"|trans({}, shop.code) }}" autocomplete="off">
                            <label for="Placeholder" class="txt-grey-light">{{ "app.web.home.map.autocomplete_placeholder"|trans({}, shop.code) }}</label>
                        </div>
                        <footer>
                            <em class="txt-grey-light small">{{ "app.web.home.map.autocomplete_info"|trans({}, shop.code) }}</em>
                            <em class="txt-red small">{{ "app.web.home.map.autocomplete_error"|trans({}, shop.code) }}</em>
                        </footer>
                    </form>
                </aside>
            </div>
            
            <!-- to see results blcok add class show to results-wrapper-->
            <div class="results-wrapper">
              <div class="results-mobile-top">
                <div>
                  <header class="top_header block header">
                    <div>  
                      <a href="#" class="back_quick_link float-left medium go-back-search">
                        <span class="icon icon-arrow-left txt-blue-light small"></span>
                          {{ "app.web.home.map.back"|trans({}, shop.code) }}
                      </a>
                      <a href="#" class="close_link inline-block ">
                        <span class="icon icon-close-cross"></span>
                      </a>
                    </div>
                  </header>
                </div>
                <header class="header main_title">
                  <h2 class="txt-blue ubuntu center reset weight300">{{ "app.web.home.map.choose_store"|trans({}, shop.code) }}</h2>
                </header>
              </div>
               <div class="filter-block">
                <div class="open-filter-block">
                  <div class="open-filter">
                    <span class="icon icon-filtering"></span>
                  </div>
                </div>
                <h3>{{ "app.web.home.map.filter"|trans({}, shop.code) }}</h3>
              </div>
              <div class="search-results" data-prototype="{% filter escape %}{% include 'web/shop/'~shop.code~'/block/map/prototype/open_hours.html.twig' %}{% endfilter %}">
                <div class="search-results-list">
                    <ul id="storeloc_list"></ul>
                </div>
                <div class="center wrapper hide-on-mobile">
                  <a href="#" class="button bg-blue txt-white radius_30  center block primary go-back-search">Nouvelle recherche</a> 
                </div>
                <div class="center wrapper results-wrapper-mobile-btn">
                  <a href="javascript:;" class="button bg-blue txt-white radius_30 return-to-results center block primary">Retour à la liste</a> 
                </div>
              </div>
           </div>
            
            <!-- to see filter add class show to filter-block-results-->
            <div class="filter-block-results">
              <div class="filter-results-content">
                <div>
                  <header class="top_header block header">
                    <div>  
                      <header class="header main_title">
                        <h2 class="txt-blue ubuntu center reset weight300">{{ "app.web.home.map.filter"|trans({}, shop.code) }}</h2>
                      </header>
                      <div class="badge" data-active-filters>
                        <span></span>
                      </div>

                      <a href="#" class="close_link inline-block return-to-results">
                        <span class="icon icon-close-cross"></span>
                      </a>
                    </div>
                  </header>
                </div>
                <div id="map_search_filters">
                    {% if twigData is defined and twigData['filterContent'] is defined and twigData['filterContent'] %}
                        {{ twigData['filterContent']|raw }}
                    {% endif %}
                    {{ _macro.filter() }}
                </div>
              </div>
              <div class="save-filter-btn">
                <a href="#" class="button bg-blue txt-white radius_30 center block primary return-to-results">{{ "app.web.home.map.new_search"|trans({}, shop.code) }}</a>
              </div>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div id="map_container" class="map-container" data-type="{{ shop.mapType }}"
             data-type-google="{{ constant('App\\Entity\\Shop::MAP_TYPE_GOOGLE') }}"
             data-type-here="{{ constant('App\\Entity\\Shop::MAP_TYPE_HERE') }}"
             data-credentials="{{ shop.mapCredentials }}" data-language="{{ app.request.locale }}"
             data-prototype="{% filter escape %}{% include 'web/shop/'~shop.code~'/block/map/prototype/info_window.html.twig' %}{% endfilter %}">
            <div id="map_element" class="map-element"></div>
        </div>
    </div>
</section>
