{% extends 'web/base/show.html.twig' %}

{% block header %}
    <header style="margin-top: 20px;margin-bottom: 20px;text-align: center;font-weight: bold;">
        {{ 'app.web.show.header.title'|trans({}, shop.code) }}
    </header>
{% endblock %}

{% block footer %}
    <footer style="margin-top: 20px;margin-bottom: 20px;text-align: center;font-weight: bold;">
        {{ 'app.web.show.footer.title'|trans({}, shop.code) }}
    </footer>
{% endblock %}


{% block javascripts_var %}
    {{ parent() }}
    {#  Map Settings for this shop (default are defind in js map folder files, DEFAULT_SETTINGS getter) #}
    <script type="text/javascript">
        var globalSettings = {
            map: {
                center: {lat: 50.62313744304004, lng: 5.365809522627387},
                zoom: 10,
            },
            geoLocationCountry: ['BE'],
            query: {
                size: 50,
                radius: 15000,
            },
        };
    </script>
{% endblock %}
