.section-locations {
  h2 {
    font-size: 24px;
    line-height: 24px;
    color: $gray_72;
    text-transform: initial;
    font-family: $font-helvetica-neue;
    font-weight: 400;
  }

  .search-alphabet {
    top: 116px;

    @media (max-width: 992px){
      top: 73px;
    }

    ul {
      li {
        a {
          display: block;
          color: $balck_0a;    
          font-size: 16px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 300;

          span {
            display: block;
            color: $balck_0a;
          }
        }

        span {
          display: block;
          color: $gray_72;
          font-size: 16px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 300;
        }
      }
    }
  }

  .result-one-letter {
    overflow: initial;
    display: flex;

    @media (max-width: 767px){
      margin-bottom: 10px;
    }

    .title-letter {
      color: $gray_72;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
    }

    .letter-anchor {
      top: -250px;

      @media (max-width: 992px){
        top: -230px;
      }
    }
  }

  .small-schedule {
    padding: 0;
    border-radius: 0;
    border: none;
    background-color: $white;
    margin-top: 7px;
    position: absolute;
    min-width: 300px;
    min-height: 135px;
    padding: 5px 10px;
    z-index: 3;
  }

  .is-open,
  .is-closed {
    .open-label {
      background-color: transparent;
    }

    .open-sentence {
      color: $gray_72;
    }
  }

  .location-summary {
    h5 {
      line-height: 20px;
      font-size: 13px;
      font-family: Montserrat,Helvetica,Arial,sans-serif;
      font-weight: 500;
      text-transform: none;

      a {
        line-height: 20px;
        font-size: 13px;
        font-family: Montserrat,Helvetica,Arial,sans-serif;
        font-weight: 500;
        text-transform: none;

        &:hover {
          color: $dark_green;
        }
      }
    }
  }
}