.section-location-services {
  .location-services {
    background-color: $green_be;

    h2 {
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 26px;
      font-family: $font-helvetica-neue;
      font-weight: 400;
      text-transform: initial;
    }

    .services-images {
      li {
        span {
          font-weight: 400;
          text-transform: initial;
        }
      }
    }

    .wrapper {
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}