.section-location-description {
  .description-block {
    h2 {
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 26px;
      color: $gray_72;
      font-family: $font-helvetica-neue;
      font-weight: 400;
      text-transform: initial;

      strong {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 26px;
        color: $gray_72;
        font-family: $font-helvetica-neue;
        font-weight: 400;
        text-transform: initial;
      }
    }
  }

  .row {
    margin: 0 -1.5%;
  }

  .wrapper {
    max-width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .image-slider {
    .slick-dots {
      li {
        &.slick-active {
          button {
            background-color: $green;

            &:before {
              background-color: $green;
              border-color: $green;
            }
          }
        }

        button {
          &:before {
            background-color: $white;
            border-color: $white;
          }
        }
      }
    }
  }
}