.section-location-details {
  margin-top: 150px;

  .wrapper {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .image-slider {
    .slick-dots {
      li {
        &.slick-active {
          button {
            background-color: $green;

            &:before {
              background-color: $green;
              border-color: $green;
            }
          }
        }

        button {
          &:before {
            background-color: $white;
            border-color: $white;
          }
        }
      }
    }
  }

  .breadcrumb-row {
    padding-top: 35px;
  }

  .box {
    box-shadow: 0 0 20px rgba(0,0,0,.1);

    @media (min-width: 768px){
      margin-left: 50px;
      margin-right: 50px;
    }

    .details-address {
      h4 {
        font-family: Montserrat,Helvetica,Arial,sans-serif;
        color: $gray_72;
        font-weight: 400;
        text-transform: initial;
      }

      address {
        font-family: Montserrat,Helvetica,Arial,sans-serif;
        color: $gray_72;
        line-height: 18px;
        font-size: 12px;
        text-align: left;
        font-weight: 400;
      }
    }

    .details-info {
      h4 {
        font-family: Montserrat,Helvetica,Arial,sans-serif;
        color: $gray_72;
        font-weight: 400;
        text-transform: initial;
      }

      .text-info {
        font-family: Montserrat,Helvetica,Arial,sans-serif;
        color: $gray_72;
        line-height: 18px;
        font-size: 12px;
        font-weight: 400;

        a {
          font-family: Montserrat,Helvetica,Arial,sans-serif;
          color: $gray_72;
          line-height: 18px;
          font-size: 12px;
          font-weight: 400;
        }
      }

      table {
        th,
        td {
          font-family: Montserrat,Helvetica,Arial,sans-serif;
          color: $gray_72;
          line-height: 18px;
          font-size: 12px;
          font-weight: 400;
          padding: 0;
        }
      }
    }
  }

  .call-button,
  .location-button {
    border-radius: 0;
    background-image: none;
    padding: 10px 20px;
    box-shadow: none;

    &:hover {
      filter: none;
    }
  }

  .wrapper-title {
    padding-bottom: 20px;
    position: relative;

    .title {
      font-family: $font-helvetica-neue;
      text-transform: uppercase;
      text-align: center;
      line-height: 34px;
      font-weight: 400;
      font-size: 12px;
      margin-bottom: 0;
      color: #cacaca;
    }

    .subtitle {
      font-size: 24px;
      line-height: 24px;
      color: $gray_72;
      font-family: $font-helvetica-neue;
    }
  }
}