.section-location-promotions {
  .promotions-block {
    margin-left: 15px;
    margin-right: 15px;
    padding: 0;

    h2 {
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 16px;
      color: $gray_72;
      font-family: $font-helvetica-neue;
      font-weight: 400;
      text-transform: initial;
    }

    .wrapper {
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      padding-left: 15px;
      padding-right: 15px;
      border: 1px solid $gray_e2;
      border-radius: 4px;
      padding: 10px;
      margin-top: 10px;
    }

    article {
      h3 {
        font-family: Montserrat,Helvetica,Arial,sans-serif;
        color: $gray_72;
        font-weight: 400;
        text-transform: initial;
        font-size: 18px;
      }
    }
  }

  .info-button {
    transition: background-color .3s ease,color .3s ease;
    font-family: Montserrat,Helvetica,Arial,sans-serif;
    background-color: $green;
    padding: 10px 20px;
    line-height: 13.8px;
    font-size: 12px;
    cursor: pointer;
    outline: 0 none;
    border: 0 none;
    color: $white;

    &:hover {
      filter: none;
      background-color: $green_be;
    }
  }

  .slick-slider {
    margin-bottom: 0;
  }

  .slick-dots {
    li {
      &.slick-active {
        button {
          background-color: $green;

          &:before {
            background-color: $green;
            border-color: $green;
          }
        }
      }

      button {
        transition: all 0.2s ease-in-out;
        border-color: $green;

        &:hover {
          background-color: $green;

          &:before {
            background-color: $green;
            border-color: $green;
          }
        }

        &:before {
          background-color: $white;
          border-color: $white;
        }
      }
    }
  }
}