.section-near-location {
  margin-top: 0;

  .near-location-block {
    background-color: transparent;
    margin-left: 15px;
    margin-right: 15px;
  
    .wrapper {
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      padding-left: 15px;
      padding-right: 15px;
      border: 1px solid $gray_e2;
      border-radius: 4px;
      padding: 10px;
      margin-top: 10px;
    }

    h2 {
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 26px;
      color: $gray_72;
      font-family: $font-helvetica-neue;
      font-weight: 400;
      text-transform: initial;
    }

    article {
      border: none;
      box-shadow: none;
      border-radius: 0;
      margin: 0;
      padding: 0;
    }
  }

  .location-summary {
    text-align: center;

    img {
      display: block;
      margin: 0 auto;
    }

    h5 {
      color: $green;
      font-weight: 500;
      line-height: 13px;
      min-height: 30px;
      font-size: 13px;
      font-family: Montserrat,Helvetica,Arial,sans-serif;
      margin: 0;
    }

    .search-button {
      background-color: transparent;
      color: $green;
      padding: 0;
      border-radius: 0;
      box-shadow: none;
      font-size: 12px;
      font-weight: 600;
      font-family: Montserrat,Helvetica,Arial,sans-serif;
      border: none;
      text-decoration: underline;

      &:hover {
        background-color: transparent;
        text-decoration: none;
      }
    }
  }

  .location-distance {
    background-image: none;
    padding: 0;
    line-height: 10px;
    font-size: 10px;
    margin: 2px 0 5px;
    color: $gray_72;
    font-family: Montserrat,Helvetica,Arial,sans-serif;
    font-weight: 500;
  }

  .slick-dots {
    bottom: -30px;

    li {
      &.slick-active {
        button {
          background-color: $green;

          &:before {
            background-color: $green;
            border-color: $green;
          }
        }
      }

      button {
        transition: all 0.2s ease-in-out;
        border-color: $green;

        &:hover {
          background-color: $green;

          &:before {
            background-color: $green;
            border-color: $green;
          }
        }

        &:before {
          background-color: $white;
          border-color: $white;
        }
      }
    }
  }

  .slick-slide {
    outline: none;
  }
}