.section-location-details {
  margin-top: 0;

  @media only screen and (max-width: 1023px) {
    margin-top: 120px;
  }

  .map-container {
    padding: 0 8px;
  }

  .location-details-block {
    .button-group {
      padding-top: 10px;

      .btn {
        height: 26px;
        font-size: 13px;
        line-height: 16px;
        font-family: $lloyds_sanslight;
      }
    }

    .row {
      margin: 0 -1.5%;

      .col {
        &:last-child {
          .col-box {
            height: 100%;
          }
        }

        .col-box {
          &.mb-20 {
            @media only screen and (max-width: 960px) {
              margin-bottom: 30px;
            }
          }
        }
      }
    }
  }

  .services-button {
    background-color: #cf005d;
  }

  .col {
    align-self: stretch;
  }

  .col-image {
    height:100%;
  }
}

.section-location-description {
  
  .row {
    align-items: center;
  }

  .image-slider-block {
    box-shadow: none;

    @media only screen and (max-width: 767px) {
      height: 260px;
    }
  }

  .image-slider {
    &.slick-dotted {
      &.slick-slider {
        @media only screen and (max-width: 767px) {
          height: 260px;
        }
      }
    }

    img {
      @media only screen and (max-width: 767px) {
        height: 260px;
      }
    }
  }

  .col-half {
    font-size: 16px;
    line-height: 24px;
  }

  .col-box {
    border-width: 1px;
    border-color: #e2e6ef;
    border-style: solid;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.169);
    box-shadow: 0 0 3px 0 rgba(54, 54, 54, 0.2);
    padding: 20px 30px;
  }
}



.section-location-services {
  .location-services {
    background: #ffffff;
    padding: 0;
    
    h2 {
      color: #8dc63f;
    }
  }

  ul {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -5px;

    @media only screen and (max-width: 1200px) {
      justify-content: flex-start;
    }

    li {
      width: calc(15% - 10px);
      margin: 0 5px 20px 5px;

      @media only screen and (max-width: 1200px) {
        width: calc(25% - 10px);
      }

      @media only screen and (max-width: 767px) {
        width: 100%;
      }

      .mobilo_ico {
        display: block;
        margin-bottom: 10px;
        height: 100px;
      }

      h5 {
        font-size: 16px;
        display: block;
        line-height: 18px;
        color: #8dc63f;
      }
    }
  }

  .col-box {
    border-width: 1px;
    border-color: #e2e6ef;
    border-style: solid;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.169);
    box-shadow: 0 0 3px 0 rgba(54, 54, 54, 0.2);
    padding: 20px 30px;
  }
}


