.section-locations {
  .location-summary {
    h5 {
      a {
        font-family: $lloyds_sansbold;
        font-size: 16px;
      }
    }

    address {
      font-size: 16px;
    }
  }

  .result-one-letter {
    .title-letter {
      font-family: $lloyds_sansbold;
      color: #404040;
    }
  }

  .search-alphabet {
    span,
    a {
      font-family: $lloyds_sansbold;
    }
  }
}