.section-map {
  margin-top: 0;

  @media only screen and (min-width: 681px) {
    display: flex;
  }

  @media only screen and (max-width: 1023px) {
    margin-top: 120px;
  }

  @media only screen and (max-width: 680px) {
    margin-top: 120px;
  }


  .search-button {
    background: #005b2e;
    border-color: #005b2e;
  }

  .map-search-box {
    @media only screen and (min-width: 768px) {
      height: calc(100vh - 170px) !important;
      min-height: 450px;
    }
    
    @media only screen and (min-width: 681px) {
      position: relative;
      top: 0;
      left: 0;
      order: 2;
      max-width: 400px;
      width: 100%;
    }

    .search-results {
      @media only screen and (min-width: 681px) {
        height: calc(100vh - 248px);
      }
    }

    .search-results-list {
      @media only screen and (min-width: 681px) {
        height: 100%;
      }
    }
  }

  .map-container {
    order: 1;
  }
}

.wrap-title {
  h2 {
    color: #005b2e;
    font-size: 36px;
    line-height: 39px;
    font-family: $lloyds_sansbold;
    text-transform: initial;
  }
}

.info-window-block {
  .location-summary {
    .button-group {
      margin-bottom: 15px;

      .btn {
        font-family: $lloyds_sanslight;
        font-size: 13px;
        padding: 5px;
        height: 30px;
        line-height: 19px;
      }
    }
  }

  .location-summary-block {
    h5 {
      color: #8dc63f;
      text-transform: initial;
    }

    .open-close-box {
      margin-bottom: 15px;
    }
  }

  .search-button {
    padding: 6px 15px;
  }
}
.button-group {
  display: flex;
  justify-content: space-between;

  .btn {
    width: 100%;
    margin-right: 10px;
    font-size: 14px;
    padding: 5px 10px;
    height: 38px;
    line-height: 26px;
    text-align: center;
    font-family: $lloyds_sansbold;
    text-decoration: none;
    border-radius: 5px;

    &.primary-button {
      background-color: #cf005d;
      color: #ffffff;
    }

    &.secondary-button {
      text-decoration: underline;
      color: #484848;
    }

    &:last-child {
      margin-right: 0;
    }

    &.hidden {
      display: none;
    }
  }
}

.location-summary {
 

  &.location-man {
    display: flex;

    h5 {
      a {
        color: #8dc63f;
        text-transform: initial;
        font-size: 16px;
        display: block;
        line-height: 18px;
        margin-bottom: 5px;
      }
    }
    .pin-block {
      width: 80px;
      margin-top: 20px;

      .marker {
        display: flex;
        position: relative;
        justify-content: center;
        width: 33px;
        height: 46px;

        img {
          position: absolute;
          top: 0;
          left: 0;
        }

        .marker-number {
          display: block;
          font-family: $lloyds_sansbold;
          margin-top: 5px;
          position: absolute;
          top: -25px;
          left: 50%;
          transform: translateX(-50%);
          z-index: 1;
        }
      }
    }

    .location-summary-content {
      width: 100%;
    }

    address {
      margin-bottom: 10px;
    }

    .tel {
      color: #005b2e;
      font-family: $lloyds_sansbold;
      text-decoration: none;
      display: block;
      margin-bottom: 10px;
    }

    .open-close-box {
      margin-bottom: 10px;
    }
  }
}





















