.section-near-location {
  .near-location-block {
    h2 {
      color: #404040;
    }
  }

  .location-summary {
    h5 {
      color: #8dc63f;
      text-transform: initial;
      font-size: 16px;
      display: block;
      line-height: 18px;
      margin-bottom: 5px;
      min-height: 40px;
    }
  }

  .search-button {
    background-color: #cf005d;
    border-color: #cf005d;
    padding: 5px 15px;
  }

  .slick-dots {
    li {
      button {
        &:before {
          background-color: #005b2e;
        }
      }
    }
  }
}
