$font-path: '../../../../../fonts/shop/lapataterie-fr';

@font-face {
  font-family: 'Oswald';
  src: url($font-path + '/Oswald-Regular.eot');
  src: url($font-path + '/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
      url($font-path + '/Oswald-Regular.woff2') format('woff2'),
      url($font-path + '/Oswald-Regular.woff') format('woff'),
      url($font-path + '/Oswald-Regular.ttf') format('truetype'),
      url($font-path + '/Oswald-Regular.svg#Oswald-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url($font-path + '/Oswald-Bold.eot');
  src: url($font-path + '/Oswald-Bold.eot?#iefix') format('embedded-opentype'),
      url($font-path + '/Oswald-Bold.woff2') format('woff2'),
      url($font-path + '/Oswald-Bold.woff') format('woff'),
      url($font-path + '/Oswald-Bold.ttf') format('truetype'),
      url($font-path + '/Oswald-Bold.svg#Oswald-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url($font-path + '/RobotoSlab-Regular.eot');
  src: url($font-path + '/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
      url($font-path + '/RobotoSlab-Regular.woff2') format('woff2'),
      url($font-path + '/RobotoSlab-Regular.woff') format('woff'),
      url($font-path + '/RobotoSlab-Regular.ttf') format('truetype'),
      url($font-path + '/RobotoSlab-Regular.svg#RobotoSlab-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url($font-path + '/RobotoSlab-Bold.eot');
  src: url($font-path + '/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
      url($font-path + '/RobotoSlab-Bold.woff2') format('woff2'),
      url($font-path + '/RobotoSlab-Bold.woff') format('woff'),
      url($font-path + '/RobotoSlab-Bold.ttf') format('truetype'),
      url($font-path + '/RobotoSlab-Bold.svg#RobotoSlab-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


