body {
  font-family: $robot_slab_font;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: $robot_slab_font;
  font-weight: 400;
  font-size: 15px;
}

.wrapper {
  padding-right: 0px !important;
  padding-left: 0px !important;
  width: 100% !important;
  max-width: 1100px !important;
  margin: 0 auto;

  @media (max-width: #{$desktop}) {
    max-width: 950px !important;
  }

  @media (max-width: #{$tablet}) {
    max-width: 768px !important;
  }

  @media (max-width: #{$mobile_up}) {
    max-width: 600px !important;
  }

  @media (max-width: #{$small_screen_down}) {
    max-width: 420px !important;
  }

  @media (max-width: #{$phone}) {
    max-width: 320px !important;
  } 
}

::-moz-selection { /* Code for Firefox */
  color: $black_11;
  background-color: $brown_ce;
}

::selection {
  color: $black_11;
  background-color: $brown_ce;
}

.location-summary {
  h5 {
    font-weight: 700;
    line-height: 35px !important;
    font-size: 20px !important;
    color: $brown !important;
    margin-bottom: 8px;
    font-family: $Oswald_font;

    a {
      font-weight: 700;
      line-height: 35px !important;
      font-size: 20px !important;
      color: $black_11 !important;
      font-family: $Oswald_font;
      transition: all .15s ease-out;

      &:hover {
        color: $yellow !important;
        text-decoration: underline;
      }
    }
  }

  .small-schedule {
    background: url('#{$img_path}parallax.jpg');
    background-size: contain;
    border-radius: 0;
    box-shadow: none;

    table {
      border: 1px solid #515151;
      padding: 10px;

      th,
      td {
        color: $white;
        font-weight: 400;
      }
    }
  }

  address {
    font-size: 15px;
    line-height: 27px;
    color: $gray;
    margin-bottom: 4px;
  }

  .location-phone {
    a {
      font-size: 15px;
      line-height: 27px;
      color: $brown;

      &:hover {
        color: $yellow !important;
      }
    }
  }

  .phone-number {
    font-size: 15px;
    line-height: 27px;
    color: $brown;

    &:hover {
      color: $yellow;
    }
  }

  .btn-block {
    padding-top: 15px;
    display: flex;
    align-items: center;

    .services-button {
      flex: 1;
      margin: 0 5px 0 0;

      &:last-child {
        margin: 0;
      }
    }
  }

  .services-button {
    border: 2px solid $black_11;
    background-color: $black_11;
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
    padding: 8px 20px;
    position: relative;
    font-family: $Oswald_font;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    color: $brown;
    box-shadow: none;
    border-radius: 0;
    text-align: center;
    background-image: none;
    transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;

    &:hover {
      background-color: $tr;
      color: $black_11;
      filter: none;
    }
  }
}

.mb-40 {
  margin-bottom: 40px !important;

  @media (max-width: #{$mobile_down}) {
    margin-bottom: 30px !important;
  }
}

.detail-page {
  h1 {
    font-family: $Oswald_font;
    font-size: 45px;
    color: $black_11;
    font-weight: 400;
    text-transform: uppercase;
  }

  h2 {
    font-family: $Oswald_font;
    font-size: 30px;
    color: $black_11;
    font-weight: 700;
    text-transform: uppercase;

    strong {
      font-family: $Oswald_font;
      font-size: 30px;
      color: $black_11;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  h4 {
    font-family: $Oswald_font;
    font-size: 24px;
    line-height: 28px;
    color: $black_11;
    font-weight: 700;
    text-transform: uppercase;
  }

  .services-button {
    border: 2px solid $brown;
    background-color: $brown;
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
    padding: 8px 20px;
    position: relative;
    font-family: $Oswald_font;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    color: $black_11;
    box-shadow: none;
    background-image: none;
    border-radius: 0;
    text-align: center;
    transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;

    &:hover {
      background-color: $black_11;
      color: $white;
      filter: none;
    }
  }

  .slick-dots {
    li {
      &.slick-active {
        button {
          background-color: $brown !important;
        }
      }

      &:hover {
        button {
          background-color: $brown !important; 
        }
      }

      button {
        border: 1px solid $brown !important;
        width: 12px !important;
        height: 12px !important;

        &:before {
          display: none !important;
        }
      }
    }
  }
}





