// Color
$white: #ffffff;
$black: #000000;
$tr: transparent;

$black_11: #111111;
$black_13: #131313;

$yellow: #ffae00;

$gray: #707070;
$gray_f5: #f5f5f5;

$brown: #d2b977;
$brown_ce: #ceb47b;


// Fonts
$Oswald_font: "Oswald",sans-serif;
$robot_slab_font: 'Roboto Slab', serif;;
// Image path
$img_path: '../../../../../images/web/shop/lapataterie-fr/';

// Media
$desktop: 1200px;
$desktop_up: 1201px;
$tablet: 1024px;
$tablet_up: 1025px;
$mobile_up: 768px;
$mobile_down: 767px;
$small_screen_up: 6001px;
$small_screen_down: 600px;
$phone: 480px;

/*@media (max-width: #{$mobile_down})*/