{% extends 'web/base/show.html.twig' %}
{% block body_class %}detail-page{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
    {{ encore_entry_link_tags('css/web/shop/'~shop.code~'/show') }}
{% endblock %}

{% block header %}
    <header style="margin-top: 20px;margin-bottom: 20px;text-align: center;font-weight: bold;">
        {{ 'app.web.show.header.title'|trans({}, shop.code) }}
    </header>
{% endblock %}

{% block footer %}
    <footer style="margin-top: 20px;margin-bottom: 20px;text-align: center;font-weight: bold;">
        {{ 'app.web.show.footer.title'|trans({}, shop.code) }}
    </footer>
{% endblock %}
