$font-path: '../../../../../fonts/shop/hackett-int';

@font-face {
  font-family: 'bree';
  src: url($font-path + '/bree-regular.eot');
  src: url($font-path + '/bree-regular.eot?#iefix') format('embedded-opentype'),
  url($font-path + '/bree-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'bree';
  src: url($font-path + '/bree-light.eot');
  src: url($font-path + '/bree-light.eot?#iefix') format('embedded-opentype'),
  url($font-path + '/bree-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Apercu';
  src: url($font-path + '/apercu-bold-webfont.eot');
  src: url($font-path + '/apercu-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url($font-path + '/apercu-bold-webfont.woff2') format('woff2'),
       url($font-path + '/apercu-bold-webfont.woff') format('woff'),
       url($font-path + '/apercu-bold-webfont.svg#apercubold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apercu';
  src: url($font-path + '/ApercuPro.eot');
  src: url($font-path + '/ApercuPro.eot?#iefix') format('embedded-opentype'),
      url($font-path + '/ApercuPro.woff2') format('woff2'),
      url($font-path + '/ApercuPro.woff') format('woff'),
      url($font-path + '/ApercuPro.ttf') format('truetype'),
      url($font-path + '/ApercuPro.svg#ApercuPro') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'myriad';
  src: url($font-path + '/MyriadPro-Regular.eot');
  src: url($font-path + '/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
      url($font-path + '/MyriadPro-Regular.woff2') format('woff2'),
      url($font-path + '/MyriadPro-Regular.woff') format('woff'),
      url($font-path + '/MyriadPro-Regular.ttf') format('truetype'),
      url($font-path + '/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'myriad';
  src: url($font-path + '/MyriadPro-Bold.eot');
  src: url($font-path + '/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
      url($font-path + '/MyriadPro-Bold.woff') format('woff'),
      url($font-path + '/MyriadPro-Bold.ttf')  format('truetype'),
      url($font-path + '/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url($font-path + '/ArialMT.eot');
  src: url($font-path + '/ArialMT.eot?#iefix') format('embedded-opentype'),
      url($font-path + '/ArialMT.woff2') format('woff2'),
      url($font-path + '/ArialMT.woff') format('woff'),
      url($font-path + '/ArialMT.ttf') format('truetype'),
      url($font-path + '/ArialMT.svg#ArialMT') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'font-awesome';
  src: url($font-path + '/fontawesome-webfont.eot');
  src: url($font-path + '/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
      url($font-path + '/fontawesome-webfont.woff2') format('woff2'),
      url($font-path + '/fontawesome-webfont.woff') format('woff'),
      url($font-path + '/fontawesome-webfont.svg#apercubold') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
