body {
  font-family: $apercu_font;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  color: $text-color;
}

* {
  font-family: $apercu_font;
  font-weight: 400;
  color: $text-color;
}

.wrapper {
  padding-right: 15px !important;
  padding-left: 15px !important;
  width: 100%;
  margin: 0 auto;

  @media (max-width: #{$small_screen_down}) {
    max-width: 100% !important;
  }

  @media (min-width: #{$small_screen_up}) {
    max-width: 720px !important;
  }

  @media (min-width: #{$mobile_up}) {
    max-width: 920px !important;
  }

  @media (min-width: #{$tablet}) {
    max-width: 1000px !important;
  }

  @media (min-width: #{$desktop}) {
    max-width: 1015px !important;
  }
}

a {
  background-color: transparent;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
  font-size: 12px;
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    filter: none;
    color: $link-color;
  }
}

.detail-page {
  .bread_default {
    padding-top: 65px;

    @media (max-width: #{$mobile_down}) {
      padding-top: 0;
    }
  }
  
  h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: $text-color;
    text-transform: inherit;

    @media (max-width: #{$mobile_down}) {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 18px;
    }

    strong {
      font-weight: 700;
      font-size: 30px;
      color: $text-color;
      line-height: 36px;
      text-transform: inherit;

      @media (max-width: #{$mobile_down}) {
        font-size: 20px;
        line-height: 26px;
      }
    }
  }

  h4 {
    font-weight: 700;
    font-size: 15px;
    color: $text-color;
    text-transform: inherit;
  }

  address {
    color: $text-color;
  }

  .slick-dots {
    li {
      &.slick-active {
        button {
          background-color: $text-color !important;
        }
      }

      &:hover {
        button {
          background-color: $text-color !important; 
        }
      }

      button {
        border: 1px solid $text-color !important;
        width: 12px !important;
        height: 12px !important;

        &:before {
          display: none !important;
        }
      }
    }
  }
}

.pac-container {
  font-family: $font_arial;
  font-size: 13px;

  span {
    font-family: $font_arial;
    font-size: 13px;
  }
}


