// Color
$white: #ffffff;
$black: #000000;
$tr: transparent;

$white_fd: #fdfdfd;

$text-color: #222222;

$gray: #f3f3f3;
$gray_cc: #cccccc;
$gray_footer: #f5f5f5;
$gray_bb: #bbbcc2;
$gray_b7: #b7b7b7;

$link-color: #0e6e8a;

// Fonts
$apercu_font: 'Apercu', Helvetica,Roboto,Arial,sans-serif;
$bree_font: 'bree',sans-serif;
$myriad_font: 'myriad', Helvetica, Roboto, Arial, sans-serif;
$font_arial: 'Arial', sans-serif;
$font_awesome:'font-awesome',sans-serif;

// Image path
$img_path: '../../../../../images/web/shop/hackett-int/';

// Media
$desktop: 1200px;
$tablet: 992px;
$tablet_up: 993px;
$mobile_up: 768px;
$mobile_down: 767px;
$small_screen_up: 576px;
$small_screen_down: 575px;

/*@media (max-width: #{$mobile_down})*/