$font-path: '../../../../../fonts/shop/brocom-be';

@font-face {
  font-family: 'Adelle-Sans';
  src: url($font-path + '/AdelleSans-Regular.eot');
  src: url($font-path + '/AdelleSans-Regular.eot?#iefix') format('embedded-opentype'),
      url($font-path + '/AdelleSans-Regular.woff2') format('woff2'),
      url($font-path + '/AdelleSans-Regular.woff') format('woff'),
      url($font-path + '/AdelleSans-Regular.ttf') format('truetype'),
      url($font-path + '/AdelleSans-Regular.svg#AdelleSans-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad-Pro';
  src: url($font-path + '/MyriadPro-Regular.eot');
  src: url($font-path + '/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
      url($font-path + '/MyriadPro-Regular.woff2') format('woff2'),
      url($font-path + '/MyriadPro-Regular.woff') format('woff'),
      url($font-path + '/MyriadPro-Regular.ttf') format('truetype'),
      url($font-path + '/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}