body {
  font-family: $Adelle_sans_font;
  font-weight: 400;
  background-color: rgb(246, 246, 246);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $gray;
  font-size: 16px;
}

* {
  font-family: $Adelle_sans_font;
  font-weight: 400;
  font-size: 16px;
}

.wrapper {
  max-width: 1400px !important;
  background-color: $white;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.location-summary {
  h5 {
    font-size: 20px !important;
    line-height: 27px !important;
    font-family: $Myriad_pro_font;
    font-weight: 400 !important;
    color: $blue !important;
    text-transform: initial !important;
    margin-bottom: 10px;

    a {
      font-size: 20px !important;
      line-height: 27px !important;
      font-family: $Myriad_pro_font;
      font-weight: 400 !important;
      color: $blue !important;
      text-transform: initial !important;
    }
  }

  address {
    font-size: 15px;
    line-height: 20px;
    color: $gray !important;
  }
}

.detail-page {
  h1,
  h2,
  h3,
  h4 {
    font-family: $Myriad_pro_font;
    font-weight: 400;
    color: $blue_btn;
    text-transform: initial;
  }

  h1 {
    @media (max-width: #{$mobile_down}) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;
    line-height: 24px;
  }

   h2 {
    strong {
      font-family: $Myriad_pro_font;
      font-weight: 400;
      color: $blue_btn;
      text-transform: initial;
    }
  }

  .services-button,
  .info-button,
  .search-button {
    background-color: $blue_btn;
    padding: 8px 20px !important;
    border: none;
    border-radius: 5px;
    color: $white;
    font-size: 16px;
    line-height: 18px;
    background-image: none;
    box-shadow: none;

    &:hover {
      filter: none;
      background-color: $blue_btn_hover;
    }
  }

  .slick-dots {
    li {
      &.slick-active {
        button {
          background-color: $blue_btn !important;

          &:before {
            background-color: $blue_btn !important;
            border-color: $blue_btn !important;
          }
        }
      }

      button {
        &:before {
          background-color: $white;
          border-color: $white;
        }
      }
    }
  }
}

.mb-40 {
  margin-bottom: 24px !important; 
}





