// Color
$white: #ffffff;
$black: #000000;
$tr: transparent;

$blue: #36a2df;
$blue_btn: #073980;
$blue_btn_hover: #042350;

$gray: #9b9b9b;
$gray_dd: #dddddd;



// Fonts
$Adelle_sans_font: 'Adelle-Sans', sans-serif;
$Myriad_pro_font: 'Myriad-Pro', sans-serif;

// Image path
$img_path: '../../../../../images/web/shop/brocom-be/';

// Media
$desktop: 1024px;
$desktop_up: 1025px;
$tablet: 992px;
$tablet_up: 993px;
$mobile_up: 768px;
$mobile_down: 767px;
$small_screen_up: 576px;
$small_screen_down: 575px;

/*@media (max-width: #{$mobile_down})*/