{% set title = location.name %}

{% if location.brand|length %}
    {% if not location.name|check_stripos(location.brand) %}
        {% set title = location.brand ~' '~title %}
    {% endif %}
{% endif %}

<title>{{ title }}</title>

<meta name="description" content="{{ location.name
    ~ ', ' ~ (location.address.number ? location.address.number ~ ' ' : '') ~ location.address.street
    ~ ', ' ~ location.address.zipCode ~ ' ' ~ location.address.locality }}">

<meta name="keywords" content="{{ title~', ' ~ location.address.locality }}">