{% set openingHours = [] %}
{% if location.businessHours is defined and location.businessHours and location.businessHours|length %}
    {% set businessHoursData = {} %}

    {% for businessHour in location.businessHours %}
        {% if businessHoursData[businessHour.startDay ~ '_' ~ businessHour.openTime ~ '_' ~ businessHour.closeTime] is not defined %}
            {% set businessHoursData = businessHoursData|merge({(businessHour.startDay ~ '_' ~ businessHour.openTime ~ '_' ~ businessHour.closeTime): {
                "@type": "OpeningHoursSpecification",
                "dayOfWeek": ('app.web.global.open_hours.days_structured.' ~ businessHour.startDay)|trans,
                "opens": businessHour.openTime[:2] ~ ':' ~ businessHour.openTime[2:],
                "closes": businessHour.closeTime[:2] ~ ':' ~ businessHour.closeTime[2:],
            }}) %}
        {% endif %}
    {% endfor %}

    {% for hourData in businessHoursData %}
        {% set openingHours = openingHours|merge([hourData]) %}
    {% endfor %}
{% endif %}

{% set imageUrl = url('app_web_image_cloudinary', {'apiKey': shop.apiKey, 'id': location.externalId, 'brand': location.brand|default, 'imageType': constant('App\\Controller\\Web\\ImageController::IMAGE_TYPE_LOCATION')}) %}
{% if shop.apiVersion == constant('App\\Entity\\Shop::API_VERSION_3') and location.images|length %}
    {% set image = location.images[0] %}
    {% set imageUrl = url('app_web_image_cloudinary_path', {'apiKey': image.cloudName|default("mobilosoft-testing"), 'apiPath': image.publicId, 'imageSize': 'h_500'}) %}
{% endif %}


{% set structuredData = {
    "@context": "http://schema.org",
    "@type":  shop.getLocalBusinessType(location.brandSlug),
    "@id":  url('app_web_shop_show', {'_locale': app.request.locale, 'slug': location.slug}) ,
    "name": location.name ,
    "url":  url('app_web_shop_show', {'_locale': app.request.locale, 'slug': location.slug}) ,
    "logo":  absolute_url(asset('build/images/web/shop/' ~ shop.code ~ '/favicon.ico')) ,
    "image":  imageUrl ,
    "email": location.contact.email,
    "telephone": location.contact.phone,
    "address": {
        "@type": "PostalAddress",
        "streetAddress": (location.address.number ? location.address.number ~ ' ' : '') ~ location.address.street,
        "addressLocality": location.address.locality,
        "postalCode": location.address.zipCode,
        "addressCountry": location.address.country
    },
    "geo": {
        "@type": "GeoCoordinates",
        "latitude": location.address.latitude,
        "longitude": location.address.longitude
    },
        "openingHoursSpecification":  openingHours
    }
%}

{% if location.tpReviewsNo is defined and location.tpReviewsNo|length %}

    {% set structuredData = structuredData|merge(
        {"aggregateRating":  {

            "@type": "AggregateRating",
            "ratingValue": location.tpScore,
            "ratingCount": location.tpReviewsNo

        }
        }
        ) %}

{% endif %}

<script type="application/ld+json">

        {{ structuredData|json_encode|raw }}


</script>
