{% extends 'web/base/home.html.twig' %}

{% set headerUrl = 'https://www.leon-de-bruxelles.fr/' %}
{% if app.request.locale == "en" %}
    {% set headerUrl = 'https://www.leon-de-bruxelles.fr/en/' %}
{% endif %}

{% block header %}
    <div class="mobi_header">
        {% autoescape false %}
            {{ remote_content(shop, headerUrl, 'header') }}
        {% endautoescape %}
    </div>
{% endblock %}

{% block footer %}
    <div class="mobi_footer">
        {% autoescape false %}
            {{ remote_content(shop, headerUrl, 'footer') }}
        {% endautoescape %}
    </div>
{% endblock %}

{% block content %}
    <div class="mobi_content">
        {# Include content blocks #}
        <div class="wrapper">
            <div class="shop-list-subheader">
                <div class="header-introduction">
                    <h4 class="shop-title-h4 map-top-brand">{{ "app.web.home.map.page_title"|trans({}, shop.code) }}</h4>
                    <h2 class="shop-title-h2 map-top-title current_city search-results-location">{{ app.request.get('keyword')|default('Paris') }}</h2>
                </div>
            </div>
        </div>
        {% include 'web/shop/leondebruxelles-fr/block/map_search_list.html.twig' %}
        {% include 'web/shop/leondebruxelles-fr/block/location_list_simple.html.twig' %}
    </div>

    <div class="container-popup" id="command_modal">
        <div class="content-popup">
            <a href="javascript:;" class="close_pop">&nbsp;</a>
            <iframe class="window_open_pop" id="command" src="javascript:"></iframe>
        </div>
    </div>
{% endblock %}

{% block stylesheets_custom %}
    {{ encore_entry_link_tags('css/web/shop/' ~ shop.code ~ '/app') }}
{% endblock %}

{% block javascripts_main %}
    {{ encore_entry_script_tags('js/web/shop/' ~ shop.code ~ '/home') }}
{% endblock %}

{% block javascripts_custom %}
    {{ encore_entry_script_tags('js/web/shop/' ~ shop.code ~ '/app') }}
{% endblock %}

{% block javascripts_var %}
    {{ parent() }}

    {# Map Settings for this shop (default are defind in js map folder files, DEFAULT_SETTINGS getter) #}
    <script type="text/javascript">
        var globalSettings = {
            maxMarkersSizeForClustering: 51,
            map: {
                center: {lat: 48.8587741, lng: 2.2069771},
                zoom: 12,
            },
            geoLocationCountry: ['FR'],
            marker: {
                icon: '{{ asset('build/images/web/shop/leondebruxelles-fr/pin-location-small.png') }}',
                icon_width: 25,
                icon_height: 30,
                iconIndex: '{{ asset('build/images/web/shop/leondebruxelles-fr/pin_icon_v_%%index%%.png') }}',
                iconIndex_width: 48,
                iconIndex_height: 50,
            },
            query: {
                size: 50,
                radius: 35000,
                near: "48.8589507,2.2770207",
            },
            searchType: "NEAR",
        };
    </script>
{% endblock %}
