{% extends 'web/base/show.html.twig' %}
{% block body_class %}detail-page{% endblock %}

{% block seo_tags %}
    {% set defaultDomain = shop.defaultDomain %}
    {% if defaultDomain %}
        <link rel="canonical"
              href="{{ app.request.scheme ~ '://' ~ defaultDomain.name ~ path('app_web_leondebruxelles_show', {'_locale': defaultDomain.language.code, 'slug': location.slug, 'externalId': location.externalId}) }}"/>

        <link rel="alternate" hreflang="x-default"
              href="{{ app.request.scheme ~ '://' ~ defaultDomain.name ~ path('app_web_leondebruxelles_show', {'_locale': defaultDomain.language.code, 'slug': location.slug, 'externalId': location.externalId}) }}"/>
    {% endif %}

    {% for language, domain in shop.languageDomains %}
        <link rel="alternate" hreflang="{{ language|replace({'_': '-'}) }}"
              href="{{ app.request.scheme ~ '://' ~ domain ~ path('app_web_leondebruxelles_show', {'_locale': language, 'slug': location.slug, 'externalId': location.externalId}) }}"/>
    {% endfor %}
{% endblock %}

{% set headerUrl = 'https://www.leon-de-bruxelles.fr/' %}
{% if app.request.locale == "en" %}
    {% set headerUrl = 'https://www.leon-de-bruxelles.fr/en/' %}
{% endif %}

{% block header %}
    <div class="mobi_header">
        {% autoescape false %}
            {{ remote_content(shop, headerUrl, 'header') }}
        {% endautoescape %}
    </div>
{% endblock %}

{% block footer %}
    <div class="mobi_footer">
        {% autoescape false %}
            {{ remote_content(shop, headerUrl, 'footer') }}
        {% endautoescape %}
    </div>
{% endblock %}

{% block content %}
    <div class="mobi_content">
        <div class="wrapper">
            <div class="breathcrumb_info">
                {% block breadcrumb %}
                    <ul class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a href="{{ path("app_web_shop_home", {"_locale":app.request.locale}) }}" itemprop="item">
                                <span itemprop="name">{{ "app.web.show.header_homepage"|trans({}, shop.code) }}</span>
                            </a>
                            <meta itemprop="position" content="1"/>
                        </li>

                        <li itemprop="itemListElement" itemscope
                            itemtype="http://schema.org/ListItem" class="current_city">
                            <span itemprop="name">{{ location.name }}</span>
                            <meta itemprop="position" content="2"/>
                        </li>
                    </ul>
                {% endblock %}

                <form action="#" class="location">
                    <input type="text" value="" id="gm-autocomplete-top"
                           placeholder="{{ "app.web.show.header_autocomplete"|trans({}, shop.code) }}"
                           autocomplete="off"><input type="submit" value="ok">
                    <a href="{{ path('app_web_shop_home', {'_locale' : app.request.locale}) }}"
                       class="back_page">{{ "app.web.show.header_back"|trans({}, shop.code) }}</a>
                </form>
            </div>
        </div>

        {% include 'web/shop/leondebruxelles-fr/block/location_details_with_image_and_map.html.twig' %}
        
        {% if location.externalId != '66004' %}
        <div class="wrapper">
            <div class="under-map-block">
                <img src="{{ asset('/build/images/web/shop/leondebruxelles-fr/leon_hygiene.jpg') }}">
            </div>
        </div>
        {% endif %}

        {% include 'web/shop/leondebruxelles-fr/block/location_details_services.html.twig' %}
        {% include 'web/shop/leondebruxelles-fr/block/location_details_promotions.html.twig' %}
        {% include 'web/shop/leondebruxelles-fr/block/location_details_reviews.html.twig' %}
        {% include 'web/shop/leondebruxelles-fr/block/location_details_near_locations.html.twig' %}
    </div>
{% endblock %}

{% block stylesheets_block %}{% endblock %}

{% block stylesheets_custom %}
    {{ encore_entry_link_tags('css/web/shop/' ~ shop.code ~ '/app') }}
{% endblock %}

{% block javascripts_custom %}
    {{ encore_entry_script_tags('js/web/shop/' ~ shop.code ~ '/app') }}

    <!-- TrustBox script -->
    <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js"
            async></script> <!-- End TrustBox script -->
{% endblock %}

{% block javascripts_var %}
    {{ parent() }}

    <script>
        var globalSettings = {
            near_query: {
                size: 6,
                radius: 200000,
            },
            marker: {
                icon: '{{ asset('build/images/web/shop/leondebruxelles-fr/pin-location-small.png') }}',
                icon_width: 25,
                icon_height: 30,

                iconIndex: '{{ asset('build/images/web/shop/leondebruxelles-fr/pin_icon_v_%%index%%.png') }}',
                iconIndex_width: 48,
                iconIndex_height: 50,
            },
            geoLocationCountry: ['FR'],
            listUrl: '{{ path('app_web_shop_home', {'_locale' : app.request.locale}) }}'
        };
    </script>
{% endblock %}
