<?xml version="1.0" encoding="UTF-8"?>

<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xhtml="https://www.w3.org/1999/xhtml"
        xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">

    {% set currentDate = 'now'|date('Y-m-d') %}
    <url>
        <loc>{{ app.request.schemeAndHttpHost }}</loc>
        <lastmod>{{ currentDate }}</lastmod>
        <changefreq>monthly</changefreq>
        <priority>1.0</priority>

        {% for language, domain in languageDomains %}
            <xhtml:link rel="alternate" hreflang="{{ language|replace({'_': '-'}) }}"
                        href="{{ app.request.scheme ~ '://' ~ domain ~ path('app_web_shop_home', {'_locale': language}) }}"/>
        {% endfor %}
    </url>

    {% for location in shopLocations %}
        <url>
            <loc>{{ url_https('app_web_leondebruxelles_show', {'_locale': shopDomain.language.code, 'slug': location.detailsArray.slug, 'externalId':location.detailsArray.externalId}) }}</loc>
            <lastmod>{{ currentDate }}</lastmod>
            <changefreq>monthly</changefreq>
            <priority>0.9</priority>

            {% for language, domain in languageDomains %}
                <xhtml:link rel="alternate" hreflang="{{ language|replace({'_': '-'}) }}"
                            href="{{ app.request.scheme ~ '://' ~ domain ~ path('app_web_leondebruxelles_show', {'_locale': language, 'slug': location.detailsArray.slug, 'externalId':location.detailsArray.externalId}) }}"/>
            {% endfor %}
        </url>
    {% endfor %}

</urlset>