
<footer id="colophon" class="site-footer" role="contentinfo">
    <div class="footer-content">
        <div class="menu-footer-menu-nl-container"><ul id="footer-menu" class="menu"><li id="menu-item-179" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-179"><a href="https://medi-market-group.be/nl/">© N.V. Medi-Market Group</a></li>
                <li id="menu-item-181" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-181"><a href="https://medi-market-group.be/nl/wettelijke-vermeldingen/">Wettelijke vermeldingen</a></li>
                <li id="menu-item-180" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-180"><a href="https://medi-market-group.be/nl/persoonlijke-levenssfeer/">Persoonlijke levenssfeer</a></li>
                <li id="menu-item-184" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-184"><a href="https://medi-market-group.be/nl/contact-2/">Contact</a></li>
            </ul></div>    </div>
</footer>