
<footer id="colophon" class="site-footer" role="contentinfo">
    <div class="footer-content">
        <div class="menu-footer-menu-container"><ul id="footer-menu" class="menu"><li id="menu-item-178" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-178"><a href="https://medi-market-group.be/fr/">© S.A. Medi-Market Group</a></li>
                <li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50"><a href="https://medi-market-group.be/fr/mentions-legales/">Mentions Légales</a></li>
                <li id="menu-item-49" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49"><a href="https://medi-market-group.be/fr/vie-privee/">Vie privée</a></li>
                <li id="menu-item-48" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-48"><a href="https://medi-market-group.be/fr/contact/">Contact</a></li>
            </ul></div>    </div>
</footer>