
<header class="site-header" role="banner">
    <nav class="dropdown-nav-switch">

    </nav>
    <div class="header-wrapper">
        <h1 class="site-title"><a href="https://medi-market-group.be/fr/" rel="home">Medicare Market</a></h1>
        <nav class="main-nav" role="navigation">
            <div class="menu-main-menu-container"><ul id="primary-menu" class="menu"><li id='menu-item-15'  class="menu-item menu-item-type-post_type menu-item-object-page"><a  href="https://medi-market-group.be/fr/notre-philosophie/"><span>Notre</span>philosophie</a> </li>
                    <li id='menu-item-20'  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a  href="#"><span>Nos</span>activites</a>
                        <ul class="sub-menu">
                            <li id='menu-item-18'  class="menu-item menu-item-type-post_type menu-item-object-magasin"><a  href="https://medi-market-group.be/fr/nos-activites/nos-parapharmacies/"><span>Medi-Market</span>Parapharmacie</a> </li>
                            <li id='menu-item-627'  class="menu-item menu-item-type-post_type menu-item-object-magasin"><a  href="https://medi-market-group.be/fr/nos-activites/nos-pharmacies/"><span>Pharmacie</span>by Medi-Market</a> </li>
                            <li id='menu-item-680'  class="menu-item menu-item-type-post_type menu-item-object-magasin"><a  href="https://medi-market-group.be/fr/nos-activites/institut-by-medi-market/"><span>Institut</span>by Medi-Market</a> </li>
                        </ul>
                    </li>
                    <li id='menu-item-17'  class="menu-item menu-item-type-post_type menu-item-object-page"><a  href="https://medi-market-group.be/fr/jobs/"><span>Nous</span>rejoindre</a> </li>
                    <li id='menu-item-16'  class="menu-item menu-item-type-post_type menu-item-object-page"><a  href="https://medi-market-group.be/fr/notre-actualite/"><span>Notre</span>actualité</a> </li>
                    <li id='menu-item-298'  class="menu-item menu-item-type-post_type menu-item-object-page"><a  href="https://medi-market-group.be/fr/contact/"><span>​</span>Contact</a> </li>
                </ul></div>			</nav><!-- #site-navigation -->
        <div class="header-aside">
            <h5>
                <span><em>Nos </em>Points de vente</span>
                <ul>
                    <li>
                        <a target="_blank" href="https://stores.pharmaclic.be/fr">Trouver nos pharmacies</a>
                    </li>
                    <li>
                        <a target="_blank" href="http://stores.medi-market.be/fr">Trouver nos parapharmacies</a>
                    </li>
                </ul>
            </h5>
            <div class="to-shops">
                <a target="_blank" href="https://institut.medi-market.be"><span data-hover="institut.medi-market.be">Nos <em>instituts</em></span></a>
                <a target="_blank" href="https://pharmacy-medi-market.be/pharmacie"><span data-hover="pharmacy-medi-market.be">pharmacie <em>en ligne</em></span></a>
            </div>
        </div>
        <a class="lang" href ="https://medi-market-group.be/nl/header-only-nl/" hreflang = "nl">nl</a>		</div>
</header>