
<header class="site-header" role="banner">
    <nav class="dropdown-nav-switch">

    </nav>
    <div class="header-wrapper">
        <h1 class="site-title"><a href="https://medi-market-group.be/nl/" rel="home">Medicare Market</a></h1>
        <nav class="main-nav" role="navigation">
            <div class="menu-main-menu-nl-container"><ul id="primary-menu" class="menu"><li id='menu-item-161'  class="menu-item menu-item-type-post_type menu-item-object-page"><a  href="https://medi-market-group.be/nl/onze-filosofie/"><span>Onze</span>filosofie</a> </li>
                    <li id='menu-item-165'  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a  href="#"><span>Onze</span>activiteiten</a>
                        <ul class="sub-menu">
                            <li id='menu-item-169'  class="menu-item menu-item-type-post_type menu-item-object-magasin"><a  href="https://medi-market-group.be/nl/onze-activiteiten/onze-parapharmacies/"><span>Medi-Market</span>Parapharmacieën</a> </li>
                            <li id='menu-item-628'  class="menu-item menu-item-type-post_type menu-item-object-magasin"><a  href="https://medi-market-group.be/nl/onze-activiteiten/onze-apotheken/"><span>Apotheken</span>by Medi-Market</a> </li>
                            <li id='menu-item-679'  class="menu-item menu-item-type-post_type menu-item-object-magasin"><a  href="https://medi-market-group.be/nl/onze-activiteiten/institut-by-medi-market-2/"><span>Institut</span>by Medi-Market</a> </li>
                        </ul>
                    </li>
                    <li id='menu-item-160'  class="menu-item menu-item-type-post_type menu-item-object-page"><a  href="https://medi-market-group.be/nl/jobs-2/"><span>Ons</span>vervoegen</a> </li>
                    <li id='menu-item-162'  class="menu-item menu-item-type-post_type menu-item-object-page"><a  href="https://medi-market-group.be/nl/onze-actualiteit/"><span>Onze</span>actualiteit</a> </li>
                    <li id='menu-item-299'  class="menu-item menu-item-type-post_type menu-item-object-page"><a  href="https://medi-market-group.be/nl/contact-2/"><span>​</span>Contact</a> </li>
                </ul></div>			</nav><!-- #site-navigation -->
        <div class="header-aside">
            <h5>
                <span><em>Onze </em>Verkooppunten</span>
                <ul>
                    <li>
                        <a target="_blank" href="https://stores.pharmaclic.be/nl">Onze apotheken vinden</a>
                    </li>
                    <li>
                        <a target="_blank" href="http://stores.medi-market.be/nl">Onze parapharmacieën vinden</a>
                    </li>
                </ul>
            </h5>
            <div class="to-shops">
                <a target="_blank" href="https://institut.medi-market.be"><span data-hover="institut.medi-market.be">Onze <em>instituten</em></span></a>
                <a target="_blank" href="https://pharmacy-medi-market.be/apotheek"><span data-hover="pharmacy-medi-market.be">online <em>apotheek</em></span></a>
            </div>
        </div>
        <a class="lang" href ="https://medi-market-group.be/fr/header-only-fr/" hreflang = "fr">fr</a>		</div>
</header>