.pane-footer-copyright {
  width: 100%;
  margin: 0 auto;
  max-width: 1210px;
  padding: 30px 15px;

  .pane-content {
    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: #{$mobile_down}) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .left {
      font-size: 12px;
    }

    .right {
      display: flex;
      align-items: center;

      a {
        margin-left: 7px;
        padding-left: 7px;
        border-left: 1px solid $gray;
        color: $gray;
        line-height: 16px;
        text-decoration: none;
        font-size: 12px;


        &:first-child {
          border-left: 0;
          padding-left: 0;
          margin-left: 0;
        }
      }
    }
  }
}