.header {
  position: relative;
  padding: 15px 0 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#e2eaf4), to(#fff));
  background: linear-gradient(#e2eaf4, #fff);

  .inside {
    width: 100%;
    margin: 0 auto;
    max-width: 1210px;
    padding: 0 15px;

    &:after {
      content:'';
      display: block;
      clear: both;
    }
  }

  .pane-page-logo {
    float: left;
    width: 20%;
    margin-top: 7px;

    @media (max-width: 520px) {
      width: 38%;
    }

     @media (max-width: 480px) {
      width: 50%;
     }

    img {
      @media (max-width: #{$small_screen_down}) {
        max-width: 100%;
        height: auto;
      }
    }
  }

  .pane-portal-user-info {
    float: left;
    margin-bottom: 41px;
    text-align: right;
    width: 30%;
    margin-top: 27px;

    @media (max-width: #{$mobile_down}) {
      float: right;
      margin-top: 0;
      margin-left: 0;
      text-align: left;
      width: 40%;
    }

    @media (max-width: 520px) {
      width: 55%;
    }

    @media (max-width: 480px) {
      font-size: 11px;
      width: 100%;
      float: left;
      margin-top: 18px;
      margin-bottom: 0;
    }

    #portal-user-info {
      font-family: $verdana_font;

      @media (max-width: 480px) {
        font-size: 11px;
      }
    }

    a {
      padding: 9px 18px;
      margin-top: 0;
      color: $white;
      margin-left: 5px;
      border-radius: 2px;
      background: $blue_62;
      text-decoration: none;
      transition: .35s;

      &:hover {
        background-color: $blue_hover;
      }

      @media (max-width: 480px) {
        font-size: 11px;
      }
    }
  }

  .pane-page-slogan {
    color: $blue;
    font-size: 15px;
    float: left;
    width: 55%;
    padding: 18px 20px 0;
    text-align: center;
    display: none;
  }

  .pane-locale-language {
    float: left;
    width: 25%;
    margin-top: 28px;

    @media (max-width: #{$tablet}) {
      margin-top: 0;
    }

    .pane-content {
      display: flex;
      justify-content: flex-end;
    }

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      @media (max-width: #{$tablet}) {
        position: absolute;
        top: -28px;
        left: 10px;
      }

      li {
        border-left: 1px solid $gray_8e;

        &:first-child {
          border-left: none;
        }

        a {
          text-transform: uppercase;
          text-decoration: none;
          color: $gray;
          display: block;
          padding: 0 6px;
          line-height: 13px;
          text-align: center;
          font-family: $verdana_font;

          &.active {
            color: $orange;
            font-weight: 700;
          }
        }
      }
    }
  }

  .pane-menu-secondary-nl, 
  .pane-menu-secondary-fr, 
  .pane-menu-secondary-en {
    float: left;
    width: 25%;
    text-align: right;
    margin-top: 18px;

    @media (max-width: #{$mobile_down}) {
      display: none;
    }

    ul {
      display: flex;
      justify-content: flex-end;
      margin: 10px 0;

      li {
        border-left: 1px solid #8e9098;
        padding-left: 5px;
        margin-left: 5px;
        line-height: 1;

        &:first-child {
          border-left: none;
        }

        a {
          text-decoration: none;
          line-height: 13px;
          color: $gray;
          font-family: $verdana_font;

          &:hover {
            color: $orange;
            span {
              color: $orange;
            }
          }

          span {
            font-family: $verdana_font;
            transition: all 0.15s linear;
          }
        }
      }
    }
  }

  .pane-menu-main-menu-nl, 
  .pane-menu-main-menu-fr, 
  .pane-main-menu {
    padding: 30px 0 0px;
    clear: both;
    position: relative;

    @media (max-width: #{$tablet}) {
      display: none;
      padding: 0;
      position: absolute;
      top: 0px;
      left: 0;
      z-index: 800;
      width: 100%;
    }

    @media (min-width: #{$tablet_up}) {
      display: block !important;
    }

    ul {
      display: flex;

      @media (max-width: #{$tablet}) {
        display: block;
        background-color: $white;
      }

      li {
        margin-left: 8px;
        margin-bottom: 10px;

        @media (max-width: #{$tablet}) {
          margin-left: 0px;
          border: 1px solid #e9e9eb;
          margin-bottom: 0;
          margin-bottom: -1px;
        }

        &:first-child {
          margin-left: 0;
          a {
            padding: 5px 10px;

            @media (max-width: #{$tablet}) {
              padding: 11px 10px;
              background-color: $white;
              border-color: $orange;
            }

            &:hover {
              @media (max-width: #{$tablet}) {
                background-color: $orange_hover;
                color: $white;
                border-color: $orange;;
              }

              span {
                @media (max-width: #{$tablet}) {
                  color: $white;
                }
              }
            }

            span {
              &.icon {
                font-family: $manweb-icons_font;

                @media (max-width: #{$tablet}) {
                  display: none;
                }

                &:before {
                  content: "\e600";
                  font-size: 18px;
                  color: $gray;
                  position: relative;
                  top: -2px;
                }
              }

              &.text {
                display: none;

                @media (max-width: #{$tablet}) {
                  display: block;
                }
              }
            }
          }
        }

        a {
          line-height: 13px;
          text-decoration: none;
          padding: 5px 15px;
          position: relative;
          display: inline-block;
          vertical-align: middle;
          color: $blue_45;
          text-transform: uppercase;
          font-family: $lato_font;

          @media (max-width: #{$tablet}) {
            display: block;
            padding: 11px 10px;
            border-left: 4px solid #a7cbe5;
            background: white;
            color: $blue_45;
          }

          &:hover {
            @media (min-width: #{$tablet_up}) {
              color: $orange;
            }

            @media (max-width: #{$tablet}) {
              background-color: $blue_a7;
              border-color: $blue;
            }

            span {
              @media (min-width: #{$tablet_up}) {
                color: $orange;
              }
            }
          }

          span {
            transition: all 0.15s linear;
            font-family: $lato_font;
            color: $blue_45;

            @media (max-width: #{$tablet}) {
              color: $blue_45;
            }
          }
        }
      }

      ul {
        display: none;
      }
    }
  }
}

.menuToggle {
  display: none;
  align-items: center;
  justify-content: flex-end;
  padding: 5px 15px;
  height: 40px;
  text-align: right;
  border-bottom: 1px solid $gray_e9;
  background: $gray_f6;

  @media (max-width: #{$tablet}) {
    display: flex;
  }

  span {
    display: inline-block;
    border-radius: 3px;
    padding: 3px 5px;
    background: white;
    border: 1px solid $gray_c3;
    cursor: pointer;
  }
}

























