.footer {
  background-color: $footer-color;
  
  @media (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    min-height: 190px;
  }

  .footer-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }
  }

  .footer-item {
    display: flex;
    max-width: 360px;
    width: 100%;
    padding: 0 20px;

    @media (max-width: 767px) {
      padding: 0px 27px;
      max-width: 100%;
      margin-bottom: 80px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .img-block {
      margin-right: 29px;

      @media screen and (min-width: 768px) and (max-width: 992px) { 
        width: 30px;
      }

      img {
        display: block;
        max-width: 100%;

        @media screen and (min-width: 768px) and (max-width: 992px) { 
          width: 30px;
        }
      }
    }

    h2 {
      font-size: 15px;
      line-height: 20px;
      margin: 0 0 2px 0;
      color: $white;
      text-transform: initial;
      letter-spacing: 1px;
    }

    p {
      font-size: 16px;
      line-height: 20px;
      color: $white;
      margin: 0;
      letter-spacing: 0.5px;

      a {
        font-size: 16px;
        line-height: 20px;
        color: $white;
        text-decoration: none;
        display: block;
        letter-spacing: 0.5px;
        margin-bottom: 5px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}