.header {
  background-color: $header-color;
  padding-left: 50px;
  padding-right: 50px;

  @media (max-width: 992px) {
   padding: 10px 20px;
    position: relative;
  }

  @media (min-width: 993px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
  }

  .logo {
    max-width: 167px;
    width: 100%;

    img {
      display: block;
      max-width: 100%;
    } 
  }

  .header-top {
    @media (max-width: 992px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }

  .burger-btn {
    width: 24px;
    height: 24px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;

    @media (max-width: 992px) {
      display: flex;
    }

     &:after,
     &:before {
      content:'';
      width: 22px;
      height: 4px;
      background-color: $white;
      display: block;
      border-radius: 3px;
    }

    span {
      display: block;
      width: 22px;
      height: 4px;
      background-color: $white;
      border-radius: 3px;
      margin: 3px 0;
    }
  }

  .menu-header {
    display: flex;
    align-items: center;

    @media (max-width: 992px) {
      justify-content: flex-start;
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: $header-color;
      width: 100%;
      z-index: 120;
      padding: 30px 23px;
      height: calc(100vh - 80px);
    }

    @media (min-width: 993px) {
      display: flex !important;
    }

    .menu-item {
      display: block;
      position: relative;
      padding-right: 13px;
      margin-right: 13px;

      @media (max-width: 992px) {
        padding-right: 0;
        margin-right: 0;
        padding-left: 14px;
        margin-bottom: 23px;
      }

      &:last-child {
        @media (max-width: 992px) {
          margin-bottom: 0;
        }

        @media (min-width: 993px) {
          padding-right: 0;
          margin-right: 0;
        }
        
        &:after {
          @media (min-width: 993px) {
            display: none;
          }
        }
      }

      &:after {
        content:'';
        width: 6px;
        height: 6px;
        background-color: $white;
        border-radius: 50%;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        @media (max-width: 992px) {
          right: auto;
          left: 0;
        }
      }

      .menu-link {
        line-height: 18px;
        font-weight: 700;
        font-size: 15px;
        color: $white;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        transition: 0.2s color linear;

        @media (max-width: 992px) {
          letter-spacing: 0;
        }

        &:hover {
          color: $gray_93;
        }
      }
    }
  }
}