<div id="auctions-wrapper" data-collection-wrapper>
  <div class="auctions-container">
    <h2 class="auctions-title">Cars</h2>
    <div class="car-list" id="auctions-list" data-collection></div>
    <ul class="pages" data-collection-pagination></ul>
  </div>
</div>
