<!-- Block location services + image and info -->
<section id="block_location_services" class="section-location-services">

    {% set showServices = false %}

    {% if shop.apiVersion == constant('App\\Entity\\Shop::API_VERSION_2') %}
        {% if location.services and location.services['property.service'] is defined and location.services['property.service']|length %}
            {% set showServices = true %}
            {% set services = location.services['property.service'] %}
        {% endif %}
    {% else %}
        {% if location.services and location.services['SERVICE'] is defined and location.services['SERVICE']|length %}
            {% set showServices = true %}
            {% set services = location.services['SERVICE'] %}
        {% endif %}

    {% endif %}

    {% if showServices %}
        <div class="location-services">
            <div class="wrapper">
                <h2>{{ 'app.web.show.location_services.title'|trans }}</h2>

                <ul class="services-images-info">
                    {% for propertyService in services if propertyService.contentFacet.title or propertyService.externalId %}
                        <li itemscope itemtype="http://schema.org/Service" class="modal-button"
                                    data-modal-title="{{ propertyService.contentFacet.title }}"
                                    data-modal-body="{% if propertyService.contentFacet.shortContent %}{{ propertyService.contentFacet.shortContent }}{% endif %} {% if propertyService.contentFacet.longContent %}{{ '<br>' ~ propertyService.contentFacet.longContent }}{% endif %}">
                            <div>
                                {% if shop.apiVersion == constant('App\\Entity\\Shop::API_VERSION_2') %}
                                    <img src="{{ path('app_web_image_cloudinary', {
                                        'apiKey': shop.apiKey,
                                        'id': propertyService.externalId,
                                        'imageSize': 'h_35',
                                        'defaultImage': asset('build/images/web/one-pixel.png')
                                    }) }}" alt="{{ propertyService.contentFacet.title }}"/>
                                {% elseif propertyService.assets[0] is defined and propertyService.assets[0].publicId|length  %}
                                    {% set image = propertyService.assets[0]  %}
                                    <img src="{{ path('app_web_image_cloudinary_path', {'apiKey': image.cloudName, 'apiPath': image.publicId}) }}" alt="{{ propertyService.contentFacet.title }}"/>
                                {% endif %}
                            </div>

                            <span itemprop="serviceType">{{ propertyService.contentFacet.title }}</span>


                            {% if shop.apiVersion == constant('App\\Entity\\Shop::API_VERSION_2') %}
                                <meta itemprop="logo" content="{{ url('app_web_image_cloudinary', {
                                    'apiKey': shop.apiKey,
                                    'id': propertyService.externalId,
                                    'imageSize': 'h_35',
                                    'defaultImage': asset('build/images/web/one-pixel.png')
                                }) }}"/>
                            {% elseif propertyService.assets[0] is defined and propertyService.assets[0].publicId|length  %}

                                {% set image = propertyService.assets[0]  %}
                                <meta itemprop="logo" content="{{ url('app_web_image_cloudinary_path', {'apiKey': image.cloudName, 'apiPath': image.publicId}) }}"/>
                            {% endif %}

                            <meta itemprop="description" content="{% if propertyService.contentFacet.shortContent %}{{ propertyService.contentFacet.shortContent }}{% endif %} {% if propertyService.contentFacet.longContent %}{{ '<br>' ~ propertyService.contentFacet.longContent }}{% endif %}" />

                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div id="service_info_modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>

                        <button type="button" id="modal_close_button" class="close">&#10005;</button>
                    </div>

                    <div class="modal-body"></div>
                </div>
            </div>
        </div>
    {% endif %}
</section>