<!-- Block location description + image left -->
<section id="block_location_description" class="section-location-description">

    <div class="description-block">
        <div class="wrapper">
            <div class="row">
                <div class="col-half">
                    {% block location_image_left %}
                        <div class="image-slider-block">
                            {% if location.images|length %}
                            <div class="image-slider">
                                {# add support for V3 #}

                                    {% for image in location.images %}

                                        <img src="{{ path('app_web_image_cloudinary_path',
                                            {'apiKey': image.cloudName|default("mobilosoft-testing"),
                                                'apiPath': image.publicId,
                                                'imageSize': 'h_500'}) }}" alt="{{ location.brand }} {{ location.address.locality }}">
                                    {% endfor %}
                            </div>
                            {% else %}
                                <div class="details-image">
                                    <img src="{{ asset('build/images/web/shop/' ~ shop.code ~ '/pickles_about.jpg') }}"  alt="{{ location.brand }} {{ location.address.locality }}" title="{{ location.brand }} {{ location.address.locality }}">
                                    <a href="https://www.pickles.com.au/about" target="_blank" class="btn btn-primary">About Pickles</a>
                                </div>
                            {% endif %}
                        </div>
                    {% endblock %}
                </div>

                <div class="col-half">
                    {% block location_description_title %}
                        <h2><strong>
                                {% if twigData['defaultTitleLeft'] is defined  %}
                                    {{ twigData['defaultTitleLeft'] }}
                                {% else %}
                                    {% if 'app.web.show.location_description.title'|trans({}, shop.code) != 'app.web.show.location_description.title' %}
                                        {{ 'app.web.show.location_description.title'|trans({}, shop.code) }}
                                    {% else %}
                                        {{ 'app.web.show.location_description.title'|trans }}
                                    {% endif %}
                                {% endif %}
                            </strong></h2>
                    {% endblock %}

                    {% block location_description_content %}

                        {% if location.description is defined and location.description|length %}
                            {% autoescape false %}

                                {{ location.description|replace({'\r\n':'<br/>'}) }}

                            {% endautoescape %}
                        {% else %}
                            {% block location_description_default_content %}
                                {%  if twigData['defaultDescriptionLeft'] is defined %}
                                    {% autoescape false %}
                                        {{ twigData['defaultDescriptionLeft'] }}
                                    {% endautoescape %}
                                {% endif %}
                            {% endblock %}
                        {% endif %}


                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

</section>