$font-path: '../../../../../fonts/shop/wasteconnections-us';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

// @font-face {
//   font-family: 'Bree-light';
//   src: url($font-path + '/Bree-Light.eot');
//   src: url($font-path + '/Bree-Light.eot?#iefix') format('embedded-opentype'),
//       url($font-path + '/Bree-Light.woff2') format('woff2'),
//       url($font-path + '/Bree-Light.woff') format('woff'),
//       url($font-path + '/Bree-Light.ttf') format('truetype'),
//       url($font-path + '/Bree-Light.svg#Bree-Light') format('svg');
//   font-weight: 300;
//   font-style: normal;
//   font-display: swap;
// }

