body {
  font-family: $roboto_font;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  background-color: rgb(250,250,250);
  color: #424242;
}

* {
  font-family: $roboto_font;
  font-weight: 400;
  font-size: 16px;
  color: #424242;
}

::-moz-selection { /* Code for Firefox */
  color: $white;
  background-color: #35559d;
}

::selection {
  color: $white;
  background-color: #35559d;
}

.wrapper {
  padding-right: 15px !important; 
  padding-left: 15px !important;
  margin: 0 auto;
  max-width: 90% !important;

  @media (min-width: #{$small_screen_down}) {
    width: 750px !important;
  }

  @media (min-width: #{$tablet}) {
    width: 970px !important;
  }

  @media (min-width: #{$desktop}) {
    width: 1170px !important;
  }
}

.mb-40 {
  margin-bottom: 40px !important;

  @media (max-width: #{$mobile_down}) {
    margin-bottom: 30px !important;
  }
}

.location-summary {
  h5 {
    font-weight: 600;
    line-height: 16px !important;
    font-size: 15px !important;
    color: $gray !important;
    text-transform: none;
    margin-bottom: 0px;

    a {
      font-weight: 600;
      line-height: 16px !important;
      font-size: 14px !important;
      color: $gray !important;
      text-transform: none;

      &:hover {
        color:  $gray !important;
      }
    }
  }

  address {
    font-size: 14px;
    line-height: 16px;
    color: $gray !important;
    margin-bottom: 4px;
  }

  .location-phone {
    a {
      font-size: 12px;
      line-height: 14px;
      color: $gray;
      font-weight: 500;
      text-decoration: none;

      &:hover {
        color: $gray !important;
      }
    }
  }

  .show-open-window {
    margin-bottom: 10px;
  }

  .open-close-box {
    span {
      font-size: 14px;
    }

    .open-label {
      font-size: 12px;
    }
  }

  .phone-number {
    font-size: 12px;
    line-height: 14px;
    color: $gray;
    font-weight: 500;
  }

  .small-schedule {
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    padding: 7px 0 0 0;

    .table-schedule {
      th,
      td {
        font-size: 14px;
        line-height: 16px;
        padding: 0 !important;
        color: $black;
      }

      th {
        width: 30%;
      }

      td {
        width: 70%;
      }
    }
  }
}

.detail-page {
  h1 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: $green;
  }

  h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: $green;
    text-transform: inherit;

    @media (max-width: #{$mobile_down}) {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 18px;
    }

    strong {
      font-weight: 700;
      font-size: 20px;
      color: $green;
      line-height: 26px;
      text-transform: inherit;

      @media (max-width: #{$mobile_down}) {
        font-size: 20px;
        line-height: 26px;
      }
    }
  }

  h4,
  h3 {
    font-weight: 700;
    font-size: 18px;
    color: $green;
    text-transform: inherit;
  }

  .services-button {
    background-color: $green;
    border-color: $green;
    font-size: 14px;
    padding: 6px 12px;
    white-space: nowrap;
    border-radius: 4px;
    background-image: none;
    font-weight: 400;
    box-shadow: none;
    color: $white;

    &:hover {
      filter: none !important;
      background-color: rgb(0,90,67) !important;
    }
  }

  address {
    color: $green;
  }

  .slick-dots {
    li {
      &.slick-active {
        button {
          background-color: $green !important;
        }
      }

      &:hover {
        button {
          background-color: $green !important; 
        }
      }

      button {
        border: 1px solid $green !important;
        width: 12px !important;
        height: 12px !important;

        &:before {
          display: none !important;
        }
      }
    }
  }
}




