// Color
$white: #ffffff;
$black: #000000;
$tr: transparent;

$blue: #0053a0;

$gray: #555555;

$green: #00624a;


// Fonts
$roboto_font: 'Roboto', sans-serif;

// Image path
$img_path: '../../../../../images/web/shop/wasteconnections-us/';

// Media
$desktop: 1280px;
$desktop_up: 1281px;
$tablet: 960px;
$tablet_up: 961px;
$mobile_up: 768px;
$mobile_down: 767px;
$small_screen_up: 601px;
$small_screen_down: 600px;

/*@media (max-width: #{$mobile_down})*/