.header {
  .header-content{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid $gray;
    padding: 16px 0 10px;

    @media (max-width: #{$mobile_down}) {
      position: relative;
      background-color: $white;
      border-bottom: 1px solid $gray_b7;
      margin: 0 -15px;
      padding: 7px 15px 6px;
      min-height: 55px;
    }
  }

  .logo {
    display: block;

    img {
      max-width: 170px;

      @media (max-width: #{$mobile_down}) {
        max-width: 89px;
      }
    }
  }
}