{% extends 'web/base/home.html.twig' %}

{% set headerUrl = "https://www.farm.coop/" %}
{% if app.request.locale =='nl' %}
    {% set headerUrl = "https://www.farm.coop/nl/" %}
{% endif %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/web/shop/'~shop.code~'/home') }}
{% endblock %}

{% block header %}
    {% autoescape false %}
        {{ remote_content(shop, headerUrl, 'header') }}
    {% endautoescape %}
{% endblock %}

{% block content %}
    {# set filters content for map #}
        {% set twigData = {'filterContent': include('web/block/map/filters/simple_checkbox.html.twig', {
        'filters': {
                'brands': {'brandSlugs[0]':'brut-by-farm', 'brandSlugs[1]':'farm'}
                }
        })} %}

    {% for template in templates %}
        {% include 'web/block/' ~ template.attribute.block ~ '/' ~ template.attributeValue.value ~ '.html.twig' ignore missing %}
    {% endfor %}
{% endblock %}

{% block footer %}
    {% autoescape false %}
        {{ remote_content(shop, headerUrl, 'footer') }}
    {% endautoescape %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('js/web/shop/farm-be/app') }}
{% endblock %}

{% block javascripts_var %}
    {{ parent() }}

    {#  Map Settings for this shop (default are defind in js map folder files, DEFAULT_SETTINGS getter) #}
    <script type="text/javascript">

        globalData['brandSlugs'] = [

            'farm', 'brut-by-farm'
        ];

        var globalSettings = {
            map: {
                center: {lat: 50.62313744304004, lng: 5.365809522627387},
                zoom: 10,
            },
            geoLocationCountry: ['BE'],
            query: {
                size: 50,
                radius: 3000,
                onGeolocationRadius: 3000,
            },
            marker: {
                icon: '{{ asset('build/images/web/shop/' ~ shop.code ~ '/marker/default.png') }}',
                icon_width: 35,
                icon_height: 52
            },
        };
    </script>
{% endblock %}
