{% extends 'web/base/show.html.twig' %}

{% set headerUrl = "https://www.farm.coop/" %}
{% if app.request.locale =='nl' %}
    {% set headerUrl = "https://www.farm.coop/nl/" %}
{% endif %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/fonts/shop/farm-be/eicons.woff2') }}" rel="preload" as="font" crossorigin="anonymous"/>
    <link href="{{ asset('/fonts/shop/farm-be/FontAwesome5Brands-Regular.woff2') }}" rel="preload" as="font" crossorigin="anonymous"/>
    <link href="{{ asset('/fonts/shop/farm-be/HandageAOE.woff2') }}" rel="preload" as="font" crossorigin="anonymous"/>
    <link href="{{ asset('/fonts/shop/farm-be/Oswald-Regular.woff2') }}" rel="preload" as="font" crossorigin="anonymous"/>
    <link href="{{ asset('/fonts/shop/farm-be/WorkSans-Bold.woff2') }}" rel="preload" as="font" crossorigin="anonymous"/>
    <link href="{{ asset('/fonts/shop/farm-be/WorkSans-Light.woff2') }}" rel="preload" as="font" crossorigin="anonymous"/>
    <link href="{{ asset('/fonts/shop/farm-be/WorkSans-Regular.woff2') }}" rel="preload" as="font" crossorigin="anonymous"/>
    <link href="{{ asset('/fonts/shop/farm-be/YanoneKaffeesatz-Regular.woff2') }}" rel="preload" as="font" crossorigin="anonymous"/>
    {{ encore_entry_link_tags('css/web/shop/'~shop.code~'/show') }}
{% endblock %}

{% block header %}
    {% autoescape false %}
        {{ remote_content(shop, headerUrl, 'header') }}
    {% endautoescape %}
{% endblock %}

{% block content %}

    {% set twigData  = {'defaultTitleLeft':'app.web.show.description.title'|trans({}, shop.code), 'promotionImageSize':'w_438'} %}

    {% for template in templates %}
        {% if template.attribute.block == constant('App\\Entity\\Attribute::BLOCK_LOCATION_DETAILS') %}
            {% include 'web/shop/farm-be/block/location_details_with_image_and_map.html.twig' %}
        {% else %}
            {% include 'web/block/' ~ template.attribute.block ~ '/' ~ template.attributeValue.value ~ '.html.twig' ignore missing %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block footer %}
    {% autoescape false %}
        {{ remote_content(shop, headerUrl, 'footer') }}
    {% endautoescape %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/web/shop/farm-be/app') }}
{% endblock %}

{% block javascripts_var %}
    {{ parent() }}

    <script>

        globalData['brandSlugs'] = [

            'farm', 'brut-by-farm'
        ];

        var globalSettings = {
            near_query: {
                size: 9,
                radius: 2000000,
            },
            marker: {
                icon: '{{ asset('build/images/web/shop/' ~ shop.code ~ '/marker/default.png') }}',
                icon_width: 35,
                icon_height: 52
            },
            geoLocationCountry: ['BE'],
        };
    </script>
{% endblock %}
