.breathcrumb_info {
    width: 100%;
    margin: 0;
    padding: 0 4rem 0 20.85rem;
    box-sizing: border-box;
    height: 3.75rem;
    background: #4e9c34;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
        flex-direction: column;
        height:auto;
        padding: 20px 15px;
    }

    @include media-breakpoint-between(md,lg) {
        padding: 0 15px;
    }

    .bread {
        margin: 0;
        padding: 0;
        width: 25rem;
        list-style-type: none;

        @include media-breakpoint-down(sm) {
           display: none;
        }

        li {
            display: inline-block;
            margin: 0;
            padding: 0;
            color: #fff;
            text-transform: uppercase;
            font-size: .75rem;

            a {
                display: block;
                position: relative;
                padding: 0 1.4rem 0 0;
                text-decoration: none;
                color: #fff;

                &:after {
                    content: '>';
                    position: absolute;
                    right: .25rem;
                    top: 0;
                }
            }

            span {
                color: #fff;
            }
        }
    }

    .location {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        @include media-breakpoint-down(xs) {
            width: 100%;
        }
        
        input[type=text] {
            height: 2.125rem;
            width: 17.9375rem;
            border-radius: 5px;
            border: none;
            background: #fff url(/build/images/web/shop/leondebruxelles-fr/icone.png) no-repeat scroll 12px 10px;
            background-size: 400px auto;
            font-size: .75rem;
            font-family: Arial, Helvetica, sans-serif;
            color: #5e5e5e;
            box-sizing: border-box;
            padding: 0 0 0 2rem;

            @include media-breakpoint-down(xs) {
                width: 100%;
            }
        }

        input[type=submit],
        a {
            border-radius: 5px;
            border: none;
            font-size: .8125rem;
            color: #fff;
            background: #2c702e;
            padding: 0.5rem 0.75rem;
            text-decoration: none;
            display: block;
            text-transform: uppercase;
            position: static;
            height: auto;
            width: auto;
            margin: 0 0 0 .5rem;
            cursor: pointer;

            @include media-breakpoint-down(xs) {
                display: block;
            }
        }

        a {
           @include media-breakpoint-down(xs) {
                display: none;
            } 
        }
    }
}