body {
  &.overflow {
    overflow: hidden;
  }
}
.container-popup {
  display: none;
  width: 100%;
  position: fixed;
  background: rgba(0,0,0,.7);
  height: 100%;
  z-index: 50;
  top: 0;
  left: 0;

  &.show-popup {
    display: block;
    z-index: 102;

    @include media-breakpoint-down(xs) {
      padding: 32px 15px;
    }
  }

  .content-popup {
    width: 512px;
    height: auto;
    margin: 32px auto;
    display: block;
    position: relative;
    padding: 8px;
    border-radius: 2px;
    background: #f6f5f4;

    @include media-breakpoint-down(xs) {
      width: 100%;
      margin: 0;
    }

    &.big {
      width: 680px;
    }

  }

  .window_open_pop {
    width: 480px;
    height: 640px;
    border: none;
    margin: 32px auto;
    display: block;

    &.big {
      width: 640px;
    }

    @include media-breakpoint-down(xs) {
      width: 100%;
      margin: 0;
      min-height: 430px;
      height: calc(100vh - 80px);
    }
  }

  .close_pop {
    position: absolute;
    right: -8px;
    top: -8px;
    border-radius: 200px;
    background: #fff url(/build/images/web/shop/leondebruxelles-fr/icone.png) 4px -25px no-repeat;
    background-size: 120px auto;
    height: 24px;
    width: 24px;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
  }
}