.fyb_page {
  @include media-breakpoint-down(sm) {
    padding-top: 60px;
  }
  .container {
    &.container-fluid {
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;

      .row {
          margin-left: 0;
          margin-right: 0;

        .col-md-12 {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }

  &.content-sticky {
    @include media-breakpoint-down(md) {
      padding-top: 63px;
    }

    @include media-breakpoint-up(lg) {
      padding-top: 80px;
    }
     
  }
}

.fb-block {
  padding: 40px 0;
  background-color: #eeecea;
  position: relative;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;

  &:before {
    content:'';
    background: url('/build/images/web/shop/leondebruxelles-fr/top-paper.png') center center;
    background-size: 100%;
    height: 11px;
    width: 100%;
    display: block;
    bottom: 0;
    position: absolute;
    z-index: 2;
    margin: 0;

    @include media-breakpoint-down(md) {
      height: 3px;
    }
  }

  .col-xs-6 {
    @include media-breakpoint-only(sm) {
      width: 50%;
      max-width: 50%;
      flex: 0 0 50%;
    }
  }

  .visible-lg {
    @include media-breakpoint-down(md) {
      display: none;
    }

    @include media-breakpoint-only(lg) {
      flex: 0 0 45%;
    }
  }

  .hidden-lg {
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  .left-side {
    @include media-breakpoint-down(lg) {
      display: none; 
    }
  }

  .img-item {
    @include media-breakpoint-between(md, xl) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .right-side {
    .row {
      @include media-breakpoint-down(xs) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      @include media-breakpoint-between(md, lg) {
        justify-content: space-around;
      }
    }
  }

  .social-block {
    overflow: hidden;
    z-index: 1;
    color: #40474f;
    border-radius: 3px;
    background-color: #fff;
    height: 190px;
    width: 154px;
    box-shadow: 0 3px 6px rgba(0,0,0,.1);
    float: left;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
      width: 100%;
    }

     .wrapper_item {
      padding: 9px;
      width: 100%;
      height: 100%;
    }

    .wrapper-img {
      display: block;
      height: 142px;
      width: 142px;

      @include media-breakpoint-down(sm) {
        margin: 0 auto;
        width: 100%;
      }

      .visual {
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
      }
    }

    .bottom {
      color: #9a958e;
      padding: 6px;
      font-family: $shop-font-humper;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      text-transform: uppercase;
      text-align: center;
    }

    &.block-likes {
      margin-right: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      @include media-breakpoint-down(sm) {
        margin-right: 0;
      }

      .nb {
        color: #4e9c34;
        font-family: $shop-font-bree-regular;
        font-size: 36px;
        font-weight: 400;
        line-height: 36px;
        margin-top: 16px;
      }

      .button {
        color: #9a958e;
        padding: 6px;
        font-family: $shop-font-humper;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-transform: capitalize;
      }
    }

    .middle {
      text-align: center;

      .icon {
        &.thumb-up {
          background-image: url(/build/images/web/shop/leondebruxelles-fr/thumb-up@2x.png);
          height: 57px;
          width: 56px;
          background-position: 0 0;
          background-size: 100%;
          display: inline-block;
        }
      }
    }
  }

  .social-infos {
    color: #40474f;
    font-family: $shop-font-bree-light;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    .social {
      background-image: url(/build/images/web/shop/leondebruxelles-fr/sprite.png);
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      text-decoration: none;
      border-radius: 30px;
      background-color: #eeecea;
      margin: 5px 10px 5px 0;
      transition: background-color .2s linear;
      display: inline-block;
      float: left;
      margin-left: 0;
      margin-right: 15px;

      &.bluefb {
        margin-top: 0;
        background-position: -115px -262px;
        background-color: #3b5998;
      }
    }

    .leon {
      font-family: $shop-font-bree-regular;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      color: #4e9c34;
    }

    .date {
      color: #7b8187;
      font-family: $shop-font-bree-light;
      font-size: 12px;
      font-weight: 400;
      line-height: 12px;
      display: block;
    }

    p {
      font-family: $shop-font-bree-regular;
      font-weight: 400;
      max-width: 92%;
      font-size: 14px;
      line-height: 24px;
      color: #40474f;
      margin: 14px 0;
    }
  }
}