$footer_green: #4e9c34;
$footer_black_40: #40474f;
$footer_gray_ee: #eeecea;
$footer_gray_75: #75797e;

.mobi_footer {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .footer {
    font-family: $shop-font-bree-regular;
    font-size: 14px;
    font-weight: 400;

    .row {
      @include media-breakpoint-down(md) {
        justify-content: center;
      }
      .col-md-3 {
        @include media-breakpoint-down(md) {
          display: none;
        }
      }

      .col-sm-4 {
        @include media-breakpoint-down(sm) {
          width: 100%;
          max-width: 100%;
          flex:1;
        }

        &.hidden-xs {
           @include media-breakpoint-down(sm) {
            display: none;
          }
        }
      }
    }
  }

  .footer-logo {
    margin: 20px auto 0;
    position: relative;
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    height: 88px;
    width: 157px;
  }

  .award-logos {
    margin: 35px auto 0;
    cursor: pointer;
    text-align: center;

    @include media-breakpoint-down(sm) {
      margin: 10px auto 20px;
    }

    &.visible-xs,
    &.visible-sm {
      @include media-breakpoint-down(sm) {
        display: block;
      }

      @include media-breakpoint-up(md) {
        display: none;
      }
    }

     &.visible-sm {
      @include media-breakpoint-down(sm) {
        display: none;
      }
      @include media-breakpoint-only(md) {
        display: flex;
      }

      a {
        display: inline-block;
      }

      .award-logo {
        height: 135px;
        width: 80px;
      }
     }

    a {
      display: inline-block;
    }
  }

  .wrapper-footer {
    position: relative;
    padding: 30px 0;    

    @include media-breakpoint-down(sm) {
      padding: 10px 0;
    }

    @include media-breakpoint-only(md) {
      text-align: center;
    }

    &:before {
      content:'';
      background: url(/build/images/web/shop/leondebruxelles-fr/bg-footer.png) no-repeat;
      height: 328px;
      width: 634px;
      position: absolute;
      display: inline-block;
      bottom: 0;
      left: 0;

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    .award-logo {
      height: auto;
      width: 80px;
      border-radius: 4px;
      background-color: #fff;
      box-shadow: 0 1px 14px rgba(0, 0, 0, .1);
      margin: 0 10px;
    }
  }

  .footer-title {
    padding: 0 0 10px;
    font-family: $shop-font-humper;
    font-size: 26px;
    font-weight: 300;
    line-height: 26px;
    color: $footer_green;
    position: relative;
    text-transform: uppercase;
    margin: 0 0 25px;

    &.hidden-xs {
       @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    &:after {
      content:'';
      background: url(/build/images/web/shop/leondebruxelles-fr/bottom-title.png) center center repeat-x;
      background-size: 100%;
      height: 4px;
      width: 100%;
      display: block;
      bottom: 0;
      position: absolute;
      z-index: 2;
      margin: 0;
    }
  }

  .footer-list {
    list-style: none;
    margin: 0;
    padding: 0;

    @include media-breakpoint-down(sm) {
      text-align: center;
    }

    li {
      line-height: 21px;
      margin: 10px 0;
      text-align: left;

      @include media-breakpoint-down(sm) {
        display: inline-block;
      }

      &:hover {
        a {
          text-decoration: underline;
        }

        .social {
          background-color: #4e9c34;
          transition: background-color .2s linear;

          &.fb {
            background-position: -115px -262px;
          }
          &.tw {
            background-position: -346px -170px;
          }
          &.yt {
            background-position: -114px -90px;
          }
          &.ios {
            background-position: -85px -288px;
          }
          &.android {
            background-position: -115px -288px;
          }
        }
      }

      a {
        color: $footer_black_40;
        font-size: 14px;
        line-height: 21px;
        font-family: $shop-font-bree-regular;
        display: block;

        @include media-breakpoint-only(md) {
          font-size: 9px;
        }

        span {
          @include media-breakpoint-only(md) {
            display: none;
          }

          &.social {
             @include media-breakpoint-only(md) {
              display: block;
            } 
          }

          &.hidden-sm,
          &.hidden-xs {
             @include media-breakpoint-down(sm) {
              display: none;
            }
          } 
        }
      }

      &.li-android,
      &.li-ios {
        display: inline-block;
        width: 49%;
        margin-top: 0;

        @include media-breakpoint-down(sm) {
          width: auto;
        }

        @include media-breakpoint-only(md) {
          width: 100%;
        }
      }
    }

    &.social-list {
      li {
        a {
          display: flex;
          align-items: center;

          span {
            font-family: $shop-font-bree-regular;
            font-size: 14px;
          }
        }
      }
    }
  }

  .social {
    background-image: url(/build/images/web/shop/leondebruxelles-fr/sprite.png);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    text-decoration: none;
    border-radius: 30px;
    background-color: #eeecea;
    margin: 5px 10px 5px 0;
    transition: background-color .2s linear;
    display: inline-block;
    
    &.fb {
      background-position: -55px -262px;
    }

    &.tw {
      background-position: -175px -262px;
    }

    &.yt {
      background-position: -114px -150px;
    }

    &.ios {
      background-position: -145px -288px;
    }

    &.android {
      background-position: -54px -287px;
    }
  }

  .footer-bottom {
    .wrapper {
      border-top: 1px solid $footer_gray_ee;
    }

    p,
    a {
      font-family: $shop-font-bree-regular;
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      color: $footer_gray_75;
      margin: 40px 0;
      text-align: right;

       @include media-breakpoint-down(sm) {
        font-size: 9px;
        font-weight: 400;
        line-height: 10px;
        margin: 20px 0;
      }
    }

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    .separator-footer {
      margin: 0 6px;
    }

    .pull-left {
      p {
        @include media-breakpoint-down(sm) {
          text-align: left;
        } 
      }

      &.col-md-2 {
        @include media-breakpoint-down(sm) {
          width: 100%;
          max-width:100%;
          flex: 1;
        } 
      }
    }

    .pull-right {
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }
}

/*for all site wrapper*/
.wrapper {
  z-index: 2;
  background: url('/build/images/web/shop/leondebruxelles-fr/bg-grainy-texture.jpg') center center;
  max-width: 1300px;
  margin: 0 auto;
}