/* Variable for Header */
$header_black_19: #191919;
$header_link-color: #a3a3a3;
$header_link-hover: #4e9c34;
$header_gray-3d: #3d3d3d;
$header_gray-e5: #e5e5e5;
$header_green: #4e9c34;
$header_club-color: #2c702e;
$header_bons-plan: #f38034;


/* Header style */
.mobi_header {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 102;
  position: relative;

  @include media-breakpoint-down(sm) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .sticky-wrapper {
    &.is-sticky {
      .sticky-menu {
        position: fixed;
        top: 0;
        max-width: 1300px;
        width: 100%;
        z-index: 12;
      }
    }
  }


  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .wrapper {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
  }

  .topbar {
    background-color: $header_black_19;
    text-transform: uppercase;
    padding:6px 0;
    position: relative;

    @include media-breakpoint-down(sm) {
      display: none;
    }

    @include media-breakpoint-up(md) {
      display: block;
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .topbar-links{
      flex: 1;
      text-align: center;

      @include media-breakpoint-down(md) {
        text-align: left;
      }

      li {
        display: inline-block;
        margin: 0 8px;

        a {
          color: $header_link-color;
          font-size: 10px;
          font-weight: 400;
          font-family: $shop-font-bree-regular;

          &:hover {
            color: #ffffff;
          }
        }
      }
    }

    .topbar-right {
      display: flex;
      align-items: center;
      position: absolute;
      top: 6px;
      right: 50px;

      .topbar-socials-list {
        text-transform: uppercase;
        font-size: 12px;
        display: inline-block;
        margin-right: 60px;
      }

      li {
        display: inline-block;
        padding: 0 1px;
      }

      .social {
        background-image: url(/build/images/web/shop/leondebruxelles-fr/sprite.png);
        width: 18px;
        height: 18px;
        display: block;

        &:hover {
          &.small {
            background-color: $header_green;
            transition: background-color .2s linear;
          }
        }

        &.small {
          background-color: $header_gray-3d;
          border-radius: 50%;
          transition: background-color .2s linear;
        }

        &.fb {
          background-position: -257px -175px;
        }

        &.tw {
          background-position: -247px -148px;
        }

        &.android {
          background-position: -180px -296px;
        }

        &.insta {
          background-position: -247px -129px;
        }

        &.youtube {
          background-position: -120px -95px;
        }
        
        &.ios {
          background-position: -206px -297px;
        }
      }

      .lang_sel_list_vertical {
          display: inline-block;
          position: absolute;
          top: -5px;
          right: 0;
          border-radius: 3px;
          z-index: 10;
          background: $header_black_19;
          width: 58px;
          text-align: center;

        li {
          display: block;
          padding: 5px 0;

          &:hover {
            ul {
              display: block;
            }
          }

          a {
            text-decoration: none;
            color: $header_link-color;
            height: 17px;
            font-family: Bree,Arial,Helvetica,sans-serif;
            font-size: 9px;
            font-weight: 400;
            line-height: 10px;
            position: relative;

            &.current-lang {
              &:after {
                content:'';
                background-image: url(/build/images/web/shop/leondebruxelles-fr/sprite.png);
                background-position: -276px -204px;
                width: 11px;
                height: 6px;
                display: inline-block;
                margin-left: 7px;
              }
            }
          }
          ul {
            display: none;
          }
        }
      }
    }
  }

  .header_mobile {
    display: none;
  }

  .sticky-wrapper {
    @include media-breakpoint-down(sm) {
      display: none;
    }

    @include media-breakpoint-up(md) {
      display: block;
    }

    &.is-sticky {
      position: fixed;
      top: 0;
      max-width: 1300px;
      width: 100%;
      z-index: 12;

      .logo-wrapper {
        top:0;
      }

      .logo {
         display: none;

         &.logo-sticky {
          position: absolute;
          left: 0;
          top: 0;
          height: 127px;
          width: 197px;
          display: block;
         }
      }

      .nav {
        height: 90px;
      }
    }
  }

  .nav {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,.05);
    height: 90px;
    transition: height .2s linear;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 9;
  }

  .logo-wrapper {
    position: absolute;
    border-bottom-width: 1px;
    margin-right: 30px;
    margin-bottom: 0;
    margin-top: 0;
    top: -30px;
    left: 80px;
    z-index: 1;

    @include media-breakpoint-only(md) {
      top: 0px;
      left: 10px;
    }

    @include media-breakpoint-only(lg) {
      top: -21px;
      left: 20px;
    }

    h1 {
      margin: 0;
    }
  }

  .logo {
    height: 166px;
    width: 197px;
    background-size: 30px 30px;
    font: 0/0 a;
    color: transparent;
    margin: 0;
    position: relative;
    top: auto;
    float: left;
    opacity: 1;
    visibility: visible;

    @include media-breakpoint-only(md) {
      height: 96px;
      width: 127px;
    }

    @include media-breakpoint-only(lg) {
      height: 146px;
      width: 177px;
    }

    &.logo-sticky {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .logo-sticky {
    position: absolute;
    left: 0;
    top: 0;
    height: 127px;
    width: 197px;
  }

  .menu {
    z-index: 5;
    margin: 0 0 0 186px;
    position: relative;
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;

    @include media-breakpoint-only(md) {
      margin: 0 0 0 96px;
    }

    .menu-item {
      position: relative;
      display: inline-block;
      vertical-align: top;
      margin: 0 12px;

      @include media-breakpoint-only(md) {
        margin: 5px;
      }

      @include media-breakpoint-only(lg) {
        margin: 8px;
      }

      &.menu-item-has-children {
        &:hover {
          .sub-menu {
            opacity: 1;
            visibility: visible;
          }
        }
      }

      .sub-menu {
        position: relative;
        margin: -20px 0 0;
        padding: 10px 0;
        list-style: none;
        text-align: left;
        position: absolute;
        left: -62px;
        height: auto;
        width: 198px;
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 0 3px 7px 0 rgba(0,0,0,.4);
        -webkit-transition: all .4s ease;
        transition: all .4s ease;
        border: 1px solid #e5e5e5;
        opacity: 0;
        visibility: hidden;


        &:before {
          content: "";
          background: url(/build/images/web/shop/leondebruxelles-fr/arrow-dropdown@2x.png) center center no-repeat;
          text-indent: -999em;
          letter-spacing: -999em;
          overflow: hidden;
          width: 14px;
          height: 18px;
          position: absolute;
          top: -10px;
          left: 50%;
          margin-left: -7px;
        }

        .btn-dorpdown {
          height: 30px;
          width: 100%;
          display: block;
          text-decoration: none;
          white-space: nowrap;
          top: 0;
          padding: 0 40px;
          text-align: center;
          float: left;
          color: #191919;
          font-family: $shop-font-bree-regular;
          font-size: 14px;
          font-weight: 400;
          line-height: 32px;
          -webkit-transition: all .1s ease;
          transition: all .1s ease;
        }

        .menu-item {
          display: block;
          margin: 0;
          padding: 0;

          &:hover {
            a {
              text-decoration: underline;
            }
          }

          a {
            width: 100%;
            display: block;
            padding: 8px 20px;
            text-align: center;
            color: $header_black_19;
            font-family: $shop-font-bree-regular;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            transition: all .1s ease;
            text-transform: uppercase;
          }
        } 
      }

      &.menu-item-club {
        a {
          color: $header_club-color;
        }
      }

      &.menu-item-bons-plans {
        a {
          color: $header_bons-plan;
        }
      }

      .btn {
        display: block;
        padding: 20px 0px;
        height: 100%;
        width: 100%;
        font-family: $shop-font-humper;
        font-size: 21px;
        font-weight: 400;
        color: #2a2a2a;
        line-height: 50px;
        text-transform: uppercase;
        transition: line-height .1s linear;

        @include media-breakpoint-only(md) {
          font-size: 17px;
        }

        &:hover {
          color: $header_link-hover;
        }
      }

      &.menu-item-home {
        a {
          font: 0/0 a;
          color: transparent;
          line-height: 50px;

          &:before {
            content:'';
            background: url(/build/images/web/shop/leondebruxelles-fr/home-btn-hover@2x.png) center center no-repeat;
            height: 16px;
            width: 18px;
            display: inline-block;
            background-size: 100%;
            vertical-align: middle;
            position: relative;
            top: -2px;
          }
        }
      }

      .list-dropdown {
        margin: -20px 0 0;
        padding: 10px 0;
        list-style: none;
        text-align: left;
        position: absolute;
        left: -62px;
        height: auto;
        width: 198px;
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 0 3px 7px 0 rgba(0,0,0,.4);
        -webkit-transition: all .4s ease;
        transition: all .4s ease;
        border: 1px solid $header_gray-e5;
        opacity: 0;
        visibility: hidden;
      }

      &.menu-item-home {
        .active {
          a {
            color: $header_green;

            &:before {
              background: url(/build/images/web/shop/leondebruxelles-fr/sprite.png) center center no-repeat;
              height: 16px;
              width: 18px;
              display: inline-block;
              background-size: 100%;
            }
          }
        }
      }
    }
  }

  .wrapper-scroll {
     display: none;
  }

  .header-mobile {
    line-height: 0;
    background: #fff url(/build/images/web/shop/leondebruxelles-fr/bg-grainy-texture.jpg) repeat scroll center center;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
    height: 60px;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;

    @include media-breakpoint-up(md) {
      display: none;
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .contenu_mobile_logo_menu {
      @include media-breakpoint-down(sm) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
        box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
        width: 100%;
       } 
    }

    .home-picto {
       @include media-breakpoint-down(sm) {
        display: block;
        width: 2rem;
        height: 2rem;
        background: url(/build/images/web/shop/leondebruxelles-fr/home-btn-hover@2x.png) center no-repeat;
        background-size: 16px auto;
       } 
    }

    .small-logo {
      @include media-breakpoint-down(sm) {
        width: 6.5rem;
        height: auto;
        margin: 0 0 0 .5rem;
      }
      
      img {
        @include media-breakpoint-down(sm) {
           width: 100%;
          height: auto;
        }
      }
    }

    .menu-toggle {
      @include media-breakpoint-down(sm) {
        display: block;
        height: 2.5rem;
        width: 2.5rem;
        background: url(/build/images/web/shop/leondebruxelles-fr/icone.png) 0 -11px no-repeat;
        background-size: 200px auto;
        transition: all 500ms;
        text-decoration: none;
      }

      &.active_menu {
        @include media-breakpoint-down(sm) {
          background-position: 0 -46px;
          text-decoration: none;
        }
      }
    }
  }

  .lang_sel_list_horizontal {
    display: none;
  }

  .scroll-content {
    @include media-breakpoint-down(sm) {
      background-color: #ffffff;
      text-align: center;
      position: relative; 
      z-index: 11;
    }

    #menu-top-bar {
      li {
        a {
          display: block;
          background: #1b1b1b;
          color: #a3a3a3;
          border-bottom: 1px solid #323232;
          border-top: none;
          font-size: .8125rem!important;
          text-transform: uppercase;
          padding: 12px 0 10px;
          line-height: .8125rem;
          text-align: center;
          font-family: $shop-font-bree-regular;
        }
      }
    }

    li {
      display: block;

      &.menu-item-club {
        a {
          background-color: $header_green;
          color: #ffffff
        }
      }

      &.menu-item-bons-plans {
        a {
          background-color: $header_bons-plan;
          color: #ffffff
        }
      }

      a {
        @include media-breakpoint-down(sm) {
          border-top: 1px solid #f2eee6;
          color: #40474f;
          display: block;
          font-family: $shop-font-humper;
          font-size: 24px;
          font-weight: 400;
          line-height: 24px;
          margin: auto;
          padding: 12px 0 10px;
          text-decoration: none;
          text-transform: uppercase;
          width: 100%;
          height: auto;
          text-align: center;
          border-radius: 0;
        }
      }
    }
  }
}
