.header-introduction {
  padding: 28px 0 16px 0;

  h4 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: $shop-font-bree-light;
    font-size: .75rem;
    color: #4e9c34;
    text-transform: uppercase;
    letter-spacing: 0.1125rem;
    font-weight: 400;
    line-height: 34px;
  }

  h2 {
    font-size: 1.875rem;
    color: #40474f;
    display: block;
    text-transform: none;
    line-height: 1.75rem;
    letter-spacing: normal;
    text-align: center;
  }
}