body {
  background-color: #f6f5f4;

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
} 
.other-city-container {
  margin: 0;
  padding: 1.875rem 0;
  width: 100%;

  @include media-breakpoint-down(xs) {
    
  }

  h2 {
    color: #40474f;
    font-size: 2.125rem;
    font-family: $shop-font-bree-light;
    margin: 0;
    padding: 1.65rem 0;
    font-weight: normal;
    text-align: center;
    line-height: 2rem;

     @include media-breakpoint-down(xs) {
      background: #f1f1f1;
      text-transform: uppercase;
      font-size: 1rem;
      padding: .75rem 1rem;
      text-align: left;
      box-sizing: border-box;
    }
  }

  ul {
    margin: 0 auto;
    padding: 1.25rem 0;
    width: 32.5rem;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    @include media-breakpoint-down(xs) {
      margin: 0;
      padding: 0;
      width: 100%;
    }

    li {
      width: 50%;
      padding: 0 .5rem 1.25rem .5rem;
      box-sizing: border-box;

      @include media-breakpoint-down(xs) {
        width: 100%;
        margin: 0;
        padding: 0;
      }

      a {
        color: #9c0f17;
        font-size: 1.25rem;
        text-align: center;
        width: 100%;
        display: block;

        @include media-breakpoint-down(xs) {
          margin: 0;
          padding: .5rem 1.25rem;
          box-sizing: border-box;
          border-bottom: 1px solid #eeecea;
          text-transform: uppercase;
          font-size: .75rem;
          text-align: left;
          color: #101010;
          position: relative;
        }

        &:before {
           @include media-breakpoint-down(xs) {
            position: absolute;
            content: '';
            right: .5rem;
            top: 0;
            background: url(/build/images/web/shop/leondebruxelles-fr/icone.png) -134px -133px no-repeat;
            background-size: 160px auto;
            opacity: .5;
            height: 2rem;
            width: 2rem;
          }
        }
      }
    }
  }

  .select-item-container {
    width: 90%;
    margin: 2.5rem auto;
    border: 1px solid #e1e1e1;
    box-shadow: 2px 0px 4px rgba(0,0,0,.05);
    height: 3.875rem;
    border-radius: 3px;
    display: block;
    background: #fff url(/build/images/web/shop/leondebruxelles-fr/select.png) right 1.65rem top 1.35rem no-repeat;
    background-size: 2.125rem auto;
    transition: all 500ms;

    @include media-breakpoint-down(xs) {
      display: none;
    }

    &.open {
      height: auto;
    }

    .title {
      display: block;
      height: 3.875rem;
      padding: 1rem 1.875rem 0 1.875rem;
      cursor: pointer;
      color: #454b53;
    }

    .selet-item {
      display: none;

      &.show-item {
        display: block;
      }
      
      a {
        display: block;
        height: 3.875rem;
        padding: 1rem 1.875rem 0 1.875rem;
        cursor: pointer;
        color: #454b53;
        text-decoration: none;
        font-size: 16px;
        line-height: 23px;

        i {
          color: #4e9c34;
          font-style: normal;
        }
      }
    }
  }
}