.presentation-container {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  min-height: 630px;
  padding: 60px 0 30px 64px;
  @include media-breakpoint-down(sm) {
    padding: 40px 0;
  }

  @include media-breakpoint-between(md, lg) {
     padding: 3.8rem 0 1rem 2rem; 
  }

  .image-block {
    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
    }

    .inviter_amis {
      width: 190px;
      height: 190px;
    }
  }

  .presentation-content {
    padding: 0 0 0 4.375rem;
    @include media-breakpoint-down(sm) {
      padding: 0 15px;
    }
    @include media-breakpoint-between(md, lg) {
       padding: 0 0 0 2.375rem; 
    }

    h2 {
      font-size: 28px;
      color: #40474f;
      line-height: 1;
      font-weight: normal;
      text-transform: uppercase;
      font-family: $shop-font-humper;
      margin: 0;
      padding: 0 0 2rem 0;
      line-height: .75;

      @include media-breakpoint-down(sm) {
        font-size: 24px;
        padding: 1.5rem 0; 
        line-height: 18px;
      }

      span {
        display: block;
        color: #4e9c34;
        font-size: 40px;
        padding: .5rem 0 0 0;
        font-family: $shop-font-humper;

        @include media-breakpoint-down(sm) {
          font-size: 24px;
          display: inline-block;
        }
      }
    }

    .presentation_item {
      margin: 0;
      padding: 0 0 2.5rem 0;
      color: #333;
      font-size: 16px;

      &:last-child {
        padding: 0;
      }

      h3 {
        margin: 0;
        padding: .5rem 0 1.5rem 0;
        font-size: 20px;
        font-weight: normal;
        font-family: $shop-font-bree-regular;
        color: #333;

        @include media-breakpoint-down(sm) {
          padding: .5rem 0 .5rem;
          font-size: 18px;
        }
          
      }

      span {
        font-family: $shop-font-bree-light;
        line-height: 24px;
        font-size: 16px;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        display: inline-block;
        margin-right: 0.5rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}