{% if location.description|length %}
<!-- Block location description + image right -->
    <a name="notre_boutique"></a>
<section id="voo_accordion_block" class="voo-accordion-block">
        <div class="container">
            {% set comp = location.description|split('--') %}
            {% for key,value in comp %}
                {% if value|length %}

                    {% set headerOpenClass = "" %}
                    {% set contentOpenClass = "" %}

                    {% if key == 1 %}
                        {% set headerOpenClass = "active" %}
                    {% endif %}
                    {% if key == 2 %}
                        {% set contentOpenClass = "accordion-open" %}
                    {% endif %}


                    {% if key%2==1 %}
                    <div class="voo-accordion-item voo-card">
                        <div class="voo-accordion-header">
                            <h2 class="title">{{ value }}</h2>
                            <div class="voo-open-accordion {{ headerOpenClass }}"></div>
                        </div>
                    {% else %}
                        <div class="voo-accordion-content {{ contentOpenClass }}">
                            <span>{{ value }}</span>
                        </div>
                    </div>
                    {% endif %}



                {% endif %}
            {% endfor %}
        </div>
</section>
{% endif %}
