<!-- Block with all city/locations -->
<section id="block_locations" class="section-locations">
    <div class="wrap-title">
        <div class="wrapper">
            <h2>
                {%- if 'app.web.home.locations.title'|trans({}, shop.code) != 'app.web.home.locations.title' -%}
                    {{- 'app.web.home.locations.title'|trans({}, shop.code) -}}
                {%- else -%}
                    {{- 'app.web.home.locations.title'|trans -}}
                {%- endif -%}
            </h2>
        </div>
    </div>

    <div class="search-alphabet">
        <div class="wrapper">
            <ul id="search_alphabet" data-prototype-default="{{ '<li><span>__letter__</span></li>'|e }}"
                data-prototype-link="{{ '<li><a href="#letter___letter__" data-scroll><span>__letter__</span></a></li>'|e }}">
            </ul>
        </div>
    </div>

    <div class="results-by-letters">
        <div id="results_letters_content" class="wrapper"
             data-prototype="{% apply escape %}{% include 'web/block/locations/prototype/result_letter.html.twig' %}{% endapply %}"
             data-prototype-summary="{% apply escape %}{% include 'web/shop/voo-be/block/prototype/location_summary.html.twig' %}{% endapply %}">
        </div>
    </div>
</section>
