<!-- Block location details + image -->
<section id="block_location_details" class="section-location-details">
  {% if globalTemplates and globalTemplates[constant('App\\Entity\\AttributeValue::VALUE_OPEN_HOURS_EXCEPTION')] is defined %}
    {% set openHours = open_hours(location, shopDomain, constant('App\\Twig\\OpenHoursExtension::TYPE_EXCEPTION')) %}
  {% else %}
    {% set openHours = open_hours(location, shopDomain, constant('App\\Twig\\OpenHoursExtension::TYPE_WEEK')) %}
  {% endif %}

  <div class="location-details-block">
    <div class="container">
      <div class="wrapper-title-icon">
        <a class="header-link" href="{{ path('app_web_voo_home') }}">{{ "app.web.show.back_label"|trans({}, shop.code) }}</a>
        <h1>{{ location.name }}</h1>
        <div class="voo-hours-block">
          <span class="open-label {% if openHours.opens.isOpenNow %}is-open{% else %}is-closed{% endif %}">
            {% if openHours.opens.isOpenNow %}
              {{ 'app.web.global.open_hours.shop_open'|trans }}
            {% else %}
              {{ 'app.web.global.open_hours.shop_close'|trans }}
            {% endif %}
          </span>
          <span class="open-sentence {% if openHours.opens.isOpenNow %}is-open{% else %}is-closed{% endif %}">{{ openHours.opens.sentence }}</span>
        </div>
        <div class="option-list-block">
          <ul>
              <li id="a_notre_boutique" style="display: inline-block;">
                <a href="#notre_boutique">
                  <img src="{{ asset('build/images/web/shop/voo-be/option-list-1.svg') }}" alt="">
                  <span>{{ "app.web.show.our_shop_label"|trans({}, shop.code) }}</span>
                </a>
              </li>
              <li id="a_nos_smartphones">
                <a href="#nos_smartphones">
                  <img src="{{ asset('build/images/web/shop/voo-be/option-list-2.svg') }}" alt="">
                  <span>{{ "app.web.show.our_smartphones_label"|trans({}, shop.code) }}</span>
                </a>
              </li>
              
              <li id="a_nos_offers">
                <a href="#nos_offres">
                  <img src="{{ asset('build/images/web/shop/voo-be/option-list-3.svg') }}" alt="">
                  <span>{{ "app.web.show.our_offers_label"|trans({}, shop.code) }}</span>
                </a>
              </li>
          </ul>
      </div>
      </div>

      <div class="row middle-content">
        <div class="col col-35">
          <div class="col-box m-b-30">
            <div class="col-box-content">
              <h4>{{ 'app.web.show.address_label'|trans({}, shop.code) }}</h4>

              <address>
                {{ (location.address.number ? location.address.number ~ ' ' : '') ~ location.address.street }}
                <br>
                {{ location.address.zipCode ~ ' ' ~ location.address.locality }}
              </address>
            </div>
            <a data-gtm_event="itinerary" data-gtm_event_value="__externalId__"  class="btn btn-primary button-tracking ga-cta"
              data-google="https://www.google.com/maps/dir/?api=1&destination={{location.address.fullAddress}}" 
              href="https://www.google.com/maps/dir/?api=1&destination={{location.address.fullAddress}}" 
              data-waze="https://waze.com/ul?ll={{location.address.latitude}},{{location.address.longitude}}&z=10" 
              data-itineraire="{{location.address.latitude}},{{location.address.longitude}}"
              target="_blank"
            >
             {{ 'app.web.buttons.itineraire'|trans({}, shop.code) }}
            </a>
          </div>

          <div class="col-box">
            <div class="col-box-content">
              <h4>{{ 'app.web.show.contact_label'|trans({}, shop.code) }}</h4>

              <div class="m-b-15">
                <p>
                  {# {% if location.contact.email %}
                    <a href="mailto:{{ location.contact.email }}">{{ location.contact.email }}</a> <br/>
                  {% endif %} #}

                  {% if location.contact.phone|length %}
                    {{ location.contact.phone }}
                  {% endif %}
                </p>
              </div>
            </div>

            {% if location.contact.phone|length %}
              <a data-gtm_event="call" data-gtm_event_value="__externalId__" href="tel:{{ location.contact.phone }}" class="services-button call-button m-r-10 ga-cta">{{ 'app.web.show.location_details.call'|trans }}</a>
            {% endif %}
          </div>
        </div>

        <div class="col col-65">
          <div class="col-image">
            <div class="image-slider">
              {# add support for V3 #}
                {% for image in location.images %}
                <div class="image-slider-item">
                  <div class="image-slider-img">
                    <img src="{{ path('app_web_image_cloudinary_path',
                    {'apiKey': image.cloudName|default("mobilosoft-testing"),
                      'apiPath': image.publicId}) }}" alt="{{ location.brand }} {{ location.address.locality }}">
                    </div>
                  </div>
                {% endfor %}
              
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="col-box loaction-bottom-info">
            <h4>{{ 'app.web.show.opening_hours.title'|trans({}, shop.code) }}</h4>

            {% if globalTemplates and globalTemplates[constant('App\\Entity\\AttributeValue::VALUE_OPEN_HOURS_EXCEPTION')] is defined %}
              {% include 'web/block/location_details/block/with_image_exception.html.twig' %}
            {% else %}
              {% include 'web/block/location_details/block/with_image_week.html.twig' %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
