<!-- Block location services + text -->
<section id="block_location_services" class="section-location-services">

  {% set showServices = false %}

  {% if shop.apiVersion == constant('App\\Entity\\Shop::API_VERSION_2') %}
    {% if location.services and location.services['property.service'] is defined and location.services['property.service']|length %}
      {% set showServices = true %}
      {% set services = location.services['property.service'] %}
    {% endif %}
  {% else %}
    {% if location.services and location.services['service-boutiques'] is defined and location.services['service-boutiques']|length %}
      {% set showServices = true %}
      {% set services = location.services['service-boutiques'] %}
    {% endif %}

  {% endif %}


  {% if showServices %}
    <div class="location-services">
      <div class="container">
        <div class="col-box">
          <h2>{{ 'app.web.show.services.title'|trans({}, shop.code) }}</h2>
          <ul class="services-block">
            {% for propertyService in services if propertyService.contentFacet.title %}
              <li itemscope itemtype="http://schema.org/Service">
                <b itemprop="serviceType">{{ propertyService.contentFacet.title }}</b>
              </li>
            {% endfor %}
          </ul>

          <div class="services-payments">
            <p>{{ 'app.web.show.services.payment'|trans({}, shop.code) }}</p>

            <ul><li><img src="{{ asset('build/images/web/shop/voo-be/payments-icon.svg') }}" /></li></ul>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</section>