<!-- Block location promotions + slideshow -->
<a name="nos_offres"></a>
<section id="block_location_promotions" class="section-nos-offers section-location-promotions" style="display: none">
  {% if location.items and location.items[constant('App\\Service\\Api\\Entity\\ItemEntity::TYPE_NATIONAL')] is defined  %}
    <div class="promotions-block">
      <div class="container">
        <h2>{{ 'app.web.show.location_promotions.title'|trans({}, shop.code) }}</h2>

        <div class="offers-slider">
          {% for servicePromotion in location.items[constant('App\\Service\\Api\\Entity\\ItemEntity::TYPE_NATIONAL')] %}

            <div class="col-box no-offers-item" itemscope itemtype="http://schema.org/Product">

              <div class="img-block">
                {% if servicePromotion.assets[0] is defined  %}
                  <img src="{{ path('app_web_image_cloudinary_path', {'apiKey': servicePromotion.assets[0].cloudName, 'apiPath': servicePromotion.assets[0].publicId}) }}"
                       alt="{{ servicePromotion.contentFacet.title }}"/>
                {% endif %}
              </div>

              <div class="slide-content">

                <div class="content">
                  {% if  servicePromotion.priceFacet.price is defined %}
                    <div class="prices-promo">
                      <span>{{ servicePromotion.priceFacet.price }}€</span>
                      {% if servicePromotion.priceFacet.priceOld %}
                        <strong>{{ servicePromotion.priceFacet.priceOld }}€</strong>
                      {% endif %}
                    </div>
                  {% endif %}

                  <h3 itemprop="name" class="title">{{ servicePromotion.contentFacet.title }}</h3>

                  {% if servicePromotion.validityFacet.validUntil is defined and servicePromotion.validityFacet.validUntil %}
                    <span class="date">Du {{ servicePromotion.validityFacet.validFrom|date("d.m.Y") }} au {{ servicePromotion.validityFacet.validUntil|date("d.m.Y") }}</span>
                  {% endif %}

                  <p itemprop="description" class="show-more-text">{{ servicePromotion.contentFacet.longContent }}</p>
                </div>

                {% if servicePromotion.callToActionFacet.ctaUrl  is defined and servicePromotion.callToActionFacet.ctaUrl  %}
                  <a href="{{ servicePromotion.callToActionFacet.ctaUrl ? servicePromotion.callToActionFacet.ctaUrl : '#' }}" class="info-button">
                    {{ 'app.web.show.location_promotions.info_button'|trans }}
                  </a>
                {% endif %}


                <meta itemprop="identifier" content="{{ servicePromotion.externalId }}"/>
                {% if servicePromotion.assets[0] is defined  %}
                  <meta itemprop="image" content="{{ url('app_web_image_cloudinary_path', {'apiKey': servicePromotion.assets[0].cloudName, 'apiPath': servicePromotion.assets[0].publicId})
                }}"/>
                {% endif %}
                <meta itemprop="brand" content="{{ location.brand }}"/>
                <meta itemprop="category" content="{{ servicePromotion.itemTypeCategoryLabel }}"/>
                <meta itemprop="url" content="{{ servicePromotion.callToActionFacet.ctaUrl }}"/>
              </div>

            </div>

          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
  <input type="hidden" id="show_more_trans" value="{{ "app.web.show.location_promotions.show_more"|trans }}">
  <input type="hidden" id="show_less_trans" value="{{ "app.web.show.location_promotions.show_less"|trans }}">
</section>
