<!-- Block smartphones -->
<a name="nos_smartphones"></a>
<section id="block_smartphones" class="section-smartphones" style="display: none"
     data-url="{{ path('api_get_feed_data', {'version': constant('App\\Entity\\Shop::API_VERSION_LOCAL'), 'shopId': shop.id, 'type': constant('App\\Entity\\ShopFeedData::TYPE_SMARTPHONE'), 'isVisible': true}) }}">
  <div class="smartphones-block">
    <div class="container">
      <h2>{{ 'app.web.show.smartphones.title'|trans({'%location_name%':location.name}, shop.code) }}</h2>

      <div class="smartphones-slide" data-prototype="{% filter escape %}{% include 'web/shop/voo-be/block/prototype/smartphone.html.twig' %}{% endfilter %}"></div>
    </div>
  </div>
</section>