.section-locations {
  .location-summary {
    h5 {
      a {
        &:hover {
          color: $green_44;
          text-decoration: underline;
        }
      }
    }

    .location-phone {
      a {
        color: $green_44;
        &:hover {
          color: $green_44;
          text-decoration: underline;
        }
      }
    }
  }

  .location-search {
    background-color: $text;

    .location-search-input {
      outline: none;
    }
  }

  .result-one-letter {
    .title-letter {
      color: $text;
    }
  }
}