.section-location-details {
  @media (max-width: 767px) {
    margin-top: 25px;
  }
  .location-button,
  .call-button {
    background-color: $green_28;
    border-color: $green_28;
    color: $white;
    border-radius: 24px;
    font-size: 14px;
    text-transform: initial;

    &:hover {
      background-color: $green_21;
      border-color: $green_21;
      filter: none;
    }
  }
}