.section-map {
  @media (min-width: 768px) {
    margin-top: 60px;
  }

  .search-form {
    .search-button {
      background-color: $green_28;
      border-color: $green_28;
      color: $white;
      border-radius: 24px;
      text-transform: initial;

      @media (min-width: 768px) {
        font-size: 14px;
      }

      &:hover {
        background-color: $green_21;
        border-color: $green_21;
        filter: none;
      }
    }
  }

  .search-button {
    background-color: $green_28;
    border-color: $green_28;
    color: $white;
    border-radius: 24px;

    &:hover {
      background-color: $green_21;
      border-color: $green_21;
      filter: none;
    }
  }

  .map-search-box {
    .search-form {
      .search-position {
         #map_search_autocomplete {
          outline: none;
         }
      }
    }
  }
}



.location-summary {
  h5 {
    font-size: 16px;
    text-transform: initial;
    color: $green_44;

    a {
      font-size: 16px;
      text-transform: initial;
      color: $green_44;

      &:hover {
        color: $green_44;
        text-decoration: underline;
      }
    }
  }
}

.is-open {
  .open-label {
    background-color: $green_28;
  }

  .open-sentence {
    color: $green_44;
  }
}