.section-near-location {
  .near-location-block {
    h2 {
      font-size: 38px;
      line-height: 45px;
      font-weight: 700;
      color: $text;
      text-transform: initial;
    }
  }
  .search-button {
    background-color: $green_28;
    border-color: $green_28;
    color: $white;
    border-radius: 24px;
    font-size: 14px;
    text-transform: initial;

    &:hover {
      background-color: $green_21;
      border-color: $green_21;
      filter: none;
    }
  }

  .location-button,
  .call-button {
    border-color: $green_28;
    border-radius: 24px;

    &:hover {
      border-color: $green_21;
      filter: none;
    }
  }
}