@import "../../vars";
@import "../../components/cookie-consent";
@import "../../home";
@import "../../block/default_home";
@import "../../block/default_show";

$img_tomandco: '../../../../images/web/shop/tomandco/';
$font_tomandco: '../../../../fonts/shop/tomandco/';
$color-green-tomandco: #165e37;
$color-light-grey-text: #848484;
$loader_map_default_color: green;

@import "../../block/loader-map";
// @import "../../block//overlay-info-window";

@font-face {
  font-family: 'din-bold';
  src: local('din bold'), local('din-bold'), url('#{$font_tomandco}dinbold-webfont.woff2') format('woff2'),
  url('#{$font_tomandco}dinbold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'din-light';
  src: local('din light'), local('din-light'), url('#{$font_tomandco}dinlight-webfont.woff2') format('woff2'),
  url('#{$font_tomandco}dinlight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'din-medium';
  src: local('din medium'), local('din-medium'), url('#{$font_tomandco}dinmedium-webfont.woff2') format('woff2'),
  url('#{$font_tomandco}dinmedium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'din-regular';
  src: local('din regular'), local('din-regular'), url('#{$font_tomandco}dinregular-webfont.woff2') format('woff2'),
  url('#{$font_tomandco}dinregular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  padding: 0;
  margin: 0;
  height: auto;
  background: $lite_color;
}

body {
  padding: 0;
  margin: 0;
  background: $lite_color;
  font-weight: normal;
  font-size: 1em;
  color: $color-light-grey-text;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'din-regular', sans-serif;
  height: auto;

  * {
    box-sizing: border-box;
    font-family: 'din-regular', sans-serif;
  }
}

.mb-40 {
  margin-bottom: 40px;
}

header {
  position: relative;
  .breadcrumb {
    position: absolute;
    top: 0;
    left: 0;
    border-width: 1px;
    border-color: rgb(231, 232, 237);
    border-style: solid;

    &:before {
      content: '';
      position: absolute;
      bottom: 11px;
      background: white;
      display: block;
      width: 54px;
      right: 0;
      margin-right: -31px;
      height: 50px;
      border-width: 1px;
      border-color: rgb(231, 232, 237);
      border-style: solid;
      -moz-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(-45deg);
    }

    ul {
      background-color: #fff;
      padding: 10px 20px;
      position: relative;
      margin-top: -2px;

      li {
        display: inline-block;
        color: #707279;
        font-weight: 100;

        &+li:before {
          padding: 0 5px;
          color: #ccc;
          content: ">";
        }

        a {
          font-weight: bold;
          text-decoration: none;

          &:hover {
            color: #276b97;
          }
        }
      }
    }
  }

  .language-block {
    position: absolute;
    top: 7px;
    right: 40px;

    a {
      text-decoration: none;
      font-family: 'din-bold', sans-serif;
      color: #095e56;

      img {
        width: 30px;
        height: 20px;
        margin: 0 3px 0 3px;
      }
    }
  }

  .custome-url {
    color: #095e56;
    font-size: 14px;
    font-family: 'din-bold', sans-serif;
    position: absolute;
    right: 40px;
    bottom: 7px;
    width: 80px;

    &:hover {
      text-decoration: none;
    }

    @media (max-width: #{$xs_w}px) {
      width: 60px;
      right: 10px;
    }

    img {
      width: 100%;
    }
  }

  @media screen and (min-width: 0px) and (max-width: #{$xs_w}px){
    .language-block {
      top: 50px;
    }
  }

  .splashpage-container {
    background: url('#{$img_tomandco}background.jpg') center center;
    background-size: cover;

    .splashpage-content {
      padding: 50px 0;
      margin: auto;
      width: 250px;

      .splashpage-logo {
        margin: 0 auto 50px auto;
        display: block;
        width: 100%;
        max-width: 300px;
        height: auto;
      }
    }
  }
}


footer {
  padding: 25px 0;
  text-align: center;

  p, a {
    font-weight: normal;
    font-size: 17px;
    padding: 5px 0;
    color: $color-light-grey-text;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'din-regular', sans-serif;
  }

  a {
    color: -webkit-link;

    &:active {
      color: -webkit-activelink;
    }
  }
}

#cookies {
  display: none;
  color: #454545;
  background: #ffb74a;
  position: fixed;
  bottom: 0;
  padding: 20px;
  width: 100%;
  margin: 0;
  z-index: 20;

  .message {
    font-weight: normal;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'din-regular', sans-serif;
    margin: 0;
  }

  .actions {
    display: flex;
    flex-flow: row;
    margin: 25px 0 0 0;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'din-regular', sans-serif;
  }

  .button-accept {
    &:after {
      content: '-';
      margin: 0 8px;
      display: inline;
    }
  }
}

.section-location-services {
  .location-services {
    h2 {
      color: #000;
    }

    .services-images-info li span {
      color: #000;
    }

    .wrapper {
      .service-type-block {

        padding: 20px 20px 0px 20px;

        @media (max-width: #{$xs_w}px) {
          margin-bottom: 20px;
        }

        &:nth-child(odd) {
          background-color: #ffffff;
          margin-right: 17px;

          @media (max-width: #{$xs_w}px) {
            margin-right: 0;
          }
        }

        &:nth-child(2) {
          background-color: #ffffff;
          margin-right: 17px;

          border-left: 3px #d97178 solid;


          @media (max-width: #{$xs_w}px) {

            margin-right: 0;
            border-left: 0px #d97178 solid;

          }
        }

        &:last-child {
          margin-right: 0;
          border-left: 3px #d97178 solid;

          @media (max-width: #{$xs_w}px) {
            margin-bottom: 0px;
            border-left: 0px #d97178 solid;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 0px) and (max-width: #{$xs_w}px) {
  header .splashpage-container {
    .splashpage-content {
      padding: 70px 0;
    }

    .splashpage-logo {
      margin: 0 !important;
    }
  }
}

@media (min-width: #{$xl_w}px) {
  header .splashpage-container {
    .splashpage-content {
      padding: 20px 0;
      width: 960px;

      .splashpage-logo {
        margin:0 auto 10px auto;
      }
    }
  }

  footer {
    padding: 50px 0;
  }

  #cookies {
    .actions {
      margin: 0 0 0 25px;
    }

    .message {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
    }
  }
}

// Map block
.section-map {
  margin-top: 0;
  .search-button {
    color: #165e37;
    border: 1px solid #165e37;
    border-radius: 15px;
    background-color: white;
  }

  .services-button {
    padding-left: 30px;
    background-repeat: no-repeat;
    background-position: left 10px center;
    border: 0;
    background-color: #e54334;
    color: #ffffff;
  }

  .location-button {
    background-image: url(/build/images/icon_location_white.e8f10c8f.svg);
    background-size: auto 60%;
  }

  .call-button {
    background-image: url(/build/images/icon_phone_white.1f2d18b8.svg);
    background-size: auto 55%;
  }

  .map-search-box {
    .search-filters {
      .open-filters {
        &.open-filters-checkbox {
          p {
            background-image: none;
          }
        }
      }

      &.closed-box {
        .open-filters-checkbox {
          p {
            background-image: none;
          }
        }
      }
      .open-filters-checkbox {
        p {
          background-image: none;
          display: flex;
          align-items: center;
          padding-left: 0;

          &:before {
            content:'';
            width: 20px;
            height: 20px;
            background: url('#{$img_tomandco}filter.png') center center no-repeat;
            background-size: contain;
            display: inline-block;
            margin-right: 5px;
          }
        }
      }
    }

    .search-results-list {

      @media (max-width: #{$xs_w}px) {
        height: 420px;
      }
    }
  }
}

.search-results {
  &.loading {
    position: relative;
    
    &:after {
      background: transparent url("#{$img_tomandco}ajax-loader.gif") 50% 50% no-repeat;
      margin-left: -20px;
      position: absolute;
      display: block;
      width: 40px;
      height: 40px;
      content: '';
      z-index: 10;
      left: 50%;
      top: 20%;
    }
  }
}

// Locations block
.section-locations {
  margin-top: 0;
  .wrap-title h2 {
    color: #165e37;
  }

  .location-search {
    background-color: #165e37;
  }

  .result-one-letter .title-letter {
    color: #165e37;
  }

  .search-alphabet {
    background-color: #f5f3f0;
  }

  .location-summary {
    h5 {
      a {
        text-transform: capitalize;
      }
    }
  }
}

// Location details
.section-location-details {

  .services-button {
    background-color: #e54334;
    border-color: #e54334;
  }

  .image-slider .slick-dots {
    li {
      &.slick-active {
        button {
          background-color: #165e37;
        }
      }

      button:before {
        border: 1px solid #165e37;
        background-color: #165e37;
      }
    }
  }

  .wrapper-title-icon {
    h1 {
      color: #136f43;
    }
  }

  .col {
    align-self: flex-start;

    @media (max-width: #{$xs_w}px) {
      margin-bottom: 40px;
    }
  }

  address {
    font-size: 14px;
  }
}

// Location description
.section-location-description {

  h2 {
    color: #165e37;
  }

  .image-slider .slick-dots {
    li {
      &.slick-active {
        button {
          background-color: #165e37;
        }
      }

      button:before {
        border: 1px solid #165e37;
        background-color: #165e37;
      }
    }
  }
}

// Services
.section-location-services {
  .location-services {
    background-color: #ffffff;

    @media (max-width: #{$xs_w}px) {
      padding: 0px;
    }

    @media (min-width: #{$xs_w}px) {
      .wrapper {
        display: inline-flex;

        .service-type-block {
          width: 33%;
        }
      }
    }
  }

  .services-images-info li {
    margin: 0;

    span {
      text-align: center;
      min-height: 40px;
      margin-bottom: 10px;
    }
  }
}

// Promotions / Events
.section-location-promotions, .section-location-events {
  @media (max-width: #{$xs_w}px) {
    margin-top: 40px;
  }
  h2 {
    color: #165e37;
  }

  .info-button {
    background-color: #e54334;
    border: 1px solid #e54334;
  }

  .slick-dots {
    li {
      &.slick-active {
        button {
          background-color: #165e37;
        }
      }

      button:before {
        border: 1px solid #165e37;
        background-color: #165e37;
      }
    }
  }
}

// Near locations
.section-near-location {
  @media (max-width: #{$xs_w}px) {
    margin-top: 40px;
  }
  
  h2 {
    color: #165e37;
  }

  .near-location-block {
    background-color: #f5f3f0;
  }

  .search-button {
    // background-color: #e54334;
    // border: 1px solid #e54334;
    color: #165e37;
    border: 1px solid #165e37;
    border-radius: 15px;
    background-color: white;
  }

  .services-button {
    padding-left: 30px;
    background-repeat: no-repeat;
    background-position: left 10px center;
    border: 0;
    background-color: #e54334;
    color: #ffffff;
  }

  .location-button {
    background-image: url(/build/images/icon_location_white.e8f10c8f.svg);
    background-size: auto 60%;
  }

  .call-button {
    background-image: url(/build/images/icon_phone_white.1f2d18b8.svg);
    background-size: auto 55%;
  }

  .slick-dots {
    li {
      &.slick-active {
        button {
          background-color: #165e37;
        }
      }

      button:before {
        border: 1px solid #165e37;
        background-color: #165e37;
      }
    }
  }
}

// Event Team
.section-event-team {
  margin-top: 50px;

  @media (max-width: #{$xs_w}px) {
    margin-top: 0px;
  }

  .events-block {
    text-align: center;
    padding: 0 100px;

    @media screen and (min-width: 0px) and (max-width: #{$sm_w}px) {
      padding: 0;
    }

    h2 {
      color: #165e37;
    }

    article {
      background-color: $lite_color;
      box-shadow: 0 0 6px 0 transparentize($dark_color,0.68);
      width: 30%;
      margin: 10px 20px 40px 20px;
      display: inline-block;
      position: relative;

      &:hover {
        box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.14);

        .block-hover {
          display: block
        }
      }

      h3 {
        margin-top: 30px;
        margin-bottom: 10px;
      }

      .slide-image {
        position: relative;
        width: 100%;
        height: 400px;

        img {
          max-width: 100%;
          max-height: 100%;
          width: auto;
          height: auto;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          object-fit: cover;
        }
      }

      @media screen and (min-width: 0px) and (max-width: #{$xs_w}px) {
        height: 500px;

        .slide-image {
          height: 300px;
        }
      }

      .slide-content {
        padding: 20px;
        height: 200px;
        overflow: auto;
      }
    }
  }

  .wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 2%;
    position: relative
  }

  .block-hover {
    position: absolute;
    top: 0;
    background-color: $lite_color;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: none;

    h3 {
      border-bottom: 1px solid #eff3f5;
      padding-bottom: 30px;
      margin-bottom: 25px!important;
    }

    h6 {
      color: #c7c7c7;
      font-size: 14px;
      margin-bottom: 20px
    }

    .button-bottom {
      position: absolute;
      text-align: center;
      width: 100%;
      bottom: 30px;
      left: 0;
    }
  }

  .info-button {
    text-decoration: none;
    background-color: #e54334;
    border-radius: 5px;
    display: inline-block;
    color: $lite_color;
    padding: 10px 15px;
    font-size: 13px;
    border: 1px solid #e54334;
    cursor: pointer;

    &:hover {
      filter: saturate(2);
    }
  }

  .slick-dots {
    bottom: 0;

    li {
      width: 20px;
      height: 20px;
      padding: 5px;
      margin: 0;

      &.slick-active {
        button {
          background-color: #165e37;
        }
      }

      button {
        width: 10px;
        height: 10px;
        border: 1px solid transparent;
        background-color: $lite_color;
        border-radius: 50%;

        &:before {
          content: '';
          width: 10px;
          height: 10px;
          border: 1px solid #165e37;
          background-color: #165e37;
          top: 5px;
          left: 5px;
          border-radius: 50%;
        }
      }
    }
  }
}
