.section-locations {
  .location-search {
    background-color: $blue;
  }

  .location-summary {
    h5 {
      color: $blue;
      a {
        color: $red;

        &:hover {
          color: $red;
        }
      }
    }
  }

  .search-alphabet {
    li {
      span {
        color: $gray;
      }

      a {
        span {
          color: $red;
        }
      }
    }
  }

  .result-one-letter {
    .title-letter {
      color: $blue;
    }
  }
}