.section-location-details {
    
  .services-button {
    background-color: $blue;
    border-color: $blue;

    &:hover {
      background-color: $blue_hover;
      border-color: $blue_hover;
      filter: none;
    }
  }
}