.section-map {
  margin-top: 0;

  .search-button {
    background-color: $blue;
    border-color: $blue;

    &:hover {
      background-color: $blue_hover;
      border-color: $blue_hover;
      filter: none;
    }
  }

  address {
    color: $gray;
  }
}

.location-summary {
  h5 {
    color: $blue;
    a {
      color: $blue;
    }
  }
}

.services-button {
  border-color: $blue; 
}