.section-near-location {
  .search-button {
    background-color: $blue;
    border-color: $blue;

    &:hover {
      background-color: $blue_hover;
      border-color: $blue_hover;
      filter: none;
    }
  }

  .services-button {
    border-color: $blue;

    &:hover {
      border-color: $blue_hover;
      filter: none;
    }
  }

  .slick-track {
    display: flex;
  }

  .slick-slide {
    height: inherit;

    .location-summary {
      height: 100%;
    }
  }
}