{% spaceless %}
    <li class="location-summary">
        <div class='pin-icon show-open-window' data-id="__externalId__"></div>
        <span class="location-distance show-open-window" data-id="__externalId__">__distance__ __distance_unit__</span>
        <div class="info-window-content">
            <h5><a data-gtm_event="impression" data-gtm_event_value="__externalId__" href="{{ path('app_web_shop_show', {'_locale': app.request.locale, 'slug': '__slug__'}) }}" target="_self" class="ga-cta">__name__</a></h5>

            <div class="show-open-window" data-id="__externalId__">
                <address>__address__</address>
                <a  data-gtm_event="call" data-gtm_event_value="__externalId__" href="tel:__phone__" class="tel ga-cta">{{ "app.web.home.buttons.tel"|trans({}, shop.code) }} <span class="list-phone">__phone__</span></a>
            </div>

            <div class="open-close-box __appointmentClass__">
                <div class="open-box __openClass__">
                    <span class="open-label">__openLabel__</span>
                    <span class="open-sentence">__openSentence__</span>
                </div>
                <div class="small-schedule">
                    <table class="table-schedule"></table>
                </div>
            </div>
            <div class="__byAppointmentClass__">{{ 'app.web.show.open_by_appointment'|trans({}, shop.code) }}</div>


            <div class="open-hours-exceptions">
                <div class="shedule-exception exception-small">
                    <h5 class="is-open">{{ 'app.web.global.open_hours.exceptions.open'|trans }}</h5>
                </div>

                <div class="shedule-exception exception-small">
                    <h5 class="is-closed">{{ 'app.web.global.open_hours.exceptions.closed'|trans }}</h5>
                </div>
            </div> 
        </div>
    </li>
{% endspaceless %}