
@font-face {
  font-family: 'Tungsten-Bold';
  src: url('../../../../../fonts/shop/medimarket-be/Tungsten-Bold.eot');
  src: url('../../../../../fonts/shop/medimarket-be/Tungsten-Bold.eot?#iefix') format('embedded-opentype'),
      url('../../../../../fonts/shop/medimarket-be/Tungsten-Bold.woff2') format('woff2'),
      url('../../../../../fonts/shop/medimarket-be/Tungsten-Bold.woff') format('woff'),
      url('../../../../../fonts/shop/medimarket-be/Tungsten-Bold.ttf') format('truetype'),
      url('../../../../../fonts/shop/medimarket-be/Tungsten-Bold.svg#Tungsten-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tungsten-Semibold';
  src: url('../../../../../fonts/shop/medimarket-be/Tungsten-Semibold.eot');
  src: url('../../../../../fonts/shop/medimarket-be/Tungsten-Semibold.eot?#iefix') format('embedded-opentype'),
      url('../../../../../fonts/shop/medimarket-be/Tungsten-Semibold.woff2') format('woff2'),
      url('../../../../../fonts/shop/medimarket-be/Tungsten-Semibold.woff') format('woff'),
      url('../../../../../fonts/shop/medimarket-be/Tungsten-Semibold.ttf') format('truetype'),
      url('../../../../../fonts/shop/medimarket-be/Tungsten-Semibold.svg#Tungsten-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
