.footer {
    clear: both;
    width: 100%;
    background: #E5F6F1;
    margin-top: 60px
}

.footer .pictos div.container {
    padding-top: 15px;
    padding-bottom: 15px
}

.footer .pictos div.container div {
    padding: 76px 40px 5px;
    border-left: 1px solid #fff;
    background: no-repeat 50% 0;
    text-align: center;
    min-height: 177px
}

.footer .pictos div.container div span, .footer .pictos div.container div strong {
    display: block
}

.footer .pictos div.container div strong {
    white-space: nowrap;
    text-transform: uppercase;
    font-family: "Roboto-Bold", Arial, sans-serif;
    font-weight: normal;
    font-size: 16px
}

.footer .pictos div.container div span {
    font-size: 16px
}

.footer .pictos div.container div.free-shipping {
    background-image: url(https://medi-market.be/skin/frontend/medimarket/default/images/picto_shipping.png)
}

.footer .pictos div.container div.payment {
    background-image: url(https://medi-market.be/skin/frontend/medimarket/default/images/picto_payment.png)
}

.footer .pictos div.container div.choice {
    background-image: url(https://medi-market.be/skin/frontend/medimarket/default/images/picto_selection.png)
}

.footer .pictos div.container div.customer-service {
    background-image: url(https://medi-market.be/skin/frontend/medimarket/default/images/picto_service.png);
    border-right: 1px solid #fff
}

.footer .newsletter {
    padding: 14px 0;
    background: #00a983;
    color: #fff
}

.footer .newsletter label {
    font-family: "Roboto-Bold", Arial, sans-serif;
    letter-spacing: 1px;
    font-size: 23px;
    text-transform: uppercase;
    line-height: 46px;
    font-weight: normal
}

.footer .newsletter .input-box {
    padding-top: 0
}

.footer .newsletter .input-box button, .footer .newsletter .input-box input#newsletter {
    float: right;
    height: 46px
}

.footer .newsletter .input-box input#newsletter {
    font-family: "Roboto-Light", Arial, sans-serif;
    letter-spacing: 2px;
    font-size: 18px;
    color: #00a983;
    width: 470px;
    -moz-border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px 0 0 10px;
    border-color: #fff
}

.footer .newsletter .input-box button.button {
    padding: 14px 25px;
    background: #e6007d url(https://medi-market.be/skin/frontend/medimarket/default/images/btn_arrow.png) 50% 50% no-repeat !important;
    -moz-border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0;
    border-radius: 0 10px 10px 0;
    border: 1px solid #e6007d
}

.footer .newsletter .input-box button.button span {
    width: 64px
}

.footer .newsletter .input-box button.button span, .footer .newsletter .input-box button.button span span {
    background: none !important;
    -moz-border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0;
    border-radius: 0 10px 10px 0
}

.footer .newsletter .input-box button.button span span {
    display: none
}

.footer .footer-info {
    padding-bottom: 35px
}

.footer .footer-info ul li {
    font-family: "Roboto-Light", Arial, sans-serif;
    line-height: 30px;
    font-size: 16px
}

.footer .footer-info ul li a {
    color: #303030
}

.footer .footer-info ul li:before {
    padding-right: 5px;
    content: ' > ';
    color: #00a983
}

.footer .footer-info .title {
    font-family: "Tungsten-Semibold", Arial, sans-serif;
    text-transform: uppercase;
    color: #00a983;
    padding-top: 25px;
    padding-bottom: 4px;
    margin-bottom: 15px;
    border-bottom: 2px solid #00a983;
    font-size: 24px;
    letter-spacing: 2px
}

.footer .footer-info .payment-methods .content {
    background: #fff
}

.footer .footer-info .payment-methods .content:before, .footer .footer-info .payment-methods .content:after {
    content: " ";
    display: table
}

.footer .footer-info .payment-methods .content:after {
    clear: both
}

.footer .footer-info .payment-methods img {
    float: left;
    height: 35px;
    max-width: 8.3%;
    margin: 0 6px 0 4px
}

.footer .footer-info .security .title {
    padding-top: 48px
}

.footer .footer-info .shippings {
    float: right;
    clear: both
}

.footer .footer-info .shippings .title {
    padding-top: 11px
}

.footer .footer-info .shippings img {
    display: inline-block;
    max-width: 45%;
    max-height: 50px
}

.footer .copyright {
    text-align: center;
    color: #fff;
    background: #00a983;
    font-size: 12px;
    font-family: "Roboto-Medium", Arial, sans-serif;
    line-height: 1.7em;
    padding: 16px 5px
}