.fyb_header {
  margin-bottom: 20px;
  padding-bottom: 9px;
}

.page-header {
  margin: 0;
  border: none;
  background-color: #ffffff;
  padding-bottom: 0;
}

.header-infos {
  font-family: "Roboto-Regular", Arial, sans-serif;
  height: 40px;
  background: #00a983;
  font-size: 14px;

  .block-white {
    float: left;
    background: #fff;
    height: 40px;
    width: 108px;
    margin-left: 26px;
    margin-right: 15px;
  }

  .cms-about-links {
    height: 39px;
    position: relative;
    overflow: hidden;

    li {
      list-style: none;
      display: inline-block;
      padding: 0 6px;
      margin: 7px 0;
      text-transform: uppercase;
      position: relative;
      z-index: 100;
      font-size: 12px;
      letter-spacing: normal;

      a {
        display: inline-block;
        height: 27px;
        line-height: 27px;
      }

      &:after {
        content: ' ';
        position: absolute;
        top: 6px;
        right: -1px;
        height: 15px;
        width: 1px;
        display: block;
        background: #fff;
      }

      &:first-child {
        padding-left: 0;
        margin-top: 0px;

        a {
          display: inline-block;
          padding-left: 35px;
          background: url(https://medi-market.be/skin/frontend/medimarket/default/images/picto_stores.png) no-repeat 0 50%;
        }
      }

      &:last-child {
        border: none;
        padding-right: 0;

        &:after {
          display: none;
        }
      }
    }
  }

  color: #fff;

  a {
    color: #fff;

    &:hover {
      text-decoration: none;
    }
  }

  .left {
    width: 490px;
  }

  .right {
    padding-right: 0;
    width: 650px;
  }

  .form-switcher, .form-language, .my-account-link, .header-minicart {
    float: right;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .blog-link, .stores-link {
    display: none;
  }

  .header-minicart, .my-account-link {
    display: inline-block;
    padding: 0 15px 0 40px;
    margin: 9px 0;
    min-height: 20px;
    min-width: 20px;
  }

  .header-minicart {
    padding-left: 0;
  }

  .my-account-link {
    background: url(https://medi-market.be/skin/frontend/medimarket/default/images/picto_account.png) 12px 50% no-repeat;
    border-left: 1px solid #fff;
    white-space: nowrap;
    overflow: hidden;
    max-width: 506px;

    li {
      display: inline;
    }

    .logout-link a {
      text-transform: capitalize;
      letter-spacing: normal;
      text-decoration: underline;
    }
  }

  .form-language {
    color: #00a983;
    background: #E5F6F1;
    height: 40px;
    line-height: 40px;

    p {
      margin: 0;
    }

    #countries {
      padding: 0 10px;
      position: relative;

      #countries_ul {
        display: none;
        z-index: 10000;
        list-style-type: none;
      }

      &:hover #countries_ul {
        display: block;
        z-index: 5000;
        position: absolute;
        height: 40px;
        background: #00a983;
        color: #fff;
        padding: 0 10px;
        left: 0;
      }
    }
  }

  .form-switcher {
    color: #00a983;
    text-indent: -9999px;
    background: #E5F6F1;
    height: 40px;
    line-height: 40px;
    border-right: 1px solid #00a983;

    #switch_countries {
      padding: 0 10px;
      position: relative;

      p {
        background: #E5F6F1 no-repeat 50% 50%;
        width: 20px;
        margin: 0;
      }

      li {
        background: #00a983 no-repeat 50% 50%;
        height: 40px;

        a {
          display: block;
          height: 40px;
          width: 40px;
        }
      }

      .be {
        background-image: url(https://medi-market.be/skin/frontend/medimarket/default/images/countries/be.gif);
      }

      .fr {
        background-image: url(https://medi-market.be/skin/frontend/medimarket/default/images/countries/fr.gif);
      }

      .nl {
        background-image: url(https://medi-market.be/skin/frontend/medimarket/default/images/countries/lu.gif);
      }

      .lu {
        background-image: url(https://medi-market.be/skin/frontend/medimarket/default/images/countries/nl.gif);
      }

      #switch_countries_ul {
        display: none;
        z-index: 10000;
        list-style-type: none;
      }

      &:hover #switch_countries_ul {
        display: block;
        z-index: 5000;
        position: absolute;
        height: 40px;
        color: #fff;
        left: 0;
      }
    }
  }
}

.header-middle {
  .logo {
    position: relative;
    float: left;
    width: 190px;
    padding-right: 15px;
    margin-top: -34px;
    margin-left: 9px;
    z-index: 99;
  }

  .header-content {
    float: left;
    width: 941px;
    padding: 0 0 0 15px;
  }

  .title {
    font-family: "Tungsten-Bold", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 58.5px;
    height: 101px;
    line-height: 101px;
    overflow: hidden;

    strong {
      font-weight: normal;
    }

    .title-price {
      color: #00a983;
    }

    .title-choice {
      color: #7fc6e2;
    }

    .title-advice {
      color: #afca0a;

      &:before {
        content: ' - ';
        padding: 0 10px;
      }
    }

    .title-choice:before {
      content: ' - ';
      padding: 0 10px;
    }

    #trustedshops_trustbadge {
      float: right;
      margin-top: 8px;
      margin-right: 5px;
    }
  }
}

#header-nav {
  margin-top: 28px;
  background: #00a983;
  clear: both;
}

.menu {
  clear: both;
  position: relative;

  &:before {
    content: " ";
    display: table;
  }

  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

#nav-container {
  &:before {
    content: " ";
    display: table;
  }

  &:after {
    content: " ";
    display: table;
    clear: both;
  }

  #nav {
    font-size: 14px;
    margin: 0;
    position: relative;
    border-right: 1px solid #fff;

    &:before {
      content: " ";
      display: table;
    }

    &:after {
      content: " ";
      display: table;
      clear: both;
    }

    > li {
      float: left;
      width: 20%;
      border-left: 1px solid #fff;

      > {
        a {
          display: block;
          height: 61px;
          line-height: 61px;
          padding: 0 49px;
          font-family: "Roboto-Bold", Arial, sans-serif;
          text-transform: uppercase;
          text-align: center;
          color: #fff;
          position: relative;

          &:hover {
            text-decoration: none;
          }

          > span {
            vertical-align: middle;
            display: inline-block;
            line-height: normal;
            text-align: center;
          }

          &:after {
            content: '';
            position: absolute;
            right: 15%;
            top: 29px;
            width: 12px;
            height: 7px;
            background: url(https://medi-market.be/skin/frontend/medimarket/default/images/btn_menu.png) 100% 50% no-repeat;
          }
        }

        ul {
          display: none;
          position: absolute;
          z-index: 1000;
          top: 61px;
          left: 0;
          width: 100%;
          padding: 15px;
          background: #EAFBF5;
          -moz-box-shadow: 0px 30px 30px -30px #656565;
          -webkit-box-shadow: 0px 30px 30px -30px #656565;
          -o-box-shadow: 0px 30px 30px -30px #656565;
          box-shadow: 0px 30px 30px -30px #656565;
          filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=30);

          &:before {
            content: " ";
            display: table;
          }

          &:after {
            content: " ";
            display: table;
            clear: both;
          }

          > li {
            position: relative;
            float: left;
            padding: 15px;

            &:before {
              content: " ";
              display: table;
            }

            &:after {
              content: " ";
              display: table;
              clear: both;
            }
          }

          li {
            &.category-description {
              float: right;
              width: 25%;
              text-align: center;
            }

            &.category-submenu-alone {
              width: 100%;
            }

            &.category-submenu {
              width: 75%;
            }

            &.category-submenu-alone > ul, &.category-submenu > ul {
              position: relative;
              float: left;
            }

            &.category-submenu-alone > ul.parts1, &.category-submenu > ul.parts1 {
              width: 100%;
            }

            &.category-submenu-alone > ul.parts2, &.category-submenu > ul.parts2 {
              width: 50%;
            }

            &.category-submenu-alone > ul.parts3, &.category-submenu > ul.parts3 {
              width: 33.3333%;
            }

            &.category-submenu-alone > ul.parts4, &.category-submenu > ul.parts4 {
              width: 25%;
            }

            &.category-submenu-alone > ul.parts5, &.category-submenu > ul.parts5 {
              width: 20%;
            }

            &.category-submenu-alone > ul > li, &.category-submenu > ul > li {
              padding-bottom: 15px;
            }

            &.category-submenu-alone > ul > li > a, &.category-submenu > ul > li > a {
              font-family: "Tungsten-Bold", Arial, sans-serif;
              font-size: 22px;
              text-transform: uppercase;
              color: #00a983;
            }

            &.category-submenu-alone > ul li li a, &.category-submenu > ul li li a {
              font-size: 13px;
              color: #303030;
            }

            &.category-clear {
              display: none;
            }
          }
        }

        .close-btn {
          display: none;
          position: absolute;
          top: 61px;
          right: 5px;
          width: 24px;
          text-align: center;
          color: #303030;
          font-size: 24px;
          z-index: 1001;
          font-weight: bold;
          cursor: pointer;
        }
      }

      &.hover > {
        ul, .close-btn {
          display: block;
        }
      }
    }
  }
}

#header-search {
  padding-top: 47px;
}

#search_mini_form {
  .input-box {
    position: relative;
    padding: 0;
    display: inline-block;
  }

  label {
    display: none;
  }

  a.button {
    width: 150px;
    margin-top: -4px;
    margin-left: 15px;

    &.brands {
      background: #737373;
      margin-left: 20px;
    }

    &.promotions {
      background: #e6007d;
    }
  }

  #search {
    width: 570px;
    height: 38px;
    padding-right: 50px;
    font-family: "Roboto-Regular", Arial, sans-serif;
    font-size: 15px;
    letter-spacing: 3px;
    color: #00a983;
    border-color: #00a983;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  .search-button {
    text-indent: -9999px;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 38px;
    border: 0;
    background: none;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 45px;
      height: 30px;
      margin-top: -15px;
      margin-left: -23px;
      background: url(https://medi-market.be/skin/frontend/medimarket/default/images/picto_search.png) 50% 50% no-repeat;
    }

    &:hover:after {
      opacity: 0.8;
    }

    &:active:before {
      margin-top: -13px;
      margin-left: -13px;
    }
  }
}

.header-minicart {
  position: relative;

  .label {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 2px;
    color: #ffffff;
    font-family: "Roboto-Regular", Arial, sans-serif;
  }

  .icon {
    background: url(https://medi-market.be/skin/frontend/medimarket/default/images/picto_cart.png) 0 50% no-repeat;
    padding-right: 34px;
    min-height: 20px;
    position: relative;
    top: -1px;
  }
}

.ts-product-rating .ts-stars-reviewCount {
  padding-left: 6px;
  cursor: pointer;
  text-decoration: underline;
}

.product-view .ts-product-rating .ts-rating {
  height: 19px;
  display: inline-block;
  margin-bottom: 3px;

  .ts-stars-reviewCount {
    padding-left: 6px;
  }
}

.mini-products-grid .ts-product-rating, .products-grid .ts-product-rating {
  height: 19px;
  display: inline-block;
  text-decoration: none;
}

.mini-products-grid .ts-product-rating .ts-rating, .products-grid .ts-product-rating .ts-rating {
  margin-bottom: 0;
}

.ts-product-rating .ts-reviewSummary-averageRating {
  display: none !important;
}

#nav-container #nav > li {
  &.nav-id-2220 {
    &:hover {
      color: #fff;
      background: #afca0a;
    }

    > {
      a:hover {
        color: #fff;
        background: #afca0a;
      }

      ul > li {
        &.category-submenu-alone > ul > li > a, &.category-submenu > ul > li > a {
          color: #afca0a;
        }
      }
    }
  }

  &.nav-id-2441 {
    &:hover {
      color: #fff;
      background: #0097a8;
    }

    > {
      a:hover {
        color: #fff;
        background: #0097a8;
      }

      ul > li {
        &.category-submenu-alone > ul > li > a, &.category-submenu > ul > li > a {
          color: #0097a8;
        }
      }
    }
  }
}

.search-autocomplete {
  left: 0 !important;
  overflow: visible !important;
  top: 47px !important;
  width: 100% !important;
  z-index: 9000;
  display: none;
}

/*Tab pane*/

.details-tabs-content {
  padding-top: 57px;
  padding-bottom: 100px;
}

.tab-pane {
  &:after {
    content: '';
    display: block;
    clear: both;
  }

  .item-li {
    text-align: center;
    margin-bottom: 60px;
    border: 1px solid #fff;
    border-right: 1px solid #EEEEEE;
    height: auto;
    position: relative;
    border-right: 2px solid #00a983;
    border-left: 2px solid #00a983;
    margin-left: -2px;
    list-style-type: none;
    position: relative;

    &:after {
      content: '';
      width: 101%;
      height: 2px;
      background-color: #00a983;
      position: absolute;
      bottom: -30px;
      left: 0;
    }

    &:nth-child(1n) {
      border-left: none;
    }

    &:nth-child(3n) {
      border-right: none;
    }

    .item {
      width: 100%;
      margin: 0;
      padding: 5px;
      background: transparent;
      border: none;
      box-shadow: none;
      text-align: left;
      font-family: "Tungsten-Bold", Arial, sans-serif;
      color: #918f90;
    }
  }

  &.active#promotions {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
}

#promotions:after {
  content: '';
  width: 101%;
  height: 2px;
  background-color: #00a983;
  position: absolute;
  bottom: 31px;
  left: 0;
}

.tab-pane .item-li .item {
  .category-icon {
    position: absolute;
    right: 0;
    width: 75px;

    img {
      width: 75px;
    }
  }

  img {
    width: 200px;
  }

  .img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  .product {
    margin-right: 210px;
  }

  .product-infos {
    .product-name {
      font-size: 24px;
      color: #00a983;
      font-family: "Tungsten-Bold", Arial, sans-serif;
      margin: 10px 0 5px 0;
    }

    p {
      color: #00a983;
      font-family: "Tungsten-Bold", Arial, sans-serif;
      margin: 0 0 10px;
    }
  }

  .price-div {
    .product-oldprice {
      font-size: 30px;
    }

    .product-price {
      font-size: 46px;
      color: #e6007d;
    }
  }

  .product-small-img {
    display: none;
  }

  .product-validity {
    font-family: "Roboto-Light", Arial, sans-serif;
    color: #000000;
    font-style: italic;
    width: 200px;
    font-size: 11px;
    margin: 0 0 10px;
  }

  .product-big-img {
    text-align: right;
  }

  .item-content {
    position: relative;
  }
}

.location-description h2 {
  text-transform: none;
  font-weight: bold;
}