.mobilo_sect-mapSearch {
  margin-top: 113px;
  z-index: 1;

  @media only screen and (min-width: 768px) {
    display: flex;
  }

  .mobilo_modalSearch {
    box-shadow: 0px 0px 6px 0px rgba(54, 54, 54, 0.32);
    @media only screen and (min-width: 768px) {
      position: relative;
      top: 0;
      left: 0;
      max-width: 466px;
      width: 100%;
    }

    @media (min-width: 768px) and (max-width: 1200px) {
      max-width: 350px;
    }
  }

  .mobilo_map {
    position: relative;

    @media only screen and (min-width: 768px) {
      flex: 1;
    }
  }

  .mobilo_searchBox {
    margin-bottom: 0;
    box-shadow: none;
  }

  .mobilo_resultsBox {
    box-shadow: none;
    @media only screen and (min-width: 768px) {
      max-height: 100%
    }

    &.search-is-open {
      .mobilo_searchResultsLoc {
        @media only screen and (min-width: 768px) {
          max-height: 348px; 
          min-height: 348px;
        }

        @media (min-width: 768px) and (max-width: 1200px) {
          max-height: 301px; 
          min-height: 301px;
        }
      }
    }

    .mobilo_searchResultsLoc {
      @media only screen and (min-width: 768px) {
        max-height: 474px;
        min-height: 474px;
      }

      @media only screen and (max-width: 767px) {
        max-height: 531px;
        min-height: 531px;
      }
    }
  }

  .mobilo_searchForm {
    h1 {
      font-weight: 500;
      font-family: "Roboto", sans-serif;
    }
  }

  .mobilo_searchPosition {
    #map_search_autocomplete {
      width: 193px;

      @media only screen and (max-width: 1200px) {
        width: 100%;
      }

       @media (min-width: 1200px) and (max-width: 1360px) {
        width: 147px;
      }
    }

    .mobilo_myposition {
      padding: 9px 15px 9px 36px;
      color: #ffffff;
      font-weight: 500;
      letter-spacing: 0;
    }

    span{
      &.or {
        font-weight: 400;
      }
    }
  }

  .mobilo_searchFilters {
    .mobilo_openFilters {
    p {
        font-weight: 400;
      }
    }
  }
}

.info-window-block {
  background-color: #ffffff;

  .location-summary {
    text-align: center;
    padding: 10px;

    h5 {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 4px;
      line-height: 16px;
      text-transform: uppercase;
      text-decoration: none;
    }

    address {
      color: #999999;
      font-size: 12px;
      margin-bottom: 10px;
    }

    .services-button {
      background-repeat: no-repeat;
      border: 0;
      background-color: #2AA883;
      color: #ffffff;
      box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.1);
      text-decoration: none;
      display: inline-block;
      padding: 5px 15px 5px 30px;
      cursor: pointer;
      margin: 0 5px;
      font-size: 12px;
      line-height: 20px;
      font-weight: 300;

      &.location-button {
        background-image: url(/build/images/icon_location_white.e8f10c8f.svg);
        background-size: 13%;
        background-position: 9px 7px;
      }

      &.call-button {
        background-image: url(/build/images/icon_phone_white.1f2d18b8.svg);
        background-size: 13%;
        background-position: 10px 8px;
      }
    }

    .search-button {
      text-decoration: none;
      padding: 10px 15px;
      font-size: 13px;
      cursor: pointer;
      color: #2AA883;
      border: 1px solid #2AA883;
      background-color: white;
      display: block;
    }

    .location-distance {
      font-weight: 500;
      margin-bottom: 10px;
      display: block;
    }

    .m-t-15 {
      margin-top: 15px;
    }

    .m-b-15 {
      margin-bottom: 15px;
    }

    .open-close-box {
      &.box-opened {
        .small-schedule {
          display: block;
        }
      }

      .open-sentence {
        font-size: 12px;
        font-weight: 300;
      }

      .open-label {
        color: #ffffff;
        font-size: 12px;
        background-color: #AECB06;
        border-radius: 10px;
        padding: 3px 13px 4px 13px;
        display: inline-block;
        margin-right: 8px;
        vertical-align: middle;
      }

      .small-schedule {
        border-width: 1px;
        border-color: #e2e6ef;
        border-style: solid;
        border-radius: 5px;
        box-shadow: 0 0 3px 0 rgba(54, 54, 54, 0.2);
        padding: 10px;
        margin-top: 10px;
        display: none;

        table {
          color: #999999;
          font-size: 12px;
          line-height: 15px;

          th {
            color: #3d3d3d;
            text-align: left;
            width: 50%;
            font-weight: 500;
          }

          td{
            text-align: left;
            width: 50%;
            font-weight: 300;

            &.warning {
              color: #2b6c96;
            }
          }
        }

        tr {
          &.active {
            font-weight: 500;
          }
        }
      }
    }
  }
}

.search-results-no-loading {
  display: inline-block;
  float: left;
  margin-right: 5px;
  padding-top: 2px;
}