@media only screen and (max-width: 1199px) {
  .header-infos {
    .left {
      width: 450px;
    }

    .right {
      width: 490px;
    }

    .cms-about-links li {
      font-size: 12px;
      padding: 0 5px;
      letter-spacing: normal;
    }

    .my-account-link {
      max-width: 306px;
    }
  }

  .header-middle {
    .header-content {
      width: 741px;
    }

    .title {
      font-size: 43px;
    }
  }

  body.nl .header-middle {
    .title-advice:before, .title-choice:before {
      padding: 0;
    }
  }

  #nav-container #nav > li > a {
        padding: 0 25px
    }

    #nav-container #nav > li > a:after {
        right: 15px
    }

    .tab-pane .item-li .item .product {
      margin-right: 0!important;
    }

    .tab-pane .item-li .item .product-big-img {
      float: none!important;
    }

    #search_mini_form a.button {
        width: 135px
    }

    #search_mini_form a.button.brands {
        margin-left: 17px
    }

    #search_mini_form #search {
        width: 424px
    }

    .footer .pictos div.container div {
        padding-left: 20px;
        padding-right: 20px
    }

    .footer .newsletter .container input#newsletter {
        width: 402px
    }

    .footer .newsletter .container label {
        font-size: 23px;
        line-height: 44px
    }
}

@media only screen and (min-width: 992px) {
  #nav-container {
      display: block !important
  }

  .fyb_page .wrapper {
      width: 980px;
  }
}

@media only screen and (max-width: 991px) {
  header .container {
    padding: 0;
  }

   #nav-container #nav > li.nav-id-2220:hover {
      border-color: #afca0a
  }

   #nav-container #nav > li.nav-id-2441:hover {
      border-color: #0097a8
  }

  .tab-pane .item-li .item {
    .product-big-img {
      display: none;
    }

    .product-small-img {
      display: block !important;
    }
  }

  .header-infos {
    .left {
      width: 406px;
    }

    .right {
      width: 344px;
    }

    .my-account-link .account-name {
      display: none;
    }

    ul.my-account-link {
      margin-top: 0;
      max-width: 253px;

      li.logout-link {
        position: relative;
        top: -6px;
        line-height: 1em;
      }
    }

    .block-white {
      width: 93px;
      margin-left: 15px;
      margin-right: 5px;
    }

    .cms-about-links li {
      font-size: 11px;

      &:after {
        right: 0;
      }

      &:first-child {
        padding-left: 2px;

        a {
          padding-left: 31px;
        }
      }
    }

    .form-switcher, .form-language, .my-account-link, .header-minicart {
      letter-spacing: 1px;
    }
  }

  .header-middle {
    .logo {
      width: 172px;
      margin-left: 0px;
    }

    .header-content {
      width: 578px;
      padding: 0;
    }

    .title {
      font-size: 34px;
      letter-spacing: 2px;
      line-height: 80px;
      height: 80px;

      .title-advice:before, .title-choice:before {
        padding: 0;
      }
    }
  }

  body.nl .header-middle .title {
    font-size: 37px;
  }

   #header-nav {
        margin-top: 20px
    }

    #header-nav #nav-bar {
        height: 40px;
        line-height: 40px;
        padding-right: 10px;
        background: #00a983
    }

    .tab-pane .item-li {
      width: 100%!important;
      border-right: none!important;
      border-left: none!important;
    }

    #header-nav #nav-bar:before, #header-nav #nav-bar:after {
        content: " ";
        display: table
    }

    #header-nav #nav-bar:after {
        clear: both
    }

    #header-nav #nav-bar, #header-nav #nav-bar a {
        display: block;
        color: #fff
    }

    #header-nav #nav-bar.home-link, #header-nav #nav-bar a.home-link {
        text-indent: -1000px;
        background: url(https://medi-market.be/skin/frontend/medimarket/default/images/btn_home.png) 50% 50% no-repeat;
        cursor: pointer
    }

    #header-nav #nav-bar.products-link, #header-nav #nav-bar a.products-link {
        text-align: right;
        text-transform: uppercase;
        font-family: "Roboto-Bold", Arial, sans-serif;
        font-size: 14px;
        padding-right: 20px;
        background: url(https://medi-market.be/skin/frontend/medimarket/default/images/btn_menu.png) no-repeat 100% 50%
    }

    #header-nav .menu {
        background: #fff
    }

    #nav-container {
        display: none;
        -moz-box-shadow: 0px 30px 30px -30px #656565;
        -webkit-box-shadow: 0px 30px 30px -30px #656565;
        -o-box-shadow: 0px 30px 30px -30px #656565;
        box-shadow: 0px 30px 30px -30px #656565;
        filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=30);
        background: #EAFBF6;
        margin-bottom: 35px
    }

    #nav-container.container {
        width: 100%;
        padding: 0
    }

    #nav-container #nav > li {
        width: 100%;
        border-left: 0;
        border-bottom: 1px solid #00a983
    }

    #nav-container #nav > li:last-child {
        border: none
    }

    #nav-container #nav > li > a {
        height: 59px;
        line-height: 59px;
        padding-left: 25px;
        text-align: left;
        color: #00a983
    }

    #nav-container #nav > li > a:after {
        right: 20px;
        top: 22px;
        width: 10px;
        height: 17px;
        // background: url(../images/btn_submenu.png) 100% 50% no-repeat
    }

    #nav-container #nav > li > a:hover {
        color: #fff;
        background: #00a983
    }

    #nav-container #nav > li > a:hover:after {
        // background-image: url(../images/btn_submenu_hover.png)
    }

    #nav-container #nav > li.brands, #nav-container #nav > li.brands > a, #nav-container #nav > li.brands > a:hover {
        border-color: #737373;
        background: #737373;
        color: #fff
    }

    #nav-container #nav > li.brands:after, #nav-container #nav > li.brands > a:after, #nav-container #nav > li.brands > a:hover:after {
        // background-image: url(../images/btn_submenu_hover.png)
    }

    #nav-container #nav > li.promotions, #nav-container #nav > li.promotions > a, #nav-container #nav > li.promotions > a:hover {
        border-color: #e6007d;
        background: #e6007d;
        color: #fff
    }

    #nav-container #nav > li.promotions:after, #nav-container #nav > li.promotions > a:after, #nav-container #nav > li.promotions > a:hover:after {
        // background-image: url(../images/btn_submenu_hover.png)
    }

    #nav-container #nav > li.hover > ul {
        display: none
    }

    #nav-container #nav > li.hover .close-btn {
        display: none
    }

    #search_mini_form a.button {
        width: 130px;
        margin-left: 12px
    }

    #search_mini_form a.button.brands {
        margin-left: 11px
    }

    #search_mini_form #search {
        width: 295px
    }

    .footer .footer-info .payment-methods img {
        margin: 0 5px
    }

     .footer {
        margin-top: 20px
    }

    .footer .pictos div.container {
        padding-left: 0;
        padding-right: 0
    }

    .footer .pictos div.container div {
        padding-left: 10px;
        padding-right: 10px
    }

    .footer .pictos div.container div strong {
        line-height: 20px;
        white-space: normal;
        padding-bottom: 5px
    }

    .footer .newsletter .container {
        padding: 0
    }

    .footer .newsletter .container input#newsletter {
        width: 421px
    }

    .footer .newsletter .container label {
        font-size: 21px;
        line-height: 23px
    }

    .footer .footer-info .security .title {
        padding-top: 25px
    }

    .footer .footer-info .shippings {
        clear: both;
        float: none
    }

    .footer .footer-info .secure-payment {
        clear: both
    }
}

@media only screen and (min-width: 768px) {
  .header-infos .my-account-link li {
    display: inline !important
  }
}

@media (min-width: 1200px) {
    .fyb_page .wrapper {
        width: 1170px;
    }
}

@media only screen and (max-width: 767px) {
  .header-infos {
    .left {
      display: none;
    }

    .right {
      width: auto;
      padding-left: 8px;
    }

    .header-minicart {
      float: left;
      padding: 0;

      .icon {
        padding-right: 29px;
      }
    }

    .my-account-link {
      float: none;
      padding-right: 6px;
      padding-left: 27px;
      background-position: 7px 50%;
      border-right: 1px solid #fff;
      position: relative;
      overflow: visible;
      cursor: pointer;

      li {
        display: none;
        background: #00a983;
        position: absolute;
        width: 135px;
        letter-spacing: normal;
        z-index: 100;
        left: 0;

        a {
          display: block;
          padding: 5px 10px 5px 10px;
        }

        &.account-name {
          top: 25px;
        }

        &.logout-link {
          top: 53px;

          a {
            padding-bottom: 10px;
            text-transform: uppercase;
            text-decoration: none;
          }
        }
      }
    }

    #header-nav {
        margin-top: 10px
    }

    .stores-link {
      display: inline-block;
      margin-left: 4px;
      padding-left: 35px;
      background: url(https://medi-market.be/skin/frontend/medimarket/default/images/picto_stores.png) no-repeat 0 50%;
      height: 27px;
      line-height: 27px;
      text-transform: uppercase;
      position: relative;
      top: -13px;
    }

    .blog-link {
      background: url(https://medi-market.be/skin/frontend/medimarket/default/images/picto_blog.png) 5px 50% no-repeat;
      display: inline-block;
      padding: 0 6px 0 28px;
      margin: 9px 0;
      min-height: 20px;
      min-width: 20px;
      border-right: 1px solid #fff;
      position: relative;
      overflow: visible;
      cursor: pointer;

      span {
        display: none;
      }
    }
  }

  .header-middle {
    .logo {
      width: 115px;
      padding-right: 2px;
      margin: 0;
    }

    .header-content {
      float: none;
      width: auto;
      padding: 0;
    }

    .title {
      font-size: 20px;
      letter-spacing: 1px;
      height: 105px;
      line-height: 105px;

      .title-advice:before, .title-choice:before {
        padding: 0;
      }
    }
  }

  body.nl .header-middle {
    .title {
      font-size: 19px;

      .title-advice:before, .title-choice:before {
        padding: 0;
      }
    }

    .logo, .header-content {
      margin: 0;
    }
  }

   #search_mini_form {
        padding: 5px 0 0 0;
        margin: 0 15px
    }

    #search_mini_form .input-box {
        padding-right: 0
    }

    #search_mini_form #search {
        width: 301px
    }

    #search_mini_form a.button {
        display: none
    }

     .footer .footer-info .payment-methods img {
        margin: 0 6px
    }

    .footer .pictos div.container .choice {
        clear: both
    }

    .footer .pictos div.container .choice, .footer .pictos div.container .customer-service {
        border-top: 1px solid #fff
    }

    .footer .pictos div.container .free-shipping {
        border-right: 1px solid #fff
    }

    .footer .pictos div.container .payment {
        border: none
    }

    .footer .footer-info .container {
        padding: 0
    }

    .footer .footer-info ul li {
        font-size: 14px;
        line-height: 25px
    }

    .footer .footer-info .title {
        padding-top: 20px;
        font-size: 22px
    }

    .footer .footer-info .payment-methods .content {
        text-align: center
    }

    .footer .footer-info .payment-methods img {
        margin: 5px 3px;
        width: auto;
        max-width: 30%;
        height: 30px
    }

    .footer .footer-info .security .title, .footer .footer-info .shippings .title {
        padding-top: 20px
    }

    .footer .newsletter .container {
        padding: 0 10px
    }

    .footer .newsletter .container .row {
        margin: 0
    }

    .footer .newsletter .container label {
        float: none;
        display: block;
        width: auto;
        text-align: center;
        padding-bottom: 15px
    }

    .footer .newsletter .container input#newsletter {
        width: 80%
    }

    .footer .newsletter .container button {
        width: 15%
    }

    .footer .copyright {
        padding: 10px 0
    }

    .footer .copyright .container {
        padding: 0
    }

    .footer .copyright br {
        display: none
    }
}

@media only screen and (max-width: 750px) {
    .review-product-view .product-review .product-img-box {
        max-width: 100%
    }
}