.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.pull-right {
  float: right !important
}

.mobilo_para,
.mobilo_institut,
.mobilo_pharma {
  margin-top: 113px;
}

.pull-left {
    float: left !important
}

.hide {
    display: none !important
}

.show {
    display: block !important
}

.slick-dots li button:before {
    left: 1px !important;
}

.invisible {
    visibility: hidden;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

table {
    font-family: "Roboto", sans-serif;
    color: #ffffff;
}

table th {
    font-family: "Roboto", sans-serif;
    text-transform: inherit;
    background-color: transparent;
    color: #ffffff;
    height: auto;
    width: auto;
    letter-spacing: 0;
    min-height: auto;
}

table td {
    padding: 0;
}

.hidden {
    display: none !important;
    visibility: hidden !important
}

.affix {
    position: fixed;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

@-ms-viewport {
    width: device-width
}

@-ms-viewport {
    width: device-width
}

@-o-viewport {
    width: device-width
}

@viewport {
    width: device-width
}

* {
        margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

a, button {
    -ms-touch-action: manipulation;
    touch-action: manipulation
}

body, button, input, textarea {
    font-family: "Roboto", sans-serif;
    color: #303030;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.5
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0
}

h1, .h1 {
    margin: 0;
    color: #000;
    font-family: "Roboto-Light", Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.2;
    text-rendering: optimizeLegibility
}

h2, .h2 {
    margin: 0;
    margin-bottom: 0.5em;
    color: #303030;
    font-family: "Roboto-Bold", Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    text-rendering: optimizeLegibility
}

h3, .h3 {
    margin: 0;
    margin-bottom: 10px;
    color: #303030;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    text-rendering: optimizeSpeed
}

h4, .h4 {
    margin: 0;
    margin-bottom: 10px;
    color: #303030;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.4;
    text-rendering: optimizeSpeed
}

h5, .h5 {
    margin: 0;
    margin-bottom: 10px;
    color: #303030;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    text-rendering: optimizeSpeed
}

h6, .h6 {
    margin: 0;
    margin-bottom: 5px;
    color: #303030;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.4;
    text-rendering: optimizeSpeed
}

.button {
    background: #e6007d;
    display: inline-block;
    padding: 10px 15px;
    border: 0;
    color: #fff !important;
    font-size: 14px;
    font-weight: 300;
    font-family: "Roboto-Bold", Arial, sans-serif;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px
}

.button:hover {
    background-color: #cd006f;
    cursor: pointer
}

.button:active {
    background-color: #b30061;
    color: #FFFFFF
}

.button:focus {
    background-color: #b30061;
    outline: none;
    color: #FFFFFF
}

a.button {
    text-decoration: none !important
}

a.button:hover {
    color: #FFFFFF
}

.item-options {
    font-size: 14px;
    font-family: "Roboto-Light", Arial, sans-serif
}

.item-options:after:before, .item-options:after:after {
    content: " ";
    display: table
}

.item-options:after:after {
    clear: both
}

.item-options dt {
    float: left;
    clear: left;
    font-weight: 600;
    padding-right: 5px;
    font-style: italic
}

.item-options dt:after {
    content: ': '
}

.item-options dd {
    float: left;
    padding-left: 10px;
    margin: 0 0 6px
}


.ratings {
    margin: 7px 0
}

.ratings .rating-box, .ratings .rating-links {
    margin: 5px 0
}

.ratings .rating-box {
    width: 65px;
    height: 13px;
    background-repeat: repeat-x;
    background-position: 0 -615px;
    overflow: hidden
}

.ratings .rating-box .rating {
    float: left;
    height: 13px;
    background-repeat: repeat-x;
    background-position: 0 -600px
}

.ratings .amount {
    display: block;
    margin: 5px auto
}

.ratings .rating-links .separator {
    margin: 0 3px
}

.std table {
    width: 100%;
    margin: 0 0 1.5em
}

.std table th {
    font-family: "Roboto-Bold", Arial, sans-serif;
    background: #F5F4F4;
    font-size: 12px;
    text-transform: uppercase
}

.std table th, .std table td {
    padding: 15px 10px
}

.std table tbody tr:first-child td {
    padding-top: 20px
}

.std table tbody tr:last-child td {
    border-bottom: 1px dashed #9d9d9c;
    padding-bottom: 20px
}

.std p {
    margin: 0 0 1.5em
}

.std ol {
    list-style: decimal outside;
    margin-bottom: 1.5em
}

.std ol li {
    margin-left: 2em
}

.std ul {
    list-style: disc outside;
    margin-bottom: 1.5em
}

.std ul li {
    margin-left: 2em
}

.std .note {
    color: #959595;
    font-size: 13px
}

.tabs {
    margin-bottom: 15px;
    background: #FFFFFF
}

.widget .pager {
    float: none;
    width: 100%
}

.a-center {
    text-align: center
}

.a-right, .align-right {
    text-align: right
}

.no-display {
    display: none !important
}

.nobr, .nowrap {
    white-space: nowrap
}

.width-full {
    width: 100%
}

.alpha {
    padding-left: 0 !important
}

.omega {
    padding-right: 0 !important
}


@media print {
    .button, button {
        background: transparent;
        padding: 5px;
        display: none !important
    }
}

.fieldset {
    width: 100%
}

.fieldset:before, .fieldset:after {
    content: " ";
    display: table
}

.fieldset:after {
    clear: both
}

.fieldset p {
    margin-bottom: 7px
}

.fieldset p.required {
    color: #303030;
    font-size: 14px;
    font-style: italic;
    float: left;
    clear: both
}

.fieldset .fieldset {
    padding: 0;
    border: 0;
    margin: 0
}

.fieldset + .fieldset {
    margin-top: 30px
}


.input-box {
    padding-top: 10px
}

.input-box:before, .input-box:after {
    content: " ";
    display: table
}

.input-box:after {
    clear: both
}

.input-box:after:before, .input-box:after:after {
    content: " ";
    display: table
}

.input-box:after:after {
    clear: both
}

.input-box .v-fix {
    float: left;
    margin-right: 5px
}

label {
    display: inline-block;
    font-size: 16px;
    font-family: "Roboto-Bold", Arial, sans-serif;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none
}

label.required:after, span.required:after {
    content: '*';
    color: #e6007d
}

label.required em, span.required em {
    display: none
}

label.label-region-id.required:after {
    content: ''
}

label.label-region-id.required em {
    color: #e6007d;
    display: inline;
    font-style: normal
}

select {
    font-size: 16px;
    color: #303030
}

select + select {
    margin-left: 5px
}

select[multiple] {
    width: 270px;
    border: 1px solid #7E7E7E;
    font-size: 16px;
    padding: 5px
}

.select-box {
    display: inline-block;
    position: relative;
    border: 1px solid #7E7E7E;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-size: 15px;
    background: #fff
}

.select-box:last-child {
    margin-right: 0
}

.select-box:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 5px solid #3D3D3D;
    border-bottom: none;
    position: absolute;
    top: 11px;
    right: 10px;
    pointer-events: none
}

.select-box select {
    padding: 3px 30px 3px 5px;
    margin: 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: transparent;
    color: #303030;
    letter-spacing: 0;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer
}

.select-box + .select-box {
    margin-left: 15px
}

textarea {
    font-size: 16px;
    color: #303030;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    padding: 5px
}

textarea, select, .input-text {
    border: 1px solid #7E7E7E;
    background: #FFFFFF;
    font-size: 16px;
    color: #303030;
    width: 100%;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px
}

textarea[readonly], select[readonly], .input-text[readonly] {
    background: #EEE
}

.input-text {
    -moz-appearance: none;
    -webkit-appearance: none
}

.input-error .input-text, .input-text.validation-failed {
    border-color: red
}

.input-error .input-text:focus, .input-text.validation-failed:focus {
    outline-color: #ff8080
}

input[type=email], input[type=search], input[type=number], input[type=password], input[type=tel], input[type=text] {
    height: 37px;
    padding: 0 10px
}

input[type=email], input[type=search], input[type=number], input[type=password], input[type=tel], input[type=text] {
    max-width: 100%;
    width: 100%
}

@media only screen and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 0) {
    input[type=email], input[type=search], input[type=number], input[type=password], input[type=tel], input[type=text], select {
        font-size: 16px
    }
}

.ie8 .input-text {
    max-width: none
}

input[type=number].qty, input[type=text].qty {
    text-align: center;
    padding: 0 5px;
    width: 37px;
    height: 33px;
    font-weight: bold;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

select.qty {
    letter-spacing: -1px;
    min-width: 51px;
    padding-right: 22px;
    text-align: center
}

::-webkit-input-placeholder {
    color: #959595
}

input:-moz-placeholder {
    color: #959595
}

.checkbox, .radio {
    position: relative;
    top: 3px;
    display: inline-block;
    margin-right: 5px
}

.checkbox + label, .radio + label {
    width: auto;
    max-width: 85%;
    padding: 0 0 0 8px;
    font-size: 16px;
    font-weight: normal;
    vertical-align: top
}

p.required {
    color: #e6007d;
    font-size: 14px;
    margin-bottom: 30px
}

html, body {
    height: 100%
}

.wrapper {
    min-width: 320px;
    min-height: 100%;
    margin: 0 auto;
    background: #FFFFFF
}

.main {
    min-height: 280px
}

.main a {
    text-decoration: underline;
    color: #13a983
}

.wrapper:after:before, .wrapper:after:after {
    content: " ";
    display: table
}

.wrapper:after:after {
    clear: both
}

.logo img {
    max-width: 100%
}

.logo:hover {
    opacity: 0.8
}