
$green: #2AA883;
$greenlight: #63C2BB;
@import 'libs/map.scss';
@import 'libs/alphabet.scss';
@import 'libs/detail_intro.scss';
@import 'libs/detail_description.scss';
@import 'libs/detail_services.scss';
@import 'libs/detail_reviews.scss';
@import 'libs/detail_closeBy.scss';
@import 'libs/only-pharmacie.scss';
@import 'libs/only-parapharmacie.scss';
@import 'libs/only-institut.scss';
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/* GENERAL */

.mobilo_wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 2%;
    position: relative;
}

@media only screen and (max-width:900px) {
    .mobilo_wrapper {
        padding: 0 5%;
    }
}

.mobilo_cta {
    display: inline-block;
    background-color: #E6007D;
    color: #fff;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 16px
}

address {
    padding-left: 20px;
    background: url('../../../../../images/web/shop/medimarket-be/icon_loc.svg') no-repeat left center / 10px;
    font-style: normal;
}

.mobilo_tel {
    padding-left: 20px;
    background: url('../../../../../images/web/shop/medimarket-be/icon_tel.svg') no-repeat left center / 13px;
    font-size: 12px;
}

.mobilo_tel a {
    color: $green;
}

.mobilo_rdv {
    padding-left: 20px;
    background: url('../../../../../images/web/shop/medimarket-be/icon_rdv.svg') no-repeat left center / 15px;
}


/* GENERAL STORE SUMMARY */

.mobilo_storeSummary {
    display: flex;
    border-bottom: 1px solid #DEDEDE;
    padding: 25px 0;
}

.mobilo_storeLogo {
    width: 15%;
    text-align: center;
    cursor: pointer;
}

.mobilo_storeLogo img {
    display: block;
    width: 100%;
    cursor: pointer;
}

.mobilo_storeLogo .mobilo_location {
    color: $green;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
}

.mobilo_storeContent {
    padding-left: 20px;
}

.mobilo_storeContent h5 {
    color: $green;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
    line-height: 16px;
}

.mobilo_storeContent h2 {
    color: $green;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
    line-height: 16px;
}

.mobilo_storeContent h3 {
    color: $green;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
    line-height: 16px;
}

.mobilo_storeContent h6 {
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    margin-bottom: 15px;
}

.mobilo_storeContent h6:after {
    content: '-';
    display: block;
    height: 1px;
    width: 16px;
    background-color: #E5E5E5;
    font-size: 0;
    margin: 10px 0 0 0;
}

.mobilo_storeContent address {
    color: #999999;
    font-size: 12px;
    margin-bottom: 5px;
}

.mobilo_storeContent .mobilo_tel {}


/* mobile versions */

@media only screen and (max-width:900px) {
    .slick-prev,
    .slick-next {
        display: none!important;
    }
}


/* custom checkbox */


/* The container */

.mobilo_cbcontainer {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 300;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.mobilo_cbcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.mobilo_checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
}


/* On mouse-over, add a grey background color */


/* When the checkbox is checked, add a blue background */

.mobilo_cbcontainer input:checked~.mobilo_checkmark {
    background-color: #15A983;
}


/* Create the checkmark/indicator (hidden when not checked) */

.mobilo_checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.mobilo_cbcontainer input:checked~.mobilo_checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.mobilo_cbcontainer .mobilo_checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* style open close */

.mobilo_openStatus,
.mobilo_sect-closeBy article .mobilo_storeContent p.mobilo_openStatus {
    color: #AECB06;
    font-weight: bold;
}

.mobilo_closedStatus,
.mobilo_sect-closeBy article .mobilo_storeContent p.mobilo_closedStatus {
    color: #EB3333;
}

.show-open-window {
    cursor: pointer;
}