{% extends 'web/base/home.html.twig' %}

{% block main_meta_tags %}
    <title>{{ 'app.web.home.meta.title'|trans({}, 'tomandco') }}</title>
    <meta name="description" content="{{ 'app.web.home.meta.description'|trans({}, 'tomandco') }}">
    <meta name="keywords" content="{{ 'app.web.home.meta.keywords'|trans({}, 'tomandco') }}">
{% endblock %}

{% block header %}
    {% include 'web/shop/tomandco/layout/header.html.twig' %}
{% endblock %}

{% block footer %}
    {% include 'web/shop/tomandco/layout/footer.html.twig' %}
{% endblock %}

{#, 'serviceKeys[17]':'store_animal_type_jardin'#}

{% block content %}
    {# set filters content for map #}
    {#{% set twigData = {'filterContent': include('web/block/map/filters/simple_checkbox.html.twig', {#}
        {#'filters': {#}
            {#'store_service': {'serviceKeys[1]':'tom_beauty', 'serviceKeys[2]':'dog_wash', 'serviceKeys[3]':'coupe_de_griffes', 'serviceKeys[4]':'test_qualite_eau', 'serviceKeys[5]':'gravure_medaille', 'serviceKeys[6]':'livraison_a_domicile', 'serviceKeys[7]':'lecteur_de_puce', 'serviceKeys[8]':'tom_care'},#}

            {#'store_animal': {'serviceKeys[9]':'chien_animal', 'serviceKeys[10]':'chat_animal', 'serviceKeys[11]':'oiseau_animal', 'serviceKeys[12]':'rongeur_animal', 'serviceKeys[13]':'reptile_animal', 'serviceKeys[14]':'poisson_animal', 'serviceKeys[15]':'poule_animal', 'serviceKeys[16]':'cheval_animal'},#}



            {#'store_living': {'serviceKeys[18]':'oiseaux_products', 'serviceKeys[19]':'rongeur_products', 'serviceKeys[20]':'reptile_products', 'serviceKeys[21]':'poisson_products', 'serviceKeys[22]':'poule_products'}#}
        {#}#}
    {#})} %}#}

    {% set twigData = {'filterDynamic': true} %}

    {% for template in templates %}
        {% if template.attribute.block == constant('App\\Entity\\Attribute::BLOCK_MAP') %}
            {% include 'web/shop/tomandco/block/map_search_list.html.twig' %}
        {% else %}
            {% include 'web/block/' ~ template.attribute.block ~ '/' ~ template.attributeValue.value ~ '.html.twig' ignore missing %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block stylesheets %}

    {{ encore_entry_link_tags('css/web/shop/tomandco/home') }}
    {% block stylesheets_main %}{% endblock %}
    {% block stylesheets_blocks %}{% endblock %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('js/web/shop/tomandco/home') }}
{% endblock %}

{% block javascripts_var %}
    {{ parent() }}

    {#  Map Settings for this shop (default are defind in js map folder files, DEFAULT_SETTINGS getter) #}
    <script type="text/javascript">
        var globalSettings = {
            map: {
                center: {lat: 50.62313744304004, lng: 5.365809522627387},
                zoom: 9
            },
            marker: {
                icon: '{{ asset('build/images/web/shop/tomandco/marker/icon.png') }}',
                icon_width: 33,
                icon_height: 53,
            },
            geoLocationCountry: ['BE', 'FR', 'LU'],
            query: {
                size: 10,
                radius: 50000,
            },
            defaultLocation: '{{ app.request.get('location')|default('') }}',
            searchType: 'FIT_ALL'
        };
    </script>
{% endblock %}
