{% extends 'web/base/show.html.twig' %}

{% block header %}
    {% include 'web/shop/tomandco/layout/header.html.twig' %}
{% endblock %}

{% block footer %}
    {% include 'web/shop/tomandco/layout/footer.html.twig' %}
{% endblock %}

{% block content_blocks %}
    {% set twigData = {'showSocials': false, 'showBreadcrumb': 0} %}

    {% for template in templates %}
        {% if template.attribute.block == constant('App\\Entity\\Attribute::BLOCK_LOCATION_SERVICES') %}
            {% include 'web/shop/tomandco/block/location_services.html.twig' %}

            {% include 'web/shop/tomandco/block/event_team.html.twig' %}
        {% elseif template.attribute.block == constant('App\\Entity\\Attribute::BLOCK_LOCATION_DESCRIPTION')  %}
            {% include 'web/shop/tomandco/block/image_left.html.twig' %}
        {#{% elseif template.attribute.block == constant('App\\Entity\\Attribute::BLOCK_LOCATION_PROMOTIONS')  %}#}
            {#{% include 'web/shop/tomandco/block/promotions.html.twig' %}#}
        {% else %}
            {% include 'web/block/' ~ template.attribute.block ~ '/' ~ template.attributeValue.value ~ '.html.twig' ignore missing %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/web/shop/'~shop.code~'/home') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('js/web/shop/tomandco/home') }}
{% endblock %}

{% block javascripts_var %}
    {{ parent() }}

    {#  Map Settings for this shop (default are defind in js map folder files, DEFAULT_SETTINGS getter) #}
    <script type="text/javascript">
        var globalSettings = {
            map: {
                zoom: 14,
            },
            marker: {
                icon: '{{ asset('build/images/web/shop/tomandco/marker/icon.png') }}',
                icon_width: 33,
                icon_height: 53,
            }
        };
    </script>
{% endblock %}
