.footer {
  background-color: $gray_footer;
  border-top: 2px solid $gray_bb;
  padding: 16px 80px 60px;

  h2 {
    font-size: 14px;
    line-height: 21px;
    margin: 0;
    text-align: center;
    font-weight: 300;
    text-transform: inherit;
    color: $text-color;
    font-family: $font_arial;
    font-weight: 400;
  }
}