<div class="banner--social-medias hidden-print wow fadeInDown" style="visibility: hidden; animation-name: none;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="banner--social-medias--title">Volg ons</h2>
                <h3 class="banner--social-medias--subtitle">zonder omweg</h3>

                <div class="row">
                    <div class="social-media social-media--facebook col-md-offset-2 col-sm-4">
                        <a href="https://www.facebook.com/louisdelhaize/" target="_blank">
                            <div class="social-media__inner">
                                <img src="https://louisdelhaize.be/content/themes/stem/dist/img/icon_marker-facebook.svg" alt="Marker Facebook">

                                <p>Facebook</p>

                                <button class="btn btn-facebook">Volg ons op Facebook</button>
                            </div>
                        </a>
                    </div>
                    <div class="social-media social-media--instagram col-sm-4">
                        <a href="https://www.instagram.com/louisdelhaize.be/" target="_blank">
                            <div class="social-media__inner">
                                <img src="https://louisdelhaize.be/content/themes/stem/dist/img/icon_marker-instagram.png" alt="Marker instagram">

                                <p>Instagram</p>

                                <button class="btn btn-instagram">Volg ons op Instagram</button>
                            </div>
                        </a>
                    </div>
                    <!--<div class="social-media social-media--newsletter col-sm-4">
                        <div class="social-media__inner">
                            <img src="<?/*= IMG_URL */?>/icon_marker-newsletter.png" alt="Marker newsletter">

                            <p><?/*= __('Newsletter', 'louisdelhaize') */?></p>

                            <button class="btn btn-success" data-toggle="modal" data-target="#modal-newsletter"><?/*= __('Recevoir la newsletter', 'louisdelhaize') */?></button>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="content-info footer hidden-print" role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="menu-secondary-menu-fr-dutch-container"><ul id="menu-secondary-menu-fr-dutch" class="nav navbar-nav navbar--secondary"><li id="menu-item-1846" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1846"><a title="Onze geschiedenis" href="https://louisdelhaize.be/nl/wie-zijn-wij/onze-geschiedenis/">Onze geschiedenis</a></li>
                        <li id="menu-item-1847" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1847"><a title="Mijn louis" href="https://louisdelhaize.be/nl/mijn-louis/">Mijn louis</a></li>
                        <li id="menu-item-1848" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1848"><a title="Onze producten" href="https://louisdelhaize.be/nl/onze-producten/">Onze producten</a></li>
                        <li id="menu-item-1849" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1849"><a title="louis delhaize worden" target="_blank" href="http://www.partenaire.louisdelhaize.be/">louis delhaize worden</a></li>
                        <li id="menu-item-1850" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1850"><a title="Onze nieuwtjes" href="https://louisdelhaize.be/nl/onze-nieuwtjes/">Onze nieuwtjes</a></li>
                        <li id="menu-item-1851" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1851"><a title="Onze eenvoudige en snelle recepten" href="https://louisdelhaize.be/nl/recepten/">Onze eenvoudige en snelle recepten</a></li>
                        <li id="menu-item-1852" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1852"><a title="Onze winkels" href="http://winkels.louisdelhaize.be/">Onze winkels</a></li>
                    </ul></div>
                <div class="footer__more">
                    <span>© louis delhaize</span>
                    <div class="menu-menu-secondary-fr-2-dutch-container"><ul id="menu-menu-secondary-fr-2-dutch" class="navbar--secondary--more"><li id="menu-item-1853" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1853"><a title="Contact" href="mailto:communication@gld.be">Contact</a></li>
                            <li id="menu-item-1854" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1854"><a title="Wettelijke vermeldingen" href="https://louisdelhaize.be/nl/wettelijke-vermeldingen/">Wettelijke vermeldingen</a></li>
                        </ul></div>                </div>
            </div>
        </div>
    </div>
</footer>