<div class="banner--social-medias hidden-print wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="banner--social-medias--title">Restez connectés</h2>
                <h3 class="banner--social-medias--subtitle">sans détour</h3>

                <div class="row">
                    <div class="social-media social-media--facebook col-md-offset-2 col-sm-4">
                        <a href="https://www.facebook.com/louisdelhaize/" target="_blank">
                            <div class="social-media__inner">
                                <img src="https://louisdelhaize.be/content/themes/stem/dist/img/icon_marker-facebook.svg" alt="Marker Facebook">

                                <p>Facebook</p>

                                <button class="btn btn-facebook">Suivez-nous sur Facebook</button>
                            </div>
                        </a>
                    </div>
                    <div class="social-media social-media--instagram col-sm-4">
                        <a href="https://www.instagram.com/louisdelhaize.be/" target="_blank">
                            <div class="social-media__inner">
                                <img src="https://louisdelhaize.be/content/themes/stem/dist/img/icon_marker-instagram.png" alt="Marker instagram">

                                <p>Instagram</p>

                                <button class="btn btn-instagram">Suivez-nous sur Instagram</button>
                            </div>
                        </a>
                    </div>
                    <!--<div class="social-media social-media--newsletter col-sm-4">
                        <div class="social-media__inner">
                            <img src="<?/*= IMG_URL */?>/icon_marker-newsletter.png" alt="Marker newsletter">

                            <p><?/*= __('Newsletter', 'louisdelhaize') */?></p>

                            <button class="btn btn-success" data-toggle="modal" data-target="#modal-newsletter"><?/*= __('Recevoir la newsletter', 'louisdelhaize') */?></button>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="content-info footer hidden-print" role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="menu-secondary-menu-fr-container"><ul id="menu-secondary-menu-fr" class="nav navbar-nav navbar--secondary"><li id="menu-item-248" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-248"><a title="A propos de nous" href="https://louisdelhaize.be/qui-sommes-nous/notre-histoire/">A propos de nous</a></li>
                        <li id="menu-item-45" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-45"><a title="Mon louis" href="https://louisdelhaize.be/mon-louis/">Mon louis</a></li>
                        <li id="menu-item-49" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49"><a title="Nos produits" href="https://louisdelhaize.be/nos-produits/">Nos produits</a></li>
                        <li id="menu-item-242" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-242"><a title="Devenir louis delhaize" target="_blank" href="http://www.partenaire.louisdelhaize.be/">Devenir louis delhaize</a></li>
                        <li id="menu-item-48" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-48"><a title="Notre actualité" href="https://louisdelhaize.be/notre-actualite/">Notre actualité</a></li>
                        <li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50"><a title="Nos recettes" href="https://louisdelhaize.be/recettes/">Nos recettes</a></li>
                        <li id="menu-item-359" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-359"><a title="Nos magasins" href="http://magasins.louisdelhaize.be/">Nos magasins</a></li>
                    </ul></div>
                <div class="footer__more">
                    <span>© louis delhaize</span>
                    <div class="menu-menu-secondary-fr-2-container"><ul id="menu-menu-secondary-fr-2" class="navbar--secondary--more"><li id="menu-item-240" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-240"><a title="Contact" href="mailto:communication@gld.be">Contact</a></li>
                            <li id="menu-item-152" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-152"><a title="Mentions légales" href="https://louisdelhaize.be/mentions-legales/">Mentions légales</a></li>
                        </ul></div>                </div>
            </div>
        </div>
    </div>
</footer>