<header class="main-header" role="banner" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#primary-navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="https://louisdelhaize.be/" itemprop="url">
                    <img class="logo--full" src="https://louisdelhaize.be/content/uploads/2017/07/logo_delhaize.svg" alt="Louis Delhaize logo">
                    <!-- <img class="hidden-md hidden-lg" src="https://louisdelhaize.be/content/themes/stem/dist/img/logo_delhaize-small.svg" alt="Louis Delhaize logo"> -->
                    <span itemprop="headline">Louis Delhaize</span>
                </a>
            </div>

            <div class="collapse navbar-collapse" id="primary-navigation">
                <nav role="navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">

                    <div class="hidden-xs hidden-sm">
                        <!-- Languages-->
                        <ul class="nav navbar-nav navbar-right navbar--lang">
                            <li><a class="" href="http://louisdelhaize.be/nl/">NL</a></li>
                            <li><a class="active" href="http://louisdelhaize.be/">FR</a></li>
                        </ul>

                        <div class="menu-main-container"><ul id="menu-main" class="nav navbar-nav navbar-right navbar-desktop"><li id="menu-item-35" class="icon-house menu-item menu-item-type-post_type menu-item-object-page menu-item-35"><a title="Qui sommes<span>–</span>nous" href="https://louisdelhaize.be/qui-sommes-nous/">Qui sommes<span>–</span>nous</a></li>
                                <li id="menu-item-41" class="icon-book menu-item menu-item-type-post_type menu-item-object-page menu-item-41"><a title="Mon louis" href="https://louisdelhaize.be/mon-louis/">Mon louis</a></li>
                                <li id="menu-item-42" class="icon-products menu-item menu-item-type-post_type menu-item-object-page menu-item-42"><a title="Nos produits" href="https://louisdelhaize.be/nos-produits/">Nos produits</a></li>
                                <li id="menu-item-243" class="icon-hands menu-item menu-item-type-custom menu-item-object-custom menu-item-243"><a title="Devenir louis delhaize" target="_blank" href="http://www.partenaire.louisdelhaize.be/">Devenir louis delhaize</a></li>
                                <li class="menu-row hidden-md hidden-lg menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                                    <ul role="menu" class="">
                                        <li class="thumbnail hidden-md hidden-lg menu-item menu-item-type-custom menu-item-object-custom"><a href="http://magasins.louisdelhaize.be/" style="background: url() no-repeat center;background-size:cover"><span>Nos magasins</span></a></li>
                                        <li class="thumbnail hidden-md hidden-lg menu-item menu-item-type-post_type menu-item-object-page"><a href="https://louisdelhaize.be/recettes/" style="background: url(https://louisdelhaize.be/content/uploads/2018/01/banner_recettes.jpg) no-repeat center;background-size:cover"><span>Nos recettes simples et rapides</span></a></li>
                                    </ul>
                                </li>
                            </ul></div>                    </div>

                    <div class="hidden-md hidden-lg">
                        <!-- Languages-->
                        <ul class="nav navbar-nav navbar-right navbar--lang">
                            <li><a class="" href="http://louisdelhaize.be/nl/">NL</a></li>
                            <li><a class="active" href="http://louisdelhaize.be/">FR</a></li>
                        </ul>

                        <div class="menu-main-container"><ul id="menu-main-1" class="nav navbar-nav navbar-right navbar-mobile"><li class="icon-house menu-item menu-item-type-post_type menu-item-object-page menu-item-35"><a title="Qui sommes<span>–</span>nous" href="https://louisdelhaize.be/qui-sommes-nous/">Qui sommes<span>–</span>nous</a></li>
                                <li class="icon-book menu-item menu-item-type-post_type menu-item-object-page menu-item-41"><a title="Mon louis" href="https://louisdelhaize.be/mon-louis/">Mon louis</a></li>
                                <li class="icon-products menu-item menu-item-type-post_type menu-item-object-page menu-item-42"><a title="Nos produits" href="https://louisdelhaize.be/nos-produits/">Nos produits</a></li>
                                <li class="icon-hands menu-item menu-item-type-custom menu-item-object-custom menu-item-243"><a title="Devenir louis delhaize" target="_blank" href="http://www.partenaire.louisdelhaize.be/">Devenir louis delhaize</a></li>
                                <li class="menu-row hidden-md hidden-lg menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                                    <ul role="menu" class="">
                                        <li class="thumbnail hidden-md hidden-lg menu-item menu-item-type-custom menu-item-object-custom"><a href="http://magasins.louisdelhaize.be/" style="background: url() no-repeat center;background-size:cover"><span>Nos magasins</span></a></li>
                                        <li class="thumbnail hidden-md hidden-lg menu-item menu-item-type-post_type menu-item-object-page"><a href="https://louisdelhaize.be/recettes/" style="background: url(https://louisdelhaize.be/content/uploads/2018/01/banner_recettes.jpg) no-repeat center;background-size:cover"><span>Nos recettes simples et rapides</span></a></li>
                                    </ul>
                                </li>
                            </ul></div>                    </div>
                </nav>
            </div>

        </div>
    </nav>
</header>