<footer class="footer-site footer-desktop container-full">
    <div class="grid">
        <div class="col-12 logo">
            <?xml version="1.0" encoding="UTF-8"?>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 588.41 42.96" class="logo-lolaLiza">
                <defs><style>.cls-1{fill:#ce132e;}.cls-2{fill:#ce0e2d;}</style></defs>
                <polygon class="cls-1" points="502.83 0.64 473.65 0.64 473.65 7.57 490.69 7.57 469.86 42.26 501.16 42.26 501.16 35.38 482 35.38 502.83 0.64"/>
                <polygon class="cls-1" points="331.68 35.38 331.68 0.64 324.59 0.64 324.59 42.26 353.86 42.26 353.86 35.38 331.68 35.38"/>
                <path class="cls-2" d="M241.5,276.32a21.48,21.48,0,1,0,21.22,21.48A21.49,21.49,0,0,0,241.5,276.32Zm-.06,36a14.56,14.56,0,1,1,14.14-14.55A14.47,14.47,0,0,1,241.44,312.35Z" transform="translate(-150 -276.32)"/>
                <polygon class="cls-2" points="163.41 35.38 163.41 0.64 156.33 0.64 156.33 42.26 185.59 42.26 185.59 35.38 163.41 35.38"/>
                <polygon class="cls-2" points="7.08 35.38 7.08 0.64 0 0.64 0 42.26 29.26 42.26 29.26 35.38 7.08 35.38"/>
                <rect class="cls-1" x="405.39" y="0.64" width="7.08" height="41.62"/>
                <path class="cls-2" d="M404.21,277.54H398l-15.8,40.85h7.5l3.89-10.83h14.48L412,318.39h7.77Zm1.54,23.63H396L401,287.72Z" transform="translate(-150 -276.32)"/>
                <path class="cls-1" d="M722.85,277.54h-6.17l-15.8,40.85h7.49l3.89-10.83h14.49l3.89,10.83h7.77Zm1.54,23.63h-9.74l5-13.45Z" transform="translate(-150 -276.32)"/>
            </svg>
            <p class="subsection-title">









                <!-- dwMarker="content" dwContentID="fe4e67e2e29bac74133126facc" -->

                Customer Service





            </p>
            <p>
                <?xml version="1.0" encoding="UTF-8"?>
                <svg version="1.1" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" class="icon-plain" id="phone">
                    <path d="M14.6,18.9l1.6,-4.4c0.4,-1 0.5,-2.1 0.3,-3.1l-2.6,-10.4l-12.9,1.9c0.7,11.5 5.5,22.3 13.6,30.5c8.3,8.3 19.3,13.1 31,13.7l1.4,-13.6l-9.6,-2.2c-1.1,-0.2 -2.2,-0.1 -3.2,0.4l-4.8,2.1c-3,-1.8 -5.8,-4 -8.3,-6.5c-2.6,-2.6 -4.7,-5.4 -6.5,-8.4Z"></path>
                </svg>
                <a href="tel:00800 7576 7576">00800 7576 7576</a>
            </p>
            <p>









                <!-- dwMarker="content" dwContentID="7d57e4ff801a5c484c9b54b5c2" -->

                Monday till Friday from 8am to 8pm





            </p>
            <p>









                <!-- dwMarker="content" dwContentID="93c827d5c9825cb2c0fbe19118" -->

                Saturday from 10am to 4pm





            </p>

            <div class="social-media-store-locator">
                <a href="https://www.facebook.com/LL.Lolaliza/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 171.5 171.46" class="icon-plain" id="facebook">
                        <g id="Layer_2" data-name="Layer 2">
                            <g id="Icons">
                                <g id="Transportation">
                                    <g id="muxddG.tif">
                                        <path d="M145.1,51.22c0-8.67,0-16.48,0-24.3a38.35,38.35,0,0,0-.53-3.84c-9.94.9-20.1.54-29.53,3-14,3.64-23.22,17.3-23.54,32-.15,6.82,0,13.64,0,21H69.72v26.18H91.06v65.94c-1.62.09-3.23.26-4.84.26q-32.25,0-64.49,0C8.18,171.42,0,163.29,0,149.61q-.06-64,0-128C.06,8.33,8.24.08,21.53.05Q85.78,0,150,.06c13.25,0,21.44,8.36,21.46,21.62q.06,64.25,0,128.49c0,12.94-8.38,21.23-21.25,21.27-9.83,0-19.67,0-29.5-.07a8.12,8.12,0,0,1-1.36-.38V105.4h21.58c1.38-8.88,2.68-17.22,4.07-26.18H119c0-7.53-.28-14.51.1-21.45.25-4.54,3.48-6.54,7.93-6.55Z"/></g></g></g></g></svg></a>
                <a href="https://www.pinterest.com/lolalizafashion/"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 284.89 275.83" class="icon-plain" id="pinterest">
                        <defs>
                            <style>.cls-3{fill:#fff;}</style></defs>
                        <g id="Layer_2" data-name="Layer 2">
                            <g id="Icons">
                                <g id="Transportation">
                                    <g id="_6K8R6C.tif" data-name="6K8R6C.tif">
                                        <path class="cls-3" d="M284.89,275.83H0V0H284.89ZM142.38,1Q89.64,1,36.89,1C14.7,1,1,14.72,1,36.85v202c0,22.12,13.73,35.8,35.93,35.81h211c22.19,0,35.9-13.7,35.91-35.82v-202C283.79,14.71,270.07,1,247.87,1Q195.11,1,142.38,1Z"/>
                                        <path d="M142.38,1q52.74,0,105.49,0c22.2,0,35.92,13.68,35.93,35.8v202c0,22.12-13.72,35.81-35.91,35.82h-211C14.71,274.62,1,260.94,1,238.82v-202C1,14.72,14.7,1,36.89,1Q89.65,1,142.38,1ZM96.54,237c3.19-15.74,6.22-31.38,9.53-47,3.71-17.43,10.79-34.5,5.07-52.83a1.65,1.65,0,0,1,0-.5c0-9.15,2.34-17.52,8.94-24.19,5.06-5.11,13.41-6.47,19.45-3.49,5.77,2.85,8.48,8.74,7.56,16.52a35.13,35.13,0,0,1-.85,4.92c-2.78,10.64-5.71,21.23-8.43,31.88-2.92,11.42,4.54,21.31,16.3,21.67,9.22.27,16.54-3.61,21.8-11,10.4-14.65,15.36-30.94,13.82-49-1.21-14.23-5.56-26.74-19.13-34.14-20.16-11-47.53-7.65-64.35,8-15.59,14.48-21.85,39.92-11,56.35,3.62,5.48,3.8,10.62,1.86,16.48-1.81,5.48-3.75,6.49-8.73,3.74a35.13,35.13,0,0,1-17.48-22.72c-6.83-26,.09-48.29,19.43-66.39,18.47-17.27,41.38-22.86,65.82-20,27.11,3.15,48.41,16.45,57.05,43.44,8.57,26.8,3,52.24-14.25,74.45-9.22,11.85-21.65,19.17-37.19,19.87-12,.54-22.79-2.27-30.6-11.82-5.84,17.69-11.54,35-17.24,52.27,51.59,16.13,110.41-12.33,131.48-65.67,22.55-57.09-6.79-121.6-64.58-143.23-57.12-21.37-122.12,9.67-142,67.2C19,159.19,50.36,218.13,96.54,237Z"/>
                                        <path class="cls-3" d="M96.54,237C50.36,218.13,19,159.19,38.83,101.82c19.88-57.53,84.88-88.57,142-67.2,57.79,21.63,87.13,86.14,64.58,143.23-21.07,53.34-79.89,81.8-131.48,65.67,5.7-17.29,11.4-34.58,17.24-52.27,7.81,9.55,18.59,12.36,30.6,11.82,15.54-.7,28-8,37.19-19.87,17.28-22.21,22.82-47.65,14.25-74.45-8.64-27-29.94-40.29-57.05-43.44-24.44-2.83-47.35,2.76-65.82,20-19.34,18.1-26.26,40.4-19.43,66.39a35.13,35.13,0,0,0,17.48,22.72c5,2.75,6.92,1.74,8.73-3.74,1.94-5.86,1.76-11-1.86-16.48-10.88-16.43-4.62-41.87,11-56.35,16.82-15.63,44.19-19,64.35-8,13.57,7.4,17.92,19.91,19.13,34.14,1.54,18-3.42,34.32-13.82,49-5.26,7.41-12.58,11.29-21.8,11-11.76-.36-19.22-10.25-16.3-21.67,2.72-10.65,5.65-21.24,8.43-31.88a35.13,35.13,0,0,0,.85-4.92c.92-7.78-1.79-13.67-7.56-16.52-6-3-14.39-1.62-19.45,3.49-6.6,6.67-8.9,15-8.94,24.19a1.65,1.65,0,0,0,0,.5c5.72,18.33-1.36,35.4-5.07,52.83C102.76,205.63,99.73,221.27,96.54,237Z"/>
                                    </g></g></g></g></svg></a>
                <a href="https://instagram.com/lolalizafashion/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 626 626" class="icon-plain" id="instagram">
                        <defs><style>.cls-3{fill:#fff;}</style></defs>
                        <g id="Layer_2" data-name="Layer 2">
                            <g id="Icons">
                                <g id="Transportation">
                                    <g id="gt3kSN.tif">
                                        <path d="M0,555V70a24.27,24.27,0,0,0,1.1-3.17C7.37,36,25.53,15.28,54.81,4.22,59.7,2.37,64.93,1.38,70,0H555c1.76.45,3.5,1,5.28,1.33,29.88,6.43,50.16,24.1,61.07,52.52,2,5.21,3.12,10.76,4.65,16.15V555c-.37,1.42-.81,2.83-1.11,4.27-6.28,30.55-24.16,51.23-53.18,62.28-5.07,1.93-10.47,3-15.71,4.45H70a33.38,33.38,0,0,0-3.68-1.17c-25.87-5.06-45.08-19.45-57.15-42.61C4.8,573.83,3,564.11,0,555ZM69.47,265.06V271q0,16.74,0,33.49,0,109.23,0,218.47c0,7.51.27,15,5.29,21.36,6.32,8,14.86,9.73,24.48,9.72q213.21-.12,426.43-.06a28.41,28.41,0,0,0,6.47-.25c3.68-.9,7.55-1.72,10.78-3.55,9.63-5.45,12.24-14.41,12.22-25q-.2-127.49-.08-255c0-1.62-.15-3.25-.23-4.94H500.61a7.46,7.46,0,0,0-.06,1.46c.56,2.27,1.11,4.53,1.73,6.78,7.51,27.56,7.66,55.43,2,83.15-7.21,35.1-24,65.4-48.94,91.14-20.34,21-44.49,36.31-71.8,46.67-29.06,11-59.17,14-89.95,11.45a187.45,187.45,0,0,1-56.1-13.51,192.27,192.27,0,0,1-57.91-37.56c-20.15-18.71-36.51-40.29-46.83-65.81-13.88-34.34-17.09-70-9.9-106.39,1.14-5.79,2.6-11.51,4-17.63Zm245.22,168.6c1.76-.09,4.93-.19,8.08-.42,46.64-3.49,81.74-26.26,103.26-67,20.11-38.06,18.7-77.57-3.3-115-16.69-28.4-41.4-48-73.33-56.42-39.24-10.37-76.66-5.67-110.22,18.89-23.73,17.36-40.85,39.48-47.57,68.61-9.48,41.1-1.18,77.87,27.44,109.45C244.27,419.63,275.78,433.44,314.69,433.66ZM492,193.23v0h34c1,0,2-.12,3-.2,14.75-1.14,25.66-11.89,25.9-26.64q.57-34.72,0-69.47c-.22-14.74-10.9-26.3-25.68-26.78-24.12-.8-48.31-1.12-72.43-.33-19.12.62-28.82,12-28.85,31.09q0,30.49,0,61c0,20.34,10.82,31.23,31.07,31.38C470,193.3,481,193.23,492,193.23Z"/>
                                        <path class="cls-3" d="M556,626c5.24-1.46,10.64-2.52,15.71-4.45,29-11,46.9-31.73,53.18-62.28.3-1.44.74-2.85,1.11-4.27v71Z"/>
                                        <path class="cls-3" d="M626,70c-1.53-5.39-2.65-10.94-4.65-16.15C610.44,25.43,590.16,7.76,560.28,1.33,558.5,1,556.76.45,555,0h71Z"/>
                                        <path class="cls-3" d="M0,555c3,9.11,4.8,18.83,9.17,27.22,12.07,23.16,31.28,37.55,57.15,42.61A33.38,33.38,0,0,1,70,626H0Z"/>
                                        <path class="cls-3" d="M70,0C64.93,1.38,59.7,2.37,54.81,4.22,25.53,15.28,7.37,36,1.1,66.83A24.27,24.27,0,0,1,0,70V0Z"/>
                                        <path class="cls-3" d="M69.47,265.06h57.34c-1.4,6.12-2.86,11.84-4,17.63-7.19,36.43-4,72.05,9.9,106.39,10.32,25.52,26.68,47.1,46.83,65.81a192.27,192.27,0,0,0,57.91,37.56A187.45,187.45,0,0,0,293.55,506c30.78,2.52,60.89-.43,89.95-11.45,27.31-10.36,51.46-25.65,71.8-46.67,24.9-25.74,41.73-56,48.94-91.14,5.7-27.72,5.55-55.59-2-83.15-.62-2.25-1.17-4.51-1.73-6.78a7.46,7.46,0,0,1,.06-1.46h54.24c.08,1.69.23,3.32.23,4.94q0,127.49.08,255c0,10.57-2.59,19.53-12.22,25-3.23,1.83-7.1,2.65-10.78,3.55a28.41,28.41,0,0,1-6.47.25q-213.23,0-426.43.06c-9.62,0-18.16-1.73-24.48-9.72-5-6.36-5.29-13.85-5.29-21.36q-.06-109.23,0-218.47,0-16.74,0-33.49Z"/>
                                        <path class="cls-3" d="M314.69,433.66c-38.91-.22-70.42-14-95.64-41.86-28.62-31.58-36.92-68.35-27.44-109.45,6.72-29.13,23.84-51.25,47.57-68.61,33.56-24.56,71-29.26,110.22-18.89,31.93,8.43,56.64,28,73.33,56.42,22,37.43,23.41,76.94,3.3,115-21.52,40.71-56.62,63.48-103.26,67C319.62,433.47,316.45,433.57,314.69,433.66Z"/>
                                        <path class="cls-3" d="M492,193.23c-11,0-22,.07-33,0-20.25-.15-31-11-31.07-31.38s0-40.65,0-61c0-19.07,9.73-30.47,28.85-31.09,24.12-.79,48.31-.47,72.43.33,14.78.48,25.46,12,25.68,26.78q.54,34.73,0,69.47c-.24,14.75-11.15,25.5-25.9,26.64-1,.08-2,.19-3,.2H492Z"/>
                                    </g></g></g></g>
                    </svg></a>
            </div>
        </div>

        <div class="col-9 legal-notices">










            <!-- dwMarker="content" dwContentID="bcqyIiaaiuQPsaaadluW3xKO7I" -->

            <p>Copyright &copy 2020 LOLALIZA; all rights reserved<span class="sep">-</span> <a href="https://www.lolaliza.com/be-en/customer_service_landing_page/cs-landing.html">Conditions</a> <span class="sep">-</span> <a href="https://www.lolaliza.com/be-en/privacy_policy/privacy-policy.html">Privacy statement </a></p>






        </div>

        <div class="col-3 icons-payment">










            <!-- dwMarker="content" dwContentID="8075b90e8d1bd04069316481a0" -->

            <i class="visa"></i>
            <i class="mastercard"></i>
            <i class="maestro"></i>
            <i class="paypal"></i>
            <i class="mistercash"></i>






        </div>
    </div>
</footer>