<header class="header-site header-desktop">
    <div class="container-full">
        <div class="grid">
            <!-- left part: internationalization -->
            <div class="col-lg-3 col-xl-2 navigation-country">
                <!-- chosen country -->
                <div class="uppercase">Belgium</div>
            </div>

            <!-- central part: logo & navigation -->
            <div class="col-lg-6 col-xl-8">
                <!-- Logo -->
                <div class="logo hide-sticky">
                    <a href="https://www.lolaliza.com/be-en/home">
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 588.41 42.96" class="logo-lolaLiza">
                            <defs><style>.cls-1{fill:#ce132e;}.cls-2{fill:#ce0e2d;}</style></defs>
                            <polygon class="cls-1" points="502.83 0.64 473.65 0.64 473.65 7.57 490.69 7.57 469.86 42.26 501.16 42.26 501.16 35.38 482 35.38 502.83 0.64"/>
                            <polygon class="cls-1" points="331.68 35.38 331.68 0.64 324.59 0.64 324.59 42.26 353.86 42.26 353.86 35.38 331.68 35.38"/>
                            <path class="cls-2" d="M241.5,276.32a21.48,21.48,0,1,0,21.22,21.48A21.49,21.49,0,0,0,241.5,276.32Zm-.06,36a14.56,14.56,0,1,1,14.14-14.55A14.47,14.47,0,0,1,241.44,312.35Z" transform="translate(-150 -276.32)"/>
                            <polygon class="cls-2" points="163.41 35.38 163.41 0.64 156.33 0.64 156.33 42.26 185.59 42.26 185.59 35.38 163.41 35.38"/>
                            <polygon class="cls-2" points="7.08 35.38 7.08 0.64 0 0.64 0 42.26 29.26 42.26 29.26 35.38 7.08 35.38"/>
                            <rect class="cls-1" x="405.39" y="0.64" width="7.08" height="41.62"/>
                            <path class="cls-2" d="M404.21,277.54H398l-15.8,40.85h7.5l3.89-10.83h14.48L412,318.39h7.77Zm1.54,23.63H396L401,287.72Z" transform="translate(-150 -276.32)"/>
                            <path class="cls-1" d="M722.85,277.54h-6.17l-15.8,40.85h7.49l3.89-10.83h14.49l3.89,10.83h7.77Zm1.54,23.63h-9.74l5-13.45Z" transform="translate(-150 -276.32)"/>
                        </svg>
                    </a>
                </div>
            </div>

            <!-- right part: icons -->
            <div class="col-lg-3 col-xl-2 right-part search-block-container">

                <!-- Icons -->
                <div class="menu-icons">
                    <div class="user-login user-account-icon-not-logged">
                        <a href="https://www.lolaliza.com/on/demandware.store/Sites-lolaliza-Site/en_BE/AccountController-Show" class="dropdown-login-cart-panel-inner " data-opener-for-dropdown="login-box">
                            <?xml version="1.0" encoding="UTF-8"?>
                            <svg version="1.1" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" class="icon-svg" id="user"><!--Generated by IJSVG (https://github.com/iconjar/IJSVG)-->
                                <g>
                                    <path d="M33.5,10.4c0.2,-5.3 -4.3,-9.4 -9.5,-9.4c-5.2,0 -9.8,4.2 -9.5,9.4c0.1,1.1 1.1,6.3 1.1,6.3c0.8,4.5 3.8,8.3 8.4,8.3c4.6,0 7.6,-3.8 8.4,-8.4c0,0 1,-5.2 1.1,-6.2Z"></path>
                                    <path d="M47,47h-46l1.1,-8.2c0.5,-2.7 2.9,-4.3 5.6,-4.9l16.3,-2.9l16.3,2.9c2.7,0.6 5.1,2.2 5.5,4.9l1.2,8.2Z"></path>
                                </g>
                            </svg>
                        </a>
                    </div>

                    <!-- wish-list -->
                    <div class="header-whish-counter">
                        <a href="https://www.lolaliza.com/on/demandware.store/Sites-lolaliza-Site/en_BE/WishList-overview" title="Go to your wishlist">
                            <?xml version="1.0" encoding="UTF-8"?>
                            <svg xmlns="http://www.w3.org/2000/svg" width="17.1" height="15.134" viewBox="0 0 17.1 15.134" class="icon-svg" id="heart">
                                <path class="a" d="M12.83,4A4.266,4.266,0,0,0,9.05,6.289,4.27,4.27,0,0,0,1,8.266c0,2.356,1.463,4.508,3.353,6.276A32.27,32.27,0,0,0,9.05,18a36.95,36.95,0,0,0,4.7-3.458c2.1-1.918,3.353-3.92,3.353-6.275A4.267,4.267,0,0,0,12.83,4Z" transform="translate(-0.5 -3.453)"/>
                            </svg>
                            <span class="spot"></span>
                        </a>
                    </div>

                    <!-- cart -->
                    <div>
                        <a href="/be-en/cart" class="cart-count no-hover" data-opener-for-dropdown="mini-cart">
                            <?xml version="1.0" encoding="UTF-8"?>
                            <svg version="1.1" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" class="icon-svg" id="shopping-bag"><!--Generated by IJSVG (https://github.com/iconjar/IJSVG)-->
                                <g>
                                    <path d="M33.5,47h-19c-4.2,0 -7.8,-3.3 -8,-7.5l-1.5,-26.5h38l-1.6,26.5c-0.2,4.2 -3.7,7.5 -7.9,7.5Z"></path>
                                    <path d="M16,23v-14c0,-4.4 3.6,-8 8,-8v0c4.4,0 8,3.6 8,8v14"></path>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>