<!-- Block map + search -->
<section id="block_map" class="section-map">
    <div class="map-search-box">
        <div class="search-form">
            <div class="search-position">
                <input id="map_search_autocomplete" type="text" placeholder="{{ 'app.web.home.map.search.input'|trans }}" value="{{ app.request.get('location')|default('') }}">

                <button id="map_current_position" class="position-locate"></button>
            </div>

            <button id="map_search_address_button" class="search-button">{{ 'app.web.home.map.search.button'|trans }}</button>
        </div>

        <div id="map_search_filters" style="display: none">
            {% if twigData is defined and twigData['filterContent'] is defined and twigData['filterContent'] %}
                {{ twigData['filterContent']|raw }}
            {% endif %}
        </div>

        <div class="search-results" data-prototype="{% filter escape %}{% include 'web/block/map/prototype/open_hours.html.twig' %}{% endfilter %}"
             data-search="true" style="display: none">
            <div class="search-results-list">
                <ul></ul>
            </div>
        </div>
    </div>

    <div id="map_container" class="map-container" data-type="{{ shop.mapType }}"
         data-type-google="{{ constant('App\\Entity\\Shop::MAP_TYPE_GOOGLE') }}"
         data-type-here="{{ constant('App\\Entity\\Shop::MAP_TYPE_HERE') }}"
         data-credentials="{{ shop.mapCredentials }}" data-language="{{ app.request.locale }}"
         data-prototype="{% filter escape %}{% include 'web/block/map/prototype/info_window.html.twig' %}{% endfilter %}">
        <div id="map_element" class="map-element"></div>
    </div>
</section>
