<!-- Block map + search without map -->
<section id="block_map" class="section-map">
    <div id="map_image_search_block">
        <div class="picture-search">
            <h1>{{ 'app.web.home.map.image.title'|trans }}</h1>

            <div class="search-box">
                <ul class="search-tabs">
                    <li class="selected">
                        <span class="find-location-icon">{{ 'app.web.home.map.image.tab_shop'|trans }}</span>
                    </li>
                    <li>
                        <a href="#"><span class="location-closest">{{ 'app.web.home.map.image.tab_location'|trans }}</span></a>
                    </li>
                </ul>

                <div class="search-form">
                    <input id="map_image_search_input" type="text"
                           placeholder="{{ 'app.web.home.map.image.search'|trans }}">

                    <button id="map_image_search_button" type="button"
                            class="search-button">{{ 'app.web.home.map.image.search_button'|trans }}</button>
                </div>

                <div class="wrap-link"><a href="#block_locations">{{ 'app.web.home.map.image.all_shops'|trans }}</a></div>
            </div>
        </div>

        <div id="map_image_search_results" style="display: none">
            <div class="picture-search-results">
                <div class="wrapper">
                    <h2 id="search_results_title" data-title="{{ 'app.web.home.map.image.results.title'|trans }}"></h2>

                    <div id="search_results_block" data-prototype="{% filter escape %}{% include 'web/block/map/prototype/search.html.twig' %}{% endfilter %}"></div>
                </div>
            </div>
        </div>
    </div>
</section>
