{% spaceless %}
    <li class="location-summary">
        <span class="location-marker">__index__</span>
        <h5><a data-gtm_event="impression" data-gtm_event_value="__externalId__" href="{{ path('app_web_shop_show', {'_locale': app.request.locale, 'slug': '__slug__'}) }}" target="_self" class="ga-cta">__name__</a></h5>

        <div class="show-open-window" data-id="__externalId__">
            <address>__address__</address>

            <span class="phone-number"><i class="icon phone"></i>__phone__</span>
        </div>

        <div class="open-hours-exceptions">
            <div class="shedule-exception exception-small">
                <h5 class="is-open">{{ 'app.web.global.open_hours.exceptions.open'|trans }}</h5>
            </div>

            <div class="shedule-exception exception-small">
                <h5 class="is-closed">{{ 'app.web.global.open_hours.exceptions.closed'|trans }}</h5>
            </div>
        </div>
    </li>
{% endspaceless %}