.section-location-promotions {
  padding-left: 15px;
  padding-right: 15px;

   @media (max-width: #{$mobile_down}) {
    margin-top: 40px;
   }

  .promotions-block {
    padding: 0;
    
    h2 {
      font-family: $Helvetica-condensed_font;
      letter-spacing: 0.14px;
      font-weight: 700;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
      color: $gray-text;
    }

    .wrapper {
      padding-top: 40px;
      padding-bottom: 20px;
    }

    article {
      h3 {
        font-family: $Helvetica-condensed_font;
        letter-spacing: 0.14px;
        font-weight: 700;
        color: $gray-text;
      }

      .slide-content {
        height: calc(100% - 250px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
    }

    .slick-track {
      display: flex;
    }

    .slick-slide {
      height: inherit;
    }

    .info-button {
      background-color: $green;
      border-radius: 3px;
      color: $white;
      font-family: $font_Interstate;
      text-transform: uppercase;
      border-color: $green;
      transition: transform .3s, border .3s, background .3s, box-shadow .3s, opacity .3s, color .3s;
      padding: 10px 15px 6px 15px;

      &:hover {
        filter: none;
        box-shadow: inset 0 0 0 100px rgba(0,0,0,0.2);
      }
    }
  }

  .slick-dotted {
    &.slick-slider {
      margin-bottom: 0;
    }
  }

  .slick-dots {
    li {
      &.slick-active {
        button {
          background-color: $green;

          &:before {
            background-color: $green;
            border-color: $green;
          }
        }
      }

      button {
        &:before {
          background-color: $white;
          border-color: $white;
        }
      }
    }
  }
}

.section-location-events {
  padding-left: 15px;
  padding-right: 15px;

  .wrapper {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .info-button {
    background-color: $green;
    border-radius: 3px;
    color: $white;
    font-family: $font_Interstate;
    text-transform: uppercase;
    border-color: $green;
    transition: transform .3s, border .3s, background .3s, box-shadow .3s, opacity .3s, color .3s;
    padding: 10px 15px 6px 15px;

    &:hover {
      filter: none;
      box-shadow: inset 0 0 0 100px rgba(0,0,0,0.2);
    }
  }

  .events-block {
    article {
      h3 {
        font-family: $Helvetica-condensed_font;
        letter-spacing: 0.14px;
        font-weight: 700;
        color: $gray-text;
      }
    }
  }

  h2 {
    font-family: $Helvetica-condensed_font;
    letter-spacing: 0.14px;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    color: $gray-text;
  }

  .slick-dots {
    li {
      &.slick-active {
        button {
          background-color: $green;

          &:before {
            background-color: $green;
            border-color: $green;
          }
        }
      }

      button {
        &:before {
          background-color: $white;
          border-color: $white;
        }
      }
    }
  }
}
















