.section-location-description {
  padding-left: 15px;
  padding-right: 15px;
  
  .wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  h2 {
    font-family: $Helvetica-condensed_font;
    letter-spacing: 0.14px;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);

    strong {
      font-family: $Helvetica-condensed_font;
      letter-spacing: 0.14px;
      font-weight: 700;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    }
  }

  .image-slider {
    .slick-dots {
      li {
        &.slick-active {
          button {
            background-color: $green;

            &:before {
              background-color: $green;
              border-color: $green;
            }
          }
        }

        button {
          &:before {
            background-color: $white;
            border-color: $white;
          }
        }
      }
    }
  }
}