.section-location-details {
  .wrapper {
    box-shadow: none;
    background-color: $tr;
  }

  .wrapper-title {
    h1 {
      font-family: $Helvetica-condensed_font;
      letter-spacing: 0.14px;
      font-weight: 700;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    }
  }

  h4 {
    font-family: $Helvetica-condensed_font;
    letter-spacing: 0.14px;
    font-weight: 700;
  }

  .location-button,
  .call-button {
    background-color: $green;
    border-radius: 3px;
    color: $white;
    font-family: $font_Interstate;
    text-transform: uppercase;
    border-color: $green;
    transition: transform .3s, border .3s, background .3s, box-shadow .3s, opacity .3s, color .3s;
    padding: 10px 15px 6px 15px;
    background-image: none;

    &:hover {
      filter: none;
      box-shadow: inset 0 0 0 100px rgba(0,0,0,0.2);
    }
  }
}