.section-locations {
  @media (max-width: #{$mobile_down}) {
    margin-top: 0;
  }

  .location-search {
    background-color: $green;

    @media (min-width: #{$mobile_up}) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    label {
      font-family: $Helvetica-condensed_font;
      letter-spacing: 0.14px;
      font-weight: 700;
      font-size: 28px;
      line-height: 32px;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.5);

      @media (max-width: #{$mobile_down}) {
        margin-bottom: 20px;
        display: block;
      }
    }
  }

  .search-alphabet {
    padding: 45px 0 65px 0;

    @media (max-width: #{$mobile_down}) {
      margin-top: 0;
      padding: 0 0 40px 0;
    }

    .wrapper {
      background-color: $tr;
      box-shadow: none;
    }
  }


  .results-by-letters {
    padding-top: 0;
    margin-top: -40px;
    position: relative;
    z-index: 2;
    margin-bottom: 30px;

    @media (max-width: #{$mobile_down}) {
      padding-left: 15px;
      padding-right: 15px;
    }

    .wrapper {
      padding-top: 40px;
      padding-bottom: 40px;

      .result-one-letter {
        &:last-child {
          margin-bottom: 0;
        }

        .title-letter {
          color: $green;
        }
      }
    }
  }

  .location-summary h5 {
    a {

      &:hover {
        color: $brown;
      }
    }
  }
}

.location-summary {
  h5 {
      a {
      font-family: $Helvetica-condensed_font;
      letter-spacing: 0.14px;
      font-weight: 700;
      color: $brown;

      &:hover {
        color: $brown;
      }
    }
  }

  address,
  a {
    font-size: 15px;
    line-height: 21px;
    color: $gray;
    opacity: 0.7;

    &:hover {
      color: $gray !important;
    }
  }
}