.section-location-services {
  .location-services {
    background-color: $green;

    h2 {
      font-family: $Helvetica-condensed_font;
      letter-spacing: 0.14px;
      font-weight: 700;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    }

    .wrapper {
      background-color: $tr;
      box-shadow: none;
    }
  }

  .info-button {
    color: $green;
    border-color: $green;
    transition: transform .3s, border .3s, background .3s, box-shadow .3s, opacity .3s, color .3s;

    &:hover {
      box-shadow: inset 0 0 0 100px rgba(0,0,0,0.2);
    }
  }
}
