.section-map {
  margin-top: 0;

  .map-search-box {
    .search-button {
      @media (max-width: #{$mobile_down}) {
        background-color: $brown;
        border-color: $brown;
      }
    }
  }

  .search-button {
    background-color: $green;
    border-radius: 3px;
    color: $white;
    font-family: $font_Interstate;
    text-transform: uppercase;
    border-color: $green;
    transition: transform .3s, border .3s, background .3s, box-shadow .3s, opacity .3s, color .3s;
    padding: 10px 15px 6px 15px;

    &:hover {
      filter: none;
      box-shadow: inset 0 0 0 100px rgba(0,0,0,0.2);
    }
  }
}

.info-window-block {
  .location-summary {
    h5 {
      font-family: $Helvetica-condensed_font;
      letter-spacing: 0.14px;
      font-weight: 700;
      color: $brown;

      a {
        font-family: $Helvetica-condensed_font;
        letter-spacing: 0.14px;
        font-weight: 700;
        color: $brown;

        &:hover {
          color: $brown;
        }
      }
    }

    address,
    a {
      font-size: 15px;
      line-height: 21px;
      color: $gray;
      opacity: 0.7;

      &:hover {
        color: $gray !important;
      }
    }

    .call-button,
    .location-button {
      background-color: $tr;
      border-radius: 3px;
      color: $green;
      font-family: $font_Interstate;
      text-transform: uppercase;
      border-color: $green;
      transition: transform .3s, border .3s, background .3s, box-shadow .3s, opacity .3s, color .3s;
      padding: 10px 15px 6px 15px;
      background-image: none;
      box-shadow: none;
      font-size: 13px;
      line-height: 13px;
      opacity: 1;

      &:hover {
        filter: none;
        box-shadow: inset 0 0 0 100px rgba(0,0,0,0.2);
      }
    }

    .search-button {
      font-size: 13px;
      opacity: 1;
      color: $white;

      &:hover {
        filter: none;
        box-shadow: inset 0 0 0 100px rgba(0,0,0,0.2);
        background-color: $green !important;
        color: $white !important;
        filter: none;
        opacity: 1;
      }
    }
  }
}