.section-near-location {
  padding-left: 15px;
  padding-right: 15px;

  @media (max-width: #{$mobile_down}) {
    margin-top: 40px;
   }

  .near-location-block {
    background-color: $tr;
    padding: 0;

    h2 {
      font-family: $Helvetica-condensed_font;
      letter-spacing: 0.14px;
      font-weight: 700;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
      color: $gray-text;
    }

    .wrapper {
      padding-top: 40px;
      padding-bottom: 20px;
    }
  }

  .slick-dotted {
    &.slick-slider {
      margin-bottom: 0;
    }
  }

  .slick-dots {
    li {
      &.slick-active {
        button {
          background-color: $green;

          &:before {
            background-color: $green;
            border-color: $green;
          }
        }
      }

      button {
        &:before {
          background-color: $white;
          border-color: $white;
        }
      }
    }
  }

  .call-button,
  .location-button {
    background-color: $tr;
    border-radius: 3px;
    color: $green;
    font-family: $font_Interstate;
    text-transform: uppercase;
    border-color: $green;
    transition: transform .3s, border .3s, background .3s, box-shadow .3s, opacity .3s, color .3s;
    padding: 10px 15px 6px 15px;
    background-image: none;
    box-shadow: none;

    &:hover {
      filter: none;
      box-shadow: inset 0 0 0 100px rgba(0,0,0,0.2);
    }
  }

  .location-summary {
    h5 {
      font-family: $Helvetica-condensed_font;
      letter-spacing: 0.14px;
      font-weight: 700;
      color: $brown;

      &:hover {
        color: $brown;
      }
    }

    address,
    .location-distance {
      font-size: 15px;
      line-height: 21px;
      color: $gray;
      opacity: 0.7;
    }

    .search-button {
      background-color: $green;
      border-radius: 3px;
      color: $white;
      font-family: $font_Interstate;
      text-transform: uppercase;
      border-color: $green;
      transition: transform .3s, border .3s, background .3s, box-shadow .3s, opacity .3s, color .3s;
      padding: 10px 15px 6px 15px;

      &:hover {
        filter: none;
        box-shadow: inset 0 0 0 100px rgba(0,0,0,0.2);
      }
    }
  }
}