{% spaceless %}
    <div class="info-window-block">
        <div class="location-summary">
            <div class="location-summary-block">
                <h5>__name__</h5>

                <address>__address__</address>

                <span class="location-distance">__distance__ __distance_unit__</span>

                <div class="open-close-box">
                    <div class="open-box __openClass__">
                        <span class="open-label">__openLabel__</span>
                        <span class="open-sentence">__openSentence__</span>
                    </div>
                    <div class="small-schedule">
                        <table class="table-schedule"></table>
                    </div>
                </div>
            </div>

            <div class="m-t-15 m-b-15">
                <a class="services-button gtm-cta"
                        data-gtm_event="storeRouteClick" data-gtm_event_value="__name__" href="https://www.google.be/maps?q=__fullAddress__" target="_blank">
                        {{ 'app.web.home.map.button.route'|trans }}
                </a>

                <a href="tel:__phone__" data-gtm_event="storePhoneClick" data-gtm_event_value="__name__"  class="gtm-cta services-button call-button">{{ 'app.web.home.map.button.call'|trans }}</a>
            </div>

            <a href="{{ path('app_web_shop_show', {'_locale': app.request.locale, 'slug': '__slug__'}) }}"
                data-gtm_event="searchStoreResultClick" data-gtm_event_value="__name__" class="search-button gtm-cta">{{ 'app.web.home.map.button.show'|trans }}</a>
        </div>
    </div>
{% endspaceless %}