{% apply spaceless %}
    <li class="mobilo_storeSummary">
        <div class="mobilo_storeLogo">
            <img src="{{ asset('build/images/web/shop/medimarket-be/logos/__brandSlug__.png') }}" alt="__brand__"/>
        </div>

        <div class="mobilo_storeContent">
            <h2><a class="gtm-cta" href="{{ path('app_web_shop_show', {'_locale': app.request.locale, 'slug': '__slug__'}) }}"
                   data-gtm_event="searchStoreResultClick" data-gtm_event_value="__name__">__name__</a>
            </h2>

            <address>__address__</address>

            <p class="mobilo_tel"><a href="tel:__phone__">__phone__</a></p>
        </div>
    </li>
{% endapply %}