{% spaceless %}
    <li class="location-summary mobilo_storeSummary">
        <div class="mobilo_storeLogo show-open-window" data-id="__externalId__">
            <img src="{{ asset('build/images/web/shop/medimarket-be/logos/__brandSlug__.png') }}" />
            <span class="mobilo_location">__distance__ __distance_unit__</span>
        </div>

        <div class="mobilo_storeContent">
            <h5><a href="{{ path('app_web_shop_show', {'_locale': app.request.locale, 'slug': '__slug__'}) }}" class="gtm-cta" data-gtm_event="searchStoreResultClick" data-gtm_event_value="__name__">__name__</a></h5>

            <div class="show-open-window" data-id="__externalId__">
                <h6 class="__openClass__">
                    <span class="open-label">__openLabel__</span>__openDelimiter__
                    <span class="open-sentence">__openSentence__</span>
                </h6>
                <address>__address__</address>
            </div>

            <p class="mobilo_tel">
                <a href="tel: __phone__" data-gtm_event="storePhoneClick" data-gtm_event_value="__name__" class="gtm-cta">__phone__</a>
            </p>

        </div>
    </li>
{% endspaceless %}