{% spaceless %}
<article>
    <div class="mobilo_storeSummary">
        <div class="mobilo_storeLogo">
            <img src="{{ asset('build/images/web/shop/medimarket-be/logos/__brandSlug__.png') }}" alt="{{ location.brand }}">
        </div>
        <div class="mobilo_storeContent">
            <h3>__name__</h3>
            <p class="address">__address__</p>
            <p class="__openClass__">__openLabel__ &nbsp; __openSentence__</p>

            <div class="mobilo_storeActions">

                <p class="mobilo_tel">
                    <a href="tel:__phone__" data-gtm_event="storePhoneClick" data-gtm_event_value="__name__" class="gtm-cta">__phone__</a>
                </p>
                <p class="mobilo_location">
                    <a href="https://www.google.be/maps?q=__fullAddress__" class="gtm-cta" data-type="{{ shop.mapType }}" data-gtm_event="storeRouteClick" data-gtm_event_value="__name__" target="_blank">
                        {{ "app.web.show.near_location.itineraire"|trans({}, 'medimarket-be') }}
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="mobilo_storeCta">
        <a class="gtm-cta" data-gtm_event="searchStoreResultClick" data-gtm_event_value="__name__" href="{{ path('app_web_shop_show', {'_locale': app.request.locale, 'slug': '__slug__'}) }}">{{ "app.web.show.near_location.more_details"|trans({}, 'medimarket-be') }}</a>
    </div>
</article>
{% endspaceless %}