{% apply spaceless %}
    <div class="mobilo_oneLetter">
        <span id="letter___letter__" class="mobilo_anchor"></span>
        <div class="mobilo_letter">__letter__</div>

        <ul class="letter-content"></ul>
    </div>
{% endapply %}