{% spaceless %}
    <ul id="storeloc_list" class="flex center column reset popup_store">
        <li class="radius_6 full-width light_shadow arrow_box">
            <header class="reset">
                <a data-gtm_event="itinerary" data-gtm_event_value="__externalId__" href="https://www.google.com/maps?saddr=My+Location&daddr=__latitude__,__longitude__"
                   target="_blank" class="ga-cta inline-block float-right right txt-blue-light" data-itineraire="__latitude__,__longitude__">
                    <small class="distance">__distance__ __distance_unit__ <span class="icon icon-directions small "></span></small>
                </a>

                <h3 class="float-left left">__name__</h3>
            </header>

            <p class="full-width txt-white left reset adress">__address__</p>
            <p class="full-width txt-white left reset store-timetable __openClass__">
                <span class="txt-light-grey store-timetable-span">__openLabel__<span class="__commaClass__">,</span> __openSentence__</span>
            </p>
            <a data-gtm_event="impressionMap" data-gtm_event_value="__externalId__" href="{{ path_query('app_web_carrefour_show', {'slug': '__slug__', 'externalId':'__externalId__'}) }}"
               class="ga-cta more_details pin button bg-blue-light txt-blue-light radius_30 __brandSlug__" data-externalid="__externalId__">{{ "app.web.home.map.infos"|trans({}, shop.code) }}</a>
        </li>
    </ul>
{% endspaceless %}