{% spaceless %}
    <li class="radius_6 full-width light_shadow">
        <div class="show-open-window" data-id="__externalId__">
            <header class="reset">
                <a data-gtm_event="itinerary" data-gtm_event_value="__externalId__" href="https://www.google.com/maps?saddr=My+Location&daddr=__latitude__,__longitude__"
                   target="_blank" class="inline-block float-right right txt-blue-light ga-cta" data-itineraire="__latitude__,__longitude__">
                    <small class="distance">__distance__ __distance_unit__ <span class="icon icon-directions small "></span></small>
                </a>
                <h3 class="float-left left">__name__</h3>
            </header>

            <p class="full-width txt-white left reset">__address__</p>
        </div>

        <p class="full-width txt-white left reset __openClass__">
            <span class="txt-green">__openLabel__</span><span class="txt-light-grey __commaClass__">,</span>&nbsp;<span class="txt-light-grey">__openSentence__</span>
        </p>
        <a data-gtm_event="impression" data-gtm_event_value="__externalId__"  href="{{ path_query('app_web_carrefour_show', {'slug': '__slug__', 'externalId':'__externalId__'}) }}"
           class="ga-cta more_details cardInfo button bg-blue-light txt-blue-light radius_30 __brandSlug__" data-externalid="__externalId__">{{ "app.web.home.map.more_details"|trans({}, shop.code) }}</a>
    </li>
{% endspaceless %}