{% spaceless %}
    <li class="radius_6 full-width light_shadow relative">
        <header class="reset">
            <h3 class="float-left left">
                <img src="{{ asset('build/images/web/shop/' ~ shop.code ~ '/symbol/symbol-__brandSlug__.svg') }}" height="18">
                __name__
                <small class="inline-block txt-blue-light m-l-10">__distance____distance_unit__</small>
                <span class="left reset">__address__</span>
            </h3>
        </header>

        <p class="full-width txt-white left reset __openClass__">
            <span class="txt-green">__openLabel__</span>&nbsp;<span class="txt-light-grey">__openSentence__</span>
        </p>
        
        <a href="{{ 'https://drive.carrefour.eu/' ~ app.request.locale ~'/home?store_ref=__externalIdDrive__' }}" target="_blank"
           class="button bg-blue txt-white radius_20 absolute-desktop external-details-link click-tracking" style="display: none" data-eventtracking="storelocator store detail:alternative store pick-up">
            {{ 'app.web.show.near_location.details_link'|trans({}, shop.code) }}
        </a>

        <ul class="flex left reset infos">
            <li class="txt-blue-light ">
                <a data-gtm_event="impression" data-gtm_event_value="__externalId__"  data-usestorage="true" data-eventtracking="storelocator store detail:alternative store" href="{{ path_query('app_web_carrefour_show', {'slug': '__slug__', 'externalId':'__externalId__'}) }}"
                   class="underline click-tracking ga-cta">{{ 'app.web.show.near_location.show_link'|trans({}, shop.code) }}</a>
            </li>

            <li class="txt-blue-light ">
                <a data-gtm_event="itinerary" data-gtm_event_value="__externalId__" href="https://www.google.com/maps?saddr=My+Location&daddr=__latitude__,__longitude__" target="_blank" data-eventtracking="storelocator store detail:alternative store itinerary" class="click-tracking ga-cta" data-itineraire="__latitude__,__longitude__">
                    <span class="underline" data-eventtracking="storelocator store detail:alternative store itinerary">{{ 'app.web.show.near_location.route'|trans({}, shop.code) }}</span><span class="icon icon-external-link small"></span>
                </a>
            </li>
        </ul>
    </li>
{% endspaceless %}