<!-- Block location description + image left -->
<section id="block_location_description" class="section-location-description">

    <div class="description-block">
        <div class="wrapper">
            <div class="row">
                <div class="col-half">
                    {% block location_image_left %}
                        <div class="image-slider-block">
                            <div class="image-slider">
                                {# add support for V3 #}
                                {% for image in location.images %}

                                    {% if image.type != 'COVER' %}
                                        <img src="{{ path('app_web_image_cloudinary_path',
                                            {'apiKey': image.cloudName|default("mobilosoft-testing"),
                                                'apiPath': image.publicId,
                                                'imageSize': 'h_500'}) }}" alt="{{ location.brand }} {{ location.address.locality }}">
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endblock %}
                </div>

                <div class="col-half">
                    <div class="content">
                        {% block location_description_title %}
                            <h2>
                                <strong>
                                    {% if 'app.web.show.location_description.title'|trans({}, shop.code) != 'app.web.show.location_description.title' %}
                                        {{ 'app.web.show.location_description.title'|trans({}, shop.code) }}
                                    {% else %}
                                        {{ 'app.web.show.location_description.title'|trans }}
                                    {% endif %}
                                </strong>
                            </h2>
                        {% endblock %}

                        {% block location_description_content %}

                            {% set noLocation = true %}
                            {% if shop.apiVersion == constant('App\\Entity\\Shop::API_VERSION_2') %}
                                {% if location.locationExtraData is defined and location.locationExtraData|length %}
                                    {% for extraData in location.locationExtraData %}
                                        {% if extraData.language == app.request.locale and extraData.key == constant('App\\Service\\Api\\Entity\\Location\\ExtraDataEntity::DESCRIPTION_KEY') %}
                                            {{ extraData.value|raw }}
                                            {% set noLocation = false %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% else %}
                                {% if location.description is defined and location.description|length %}
                                    {{ location.description|raw }}
                                    {% set noLocation = false %}
                                {% endif %}
                            {% endif %}
                            {% if noLocation %}
                                {% block location_description_default_content %}{% endblock %}
                            {% endif %}
                        {% endblock %}
                        

                        <div class="description-services-wrapper">
                            {% if location.services|length and location.services['service'] is defined and location.services['service']|length %}
                            <div class="description-services">
                                <h3 class="title">Les services du restaurant :</h3>
                                <div class="items">
                                    {% for propertyService in location.services['service'] if propertyService.contentFacet.title or propertyService.externalId %}
                                        {% if propertyService.assets[0] is defined and propertyService.assets[0].publicId|length %}
                                            {% set image = propertyService.assets[0]  %}
                                            <div class="item" itemscope itemtype="http://schema.org/Service">
                                                <img src="{{ path('app_web_image_cloudinary_path', {'apiKey': image.cloudName, 'apiPath': image.publicId}) }}" alt="{{ propertyService.contentFacet.title }}"/>

                                                <meta itemprop="logo" content="{{ url('app_web_image_cloudinary_path', {'apiKey': image.cloudName, 'apiPath': image.publicId}) }}"/>
                                                <meta itemprop="serviceType" content="{{ propertyService.contentFacet.title }}"/>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}

                            <div class="description-services">
                                {% if location.services|length and location.services['paiement'] is defined and location.services['paiement']|length %}
                                    <h3 class="title">Moyens de paiement acceptés :</h3>
                                    <div class="items">
                                        {% for propertyService in location.services['paiement'] if propertyService.contentFacet.title or propertyService.externalId %}
                                            {% if propertyService.assets[0] is defined and propertyService.assets[0].publicId|length %}
                                            {% set image = propertyService.assets[0]  %}
                                                <div class="item" itemscope itemtype="http://schema.org/Service">
                                                    <img src="{{ path('app_web_image_cloudinary_path', {'apiKey': image.cloudName, 'apiPath': image.publicId}) }}" alt="{{ propertyService.contentFacet.title }}"/>

                                                    <meta itemprop="logo" content="{{ url('app_web_image_cloudinary_path', {'apiKey': image.cloudName, 'apiPath': image.publicId}) }}"/>
                                                    <meta itemprop="serviceType" content="{{ propertyService.contentFacet.title }}"/>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</section>