
{% set reserver = "" %}
{% set Deliveroo = "" %}
{% set Uber_eats = "" %}
{% set Critizr = "" %}
{% set click_and_collect = "" %}

{% if location.locationExtraData and location.locationExtraData|length %}
    {% for extraData in location.locationExtraData  %}

        {% if extraData.key == "reserver-une-table" %}
            {% set reserver = extraData.value %}

        {% elseif extraData.key == "Deliveroo" %}
            {% set Deliveroo = extraData.value %}

        {% elseif extraData.key == "Uber-eats" %}
            {% set Uber_eats = extraData.value %}

        {% elseif extraData.key == "Critizr" %}
            {% set Critizr = extraData.value %}

        {% elseif extraData.key == "Click and Collect" %}

            {% set click_and_collect = extraData.value %}

        {% endif %}

    {% endfor %}

{% endif %}

<!-- Block location details + image and map -->
<div class="wrapper">
    {% include 'web/block/location_details/block/breadcrumb.html.twig' %}
</div>
<section id="block_location_details" class="section-location-details">
    <div class="wrapper">
        <div class="wrapper-title">
            <h1>{{ location.name }}</h1>
        </div>

        <div class="box">
            <div class="details-image-slider">
                <div class="image-slider">
                    {# add support for V3 #}

                    {% set imageShown = false %}
                    {% for key,image in location.images %}
                        {% if image.type == 'COVER' %}
                            {% set imageShown = true %}
                            <img src="{{ path('app_web_image_cloudinary_path',
                                {'apiKey': image.cloudName|default("mobilosoft-testing"),
                                    'apiPath': image.publicId,
                                    'imageSize': 'h_300'}) }}" alt="{{ location.brand }} {{ location.address.locality }}">
                        {% endif %}
                    {% endfor %}

                    {% if not imageShown and location.images|length %}
                        {% set image = location.images[0] %}
                        <img src="{{ path('app_web_image_cloudinary_path',
                            {'apiKey': image.cloudName|default("mobilosoft-testing"),
                                'apiPath': image.publicId,
                                'imageSize': 'h_300'}) }}" alt="{{ location.brand }} {{ location.address.locality }}">
                    {% endif %}

                </div>
            </div>

            <div class="details-address">
                <h4>{{ 'app.web.show.location_details.address'|trans }}</h4>
                <address class="m-b-15">
                    {{ (location.address.number ? location.address.number ~ ' ' : '') ~ location.address.street }}
                    <br><br>
                    {{ location.address.zipCode ~ ' ' ~ location.address.locality }}
                </address>

                <div class="btn-group">
                    <div class="half-block column">
                        {% if reserver|length %}
                            <a class="button secondary" href="{{ reserver }}" target="_blank">{{ "app.web.show.buttons.reserver"|trans({}, shop.code) }}</a>
                        {% endif %}
                        {% if click_and_collect|length %}
                        <a class="button border-btn border-btn-black hover-black-btn" href="{{ click_and_collect }}" target="_blank">{{ "app.web.show.buttons.click"|trans({}, shop.code) }}</a>
                        {% endif %}
                    </div>
                    
                </div>
                <div class="btn-block">
                    {% if Uber_eats|length %}
                        <a href="{{ Uber_eats }}" class="button btn-green uber-logo" target="_blank">
                            <img src="{{ asset('/build/images/web/shop/les3brasseurs-fr/new-uber-logo.png') }}">
                        </a>
                    {% endif %}
                    {% if Deliveroo|length %}
                        <a href="{{ Deliveroo }}" class="button btn-green" target="_blank">
                            <img src="{{ asset('/build/images/web/shop/les3brasseurs-fr/deliveroo.png') }}">
                        </a>
                    {% endif %}
                </div>
                <div class="btn-group mt-5">
                    <div class="half-block">
                        <button data-gtm_event="itinerary" data-gtm_event_value="__externalId__" type="button" class="button location-button ga-cta" data-type="{{ shop.mapType }}"
                                data-type-google="{{ constant('App\\Entity\\Shop::MAP_TYPE_GOOGLE') }}"
                                data-type-here="{{ constant('App\\Entity\\Shop::MAP_TYPE_HERE') }}"
                                data-show-route="{{ path('app_web_shop_show', {'_locale': app.request.locale, 'slug': location.slug, focusRoute: true}) }}">
                            {{ 'app.web.show.location_details.route'|trans }}
                        </button>

                        <a class="critizr-widget button" href="https://critizr.com/widgets/les3brasseurs/{{ location.externalId }}/" data-type="store_button:fact" >Critizr: Envoyer mon avis</a>
                        {#{% if Critizr|length %}#}
                        {#<a class="button" href="{{ Critizr }}">{{ "app.web.show.buttons.reviews"|trans({}, shop.code) }}</a>#}
                        {#{% endif %}#}
                    </div>
                </div>
            </div>

            <div class="details-info">
                <div class="m-b-15">
                    <a data-gtm_event="call" data-gtm_event_value="__externalId__" href="tel:{{ location.contact.phone }}" class="services-button call-button ga-cta">{{ 'app.web.show.location_details.call'|trans }}</a>

                    <p class="text-info">
                        {% if location.contact.email %}
                            <a href="mailto:{{ location.contact.email }}">{{ location.contact.email }}</a> |
                        {% endif %}
                        {{ location.contact.phone }}
                    </p>
                </div>

                {% if location.status == 'OPEN' %}
                    <h4>{{ 'app.web.show.location_details.working_hours.title'|trans }}</h4>

                    {% if globalTemplates and globalTemplates[constant('App\\Entity\\AttributeValue::VALUE_OPEN_HOURS_EXCEPTION')] is defined %}
                        {% set openHours = open_hours(location, shopDomain, constant('App\\Twig\\OpenHoursExtension::TYPE_EXCEPTION')) %}

                        {% include 'web/block/location_details/block/open_hours/exception.html.twig' %}
                    {% else %}
                        {% set openHours = open_hours(location, shopDomain, constant('App\\Twig\\OpenHoursExtension::TYPE_WEEK')) %}

                        {% include 'web/block/location_details/block/open_hours/week.html.twig' %}
                    {% endif %}
                {% endif %}
                <div class="btn-group">
                    <div class="half-block column">
                        {% if reserver|length %}
                            <a class="button secondary" href="{{ reserver }}" target="_blank">{{ "app.web.show.buttons.reserver"|trans({}, shop.code) }}</a>
                        {% endif %}
                        {% if click_and_collect|length %}
                            <a class="button border-btn border-btn-black" href="{{ click_and_collect }}" target="_blank">{{ "app.web.show.buttons.click"|trans({}, shop.code) }}</a>
                        {% endif %}
                    </div>
                </div>
                <div class="btn-block">
                    {% if Uber_eats|length %}
                        <a href="{{ Uber_eats }}" class="button btn-green uber-logo" target="_blank">
                            <img src="{{ asset('/build/images/web/shop/les3brasseurs-fr/new-uber-logo.png') }}">
                        </a>
                    {% endif %}
                    {% if Deliveroo|length %}
                        <a href="{{ Deliveroo }}" class="button btn-green" target="_blank">
                            <img src="{{ asset('/build/images/web/shop/les3brasseurs-fr/deliveroo.png') }}">
                        </a>
                    {% endif %}
                </div>
                <div class="btn-group pt-0 mt-5">
                    <div class="half-block">
                        <button type="button" class="button location-button" data-type="{{ shop.mapType }}"
                                data-type-google="{{ constant('App\\Entity\\Shop::MAP_TYPE_GOOGLE') }}"
                                data-type-here="{{ constant('App\\Entity\\Shop::MAP_TYPE_HERE') }}"
                                data-show-route="{{ path('app_web_shop_show', {'_locale': app.request.locale, 'slug': location.slug, focusRoute: true}) }}">
                            {{ 'app.web.show.location_details.route'|trans }}
                        </button>
                        <a class="critizr-widget button" href="https://critizr.com/widgets/les3brasseurs/{{ location.externalId }}/" data-type="store_button:fact" >Critizr: Envoyer mon avis</a>

                        {# {% if Critizr|length %}
                            <a class="button" href="{{ Critizr }}">{{ "app.web.show.buttons.reviews"|trans({}, shop.code) }}</a>
                        {% endif %} #}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper pt-0">
        <div id="map_container" class="map-container" data-type="{{ shop.mapType }}"
             data-type-google="{{ constant('App\\Entity\\Shop::MAP_TYPE_GOOGLE') }}"
             data-type-here="{{ constant('App\\Entity\\Shop::MAP_TYPE_HERE') }}"
             data-credentials="{{ shop.mapCredentials }}" data-language="{{ app.request.locale }}">
            <div id="map_element" class="map-element"></div>
        </div>
    </div>
</section>
