<!-- Block map + search list -->
<section id="block_map" class="section-map">
  <div class="wrapper">
    <div class="map-introduction">
      <h3 class="map-title">Nos restaurants brasseries à proximité de</h3>
      <h2 class="map-subtitle search-results-location">Lille</h2>
    </div>
    <div class="map-wrapper">
      <div id="map_container" class="map-container" data-type="{{ shop.mapType }}"
         data-type-google="{{ constant('App\\Entity\\Shop::MAP_TYPE_GOOGLE') }}"
         data-type-here="{{ constant('App\\Entity\\Shop::MAP_TYPE_HERE') }}"
         data-credentials="{{ shop.mapCredentials }}" data-language="{{ app.request.locale }}"
         data-prototype="{% filter escape %}{% include 'web/shop/'~shop.code~'/block/prototype/info_window.html.twig' %}{% endfilter %}">
        <div id="map_element" class="map-element"></div>
        <div class="map-search-options">
          <div class="map-search-options-container">
            <div class="loading-map-search">
              <span class="item"></span>
              <span class="item"></span>
              <span class="item"></span>
            </div>
            <div class="input">
              <input type="checkbox" id="map_refresh_on_drag"/>
              <label for="map_refresh_on_drag"></label>
            </div>
            <div>
              <span class="txt-blue ubuntu center reset weight300 selected-text">{{ 'app.web.home.map.search_on_move'|trans }}</span>
              <span class="txt-blue ubuntu center reset weight300 not-selected-text">{{ 'app.web.home.map.search_area'|trans }}</span>
            </div>
          </div>
        </div>
        <button class="geolocation-btn btn btn-primary" id="geolocation-btn" type="submit">
          <span>{{ "app.web.home.buttons.geo"|trans({}, shop.code) }}</span>
        </button>
      </div>
      <div class="map-search-box">
        <div class="search-form">
          <button class="geolocation-btn btn btn-primary mobile-only" id="geolocation-btn" type="submit">
              <span>{{ "app.web.home.buttons.geo"|trans({}, shop.code) }}</span>
          </button>
          <div class="search-form-input">
            <div class="search-position">
              {% set inputPlaceholder =  'app.web.home.map.search.input'|trans  %}
              {% if 'app.web.home.map.search.input'|trans({}, shop.code) != 'app.web.home.map.search.input' %}
                {% set inputPlaceholder =  'app.web.home.map.search.input'|trans({}, shop.code)  %}
              {% endif %}
              <input id="map_search_autocomplete" type="text" placeholder="{{ inputPlaceholder }}" value="{{ app.request.get('location')|default('') }}">
              <button id="map_current_position" class="position-locate"></button>
            </div>

            <button id="map_search_address_button" class="search-button">
              {% if 'app.web.home.map.search.button'|trans({}, shop.code) != 'app.web.home.map.search.button' %}
                {{ 'app.web.home.map.search.button'|trans({}, shop.code) }}
              {% else %}
                {{ 'app.web.home.map.search.button'|trans}}
              {% endif %}
            </button>
          </div>
        </div>

        <div id="map_search_filters">
          {% if twigData is defined and twigData['filterContent'] is defined and twigData['filterContent'] %}
            {{ twigData['filterContent']|raw }}
          {% endif %}
        </div>

        <div class="search-results" data-prototype="{% filter escape %}{% include 'web/shop/'~shop.code~'/block/prototype/open_hours.html.twig' %}{% endfilter %}">
          <div class="search-results-list">
            <ul></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
