{% apply spaceless %}
    <div class="info-window-block">
        <div class="location-summary">
            <div class="location-summary-block">
                <h5>__name__</h5>
                <span class="location-distance">__distance__ __distance_unit__</span>
                <address>__address__</address>
                <div class="open-close-box">
                    <div class="open-box __openClass__">
                        <span class="open-label">__openLabel__</span>
                        <span class="open-sentence">__openSentence__</span>
                    </div>
                    <div class="small-schedule">
                        <table class="table-schedule"></table>
                    </div>
                </div>
            </div>

            <div class="m-t-15 m-b-15 btn-block">
                <a data-gtm_event="itinerary" data-gtm_event_value="__externalId__" href="https://www.google.com/maps/dir/?api=1&destination=__fullAddress__" class="services-button ga-cta"
                   data-latitude="__latitude__"
                   data-longitude="__longitude__" data-itineraire="__latitude__,__longitude__"
                   data-waze="https://waze.com/ul?ll=__latitude__,__longitude__&z=10" target="_blank">
                    {{ 'app.web.buttons.itineraire'|trans({}, shop.code) }}
                </a>
                <a data-gtm_event="call" data-gtm_event_value="__externalId__" href="tel:__phone__" class="services-button call-button ga-cta">
                    {{ 'app.web.buttons.call'|trans({}, shop.code) }}
                </a>
            </div>

            <a data-gtm_event="impressionMap" data-gtm_event_value="__externalId__" href="{{ path('app_web_voo_show', {'_locale': app.request.locale, 'slug': '__slug__'}) }}" target="_self"
               class="search-button infowindow-details ga-cta">{{ 'app.web.buttons.details'|trans({}, shop.code) }}</a>
        </div>
    </div>
{% endapply %}