{% apply spaceless %}
    <li class="location-summary">
        <h5>
            <a data-gtm_event="impression" data-gtm_event_value="__externalId__" href="{{ path('app_web_voo_show', {'_locale': app.request.locale, 'slug': '__slug__'}) }}" class="ga-cta">__name__</a>
        </h5>

        <address>__address__</address>

        <div class="location-phone">Tel: <a href="tel:__phone__" data-gtm_event="call" data-gtm_event_value="__externalId__" class="ga-cta">__phone__</a></div>
    </li>
{% endapply %}