{% apply spaceless %}
    <li class="location-summary">
        <h5><a data-gtm_event="impression" data-gtm_event_value="__externalId__" href="{{ path('app_web_voo_show', {'_locale': app.request.locale, 'slug': '__slug__'}) }}"
               class="details-page ga-cta">__name__</a></h5>

        <div class="show-open-window" data-id="__externalId__">
            <span class="location-distance">__distance__ __distance_unit__</span>
            <address>__address__</address>
        </div>

        <div class="open-close-box">
            <div class="open-box __openClass__">
                <span class="open-label">__openLabel__</span>
                <span class="open-sentence">__openSentence__</span>
            </div>
            <div class="small-schedule">
                <table class="table-schedule"></table>
            </div>
        </div>

        <div class="open-hours-exceptions">
            <div class="shedule-exception exception-small">
                <h5 class="is-open">{{ 'app.web.global.open_hours.exceptions.open'|trans }}</h5>
            </div>

            <div class="shedule-exception exception-small">
                <h5 class="is-closed">{{ 'app.web.global.open_hours.exceptions.closed'|trans }}</h5>
            </div>
        </div>
        <div class="btn-group list ">
            <a data-gtm_event="itinerary" data-gtm_event_value="__externalId__" class="btn btn-primary button-tracking ga-cta"
               data-google="https://www.google.com/maps/dir/?api=1&destination=__fullAddress__"
               href="https://www.google.com/maps/dir/?api=1&destination=__fullAddress__"
               data-waze="https://waze.com/ul?ll=__latitude__,__longitude__&z=10"
               data-itineraire="__latitude__,__longitude__"
               data-tracking="Directions"
               target="_blank">
                {{ "app.web.buttons.itineraire"|trans({}, shop.code) }}
            </a>
            <a data-gtm_event="call" data-gtm_event_value="__externalId__" class="btn call-button button-tracking ga-cta"
               href="tel:__phone__">{{ "app.web.buttons.call"|trans({}, shop.code) }}</a>
        </div>
        <div class=" infowindow-details">
            <a data-gtm_event="impression" data-gtm_event_value="__externalId__" data-tracking="More info" class="lication-more-info ga-cta"
               href="{{ path('app_web_voo_show', {'_locale': app.request.locale, 'slug': '__slug__'}) }}">
                {{ "app.web.buttons.details"|trans({}, shop.code) }}
            </a>
        </div>
    </li>
{% endapply %}