{% spaceless %}
    <a href="__url__" target="_blank" class="smartphone-article">
        <div class="slide-image">
            <img src="__image__" alt="__name__"/>
        </div>

        <div class="slide-content">
            <div class="name">
                <span>__brand__</span>
                <strong>__name__</strong>
            </div>

            <div class="specification">
                <span class="capacity">__internalStorage__ Gb</span>
            </div>

            <div class="footer">
                <div class="price">
                    <span class="old-price">__price__&euro;</span>
                    <span class="new-price">__bundlePrice__&euro;</span>
                </div>

                <span>{{ "app.web.show.smartphone_static_label"|trans({}, shop.code) }}</span>

            </div>
        </div>
    </a>
{% endspaceless %}