{% spaceless %}
    <article>
        <div class="location-summary">
            <h5>__name__</h5>
            <span class="location-distance">__distance__ __distance_unit__</span>
            <address>__address__</address>
            <div class="openings m-b-15 __openClass__">
                <span class="location-label">__openLabel__</span>
                <span class="location-sentence">__openSentence__</span>
            </div>

            <div class="btn-block">
                <a  data-gtm_event="itinerary" data-gtm_event_value="__externalId__" target="_blank" href="https://www.google.com/maps?saddr=My+Location&daddr=__latitude__,__longitude__"
                   class="services-button ga-cta"
                   data-latitude="__latitude__"
                   data-longitude="__longitude__" data-itineraire="__latitude__,__longitude__"
                   data-waze="https://waze.com/ul?ll=__latitude__,__longitude__&z=10">
                    {{ 'app.web.buttons.itineraire'|trans({}, shop.code) }}
                </a>

                <a data-gtm_event="call" data-gtm_event_value="__externalId__" href="tel:__phone__" class="services-button call-button ga-cta">
                    {{ 'app.web.buttons.call'|trans({}, shop.code) }}
                </a>
            </div>

            <a data-gtm_event="impression" data-gtm_event_value="__externalId__" href="{{ path('app_web_voo_show', {'_locale': app.request.locale, 'slug': '__slug__'}) }}"
               class="search-button infowindow-details ga-cta">{{ 'app.web.buttons.details'|trans({}, shop.code) }}</a>
        </div>
    </article>
{% endspaceless %}