{% extends 'web/base.html.twig' %}

{% block main_meta_tags %}
    {% include 'web/base/show/meta_tags.html.twig' %}
{% endblock %}

{% block seo_tags %}
    {% set defaultDomain = shop.defaultDomain %}
    {% if defaultDomain %}
        <link rel="canonical" href="{{ '//' ~ defaultDomain.name ~ path('app_web_shop_show', {'_locale': defaultDomain.language.code, 'slug': location.slug}) }}"/>

        <link rel="alternate" hreflang="x-default" href="{{ '//' ~ defaultDomain.name ~ path('app_web_shop_show', {'_locale': defaultDomain.language.code, 'slug': location.slug}) }}"/>
    {% endif %}

    {% for language, domain in shop.languageDomains %}
        <link rel="alternate" hreflang="{{ language|replace({'_': '-'}) }}" href="{{ '//' ~ domain ~ path('app_web_shop_show', {'_locale': language, 'slug': location.slug}) }}"/>
    {% endfor %}
{% endblock %}

{% block content %}
    {% block content_blocks %}
        {# Include content blocks #}
        {% for template in templates %}
            {% include 'web/block/' ~ template.attribute.block ~ '/' ~ template.attributeValue.value ~ '.html.twig' ignore missing %}
        {% endfor %}
    {% endblock %}

    {% block global_location_route %}
        {% if globalTemplates and globalTemplates[constant('App\\Entity\\AttributeValue::VALUE_LOCATION_ROUTE_MAP')] is defined %}
            {% include 'web/block/location_route/location_route_map.html.twig' %}
        {% endif %}
    {% endblock %}
{% endblock %}

{% block stylesheets %}
    {% if hasCookies %}
        {{ encore_entry_link_tags('css/web/components/cookie-consent') }}
    {% endif %}
    {% block stylesheets_main %}
        {{ encore_entry_link_tags('css/web/show') }}
    {% endblock %}

    {# Include blocks styles #}
    {% block stylesheets_blocks %}
        {% for template in templates %}
            {{ encore_entry_link_tags('css/web/block/' ~ template.attribute.block) }}
        {% endfor %}
    {% endblock %}

    {% block stylesheets_template %}
        {% if globalTemplates and globalTemplates[constant('App\\Entity\\AttributeValue::VALUE_LOCATION_ROUTE_MAP')] is defined %}
            {{ encore_entry_link_tags('css/web/block/location_route') }}
        {% endif %}
    {% endblock %}

    {% block stylesheets_custom %}{% endblock %}
{% endblock %}

{% set hasCookies = shopDomain.hasGdpr %}


{% block javascripts_var %}
    {# Global parameters #}
    <script type="text/javascript">
        var globalData = {
            routes: {apiLocationAssets: "{{ path('api_get_location_asset', {'version': shop.apiVersion})|escape('js') }}"},
            useLocationRouteMap: {% if globalTemplates and globalTemplates[constant('App\\Entity\\AttributeValue::VALUE_LOCATION_ROUTE_MAP')] is defined %}true{% else %}false{% endif %},
            focusOnLocationRoute: {% if app.request.get('focusRoute') %}true{% else %}false{% endif %},
            {# Location data #}
            currentLocation: {{ location|json_encode|raw }},
            {# Open hours data #}
            openHoursData: {
                typeException: {% if globalTemplates and globalTemplates[constant('App\\Entity\\AttributeValue::VALUE_OPEN_HOURS_EXCEPTION')] is defined %}true{% else %}false{% endif %},
                openClass: 'is-open',
                closedClass: 'is-closed',
                openLabel: '{{ 'app.web.global.open_hours.shop_open'|trans }}',
                closeLabel: '{{ 'app.web.global.open_hours.shop_close'|trans }}',
                openSentence: '{{ 'app.web.global.open_hours.shop_open_sentence'|trans }}',
                closeSentence: '{{ 'app.web.global.open_hours.shop_close_sentence'|trans }}',
                openSoonSentence: '{{ 'app.web.global.open_hours.shop_open_soon_sentence'|trans }}',
                dayClosed: "{{ 'app.web.global.open_hours.days.closed'|trans }}",
                exceptionOpen: "{{ 'app.web.global.open_hours.exceptions.open'|trans }}",
                exceptionClosed: "{{ 'app.web.global.open_hours.exceptions.closed'|trans }}",
                openHoursSeparator: "{{ openHoursSeparator }}",
                dateFormat: "{{ shopDomain.momentDateFormat }}",
                timeFormat: "{{ shopDomain.momentTimeFormat }}",
                daysNumber: {
                    1: "{{ 'app.web.global.open_hours.days.1'|trans }}",
                    2: "{{ 'app.web.global.open_hours.days.2'|trans }}",
                    3: "{{ 'app.web.global.open_hours.days.3'|trans }}",
                    4: "{{ 'app.web.global.open_hours.days.4'|trans }}",
                    5: "{{ 'app.web.global.open_hours.days.5'|trans }}",
                    6: "{{ 'app.web.global.open_hours.days.6'|trans }}",
                    7: "{{ 'app.web.global.open_hours.days.7'|trans }}",
                },
            }
        };
    </script>
    <script type="text/javascript">
        var isNeededToAcceptGDPR = {% if hasCookies %}true{% else %}false{% endif %};
    </script>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('js/web/global/cookies') }}
    
    {% block javascripts_base %}
        {% if shopDomain.gtmCode %}
            {{ encore_entry_script_tags('js/web/global/gtm-events') }}
        {% endif %}
        {{ encore_entry_script_tags('js/web/global/ga-events') }}
    {% endblock %}

    {% block javascripts_main %}
        {{ encore_entry_script_tags('js/web/show') }}
    {% endblock %}

    {# Include blocks scripts #}
    {% block javascripts_blocks %}
        {% for template in templates %}
            {{ encore_entry_script_tags('js/web/block/' ~ template.attribute.block) }}
        {% endfor %}
    {% endblock %}

    {% block javascripts_template %}
        {% if globalTemplates and globalTemplates[constant('App\\Entity\\AttributeValue::VALUE_LOCATION_ROUTE_MAP')] is defined %}
            {{ encore_entry_script_tags('js/web/block/location_route') }}
        {% endif %}
    {% endblock %}

    {% block javascripts_custom %}{% endblock %}

    {% if hasCookies %}
        {% include 'web/base/block/gdpr.html.twig' %}
    {% endif %}

{% endblock %}

{% block structured_data %}
    {% apply spaceless %}{% include 'web/base/show/structured_data.html.twig' %}{% endapply %}
{% endblock %}
