<footer class="voo-footer">
    <!-- start !Pillars -->
    <section class="pillars h-spacer">
        <div class="pillars-inner h-wrapper">
            <h2 class="pillars__title voo-h2 h4">
                Nos forces        </h2>
            <ul class="pillars__list">
                <li class="pillars__item">
                    <a href="{{header_url}}/fr/internet" class="pillars__item__link">
                        <svg class="pillars__item__link__icon icon icon-shared-product-net " viewBox="0 0 110 60" width="110" height="60">
                            <use xlink:href="#shared-product-net" href="#shared-product-net"></use>
                        </svg>
                        <h3 class="voo-h3 pillars__item__link__label">
                            NET              </h3>
                    </a>
                </li>
                <li class="pillars__item">
                    <a href="{{header_url}}/fr/tv" class="pillars__item__link">
                        <svg class="pillars__item__link__icon icon icon-shared-product-tv " viewBox="0 0 90 60" width="90" height="60">
                            <use xlink:href="#shared-product-tv" href="#shared-product-tv"></use>
                        </svg>
                        <h3 class="voo-h3 pillars__item__link__label">
                            TV              </h3>
                    </a>
                </li>
                <li class="pillars__item">
                    <a href="{{header_url}}/fr/mobile" class="pillars__item__link">
                        <svg class="pillars__item__link__icon icon icon-shared-product-mobile" viewBox="0 0 35 60" width="35" height="60">
                            <use xlink:href="#shared-product-mobile" href="#shared-product-mobile"></use>
                        </svg>
                        <h3 class="voo-h3 pillars__item__link__label">
                            Mobile              </h3>
                    </a>
                </li>
                <li class="pillars__item">
                    <a href="{{header_url}}/fr/telephone" class="pillars__item__link">
                        <svg class="pillars__item__link__icon icon icon-shared-product-fix" viewBox="0 0 55 60" width="55" height="60">
                            <use xlink:href="#shared-product-fix" href="#shared-product-fix"></use>
                        </svg>
                        <h3 class="voo-h3 pillars__item__link__label">
                            Tel              </h3>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <!-- end voo-pillars -->
    <!-- start Footer Nav -->
    <section class="voo-footer__nav-outer">
        <div class="voo-footer__nav h-wrapper">
            <!-- start !SecondaryMenu -->
            <div class="voo-secondary-menu">
                <div class="voo-secondary-menu__nav">
                    <h3 class="voo-h3 voo-secondary-menu__nav__title">
                        Offres &amp; Tarifs            </h3>
                    <ul class="voo-secondary-menu__nav__list">
                        <li class="voo-secondary-menu__nav__item">
                            <a href="{{header_url}}/fr/offre" class="voo-secondary-menu__nav__item__link">
                  <span>
                    Offres &amp; Packs                  </span>
                            </a>
                        </li>
                        <li class="voo-secondary-menu__nav__item">
                            <a href="{{header_url}}/fr/tarifs/quatro" class="voo-secondary-menu__nav__item__link">
                  <span>
                    Grille tarifaire                  </span>
                            </a>
                        </li>
                        <li class="voo-secondary-menu__nav__item">
                            <a href="{{header_url}}/fr/tarif-social" class="voo-secondary-menu__nav__item__link">
                  <span>
                    Tarif social                  </span>
                            </a>
                        </li>
                        <li class="voo-secondary-menu__nav__item">
                            <a href="{{header_url}}/fr/brochure/index.php" target="_blank" class="voo-secondary-menu__nav__item__link">
                  <span>
                    Brochure                  </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="voo-secondary-menu__nav">
                    <h3 class="voo-h3 voo-secondary-menu__nav__title">
                        À vos côtés            </h3>
                    <ul class="voo-secondary-menu__nav__list">
                        <li class="voo-secondary-menu__nav__item">
                            <a href="https://assistance.voo.be/" class="voo-secondary-menu__nav__item__link">
                  <span>
                    Aide &amp; Support                  </span>
                            </a>
                        </li>
                        <li class="voo-secondary-menu__nav__item">
                            <a href="{{header_url}}/fr/choisir-voo/easy-switch" class="voo-secondary-menu__nav__item__link">
                  <span>
                    Changer d'opérateur                  </span>
                            </a>
                        </li>
                        <li class="voo-secondary-menu__nav__item">
                            <a href="https://jobs.voo.be/" target="_blank" class="voo-secondary-menu__nav__item__link">
                  <span>
                    Jobs                  </span>
                            </a>
                        </li>
                        <li class="voo-secondary-menu__nav__item">
                            <a href="https://form.voo.be/fr/contact" target="_blank" class="voo-secondary-menu__nav__item__link">
                  <span>
                    Contact                  </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- start !SocialNetwork -->
                <div class="voo-secondary-menu__nav">
                    <h3 class="voo-h3 voo-secondary-menu__nav__title">
                        Suivez-nous            </h3>
                    <ul class="voo-secondary-menu__nav__list">
                        <li class="voo-secondary-menu__nav__item">
                            <a href="https://www.facebook.com/VOOetvous/" target="_blank" class="voo-secondary-menu__nav__item__link">
                                <svg class="voo-secondary-menu__nav__item__icon icon icon-shared-social-facebook " viewBox="0 0 24 24" width="24" height="24">
                                    <use xlink:href="#shared-social-facebook" href="#shared-social-facebook"></use>
                                </svg>
                                <span>
                    Facebook                  </span>
                            </a>
                        </li>
                        <li class="voo-secondary-menu__nav__item">
                            <a href="https://twitter.com/VOOetvous" target="_blank" class="voo-secondary-menu__nav__item__link">
                                <svg class="voo-secondary-menu__nav__item__icon icon icon-shared-social-twitter" viewBox="0 0 24 24" width="24" height="24">
                                    <use xlink:href="#shared-social-twitter" href="#shared-social-twitter"></use>
                                </svg>
                                <span>
                    Twitter                  </span>
                            </a>
                        </li>
                        <li class="voo-secondary-menu__nav__item">
                            <a href="https://www.youtube.com/user/vootube1" target="_blank" class="voo-secondary-menu__nav__item__link">
                                <svg class="voo-secondary-menu__nav__item__icon icon icon-shared-social-youtube" viewBox="0 0 24 24" width="24" height="24">
                                    <use xlink:href="#shared-social-youtube" href="#shared-social-youtube"></use>
                                </svg>
                                <span>
                    YouTube                  </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- end .voo-secondary-menu -->
            <!-- start !Services -->
            <div class="voo-services">
                {#
                <div class="voo-services__shop">
                    <h3 class="voo-h3 voo-services__shop__title">
                        Nos points de ventes            </h3>
                    <!-- start !Map -->
                    <a href="https://stores.voo.be/fr/boutique" class="voo-services__shop__picture-outer">
                        <img alt="Points de ventes pin image" class="voo-services__shop__picture--pin" src="{{header_url}}/shared/norevision/footer/map/pin.png">
                        <img alt="Points de ventes map image" class="voo-services__shop__picture" src="{{header_url}}/shared/norevision/footer/map/plan.png">
                        <img alt="Points de ventes shadow image" class="voo-services__shop__picture--shadow" src="{{header_url}}/shared/norevision/footer/map/shadow.png">
                    </a>
                    <!-- end !Map -->
                </div>
                #}
                <div class="voo-services__app">
                    <h3 class="voo-h3 voo-services__app__title">
                        Télécharger nos applications            </h3>
                    <div class="voo-services__app__list">
                        <div class="voo-services__app__item">
                            <a href="https://apps.apple.com/be/developer/voo/id1002458921" target="_blank" class="voo-services__app__item__link">
                                <img alt="App apple" class="voo-services__app__item__picture" src="{{header_url}}/shared/images/footer/app-apple-b31a508845.png">
                            </a>
                        </div>
                        <div class="voo-services__app__item">
                            <a href="https://play.google.com/store/apps/developer?id=VOO" target="_blank" class="voo-services__app__item__link">
                                <img alt="App google" class="voo-services__app__item__picture" src="{{header_url}}/shared/images/footer/app-google-ec658bf223.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end .voo-services -->
        </div>
    </section>
    <!-- end .voo-footer__nav -->
    <!-- start !Partners -->
    <!-- <div class="voo-footer__partners">
        <div class="voo-footer__partners-inner h-wrapper">
            <div class="voo-footer__partners__item">
                <img alt="logo VOO" class="voo-footer__partners__item__picture" src="{{header_url}}/shared/images/footer/voo-d6e9dc242a.png">
            </div>
        </div>
    </div> -->
    <!-- end .voo-footer__partners -->
    <!-- start !Legals -->
    <div class="voo-footer__legals h-wrapper">
        <div class="voo-footer__legals-inner">
            <small class="voo-footer__legals__copyright">
                Copyright © 2019 VOO. Tous droits réservés.        </small>
            <ul class="voo-footer__legals__list">
                <li class="voo-footer__legals__item">
                    <a href="{{header_url}}/fr/coordonnees" class="voo-footer__legals__item__link">
                        À propos de VOO            </a>
                </li>
                <li class="voo-footer__legals__item">
                    <a href="{{header_url}}/fr/conditions-generales" class="voo-footer__legals__item__link">
                        Conditions générales            </a>
                </li>
                <li class="voo-footer__legals__item">
                    <a href="{{header_url}}/fr/vie-privee" class="voo-footer__legals__item__link">
                        Vie privée            </a>
                </li>
                <li class="voo-footer__legals__item">
                    <a href="{{header_url}}/fr/cookies" class="voo-footer__legals__item__link">
                        Cookies            </a>
                </li>
                <li class="voo-footer__legals__item">
                    <a href="{{header_url}}/fr/conditions-achats" class="voo-footer__legals__item__link">
                        Fournisseurs            </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- end .voo-footer__legals -->
</footer>