<header class="voo-header is-dark" data-component="voo-header">
    <!-- start !Top -->
    <div class="voo-header__top-outer">
        <div class="voo-header__top h-wrapper">
            <!-- start !Universe -->
            <div class="voo-universe-switcher voo-header__top__universe" data-ref="voo-menu.universe">
                <ul class="voo-universe-switcher-inner">
                    <!-- active item can have an `is-active` CSS class -->
                    <li class="voo-universe-switcher__item">
                        <a href="{{header_url}}/nl" target="_self" class="voo-universe-switcher__item__link">
                            Particulieren              </a>
                    </li>
                    <li class="voo-universe-switcher__item ">
                        <a href="https://business.voo.be/fr" target="_self" class="voo-universe-switcher__item__link">
                            Business              </a>
                    </li>
                    <li class="voo-universe-switcher__item ">
                        <a href="https://www.win.be/fr/" target="_blank" class="voo-universe-switcher__item__link">
                            Grote ondernemingen              </a>
                    </li>
                </ul>
            </div>
            <!-- end .voo-universe-switcher -->
            <div class="voo-header__top-inner" data-ref="voo-menu.top">
                <!-- start !Lang -->
                <div class="voo-lang-switcher voo-header__top__lang" data-component="voo-lang-switcher">
                    <ul class="voo-lang-switcher-inner" data-ref="voo-lang-switcher.target">
                        <!-- active item has an `is-active` CSS class -->
                        <li class="voo-lang-switcher__item is-active">
                            <a href="{{ url(app.request.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'nl'})) }}">
                                nl
                            </a>
                        </li>

                        <li class="voo-lang-switcher__item">
                            <a href="{{ url(app.request.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'fr'})) }}">
                                fr
                            </a>
                        </li>

                        <li class="voo-lang-switcher__item">
                            <a href="{{ url(app.request.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'en'})) }}">
                                en
                            </a>
                        </li>

                        <li class="voo-lang-switcher__item">
                            <a href="{{ url(app.request.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'de'})) }}">
                                de
                            </a>
                        </li>
                    </ul>
                    <svg class="voo-lang-switcher__icon" viewBox="0 0 10 10" width="10" height="10">
                        <use xlink:href="#ui-arrow-down" href="#ui-arrow-down"></use>
                    </svg>
                </div>
                <!-- end .voo-lang-switcher -->
                <!-- start !Cart -->
                <div class="voo-cart voo-header__top__cart is-hidden" style="display: none">
                    <div class="voo-cart-inner">
                        <div class="voo-cart__order is-hidden">1</div>
                        <svg class="voo-cart__icon" viewBox="0 0 60 60" width="60" height="60">
                            <use xlink:href="#ui-basket" href="#ui-basket"></use>
                        </svg>
                    </div>
                </div>
                <!-- end .voo-cart -->
                <!-- start !Profile -->
                <div class="voo-profile voo-header__top__profile">
                    <a href="" target="_self" class="voo-profile__label--disconnected">
                        <svg class="voo-profile__label__icon" viewBox="0 0 60 60" width="60" height="60">
                            <use xlink:href="#ui-user" href="#ui-user"></use>
                        </svg>
                        myVOO            </a>
                </div>
                <!-- end .voo-profile -->
                <div class="voo-header__top__close" data-ref="voo-menu.close">
                    <svg class="voo-header__top__close__icon" viewBox="0 0 24 24" width="24" height="24">
                        <use xlink:href="#ui-close" href="#ui-close"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <!-- end .voo-header__top-outer -->
    <!-- start !Nav -->
    <nav class="voo-header__nav h-wrapper nav">
        <!-- start !Logo -->
        <a href="{{header_url}}/nl" class="voo-logo voo-header__nav__logo" data-ref="voo-menu.logo">
            <svg class="icon icon-shared-logo-principal" viewBox="0 0 120 50" width="120" height="50">
                <use xlink:href="#logo-principal" href="#logo-principal"></use>
            </svg>
        </a>
        <!-- end .voo-logo -->
        <!-- start !Menu -->
        <div class="voo-menu voo-header__nav__menu" data-component="voo-menu">
            <ul class="voo-menu__list">
                <li class="voo-menu__list__item--mobile" data-ref="voo-menu.item">
                    <!-- active link can have an `is-active` CSS class -->
                    <a href="{{header_url}}/nl" class="is-active">
                        Homepagina            </a>
                </li>
                <li class="voo-menu__list__item" data-ref="voo-menu.item">
                    <a href="{{header_url}}/nl/aanbod">
                        Aanbiedingen &amp; Packs            </a>
                </li>
                <li class="voo-menu__list__item" data-ref="voo-menu.item">
                    <a href="https://mobile.voo.be/gsm-and-smartphones/">
                        Smartphones            </a>
                </li>
                <li class="voo-menu__list__item" data-ref="voo-menu.item">
                    <a href="{{header_url}}/nl/ga-voor-voo">
                        Ga voor VOO            </a>
                </li>
                <li class="voo-menu__list__item" data-ref="voo-menu.item">
                    <a href="https://assistance.voo.be/fr/support.html">
                        Hulp &amp; Support            </a>
                </li>
            </ul>
        </div>
        <!-- end .voo-menu -->
        <div class="voo-header__nav__trigger" data-ref="voo-menu.trigger">
            <svg class="voo-header__nav__trigger__icon" viewBox="0 0 24 24" width="24" height="24">
                <use xlink:href="#ui-trigger" href="#ui-trigger"></use>
            </svg>
        </div>
        <!-- start !Btn (mobile only) -->
        <div class="voo-header-btn voo-header__nav__btn">
            {#}
            <div class="voo-header-btn__link-outer" data-ref="voo-menu.btn">
                <a href="https://stores.voo.be/fr/boutique" target="_self" class="voo-header-btn__link h4">
                    <svg class="voo-header-btn__link__icon" viewBox="0 0 24 24" width="24" height="24">
                        <use xlink:href="#ui-pin" href="#ui-pin"></use>
                    </svg>
                    Onze verkooppunten          </a>
            </div>
            #}
            <div class="voo-header-btn__link-outer" data-ref="voo-menu.btn">
                <a href="https://stores.voo.be/fr/boutique" target="_blank" class="voo-header-btn__link h4">
                    <svg class="voo-header-btn__link__icon" viewBox="0 0 24 24" width="24" height="24">
                        <use xlink:href="#ui-contact" href="#ui-contact"></use>
                    </svg>
                    Contacteer ons          </a>
            </div>
        </div>
        <!-- end .voo-header-btn -->
    </nav>
    <!-- end .voo-header__nav -->
</header>