<!-- start !SVG spritesheet -->
<svg class="hide-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <symbol id="ui-arrow-down" viewBox="0 0 24 24">
            <title>ui/arrow-down</title>
            <path d="M11.994 15.576L3.975 7.514a1.74 1.74 0 1 0-2.47 2.453l10.489 10.54L22.49 9.975a1.74 1.74 0 0 0-2.46-2.46l-8.036 8.06z" fill-rule="nonzero" />
        </symbol>
        <symbol id="ui-basket" viewBox="0 0 60 60">
            <title>ui/basket</title>
            <path d="M52.32 19.32a2 2 0 0 0-1.57-.76h-33L15.37 10a2 2 0 0 0-1.93-1.46H5.25a2 2 0 0 0 0 4h6.68l7.89 28.22a5.69 5.69 0 1 0 8.46 5v-.18h8.65a5.69 5.69 0 0 0 9.71 4.21 5.69 5.69 0 0 0-7.88-8.21H26.42a5.64 5.64 0 0 0-2.62-1.38l-.45-1.62H47A2 2 0 0 0 49 37l3.7-16a2 2 0 0 0-.38-1.68zM23.78 46.94a1.7 1.7 0 1 1-2.408-2.4 1.7 1.7 0 0 1 2.408 2.4zm20.51-1.2a1.7 1.7 0 1 1-3.4.008 1.7 1.7 0 0 1 3.4-.008zm1.14-11.18h-23.2l-3.35-12h29.35l-2.8 12z" fill-rule="nonzero" />
        </symbol>
        <symbol id="ui-user" viewBox="0 0 60 60">
            <title>ui/user</title>
            <path d="M30 35.15c-8.284 0-15-6.716-15-15 0-8.284 6.716-15 15-15 8.284 0 15 6.716 15 15 0 8.284-6.716 15-15 15zm0-26.06c-6.075 0-11 4.925-11 11s4.925 11 11 11 11-4.925 11-11-4.925-11-11-11zm12.38 25.07c4.08 0 11.69 5.2 11.68 15.13 0 .05-.06 2.62-.06 3.62a2 2 0 0 1-2 2H8.01a2 2 0 0 1-2-2c0-.98-.08-3.57-.08-3.57 0-9.92 7.68-15.08 11.8-15.08a2 2 0 0 1 1.27.45l10.94 8.96 11.18-9.06a2 2 0 0 1 1.26-.45zM50 50.91c.05-.91.07-1.66.08-1.66 0-7-4.81-10.43-7.08-11L31.27 47.8a2 2 0 0 1-2.53 0l-11.55-9.46c-2.3.56-7.19 3.93-7.19 10.93v1.64h40z" fill-rule="nonzero" />
        </symbol>
        <symbol id="ui-close" viewBox="0 0 24 24">
            <title>ui/close</title>
            <path d="M12 10.586l7.07-7.07a1 1 0 1 1 1.414 1.414L13.415 12l7.07 7.07a1 1 0 1 1-1.414 1.414L12 13.415l-7.07 7.07a1 1 0 1 1-1.414-1.414l7.07-7.07-7.07-7.07A1 1 0 1 1 4.93 3.515l7.07 7.07z" fill-rule="evenodd" />
        </symbol>
        <symbol id="logo-principal" viewBox="0 0 120 50">
            <title>Logo / principal</title>
            <path d="M95.094 35.86c-5.978 0-10.823-4.936-10.823-11.03 0-6.09 4.845-11.029 10.823-11.029 5.977 0 10.823 4.939 10.823 11.029 0 6.094-4.845 11.03-10.823 11.03m-35.19 0c-5.978 0-10.822-4.936-10.822-11.03 0-6.09 4.844-11.029 10.822-11.029 5.977 0 10.824 4.939 10.824 11.029 0 6.094-4.844 11.03-10.824 11.03M28 34.989a3.92 3.92 0 0 1-3.303 1.82 3.92 3.92 0 0 1-3.307-1.82l-9.593-15.017c-1.185-1.852-.663-4.327 1.163-5.528a3.9 3.9 0 0 1 5.444 1.18l6.293 9.844 6.287-9.844a3.903 3.903 0 0 1 5.447-1.18c1.828 1.201 2.348 3.676 1.165 5.528L28 34.989zm49.51-27.33C73.075 2.94 66.836 0 59.916 0 52.99 0 46.745 2.947 42.31 7.67 37.872 2.947 31.627 0 24.704 0 11.242 0 .326 11.12.326 24.841c0 13.72 10.916 24.841 24.378 24.841 6.923 0 13.168-2.944 17.605-7.669 4.437 4.725 10.68 7.67 17.606 7.67 6.92 0 13.159-2.943 17.595-7.657 4.437 4.714 10.676 7.656 17.594 7.656 13.465 0 24.378-11.121 24.378-24.84C119.482 11.12 108.569 0 95.104 0 88.186 0 81.947 2.94 77.51 7.658z" fill-rule="evenodd" />
        </symbol>
        <symbol id="ui-trigger" viewBox="0 0 24 24">
            <title>ui/trigger</title>
            <path d="M1 16c0-.552.44-1 1.002-1h19.996A.999.999 0 0 1 23 16c0 .552-.44 1-1.002 1H2.002A.999.999 0 0 1 1 16zm0-8c0-.552.44-1 1.002-1h19.996A.999.999 0 0 1 23 8c0 .552-.44 1-1.002 1H2.002A.999.999 0 0 1 1 8z" fill-rule="evenodd" />
        </symbol>
        <symbol id="ui-pin" viewBox="0 0 24 24">
            <title>pin</title>
            <path d="M11.658 11.277A2.61 2.61 0 0 1 9.05 8.67a2.61 2.61 0 0 1 2.608-2.607 2.61 2.61 0 0 1 2.607 2.607 2.61 2.61 0 0 1-2.607 2.608m0-10.277C6.884 1 3 4.884 3 9.657c0 6.067 6.992 11.45 8.658 12.645 1.666-1.196 8.658-6.578 8.658-12.645C20.316 4.884 16.432 1 11.658 1" fill-rule="evenodd" />
        </symbol>
        <symbol id="ui-contact" viewBox="0 0 24 24">
            <title>contact</title>
            <path d="M21.652 7.228A1.812 1.812 0 0 0 21.2 6l-.024-.036-.052-.048-.076-.064c-.32-.28-.73-.435-1.156-.436H4.14c-.427.001-.84.158-1.16.44l-.056.048-.068.064v.024c-.31.334-.482.772-.484 1.228v9.552c0 .653.352 1.255.92 1.576a.8.8 0 0 0 .136.076c.23.107.482.163.736.164h15.72c.445 0 .874-.17 1.2-.472h.02L21.16 18h.04l.024-.04c.277-.326.43-.74.432-1.168l-.004-9.564zM15.276 12.2L20.052 8v8.04l-4.776-3.84zM3.948 16.468V8l4.996 4.44-2.628 2.1-2.368 1.928zm1.28-9.456H18.76l-6.8 5.968-6.732-5.968zm.612 9.976l1.48-1.2 2.84-2.268 1.272 1.128a.8.8 0 0 0 1.06 0l1.568-1.376 4.62 3.716H5.84z" fill-rule="nonzero" />
        </symbol>
        <symbol id="shared-product-fix" viewBox="0 0 56 60">
            <title>Shape</title>
            <path d="M21.833 26.925a1.856 1.856 0 1 1 0 3.713 1.856 1.856 0 0 1 0-3.713zm5.91-.005a1.856 1.856 0 1 1 .001 3.712 1.856 1.856 0 0 1 0-3.712zm5.916-.004a1.856 1.856 0 1 1 0 3.712 1.856 1.856 0 0 1 0-3.712zM21.833 32.91a1.856 1.856 0 1 1 0 3.712 1.856 1.856 0 0 1 0-3.712zm5.915-.005a1.856 1.856 0 1 1 0 3.712 1.856 1.856 0 0 1 0-3.712zm5.911 0a1.856 1.856 0 1 1 0 3.712 1.856 1.856 0 0 1 0-3.712zm-11.821 5.991a1.856 1.856 0 1 1 0 3.712 1.856 1.856 0 0 1 0-3.712zm5.915 0a1.856 1.856 0 1 1 0 3.712 1.856 1.856 0 0 1 0-3.712zm5.91-.005a1.856 1.856 0 1 1 .002 3.712 1.856 1.856 0 0 1-.001-3.712zM3.014 56.264l49.504-.005c-.506-4.57-3.46-8.845-8.203-11.906v5.03a1.407 1.407 0 1 1-2.79 0L41.503 9.07a6.282 6.282 0 0 0-6.282-6.243h-15a6.282 6.282 0 0 0-6.253 6.271l.024 40.313a1.407 1.407 0 0 1-2.79 0v-5.002c-4.738 3.07-7.687 7.308-8.188 11.855zM44.309 41.11c6.938 3.872 11.068 9.999 11.068 16.575 0 .777-.63 1.407-1.407 1.407H1.531c-.776 0-1.406-.63-1.406-1.407-.005-6.51 4.116-12.632 11.048-16.523V9.089A9.07 9.07 0 0 1 20.22.014h15a9.07 9.07 0 0 1 9.09 9.052v32.043zM21.622 20.733h12.225c.627 0 1.136-.507 1.139-1.134v-9.127c0-.63-.51-1.14-1.139-1.14H21.622c-.629 0-1.14.51-1.14 1.14v9.122c0 .629.511 1.139 1.14 1.139zm0-13.266h12.22a3 3 0 0 1 3.005 2.996v9.14a3 3 0 0 1-2.995 3h-12.22a3 3 0 0 1-3-2.995v-9.14a2.995 2.995 0 0 1 2.99-3z" fill-rule="evenodd"></path>
        </symbol>
        <symbol id="shared-product-mobile" viewBox="0 0 34 60">
            <title>Shape</title>
            <path d="M20.333 6.89a.969.969 0 1 1 0 1.939h-7.11a.969.969 0 1 1 0-1.938h7.11zm-3.528 42.072a2.476 2.476 0 1 1 0 4.952 2.476 2.476 0 0 1 0-4.952zm11.952 8.205a2.014 2.014 0 0 0 2.005-2.01v-9.476H2.857v9.49a2.014 2.014 0 0 0 2.005 1.996h23.895zM2.82 4.843l.038 38.485h27.876V4.824a2.015 2.015 0 0 0-2.01-2.01H4.83a2.024 2.024 0 0 0-2.01 2.029zM28.724 0a4.833 4.833 0 0 1 4.828 4.824l.029 50.333A4.847 4.847 0 0 1 28.757 60H4.862a4.833 4.833 0 0 1-4.833-4.828L0 4.842A4.833 4.833 0 0 1 4.824 0h23.9z" fill-rule="evenodd"></path>
        </symbol>
        <symbol id="shared-product-net" viewBox="0 0 109 60">
            <title>Shape</title>
            <path d="M93.58 42.132l14.236 12.412a3.054 3.054 0 0 1 .86 3.387 3.084 3.084 0 0 1-2.857 2.055H3.157A3.043 3.043 0 0 1 .848 58.93a3.077 3.077 0 0 1 .303-4.325l14.217-12.426V9.553c.003-4.997 4.028-9.05 8.997-9.057L84.57.458c4.971 0 9.003 4.048 9.011 9.047v32.627zm12.46 14.811a.218.218 0 0 0-.066-.264l-14.32-12.492H17.3L2.993 56.736a.218.218 0 0 0-.066.269c.056.155.179.094.226.094H40.71l3.866-5.67h19.804l3.87 5.67h37.564a.216.216 0 0 0 .225-.156zM24.351 3.316c-3.414.016-6.173 2.804-6.173 6.237v31.856h72.588V9.491c-.015-3.426-2.79-6.19-6.197-6.175H24.351z" fill-rule="evenodd"></path>
        </symbol>
        <symbol id="shared-product-tv" viewBox="0 0 91 60">
            <title>Shape</title>
            <path d="M83.94 0c3.886-.005 7.044 3.13 7.06 7.01V42.3c-.003 3.871-3.145 7.009-7.022 7.014H46.945v7.834h23.151a1.4 1.4 0 0 1 1.407 1.395A1.453 1.453 0 0 1 70.072 60H20.937a1.43 1.43 0 1 1 0-2.857H44.06v-7.824H7.012C3.15 49.329.01 46.213 0 42.357V7.067C0 3.196 3.14.056 7.017.047L83.94 0zm4.188 42.3l.005-35.29a4.184 4.184 0 0 0-4.189-4.153L7.042 2.9a4.166 4.166 0 0 0-4.16 4.162v35.314a4.122 4.122 0 0 0 4.164 4.08h76.922a4.165 4.165 0 0 0 4.16-4.156z" fill-rule="evenodd"></path>
        </symbol>
        <symbol id="shared-social-facebook" viewBox="0 0 24 24">
            <title>social/facebook</title>
            <path d="M13.393 20v-7.298h2.45l.367-2.845h-2.817V8.041c0-.823.229-1.384 1.41-1.384h1.506V4.111A20.134 20.134 0 0 0 14.114 4c-2.171 0-3.658 1.326-3.658 3.76v2.097H8v2.845h2.456V20h2.937z" fill-rule="evenodd"></path>
        </symbol>
        <symbol id="shared-social-linkedin" viewBox="0 0 24 24">
            <title>social/linkedin</title>
            <path d="M4.27 9.313h3.448V20H4.269V9.313zM6 4c1.103 0 2 .865 2 1.927 0 1.063-.897 1.928-2 1.928-1.109 0-2-.865-2-1.928C4 4.865 4.891 4 6 4zm3.6 5.065h3.196v1.498h.043c.447-.86 1.533-1.763 3.159-1.763C19.373 8.8 20 11.063 20 14.008V20h-3.332v-5.316c0-1.27-.019-2.9-1.731-2.9-1.738 0-1.999 1.383-1.999 2.806V20H9.606V9.065H9.6z" fill-rule="nonzero"></path>
        </symbol>
        <symbol id="shared-social-twitter" viewBox="0 0 24 24">
            <title>social/twitter</title>
            <path d="M9.032 18.99c6.038 0 9.34-4.997 9.34-9.33 0-.142-.003-.284-.01-.424A6.671 6.671 0 0 0 20 7.538a6.55 6.55 0 0 1-1.885.516 3.291 3.291 0 0 0 1.443-1.814 6.587 6.587 0 0 1-2.084.796A3.28 3.28 0 0 0 15.078 6a3.281 3.281 0 0 0-3.198 4.027A9.323 9.323 0 0 1 5.113 6.6a3.276 3.276 0 0 0 1.016 4.378 3.261 3.261 0 0 1-1.486-.41v.042a3.281 3.281 0 0 0 2.633 3.215 3.29 3.29 0 0 1-1.482.056 3.286 3.286 0 0 0 3.066 2.278 6.59 6.59 0 0 1-4.077 1.403c-.265 0-.526-.015-.783-.045a9.3 9.3 0 0 0 5.032 1.473" fill-rule="evenodd"></path>
        </symbol>
        <symbol id="shared-social-youtube" viewBox="0 0 24 24">
            <path d="M20.311 9.874c.356 1.337.356 4.126.356 4.126s0 2.79-.356 4.126a2.138 2.138 0 0 1-1.503 1.516C17.483 20 12.167 20 12.167 20s-5.316 0-6.642-.358a2.138 2.138 0 0 1-1.503-1.516C3.667 16.79 3.667 14 3.667 14s0-2.79.355-4.126a2.138 2.138 0 0 1 1.503-1.516C6.85 8 12.167 8 12.167 8s5.316 0 6.641.358a2.138 2.138 0 0 1 1.503 1.516zm-9.883 6.658L14.871 14l-4.443-2.532v5.064z"></path>
        </symbol>
    </defs>
</svg>
<!-- end SVG spritesheet -->