.bread_default {
  max-width: 1210px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  padding-top: 15px;

  li {
    a {
      span {
        font-weight: 400;
      }
    }
  }
}