.section-locations {
  .location-search-input {
    border-radius: 0;
    border: 1px solid $gray_c3;
    background-color: $white;
    box-shadow: none;
    outline: none;
  }

  .results-by-letters {
    padding-top: 0px;

    .wrapper {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  .search-alphabet {
    .wrapper {
      background-color: $tr;
    }
    
    li {
      a {
        span {
          color: $orange;
        }
      }
    }
  }

  .is-open {
    .open-label {
      background-color: $tr;
    }
  }

  .result-one-letter {
    .title-letter {
      color: $orange;
    }
  }
}