.section-location-details {
  margin-top: 15px;

  .details-content {
    .wrapper {
      background-color: $tr;

      &:after {
        content:'';
        display: block;
        clear: both;
      }
    }
  }

  .map-container {
    margin-bottom: 30px;
  }

  .row {
    margin: 0 -1.5%;

    &.m-b-30 {
      margin-bottom: 20px;
    }
  }

  .details-header {
    .wrapper {
      background-color: $tr;
    }
  }

  .map-block-small {
    padding: 0;

    .map-container {
      margin-bottom: 0;
    }
  }

  .location-details-block {
    margin-bottom: 30px;

    .wrapper {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .row {
      .col {
        align-self: stretch;

        .col-box {
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        &:last-child {
          .col-box {
            margin-bottom: 0;
            height: 100%;
          }
        }
      }
    }
  }

  .services-button {
    padding: 9px 18px;
    margin-top: 0;
    color: $white;
    margin-left: 5px;
    border-radius: 2px;
    background: $blue_62;
    text-decoration: none;
    border-color: $blue_62;
    transition: all 0.35s linear;

    &:hover {
      filter: none;
      background-color: $blue_hover;
      border-color: $blue_hover;
    }
  }
}