.section-map {
  margin-top: 0;
  
  @media (min-width: #{$mobile_up}) {
    display: flex;
  }

  .info-window-block {
    width: 250px;

    .services-button {
      padding: 9px 18px;
      margin-top: 0;
      color: $white;
      margin-left: 5px;
      border-radius: 2px;
      background: $blue_62;
      text-decoration: none;
      border-color: $blue_62;
      transition: all 0.35s linear;
      background-image: none;
      box-shadow: none;

      &:hover {
        filter: none;
        background-color: $blue_hover;
        border-color: $blue_hover;
      }
    }

    .location-summary {
      text-align: left;

      .tel {
        margin-bottom: 7px;
        display: block;
      }
    }
  }

  .map-search-box {
    position: relative;
    top: 0;
    right: 0;
    order: 2;
    box-shadow: none;
    border-top: 1px solid $gray_ec;
    border-right: 1px solid $gray_ec;
    border-bottom: 1px solid $gray_ec;
    border-radius: 0 4px 4px 0;

    @media (min-width: #{$mobile_up}) {
      height: calc(100vh - 170px) !important;
      min-height: 450px;
    }

    @media (max-width: #{$mobile_down}) {
      width: 100%;
    }

    .search-filters {
      .open-filters {
        p {
          font-weight: 400;
          background-size: 5% 43% !important
        }
      }
    }

    .search-results {
      background-color: $white;

      @media (max-width: #{$mobile_down}) {
        height: auto !important;
      }
    }

    .search-form {
      .search-position {
        #map_search_autocomplete {

        }

        .position-locate {
          border-radius: 0;
          border-color: $gray_c3;
          background-color: $white;
        }
      }

      input[type="text"] {
        border-radius: 0;
        border-color: $gray_c3;
        background-color: $white;
        box-shadow: none;
        outline: none;

        &::placeholder {
          font-weight: 700;
          color: $orange;
        }
      }
    }

    .search-results-list {
      padding: 0;

      .location-summary {
        border-color: $gray_c3;
        padding: 18px 16px 18px 70px;
        position: relative;

        &:last-child {
          border-bottom: none;
        }

        .pin-icon {
          position: absolute;
          top: 18px;
          left: 13px;
          width: 40px;
          height: 46px;
          text-align: center;
          background: url('#{$img_path}/icon.png') center center no-repeat;
          background-size: contain;
          color: $orange;
          line-height: 13px;
          font-size: 13px;
          padding-top: 8px;
        }

        .location-distance {
          position: absolute;
          top: 70px;
          left: 10px;
          padding-left: 12px;
          font-weight: 400;
          font-size: 12px;
        }
      }
    }
  }

  .map-container {
    order: 1;
    flex: 1;

    @media (max-width: #{$mobile_down}) {
      max-height: 450px;
    }
  }

  .search-button {
    padding: 9px 18px;
    margin-top: 0;
    color: $white;
    margin-left: 5px;
    border-radius: 2px;
    background-color: $orange !important;
    text-decoration: none;
    border-color: $orange;
    transition: all 0.35s linear;
    text-align: center;

    &:hover {
      filter: none;
      background-color: $orange_hover;
      border-color: $orange_hover;
    }
  }
}

.location-summary {
  h5 {
    text-transform: initial !important;
    font-size: 15px !important;
    margin-bottom: 10px;

    a {
      text-transform: initial !important;
      font-size: 15px !important;

      &:hover {
        color: $blue !important;
      }
    }
  }

  address {
    color: $gray;
    margin-bottom: 0;
  }

  .show-open-window {
    margin-bottom: 15px;
  }

  .tel {
    text-decoration: none;
    color: $gray;

    &:hover {
      span {
        color: $blue;
      }
    }

    span {
      color: $blue_45;
    }
  }

  .open-box {
    display: flex;
    align-items: center;

    &.is-closed {
      .open-label {
        display: none;
      }
    }
  }

  .open-label {
    background-color: $tr;
    padding: 0;
    border-radius: 0;
    color: #6ab130;
  }

  .open-by-appointment {
    color: #6ab130;
  }

  .open-sentence {
    &:after {
      background-size: 70% 70% !important;
    }
  }
}

.small-schedule {
  border: none;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
}

.table-schedule {
  th {
    width: 30%;
  }

  td {
    width: 70%;
  }
}






















