.section-near-location {
  margin-top: 0;

  .near-location-block {
    padding-top: 30px;

    .wrapper {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    article {
      @media (max-width: #{$mobile_down}) {
        margin-left: 10px;
        margin-right: 10px;
      }
    }

    .slick-list {
      @media (max-width: #{$mobile_down}) {
        margin-left: -10px;
        margin-right: -10px;
      }
    }
  }

  .slick-dotted {
    &.slick-slider {
      margin-bottom: 0;
    }
  }

  .slick-slide {
    outline: none;
  }

  .location-summary  {
    h5 {
      text-transform: initial;
      font-size: 15px;
      margin-bottom: 10px;
    }

    .location-distance {
      font-weight: 400;
    }
  }

  .services-button,
  .search-button {
    padding: 9px 18px;
    margin-top: 0;
    color: $white;
    margin-left: 5px;
    border-radius: 2px;
    background: $blue_62;
    text-decoration: none;
    border-color: $blue_62;
    transition: all 0.35s linear;
    min-width: 80px;
    box-shadow: none;

    &:hover {
      filter: none;
      background-color: $blue_hover;
      border-color: $blue_hover;
    }
  }

  .services-button {
    background-color: $tr;
    border-color: $blue_62;
    color: $blue_62;

    &:hover {
      border-color: $blue_hover;
      color: $white;
    }
  }
}