<!-- Block location route + map -->
<section id="block_location_route" class="section-location-route">
    <div class="wrapper">
        <h2>{{ 'app.web.show.location_route.title'|trans }}</h2>

        <div id="route_search_block" class="search-route">
            <div class="search-route-header">
                <input type="text" id="map_route_search_current" class="search-address" readonly="readonly">

                <div class="search-area">
                    <input type="text" id="map_route_search_destination" class="search-address"
                           placeholder="{{ 'app.web.show.location_route.input_search'|trans }}" autocomplete="off">

                    <button type="button" id="map_route_search_button" class="btn-search">{{ 'app.web.show.location_route.input_button'|trans }}</button>
                </div>
            </div>

            <div id="route_search_container" class="search-route-container"></div>
        </div>

        <div id="map_container_route" class="map-container" data-type="{{ shop.mapType }}"
             data-type-google="{{ constant('App\\Entity\\Shop::MAP_TYPE_GOOGLE') }}"
             data-type-here="{{ constant('App\\Entity\\Shop::MAP_TYPE_HERE') }}"
             data-credentials="{{ shop.mapCredentials }}" data-language="{{ app.request.locale }}" data-map-route="true">
            <div id="map_element_route" class="map-element"></div>
        </div>
    </div>
</section>