{% spaceless %}
    <li class="location-summary">
        <div class="pin-block">
          <div class="entry-pin">
          <span class="marker">
              <img alt="" src="{{ asset('build/images/web/shop/louisdelhaize-be/marker/pin-location-small.png') }}" height="46" style="width:auto;height:46px;">
              <span class="marker-number">__index__</span>
          </span>
          <span class="location-distance">__distance__ __distance_unit__</span>
        </div>
        </div>
        <div class="location-summary-content">
            <h5><a data-gtm_event="impression" data-gtm_event_value="__externalId__" href="{{ path('app_web_shop_show', {'_locale': app.request.locale, 'slug': '__slug__'}) }}" target="_self" class="ga-cta">__name__</a></h5>

            <div class="show-open-window" data-id="__externalId__">
                <address>__address__</address>
            </div>

            <div class="open-close-box">
                <div class="open-box __openClass__">
                    <span class="open-label">__openLabel__</span>
                    <span class="open-sentence">__openSentence__</span>
                </div>
                <div class="small-schedule">
                    <table class="table-schedule"></table>
                </div>
            </div>

            <div class="btn-group">
                <a data-gtm_event="impression" data-gtm_event_value="__externalId__" href="{{ path('app_web_shop_show', {'_locale': app.request.locale, 'slug': '__slug__'}) }}"
               target="_self" class="search-button btn btn-primary ga-cta">{{ 'app.web.home.map.button.show'|trans }}</a>
                <button data-gtm_event="itinerary" data-gtm_event_value="__externalId__" type="button" class="services-button location-button btn btn-primary ga-cta"
                        data-show-route="{{ path('app_web_shop_show', {'_locale': app.request.locale, 'slug': '__slug__', focusRoute: true}) }}"
                        data-latitude="__latitude__"
                        data-longitude="__longitude__">
                    {{ 'app.web.home.map.button.route'|trans }}
                </button>
            </div>

            <div class="open-hours-exceptions">
                <div class="shedule-exception exception-small">
                    <h5 class="is-open">{{ 'app.web.global.open_hours.exceptions.open'|trans }}</h5>
                </div>

                <div class="shedule-exception exception-small">
                    <h5 class="is-closed">{{ 'app.web.global.open_hours.exceptions.closed'|trans }}</h5>
                </div>
            </div>
        </div>
    </li>
{% endspaceless %}