{% spaceless %}
    <article>
        <div class="location-summary">
            <img src="{{ asset('build/images/web/shop/louisdelhaize-be/marker/pin-location.png') }}" alt="">
            <span class="location-distance">__distance__ __distance_unit__</span>
            <h5>__name__</h5>
            <a data-gtm_event="impression" data-gtm_event_value="__externalId__" href="{{ path('app_web_shop_show', {'_locale': app.request.locale, 'slug': '__slug__'}) }}"
               class="search-button ga-cta">{{ 'app.web.home.map.image.results.show'|trans }}</a>


        </div>
    </article>
{% endspaceless %}