<!-- Block location description + image left -->
<section id="block_location_description" class="section-location-description">

        <div class="description-block">
            <div class="wrapper">
                <div class="row">
                    <div class="col-half">
                        {% block location_image_left %}
                        <div class="image-slider-block">
                            <div class="image-slider">
                                {# add support for V3 #}
                                {% if location.images|length %}
                                    {% for image in location.images %}

                                        <img data-sizes="auto" data-src="{{ path('app_web_image_cloudinary_path',
                                            {'apiKey': image.cloudName|default("mobilosoft-testing"),
                                                'apiPath': image.publicId,
                                                'imageSize': 'h_500'}) }}" alt="{{ location.brand }} {{ location.address.locality }}" class="lazyload">
                                    {% endfor %}
                                {% elseif twigData['defaultImageLeft'] is defined %}
                                    <img data-sizes="auto" data-src="{{ twigData['defaultImageLeft'] }}" alt="{{ location.brand }} {{ location.address.locality }}" height="500px" class="lazyload">
                                {% endif %}
                            </div>
                        </div>
                        {% endblock %}
                    </div>

                    <div class="col-half">
                        {% block location_description_title %}
                            <h2><strong>
                                {% if twigData['defaultTitleLeft'] is defined  %}
                                    {{ twigData['defaultTitleLeft'] }}
                                {% else %}
                                    {% if 'app.web.show.location_description.title'|trans({}, shop.code) != 'app.web.show.location_description.title' %}
                                        {{ 'app.web.show.location_description.title'|trans({}, shop.code) }}
                                    {% else %}
                                        {{ 'app.web.show.location_description.title'|trans }}
                                    {% endif %}
                                {% endif %}
                            </strong></h2>
                        {% endblock %}

                        {% block location_description_content %}

                            {% if location.description is defined and location.description|length %}
                                {% autoescape false %}

                                    {{ location.description|replace({'\r\n':'<br/>'}) }}

                                {% endautoescape %}
                            {% else %}
                                {% block location_description_default_content %}
                                    {%  if twigData['defaultDescriptionLeft'] is defined %}
                                        {% autoescape false %}
                                            {{ twigData['defaultDescriptionLeft'] }}
                                        {% endautoescape %}
                                    {% endif %}
                                {% endblock %}
                            {% endif %}


                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>

</section>