<!-- Block location description + image right -->
<section id="block_location_description" class="section-location-description">
    {% if location.locationExtraData is defined and location.locationExtraData|length %}
        <div class="description-block">
            <div class="wrapper">
                <div class="row">
                    <div class="col-half">
                        <h2><strong>
                            {% if 'app.web.show.location_description.title'|trans({}, shop.code) != 'app.web.show.location_description.title' %}
                                {{ 'app.web.show.location_description.title'|trans({}, shop.code) }}
                            {% else %}
                                {{ 'app.web.show.location_description.title'|trans }}
                            {% endif %}
                        </strong></h2>


                        {% set noLocation = true %}
                        {% if shop.apiVersion == constant('App\\Entity\\Shop::API_VERSION_2') %}
                            {% for extraData in location.locationExtraData %}
                                {% if extraData.language == app.request.locale and extraData.key == constant('App\\Service\\Api\\Entity\\Location\\ExtraDataEntity::DESCRIPTION_KEY') %}
                                    {{ extraData.value|raw }}
                                    {% set noLocation = false %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% if location.description is defined and location.description|length %}
                                {% autoescape false %}
                                    {{ location.description|replace({'\r\n':'<br/>'}) }}
                                    {% set noLocation = false %}
                                {% endautoescape %}
                            {% endif %}
                        {% endif %}
                        {% if noLocation %}
                            {% block location_description_default_content %}{% endblock %}
                        {% endif %}
                    </div>

                    <div class="col-half">
                        <div class="image-slider-block">
                            <div class="image-slider">
                                {# add support for V3 #}
                                {% for image in location.images %}

                                    <img src="{{ path('app_web_image_cloudinary_path',
                                        {'apiKey': image.cloudName|default("mobilosoft-testing"),
                                            'apiPath': image.publicId,
                                            'imageSize': 'h_500'}) }}" alt="{{ location.brand }} {{ location.address.locality }}">
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</section>