.breadcrumb {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;

  @media only screen and (max-width: 767px) {
    max-width: 100%;
    padding: 25px 24px 0 24px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-left: 20px;

    &:after {
      content:'';
      width: 14px;
      height: 14px;
      background: url("#{$img_path}arrowdown.svg") center center no-repeat;
      background-size: contain;
      position: absolute;
      left: 0;
      top: 3px;
      transform: rotate(90deg);
    }

    li {
      margin-right: 6px;
      display: flex;
      align-items: center;

      &:after {
        content:'->';
        display: inline-block;
        font-size: 14px;
        font-family:'Muli', sans-serif;
        margin-left: 6px;
      }

      @media only screen and (max-width: 767px) {
        margin-bottom: 5px;
      }

      &:last-child {
        margin-right: 0;

        &:after {
          display: none;
        }
      }

      a,
      span {
        display: block;
        font-size: 14px;
        font-family:'Muli', sans-serif;
      }
    }
  }
}