  .section-locations {
    @media screen and (max-width: 767px) {
      padding-top: 0 !important;
    }

    .wrap-title {
      padding-bottom: 0;
    }

    .location-search-input {
      background: #ffffff url("#{$img_path}icon_magnifying-glass.svg") no-repeat right 10px center/auto 60%;
      border-radius: 0;
      border: 1px solid $font-gray;

      &:focus {
        background: #ffffff url("#{$img_path}magnifyng-glass-red.svg") no-repeat right 10px center/auto 60%;
        border-radius: 0;
        border: 1px solid $primary-color;
        outline-color: white;
        outline: 0 none;
      }
    }

    .location-search {
      position: relative;
      background-color: white;

      label {
        margin: 0 10px;
        font: $p-size;
        position: absolute;
        background-color: white;
        padding: 0 8px;
        top: 32px;
        color: $font-color;
        z-index: 1;

        @media screen and (max-width: 680px) and (min-width: 0px) {
          top: 12px;
        }
      }
    }

    h2 {
      font: $h1-font;
      color: $font-color;
    }

    .search-alphabet {
      li {
        span {
          font: $h1-font;
        }
      }
    }

    .result-one-letter {
      .title-letter {
        font: $h1-font;
        color: $font-color;
      }
    }

    .letter-content {
      .location-summary {
        h5 {
          @extend %h5-style;
        }

        h5 a {
          @extend %h5-style;
        }

        h5 a:hover {
          color: $hover;
        }

        address {
          @extend %address-style;
        }
      }
    }
  }

  //Location show if click on map
  .location-button {
    background-image: url("#{$img_path}icon_location.png");
  }

  .call-button {
    background-image: url("#{$img_path}phone-red.svg"); // url("/build/images/web/shop/lolaliza-be/phone-red.svg");
  }

  .services-button {
    font: $p-size;
    text-transform: uppercase;
    border: 1px solid $secondary-btn-text;
    color: $secondary-btn-text;
    border-radius: 0;
    box-shadow: none;
  }

  .section-map {
    .search-button {
      font: $p-size;
      text-transform: uppercase;
      background-color: $primary-color;
      border-radius: 0;
      border: none;
      box-shadow: none;
    }

    .search-button:hover {
      background-color: #EB6E5E;
    }
  }
