  .location-summary {
    h5 a {
      @extend %h5-style;
    }

    h5 a:hover {
      color: $hover;
    }

    address {
      @extend %address-style;
    }

    .location-summary-block h5{
      @extend %h5-style;
    }
  }

  .H_ib {
    margin-left: 119px !important;
    left: -100%;
    padding-left: 10px;

    @media only screen and (max-width: 767px) {
      padding-left: 20px;
    }

    .H_ib_body {
      .H_ib_content {
        min-height: 207px;

        @media only screen and (max-width: 767px) {
          min-height: 182px;
        }
      }
    }

    .H_btn {
      padding: 7px;
    }
  }

  .search-results-list {
    .location-summary {
      h5 {
        @extend %h5-style;
      }

      h5 a {
        @extend %h5-style;
      }

      h5 a:hover {
        color: $hover;
      }

      address {
        @extend %address-style;
      }
    }
  }

  .info-window-block {
    min-width: 250px;
    
    .location-summary {
      .m-t-15 {
        &.m-b-15 {
          display: flex;
        }
      }
      .services-button {
        margin: 0 10px 0px 0;
        width: 100%;

        &:last-child {
          margin: 0;
        }
      }
    }
  }

  .map-search-options-container {
    .input {
      label {
        border-radius: 0;
      }

      input[type=checkbox]:checked + label {
        background-color: $primary-color;
        border: none;
        border-radius: 0;
      }
    }
  }

  .location-distance {
    font-weight: 400;
  }

  //Search
  .section-map {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;

    @media only screen and (min-width: 768px) {
      display: flex;
      height: calc(100vh - 143px);
    }

    .map-container{
      height: 100%;
      order: 1;
      flex: 1;

      @media only screen and (max-width: 767px) {
        min-height: auto;
        height: 350px;
      }

      .map-element {
        @media only screen and (max-width: 767px) {
          overflow: visible !important;
          position: initial !important;
        }
      }
    }

    .map-search-box {
      position: inherit;
      border-radius: 0;
      order: 2;
      top: 0;
      right: 0;

      @media (min-width: 768px) {
        height: calc(100vh - 143px) !important;
        min-height: 450px;
      }

      @media only screen and (max-width: 767px) {
        height: 457px;
        width: 100%;
      }

      .search-results{
        height: calc(100% - 77px);

        @media only screen and (max-width: 767px) {
          height: calc(100% - 107px);
        }

        .search-results-list{
          height: 100%;
        }
      }

      .search-button {
        background-color: $primary-color;
      }

      .search-form {
        input[type="text"] {
          border: 1px solid $font-gray;
          background-color: white;
          border-radius: 0;
          box-shadow: none;
        }

        input[type="text"]:focus {
          border: 1px solid $primary-color;
          background-color: white;
          border-radius: 0;
          outline-color: white;
          outline: 0 none;
        }

        .search-position {
          border-radius: 0;

          .position-locate {
            box-shadow: none;
            border-radius: 0;
            border-color: $primary-color;
            background: white url("#{$img_path}icon-gps-red.svg") no-repeat center center/50%;
          }
        }
      }
    }
  }

  .section-map {
    margin-top: 20px;
  }