.icon {
  display: inline-block;
  font: normal normal normal 14px/1 $font_awesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.phone:before {
    content: "\F095";
  }

  &.mobile-phone:before {
    content: "";
    background: url('#{$img_path}/icons/phone-icon.png') center center no-repeat;
    width: 12px;
    height: 20px;
    display: block;
  }

  &.envelope-square:before {
    content: "\F199";
  }
}