<!-- Block location details + image and map -->
<section id="block_location_details" class="section-location-details">
    <div class="wrapper">
        <div class="breadcrumb-row">
            <ul class="breadcrumbs-list">
                <li class="home-icon"><a href="{{ path('app_web_shop_home', {'_locale':app.request.locale}) }}"><icon class="home"></icon></a></li>
                <li><span class="arrow">/</span><a href="{{ path('app_web_shop_home', {'_locale':app.request.locale}) }}">{{ "app.web.show.breadcrumb.title"|trans({}, shop.code) }}</a></li>
                <li><span class="arrow">/</span> <span class="current_city">{{ location.name }}</span></li>
            </ul>
        </div>
        <div class="wrapper-title">
            <h2 class="title">{{ "app.web.show.title"|trans({}, shop.code) }}</h2>
            <h3 class="subtitle">{{ location.name }}</h3>
            
        </div>

        <div class="box">
            <div class="details-image-slider">
                <div class="image-slider">
                    {# add support for V3 #}
                    {% if location.images|length %}
                        {% for image in location.images %}

                            <img src="{{ path('app_web_image_cloudinary_path',
                                {'apiKey': image.cloudName|default("mobilosoft-testing"),
                                    'apiPath': image.publicId,
                                    'imageSize': 'h_300'}) }}" alt="{{ location.brand }} {{ location.address.locality }}">
                        {% endfor %}
                    {% else %}
                        <img src="{{ asset('/build/images/web/shop/louisdelhaize-be/default_image_top.jpg') }}" alt="{{ location.brand }} {{ location.address.locality }}" height="300px">
                    {% endif %}
                </div>
            </div>

            <div class="details-address">
                <h4>{{ 'app.web.show.location_details.address'|trans }}</h4>
                <address class="m-b-15">
                    {{ (location.address.number ? location.address.number ~ ' ' : '') ~ location.address.street }}
                    <br><br>
                    {{ location.address.zipCode ~ ' ' ~ location.address.locality }}
                </address>

                <div>
                    <button data-gtm_event="itinerary" data-gtm_event_value="__externalId__" type="button" class="services-button location-button btn btn-primary ga-cta" data-type="{{ shop.mapType }}"
                            data-type-google="{{ constant('App\\Entity\\Shop::MAP_TYPE_GOOGLE') }}"
                            data-type-here="{{ constant('App\\Entity\\Shop::MAP_TYPE_HERE') }}"
                            data-show-route="{{ path('app_web_shop_show', {'_locale': app.request.locale, 'slug': location.slug, focusRoute: true}) }}">
                        {{ 'app.web.show.location_details.route'|trans }}
                    </button>
                </div>
            </div>

            <div class="details-info">
                <div class="m-b-15">
                    <a data-gtm_event="call" data-gtm_event_value="__externalId__" href="tel:{{ location.contact.phone }}" class="services-button call-button btn btn-primary ga-cta">{{ 'app.web.show.location_details.call'|trans }}</a>

                    <p class="text-info">
                        {% if location.contact.email %}
                            <a href="mailto:{{ location.contact.email }}">{{ location.contact.email }}</a> |
                        {% endif %}
                        {{ location.contact.phone }}
                    </p>
                </div>

                <h4>{{ 'app.web.show.location_details.working_hours.title'|trans }}</h4>

                {% if globalTemplates and globalTemplates[constant('App\\Entity\\AttributeValue::VALUE_OPEN_HOURS_EXCEPTION')] is defined %}
                    {% set openHours = open_hours(location, shopDomain, constant('App\\Twig\\OpenHoursExtension::TYPE_EXCEPTION')) %}

                    {% include 'web/block/location_details/block/open_hours/exception.html.twig' %}
                {% else %}
                    {% set openHours = open_hours(location, shopDomain, constant('App\\Twig\\OpenHoursExtension::TYPE_WEEK')) %}

                    {% include 'web/block/location_details/block/open_hours/week.html.twig' %}
                {% endif %}
            </div>
        </div>
        <div id="map_container" class="map-container" data-type="{{ shop.mapType }}"
         data-type-google="{{ constant('App\\Entity\\Shop::MAP_TYPE_GOOGLE') }}"
         data-type-here="{{ constant('App\\Entity\\Shop::MAP_TYPE_HERE') }}"
         data-credentials="{{ shop.mapCredentials }}" data-language="{{ app.request.locale }}">
        <div id="map_element" class="map-element"></div>
    </div>
    </div>

    
</section>
