.map-search-options {
  .input {
    input[type=checkbox]:checked {
      + label {
        background-color: $red_cb;
        border-color: $red_cb;
      }
    }

    + div {
      font-size: 1.6em;
    }
  }

  .loading-map-search {
    .item {
      background-color: $red_cb;
    }
  }
}