.bread_default {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 100%;

  @media (min-width: #{$mobile_up}) {
    max-width: 670px;
  }

  @media (min-width: #{$media_tablete}) {
    max-width: 970px;
  }

  @media (min-width: #{$media_desktop}) {
    max-width: 1030px;
  }
  li {
    font-size: 1.8em;

    &:first-child {
      &:before {
        top: 50%;
        transform: translateY(-50%);
      }
    }

    a {
      span {
        transition: all 0.5s ease-in-out; 
      }
      
      &:hover {
        span {
          color: $red_cb;
        }
      }
    }
  }
}