.section-locations {
  @media (max-width: #{$mobile_down}) {
    margin-top: 0;
  }
  .location-search {
    background-color: $red;

    @media (min-width: #{$mobile_up}) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    label {
      @media (min-width: #{$mobile_up}) {
        font-size: 2.2em;
      }
    }
  }

  .location-search-input {
    font-size: 1.4em;
    font-weight: 700;
    color: $gray_58;
  }

  .search-alphabet {
    padding: 25px 0;

    li {
      span {
        font-weight: 700;
        
        @media (min-width: #{$mobile_up}) {
          font-size: 2.2em;
        }
      }
    }
  }

  .result-one-letter{
    .title-letter {
      color: $blue;
      font-size: 3.5em;

      @media (min-width: #{$mobile_up}) {
        text-align: left;
      }
    }
  }

  .table-schedule {
    font-size: 1.6em;
  }
}











