.section-location-promotions {
  margin-top: 0;
  padding-top: 40px;

  .promotions-block {
    article {
      margin: 10px 10px 40px 10px;
      
      h3 {
        font-size: 1.8em;
        color: $black;
        font-weight: 700;
      }

      p, 
      span,
      a {
        font-size: 1.8em;
      }
    }
  }

  .info-button {
    background-color: $red_ca !important;
    border-color: $red_ca;
    border-radius: 0;
    font-size: 1.8em;
    text-transform: uppercase;

    &:hover {
      filter: none;
      color: $black;
    }
  }

  .slick-dots {
    li {
      &.slick-active {
        button {
          background-color: $red_ca;

          &:before {
            background-color: $red_ca;
            border-color: $red_ca;
          }
        }
      }

      button {
        transition: all 0.2s ease-in-out;
        border-color: $red_ca;

        &:hover {
          background-color: $red_ca;

          &:before {
            background-color: $red_ca;
            border-color: $red_ca;
          }
        }

        &:before {
          background-color: $white;
          border-color: $white;
        }
      }
    }
  }
}