.section-location-services {
  .location-services {
    //background-color: rgba($orange_d8, 0.5);
    background-color: #bebebe;
  }

  .services-block {
    li {
      b {
        font-size: 1.2em;
      }
    }
  }

  .location-services {
   h2 {
     color: #404040;
   }
  }

  .services-payments {
    p {
      font-size: 1.8em;
      font-weight: 700;
    }
  }

  .services-images-info  {
    li {
      min-width: 300px;
      
      @media (max-width: 345px) {
        min-width: 100%;
      }

      span {
        font-size: 1.8em;
        color: $black;
      }

      img {
        height: 60px;
      }
    }
  }

  .services-images {
    li {
      span {
        font-size: 1.8em;
        font-weight: 400;
      }
    }
  }

  .info-button {
    background-color: $red_ca;
    border-color: $red_ca;
    border-radius: 0;
    transition: all 0.5s ease-in-out;
    font-size: 1.8em;
    color: $white;
    text-transform: uppercase;

    &:hover {
      filter: none;
      color: $black;
    }
  }
}

