.section-location-details {
  .box {
    .details-info {
      .call-button {
        background-color: $red_ca !important;
        border-color: $red_ca;
        border-radius: 0;
        transition: all 0.5s ease-in-out;
        font-size: 1.9em;
        background-image: none;
        padding: 5px 25px;
        text-transform: uppercase;

        @media (max-width: #{$mobile_down}) {
          min-width: 100px;
          text-align: center;
        }

        &:hover {
          filter: none;
          color: $black;
        }
      }

      .text-info {
        font-size: 1.6em;

        @media (max-width: #{$mobile_down}) {
          display: block;
          padding-top: 15px;
        }

        a {
          &:hover {
            color: $red_cb;
          }
        }
      }
    }

    .details-address {
      address {
        font-size: 1.8em;
      }
    }

    .details-image-slider {
      @media (min-width: #{$mobile_up}) {
        height: 300px;
      }
    }
  }

  .call-button {
    background-color: $red_ca !important;
    border-color: $red_ca;
    border-radius: 0;
    transition: all 0.5s ease-in-out;
    font-size: 1.9em;
    background-image: none;
    padding: 5px 25px;
    text-transform: uppercase;

    @media (max-width: #{$mobile_down}) {
      min-width: 100px;
      text-align: center;
    }

    &:hover {
      filter: none;
      color: $black;
    }
  }

  .open-label {
    font-size: 1em;
  }

  .details-header {
    .header-info {
      font-size: 1.8em;
    }

    .location-button {
      font-size: 1em;
    }
  }

  .details-content {
    .details-address-big {
      address,
      p {
        font-size: 1.8em;
      }

      a {
        &:hover {
          color: $red_cb;
        }
      }
    }
  }

  .image-slider {
    .slick-dots {
      li {
        &.slick-active {
          button {
            background-color: $red_ca;

            &:before {
              background-color: $red_ca;
              border-color: $red_ca;
            }
          }
        }

        button {
          &:before {
            background-color: $white;
            border-color: $white;
          }
        }
      }
    }
  }

  .wrapper-title-icon {
    .open-label,
    .open-sentence {
      font-size: 0.5em;
    }
  }

  .location-button {
    background-color: $red_ca !important;
    border-color: $red_ca;
    border-radius: 0;
    transition: all 0.5s ease-in-out;
    font-size: 1.9em;
    background-image: none;
    padding: 5px 25px;
    text-transform: uppercase;

    @media (max-width: #{$mobile_down}) {
      min-width: 100px;
      text-align: center;
    }

    &:hover {
      filter: none;
      color: $black;
    }
  }

  .schedule {
    font-size: 1.8em;

    th,
    td {
      padding: 1px 0;
    }
  }

  .location-details-block {
    address,
    p {
      font-size: 1.8em;
    }

    .schedule-inline {
      font-size: 1.8em;
    }

    .call-button {
      font-size: 1em;
    }
  }
}