.section-location-description {
  .col-half {
    font-size: 1.8em;

    h2 {
      font-size: 2.7em;
    }
  }

  .image-slider {
    .slick-dots {
      li {
        &.slick-active {
          button {
            background-color: $red_ca;

            &:before {
              background-color: $red_ca;
              border-color: $red_ca;
            }
          }
        }

        button {
          &:before {
            background-color: $white;
            border-color: $white;
          }
        }
      }
    }
  }
}