.section-map {
  margin-top: 25px;

  @media only screen and (max-width: 990px) {
    margin-top: 7px;
  }

  .map-search-box {
    .search-form {
      .search-position {
        #map_search_autocomplete {
          font-size: 1.45em;
          line-height: 30px;
          font-weight: 700;
          color: $gray_58;
          outline: none;
          border-radius: 0;

          @media (max-width: #{$mobile_down}) {
            font-family: $adobe-garamond_font;
            font-weight: 400;
            font-style:  italic;
          }
        }

        .position-locate {
          border-radius: 0;
        }
      }
    }

    .search-filters {
      .open-filters-checkbox {
        p {
          font-size: 1.8em;
          background-size: auto 40% !important;
        }
      }

      .content-filters {
        padding-bottom: 5px;

        li {
          ul {
            li {
              display: flex;
              align-items: center;

              label {
                font-size: 1.8em;
              }
            }
          }
        }
      }

      + .search-results {
        background-color: red;
      }
    }
  }

  .search-button {
    background-color: $red_ca !important;
    border-color: $red_ca;
    border-radius: 0;
    transition: all 0.5s ease-in-out;
    font-size: 1.9em;

    &:hover {
      filter: none;
      color: $black;
    }
  }
}

.location-summary {
  h5 {
    font-weight: 700;
    font-size: 1.9em !important;

    a {
      font-weight: 700;
      font-size: 1em !important;

      &:hover {
        color: $red_cb !important;
      }
    }
  }

  address {
    font-size: 1.8em;
    line-height: 24px;
  }

  .location-phone {
    font-size: 1.8em;
    line-height: 24px;

    a {
      line-height: 24px;
    }
  }

  .open-label,
  .open-sentence {
    font-size: 1.4em;
  }
}

.table-schedule {
  font-size: 1.6em;
}

.info-window-block {
  .location-summary {
    h5 {
      font-size: 1.46em !important;
    }

    address {
      font-size: 1.4em;
    }

    .open-sentence,
    .open-label {
      font-size: 1.08em;
    }
  }

  .search-button {
    font-size: 1.49em;
  }

  .table-schedule {
    font-size: 1.231em;
  }
}

.call-button,
.location-button {
  border-color: $red_ca;
  border-radius: 0;
  background-color: $tr;
  color: $black;
  background-image: none;
  font-size: 1.49em;
  padding: 5px 15px;

  &:hover {
    color: $white;
    background-color: $red_ca;
    filter: none;
  }
}

.location-button {
  transition: all 0.5s ease-in-out; 
}











