.section-near-location {
  margin-top: 0;

  .location-summary {
    h5 {
      font-size: 1.8em;
      font-weight: 700;
      min-height: 44px;
    }

    address {
      font-size: 1.8em;
    }

    .m-b-15 {
      display: flex;
      margin-left: -5px;
      margin-right: -5px;

      &.openings {
        display: block;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  .near-location-block {
    article {
      padding: 20px 15px;
      margin: 10px 10px 40px 10px;
    }
  }

  .slick-track {
    display: flex;
  }

  .slick-slide  {
    height: inherit;
    outline: none;
  }

  .location-distance {
    font-size: 1.8em;
    font-weight: 400;
  }

  .location-label,
  .location-sentence {
    font-size: 1.4em;
  }

  .search-button {
    background-color: $red_ca;
    border-color: $red_ca;
    border-radius: 0;
    transition: all 0.5s ease-in-out;
    font-size: 1.8em;
    color: $white;
    text-transform: uppercase;

    &:hover {
      filter: none;
      color: $black;
    }
  }

  .location-button,
  .call-button {
    border-color: $red_ca;
    border-radius: 0;
    background-color: $tr;
    color: $black;
    background-image: none;
    font-size: 1.8em;
    padding: 5px 15px;
    text-transform: uppercase;
    flex: 1;
    transition: all 0.5s ease-in-out;

    &:hover {
      color: $white;
      background-color: $red_ca;
      filter: none;
    }
  }

  .slick-dots {
    li {
      &.slick-active {
        button {
          background-color: $red_ca;

          &:before {
            background-color: $red_ca;
            border-color: $red_ca;
          }
        }
      }

      button {
        transition: all 0.2s ease-in-out;
        border-color: $red_ca;

        &:hover {
          background-color: $red_ca;

          &:before {
            background-color: $red_ca;
            border-color: $red_ca;
          }
        }

        &:before {
          background-color: $white;
          border-color: $white;
        }
      }
    }
  }
}