*{
  font: 12px Muli, sans-serif;
  color: #4F4F4F;
}
%address-style{
  font: $p-size;
  color: $font-color;
}
%h1-font-color{
  font: $h1-font;
  color: $font-color;
}
%h2-style{
  font: $h2-font;
  color: $font-color;
}
%h5-style{
  font: $h3-font;
}
//Button primary
%button-primary{
  text-transform: uppercase;
  background-color: $primary-color;
  border-radius: 0;
  border: none;
  box-shadow: none;
  }
%button-secondary{
  font: $p-size;
  text-transform: uppercase;
  border: 1px solid $secondary-btn-text;
  color: $secondary-btn-text;
  border-radius: 0;
  box-shadow: none;
}