//Colors
$font-color: #4f4f4f;
$font-gray: #d5d3d3;
$primary-color: #ff8272;
$btn-active:$primary-color;
$secondary-btn-text:$primary-color;
$btn-color-hover: #EB6E5E;
$hover:$btn-color-hover;
$sale-promotion: #FE2446;
$logo-color: #ce132E;
$border-color-false: #AF2828;
$secondary-color: #651d32;
$check-font-color: #656565;
$text-button-color: #fff;
$dropdown-box-shadow: #5555550A;
$dropdown-border-color: #C7C7C739;
$border-color-correct: #9A9A9A;
$input-border-disable: #FAFAFA;

//Fonts
$all-font: 13px Muli, sans-serif;
$h1-font: bold 18px/23px Muli;
$h2-font: bold 16px/20px Muli;
$h3-font: bold 14px/18px Muli;
$p-size: normal 12px/15px Muli;

$img_path: '../../../../../images/web/shop/lolaliza-be/';
