.button {
  display: inline-block;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 0;
  padding: 10px 0;
  font-size: 13px;
  background-color: $header_bg;
  color: $white;
  width: 100%;
  text-transform: uppercase;
  font-family: $Oswald_font;
  outline: none;

  &:hover {
    opacity: 0.8;
  }

  &.secondary {
    background-color: $red;
  }

  &.btn-gray {
    background-color: $beige;
    color: #484848;
  }

  &.btn-green {
    background-color: $green;
  }

  &.hidden {
    display: none;
  }

  &.border-btn {
    border: 1px solid $tr !important;
    background-color: $tr;
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.1);
    transition: box-shadow ease 0.2s;

    &:hover {
      box-shadow: none;
      opacity: 1;
    }
  }

  &.border-btn-red {
    border-color: $red;
  }

  &.border-btn-black {
    border-color: $header_bg !important;
    color: $header_bg;
  }

  &.hover-black-btn {
    &:hover {
      color: $white;
      background-color: $header_bg;
    }
  }
}

.btn-block {
  display: flex;
  align-items: stretch;
  margin-top: 5px;

  .button {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin-right: 5px;
    height: 35px;
    padding: 5px 10px;

    @media screen and (max-width: 1024px) and (min-width: 0px) {
      padding: 5px 10px;
    }

    &:last-child {
      margin-right: 0;
    }

    img {
      display: block;
      height: 100%;
    }

    &.uber-logo {
      padding: 9px 10px;
    }
  }
}

