.icon {
  display: inline-block;

  &:before {
    font-family: $icons_font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
  }

  &.icon-blog:before {
    content: "\E003";
  }

  &.icon-customerService:before {
    content: "\E009";
  }

  &.icon-joinUs:before {
    content: "\E01B";
  }

  &.icon-contact:before {
    content: "\E008";
  }

  &.icon-theCircle:before {
    content: "\E022";
  }

  &.icon-pointer:before {
    content: "\E020";
  }

  &.icon-facebook:before {
    content: "\E015";
  }

  &.icon-instagram:before {
    content: "\E01A";
  }

  &.icon-twitter:before {
    content: "\E023";
  }

  &.icon-hopLeft:before {
    content: "\E018";
  }

  &.icon-clock:before {
    content: "\E007";
  }

  &.icon-theCircle:before {
    content: "\E022";
  }

  &.icon-logoRibbon:before {
    content: "\E01C";
  }
}















