$font-path: '../../../../../fonts/shop/les3brasseurs-fr';

@font-face {
    font-family: 'Source Serif Pro';
    src: url($font-path + '/SourceSerifPro-Regular.eot');
    src: url($font-path + '/SourceSerifPro-Regular.eot?#iefix') format('embedded-opentype'),
        url($font-path + '/SourceSerifPro-Regular.woff2') format('woff2'),
        url($font-path + '/SourceSerifPro-Regular.woff') format('woff'),
        url($font-path + '/SourceSerifPro-Regular.ttf') format('truetype'),
        url($font-path + '/SourceSerifPro-Regular.svg#SourceSerifPro-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url($font-path + '/Oswald-Regular.eot');
    src: url($font-path + '/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
        url($font-path + '/Oswald-Regular.woff2') format('woff2'),
        url($font-path + '/Oswald-Regular.woff') format('woff'),
        url($font-path + '/Oswald-Regular.ttf') format('truetype'),
        url($font-path + '/Oswald-Regular.svg#Oswald-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face {
  font-family: "iconFont";
  src: url($font-path + '/iconFont.eot');
  src: url($font-path + '/iconFont.eot?#iefix') format('eot'), 
  url($font-path + '/iconFont.woff2') format('woff2'), 
  url($font-path + '/iconFont.woff') format('woff'), 
  url($font-path + '/iconFont.ttf') format('truetype');
}