body {
  font-family: $source_serif_font;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  background-color: $gray_f6;
}

* {
  font-family: $source_serif_font;
  font-weight: 400;
}

.wrapper {
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
  background: url("#{$img_path}bg-grainy-texture.jpg") center center;
}

a {
  text-decoration: none;
  color: $link-color;
}

img {
  display: block;
  max-width: 100%;
  line-height: 0;
}

h2,
h3 {
  @media only screen and (max-width: 767px) {
    font-size: 20px;
    line-height: 24px;
  }
}

h2 {
  strong {
    @media only screen and (max-width: 767px) {
      font-size: 20px;
      line-height: 24px;
    }
  }
}

.btn-group {
  padding-top: 10px;

  &.pt-0 {
    padding-top: 0;
  }

  .half-block {
    display: flex;
    align-items: stretch;
    margin-top: 1px;

    &.icon-block {
      .button {
        display: flex;
        align-items: stretch;
        justify-content: center;
        margin-right: 5px;
        height: 35px;
        padding: 5px 10px;
      }
    }

    .button {
      margin-right: 5px;
      border: none;

      &.uber-logo {
        padding: 9px 10px;
      }

      &:last-child {
        margin-right: 0;
      }

      &.hidden {
        display: none;
      }
    }

    &.column {
      flex-direction: column;

      .button {
        margin-bottom: 5px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    iframe {
      width: 48.7% !important;
      margin-left: 2px;

      @media only screen and (max-width: 767px) {
        width: 100% !important;
      }

      @media only screen and (max-width: 575px) {
        width: 48.7% !important;
      }
    }
  }
}

.image-slider {
  .slick-dots {
    li {
      &.slick-active {
        button {
          background-color: $red !important;

          &:before {
            background-color: $red !important;
            border-color: $red !important;
          }
        }
      }

      button {
        &:before {
          background-color: $white !important;
          border-color: $white !important;
        }
      }
    }
  }
}
