// Color
$white: #ffffff;
$black: #000000;
$tr: transparent;

$header_bg: #0f0f0f;

$gray_6e: #6e6e70;
$gray_9f: #9f9f9f;
$link-color: #888888;
$gray_f6: #f6f5f4;
$gray_ee: #eeecea;
$beige: #e6d6b2;

$dark-red: #790d16;
$red: #e20026;

$green: #00572c;
$green_66: #669a80;
$green-light: #9cbbae;


// Fonts
$source_serif_font: 'Source Serif Pro', sans-serif;
$Oswald_font: 'Oswald', sans-serif;
$icons_font: 'iconFont';

// Image path
$img_path: '../../../../../images/web/shop/les3brasseurs-fr/';