<!-- Block location services + image -->

<section id="block_location_services" class="section-location-services">
    {% set showServices = false %}


        <div class="location-services">
            <div class="wrapper">



                {% if location.services and location.services['services'] is defined and location.services['services']|length %}
                    {% set showServices = true %}
                    {% set services = location.services['services'] %}

                    <h2>{{ 'app.web.show.location_services.title'|trans }}</h2>

                    <ul class="services-images">
                        {% for propertyService in services if propertyService.contentFacet.title or propertyService.externalId %}
                            <li itemscope itemtype="http://schema.org/Service">
                                {% if propertyService.assets[0] is defined %}
                                    <div>
                                        {% set image = propertyService.assets[0]  %}
                                        <img src="{{ path('app_web_image_cloudinary_path', {'apiKey': image.cloudName, 'apiPath': image.publicId, 'imageSize':'w_50'}) }}" alt="{{ propertyService.contentFacet.title }}"/>
                                    </div>
                                {% endif %}
                                <span itemprop="serviceType">{{ propertyService.contentFacet.title }}</span>
                                {% if propertyService.contentFacet.longContent|length %}
                                    <div class="services-tooltip" itemprop="description">{{ propertyService.contentFacet.longContent }}</div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>

                {% endif %}



                {% set showServices = false %}

                {% if location.services and location.services['Marques'] is defined and location.services['Marques']|length %}
                    {% set showServices = true %}
                    {% set services = location.services['Marques'] %}
                {% endif %}

                {% if showServices %}
                    <div style="margin-top: 10px">&nbsp;</div>

                    <h2>{{ 'app.web.show.location_services.brands'|trans({}, shop.code) }}</h2>

                    <ul class="services-images">
                        {% for propertyService in services if propertyService.contentFacet.title or propertyService.externalId %}
                            <li itemscope itemtype="http://schema.org/Service">
                                {% if propertyService.assets[0] is defined %}
                                <div>
                                    {% set image = propertyService.assets[0]  %}
                                    <img src="{{ path('app_web_image_cloudinary_path', {'apiKey': image.cloudName, 'apiPath': image.publicId, 'imageSize':'w_50'}) }}" alt="{{ propertyService.contentFacet.title }}"/>
                                </div>
                                {% endif %}

                                <span itemprop="serviceType">{{ propertyService.contentFacet.title }}</span>
                                {% if propertyService.assets[0] is defined %}
                                    <meta itemprop="logo" content="{{ url('app_web_image_cloudinary_path', {'apiKey': image.cloudName, 'apiPath': image.publicId}) }}"/>
                                {% endif %}

                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}




            </div>
        </div>


</section>