.section-location-promotions {
  margin-top: 0;

  .promotions-block {
    padding: 0;

    .wrapper {
      padding-top: 50px;
      padding-bottom: 30px;
    }
  }
}

.section-location-events {
  margin-top: 0;

  .events-block {
    padding: 0;
    
    .wrapper {
      padding-top: 50px;
      padding-bottom: 30px;
    }
    article {
      &:hover {
        box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.14);
      }
    }

    .block-hover {
      p {
        margin-bottom: 10px;
      }
    }
  }
}