.section-location-details {
  margin-top: 0;

  .wrapper {
    padding-top: 50px;
  }

  .schedule {
    th,
    td {
      color: $gray;
    }
  }

  address {
    color: $gray;
  }

  .map-container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: #{$mobile_down}) {
      padding-top: 30px;
      background-color: $white;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .box {
    @media (max-width: #{$mobile_down}) {
      margin-bottom: 0;
    }

    .details-info {
      .text-info {
        color: $gray;
      }
    }
  }

  .col {
    align-self: center;
  }


  .details-header {
    .wrapper {
      background-color: $tr;
    }
  }

  .details-content {
    padding: 0;

    .wrapper {
      padding: 70px 0;

      &:after {
        content:'';
        clear: both;
        display: block;
      }
    }
  }
}