.section-locations {
  @media (max-width: #{$mobile_down}) {
    margin-top: 0;
  }
  
  .wrap-title {
    padding: 0;

    h2 {
      font-family: $Myriad_pro_font;
      font-weight: 400;
      color: $blue_btn;
      text-transform: initial;
      font-size: 38px;
      line-height: 42px;
    }

    .wrapper {
      padding: 40px 0px 0px 0px;
    }
  }

  .result-one-letter {
    .title-letter {
      font-family: $Myriad_pro_font;
      font-weight: 400;
      color: $blue_btn;
    }
  }

  .search-alphabet {
    padding: 0;

    @media (max-width: #{$mobile_down}) {
      margin-top: 0;
    }

    .wrapper {
      padding: 45px 0;
    }
  }

  .results-by-letters {
    padding-top: 0;

    .wrapper {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
}