.section-map {
  margin-top: 0;
  background-color: $white;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;

  .map-search-box {
    .search-results {
      background-color: rgb(246, 246, 246);
    }

    .search-filters {
      .open-filters-checkbox {
        p {
          background-size: 4% 50% !important;
        }
      }
    }
  }

  .search-form {
    .search-button {
      background-color: $blue_btn;
      padding: 8px 20px;
      border: none;
      border-radius: 5px;
      color: $white;
      font-size: 16px;
      line-height: 28px;

      &:hover {
        filter: none;
        background-color: $blue_btn_hover;
      }
    }

    .search-position {
      #map_search_autocomplete {
        background-color: $tr;
        border-radius: 5px;
        font-size: 16px;
        border-color: $gray_dd;
        box-shadow: none;
        padding: 5px 10px;
        outline: none;
        color: $gray;
      }
    }
  }
}