.section-near-location {
  margin-top: 0;

  .near-location-block {
    padding: 0;
    background-color: $tr;

    .wrapper {
      padding-top: 10px;
      padding-bottom: 40px;

      @media (max-width: #{$mobile_down}) {
        padding-bottom: 1px;
      }
    } 
  }

  .location-distance {
    color: $gray;
    font-weight: 400;
  }

  .services-button {
    border: 1px solid $blue_btn;
    background-color: $white!important;
    color: $blue_btn;

    &:hover {
      background-color: $blue_btn_hover !important;
      color: $white;
    }
  }
}