$font-path: '../../../../../fonts/shop/voo-be/';

@font-face {
  font-family: 'OpenSans-Regular';
  src: url($font-path + 'OpenSans-Regular.eot') format('embedded-opentype');
  src: url($font-path + 'OpenSans-Regular.svg#OpenSans-Regular') format('svg'),
     url($font-path + 'OpenSans-Regular.ttf') format('truetype'),
     url($font-path + 'OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSansRounded-300';
  src: url($font-path +"2E49F4_0_0.eot");
  src: url($font-path +"2E49F4_0_0.eot?#iefix") format("embedded-opentype"), 
  url($font-path +"2E49F4_0_0.woff2") format("woff2"), 
  url($font-path +"2E49F4_0_0.woff") format("woff"), 
  url($font-path +"2E49F4_0_0.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'roboto';
    src: url($font-path + 'roboto-light-webfont.eot');
    src: url($font-path + 'roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url($font-path + 'roboto-light-webfont.woff2') format('woff2'),
         url($font-path + 'roboto-light-webfont.woff') format('woff'),
         url($font-path + 'roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'roboto';
    src: url($font-path + 'roboto-regular-webfont.eot');
    src: url($font-path + 'roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url($font-path + 'roboto-regular-webfont.woff2') format('woff2'),
         url($font-path + 'roboto-regular-webfont.woff') format('woff'),
         url($font-path + 'roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'MuseoSansRounded-700';
  src: url($font-path + '2E49F4_2_0.eot');
  src: url($font-path + '2E49F4_2_0.eot?#iefix') format("embedded-opentype"), 
  url($font-path + '2E49F4_2_0.woff2') format('woff2'), 
  url($font-path + '2E49F4_2_0.woff') format('woff'), 
  url($font-path + '2E49F4_2_0.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}