.intinerary-popup-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(29,29,29,.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  display: none;

  &.open {
    @media only screen and (max-width: 767px) {
      display: flex;
    }
  }

  .intinerary-popup-block {
    border-radius: 4px;
    background-color: $white;
    width: 100%;
    margin: 0 10px;
    padding: 24px 10px 29px;
  }

  .title {
    font-family: $font-msr-700;
    font-size: 15px;
    line-height: 21px;
    color: #274856;
    margin: 0 0 33px;
    text-align: center;
    padding: 0 35px;
    font-weight: 400;
  }

  .intinerary-map-block {
    margin-bottom: 33px;

    a {
      display: block;
      cursor: pointer;

      img {
        display: block;
        margin: 0 auto;
      }
    }

    .waze-icon {
      border-bottom: 1px solid #d8d8d8;
      padding-bottom: 17px;
      margin-bottom: 18px;

      img {
        width: 110px;
      }
    }

    .google-maps-icon {
      img {
        width: 153px;
      }
    }
  }

  .intinerary-btn-block {
    text-align: center;

    .intineray-close-popup-btn {
      border: 1px solid $text-color;
      color: $text-color;
      padding: 7px 44px 7px 45px;
      border-radius: 21px;
      font-size: 15px;
      line-height: 18px;
      font-family: $font-msr-700;
      cursor: pointer;
      font-weight: 400;
      display: inline-block;
    }
  }
}