$img_voo: '../../../../../images/web/shop/voo-be/';

/* Colors*/
$white: #ffffff;
$text-color: #274856;
$pink: #d4007a;
$gray-light: #d0dee5;
$gray: #f3f6f9;
$green: #7db200;

/*fonts*/
$font-msr-700: 'MuseoSansRounded-700', sans-serif;
$font-msr-300: 'MuseoSansRounded-300', sans-serif;
$font-roboto: 'roboto', sans-serif;