.footer-background {
  background-color: $blue_0e;

  .page-center {
    padding: 45px 15px 5%;
    max-width: 1145px;
    width: 100%;
    margin: 0 auto;
  }

  h6 {
    font-size: 20px;
    line-height: 24px;
    font-family: $Opens_sans_font;
    font-weight: 200;
    margin: 20px 0;
    width: 100%;

    @media (max-width: 767px) {
      margin: 20px 0 4px 0;
    }

    span {
      display: block;
      font-size: 20px;
      line-height: 24px;
      font-family: $Opens_sans_font;
      font-weight: 200;
    }
  }

  p {
    padding: 5px 0;
    border-bottom: 3px solid transparent;
    display: block;

    span {
       br {
        display: block;
      }
    }

    br {
      display: none;
    }
  }

  p, 
  span {
    font-size: 16px;
    line-height: 32px;
    font-weight: 300;

    @media (max-width: 767px) {
      text-align: center;
    }
  }

  span {
    display: block;
  }

  strong {
    font-size: 16px;
    line-height: 20px;
    font-family: $Opens_sans_font;
    color: $white;
    font-weight: 700;
    padding-top: 6px;
    display: block;
    margin-bottom: 5px;

    @media (max-width: 767px) {
      text-align: center;
    }
  }

  a {
    font-weight: 300;
    line-height: 1.15em;
    color: $white;
    border-bottom: 3px solid transparent;
    padding: 5px 0;
    margin: 0;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;

    @media (max-width: 767px) {
      text-align: center;
    }
  }

  .fa-lg {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%;
  }

  .fa {
    color: $gray_99;
    margin: 0 7px;
  }

  .row-fluid {
    display: flex;

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }

    .span6 {
      width: 49.5%;

      @media (max-width: 767px) {
        width: 100%;
      }
    }

    .span4 {
      width: 32.5%;
      margin-left: 38px;

      @media (max-width: 767px) {
        width: 100%;
        margin-left: 0;
        padding-top: 16px;
      }
    }

    .span2 {
      width: 15%;
      margin-left: 28px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      @media (max-width: 767px) {
        width: 100%;
        margin-left: 0;
      }

      .row-fluid-wrapper {
        @media (max-width: 767px) {
          min-height: 28px;
        }
      }
    }
  }

  .footer-socials {
    padding-top: 25px;

    @media (max-width: 767px) {
      padding-top: 25px;
    }
  }

  .row-number-6 {
    .span8 {
      width: 65%;

      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }

  .row-number-5 {
    .row-fluid {
      display: flex;

      .span6 {
        margin-right: 24px;

        @media (max-width: 767px) {
          margin-right: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.copyright-background {
  background-color: $gray_f1;

  .page-center {
    max-width: 1145px;
    width: 100%;
    margin: 0 auto;
    padding-top: 13px;
    padding-bottom: 5px;
  }

  .row-number-17 {
    .row-fluid {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 767px) {
        flex-direction: column;
        justify-content: center;
      }
    }

    .widget-span {
      @media (max-width: 767px) {
        min-height: 28px;
      }
    }
  }

  .hs-footer-company-copyright {
    font-size: 12px;
    font-weight: 300;
  }
}