.header-container-wrapper {
  a {
    display: block;
    text-decoration: none;
  }

  .nav-wrapper {
    .main-header {
      padding: 0 20px;
      min-height: 95px;

      @media (max-width: 992px) {
        padding: 0 50px 0 20px;
      }

      @media (max-width: 767px) {
        min-height: 80px;
      }
    }
  }

  .row-number-3 {
    .row-fluid {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 767px) {
        justify-content: center;
      }

      .span3 {
        padding-top: 3px !important;

        @media (min-width: 993px) {
          width: 23.076923077%;
        }

        &.logo {
          padding-top: 14px !important;
        }
      }

      .span9 {
        padding-top: 0 !important;

        &.mobile-hide {
          @media (max-width: 767px) {
            display: none !important;
          }
        }

        @media (max-width: 992px) {
          margin-right: 30px;
        }

        @media (max-width: 767px) {
          margin-right: 0;
        }

        @media (min-width: 993px) {
          width: 74.358974359%;
        }
      }
    }
  }

  .mobile-trigger {
    @media (max-width: 992px) {
      display: inline-block !important;
      cursor: pointer;
      position: absolute;
      top: 0px;
      right: 10px;
      width: auto;
      height: auto;
      padding: 12px 10px;
      z-index: 99999999999;
      font-size: 16px;
      font-weight: normal;
      text-align: left;
      text-transform: uppercase;
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;
      transition: color .2s ease-in, background-color 0.2s linear;
      background: $blue_0e;
      cursor: pointer; 
    }

    &.open {
      @media (max-width: 992px) {
        -webkit-transition: background-color 0.2s linear;
        -moz-transition: background-color 0.2s linear;
        transition: background-color 0.2s linear;
        background: transparent;
      }

      i {
        &:before {
          @media (max-width: 992px) {
            margin-top: 0;
            background-color: $blue_0e;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-transition-delay: 0, .2s;
            -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0);
            -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0);
          }
        }

        &:after {
          @media (max-width: 992px) {
            margin-top: 0;
            background-color: $blue_0e;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-transition-delay: 0, .2s;
            -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0);
            -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0);
          }
        }
      }
    }

    span {
      @media (max-width: 992px) {
        display: inline-block;
      }
      

      &:after {
        @media (max-width: 992px) {
          position: relative;
          right: 2px;
          content: '';
          background-color: #0e71b8;
          opacity: 0;
          transition: opacity .4s ease-in-out;
          -moz-transition: opacity .4s ease-in-out;
          -webkit-transition: opacity .4s ease-in-out;
        }
      }
    }

    i {
      @media (max-width: 992px) {
        display: inline-block;
        position: relative;
        top: -5px;
        margin-left: 0;
        -webkit-transition-duration: 0s;
        -webkit-transition-delay: .2s;
        -moz-transition-duration: 0s;
        -moz-transition-delay: .2s;
        transition-duration: 0s;
        transition-delay: .2s;
        background-color: $white;
        width: 15px;
        height: 2px;
      }
      

      &:before,
      &:after {
        @media (max-width: 992px) {
          position: absolute;
          content: '';
          width: 15px;
          height: 2px;
          background-color: $white;
          display: inline-block;
        }
        
      }

      &:before {
        @media (max-width: 992px) {
          margin-top: -6px;
          -webkit-transition-property: margin, -webkit-transform;
          -webkit-transition-duration: .2s;
          -webkit-transition-delay: .2s, 0;
        }
        
      }

      &:after {
        @media (max-width: 992px) {
          margin-top: 6px;
          -webkit-transition-property: margin, -webkit-transform;
          -webkit-transition-duration: .2s;
          -webkit-transition-delay: .2s, 0;
        } 
      }
    }
  }

  .active-branch {
    @media (min-width: 993px) {
      display: flex !important;
      align-items: center;
      justify-content: flex-end;
    }

    &.hs-menu-flow-horizontal {
      @media (max-width: 992px) {
        position: absolute;
        display: none;
        top: 0;
        left: 0px;
        width: 100%;
        -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.65);
        -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.65);
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.65);
        padding: 80px 0 0 0;
        z-index: 110;
      }

      ul {
        @media (max-width: 992px) {
          background-color: $white;
          padding-top: 8px;
          padding-bottom: 12px;
        }
      }
    }

  
    li {
      display: inline-block;

      @media (max-width: 992px) {
        display: block;
        margin-bottom: 24px;
      }

      &:last-child {
        @media (max-width: 992px) {
          margin-bottom: 0;
        }
      }

      &.hs-item-has-children {
        position: relative;
        &:hover {
          .hs-menu-children-wrapper {
            @media (min-width: 993px) {
              opacity: 1;
              visibility: visible;
            }
          }
        }

        .child-trigger {
          display: none;

          @media (max-width: 992px) {
            display: block;
            cursor: pointer;
            position: absolute;
            top: 0px;
            right: 0px;
            width: 55px;
            min-width: 55px;
            height: 45px;
            padding: 0;
            border-left: 1px dotted rgba(255, 255, 255, .20);
          }

          &.open {
            span {
              @media (max-width: 992px) {
                -webkit-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                transform: rotate(180deg);
                -webkit-transition-duration: .2s;
                -moz-transition-duration: .2s;
                transition-duration: .2s;
              }

              &:after {
                @media (max-width: 992px) {
                  -webkit-transform: rotate(-180deg);
                  -ms-transform: rotate(-180deg);
                  transform: rotate(-180deg);
                  -webkit-transition-duration: .2s;
                  -moz-transition-duration: .2s;
                  transition-duration: .2s;
                }
              }
            }
          }

          span {
            @media (max-width: 992px) {
              position: relative;
              top: 50%;
              margin: 0 auto !important;
              -webkit-transition-duration: .2s;
              -moz-transition-duration: .2s;
              transition-duration: .2s;
              width: 10px;
              height: 1px;
              background-color: #0e71b8;
              display: block;
            }

            &:after {
              @media (max-width: 992px) {
                width: 10px;
                height: 1px;
                background-color: #0e71b8;
                display: block;
                position: absolute;
                content: '';
                -webkit-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                transform: rotate(-90deg);
                -webkit-transition-duration: .2s;
                -moz-transition-duration: .2s;
                transition-duration: .2s;
              }
            }
          }   
        }
      }

      a {
        display: block;
        display: inline-block;
        font-family: $Opens_sans_font;
        font-size: 14px;
        font-weight: 300;
        color: $gray;
        border-top: 3px solid transparent;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        text-decoration: none;
        max-width: 250px;
        padding: 13px 20px 10px;
        margin: 18px 0 15px 0;
        transition: all ease 0.4s;

        @media (max-width: 992px) {
          padding: 0 20px;
          margin: 0;
        }

        &:hover {
          @media (min-width: 993px) {
            border-top: 3px solid #1992c7;
          }
        }
      }
    }

    .hs-menu-children-wrapper {
      transition: opacity ease 0.4s, visibility ease 0.4s;
      position: absolute;
      z-index: 110;
      left: 0;
      top: 70px;

      @media (max-width: 992px) {
        position: static;
        display: none;
        padding-bottom: 0 !important;
      }

      @media (min-width: 993px) {
        visibility: hidden;
        opacity: 0;
      }

      li {
        a {
          overflow: visible;
          text-overflow: clip;
          width: 100%;
          max-width: 250px;
          background: #fff;
          text-align: left;
          padding: 15px;
          margin: 0;

          @media (max-width: 992px) {
            color: $blue_0e;
            padding: 18px 15px 0px 25px;
          }
        }
      }
    }
  }

  .widget-type-cell {
    .row-number-5 {
      // margin-left: 36px;
      margin-top: 6px;
    }
  }

  .globe_class {
    background: url("#{$img_path}globe.png") center center no-repeat;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;

    &:hover {
      .lang_list_class {
        display: block;
      }
    }
  }

  .lang_switcher_class {
    position: relative;
    display: inline-block;

    @media (max-width: 767px) {
      position: absolute;
      top: 30px;
      left: 30px;
    }
  }

  .lang_list_class {
    display: none;
    position: absolute;
    top: 17px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    z-index: 100;
    list-style-type: none;
    padding: 15px 0 0;
    margin: 0;

    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      width: 0;
      height: 0;
      margin-left: -12px;
    }

    &:after {
      top: -7px;
      border: 12px solid transparent;
      border-bottom-color: #fff;
      margin-bottom: -1px;
    }

    &:before {
      top: -8px;
      border: 12px solid transparent;
      border-bottom-color: #000;
    }

    li {
      position: relative;
      line-height: 1;
      font-size: 13px;
      padding: 0 15px 10px;
      background-color: #fff;
      border-left: 1px solid #000;
      border-right: 1px solid #000;

      &:first-child {
        padding-top: 15px;
        border-top: 1px solid #000;
      }

      &:last-child {
        padding-bottom: 15px;
        border-bottom: 1px solid #000;
      }

      a {
        font-size: 13px;
        line-height: 13px;
        text-decoration: none;
        font-weight: 300;

        &:hover {
          color: $blue;
        }
      }
    }
  }
}
