footer {
  i {
    color: $black_23;
  }

  .text-facebook {
    color: $blue;
  }

  .text-instagram {
    color: $red
  }

  .text-linkedin {
    color: $blue_light;
  }

  .text-twitter {
    color: $blue_00;
  }

  .text-youtube {
    color: $red_dark;
  }

  .content-asset {
    &:last-child {
      p {
        &:last-child {
          font-size: 11.2px;
          line-height: 16.8px;
        }
      }
    }
  }

  small {
    font-size: 11.2px;
    line-height: 16.8px;

    .fa-truck,
    strong,
    span,
    a {
      font-size: 11.2px;
      line-height: 16.8px;
    }
  }

  input[type=email] {
    border: solid 2px $gray_89;
    color: $black_23;
    width: 100%;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4.8px;
    line-height: 20.8px;
    outline: none;
    font-weight: 500;

    &:focus {
      border-color: $black_23
    }

    &::placeholder {
      color: rgba($gray, 0.7);
      font-size: 14px;
    }
  }

  h5, 
  .h5 {
    margin-bottom: 12px;
  }

  p {
    margin-bottom: 8px;
    line-height: 21px;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  h1, 
  .h1,
  h2, 
  .h2, 
  h3, 
  .h3, 
  h4, 
  .h4, 
  h5, 
  .h5, 
  h6, 
  .h6 {
    line-height: 22.5px;
    margin-top: 32px;
  }
}