header {
  display: block;
  letter-spacing: -0.15px;
  margin-bottom: 40px;
  line-height: 21px;

  @media (max-width: #{$tablet}) {
    margin-bottom: 16px;
    letter-spacing: -0.22px;
  }

  .logo-home {
    @media (max-width: #{$tablet}) {
      margin-bottom: 16px;
    }

    @media (max-width: #{$mobile_down}) {
      margin-bottom: 0;
    }

    img {
      max-width: 100%;
    }
  }

  .bg-grey1 {
    p {
      @media (max-width: #{$tablet}) {
        line-height: 21px;
      }
    }
  }

  .html-slot-container {
    span{
      font-size: 16px;
      line-height: 25px;
    }
  }

  a {
    text-decoration: none;
  }

  small {
    font-size: 11.2px;
    line-height: 16.8px;

    .fa-truck,
    strong,
    span,
    a {
      font-size: 11.2px;
      line-height: 16.8px;
    }
  }

  .site-search {
    @media (min-width: #{$desktop}) {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 8px;
    }

    .btn {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .content-asset {
    a {
      font-size: 11.2px;
      line-height: 16.8px;
      text-decoration: none;
      color: $black;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  .search-field {
    border-radius: 25px;
    border: 2px solid $gray_89;
    padding: 9px 16px;
    font-size: 14px;
    color: $black_23;
    width: 100%;
    outline: none;
    font-weight: 500;

    @media (max-width: #{$tablet}) {
      font-size: 16px;
      padding: 8.5px 16px;
    }

    &:focus {
      border-color: $black_23
    }

    &::placeholder {
      color: rgba($gray, 0.7);
      font-size: 14px;

      @media (max-width: #{$tablet}) {
        letter-spacing: 1px;
      }
    }
  }

  .header-favorite-store {
    position: relative;
    min-height: 66px;

    &:hover {
      .dropdown-menu {
        display: block;
      }
    }
  }

  .icon-label {
    max-width: 80px;
    font-weight: 500;

    i {
      font-size: 18px;
      margin-bottom: 5px;
    }
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    z-index: 1000;
    width: 304px;
    right: 0;
    padding: 8px;
    display: none;
    color: $black_21;
    text-align: left;
    list-style: none;
    background-color: white;
    background-clip: padding-box;
    border-radius: 3px;

    p {
      margin-bottom: 8px;
      font-size: 14px;
      font-weight: 500;
      color: $black_21;
      line-height: 21px;
      display: block;
    }

    a {
      display: block;
      text-align: center;
      text-decoration: none !important;
      margin-top: 32px;
    }
  }

  nav {
    .header-menu-item-desktop {
      -ms-flex-positive: 1;
      flex-grow: 1;
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      text-align: center;
    }
  }

  nav {
    .first-lvl {
      li {
        a {
          border-bottom: 2px solid $white;
          min-width: 115px;
          text-align: center;
          display: block;
          font-size: 14px;
          line-height: 21px;
          font-weight: 500;
          color: $black_23;
        }
      }
    }
  }
}