{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block sonata_top_nav_menu_user_block %}
    <li class="dropdown user-menu">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li class="user-header bg-light-blue">
                <img src="{{ asset('build/images/admin/default_avatar.png') }}" class="img-circle" alt="Avatar">
                <p>{{ app.user.name }}</p>
            </li>

            <li class="user-footer">
                <div class="pull-left">
                    <a href="{{ path('admin_app_user_edit', {'id': app.user.id}) }}" class="btn btn-default btn-flat"><i
                                class="fa fa-user"></i> Profile</a>
                </div>

                <div class="pull-right">
                    <a href="{{ path('app_admin_logout') }}" class="btn btn-default btn-flat"><i
                                class="fa fa-sign-out fa-fw"></i> Logout</a>
                </div>
            </li>
        </ul>
    </li>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('css/admin/app') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('js/admin/app') }}
{% endblock %}
