{% extends '@SonataAdmin/CRUD/list.html.twig' %}

{% block actions %}
    {% spaceless %}

        {% if appSyncTranslationsEnv != 'PROD' %}
            <li>{% include 'admin/translation/sync_translations_button.html.twig' %}</li>
        {% endif %}

        <li>{% include 'admin/translation/clear_cache_button.html.twig' %}</li>
        {% if admin.hasRoute('create') and admin.isGranted('CREATE')%}
            <li>{% include '@SonataAdmin/Core/create_button.html.twig' %}</li>
        {% endif %}
    {% endspaceless %}
{% endblock %}
