
{% set filterParams = [] %}
{% if app.request.get('filter')  %}
    {% set filterParams = app.request.get('filter') %}
{% endif %}

{% set params = []|merge(filterParams) %}
<a class="sonata-action-element" href="{{ admin.generateUrl('sync_translations', {'filter':params})}}">
    <i class="fa fa-refresh"></i>Sync Translations
</a>