<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>
<script>
    window.addEventListener("load", function() {
        var onStatusChange = window.onStatusChange ? window.onStatusChange : function () {};
        window.cookieconsent.initialise({
            onStatusChange: onStatusChange,
            "palette": {
                "popup": {
                    "background": "#2a5d9e",
                    "position": "bottom",
                },
            },
            "content": {
                "href": "{{ "app.web.gdpr.url"|trans({}, shop.code) }}",
                message: "{% autoescape false %}{{ 'app.web.gdpr.cookie_consent_message'|trans({}, shop.code) }} {% endautoescape %}",
                link: '{{ "app.web.gdpr.link"|trans({}, shop.code) }}',
                dismiss: '{{ "app.web.gdpr.dismiss"|trans({}, shop.code) }}',
                allow: '{{ "app.web.gdpr.allow"|trans({}, shop.code) }}',
                deny: '{{ "app.web.gdpr.decline"|trans({}, shop.code) }}',
            },
            compliance: {
                'info': '<div class="cc-compliance"><a aria-label="allow cookies" tabindex="0" class="cc-btn cc-allow">{{ "app.web.gdpr.allow"|trans({}, shop.code) }}</a><a aria-label="deny cookies" tabindex="0" class="cc-btn cc-deny">{{ "app.web.gdpr.decline"|trans({}, shop.code) }}</a></div>',
            }
        })
    });
</script>