{% block google_tag_head %}
    {%- if shopDomain.gtmCode -%}
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','{{ shopDomain.gtmCode }}');</script>
        <!-- End Google Tag Manager -->
    {%- endif -%}
{% endblock %}

{% block google_tag_body %}
    {%- if shopDomain.gtmCode -%}
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ shopDomain.gtmCode }}"
                          height="0" width="0" style="display:none; visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
    {%- endif -%}
{% endblock %}
