{% if googleAnalyticsUa|length %}
    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ googleAnalyticsUa }}', 'auto', 'gaUa');
        ga('gaUa.require', 'displayfeatures');
        ga('gaUa.require', 'linkid', 'linkid.js');
        ga('gaUa.send', 'pageview', {
            'dimension1': '{% if slug is defined %}show{% else %}home{% endif %}',
            'dimension2': '{{ app.request.locale }}',
            'dimension3': '{{ shop.apiKey }}',
        });

        {% if shopDomain.gMobiCode|length %}
        ga('create', '{{ shopDomain.gMobiCode }}', 'auto', 'gMobiCode');
        ga('gMobiCode.require', 'displayfeatures');
        ga('gMobiCode.require', 'linkid', 'linkid.js');
        ga('gMobiCode.send', 'pageview', {
            'dimension1': '{% if slug is defined %}show{% else %}home{% endif %}',
            'dimension2': '{{ app.request.locale }}',
        });
        {% endif %}

        {% if shopDomain.gClientCode|length %}
        ga('create', '{{ shopDomain.gClientCode }}', 'auto', 'gClientCode');
        ga('gClientCode.require', 'displayfeatures');
        ga('gClientCode.require', 'linkid', 'linkid.js');
        ga('gClientCode.send', 'pageview');
        {% endif %}
    </script>
    <!-- End Google Analytics -->
{% endif %}