<!DOCTYPE html>
<html lang="{{ app.request.locale|replace({'_': '-'}) }}">

{% block head %}
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv=content-language" content="{{ app.request.locale|replace({'_': '-'}) }}" />

    {% block metadata %}
        {% block main_meta_tags %}
            <title></title>

            <meta name="description" content="">
            <meta name="keywords" content="">
        {% endblock %}

        {% block mobile_view_tags %}
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
            <meta name="apple-mobile-web-app-capable" content="yes">
            <meta name="mobile-web-app-capable" content="yes">
        {% endblock %}

        {% block site_verification_tags %}
            {% if shopDomain.gMetaTag %}
                <meta name="google-site-verification" content="{{ shopDomain.gMetaTag }}"/>
            {% endif %}
        {% endblock %}
    {% endblock %}

    {% block favicon %}
    <meta name="theme-color" content="#ffffff"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('build/images/web/shop/' ~ shop.code ~ '/favicons/favicon.ico') }}"/>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('build/images/web/shop/' ~ shop.code ~ '/favicons/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('build/images/web/shop/' ~ shop.code ~ '/favicons/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('build/images/web/shop/' ~ shop.code ~ '/favicons/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('build/images/web/shop/' ~ shop.code ~ '/favicons/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('build/images/web/shop/' ~ shop.code ~ '/favicons/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('build/images/web/shop/' ~ shop.code ~ '/favicons/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('build/images/web/shop/' ~ shop.code ~ '/favicons/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('build/images/web/shop/' ~ shop.code ~ '/favicons/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/images/web/shop/' ~ shop.code ~ '/favicons/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('build/images/web/shop/' ~ shop.code ~ '/favicons/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="36x36"  href="{{ asset('build/images/web/shop/' ~ shop.code ~ '/favicons/android-icon-36x36.png') }}">
    <link rel="icon" type="image/png" sizes="48x48"  href="{{ asset('build/images/web/shop/' ~ shop.code ~ '/favicons/android-icon-48x48.png') }}">
    <link rel="icon" type="image/png" sizes="72x72"  href="{{ asset('build/images/web/shop/' ~ shop.code ~ '/favicons/android-icon-72x72.png') }}">
    <link rel="icon" type="image/png" sizes="96x96"  href="{{ asset('build/images/web/shop/' ~ shop.code ~ '/favicons/android-icon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="144x144"  href="{{ asset('build/images/web/shop/' ~ shop.code ~ '/favicons/android-icon-144x144.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/images/web/shop/' ~ shop.code ~ '/favicons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('build/images/web/shop/' ~ shop.code ~ '/favicons/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/images/web/shop/' ~ shop.code ~ '/favicons/favicon-16x16.png') }}">
    <link rel="icon" type="image/png" href="{{ asset('build/images/web/shop/' ~ shop.code ~ '/favicons/apple-icon-precomposed.png') }}">
    <link rel="icon" type="image/png" href="{{ asset('build/images/web/shop/' ~ shop.code ~ '/favicons/apple-icon.png') }}">
    <link rel="icon" type="image/png" sizes="70x70" href="{{ asset('build/images/web/shop/' ~ shop.code ~ '/favicons/ms-icon-70x70.png') }}">
    <link rel="icon" type="image/png" sizes="144x144" href="{{ asset('build/images/web/shop/' ~ shop.code ~ '/favicons/ms-icon-144x144.png') }}">
    <link rel="icon" type="image/png" sizes="150x150" href="{{ asset('build/images/web/shop/' ~ shop.code ~ '/favicons/ms-icon-150x150.png') }}">
    <link rel="icon" type="image/png" sizes="310x310" href="{{ asset('build/images/web/shop/' ~ shop.code ~ '/favicons/ms-icon-310x310.png') }}">
    <link rel="icon" type="image/png" href="{{ asset('build/images/web/shop/' ~ shop.code ~ '/favicons/maskable_icon.png') }}">
    <link rel="icon" type="image/png" href="{{ asset('build/images/web/shop/' ~ shop.code ~ '/favicons/favicon.png') }}">
    <link rel="manifest" href="{{ asset('build/images/web/shop/' ~ shop.code ~ '/favicons/manifest.json') }}">
    {% endblock %}

    <!-- Stylesheets -->
    {% block stylesheets %}{% endblock %}
    <!-- End Stylesheets -->

    {% block head_google_tag %}
        {{ block('google_tag_head', 'web/base/block/google_tag_manager.html.twig') }}
    {% endblock %}

    {% block google_analytics %}
        {% include 'web/base/block/google_analytics.html.twig' %}
    {% endblock %}

    {# Search Engine Optimization tags #}
    {% block seo_tags %}{% endblock %}

    {# Head scripts #}
    {% block head_scripts %}{% endblock %}
</head>
{% endblock %}

{% block body %}
<body class="{% block body_class %}{% endblock %}">
    {# Global data #}
    {% set openHoursSeparator = '|' %}

    {% block body_google_tag %}
        {{ block('google_tag_body', 'web/base/block/google_tag_manager.html.twig') }}
    {% endblock %}

    <!-- Header -->
    {% block header %}{% endblock %}
    <!-- End Header -->

    <!-- Content -->
    {% block content %}{% endblock %}
    <!-- End Content -->

    <!-- Footer -->
    {% block footer %}{% endblock %}
    <!-- End Footer -->

    <!-- Global javascript variables -->
    {% block javascripts_var %}{% endblock %}
    <!-- End Global javascript variables -->

    <!-- Scripts -->
    {% block javascripts %}{% endblock %}
    <!-- End Scripts -->

    <!-- Google structured data -->
    {% block structured_data %}{% endblock %}
    <!-- End Google structured data -->

    <!-- Before body ends -->
    {% block before_body_end %}{% endblock %}
</body>
{% endblock %}

</html>
