{% extends 'web/base/home.html.twig' %}


{% block stylesheets %}
    {{ parent() }}

    <link rel='stylesheet' id='vival_main_style-css' href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700"type='text/css' media='all' />
    <link rel='stylesheet' id='vival_main_style-css' href="https://vival.wpproxi.groupecasino.axome.cc/wp-content/themes/vival/css/theme-vival.min.css"type='text/css' media='all' />
    {{ encore_entry_link_tags('css/web/shop/'~shop.code~'/home') }}
{% endblock %}

{% block header %}
    {% autoescape false %}
        {{ remote_content(shop, 'https://vival.wpproxi.groupecasino.axome.cc/?fragment=header', 'header') }}
    {% endautoescape %}
{% endblock %}

{% block content %}
    
    {% set twigData = {'filterDynamic': true} %}

    {% for template in templates %}

        {% if template.attribute.block == constant('App\\Entity\\Attribute::BLOCK_MAP') %}
            {% include 'web/shop/vival-fr/block/map_search_list.html.twig' %}
        {% else %}
            {% include 'web/block/' ~ template.attribute.block ~ '/' ~ template.attributeValue.value ~ '.html.twig' ignore missing %}
        {% endif %}
    {% endfor %}

{% endblock %}

{% block footer %}
    {% autoescape false %}
        {{ remote_content(shop, 'https://vival.wpproxi.groupecasino.axome.cc/?fragment=footer', 'footer') }}
    {% endautoescape %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type='text/javascript' src='https://vival.wpproxi.groupecasino.axome.cc/wp-content/themes/vival/js/theme.min.js'></script>
{% endblock %}

{% block javascripts_var %}
    {{ parent() }}
    {#  Map Settings for this shop (default are defind in js map folder files, DEFAULT_SETTINGS getter) #}
    <script type="text/javascript">
        var globalSettings = {

            map: {
                center: {lat: 48.8588377, lng: 2.2770208},
                zoom: 10,
            },

            geoLocationCountry: ['FR', "BE"],

            searchType: 'NEAR',

            query: {

                size: 50,
                radius: 15000,
                near: "48.8588377,2.2770208",

            },
            marker: {
                icon: '{{ asset('build/images/web/shop/'~shop.code~'/theme_map_icon.png') }}',
                icon_width: 37,
                icon_height: 57,
            },
        };
    </script>
{% endblock %}
