{% extends 'web/base/show.html.twig' %}
{% block body_class %}detail-page{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel='stylesheet' id='vival_main_style-css' href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700"type='text/css' media='all' />
    <link rel='stylesheet' id='vival_main_style-css' href="https://vival.wpproxi.groupecasino.axome.cc/wp-content/themes/vival/css/theme-vival.min.css"type='text/css' media='all' />
    
    {{ encore_entry_link_tags('css/web/shop/'~shop.code~'/show') }}
{% endblock %}


{% block header %}
    {% autoescape false %}
        {{ remote_content(shop, 'https://vival.wpproxi.groupecasino.axome.cc/?fragment=header', 'header') }}
    {% endautoescape %}
{% endblock %}

{% block footer %}
    {% autoescape false %}
        {{ remote_content(shop, 'https://vival.wpproxi.groupecasino.axome.cc/?fragment=footer', 'footer') }}
    {% endautoescape %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type='text/javascript' src='https://vival.wpproxi.groupecasino.axome.cc/wp-content/themes/vival/js/theme.min.js'></script>
{% endblock %}

{% block javascripts_var %}
    {{ parent() }}

    <script>
        var globalSettings = {
            near_query: {
                size: 6,
                radius: 200000
            },

            geoLocationCountry: ['FR'],
        };
    </script>
{% endblock %}