{% spaceless %}
<div class="info-window-block">
    <div class="location-summary">
        <div class="location-summary-block">
            <h5>__name__</h5>

            <address>__address__</address>

            <div class="open-close-box">
                <div class="open-box __openClass__">
                    <span class="open-label">__openLabel__</span>
                    <span class="open-sentence">__openSentence__</span>
                </div>
                <div class="small-schedule">
                    <table class="table-schedule"></table>
                </div>
            </div>
        </div>

        <div class="m-t-15 m-b-15">
            <a data-gtm_event="itinerary" data-gtm_event_value="__externalId__" type="button" class=" btn btn-primary services-button ga-cta" target="_blank"
                    href="https://www.google.com/maps/dir/?api=1&destination=__fullAddress__">
                {{ 'app.web.home.map.button.directions'|trans({}, shop.code) }}
            </a>

            <a data-gtm_event="call" data-gtm_event_value="__externalId__" href="tel:__phone__" class="btn btn-primary services-button call-button ga-cta">{{ 'app.web.home.map.button.call'|trans }}</a>
        </div>

        <a data-gtm_event="impressionMap" data-gtm_event_value="__externalId__" href="{{ path('app_web_shop_show', {'_locale': app.request.locale, 'slug': '__slug__'}) }}"
           target="_self" class="btn text ga-cta">{{ 'app.web.home.map.button.show'|trans }}</a>
    </div>
</div>
{% endspaceless %}