{% spaceless %}
<li class="location-summary">
    <div class='pin-icon' data-id="__externalId__">
        <span class="mobilo_location">__distance__ __distance_unit__</span>
    </div>
    <div class="info-window-content">
        <h5><a data-gtm_event="impression" data-gtm_event_value="__externalId__" href="{{ path('app_web_shop_show', {'_locale': app.request.locale, 'slug': '__slug__'}) }}" target="_self" class="ga-cta">__name__</a></h5>

        <div class="show-open-window" data-id="__externalId__">
            <address>__address__</address>
        </div>

        <div class="open-close-box">
            <div class="open-box __openClass__">
                <span class="open-label">__openLabel__</span>
                <span class="open-sentence">__openSentence__</span>
            </div>
            <div class="small-schedule">
                <table class="table-schedule"></table>
            </div>
        </div>

        <div class="btn-block">
            <a data-gtm_event="itinerary" data-gtm_event_value="__externalId__" href="https://www.google.com/maps/dir/?api=1&destination=__fullAddress__" target="_blank" class="btn btn-primary mr-10 ga-cta">{{ 'app.web.home.map.button.directions'|trans({}, shop.code) }}</a>
            <a data-gtm_event="call" data-gtm_event_value="__externalId__" href="tel: __phone__" class="btn btn-primary ga-cta">{{ 'app.web.home.map.button.call'|trans }}</a>
        </div>
        <a data-gtm_event="impression" data-gtm_event_value="__externalId__" href="{{ path('app_web_shop_show', {'_locale': app.request.locale, 'slug': '__slug__'}) }}"
           target="_self" class="btn text ga-cta">{{ 'app.web.home.map.button.show'|trans }}</a>

        <div class="open-hours-exceptions">
            <div class="shedule-exception exception-small">
                <h5 class="is-open">{{ 'app.web.global.open_hours.exceptions.open'|trans }}</h5>
            </div>

            <div class="shedule-exception exception-small">
                <h5 class="is-closed">{{ 'app.web.global.open_hours.exceptions.closed'|trans }}</h5>
            </div>
        </div>
    </div>
</li>
{% endspaceless %}