{% extends 'web/base/home.html.twig' %}

{% set headerUrl = 'https://www.mobilosoft.com/' %}
{% if app.request.locale != 'en' %}
    {% set headerUrl = 'https://www.mobilosoft.com/' ~ app.request.locale ~ '/' %}
{% endif %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/web/shop/'~shop.code~'/base') }}
{% endblock %}

{% block header %}
    {% autoescape false %}
        {{ remote_content(shop, headerUrl, 'header') }}
    {% endautoescape %}
{% endblock %}

{% block footer %}
    {% autoescape false %}
        {{ remote_content(shop, headerUrl, 'footer') }}
    {% endautoescape %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('js/web/shop/'~shop.code~'/base') }}
{% endblock %}

{% block javascripts_var %}
    {{ parent() }}

    {# Map Settings for this shop (default are defind in js map folder files, DEFAULT_SETTINGS getter) #}
    <script type="text/javascript">
        var globalSettings = {
            apiVersion: "{{ shop.apiVersion }}",
            map: {
                center: {lat: 50.62313744304004, lng: 5.365809522627387},
                zoom: 10,
                fitAll: true,
            },
            marker: {
                icon: '/build/images/web/shop/mobilosoft-test/marker.png',
                icon_width: 33,
                icon_height: 53,
            },
            geoLocationCountry: ['FR', 'BE'],
            query: {
                size: 80,
                radius: 15000,
            },
        };
    </script>
{% endblock %}
