{% extends 'web/base/show.html.twig' %}

{% set headerUrl = 'https://www.mobilosoft.com/' %}
{% if app.request.locale != 'en' %}
    {% set headerUrl = 'https://www.mobilosoft.com/' ~ app.request.locale ~ '/' %}
{% endif %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/web/shop/'~shop.code~'/base') }}
{% endblock %}

{% block header %}
    {% autoescape false %}
        {{ remote_content(shop, headerUrl, 'header') }}
    {% endautoescape %}
{% endblock %}

{% block content_blocks %}


    {% for template in templates %}
        {% if template.attribute.block == constant('App\\Entity\\Attribute::BLOCK_LOCATION_SERVICES') %}
            {% include 'web/shop/mobilosoft-test/block/location_services.html.twig' %}
        {% else %}
            {% include 'web/block/' ~ template.attribute.block ~ '/' ~ template.attributeValue.value ~ '.html.twig' ignore missing %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block footer %}
    {% autoescape false %}
        {{ remote_content(shop, headerUrl, 'footer') }}
    {% endautoescape %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('js/web/shop/'~shop.code~'/base') }}
{% endblock %}

{% block javascripts_var %}
    {{ parent() }}

    <script>
        var globalSettings = {
            near_query: {
                size: 9,
                radius: 2000000,
            }
        };
    </script>
{% endblock %}
