$font-path: '../../../../../fonts/shop/spar-fr';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'FontAwesome';
  src: url($font-path + '/fontawesome-webfont.674f50d2.eot');
  src: url($font-path + '/fontawesome-webfont.674f50d2.eot?#iefix&v=4.7.0') format('embedded-opentype'),
      url($font-path + '/fontawesome-webfont.af7ae505.woff2') format('woff2'),
      url($font-path + '/fontawesome-webfont.fee66e71.woff') format('woff'),
      url($font-path + '/fontawesome-webfont.b06871f2.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
