// Color
$white: #ffffff;
$black: #000000;
$tr: transparent;

$black_dark: #444444;

$gray: #ececec;
$gray_d6: #d6d6d6;

$green: #147640;
$green_hover: #0d4a28;
$green_65: #65795c;

$blue: #276b97;

// Fonts
$robot_slab_font: "Roboto Slab",sans-serif;
$roboto_font: 'Roboto', sans-serif;
$font_awesome: 'FontAwesome';

// Image path
$img_path: '../../../../../images/web/shop/spar-fr/';

// Media
$desktop: 1200px;
$desktop_up: 1201px;
$tablet: 992px;
$tablet_up: 993px;
$mobile_up: 768px;
$mobile_down: 767px;
$small_screen_up: 576px;
$small_screen_down: 575px;

/*@media (max-width: #{$mobile_down})*/