{% extends 'web/base/home.html.twig' %}

{% set headerUrl = 'https://louisdelhaize.be/' %}
{% if app.request.locale != "fr" %}
    {% set headerUrl = 'https://louisdelhaize.be/'~app.request.locale~'/' %}
{% endif %}

{% block header %}

    {% autoescape false %}
        {{ remote_content(shop, headerUrl, 'header') }}
    {% endautoescape %}

{% endblock %}

{% block footer %}
    {% autoescape false %}
        {{ remote_content(shop, headerUrl, 'footer') }}
    {% endautoescape %}
{% endblock %}

{% block content %}

    {% set twigData = {'filterDynamic': true} %}

    {% include 'web/shop/' ~ shop.code ~ '/block/map_search_list.html.twig' %}
    {% include 'web/shop/' ~ shop.code ~ '/block/locations_with_opening_hours.html.twig' %}

{% endblock %}

{% block stylesheets_custom %}
    {{ encore_entry_link_tags('css/web/shop/' ~ shop.code ~ '/home') }}
{% endblock %}


{% block javascripts_custom %}
    {{ encore_entry_script_tags('js/web/shop/' ~ shop.code ~ '/app') }}
{% endblock %}


{% block javascripts_var %}
    {{ parent() }}

    {# Map Settings for this shop (default are defind in js map folder files, DEFAULT_SETTINGS getter) #}
    <script>

        globalData['brandSlugs'] = ['pause', 'louis-delhaize'];

        var globalSettings = {
            saveRemoteData: true,
            map: {
                center: {lat: 50.8550625, lng: 4.3053507},
                zoom: 10,
            },
            searchType: 'NEAR',
            geoLocationCountry: ['BE'],
            query: {
                size: 50,
                radius: 15000,
            },
            marker: {
                icon: '{{ asset('build/images/web/shop/'~shop.code~'/marker/marker_default.png') }}',
                icon_width: 37,
                icon_height: 57,
            },
        };
    </script>
{% endblock %}
