{% extends 'web/base/show.html.twig' %}


{% set headerUrl = 'https://louisdelhaize.be/' %}
{% if app.request.locale != "fr" %}
    {% set headerUrl = 'https://louisdelhaize.be/'~app.request.locale~'/' %}
{% endif %}


{% block header %}

    {% autoescape false %}
        {{ remote_content(shop, headerUrl, 'header') }}
    {% endautoescape %}

{% endblock %}

{% block footer %}
    {% autoescape false %}
        {{ remote_content(shop, headerUrl, 'footer') }}
    {% endautoescape %}
{% endblock %}


{% block content %}

    {% set twigData = {'defaultImageLeft': asset('/build/images/web/shop/louisdelhaize-be/default_image_'~app.request.locale~'.png'), 'defaultDescriptionLeft': 'app.web.show.location_description.default'|trans({'%name%':location.name, '%location%':location.address.street~ ', ' ~location.address.locality}, shop.code) } %}


    {% include 'web/shop/' ~ shop.code ~ '/block/location_details_with_image_and_map.html.twig' %}

    {% include 'web/block/location_description/image_left.html.twig' %}

    {% include 'web/block/location_promotions/with_slideshow.html.twig' %}

    {% include 'web/shop/' ~ shop.code ~ '/block/location_services_with_image.html.twig' %}

    {% include 'web/shop/' ~ shop.code ~ '/block/near_location_simple.html.twig' %}


{% endblock %}

{% block stylesheets_custom %}
    {{ encore_entry_link_tags('css/web/shop/' ~ shop.code ~ '/show') }}
{% endblock %}

{% block javascripts_var %}
    {{ parent() }}

    globalData['brandSlugs'] = ['pause', 'louis-delhaize'];
    <script>
        var globalSettings = {
            near_query: {
                size: 6,
                radius: 200000,
            },
            marker: {
                icon: '{{ asset('build/images/web/shop/'~shop.code~'/marker/marker_'~location.brandSlug~'.png') }}',
                icon_height: 46,
                icon_width: 33
            },
        };
    </script>
{% endblock %}
