<!-- Block location services + image -->

{% if serviceImageSize is not defined %}
    {% set serviceImageSize = 'w_55' %}
{% endif %}


<section id="block_location_services" class="section-location-services">


        <div class="location-services">

            {% for group,services in location.services %}

                {% if location.services|length %}
                <div class="wrapper">
                    {% set groupName = 'app.web.show.location_services.'~group %}
                    <h2>{{ groupName|trans({}, shop.code) }}</h2>

                    <ul class="services-images">
                        {% for propertyService in services if propertyService.contentFacet.title or propertyService.externalId %}
                            <li itemscope itemtype="http://schema.org/Service">
                                <div>


                                    {% if propertyService.assets[0] is defined and propertyService.assets[0].publicId|length  %}
                                        {% set image = propertyService.assets[0]  %}
                                        <img src="{{ path('app_web_image_cloudinary_path', {'apiKey': image.cloudName, 'apiPath': image.publicId, 'imageSize':serviceImageSize}) }}" alt="{{ propertyService.contentFacet.title }}"/>
                                    {% endif %}

                                </div>

                                <span itemprop="serviceType">{{ propertyService.contentFacet.title }}</span>
                                {% if propertyService.assets[0] is defined and propertyService.assets[0].publicId|length  %}
                                    {% set image = propertyService.assets[0]  %}
                                    <meta itemprop="logo" content="{{ url('app_web_image_cloudinary_path', {'apiKey': image.cloudName, 'apiPath': image.publicId, 'imageSize': serviceImageSize}) }}"/>
                                {% endif %}

                                {% if propertyService.contentFacet.longContent|length %}
                                    <div class="services-tooltip" itemprop="description">{{ propertyService.contentFacet.longContent }}</div>
                                {% endif %}

                            </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

            {% endfor %}



        </div>


</section>