<div class="search-filters closed-box">
    <div class="open-filters open-filters-checkbox">
        <p>
            {% if 'app.web.home.map.filters.title'|trans({}, shop.code) != 'app.web.home.map.filters.title' %}
                {{ 'app.web.home.map.filters.title'|trans({}, shop.code) }}
            {% else %}
                {{ 'app.web.home.map.filters.title'|trans }}
            {% endif %}
        </p>
    </div>

    <div class="content-filters">
        <ul>
            {% if filters is defined and filters %}
                {% for filterKey, filterData in filters %}
                    {% if filterData is iterable %}
                        <li>
                            <input type="checkbox" id="map_filters_{{ filterKey }}" data-parent="true">
                            <label for="map_filters_{{ filterKey }}">
                                {% if ('app.web.home.map.filters.' ~ filterKey)|trans({}, shop.code) != 'app.web.home.map.filters.' ~ filterKey %}
                                    {{ ('app.web.home.map.filters.' ~ filterKey)|trans({}, shop.code) }}
                                {% else %}
                                    {{ filterKey }}
                                {% endif %}
                            </label>
                            <ul>
                                {% for filter in filterData %}
                                    <li>
                                        <input type="checkbox" id="map_filters_{{ filter }}" data-checkbox="itemList"  name="itemList[{{loop.index}}]" value="{{ filter }}">
                                        <label for="map_filters_{{ filter }}">
                                            {% if ('app.web.home.map.filters.' ~ filter)|trans({}, shop.code) != 'app.web.home.map.filters.' ~ filter %}
                                                {{ ('app.web.home.map.filters.' ~ filter)|trans({}, shop.code) }}
                                            {% else %}
                                                {{ filter }}
                                            {% endif %}
                                        </label>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        <li>
                            <input type="checkbox" id="map_filters_{{ filterData }}" data-checkbox="itemList" name="itemList[loop.index]" value="{{ filterData }}">
                            <label for="map_filters_{{ filterData }}">
                                {% if ('app.web.home.map.filters.' ~ filterData)|trans({}, shop.code) != 'app.web.home.map.filters.' ~ filterData %}
                                    {{ ('app.web.home.map.filters.' ~ filterData)|trans({}, shop.code) }}
                                {% else %}
                                    {{ filterData }}
                                {% endif %}
                            </label>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>