<div class="search-filters closed-box">
    <div class="open-filters open-filters-checkbox">
        <p>
            {% if 'app.web.home.map.filters.title'|trans({}, shop.code) != 'app.web.home.map.filters.title' %}
                {{ 'app.web.home.map.filters.title'|trans({}, shop.code) }}
            {% else %}
                {{ 'app.web.home.map.filters.title'|trans }}
            {% endif %}
        </p>
    </div>


    <div class="content-filters">
        <ul>

            <li>
                <ul>
                    <li>
                        <input type="checkbox" name="open_hours" value="openNow" data-radio="open_hours">
                        <label for="open_hours" >{{ "app.web.home.map.filters.open_now"|trans }}</label>
                    </li>
                </ul>
            </li>

            {% set i = 0 %}
            {% if filters is defined and filters %}

                {% set showHeading = 1 %}
                {% if filters|length == 1 %}
                    {% set showHeading = 0 %}
                {% endif %}

                {% for filterKey, filterData in filters %}

                    {% if filterData is iterable %}

                        <li>

                            {% if showHeading %}
                                <label for="map_filters_{{ filterKey }}">
                                    {% if ('app.web.home.map.filters.' ~ filterKey)|trans({}, shop.code) != 'app.web.home.map.filters.' ~ filterKey %}
                                        {{ ('app.web.home.map.filters.' ~ filterKey)|trans({}, shop.code) }}
                                    {% else %}
                                        {{ filterKey }}
                                    {% endif %}
                                </label>
                            {% endif %}
                            <ul>
                                {% for filterKeySub,filter in filterData %}

                                    {% set dataCheckbox = "serviceKeys" %}
                                    {% set filterName = dataCheckbox~"["~i~"]" %}
                                    {% set i=i+1 %}
                                    <li>
                                        <input type="checkbox" id="map_filters_{{ filter.externalId }}" data-checkbox="{{ dataCheckbox }}"  name="{{ filterName }}" value="{{ filter.externalId }}">
                                        <label for="map_filters_{{ filter.externalId }}">
                                            {{ filter.value }}
                                        </label>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        {% set dataCheckbox = "serviceKeys" %}
                        {% set filterName = dataCheckbox~"["~i~"]" %}
                        {% set i=i+1 %}

                        <li>
                            <input type="checkbox" id="map_filters_{{ filterData.externalId }}" data-checkbox="{{ dataCheckbox }}" name="{{ filterName }}" value="{{ filterData.externalId }}">
                            <label for="map_filters_{{ filterData.externalId }}">
                                {{ filterData.value }}
                            </label>
                        </li>
                    {% endif %}
                {% endfor %}

            {% endif %}
        </ul>
    </div>
</div>