.section-locations {
  h2 {
    color: $green;
    text-transform: initial
  }

  .result-one-letter {
    .title-letter {
      color: $green;
    }
  }

  .search-alphabet {
    padding: 20px 0;
  }
}