//@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');
//@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic');
//@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&display=swap');
//@import url('https://pharmacy-medi-market.be/_ui/responsive/theme-alpha/css/style.css');
//@import url('https://pharmacy-medi-market.be/_ui/addons/assistedservicepromotionaddon/responsive/common/css/assistedservicepromotionaddon.css');
//@import url('https://pharmacy-medi-market.be/_ui/addons/sapymktrecommendationaddon/responsive/common/css/sapymktrecommendationaddon.css');
//@import url('https://pharmacy-medi-market.be/_ui/addons/orderselfserviceaddon/responsive/common/css/orderselfserviceaddon.css');
//@import url('https://pharmacy-medi-market.be/_ui/addons/smarteditaddon/responsive/common/css/smarteditaddon.css');
//@import url('https://pharmacy-medi-market.be/_ui/addons/mcmcomasmaddon/responsive/common/css/mcmcomasmaddon.css');
//@import url('https://pharmacy-medi-market.be/_ui/addons/mcmcomasmaddon/responsive/common/css/storeFinder.css');
//@import url('https://pharmacy-medi-market.be/_ui/addons/assistedservicecustomerinterestsaddon/responsive/common/css/assistedservicecustomerinterestsaddon.css');



@import "partials/normalize";
@import "partials/libs";
//@import "partials/header";
@import "partials/fonts";
@import "partials/utils";
//@import "partials/footer";
@import "partials/media";
@import "partials/slick";
@import "partials/slick-theme";

@import "../../block/overlay-info-window";

.breadcrumb {

  ul {
    background-color: #fff;
    padding-top: 20px;

    li {
      display: inline-block;
      color: #707279;
      font-weight: 100;

      &+li:before {
        padding: 0 5px;
        color: #ccc;
        content: ">";
      }

      a {
        color: #63C2BB;
        text-decoration: underline;

        &:hover {
          color: #63C2BB;
        }
      }
    }
  }
}
