{% extends 'web/base/show.html.twig' %}
{% block body_class %}detail-page{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('css/web/shop/'~shop.code~'/show') }}
{% endblock %}

{% block header %}
    <header style="height: 146px;">
        <img src="{{ asset('build/images/web/shop/' ~ shop.code ~ '/lapataterie-header.png') }}" style="width: 100%; height: 100%;">
    </header>
{% endblock %}

{% block footer %}
    <footer style="height: 639px;">
        <img src="{{ asset('build/images/web/shop/' ~ shop.code ~ '/lapataterie-footer.png') }}" style="width: 100%; height: 100%;">
    </footer>
{% endblock %}

{% block javascripts_var %}
    {{ parent() }}
    {#  Map Settings for this shop (default are defind in js map folder files, DEFAULT_SETTINGS getter) #}
    <script type="text/javascript">
        var globalSettings = {
            map: {
                center: {lat: 50.62313744304004, lng: 5.365809522627387},
                zoom: 10,
            },
            geoLocationCountry: ['BE'],
            query: {
                size: 50,
                radius: 15000,
            },
            marker: {
                icon: '{{ asset('build/images/web/shop/'~shop.code~'/theme_map_icon.png') }}',
                icon_width: 30,
                icon_height: 40,
            },
        };
    </script>
{% endblock %}
