@import "../../../base/mixin";
@import "../../../base/extends";
@import "../../../base/animations";

.btn {
  transition: 0.3s ease background-color, 0.3s ease color;
  text-transform: $shop-btn-transform;
  border-radius: $shop-btn-radius;
  padding: $shop-btn-padding;
  font-size: $shop-btn-size;
  line-height: $shop-btn-line;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  outline: 0 none;
  border: 0 none;

  &.btn-primary {
    background-color: $shop-btn-primary-bg;
    color: $shop-btn-primary-color;
  }

  &.btn-primary:hover {
    background-color: $shop-btn-primary-hover-bg;
    color: $shop-btn-primary-hover-color;
    text-decoration: none;
  }
}