$font-path: '../../../../../fonts/shop/leondebruxelles-fr';

@font-face {
  font-family: 'humper';
  src: url($font-path + '/humper.eot');
  src: url($font-path + '/humper.eot?#iefix') format('embedded-opentype'),
  url($font-path + '/humper.woff2') format('woff2'),
  url($font-path + '/humper.woff') format('woff'),
  url($font-path + '/humper.svg#Humber') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'bree-regular';
  src: url($font-path + '/bree-regular.eot');
  src: url($font-path + '/bree-regular.eot?#iefix') format('embedded-opentype'),
  url($font-path + '/bree-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'bree-light';
  src: url($font-path + '/bree-light.eot');
  src: url($font-path + '/bree-light.eot?#iefix') format('embedded-opentype'),
  url($font-path + '/bree-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
