%common-style {
  font-family: $shop-font-bree-light;
  text-align: $shop-h-title-align;
  color: $shop-h-title-color;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  font-weight: $shop-title-weight;
  margin-top: 0;

  &.align-left {
    text-align: left;
  }

  &.align-center {
    text-align: center;
  }
}

* {
  font-family: $shop-font-bree-light;
}

.detail-page {
  .rating-wrapper {
    .wrapper {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
}

.shop-title-h1 {
  @extend %common-style;
  font-size: $shop-title-h1-size;
  line-height: $shop-title-h1-line;
  margin-bottom: $shop-title-h1-mb;
}

.shop-title-h2 {
  @extend %common-style;
  font-size: $shop-title-h2-size;
  line-height: $shop-title-h2-line;
  margin-bottom: $shop-title-h2-mb;

  @include media-breakpoint-down('md') {
    font-size: $shop-title-h2-size-media-lg;
    margin-bottom: $shop-title-h2-mb-media-lg;
  }

  @include media-breakpoint-down('sm') {
    font-size: $shop-title-h2-size-media-md;
    margin-bottom: $shop-title-h2-mb-media-md;
  }
}

.shop-title-h3 {
  @extend %common-style;
  font-size: $shop-title-h3-size;
  line-height: $shop-title-h3-line;
  margin-bottom: $shop-title-h3-mb;
}

.shop-title-h4 {
  @extend %common-style;
  font-size: $shop-title-h4-size;
  line-height: $shop-title-h4-line;
  margin-bottom: $shop-title-h4-mb;
}