// Shop font
$shop-font-family: "Montserrat", Helvetica, Arial, sans-serif !default;
$shop-font-helvetica: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$shop-font-roboto: 'Roboto Slab', Helvetica, Roboto, Arial, sans-serif;
$shop-font-humper: 'humper', Helvetica, Roboto, Arial, sans-serif;
$shop-font-bree-regular: 'bree-regular', Helvetica, Roboto, Arial, sans-serif;
$shop-font-bree-light: 'bree-light', Helvetica, Roboto, Arial, sans-serif;

// Base colors
$white: #fff !default;
$lite_color: #ffffff;

// Buttons
$shop-btn-primary-bg: #adcb53 !default;
$shop-btn-primary-hover-bg: #e6640e !default;
$shop-btn-secondary-bg: #2c702e;

$shop-btn-primary-color: $white !default;
$shop-btn-primary-hover-color: $white !default;
$shop-btn-padding: 10px 20px !default;

$shop-btn-radius: 0 !default;
$shop-btn-size: 12px !default;
$shop-btn-transform: none !default;
$shop-btn-line: 13.8px !default;

// Sizes
$shop-paragraph-size: 14px !default;
$shop-h1-size: 14px !default;
$shop-h2-size: 14px !default;

// Shop default text color
$shop-title-color: #adcb53 !default;

$shop-link-hover-decoration: underline !default;
$shop-link-decoration: none !default;
$shop-link-color: #adcb53 !default;
$shop-link-size: 12px !default;

$shop-paragraph-color: #727272 !default;

// titles
$shop-h-title-color: $shop-paragraph-color !default;
$shop-h-title-align: center !default;

$shop-title-h1-mb: 16px !default;
$shop-title-h2-mb: 16px !default;
$shop-title-h3-mb: 16px !default;
$shop-title-h4-mb: 5px !default;

$shop-title-h1-size: 28px !default;
$shop-title-h2-size: 24px !default;
$shop-title-h3-size: 18px !default;
$shop-title-h4-size: 16px !default;

$shop-title-weight: 400 !default;

$shop-title-h1-line: 28px !default;
$shop-title-h2-line: 24px !default;
$shop-title-h3-line: 18px !default;
$shop-title-h4-line: 21px !default;

// titles media lg
$shop-title-h2-mb-media-lg: $shop-title-h2-mb !default;
$shop-title-h2-size-media-lg: $shop-title-h2-size !default;

// titles media md
$shop-title-h2-mb-media-md: $shop-title-h2-mb !default;
$shop-title-h2-size-media-md: $shop-title-h2-size !default;


// Navbar
$shop-navbar-color: #fff !default;
$shop-navbar-zindex: 100 !default;
$shop-navbar-link-size: 16px !default;
$shop-navbar-link-hover-color: #ADCB53 !default;
$shop-navbar-link-decoration: none !default;
$shop-navbar-link-color: #00512A !default;
$shop-link-transition: all 250ms ease-out !default;

// Components

// input
$shop-input-transition: box-shadow 0.5s, border-color 0.25s ease-in-out !default;
$shop-input-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1) !default;
$shop-input-color: $shop-paragraph-color !default;
$shop-input-border: 1px solid #cacaca !default;
$shop-input-placeholder-color: #cacaca !default;
$shop-input-text-align: left !default;
$shop-input-padding: 5px !default;
$shop-input-height: 34px !default;
$shop-input-bg: #fefefe !default;
$shop-input-size: 12px !default;
$shop-input-radius: 0 !default;

$shop-input-focus-color: $shop-paragraph-color !default;
$shop-input-focus-shadow: 0 0 5px #cacaca !default;
$shop-input-focus-border-color: #8a8a8a !default;
$shop-input-focus-bg: $shop-input-bg;

// Proximities list
$shop-proximite-title-size: 13px !default;
$shop-proximite-title-line: 13px !default;
$shop-proximite-distance-size: 10px !default;
$shop-proximite-distance-line: 10px !default;
$shop-proximite-distance-margin: 2px 0 5px !default;
$shop-proximite-title-weight: 500 !default;
$shop-proximite-title-minh: 30px !default;
$shop-proximite-title-margin: 0 !default;
$shop-proximite-distance-color: $shop-paragraph-color !default;
$shop-proximite-marker-padding: 0 15px 4px !default;
$shop-proximite-moreinfo-size: 12px !default;
$shop-proximite-marker-maxw: 20% !default;

// Section
$shop-section-padding: 33px 0 0 !default;
$shop-section-margin: 0 0 46px 0 !default;
$shop-section-border-style: solid !default;
$shop-section-border-w: 2px 0 0 0 !default;
$shop-section-border-color: #eee !default;
$shop-section-bg: #f7f6f6 !default;

// Map itinerary
$shop-map-itinerary-option-w: 412px !default;
$shop-map-itinerary-option-border:  1px solid #cfcfcf !default;
$shop-map-itinerary-option-radius: 0px 4px 4px 0 !default;
$shop-map-itinerary-map-h: 550px !default;
$shop-map-itinerary-map-bg: #f7f6f6 !default;
$shop-map-itinerary-map-radius: 4px 0 0 4px !default;
$shop-map-itinerary-map-border-w: 1px 0 1px 1px !default;
$shop-map-itinerary-map-border-color: #cfcfcf !default;
$shop-map-itinerary-search-radius: 0 !default;

// Map top
$shop-map-top-h: 350px;

// Services list
$shop-service-list-padding: 0 !default;
$shop-service-icon-size: 35px !default;

// Map list
$shop-map-border-radius: 0 4px 4px 0 !default;
$shop-map-shadow: -20px 0 15px -15px rgba(0, 0, 0, 0.1) !default;
$shop-list-scroll-height: 545px !default;
$shop-map-list-scrol-bar-pr: 0 !default;
$shop-map-width: 320px !default;
$shop-map-padding: 16px !default;
$shop-map-right-padding: 320px !default;
$shop-map-border: 1px solid #ececec !default;
$shop-map-list-container-position: 0 0 0 null !default;
$shop-map-list-header-padding: 10px !default;
$shop-map-list-header-border-bottom: 1px solid #cacaca!default;
$shop-map-list-container-border: 1px solid #ececec !default;
$shop-map-list-more-info-color: $shop-link-color !default;
$shop-map-list-more-info-margin: 10px 0 0 6px !default;
$shop-map-list-wrapper-padding: 49px 58px !default;
$shop-map-list-search-filter-p: 7px 0 0 !default;
$shop-map-list-hours-action-p: 0 29px 0 0 !default;
$shop-map-list-hours-action-color: #639b49 !default;
$shop-map-list-hours-action-size: 15px !default;
$shop-map-list-hours-action-line: 17px !default;
$shop-map-list-hours-action-close-icon: "\F0DD" !default;
$shop-map-list-hours-action-open-icon: "\F0DE" !default;
$shop-map-list-hours-action-icon-position: -2px 0 null null !default;
$shop-map-list-search-btn-margin: 0 !default;
$shop-map-list-search-btn-h: $shop-input-height !default;
$shop-map-list-search-btn-w: auto !default;
$shop-map-list-search-btn-transform: uppercase !default;

$shop-map-list-geolocation-btn-size: $shop-btn-size !default;
$shop-map-list-geolocation-btn-padding: $shop-btn-padding !default;

$shop-location-item-pt: 17px !default;
$shop-location-item-pr: 15px !default;
$shop-location-item-pb: 23px !default;
$shop-location-item-pl: 67px !default;

$shop-location-item-before-border: 1px solid #cacaca !default;
$shop-location-item-before-position: 0 -16px null -16px !default;
$shop-location-item-before-height: 1px !default;

$shop-location-title-color: #ADCB53 !default;
$shop-location-title-size: 13px !default;
$shop-location-title-line: 20px !default;
$shop-location-title-weight: 500 !default;
$shop-location-title-decoration: none !default;

$shop-location-address-margin: 7px !default;
$shop-location-address-size: 12px !default;
$shop-location-address-line: 18px !default;

$shop-marker-url: '/img/louisdelhaize-be/theme_map_icon.png' !default;
$shop-marker-color: $white !default;
$shop-marker-weight: bold !default;
$shop-marker-size: 14px !default;
$shop-marker-w: 33px !default;
$shop-marker-h: 46px !default;

$shop-distance-size: 10px !default;

// Neat grid
$shop-gutter: 15px;
$default-neat-grid: (
        columns: 12,
        gutter: $shop-gutter,
        media: 1200px,
        color: transparent
);

$enable-grid-classes: true !default;

// Grid breakpoints
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);

// Grid containers
$container-max-widths: (
        sm: 720px,
        md: 920px,
        lg: 1120px,
        xl: 1200px
) !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");

// Grid columns
$grid-columns:                12 !default;
$grid-gutter-width:           30px !default;

//paths
$img_path: '../../../images/';