.footer {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    @media (min-width: #{$small_screen_up}) {
      width: 540px;
      max-width: 100%;
    }

    @media (min-width: #{$mobile_down}) {
      width: 720px;
      max-width: 100%;
    }

    @media (min-width: #{$tablet}) {
      width: 960px;
      max-width: 100%;
    }

    @media (min-width: #{$desktop}) {
      width: 1140px;
      max-width: 100%;
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .col-md-4,
  .col-md-8 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-md-4 {
    @media (min-width: #{$mobile_up}) {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
  }

  .col-md-8 {
    @media (min-width: #{$mobile_up}) {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }
  }

  h6 {
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 14.4px;
    line-height: 16px;
    font-weight: 600;
    color: $white;
    opacity: 0.5;
  }

  ul {
    margin: 15px 0 0;

    li {
      padding: 4px 0;

      a {
        color: $white;
        font-size: 16px;
        line-height: 24px;
        text-decoration: none;

        &:hover {
          @media (min-width: #{$mobile_up}) {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.footer-tall {
  background: $blue;
  padding: 40px 20px;
}

.footer-short, 
.footer-tall {
  color: $white;
  display: block;
  position: relative;
}

.footer-short {
  background: #003f7a;
  padding: 26px 20px 20px 20px;

  .copyright {
    display: block;
    font-size: 13px;
    color: $blue_6d;

    @media (max-width: #{$mobile_down}) {
      text-align: center;
      display: block;
      margin-top: 10px;
    }
  }

  .footer-short-links {
    @media (max-width: #{$mobile_down}) {
      display: block;
      margin: 15px auto 20px;
      padding: 20px 0;
      border-bottom: 1px solid $blue;
      border-top: 1px solid $blue;
    }
  }

  .footer-short-links-item {
    margin-left: 12px;
    padding: 3px 0 4px 16px;
    border-left: 1px solid #587c9e;
    color: $white;
    text-decoration: none;
    cursor: pointer;

    @media (max-width: #{$mobile_down}) {
      border-left: 0;
      margin: 0;
      padding: 4px 12px;
    }

    &:hover {
      @media (min-width: #{$mobile_up}) {
        text-decoration: underline;
      }
    }
  }

  .social-links {
    text-align: right;

    @media (max-width: #{$mobile_down}) {
      text-align: center;
    }

    a {
      cursor: pointer;
      color: $white;
      text-decoration: none;

      .fa {
        margin-right: 8px;
        font-size: 16px;
        color: $white;

        &:hover {
          @media (min-width: #{$mobile_up}) {
            opacity: 0.7;
          }
        }
      }
    }
  }
}















