.header {
  &.header-active {
    background-color: rgba(255,255,255,.95);
    margin-top: 0;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    border-bottom: 1px solid #ececec
  }
}

.header-container {
  width: 100%;
  max-width: 1115px;
  margin: auto;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;

  @media (max-width: #{$tablet}) {
    padding-right: 8px;
  }
}

.header-container-nav-mob {
  display: none;

  @media (max-width: #{$tablet}) {
    display: block;
  }

  a {
    color: $gray_44;
    display: inline-block;
    vertical-align: middle;
    padding: 8px;
    line-height: 20px;
    text-decoration: none;
    font-size: 16px;

    &:hover {
      i {
        color: #1b508f;
      }
    }

    &.watchlist-signed-out-mobile {
      display: none;
    }

    &.off-canvas-menu-button {
      font-size: 15px;
      margin-left: 8px;
      margin-right: 5px;
    }
  }
}

.header-container-nav {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: #{$tablet}) {
    justify-content: flex-end;
  }
}

.header-container-nav-primary {
  @media (max-width: #{$tablet}) {
    display: none;
  }

  ul {
    display: flex;
    align-items: center;
    padding-left: 27px;

    li {
      font-size: 14px;
      line-height: 15px;
      font-weight: 400;
      padding: 20px 14px;

      &.dropdown {
        position: relative;

        .dropdown-item {
          color: $blue;
          font-size: 12px;
          transition: all .4s;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 10px;
          display: block;

          &:hover {
            color: $black_22
          }
        }

        &.megamenu {
          div.mega-fw {
            .mm-main {
              display: flex;
              .menu-col {
                border-left: 1px solid $gray;
                padding: 16px;
                height: auto;
                width: 186px;

                &:first-child {
                  border-left: none;
                }
              }
            }

            .mm-promo {
              padding: 16px 16px 0 16px;
              border-left: 1px solid $gray;
              background: #f7f7f7;

              .card {
                width: 168px;
                margin: 0 auto 16px;
                border-radius: 2px;
                box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
                position: relative;
                display: flex;
                flex-direction: column;
                border-color: rgba(0,0,0,.125);
                background-color: $white;
                border: 1px solid rgba(0,0,0,.125);

                .img {
                  width: 167px;
                  height: 88px;
                  background-size: cover;
                  border-radius: 2px 2px 0 0;
                }

                .promo-title {
                  padding: 10px;
                  margin: 0;
                  font-size: 14px;
                  color: $black_2b;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                }
              }
            }

            .dropdown-item {
              padding: 5px 0;
            }

            .section-heading {
              color: $black_2b;
              margin: 0;
              padding: 24px 0 6px;
              font-size: 12px;
              line-height: 14px;
            }

            .link-buynow {
              font-weight: 600;
              display: flex;

              .icon-buynow {
                background-image: url('#{$img_path}/icon-buynow.svg');
                width: 16px;
                height: 16px;
                background-repeat: no-repeat;
                background-size: contain;
                margin-left: 6px;
              }
            }

            h5 {
              font-size: 15px;
              padding: 7px 0;
              transition: all .2s ease-in-out;
              margin-bottom: 8px;

              &:hover {
                padding-left: 3px;
              }

              .ion-chevron-right {
                font-size: 10px;
              }
            }

            .brand-cars {
              color: $green;

              &:hover {
                color: $green_hover;
              }
            }

            .brand-industrial {
              color: $yellow;

              &:hover {
                color: #eca109;
              }
            }

            .brand-salvage {
              color: $green_5b;

              &:hover {
                color: $green_45
              }
            }

            .brand-goods {
              color: $gray_8d;

              &:hover {
                color: #747474;
              }
            }
          }
        }
      }

      &:hover {
        &.nav-item  {
          .nav-link,
          .dropdown-toggle {
            border-bottom: 2px solid $blue;
          }
        }

        &.dropdown {
          .dropdown-menu {
            opacity: 1;
            visibility: visible;
            height: auto;
          }
        }
      }

      a {
        text-decoration: none;
        color: $gray_44;
        font-size: 14px;
        line-height: 15px;
        font-weight: 400;
        padding: 1px 0;

        &.dropdown-toggle {
          &:after {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: .3em;
            vertical-align: middle;
            content: "";
            border-top: .3em solid;
            border-right: .3em solid transparent;
            border-left: .3em solid transparent;
          }
        }
      }
    }
  }
  .dropdown-menu {
    position: absolute;
    top: 43px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    height: 0;
    padding: 0;
    min-width: 150px;
    margin-top: 12px;
    z-index: 9999;
    box-shadow: 0 5px 20px -3px rgba(0,0,0,.5);
    background-color: $white;
    transition-duration: .5s;

    &:after {
      position: absolute;
      left: 20%;
      top: -8px;
      width: 0;
      height: 0;
      content: "";
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #fff;
    }
  }
}

.header-container-nav-secondary {
  @media (max-width: #{$tablet}) {
    display: none;
  }

  ul {
    li {
      display: none;

      &.sliding-search {
        font-size: 14px;
        line-height: 15px;
        font-weight: 400;
        padding: 10px 14px;
        position: relative;
        display: block;

        &.show {
          .dropdown-content-search {
            opacity: 1;
          }
        }
      }

      .nav-link {
        color: $gray_44;
        padding: 2px 0;
        margin: 0 8px;
        font-size: 15px;
      }
    }
  }
}

.dropdown-content-search {
  position: absolute;
  width: 300px;
  height: 45px;
  left: -240px;
  box-shadow: 0 5px 20px -3px rgba(0,0,0,.5);
  transition: .3s ease-in-out;
  opacity: 0;
  top: 50px;
  z-index: 101;

  &:after {
    position: absolute;
    right: 8%;
    top: -8px;
    width: 0;
    height: 0;
    content: "";
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid $white;
  }

  .input-group {
    background-color: $white;

    input[type=text] {
      display: block;
      height: 45px;
      outline: none;
      border-radius: 0;
      flex: 1;
      font-size: 15px;
      padding: 10px 5px;

      &::placeholder {
        font-weight: 600;
        color: #a8a8a8;
        font-size: 13px;
      }
    }

    .close-c-search {
      box-shadow: none;
      cursor: pointer;
      border: 0;
      color: $gray_66;
      display: block;
      padding: 15px;

      .fa {
        color: $gray_66;
      }
    }
  }

  .dropdown {
    position: relative;

    &.show {
      .dropdown-menu {
        display: block;
      }
    }

    .dropdown-toggle {
      border: none;
      border-radius: 0;
      padding: 1px 7px 0 10px;
      height: 45px;
      font-size: 10px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1px;
      color: $gray_88;
      background: $gray_f8;
      cursor: pointer;
      outline: none;
      white-space: nowrap;

      &:after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: .3em;
        vertical-align: middle;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-left: .3em solid transparent;
      }
    }

    .dropdown-menu {
      padding: 0;
      min-width: 150px;
      border-radius: 0;
      margin-top: 12px;
      z-index: 9999;
      box-shadow: 0 5px 20px -3px rgba(0,0,0,.5);
      background-color: $white;
      position: absolute;
      top: 100%;
      left: 0;
      display: none;

      &:after {
        position: absolute;
        left: 22%;
        top: -8px;
        width: 0;
        height: 0;
        content: "";
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid $white;
      }

      a {
        padding: 15px;
        color: $blue;
        text-decoration: none;
        font-size: 12px;
        line-height: 14px;
        display: block;
        cursor: pointer;

        &.active {
          font-weight: 600;
          position: relative;
          background-color: $gray_f8;

          &:after {
            position: absolute;
            display: inline-block;
            right: 15px;
            font-size: 24px;
            margin-top: 0;
            content: "\f3fd";
            font-family: $Ionicons_font;
          }
        }
      }
    }
  }
}

.header-container-logo {
  padding: 13px 20px 15px 0;
  display: block;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -.5px;
  line-height: 26px;
  color: $white;
  white-space: nowrap;

  i,
  .icon {
    color: $blue;
    display: block;
    margin: 3px 0 5px 1px;
    font-size: 20px;
  }
}

.menu-sidebar {
  position: fixed;
  bottom: 0;
  top: 0;
  transition: width .3s;
  left: -85%;
  width: 85%;
  overflow-y: scroll;
  overflow-x: hidden;
  border-right: 1px solid $gray;
  background: white;
  color: $black_2b;
  z-index: 101;

  @media (min-width: #{$mobile_up}) {
    left: -50%;
    width: 50%;
  }

  .col-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    min-height: 1px;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .col-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .search-tabs {
    color: $black_2b;

    .d-flex {
      display: flex;
    }

    .search-tab-item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 12px 0;
      background: #fff;
      color: $blue;
      font-size: 14px;

      a {
        color: $blue;
      }

      &.active {
        background: rgba(202,202,202,.5);

        a {
          color: $black_2b;
        }
      }

      a {
        text-transform: capitalize;
        letter-spacing: 0;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }

  .mobile-content-search {
    padding: 16px 15px;
    background: rgba(202,202,202,.5);

    .SearchButton {
      background: $blue;
      color: $white;
      height: 40px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      padding: 12px 16px;
      border: 0;

      i {
        font-size: 15px;
        color: $white;
      }
    }
  }

  .input-group {
    .form-control {
      height: 40px;
      margin-top: 0;
      border: 1px solid white;
      box-sizing: border-box;
    }
  }

  #pickles-sidebar-login-widget-space {
    width: 100%;
  }
}

.input-group {
  position: relative;
  display: flex;
  width: 100%;

  .form-control {
    position: relative;
    z-index: 2;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    outline: none;
    font-size: 16px;
    border: 1px solid $white;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

    &::placeholder {
      color: #646c72;
      font-size: 16px;
    }

    &:focus {
      border-color: rgba(0,76,147,.5);
    }
  }
}

.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}

.input-group .form-control, .input-group-addon, .input-group-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-container {
  .mobile-menu {
    margin: 20px auto 0;

    div {
      border-bottom: 1px solid rgba(255,255,255,.16);
    }

    .nav-items {
      flex: 0 0 100%;
      list-style: none;
      max-height: 0;
      overflow: hidden;

      &.first-item {
        max-height: initial;
      }
    }

    .nav-item {
      border-bottom: solid 1px #cacaca;
      margin-left: 40px;

      &.active {
        > .nav-expand-content {
          -webkit-transform: translateX(0);
          transform: translateX(0);
          overflow-y: auto;
          visibility: visible;
          padding-bottom: 40px;
        }
      }

      h6 {
        display: block;
        padding: 14px 16px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 0;
      }
    }

    .link-buynow {
      .icon-buynow {
        background-image: url('#{$img_path}/icon-buynow.svg');
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 8px;
        display: inline-block;
      }
    }

    .nav-link {
      display: block;
      padding: 14px 16px;
      color: $blue;
      font-size: 16px;
      line-height: 19px;
      align-items: center;
      text-decoration: none;

      i {
        padding: 0 8px;
      }
    }

    .nav-expand-link {
      display: flex;
      justify-content: space-between;
      color: $gray_66;
      font-weight: 600;
    }

    .nav-expand-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 100%;
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      background-color: #fff;
      transition: .3s;
      visibility: hidden;
      z-index: 2;
      margin-left: 0;

      .nav-back-link {
        display: flex;
        align-items: center;
        padding-left: 0;
        color: $gray_66;
        height: 48px;
        margin-bottom: 8px;
        margin-top: 8px;
        font-weight: 600;
        margin-left: -28px;

        span {
          font-size: 16px;
          line-height: 20px;
          font-weight: 600;
        }

        i {
          color: $blue;
          margin-right: 16px;
        }
      }
    }

    h5 {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0;
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
      width: 100%;
    }

    .brand-industrial {
      color: $yellow;

      i {
        color: $yellow;
      }
    }

    .brand-cars {
      color: $green;

      i {
        color: $green;
      }
    }

    .brand-salvage {
      color: $green_5b;

      i {
        color: $green_5b;
      }
    }

    .brand-goods {
      color: $gray_8d;

      i {
        color: $gray_8d;
      }
    }

    .mm-promo {
      margin-left: 0;
      margin-top: 40px;
      border-top: solid 1px $gray;
      border-bottom: solid 1px $gray;
      padding: 5px 20px;
      background-color: #f7f7f7;

      .card {
        flex-direction: row;
        align-items: center;
        border-radius: 2px;
        box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
        margin: 16px 8px 16px 0;
        border-bottom: 0;
        position: relative;
        display: flex;
        background-color: $white;

        .promo-image-link {
          flex: 0 0 100px;
          margin-right: 8px;

          .img {
            border-radius: 2px 0 0 2px;
            width: 104px;
            height: 56px;
            background-size: cover;
          }
        }

        .promo-title {
          margin: 0;
          padding-right: 8px;
          font-size: 14px;
          color: $black_2b;
          text-overflow: ellipsis;
          line-height: 16px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
      }
    }
  }

  .mobile-menu-login-wrapper {
    padding: 10px;
    text-align: center;

    a {
      color: $blue;
      text-decoration: underline;
      display: inline-block;
    }
  }
}












