{% spaceless %}
    <div class="info-window-block">
        <div class="location-summary">
            <div class="info-window-content">

                 <h5><a href="{{ path('app_web_shop_show', {'_locale': app.request.locale, 'slug': '__slug__'}) }}" target="_self">__name__</a></h5>

                <div class="show-open-window" data-id="__externalId__">
                    <address>__address__</address>
                    <a  data-gtm_event="call" data-gtm_event_value="__externalId__" href="tel:__phone__" class="tel ga-cta">Tel: <span class="list-phone">__phone__</span></a>
                </div>

                <div class="open-close-box">
                    <div class="open-box __openClass__">
                        <span class="open-label">__openLabel__</span>
                        <span class="open-sentence">__openSentence__</span>
                    </div>
                    <div class="small-schedule">
                        <table class="table-schedule"></table>
                    </div>
                </div>

                <div class="open-hours-exceptions">
                    <div class="shedule-exception exception-small">
                        <h5 class="is-open">{{ 'app.web.global.open_hours.exceptions.open'|trans }}</h5>
                    </div>

                    <div class="shedule-exception exception-small">
                        <h5 class="is-closed">{{ 'app.web.global.open_hours.exceptions.closed'|trans }}</h5>
                    </div>
                </div>

                <div class="btn-group">
                <a class="button __reservationClass__ secondary" href="__reservationUrl__" rel="nofollow" target="_blank">{{ "app.web.home.buttons.reserver"|trans({}, shop.code) }}</a>
                <a class="button border-btn border-btn-black hover-black-btn" href="https://commandes.3brasseurs.com/home" target="_blank">{{ "app.web.show.buttons.click"|trans({}, shop.code) }}</a>

                <div class="half-block icon-block">
                     <a href="__uberUrl__" class="button btn-green uber-logo  __uberClass__" target="_blank">
                        <img src="{{ asset('/build/images/web/shop/les3brasseurs-fr/new-uber-logo.png') }}">
                    </a>
                    <a href="__deliverooUrl__" class="button btn-green delivero-logo __deliverooClass__" target="_blank">
                        <img src="{{ asset('/build/images/web/shop/les3brasseurs-fr/deliveroo.png') }}">
                    </a>
                </div>
                <div class="half-block">
                    <a data-gtm_event="itinerary" data-gtm_event_value="__externalId__"  class="button itinerary ga-cta" href="https://www.google.com/maps?saddr=My+Location&daddr=__latitude__,__longitude__" target="_blank" data-itineraire="__latitude__,__longitude__">{{ "app.web.home.buttons.itineraire"|trans({}, shop.code) }}</a>
                    <a  data-gtm_event="impressionMap" data-gtm_event_value="__externalId__" class="button btn-gray ga-cta" href="{{ path('app_web_shop_show', {'_locale': app.request.locale, 'slug': '__slug__'}) }}">{{ "app.web.home.buttons.plus_info"|trans({}, shop.code) }}</a>
                </div>
            </div>

            </div>
        </div>
    </div>
{% endspaceless %}