{% apply spaceless %}
    <li class="location-summary">
        <h5>
            <a data-gtm_event="impression" data-gtm_event_value="__externalId__" href="{{ path('app_web_shop_show', {'_locale': app.request.locale, 'slug': '__slug__'}) }}" class="ga-cta">__name__</a>
        </h5>

        <address>__address__</address>

        {% if showPhone is defined and showPhone %}
            <div class="location-phone"><a href="tel:__phone__" data-gtm_event="call" data-gtm_event_value="__externalId__" class="ga-cta">__phone__</a></div>
        {% endif %}

        {% if openHours is defined and openHours %}
            <div class="open-close-box">
                <div class="open-box __openClass__">
                    <span class="open-label">__openLabel__</span>
                    <span class="open-sentence">__openSentence__</span>
                </div>
                <div class="small-schedule">
                    <table class="table-schedule"></table>
                </div>
            </div>

            <div class="open-hours-exceptions">
                <div class="shedule-exception exception-small">
                    <h5 class="is-open">{{ 'app.web.global.open_hours.exceptions.open'|trans }}</h5>
                </div>

                <div class="shedule-exception exception-small">
                    <h5 class="is-closed">{{ 'app.web.global.open_hours.exceptions.closed'|trans }}</h5>
                </div>
            </div>
        {% endif %}
    </li>
{% endapply %}