{% extends 'web/base/show.html.twig' %}
{% block body_class %}detail-page{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('css/web/shop/hackett-int/show') }}
{% endblock %}

{% block header %}
    {% include 'web/shop/' ~ shop.code ~ '/layout/header.html.twig' %}
{% endblock %}

{% block content %}
    {% include 'web/shop/'~shop.code~'/block/location_details.html.twig' %}
    {% include 'web/block/location_promotions/with_slideshow.html.twig' %}
    {% include 'web/shop/'~shop.code~'/block/near_location_simple.html.twig' %}
{% endblock %}


{% block footer %}
    {% include 'web/shop/' ~ shop.code ~ '/layout/footer.html.twig' %}
{% endblock %}


{% block javascripts_var %}
    {{ parent() }}

    <script>
        var globalSettings = {
            near_query: {
                size: 6,
                radius: 200000
            },
            marker: {
                icon: '{{ asset('build/images/web/shop/'~shop.code~'/theme_map_icon.png') }}',
                icon_width: 50,
                icon_height: 50,
            },
            geoLocationCountry: ['UK', 'FR', 'DE', 'ES', 'IT', 'PT', 'MX', 'SE', 'BE', 'CZ','HU', 'PA', 'NL', 'PL'],
        };
    </script>
{% endblock %}