<footer class="main-footer">
    <div class="pre-footer">
        <div class="footer-banners container">
            <div class="footer-banners"><div class="footer-banners-wrap"><div class="footer-banner"><h4 class="name">Trouvez votre pharmacie Lloydspharma</h4><span class="description">Lloydspharma, c'est 100 pharmacies. Vous trouverez ici de manière simple toutes nos pharmacies. <a href="https://storelocator.lloydspharma.be/">Trouvez une pharmacie.</a></span></div><div class="footer-banner"><h4 class="name">Prenez contact avec nous</h4><span class="thumb"><span class="streamline-customer-service"> </span></span><span class="description">Nous faisons de notre mieux pour vous aider le plus rapidement et le plus efficacement possible. <a href="/contact">Contactez-nous.</a></span></div></div></div><nav class="links">
                <ul class="links-list js-droplist">
                </ul>
            </nav>
            <nav class="links links products-categories">
            </nav>
        </div>
    </div>


    <div class="footer-line">
        <div class="container">
            <div class="footer-column copyright"> <a><img src="/_ui/addons/pearllloydsbestorefrontaddon/images/lloydsPharmaBE-logo.png" alt=""></a><span>LloydsPharma Group SA/NV<br></span><span>Numéro d'entreprise: 0436826929<br></span> <a href="conditions-générales/a/A63004">Conditions Générales</a></div><div class="footer-column line-1"><span>Pharmacie Lloydspharma Ostende certifiée AFMPS<br></span> </div><div class="footer-column line-2"> <a target="_blank" href="http://www.fagg-afmps.be/fr/humain/medicaments/medicaments/distribution/pharmacies_ouvertes_au_public/Site_Internet_d_une_pharmacie/LstPharmacies#351301"> <img src="/_ui/addons/pearllloydsbestorefrontaddon/images/LogoSancoInternet_BE-fr_B-336.png" alt=""> </a></div><div class="footer-column line-3"> <img src="/_ui/addons/pearllloydsbestorefrontaddon/images/becommercelogo.png" alt=""></div><div class="footer-column line-4"> <div class="payment-methods"> <ul> <li class="payment-method ingenico"><img src="/_ui/addons/pearllloydsbestorefrontaddon/images/ingenico.png" alt=""></li><li class="payment-method bancontact"><img src="/_ui/addons/pearllloydsbestorefrontaddon/images/bancontact.png" alt=""></li><li class="payment-method visa"><img src="/_ui/addons/pearllloydsbestorefrontaddon/images/visa.png" alt=""></li><li class="payment-method mastercard"><img src="/_ui/addons/pearllloydsbestorefrontaddon/images/mastercard.png" alt=""></li><li class="payment-method inghomepay"><img src="/_ui/addons/pearllloydsbestorefrontaddon/images/inghomepay.png" alt=""></li><li class="payment-method belfius"><img src="/_ui/addons/pearllloydsbestorefrontaddon/images/belfiuslogo.jpg" alt=""></li></ul> </div><div class="social-media"> <span class="title">Suivez-nous</span> <a href="https://www.facebook.com/lloydspharma.be/" class="streamline-facebook"></a> <a href="https://www.instagram.com/lloydspharma.be/" class="streamline-instagram"></a> <a href="https://www.youtube.com/channel/UCltagOlve7LvV14vXl3vfZA" class="streamline-youtube"></a> </div></div></div>
    </div><div class="container">
        <div class="row">
        </div>


    </div>

    <div class="copyright">
        <div class="container"></div>
    </div>

</footer>