<footer class="main-footer">
    <div class="pre-footer">
        <div class="footer-banners container">
            <div class="footer-banners"><div class="footer-banners-wrap"><div class="footer-banner"><h4 class="name">Vind je apotheek Lloydspharma</h4><span class="thumb"> </span><span class="description"> Lloydspharma heeft 100 apotheken. Hier vind je eenvoudig al onze apotheken <a href="https://storelocator.lloydspharma.be/">Vind apotheek</a></span></div><div class="footer-banner"><h4 class="name">Neem contact met ons op</h4> <span class="description"> Wij doen onze uiterste best om je zo goed en zo snel mogelijk te helpen. <a href="/contact">Contacteer ons</a></span></div></div></div><nav class="links">
                <ul class="links-list js-droplist">
                </ul>
            </nav>
            <nav class="links links products-categories">
            </nav>
        </div>
    </div>


    <div class="footer-line">
        <div class="container">
            <div class="footer-column copyright"> <a><img src="/_ui/addons/pearllloydsbestorefrontaddon/images/lloydsPharmaBE-logo.png" alt=""></a><span>LloydsPharma Group SA/NV<br></span><span>Ondernemingsnummer: 0436826929<br></span><a href="/algemene-voorwaarden/a/A63004">Algemene voorwaarden</a></div><div class="footer-column line-1"><span>Apotheek LloydsPharma Petit Paris Oostende gecertifieerd door FAGG<br></span> </div><div class="footer-column line-2"> <a target="_blank" href="https://www.fagg.be/nl/MENSELIJK_gebruik/geneesmiddelen/geneesmiddelen/distributie_aflevering/officina/website_apotheek/LstPharmacies#351301"> <img src="/_ui/addons/pearllloydsbestorefrontaddon/images/LogoSancoInternet_BE-nl_B-336.png" alt=""> </a></div><div class="footer-column line-3"> <img src="/_ui/addons/pearllloydsbestorefrontaddon/images/becommercelogo.png" alt=""></div><div class="footer-column line-4"> <div class="payment-methods"> <ul> <li class="payment-method ingenico"><img src="/_ui/addons/pearllloydsbestorefrontaddon/images/ingenico.png" alt=""></li><li class="payment-method bancontact"><img src="/_ui/addons/pearllloydsbestorefrontaddon/images/bancontact.png" alt=""></li><li class="payment-method visa"><img src="/_ui/addons/pearllloydsbestorefrontaddon/images/visa.png" alt=""></li><li class="payment-method mastercard"><img src="/_ui/addons/pearllloydsbestorefrontaddon/images/mastercard.png" alt=""></li><li class="payment-method inghomepay"><img src="/_ui/addons/pearllloydsbestorefrontaddon/images/inghomepay.png" alt=""></li><li class="payment-method belfius"><img src="/_ui/addons/pearllloydsbestorefrontaddon/images/belfiuslogo.jpg" alt=""></li></ul> </div><div class="social-media"> <span class="title">Volg ons:</span> <a href="https://www.facebook.com/lloydspharma.be/" class="streamline-facebook"></a> <a href="https://www.instagram.com/lloydspharma.be/" class="streamline-instagram"></a> <a href="https://www.youtube.com/channel/UCltagOlve7LvV14vXl3vfZA" class="streamline-youtube"></a> </div></div></div>
    </div><div class="container">
        <div class="row">
        </div>


    </div>

    <div class="copyright">
        <div class="container"></div>
    </div>

</footer>