<header id="main-header" class="main-header">
    <div class="container">
        <nav class="secondary-navigation">

            <div class="yCmsContentSlot container lang-switcher">
                <form id="lang_form_" class="lang-form" action="/_s/language" method="post"><label for="nl_BE" class="">
                        <input type="submit" name="code" value="nl_BE" id="nl_BE">
                    </label>
                    <label for="fr_BE" class="active">
                        <input type="submit" name="code" value="fr_BE" id="fr_BE">
                    </label>
                    <div>
                        <input type="hidden" name="CSRFToken" value="3bacbaba-20a1-487d-a0bf-6b69e69c7b03">
                    </div></form></div><ul>
                <li class="yCmsComponent">
                    <a href="https://storelocator.lloydspharma.be/fr" title="Trouvez ma pharmacie">Trouvez ma pharmacie</a></li><li class="yCmsComponent">
                    <a href="/%c3%80-propos-de-nous/wecare/d%c3%a9couvrez-notre-programme-de-fid%c3%a9lit%c3%a9-wecare/a/A000012" title="Carte Fidélité WeCare">Carte Fidélité WeCare</a></li><li class="yCmsComponent">
                    <a href="/c/AC000011" title="À propos de nous">À propos de nous</a></li><li class="yCmsComponent">
                    <a href="/contact" title="Nous contacter">Nous contacter</a></li></ul>
            <ul>










                <li class="log_in">

                    <a href="/login">
                        <span class="streamline-user icon"></span><span class="text">
                    Nouvel utilisateur / connexion
                </span>
                    </a>

                </li>



            </ul>
        </nav>
    </div>
    <div class="container-fluid js-scroll-attach">
        <div class="container">
            <button class="main-nav-trigger" aria-controls="bs-navbar"><span class="sr-only">Veksle navigasjon</span></button>
            <div class="site-logo">
                <div class="simple-banner-component">
                    <a href="/"><img alt="Lloydspharma" src="/medias/LLP-FR-Et-la-sante-vous-sourit-VECTORISE-HD.png?context=bWFzdGVyfHJvb3R8MzA5OTV8aW1hZ2UvcG5nfGgwOS9oMTAvOTc0NTA3NjUxODk0Mi5wbmd8ZGI5ZDg2YzIyM2MzYTU0NThkOWE1NzRkZjFiY2E5YTk4ZGFkMDJiNWMwNzIxMmZkYmE1MWY5MmQyOGQwNDZlYw"></a>
                </div></div>

            <div class="navigations-wrapper">
                <nav class="main-navigation js-navigation" role="navigation">
                    <ul class="root-level">
                        <li class="has-children menu-item" aria-haspopup="true">
                            <a href="/produits/c/l0" title="Produits" class="gtm-topmenu-product-categories">Produits</a><ul class="cd-dropdown cd-dropdown-content is-hidden" aria-hidden="true" aria-haspopup="true">
                                <li class="go-back"><a href="#0" class="gtm-topmenu-product-categories">Retour </a></li>
                                <li class="see-all"><a href="/produits/c/l0" class="gtm-topmenu-product-categories">Voir tout&nbsp;Produits</a>
                                </li>
                                <li class=" menu-item">
                                    <a href="/brands" title="Sélection par Marque" class="gtm-topmenu-product-categories">Sélection par Marque</a></li>

                                <li class=" menu-item">
                                    <a href="/produits/nos-promotions-de-janvier/c/Promo%20de%20Mars" title="Nos promotions du mois" class="gtm-topmenu-product-categories">Nos promotions du mois</a></li>

                                <li class=" menu-item">
                                </li>

                                <li class=" menu-item">
                                    <a href="/produits/nos-produits-careway/c/C0" title="Nos produits Careway" class="gtm-topmenu-product-categories">Nos produits Careway</a></li>

                                <li class="has-children menu-item" aria-haspopup="true">
                                    <a href="/produits/minceur%2c-alimentation-%26-vitamines/c/2" title="Minceur, alimentation &amp; vitamines" class="gtm-topmenu-product-categories">Minceur, alimentation &amp; vitamines</a><ul class="cd-dropdown cd-secondary-dropdown is-hidden">
                                        <li class="go-back menu-item"><a href="#/produits/c/l0-back" class="gtm-topmenu-product-categories">Retour </a></li>
                                        <li class="see-all menu-item"><a href="/produits/minceur%2c-alimentation-%26-vitamines/c/2" class="gtm-topmenu-product-categories">Voir tout&nbsp;Minceur, alimentation &amp; vitamines</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/produits/minceur%2c-alimentation-%26-vitamines/alimentation/c/124" title="Alimentation" class="gtm-topmenu-product-categories">Alimentation</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/minceur%2c-alimentation-%26-vitamines/vitamines-et-compl%c3%a9ments-nutritionnels/c/126" title="Vitamines et compléments nutritionnels" class="gtm-topmenu-product-categories">Vitamines et compléments nutritionnels</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/minceur%2c-alimentation-%26-vitamines/minceur/c/123" title="Minceur" class="gtm-topmenu-product-categories">Minceur</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/minceur%2c-alimentation-%26-vitamines/nutrith%c3%a9rapie-et-bien-%c3%aatre/c/361" title="Nutrithérapie et bien-être" class="gtm-topmenu-product-categories">Nutrithérapie et bien-être</a></li>
                                        <li class="magic-line" style="opacity: 0;"></li>
                                    </ul>
                                </li>

                                <li class="has-children menu-item" aria-haspopup="true">
                                    <a href="/produits/grossesse-et-enfants/c/3" title="Grossesse et enfants" class="gtm-topmenu-product-categories">Grossesse et enfants</a><ul class="cd-dropdown cd-secondary-dropdown is-hidden">
                                        <li class="go-back menu-item"><a href="#/produits/c/l0-back" class="gtm-topmenu-product-categories">Retour </a></li>
                                        <li class="see-all menu-item"><a href="/produits/grossesse-et-enfants/c/3" class="gtm-topmenu-product-categories">Voir tout&nbsp;Grossesse et enfants</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/produits/grossesse-et-enfants/grossesse/c/147" title="Grossesse" class="gtm-topmenu-product-categories">Grossesse</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/grossesse-et-enfants/b%c3%a9b%c3%a9s/c/148" title="Bébés" class="gtm-topmenu-product-categories">Bébés</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/grossesse-et-enfants/enfants/c/149" title="Enfants" class="gtm-topmenu-product-categories">Enfants</a></li>
                                        <li class="magic-line" style="opacity: 0;"></li>
                                    </ul>
                                </li>

                                <li class="has-children menu-item" aria-haspopup="true">
                                    <a href="/produits/soins-et-hygiene/c/1" title="Soins et hygiène" class="gtm-topmenu-product-categories">Soins et hygiène</a><ul class="cd-dropdown cd-secondary-dropdown is-hidden">
                                        <li class="go-back menu-item"><a href="#/produits/c/l0-back" class="gtm-topmenu-product-categories">Retour </a></li>
                                        <li class="see-all menu-item"><a href="/produits/soins-et-hygiene/c/1" class="gtm-topmenu-product-categories">Voir tout&nbsp;Soins et hygiène</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/produits/soins-et-hygiene/visage-et-corps/c/10" title="Visage et corps" class="gtm-topmenu-product-categories">Visage et corps</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/soins-et-hygiene/levres/c/11" title="Lèvres" class="gtm-topmenu-product-categories">Lèvres</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/soins-et-hygiene/soins-du-cuir-chevelu-et-des-cheveux/c/9" title="Soins du cuir chevelu et des cheveux" class="gtm-topmenu-product-categories">Soins du cuir chevelu et des cheveux</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/soins-et-hygiene/mains/c/12" title="Mains" class="gtm-topmenu-product-categories">Mains</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/soins-et-hygiene/bouche/c/13" title="Bouche" class="gtm-topmenu-product-categories">Bouche</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/soins-et-hygiene/pieds-et-jambes/c/16" title="Pieds et jambes" class="gtm-topmenu-product-categories">Pieds et jambes</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/soins-et-hygiene/oreilles/c/15" title="Oreilles" class="gtm-topmenu-product-categories">Oreilles</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/soins-et-hygiene/yeux/c/14" title="Yeux" class="gtm-topmenu-product-categories">Yeux</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/soins-et-hygiene/ongles/c/17" title="Ongles" class="gtm-topmenu-product-categories">Ongles</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/soins-et-hygiene/protection-solaire/c/Protection%20solaire" title="Protection solaire" class="gtm-topmenu-product-categories">Protection solaire</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/soins-et-hygiene/insectes/c/392" title="Insectes" class="gtm-topmenu-product-categories">Insectes</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/soins-et-hygiene/compl%c3%a9ments-nutritionnels/c/18" title="Compléments nutritionnels" class="gtm-topmenu-product-categories">Compléments nutritionnels</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/soins-et-hygiene/hygiene/c/20" title="Hygiène" class="gtm-topmenu-product-categories">Hygiène</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/soins-et-hygiene/maquillage/c/22" title="Maquillage" class="gtm-topmenu-product-categories">Maquillage</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/soins-et-hygiene/sp%c3%a9cifiquement-pour-les-hommes/c/23" title="Spécifiquement pour les hommes" class="gtm-topmenu-product-categories">Spécifiquement pour les hommes</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/soins-et-hygiene/parfumerie/c/21" title="Parfumerie" class="gtm-topmenu-product-categories">Parfumerie</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/soins-et-hygiene/sexualit%c3%a9/c/24" title="Sexualité" class="gtm-topmenu-product-categories">Sexualité</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/soins-et-hygiene/d%c3%a9maquillage-et-nettoyage/c/41" title="Démaquillage et nettoyage" class="gtm-topmenu-product-categories">Démaquillage et nettoyage</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/soins-et-hygiene/acn%c3%a9/c/533" title="Acné" class="gtm-topmenu-product-categories">Acné</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/soins-et-hygiene/soins-du-visage/c/560" title="Soins du visage" class="gtm-topmenu-product-categories">Soins du visage</a></li>
                                        <li class="magic-line" style="opacity: 0;"></li>
                                    </ul>
                                </li>

                                <li class="has-children menu-item" aria-haspopup="true">
                                    <a href="/produits/naturopathie/c/5" title="Naturopathie" class="gtm-topmenu-product-categories">Naturopathie</a><ul class="cd-dropdown cd-secondary-dropdown is-hidden">
                                        <li class="go-back menu-item"><a href="#/produits/c/l0-back" class="gtm-topmenu-product-categories">Retour </a></li>
                                        <li class="see-all menu-item"><a href="/produits/naturopathie/c/5" class="gtm-topmenu-product-categories">Voir tout&nbsp;Naturopathie</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/produits/naturopathie/aromath%c3%a9rapie/c/192" title="Aromathérapie" class="gtm-topmenu-product-categories">Aromathérapie</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/naturopathie/fleurs-de-bach/c/193" title="Fleurs de Bach" class="gtm-topmenu-product-categories">Fleurs de Bach</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/naturopathie/huiles-essentielles/c/194" title="Huiles essentielles" class="gtm-topmenu-product-categories">Huiles essentielles</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/naturopathie/tisanes/c/197" title="Tisanes" class="gtm-topmenu-product-categories">Tisanes</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/naturopathie/gemmoth%c3%a9rapie/c/195" title="Gemmothérapie" class="gtm-topmenu-product-categories">Gemmothérapie</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/naturopathie/oligo-%c3%a9l%c3%a9ments/c/196" title="Oligo-éléments" class="gtm-topmenu-product-categories">Oligo-éléments</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/naturopathie/phytoth%c3%a9rapie/c/199" title="Phytothérapie" class="gtm-topmenu-product-categories">Phytothérapie</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/naturopathie/luminoth%c3%a9rapie/c/198" title="Luminothérapie" class="gtm-topmenu-product-categories">Luminothérapie</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/naturopathie/huiles-v%c3%a9g%c3%a9tales/c/200" title="Huiles végétales" class="gtm-topmenu-product-categories">Huiles végétales</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/naturopathie/hom%c3%a9opathie/c/445" title="Homéopathie" class="gtm-topmenu-product-categories">Homéopathie</a></li>
                                        <li class="magic-line" style="opacity: 0;"></li>
                                    </ul>
                                </li>

                                <li class="has-children menu-item" aria-haspopup="true">
                                    <a href="/produits/50%2b/c/4" title="50+" class="gtm-topmenu-product-categories">50+</a><ul class="cd-dropdown cd-secondary-dropdown is-hidden">
                                        <li class="go-back menu-item"><a href="#/produits/c/l0-back" class="gtm-topmenu-product-categories">Retour </a></li>
                                        <li class="see-all menu-item"><a href="/produits/50%2b/c/4" class="gtm-topmenu-product-categories">Voir tout&nbsp;50+</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/produits/50%2b/m%c3%a9moire/c/172" title="Mémoire" class="gtm-topmenu-product-categories">Mémoire</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/50%2b/piles/c/171" title="Piles" class="gtm-topmenu-product-categories">Piles</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/50%2b/sexualit%c3%a9/c/177" title="Sexualité" class="gtm-topmenu-product-categories">Sexualité</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/50%2b/m%c3%a9nopause/c/175" title="Ménopause" class="gtm-topmenu-product-categories">Ménopause</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/50%2b/prostate/c/174" title="Prostate" class="gtm-topmenu-product-categories">Prostate</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/50%2b/ronflements/c/178" title="Ronflements" class="gtm-topmenu-product-categories">Ronflements</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/50%2b/bas-de-contention/c/180" title="Bas de contention" class="gtm-topmenu-product-categories">Bas de contention</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/50%2b/muscles-et-articulations/c/179" title="Muscles et articulations" class="gtm-topmenu-product-categories">Muscles et articulations</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/50%2b/jambes-lourdes/c/182" title="Jambes lourdes" class="gtm-topmenu-product-categories">Jambes lourdes</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/50%2b/piluliers/c/184" title="Piluliers" class="gtm-topmenu-product-categories">Piluliers</a></li>
                                        <li class="magic-line" style="opacity: 0;"></li>
                                    </ul>
                                </li>

                                <li class="has-children menu-item" aria-haspopup="true">
                                    <a href="/produits/animaux/c/7" title="Animaux" class="gtm-topmenu-product-categories">Animaux</a><ul class="cd-dropdown cd-secondary-dropdown is-hidden">
                                        <li class="go-back menu-item"><a href="#/produits/c/l0-back" class="gtm-topmenu-product-categories">Retour </a></li>
                                        <li class="see-all menu-item"><a href="/produits/animaux/c/7" class="gtm-topmenu-product-categories">Voir tout&nbsp;Animaux</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/produits/animaux/humeur-et-stress/c/214" title="Humeur et stress" class="gtm-topmenu-product-categories">Humeur et stress</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/animaux/accessoires/c/272" title="Accessoires" class="gtm-topmenu-product-categories">Accessoires</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/animaux/pelage%2c-peau-ou-plumage/c/275" title="Pelage, peau ou plumage" class="gtm-topmenu-product-categories">Pelage, peau ou plumage</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/animaux/bouche%2c-gueule-ou-bec/c/276" title="Bouche, gueule ou bec" class="gtm-topmenu-product-categories">Bouche, gueule ou bec</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/animaux/oreilles/c/278" title="Oreilles" class="gtm-topmenu-product-categories">Oreilles</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/animaux/yeux/c/277" title="Yeux" class="gtm-topmenu-product-categories">Yeux</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/animaux/suppl%c3%a9ments/c/282" title="Suppléments" class="gtm-topmenu-product-categories">Suppléments</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/animaux/puces-et-tiques/c/281" title="Puces et tiques" class="gtm-topmenu-product-categories">Puces et tiques</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/animaux/digestion/c/279" title="Digestion" class="gtm-topmenu-product-categories">Digestion</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/animaux/alimentation/c/283" title="Alimentation" class="gtm-topmenu-product-categories">Alimentation</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/animaux/muscles-et-articulations/c/284" title="Muscles et articulations" class="gtm-topmenu-product-categories">Muscles et articulations</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/animaux/soins-des-plaies/c/322" title="Soins des plaies" class="gtm-topmenu-product-categories">Soins des plaies</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/animaux/pigeons-et-oiseaux/c/364" title="Pigeons et oiseaux" class="gtm-topmenu-product-categories">Pigeons et oiseaux</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/animaux/chevaux/c/388" title="Chevaux" class="gtm-topmenu-product-categories">Chevaux</a></li>
                                        <li class="magic-line" style="opacity: 0;"></li>
                                    </ul>
                                </li>

                                <li class="has-children menu-item" aria-haspopup="true">
                                    <a href="/produits/m%c3%a9dicaments/c/307" title="Médicaments" class="gtm-topmenu-product-categories">Médicaments</a><ul class="cd-dropdown cd-secondary-dropdown is-hidden">
                                        <li class="go-back menu-item"><a href="#/produits/c/l0-back" class="gtm-topmenu-product-categories">Retour </a></li>
                                        <li class="see-all menu-item"><a href="/produits/m%c3%a9dicaments/c/307" class="gtm-topmenu-product-categories">Voir tout&nbsp;Médicaments</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/produits/m%c3%a9dicaments/coeur-et-systeme-vasculaire/c/597" title="Coeur et système vasculaire" class="gtm-topmenu-product-categories">Coeur et système vasculaire</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/m%c3%a9dicaments/systeme-gastro-intestinale/c/599" title="Système gastro-intestinale" class="gtm-topmenu-product-categories">Système gastro-intestinale</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/m%c3%a9dicaments/diluant-et-coagulant-du-sang/c/598" title="Diluant et coagulant du sang" class="gtm-topmenu-product-categories">Diluant et coagulant du sang</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/m%c3%a9dicaments/h%c3%a9morro%c3%afdes/c/605" title="Hémorroïdes" class="gtm-topmenu-product-categories">Hémorroïdes</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/m%c3%a9dicaments/toux/c/607" title="Toux" class="gtm-topmenu-product-categories">Toux</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/m%c3%a9dicaments/systeme-respiratoire/c/606" title="Système respiratoire" class="gtm-topmenu-product-categories">Système respiratoire</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/m%c3%a9dicaments/gyn%c3%a9cologie/c/613" title="Gynécologie" class="gtm-topmenu-product-categories">Gynécologie</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/m%c3%a9dicaments/voies-urinaires/c/614" title="Voies urinaires" class="gtm-topmenu-product-categories">Voies urinaires</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/m%c3%a9dicaments/douleur-et-fievre/c/615" title="Douleur et fièvre" class="gtm-topmenu-product-categories">Douleur et fièvre</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/m%c3%a9dicaments/muscles-et-articulations/c/616" title="Muscles et articulations" class="gtm-topmenu-product-categories">Muscles et articulations</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/m%c3%a9dicaments/insomnie%2c-anxi%c3%a9t%c3%a9-et-stress/c/618" title="Insomnie, anxiété et stress" class="gtm-topmenu-product-categories">Insomnie, anxiété et stress</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/m%c3%a9dicaments/arr%c3%aater-de-fumer/c/619" title="Arrêter de fumer" class="gtm-topmenu-product-categories">Arrêter de fumer</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/m%c3%a9dicaments/systeme-nerveux/c/617" title="Système nerveux" class="gtm-topmenu-product-categories">Système nerveux</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/m%c3%a9dicaments/allergie/c/622" title="Allergie" class="gtm-topmenu-product-categories">Allergie</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/m%c3%a9dicaments/infections/c/620" title="Infections" class="gtm-topmenu-product-categories">Infections</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/m%c3%a9dicaments/immunit%c3%a9/c/621" title="Immunité" class="gtm-topmenu-product-categories">Immunité</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/m%c3%a9dicaments/min%c3%a9raux%2c-vitamines-et-toniques/c/624" title="Minéraux, vitamines et toniques" class="gtm-topmenu-product-categories">Minéraux, vitamines et toniques</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/m%c3%a9dicaments/peau/c/629" title="Peau" class="gtm-topmenu-product-categories">Peau</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/m%c3%a9dicaments/poux/c/633" title="Poux" class="gtm-topmenu-product-categories">Poux</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/m%c3%a9dicaments/acn%c3%a9/c/635" title="Acné" class="gtm-topmenu-product-categories">Acné</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/m%c3%a9dicaments/yeux/c/636" title="Yeux" class="gtm-topmenu-product-categories">Yeux</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/m%c3%a9dicaments/oreille/c/642" title="Oreille" class="gtm-topmenu-product-categories">Oreille</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/m%c3%a9dicaments/nez/c/643" title="Nez" class="gtm-topmenu-product-categories">Nez</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/m%c3%a9dicaments/anesth%c3%a9sie/c/649" title="Anesthésie" class="gtm-topmenu-product-categories">Anesthésie</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/m%c3%a9dicaments/gorge-et-bouche/c/646" title="Gorge et bouche" class="gtm-topmenu-product-categories">Gorge et bouche</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/m%c3%a9dicaments/minceur/c/651" title="Minceur" class="gtm-topmenu-product-categories">Minceur</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/m%c3%a9dicaments/jambes-lourdes/c/653" title="Jambes lourdes" class="gtm-topmenu-product-categories">Jambes lourdes</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/m%c3%a9dicaments/homeopathie/c/652" title="Homeopathie" class="gtm-topmenu-product-categories">Homeopathie</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/m%c3%a9dicaments/m%c3%a9dicaments-pas-attribu%c3%a9s/c/662" title="Médicaments pas attribués" class="gtm-topmenu-product-categories">Médicaments pas attribués</a></li>
                                        <li class="magic-line" style="opacity: 0;"></li>
                                    </ul>
                                </li>

                                <li class="has-children menu-item" aria-haspopup="true">
                                    <a href="/produits/soins-%c3%a0-domicile-et-premiers-soins/c/6" title="Soins à domicile et premiers soins" class="gtm-topmenu-product-categories">Soins à domicile et premiers soins</a><ul class="cd-dropdown cd-secondary-dropdown is-hidden">
                                        <li class="go-back menu-item"><a href="#/produits/c/l0-back" class="gtm-topmenu-product-categories">Retour </a></li>
                                        <li class="see-all menu-item"><a href="/produits/soins-%c3%a0-domicile-et-premiers-soins/c/6" class="gtm-topmenu-product-categories">Voir tout&nbsp;Soins à domicile et premiers soins</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/produits/soins-%c3%a0-domicile-et-premiers-soins/produits-pour-lentilles-et-lunettes/c/74" title="Produits pour lentilles et lunettes" class="gtm-topmenu-product-categories">Produits pour lentilles et lunettes</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/soins-%c3%a0-domicile-et-premiers-soins/incontinence/c/173" title="Incontinence" class="gtm-topmenu-product-categories">Incontinence</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/soins-%c3%a0-domicile-et-premiers-soins/soins-%c3%a0-domicile/c/221" title="Soins à domicile" class="gtm-topmenu-product-categories">Soins à domicile</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/soins-%c3%a0-domicile-et-premiers-soins/tests-de-diagnostic/c/224" title="Tests de diagnostic" class="gtm-topmenu-product-categories">Tests de diagnostic</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/soins-%c3%a0-domicile-et-premiers-soins/soins-des-plaies/c/222" title="Soins des plaies" class="gtm-topmenu-product-categories">Soins des plaies</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/soins-%c3%a0-domicile-et-premiers-soins/premiers-soins/c/223" title="Premiers soins" class="gtm-topmenu-product-categories">Premiers soins</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/soins-%c3%a0-domicile-et-premiers-soins/stomie/c/229" title="Stomie" class="gtm-topmenu-product-categories">Stomie</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/soins-%c3%a0-domicile-et-premiers-soins/a%c3%a9rosolth%c3%a9rapie-et-oxygene/c/225" title="Aérosolthérapie et oxygène" class="gtm-topmenu-product-categories">Aérosolthérapie et oxygène</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/soins-%c3%a0-domicile-et-premiers-soins/diabete/c/227" title="Diabète" class="gtm-topmenu-product-categories">Diabète</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/soins-%c3%a0-domicile-et-premiers-soins/instruments/c/289" title="Instruments" class="gtm-topmenu-product-categories">Instruments</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/soins-%c3%a0-domicile-et-premiers-soins/outils/c/290" title="Outils" class="gtm-topmenu-product-categories">Outils</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/soins-%c3%a0-domicile-et-premiers-soins/aiguilles-et-seringues/c/454" title="Aiguilles et seringues" class="gtm-topmenu-product-categories">Aiguilles et seringues</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/soins-%c3%a0-domicile-et-premiers-soins/sondes%2c-baxters-et-cath%c3%a9ters/c/459" title="Sondes, baxters et cathéters" class="gtm-topmenu-product-categories">Sondes, baxters et cathéters</a></li>
                                        <li class="magic-line" style="opacity: 0;"></li>
                                    </ul>
                                </li>

                                <li class="has-children menu-item" aria-haspopup="true">
                                    <a href="/produits/mat%c3%a9riel-labo-et-matieres-premieres/c/466" title="Matériel labo et matières premières" class="gtm-topmenu-product-categories">Matériel labo et matières premières</a><ul class="cd-dropdown cd-secondary-dropdown is-hidden">
                                        <li class="go-back menu-item"><a href="#/produits/c/l0-back" class="gtm-topmenu-product-categories">Retour </a></li>
                                        <li class="see-all menu-item"><a href="/produits/mat%c3%a9riel-labo-et-matieres-premieres/c/466" class="gtm-topmenu-product-categories">Voir tout&nbsp;Matériel labo et matières premières</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/produits/mat%c3%a9riel-labo-et-matieres-premieres/matieres-premieres/c/316" title="Matières premières" class="gtm-topmenu-product-categories">Matières premières</a></li>
                                        <li class="menu-item">
                                            <a href="/produits/mat%c3%a9riel-labo-et-matieres-premieres/materiel-de-labo/c/317" title="Materiel de labo" class="gtm-topmenu-product-categories">Materiel de labo</a></li>
                                        <li class="magic-line" style="opacity: 0;"></li>
                                    </ul>
                                </li>

                                <li class="magic-line" style="opacity: 0;"></li>
                            </ul>
                        </li>
                        <li class=" menu-item">
                            <a href="/c/AC165001" title="Nos conseils">Nos conseils</a></li>
                        <li class=" menu-item">
                            <a href="/e-resept" title="Ma prescription">Ma prescription</a></li>
                        <li class="small-tool-navigation">
                            <ul>










                                <li class="log_in">

                                    <a href="/login">
                                        <span class="streamline-user icon"></span><span class="text">
                    Nouvel utilisateur / connexion
                </span>
                                    </a>

                                </li>



                                <li class="yCmsComponent">
                                    <a href="https://storelocator.lloydspharma.be/fr" title="Trouvez ma pharmacie">Trouvez ma pharmacie</a></li><li class="yCmsComponent">
                                    <a href="/%c3%80-propos-de-nous/wecare/d%c3%a9couvrez-notre-programme-de-fid%c3%a9lit%c3%a9-wecare/a/A000012" title="Carte Fidélité WeCare">Carte Fidélité WeCare</a></li><li class="yCmsComponent">
                                    <a href="/c/AC000011" title="À propos de nous">À propos de nous</a></li><li class="yCmsComponent">
                                    <a href="/contact" title="Nous contacter">Nous contacter</a></li></ul>
                        </li>

                    </ul>
                </nav>








                <nav class="tool-navigation">
                    <ul>




                        <li class="global-search">


                            <div id="autocomplete" class="autocomplete-site">
                                <div class="container">

                                    <form id="autocomplete-form" method="get" action="/search/">
                                        <div class="input-group input-group-lg js-fieldfocus">
                                            <label class="sr-only" for="autocomplete-search">Cherchez ici votre produit, conseil de pharmacien ou pharmacie</label>
                                            <input id="autocomplete-search" type="search" name="text" class="form-control ui-autocomplete-input" placeholder="Cherchez ici votre produit, conseil de pharmacien ou pharmacie" value="" title="Cherchez ici votre produit, conseil de pharmacien ou pharmacie" data-options="{&quot;autocompleteUrl&quot; : &quot;/search/site/&quot;,&quot;minCharactersBeforeRequest&quot; : &quot;3&quot;,&quot;waitTimeBeforeRequest&quot; : &quot;500&quot;,&quot;displayProductImages&quot; : true}" autocomplete="off">

                                            <span class="input-group-btn cancel-search">
					<button class="btn btn-primary filled" type="submit">
                        Fermer</button>
                </span>
                                            <span class="input-group-btn submit-search">
					<button class="btn btn-primary filled" type="submit"><span>
						chercher</span>
					</button>
				</span>
                                        </div>
                                    </form>

                                    <div id="autocomplete-results" class="autocomplete-results"><ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-1" tabindex="0" style="display: none;"></ul></div>

                                </div>
                            </div>

                            <button type="submit" class="submit toggle-search">
                                <span class="text">Chercher</span>
                            </button>



                        </li>





                        <li class="cart js-blink-mini-cart-link" data-mini-cart-url="/cart/rollover/MiniCart" data-mini-cart-refresh-url="/cart/miniCart/SUBTOTAL" data-mini-cart-name="Chariot" data-mini-cart-empty-name="Panier vide">

                            <a href="/cart" class="mini-cart-link refresh-blink js-spinner"><span class="text">Panier</span>
                                <span class="mini-cart-count js-blink-mini-cart-count" data-count=""></span>
                            </a>
                            <div class="mini-cart-js-wrap"></div>

                        </li>
                        <div class="mini-cart-overlay"></div>
                        <div class="addToCartMobileNotification">Produit ajouté au panier</div>
                    </ul>
                </nav></div>
        </div>
    </div>

</header>
<div class="header-placeholder"></div>
<div class="yCmsContentSlot container bottom-header-slot">
</div>