<header id="main-header" class="main-header">
    <div class="container">
        <nav class="secondary-navigation">

            <div class="yCmsContentSlot container lang-switcher">
                <form id="lang_form_" class="lang-form" action="/_s/language" method="post"><label for="nl_BE" class="active">
                        <input type="submit" name="code" value="nl_BE" id="nl_BE">
                    </label>
                    <label for="fr_BE" class="">
                        <input type="submit" name="code" value="fr_BE" id="fr_BE">
                    </label>
                    <div>
                        <input type="hidden" name="CSRFToken" value="3bacbaba-20a1-487d-a0bf-6b69e69c7b03">
                    </div></form></div><ul>
                <li class="yCmsComponent">
                    <a href="https://storelocator.lloydspharma.be/nl" title="Vind mijn apotheek">Vind mijn apotheek</a></li><li class="yCmsComponent">
                    <a href="/over-ons/wecare/ontdek-de-voordelen-van-ons-nieuw-getrouwheidsprogramma-wecare/a/A000012" title="Klantenkaart WeCare">Klantenkaart WeCare</a></li><li class="yCmsComponent">
                    <a href="/c/AC000011" title="Over ons">Over ons</a></li><li class="yCmsComponent">
                    <a href="/contact" title="Contacteer ons">Contacteer ons</a></li></ul>
            <ul>










                <li class="log_in">

                    <a href="/login">
                        <span class="streamline-user icon"></span><span class="text">
                    Nieuwe gebruiker / Aanmelden
                </span>
                    </a>

                </li>



            </ul>
        </nav>
    </div>
    <div class="container-fluid js-scroll-attach">
        <div class="container">
            <button class="main-nav-trigger" aria-controls="bs-navbar"><span class="sr-only">Veksle navigasjon</span></button>
            <div class="site-logo">
                <div class="simple-banner-component">
                    <a href="/"><img alt="Lloydspharma" src="/medias/LLP-NL-En-je-gezondheid-lacht-je-toe-VECTORISE-HD.png?context=bWFzdGVyfHJvb3R8MzM0MDB8aW1hZ2UvcG5nfGhlMi9oMGEvOTc0NTA3NjMyMjMzNC5wbmd8M2Q0YjgyNGM0MWU4NDdmYmI2NTYyMWQyYjkyNWJjMzkxYjYwMmI3ODNjYTE3NmJkMmM0ZjlmMmY4NDExZmFlZQ"></a>
                </div></div>

            <div class="navigations-wrapper">
                <nav class="main-navigation js-navigation" role="navigation">
                    <ul class="root-level">
                        <li class="has-children menu-item" aria-haspopup="true">
                            <a href="/producten/c/l0" title="Producten" class="gtm-topmenu-product-categories">Producten</a><ul class="cd-dropdown cd-dropdown-content is-hidden" aria-hidden="true" aria-haspopup="true">
                                <li class="go-back"><a href="#0" class="gtm-topmenu-product-categories">Terug</a></li>
                                <li class="see-all"><a href="/producten/c/l0" class="gtm-topmenu-product-categories">Alles zien&nbsp;Producten</a>
                                </li>
                                <li class=" menu-item">
                                    <a href="/brands" title="Kies op Merk" class="gtm-topmenu-product-categories">Kies op Merk</a></li>

                                <li class=" menu-item">
                                    <a href="/producten/onze-promoties-voor-januari/c/Promo%20de%20Mars" title="Onze maandelijkse promoties" class="gtm-topmenu-product-categories">Onze maandelijkse promoties</a></li>

                                <li class=" menu-item">
                                </li>

                                <li class=" menu-item">
                                    <a href="/producten/onze-eigen-producten-careway/c/C0" title="Onze eigen producten Careway" class="gtm-topmenu-product-categories">Onze eigen producten Careway</a></li>

                                <li class="has-children menu-item" aria-haspopup="true">
                                    <a href="/producten/afslanken%2c-voeding-en-vitamines/c/2" title="Afslanken, voeding en vitamines" class="gtm-topmenu-product-categories">Afslanken, voeding en vitamines</a><ul class="cd-dropdown cd-secondary-dropdown is-hidden">
                                        <li class="go-back menu-item"><a href="#/producten/c/l0-back" class="gtm-topmenu-product-categories">Terug</a></li>
                                        <li class="see-all menu-item"><a href="/producten/afslanken%2c-voeding-en-vitamines/c/2" class="gtm-topmenu-product-categories">Alles zien&nbsp;Afslanken, voeding en vitamines</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/producten/afslanken%2c-voeding-en-vitamines/voeding/c/124" title="Voeding" class="gtm-topmenu-product-categories">Voeding</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/afslanken%2c-voeding-en-vitamines/vitamines-en-supplementen/c/126" title="Vitamines en supplementen" class="gtm-topmenu-product-categories">Vitamines en supplementen</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/afslanken%2c-voeding-en-vitamines/afslanken/c/123" title="Afslanken" class="gtm-topmenu-product-categories">Afslanken</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/afslanken%2c-voeding-en-vitamines/voedingstherapie-%26-welzijn/c/361" title="Voedingstherapie &amp; welzijn" class="gtm-topmenu-product-categories">Voedingstherapie &amp; welzijn</a></li>
                                        <li class="magic-line" style="opacity: 0;"></li>
                                    </ul>
                                </li>

                                <li class="has-children menu-item" aria-haspopup="true">
                                    <a href="/producten/zwangerschap-en-kinderen/c/3" title="Zwangerschap en Kinderen" class="gtm-topmenu-product-categories">Zwangerschap en Kinderen</a><ul class="cd-dropdown cd-secondary-dropdown is-hidden">
                                        <li class="go-back menu-item"><a href="#/producten/c/l0-back" class="gtm-topmenu-product-categories">Terug</a></li>
                                        <li class="see-all menu-item"><a href="/producten/zwangerschap-en-kinderen/c/3" class="gtm-topmenu-product-categories">Alles zien&nbsp;Zwangerschap en Kinderen</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/producten/zwangerschap-en-kinderen/zwangerschap/c/147" title="Zwangerschap" class="gtm-topmenu-product-categories">Zwangerschap</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/zwangerschap-en-kinderen/baby/c/148" title="Baby" class="gtm-topmenu-product-categories">Baby</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/zwangerschap-en-kinderen/kinderen/c/149" title="Kinderen" class="gtm-topmenu-product-categories">Kinderen</a></li>
                                        <li class="magic-line" style="opacity: 0;"></li>
                                    </ul>
                                </li>

                                <li class="has-children menu-item" aria-haspopup="true">
                                    <a href="/producten/verzorging-en-hygiene/c/1" title="Verzorging en hygiene" class="gtm-topmenu-product-categories">Verzorging en hygiene</a><ul class="cd-dropdown cd-secondary-dropdown is-hidden">
                                        <li class="go-back menu-item"><a href="#/producten/c/l0-back" class="gtm-topmenu-product-categories">Terug</a></li>
                                        <li class="see-all menu-item"><a href="/producten/verzorging-en-hygiene/c/1" class="gtm-topmenu-product-categories">Alles zien&nbsp;Verzorging en hygiene</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/producten/verzorging-en-hygiene/gezicht-en-lichaam/c/10" title="Gezicht en Lichaam" class="gtm-topmenu-product-categories">Gezicht en Lichaam</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/verzorging-en-hygiene/lippen/c/11" title="Lippen" class="gtm-topmenu-product-categories">Lippen</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/verzorging-en-hygiene/haar-en-hoofd/c/9" title="Haar en Hoofd" class="gtm-topmenu-product-categories">Haar en Hoofd</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/verzorging-en-hygiene/handen/c/12" title="Handen" class="gtm-topmenu-product-categories">Handen</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/verzorging-en-hygiene/mond/c/13" title="Mond" class="gtm-topmenu-product-categories">Mond</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/verzorging-en-hygiene/voeten-en-benen/c/16" title="Voeten en benen" class="gtm-topmenu-product-categories">Voeten en benen</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/verzorging-en-hygiene/oren/c/15" title="Oren" class="gtm-topmenu-product-categories">Oren</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/verzorging-en-hygiene/ogen/c/14" title="Ogen" class="gtm-topmenu-product-categories">Ogen</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/verzorging-en-hygiene/nagels/c/17" title="Nagels" class="gtm-topmenu-product-categories">Nagels</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/verzorging-en-hygiene/zonnebescherming/c/Protection%20solaire" title="Zonnebescherming" class="gtm-topmenu-product-categories">Zonnebescherming</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/verzorging-en-hygiene/insecten/c/392" title="Insecten" class="gtm-topmenu-product-categories">Insecten</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/verzorging-en-hygiene/supplementen/c/18" title="Supplementen" class="gtm-topmenu-product-categories">Supplementen</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/verzorging-en-hygiene/hygi%c3%abne/c/20" title="Hygiëne" class="gtm-topmenu-product-categories">Hygiëne</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/verzorging-en-hygiene/make-up/c/22" title="Make-up" class="gtm-topmenu-product-categories">Make-up</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/verzorging-en-hygiene/specifiek-voor-mannen/c/23" title="Specifiek voor mannen" class="gtm-topmenu-product-categories">Specifiek voor mannen</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/verzorging-en-hygiene/parfumerie/c/21" title="Parfumerie" class="gtm-topmenu-product-categories">Parfumerie</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/verzorging-en-hygiene/seksualiteit/c/24" title="Seksualiteit" class="gtm-topmenu-product-categories">Seksualiteit</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/verzorging-en-hygiene/gezichtsreiniging---ontschminken/c/41" title="Gezichtsreiniging - ontschminken" class="gtm-topmenu-product-categories">Gezichtsreiniging - ontschminken</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/verzorging-en-hygiene/acne/c/533" title="Acne" class="gtm-topmenu-product-categories">Acne</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/verzorging-en-hygiene/gezichtsverzorging/c/560" title="Gezichtsverzorging" class="gtm-topmenu-product-categories">Gezichtsverzorging</a></li>
                                        <li class="magic-line" style="opacity: 0;"></li>
                                    </ul>
                                </li>

                                <li class="has-children menu-item" aria-haspopup="true">
                                    <a href="/producten/natuur-geneeskunde/c/5" title="Natuur Geneeskunde" class="gtm-topmenu-product-categories">Natuur Geneeskunde</a><ul class="cd-dropdown cd-secondary-dropdown is-hidden">
                                        <li class="go-back menu-item"><a href="#/producten/c/l0-back" class="gtm-topmenu-product-categories">Terug</a></li>
                                        <li class="see-all menu-item"><a href="/producten/natuur-geneeskunde/c/5" class="gtm-topmenu-product-categories">Alles zien&nbsp;Natuur Geneeskunde</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/producten/natuur-geneeskunde/aromatherapie/c/192" title="Aromatherapie" class="gtm-topmenu-product-categories">Aromatherapie</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/natuur-geneeskunde/bachbloesem/c/193" title="Bachbloesem" class="gtm-topmenu-product-categories">Bachbloesem</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/natuur-geneeskunde/oli%c3%abn/c/194" title="Oliën" class="gtm-topmenu-product-categories">Oliën</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/natuur-geneeskunde/kruidenthee/c/197" title="Kruidenthee" class="gtm-topmenu-product-categories">Kruidenthee</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/natuur-geneeskunde/gemmotherapie/c/195" title="Gemmotherapie" class="gtm-topmenu-product-categories">Gemmotherapie</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/natuur-geneeskunde/oligo-elementen/c/196" title="Oligo-elementen" class="gtm-topmenu-product-categories">Oligo-elementen</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/natuur-geneeskunde/fytotherapie/c/199" title="Fytotherapie" class="gtm-topmenu-product-categories">Fytotherapie</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/natuur-geneeskunde/licht--en-warmtetherapie/c/198" title="Licht- en warmtetherapie" class="gtm-topmenu-product-categories">Licht- en warmtetherapie</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/natuur-geneeskunde/plantaardige-olie/c/200" title="Plantaardige olie" class="gtm-topmenu-product-categories">Plantaardige olie</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/natuur-geneeskunde/homeopathie/c/445" title="Homeopathie" class="gtm-topmenu-product-categories">Homeopathie</a></li>
                                        <li class="magic-line" style="opacity: 0;"></li>
                                    </ul>
                                </li>

                                <li class="has-children menu-item" aria-haspopup="true">
                                    <a href="/producten/50%2b/c/4" title="50+" class="gtm-topmenu-product-categories">50+</a><ul class="cd-dropdown cd-secondary-dropdown is-hidden">
                                        <li class="go-back menu-item"><a href="#/producten/c/l0-back" class="gtm-topmenu-product-categories">Terug</a></li>
                                        <li class="see-all menu-item"><a href="/producten/50%2b/c/4" class="gtm-topmenu-product-categories">Alles zien&nbsp;50+</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/producten/50%2b/geheugen/c/172" title="Geheugen" class="gtm-topmenu-product-categories">Geheugen</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/50%2b/batterijen/c/171" title="Batterijen" class="gtm-topmenu-product-categories">Batterijen</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/50%2b/seksualiteit/c/177" title="Seksualiteit" class="gtm-topmenu-product-categories">Seksualiteit</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/50%2b/menopauze/c/175" title="Menopauze" class="gtm-topmenu-product-categories">Menopauze</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/50%2b/prostaat/c/174" title="Prostaat" class="gtm-topmenu-product-categories">Prostaat</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/50%2b/snurken/c/178" title="Snurken" class="gtm-topmenu-product-categories">Snurken</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/50%2b/steunkousen/c/180" title="Steunkousen" class="gtm-topmenu-product-categories">Steunkousen</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/50%2b/spieren-en-gewrichten/c/179" title="Spieren en gewrichten" class="gtm-topmenu-product-categories">Spieren en gewrichten</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/50%2b/zware-benen/c/182" title="Zware benen" class="gtm-topmenu-product-categories">Zware benen</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/50%2b/pillendozen/c/184" title="Pillendozen" class="gtm-topmenu-product-categories">Pillendozen</a></li>
                                        <li class="magic-line" style="opacity: 0;"></li>
                                    </ul>
                                </li>

                                <li class="has-children menu-item" aria-haspopup="true">
                                    <a href="/producten/dieren/c/7" title="Dieren" class="gtm-topmenu-product-categories">Dieren</a><ul class="cd-dropdown cd-secondary-dropdown is-hidden">
                                        <li class="go-back menu-item"><a href="#/producten/c/l0-back" class="gtm-topmenu-product-categories">Terug</a></li>
                                        <li class="see-all menu-item"><a href="/producten/dieren/c/7" class="gtm-topmenu-product-categories">Alles zien&nbsp;Dieren</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/producten/dieren/gemoed-en-stress/c/214" title="Gemoed en stress" class="gtm-topmenu-product-categories">Gemoed en stress</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/dieren/accessoires/c/272" title="Accessoires" class="gtm-topmenu-product-categories">Accessoires</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/dieren/vacht%2c-huid-of-pluimen/c/275" title="Vacht, huid of pluimen" class="gtm-topmenu-product-categories">Vacht, huid of pluimen</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/dieren/mond%2c-muil-of-snavel/c/276" title="Mond, muil of snavel" class="gtm-topmenu-product-categories">Mond, muil of snavel</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/dieren/oren/c/278" title="Oren" class="gtm-topmenu-product-categories">Oren</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/dieren/ogen/c/277" title="Ogen" class="gtm-topmenu-product-categories">Ogen</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/dieren/supplementen/c/282" title="Supplementen" class="gtm-topmenu-product-categories">Supplementen</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/dieren/vlooien-en-teken/c/281" title="Vlooien en teken" class="gtm-topmenu-product-categories">Vlooien en teken</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/dieren/spijsvertering/c/279" title="Spijsvertering" class="gtm-topmenu-product-categories">Spijsvertering</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/dieren/voeding/c/283" title="Voeding" class="gtm-topmenu-product-categories">Voeding</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/dieren/spieren-en-gewrichten/c/284" title="Spieren en gewrichten" class="gtm-topmenu-product-categories">Spieren en gewrichten</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/dieren/wondzorg/c/322" title="Wondzorg" class="gtm-topmenu-product-categories">Wondzorg</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/dieren/duiven-en-vogels/c/364" title="Duiven en vogels" class="gtm-topmenu-product-categories">Duiven en vogels</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/dieren/paarden/c/388" title="Paarden" class="gtm-topmenu-product-categories">Paarden</a></li>
                                        <li class="magic-line" style="opacity: 0;"></li>
                                    </ul>
                                </li>

                                <li class="has-children menu-item" aria-haspopup="true">
                                    <a href="/producten/geneesmiddelen/c/307" title="Geneesmiddelen" class="gtm-topmenu-product-categories">Geneesmiddelen</a><ul class="cd-dropdown cd-secondary-dropdown is-hidden">
                                        <li class="go-back menu-item"><a href="#/producten/c/l0-back" class="gtm-topmenu-product-categories">Terug</a></li>
                                        <li class="see-all menu-item"><a href="/producten/geneesmiddelen/c/307" class="gtm-topmenu-product-categories">Alles zien&nbsp;Geneesmiddelen</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/producten/geneesmiddelen/hart--en-bloedvaten/c/597" title="Hart- en bloedvaten" class="gtm-topmenu-product-categories">Hart- en bloedvaten</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/geneesmiddelen/maag-darm-stelsel/c/599" title="Maag darm stelsel" class="gtm-topmenu-product-categories">Maag darm stelsel</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/geneesmiddelen/bloedverdunning-en--stolling/c/598" title="Bloedverdunning en -stolling" class="gtm-topmenu-product-categories">Bloedverdunning en -stolling</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/geneesmiddelen/aambeien/c/605" title="Aambeien" class="gtm-topmenu-product-categories">Aambeien</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/geneesmiddelen/hoest/c/607" title="Hoest" class="gtm-topmenu-product-categories">Hoest</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/geneesmiddelen/ademhalingsstelsel/c/606" title="Ademhalingsstelsel" class="gtm-topmenu-product-categories">Ademhalingsstelsel</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/geneesmiddelen/gynaecologie/c/613" title="Gynaecologie" class="gtm-topmenu-product-categories">Gynaecologie</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/geneesmiddelen/urinewegen/c/614" title="Urinewegen" class="gtm-topmenu-product-categories">Urinewegen</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/geneesmiddelen/pijn-en-koorts/c/615" title="Pijn en koorts" class="gtm-topmenu-product-categories">Pijn en koorts</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/geneesmiddelen/spieren-en-gewrichten/c/616" title="Spieren en gewrichten" class="gtm-topmenu-product-categories">Spieren en gewrichten</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/geneesmiddelen/slapeloosheid%2c-spanning-en-stress/c/618" title="Slapeloosheid, spanning en stress" class="gtm-topmenu-product-categories">Slapeloosheid, spanning en stress</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/geneesmiddelen/stoppen-met-roken/c/619" title="Stoppen met roken" class="gtm-topmenu-product-categories">Stoppen met roken</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/geneesmiddelen/zenuwstelsel/c/617" title="Zenuwstelsel" class="gtm-topmenu-product-categories">Zenuwstelsel</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/geneesmiddelen/allergie/c/622" title="Allergie" class="gtm-topmenu-product-categories">Allergie</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/geneesmiddelen/infecties/c/620" title="Infecties" class="gtm-topmenu-product-categories">Infecties</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/geneesmiddelen/immuniteit/c/621" title="Immuniteit" class="gtm-topmenu-product-categories">Immuniteit</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/geneesmiddelen/mineralen%2c-vitaminen-en-tonica/c/624" title="Mineralen, vitaminen en tonica" class="gtm-topmenu-product-categories">Mineralen, vitaminen en tonica</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/geneesmiddelen/huid/c/629" title="Huid" class="gtm-topmenu-product-categories">Huid</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/geneesmiddelen/luizen/c/633" title="Luizen" class="gtm-topmenu-product-categories">Luizen</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/geneesmiddelen/acne/c/635" title="Acne" class="gtm-topmenu-product-categories">Acne</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/geneesmiddelen/ogen/c/636" title="Ogen" class="gtm-topmenu-product-categories">Ogen</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/geneesmiddelen/oor/c/642" title="Oor" class="gtm-topmenu-product-categories">Oor</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/geneesmiddelen/neus/c/643" title="Neus" class="gtm-topmenu-product-categories">Neus</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/geneesmiddelen/anesthesie/c/649" title="Anesthesie" class="gtm-topmenu-product-categories">Anesthesie</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/geneesmiddelen/mond-en-keel/c/646" title="Mond en keel" class="gtm-topmenu-product-categories">Mond en keel</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/geneesmiddelen/afslanken/c/651" title="Afslanken" class="gtm-topmenu-product-categories">Afslanken</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/geneesmiddelen/zware-benen/c/653" title="Zware benen" class="gtm-topmenu-product-categories">Zware benen</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/geneesmiddelen/homeopathie/c/652" title="Homeopathie" class="gtm-topmenu-product-categories">Homeopathie</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/geneesmiddelen/niet-toegekende-geneesmiddelen/c/662" title="Niet toegekende geneesmiddelen" class="gtm-topmenu-product-categories">Niet toegekende geneesmiddelen</a></li>
                                        <li class="magic-line" style="opacity: 0;"></li>
                                    </ul>
                                </li>

                                <li class="has-children menu-item" aria-haspopup="true">
                                    <a href="/producten/thuiszorg-en-ehbo/c/6" title="Thuiszorg en EHBO" class="gtm-topmenu-product-categories">Thuiszorg en EHBO</a><ul class="cd-dropdown cd-secondary-dropdown is-hidden">
                                        <li class="go-back menu-item"><a href="#/producten/c/l0-back" class="gtm-topmenu-product-categories">Terug</a></li>
                                        <li class="see-all menu-item"><a href="/producten/thuiszorg-en-ehbo/c/6" class="gtm-topmenu-product-categories">Alles zien&nbsp;Thuiszorg en EHBO</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/producten/thuiszorg-en-ehbo/lensproducten-en-brillen/c/74" title="Lensproducten en brillen" class="gtm-topmenu-product-categories">Lensproducten en brillen</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/thuiszorg-en-ehbo/incontinentie/c/173" title="Incontinentie" class="gtm-topmenu-product-categories">Incontinentie</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/thuiszorg-en-ehbo/thuiszorg/c/221" title="Thuiszorg" class="gtm-topmenu-product-categories">Thuiszorg</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/thuiszorg-en-ehbo/diagnosetesten/c/224" title="Diagnosetesten" class="gtm-topmenu-product-categories">Diagnosetesten</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/thuiszorg-en-ehbo/wondzorg/c/222" title="Wondzorg" class="gtm-topmenu-product-categories">Wondzorg</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/thuiszorg-en-ehbo/ehbo/c/223" title="EHBO" class="gtm-topmenu-product-categories">EHBO</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/thuiszorg-en-ehbo/stoma/c/229" title="Stoma" class="gtm-topmenu-product-categories">Stoma</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/thuiszorg-en-ehbo/aerosoltherapie-en-zuurstof/c/225" title="Aerosoltherapie en zuurstof" class="gtm-topmenu-product-categories">Aerosoltherapie en zuurstof</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/thuiszorg-en-ehbo/diabetes/c/227" title="Diabetes" class="gtm-topmenu-product-categories">Diabetes</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/thuiszorg-en-ehbo/instrumenten/c/289" title="Instrumenten" class="gtm-topmenu-product-categories">Instrumenten</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/thuiszorg-en-ehbo/ergonomie/c/290" title="Ergonomie" class="gtm-topmenu-product-categories">Ergonomie</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/thuiszorg-en-ehbo/naalden-en-spuiten/c/454" title="Naalden en spuiten" class="gtm-topmenu-product-categories">Naalden en spuiten</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/thuiszorg-en-ehbo/sondes%2c-baxters-en-catheters/c/459" title="Sondes, baxters en catheters" class="gtm-topmenu-product-categories">Sondes, baxters en catheters</a></li>
                                        <li class="magic-line" style="opacity: 0;"></li>
                                    </ul>
                                </li>

                                <li class="has-children menu-item" aria-haspopup="true">
                                    <a href="/producten/labo-materiaal-en-grondstoffen/c/466" title="Labo materiaal en grondstoffen" class="gtm-topmenu-product-categories">Labo materiaal en grondstoffen</a><ul class="cd-dropdown cd-secondary-dropdown is-hidden">
                                        <li class="go-back menu-item"><a href="#/producten/c/l0-back" class="gtm-topmenu-product-categories">Terug</a></li>
                                        <li class="see-all menu-item"><a href="/producten/labo-materiaal-en-grondstoffen/c/466" class="gtm-topmenu-product-categories">Alles zien&nbsp;Labo materiaal en grondstoffen</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/producten/labo-materiaal-en-grondstoffen/grondstoffen/c/316" title="Grondstoffen" class="gtm-topmenu-product-categories">Grondstoffen</a></li>
                                        <li class="menu-item">
                                            <a href="/producten/labo-materiaal-en-grondstoffen/labomateriaal/c/317" title="Labomateriaal" class="gtm-topmenu-product-categories">Labomateriaal</a></li>
                                        <li class="magic-line" style="opacity: 0;"></li>
                                    </ul>
                                </li>

                                <li class="magic-line" style="opacity: 0;"></li>
                            </ul>
                        </li>
                        <li class=" menu-item">
                            <a href="/c/AC165001" title="Ons advies">Ons advies</a></li>
                        <li class=" menu-item">
                            <a href="/e-resept" title="Mijn voorschrift">Mijn voorschrift</a></li>
                        <li class="small-tool-navigation">
                            <ul>










                                <li class="log_in">

                                    <a href="/login">
                                        <span class="streamline-user icon"></span><span class="text">
                    Nieuwe gebruiker / Aanmelden
                </span>
                                    </a>

                                </li>



                                <li class="yCmsComponent">
                                    <a href="https://storelocator.lloydspharma.be/nl" title="Vind mijn apotheek">Vind mijn apotheek</a></li><li class="yCmsComponent">
                                    <a href="/over-ons/wecare/ontdek-de-voordelen-van-ons-nieuw-getrouwheidsprogramma-wecare/a/A000012" title="Klantenkaart WeCare">Klantenkaart WeCare</a></li><li class="yCmsComponent">
                                    <a href="/c/AC000011" title="Over ons">Over ons</a></li><li class="yCmsComponent">
                                    <a href="/contact" title="Contacteer ons">Contacteer ons</a></li></ul>
                        </li>

                    </ul>
                </nav>








                <nav class="tool-navigation">
                    <ul>




                        <li class="global-search">


                            <div id="autocomplete" class="autocomplete-site">
                                <div class="container">

                                    <form id="autocomplete-form" method="get" action="/search/">
                                        <div class="input-group input-group-lg js-fieldfocus">
                                            <label class="sr-only" for="autocomplete-search">Zoek hier je product, advies of apotheek</label>
                                            <input id="autocomplete-search" type="search" name="text" class="form-control ui-autocomplete-input" placeholder="Zoek hier je product, advies of apotheek" value="" title="Zoek hier je product, advies of apotheek" data-options="{&quot;autocompleteUrl&quot; : &quot;/search/site/&quot;,&quot;minCharactersBeforeRequest&quot; : &quot;3&quot;,&quot;waitTimeBeforeRequest&quot; : &quot;500&quot;,&quot;displayProductImages&quot; : true}" autocomplete="off">

                                            <span class="input-group-btn cancel-search">
					<button class="btn btn-primary filled" type="submit">
                        Sluiten</button>
                </span>
                                            <span class="input-group-btn submit-search">
					<button class="btn btn-primary filled" type="submit"><span>
						zoeken</span>
					</button>
				</span>
                                        </div>
                                    </form>

                                    <div id="autocomplete-results" class="autocomplete-results"><ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-1" tabindex="0" style="display: none;"></ul></div>

                                </div>
                            </div>

                            <button type="submit" class="submit toggle-search">
                                <span class="text">Zoeken</span>
                            </button>



                        </li>





                        <li class="cart js-blink-mini-cart-link" data-mini-cart-url="/cart/rollover/MiniCart" data-mini-cart-refresh-url="/cart/miniCart/SUBTOTAL" data-mini-cart-name="Winkelwagen" data-mini-cart-empty-name="Winkelwagen leegmaken ">

                            <a href="/cart" class="mini-cart-link refresh-blink js-spinner"><span class="text">Winkelwagen</span>
                                <span class="mini-cart-count js-blink-mini-cart-count" data-count=""></span>
                            </a>
                            <div class="mini-cart-js-wrap"></div>

                        </li>
                        <div class="mini-cart-overlay"></div>
                        <div class="addToCartMobileNotification">Product toegevoegd aan winkelwagen</div>
                    </ul>
                </nav></div>
        </div>
    </div>

</header>
<div class="header-placeholder"></div>
<div class="yCmsContentSlot container bottom-header-slot">
</div>