{% spaceless %}
    <li class="location-summary">
        <div class="location-pin-block">
            <span class="location-pin"><img src="{{ asset('build/images/web/shop/' ~ shop.code ~ '/theme_map_icon.png') }}" alt=""></span>
        </div>
        <div class="location-summary-content">
            <h5><a data-gtm_event="impression" data-gtm_event_value="__externalId__" href="{{ path('app_web_shop_show', {'_locale': app.request.locale, 'slug': '__slug__'}) }}" target="_self" class="ga-cta">__name__</a></h5>

            <div class="show-open-window" data-id="__externalId__">
                <address>__address__</address>

                <span class="phone-number"><i class="fa fa-phone"></i>__phone__</span>
            </div>

            <div class="open-close-box">
                <div class="open-box __openClass__">
                    <span class="open-label">__openLabel__</span>
                    <span class="open-sentence">__openSentence__</span>
                </div>
                <div class="small-schedule">
                    <table class="table-schedule"></table>
                </div>
            </div>

            <div class="open-hours-exceptions">
                <div class="shedule-exception exception-small">
                    <h5 class="is-open">{{ 'app.web.global.open_hours.exceptions.open'|trans }}</h5>
                </div>

                <div class="shedule-exception exception-small">
                    <h5 class="is-closed">{{ 'app.web.global.open_hours.exceptions.closed'|trans }}</h5>
                </div>
            </div>

            <div class="btn-block">
                <button data-gtm_event="itinerary" data-gtm_event_value="__externalId__" type="button" class="services-button location-button ga-cta"
                        data-show-route="{{ path('app_web_shop_show', {'_locale': app.request.locale, 'slug': '__slug__', focusRoute: true}) }}"
                        data-latitude="__latitude__"
                        data-longitude="__longitude__">
                    Itinéraire
                </button>
                <a href="#" class="services-button">Courses en ligne</a>
            </div>
            <a href="{{ path('app_web_shop_show', {'_locale': app.request.locale, 'slug': '__slug__'}) }}"
               target="_self" class="ga-cta btn-text" data-gtm_event="impressionMap" data-gtm_event_value="__externalId__">Plus d'infos</a>
        </div>
        
    </li>
{% endspaceless %}