/* animation for loading */
@-webkit-keyframes sk-circleBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
     background-color: rgba(9,112,230, 1);
    width: 15%;
    height: 15%;
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
    background-color: rgba(9,112,230, 0.5);
    width: 20%;
    height: 20%;
  }
}

@keyframes sk-circleBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
     background-color: rgba(9,112,230, 1);
     width: 15%;
     height: 15%;
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
    background-color: rgba(9,112,230, 0.5);
    width: 20%;
    height: 20%;
  }
}

/* animation for pin on map*/
@-webkit-keyframes animatePinMap {
  0%{
    box-shadow: 0 0 0 0 rgba(#0970E6, 0.7), 0 0 0 0 rgba(#0970E6, 0.7);
  }

  40%{
    box-shadow: 0 0 0 50px rgba(#0970E6, 0), 0 0 0 0 rgba(#0970E6, 0.7);
  }

  80%{
    box-shadow: 0 0 0 50px rgba(#0970E6, 0), 0 0 0 30px rgba(#0970E6, 0);
  }

  100%{
    box-shadow: 0 0 0 0px rgba(#0970E6, 0), 0 0 0 30px rgba(#0970E6, 0);
  }
}

@keyframes animatePinMap {
  0%{
    box-shadow: 0 0 0 0 rgba(#0970E6, 0.7), 0 0 0 0 rgba(#0970E6, 0.7);
  }

  40%{
    box-shadow: 0 0 0 50px rgba(#0970E6, 0), 0 0 0 0 rgba(#0970E6, 0.7);
  }

  80%{
    box-shadow: 0 0 0 50px rgba(#0970E6, 0), 0 0 0 30px rgba(#0970E6, 0);
  }

  100%{
    box-shadow: 0 0 0 0px rgba(#0970E6, 0), 0 0 0 30px rgba(#0970E6, 0);
  }
}

/* loading animation for search map */
@-webkit-keyframes mapSearchOptionLoading {
  0%, 80%, 100% {
    opacity: 0;
  }

  30%, 50% {
    opacity: 1;
  }
}

@keyframes mapSearchOptionLoading {
  0%, 80%, 100% {
    opacity: 0;
  }

  30%, 50% {
    opacity: 1;
  }
}

/* loading circle*/
@keyframes ld-spin{
  0%{
    -webkit-transform:rotate(0);
    transform:rotate(0);
    animation-timing-function:cubic-bezier(.55,.055,.675,.19)
  }
  50%{
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
    animation-timing-function:cubic-bezier(.215,.61,.355,1)
  }
  to{
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg)
  }
}
@-webkit-keyframes ld-spin {
  0%{
    -webkit-transform:rotate(0);
    transform:rotate(0);
    animation-timing-function:cubic-bezier(.55,.055,.675,.19)
  }
  0%{
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
    animation-timing-function:cubic-bezier(.215,.61,.355,1)
  }
  to{
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg)
  }
}








