.breadcrumb-container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  height: 30px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $gray_e6;

  @media only screen and (max-width: 1488px) {
    max-width: 100%;
  }

  @media only screen and (max-width: 767px) {
    display: none;
  }
}

.breadcrumb-carrefour {
  margin: 0;
  list-style-type: none;
  padding: 0;
  display: flex;
  max-width: 1140px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;

  @media only screen and (max-width: 1200px) {
    max-width: 960px;
  }

  li {
    display: flex;
    font-size: 12px !important;
    line-height: 16px;
    font-family: $font-open-sans;
    align-items: center;

    &:first-child {
      &:before {
        display: none;
      }
    }

    &:before {
      font-size: 8px;
      color: $gray_9a;
      margin: 0 8px;
    }

    a {
      display: block;
      text-decoration: none;
      color: $blue_09;

      &:hover {
        color: $blue_05;
      }
    }

    span {
      display: block;
      color: $gray_9a;
    }
  }
}