@font-face {
  font-family: 'icons_carrefour';
  src: url('#{$fonts_path}icons_carrefour.eot');
  src: url('#{$fonts_path}icons_carrefour.eot?58302645#iefix') format('embedded-opentype'),
       url('#{$fonts_path}icons_carrefour.woff2?58302645') format('woff2'),
       url('#{$fonts_path}icons_carrefour.woff?58302645') format('woff'),
       url('#{$fonts_path}icons_carrefour.ttf?58302645') format('truetype'),
       url('#{$fonts_path}icons_carrefour.svg?58302645#icons_carrefour') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'carrefour-sav';
    src: url('#{$fonts_path}carrefour-sav.eot');
    src: url('#{$fonts_path}carrefour-sav.eot?#iefix') format('embedded-opentype'),
        url('#{$fonts_path}carrefour-sav.woff2') format('woff2'),
        url('#{$fonts_path}carrefour-sav.woff') format('woff'),
        url('#{$fonts_path}carrefour-sav.ttf') format('truetype'),
        url('#{$fonts_path}carrefour-sav.svg#carrefour-sav') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
