body {
  &.external-style {
    #search_field_store {

      span.icon-delete-content-field {
        top: 15px !important;
      }

      span.icon-localise-me {
       top: 10px !important;
      }

      &.focus {
        span.icon-localise-me {
          top: 22px !important;
        }

        span.icon-delete-content-field {
          top: 25px !important;
        }
      }
    }

    .filter-block-results {
      .filter-results-items {
        #filtering {
          label{
            &.calendar-filter {
              padding-top: 3px;

              &.date-selected {
                padding-top: 4px;
              }
            }
          }
        }
      }
    }

    .search-wrapper {
      #map_search_autocomplete {
        &.ui-autocomplete-loading {
          + #map_search_reset {
            &:after {
              border-color: #188ffc #188ffc #188ffc transparent;
              -webkit-animation: ld-spin 1s infinite;
              animation: ld-spin 1s infinite;
              border-radius: 50%;
              border-style: solid;
              border-width: 3px;
              display: block;
              position: absolute;
              height: 18px;
              content: '';
              width: 18px;
              top: 50%;
              right: 0px;
              margin-top: 0px;
            }
          }
        }
      }
    }
  }
}

body {
  &.scrolled {
    &.header-md {
      &.detail-page {
        &.banner-promotion {
          .container-fluid {
            &.content-page {
              @media only screen and (max-width: 767px) {
                margin-top: 200px !important;
              }
            }
          }

          .detail-page-main {
            .detail-page-map-block {
              
              @media only screen and (max-width: 767px) {
                top: 82px;
                height: 250px;
              }
            }
          }

          .detail-page-aside {
            @media only screen and (max-width: 767px) {
              padding: 144px 0px 0px 0px;
            }
          }
        }

        .container-fluid {
          &.content-page {
            @media only screen and (max-width: 767px) {
              margin-top: 145px !important;
            }
          }
        }

        .detail-page-main {
          .detail-page-map-block {
            @media only screen and (max-width: 767px) {
              top: 81px;
              height: 180px;
            }
          }
        }

        .detail-page-aside {
          @media only screen and (max-width: 767px) {
            padding-top: 120px;
          }
        }
      }

      &.external-style {
        &.banner-promotion {
          .home-page{ 
            @media only screen and (max-width: 767px) {
              margin-top: -116px;
            }
          }

          .main-content {
            @media only screen and (max-width: 767px) {
              height: 357px;
            }
          }
        }

        .home-page{ 
          @media only screen and (max-width: 767px) {
            margin-top: -66px;
          }
        }

        .main-content {
          @media only screen and (max-width: 767px) {
            height: 357px;
          }
        }
      }
    }
  }
}

.detail-page-main {
.detail-page-map-block{
    transition: height ease 0.1s, top ease 0.1s;
  }
}

header {
  background-color: transparent;

  &.fixed-top {
    &.scrolled {
      .header_promotion {
        @media only screen and (max-width: 767px) {
          display: none !important;
        }
      }
    }
  }
}

.mainnav {
  margin: 0;

  @media only screen and (min-width: 1024px) {
    height: 60px;
  }
}

.home-page {
  header {
    transition: none;
  }

  .btn-link {
    border: none;
    box-shadow: none;
    outline: none;
  }
}

.detail-page {
  &.header-md {
    .container-fluid.content-page {
      @media only screen and (max-width: 767px) {
        margin-top: 192px !important;
      }
      
      &.scrolled {
        @media only screen and (max-width: 767px) {
          margin-top: 122px !important;
        }

        + .detail-page-wrapper {
          .detail-page-main {
            .detail-page-map-block {
              @media only screen and (max-width: 767px) {
               top: 81px;
              }
            }
          }

          .detail-page-aside {
            @media only screen and (max-width: 767px) {
              padding-top: 100px;
            }
          }
        }
      }
    }

    .container-fluid.content-page:not(.osm-promotion) {
      @media only screen and (max-width: 767px) {
        margin-top: 145px !important;
      }

      &.scrolled {

        + .detail-page-wrapper {
          .detail-page-main {
            .detail-page-map-block {
              @media only screen and (max-width: 767px) {
               top: 81px;
              }
            }
          }

          .detail-page-aside {
            @media only screen and (max-width: 767px) {
              padding-top: 100px;
            }
          }
        }
      }

      + .detail-page-wrapper  {
        .detail-page-main {
          .detail-page-map-block {
            @media only screen and (max-width: 767px) {
             top: 145px;
            }
          }
    
          .detail-page-aside {
            @media only screen and (max-width: 767px) {
              padding-top: 121px;
            }
          }
        }
      }
    }

    &.banner-promotion {
      .detail-page-main {
        .detail-page-map-block {
          @media only screen and (max-width: 767px) {
           top: 192px;
          }
        }
      }

      .detail-page-aside {
        @media only screen and (max-width: 767px) {
          padding-top: 117px;
        }
      }
    }

    .detail-page-main {
      .detail-page-map-block {
        @media only screen and (max-width: 767px) {
         top: 145px;
        }
      }
    }

    .detail-page-aside {
      @media only screen and (max-width: 767px) {
        padding-top: 119px;
      }
    }
  }

  .content-page {
    .mainnav {
      .row1 {
        @media only screen and (min-width: 768px) {
          margin: 0;
        }
      }
    }
  }
}
.ui-datepicker {
  width: auto;
  padding: 0;
}

.ui-widget-header {
  background: transparent;
  border: none;
}

.content-wrapper {
  display: none !important;
}

.container-fluid{
  &.content-page {
    position: relative;
    z-index: 11;
  }
}
