// colors
$white: #ffffff;
$black: #000000;
$black_28: #282828;

$blue_09: #0970E6;
$blue_05: #05529C;
$blue_0e: #0E3368;
$blue_e4: #E4F0FE;
$blue_eb: #EBEBEB;

$gray_57: #575757;
$gray_e5: #E5E5E5;
$gray_9a: #9A9A9A;
$gray_92: #929292;
$gray_e6: #E6E6E6;

$green_4c: #4CCD8A;

$red_d8: #D83832;

$blue_18: #188ffc;

$tr: transparent;

$img_carrefour: '../../../../../images/web/shop/carrefour-be/';
$fonts_path: '../../../../../fonts/shop/carrefour-be/';

//fonts
$font-umbutu: 'Ubuntu', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;
