{% set twigData = {'showSocials': false} %}

<!-- Block location details + image -->
{% include 'web/block/location_details/block/breadcrumb.html.twig' %}
<section id="block_location_details" class="section-location-details custome-block">
  {% if globalTemplates and globalTemplates[constant('App\\Entity\\AttributeValue::VALUE_OPEN_HOURS_EXCEPTION')] is defined %}
    {% set openHours = open_hours(location, shopDomain, constant('App\\Twig\\OpenHoursExtension::TYPE_EXCEPTION')) %}
  {% else %}
    {% set openHours = open_hours(location, shopDomain, constant('App\\Twig\\OpenHoursExtension::TYPE_WEEK')) %}
  {% endif %}
  
  <div class="location-details-block">
    <div class="wrapper">
      <div class="row">
        <div class="col-md-7">
          <div class="left-detail-image image-slider-block">
            <div class="image-slider">
              {% for image in location.images %}

                <img src="{{ path('app_web_image_cloudinary_path',
                  {'apiKey': image.cloudName|default("mobilosoft-testing"),
                    'apiPath': image.publicId,
                    'imageSize': 'h_300'}) }}" alt="{{ location.brand }} {{ location.address.locality }}">
              {% endfor %}
            </div>
          </div>
          <div class="left-detail-description">
            <p>
              {% autoescape false %}
                {% if location.description|length %}
                  {{ location.description|replace({'\r\n':'<br/>'}) }}
                {% else %}
                  {{ 'app.web.show.default_description'|trans({'%name%':location.name, '%brand%':location.brand}, shop.code) }}
                {% endif %}
              {% endautoescape %}
            </p>
        </div>
        </div>
        <div class="col-md-5">
          <div class="location-details-description">
            <h2>
              {{ location.name }}
            </h2>
            <address>
              {{ (location.address.number ? location.address.number ~ ' ' : '') ~ location.address.street }}
              <br>
              {{ location.address.zipCode ~ ' ' ~ location.address.locality }}
            </address>
            <div class="opening-hours-block">
              <span class="title-hours">Opening hours</span>
              {% include 'web/block/location_details/block/open_hours/week.html.twig' %}
            </div>
            <div class="icon-link-block">
              <div class="icon-link">
                <icon class="icon mobile-phone"></icon>
                <a data-gtm_event="call" data-gtm_event_value="__externalId__" href="tel:{{ location.contact.phone }}" class="ga-cta">{{ location.contact.phone }}</a>
              </div>
              {% if location.contact.email %}
                <div class="icon-link">
                  <icon class="icon envelope-square"></icon>
                    <a href="mailto:{{ location.contact.email }}">{{ location.contact.email }}</a>
                </div>
              {% endif %}
            </div>
            <button data-gtm_event="itinerary" data-gtm_event_value="__externalId__" type="button" class="services-button location-button ga-cta" data-type="{{ shop.mapType }}"
                data-type-google="{{ constant('App\\Entity\\Shop::MAP_TYPE_GOOGLE') }}"
                data-type-here="{{ constant('App\\Entity\\Shop::MAP_TYPE_HERE') }}"
                data-show-route="{{ path('app_web_shop_show', {'_locale': app.request.locale, 'slug': location.slug, focusRoute: true}) }}">
              {{ "app.web.show.buttons.directions"|trans({}, shop.code) }}
            </button>
          </div>
        </div>
      </div>
      <div class="availability-block">
        <h3 class="abailable-title">{{ "app.web.show.services.title"|trans({}, shop.code) }}</h3>
        <ul>

          {% if location.services and location.services['SERVICE'] is defined and location.services['SERVICE']|length %}
            {% set showServices = true %}
            {% set services = location.services['SERVICE'] %}
          {% endif %}

          {% if serviceImageSize is not defined %}
            {% set serviceImageSize = 'w_40' %}
          {% endif %}


          {% for propertyService in services if propertyService.contentFacet.title or propertyService.externalId %}
            <li itemscope itemtype="http://schema.org/Service">



                {% if propertyService.assets[0] is defined and propertyService.assets[0].publicId|length  %}
                  {% set image = propertyService.assets[0]  %}
                  <img src="{{ path('app_web_image_cloudinary_path', {'apiKey': image.cloudName, 'apiPath': image.publicId, 'imageSize':serviceImageSize}) }}" alt="{{ propertyService.contentFacet.title }}"/>
                {% endif %}

              <span itemprop="serviceType">{{ propertyService.contentFacet.title }}</span>
              {% if propertyService.assets[0] is defined and propertyService.assets[0].publicId|length  %}
                {% set image = propertyService.assets[0]  %}
                <meta itemprop="logo" content="{{ url('app_web_image_cloudinary_path', {'apiKey': image.cloudName, 'apiPath': image.publicId, 'imageSize': serviceImageSize}) }}"/>
              {% endif %}

            </li>
          {% endfor %}
        </ul> 
      </div>
    </div>
  </div>
</section>
