{% set countryList = {"ES":"ES", "FR":"FR", "GB":"GB", "NL":"NL", "DE":"DE", "MX":"MX", "BE":"BE", "SE":"SE", "JP":"JP", "PT":"PT", "AT":"AT", "BH":"BH", "CL":"CL", "CN":"CN", "CO":"CO", "DO":"DO", "EG":"EG", "IN":"IN", "IR":"IR","JO":"JO", "KZ":"KZ", "KW":"KW", "MY":"MY", "MA":"MA", "PH":"PH", "RU":"RU", "ZA":"ZA", "CH":"CH", "US":"US", "AE":"AE", "VE":"VE", "TR":"TR", "LB":"LB"} %}

{% set countryListOrder = {} %}
{% for key,code in countryList %}
  {% set transKey = 'app.web.home.filters.countries.'~code %}
  {% set intermeriary = { (key) : transKey|trans({}, 'hackett-int') } %}

  {% set countryListOrder = countryListOrder|merge(intermeriary) %}
{% endfor %}


<!-- Block map + search list -->
<section id="block_map" class="section-map">
  <div class="hackett-introduction-title">
    <h2>
        {{ "app.web.home.title"|trans({}, shop.code) }}
    </h2>
    <div class="hackett-introduction-content">
      <p>
        {{ "app.web.home.subtitle"|trans({}, shop.code) }}
      </p>
      <p>
        {{ "app.web.home.desc1"|trans({}, shop.code) }}
      </p>
      <p>
        {{ "app.web.home.desc2"|trans({}, shop.code) }}
      </p>
    </div>
  </div>

  <div class="search-form">
    <div class="title-block">
      <img src="{{ asset('build/images/web/shop/' ~ shop.code ~ '/icons/point-icon.png') }}" alt="">
        <p>
          <a href="javascript:;" class="geolocation-btn-outside" id="geolocation-btn">
            {{ "app.web.home.use_current_location"|trans({}, shop.code) }}
          </a>
            {{ "app.web.home.select_location"|trans({}, shop.code) }}
        </p>
    </div>

    <div class="input-block">
      <div class="select-row">
        <select name="country" id="map_filters_country" data-select="country">
            <option value="">{{ "app.web.home.filters.all"|trans({}, shop.code) }}</option>
          {% for key,value in countryListOrder|sort %}
            <option value="{{ key }}">{{ value }}</option>
          {% endfor %}
        </select>
      </div>
      <span class="separator">{{ "app.web.home.or"|trans({}, shop.code) }}</span>
      <div class="input-row">
        <div class="search-position">
          {% set inputPlaceholder =  'app.web.home.map.search.input'|trans  %}
          {% if 'app.web.home.map.search.input'|trans({}, shop.code) != 'app.web.home.map.search.input' %}
            {% set inputPlaceholder =  'app.web.home.map.search.input'|trans({}, shop.code)  %}
          {% endif %}
          <input id="map_search_autocomplete" type="text" placeholder="{{ inputPlaceholder }}" value="{{ app.request.get('location')|default('') }}">
          <button id="map_current_position" class="position-locate"></button>
        </div>

        <button id="map_search_address_button" class="search-button">
          {{ "app.web.home.button_find_store"|trans({}, shop.code) }}
        </button>
      </div>
    </div>
  </div>

  <div id="map_search_filters">
    <form class="filter-form">
      <h3>{{ "app.web.home.filters.title"|trans({}, shop.code) }}</h3>
      <div class="items">
        <label class="input-item">
          <input type="checkbox" data-checkbox="serviceKeys" id="map_filters_clickandcollect" name="serviceKeys[0]" value="clickandcollect">
          <span class="check-img"></span>
          <img src="{{ asset('build/images/web/shop/' ~ shop.code ~ '/item_clickandcollect.jpg') }}" alt="">
          <p>{{ "app.web.home.filters.click"|trans({}, shop.code) }}</p>
        </label>

        <label class="input-item">
          <input type="checkbox" id="map_filters_mailorder" data-checkbox="serviceKeys" name="serviceKeys[1]" value="mailorder">
          <span class="check-img"></span>
          <img src="{{ asset('build/images/web/shop/' ~ shop.code ~ '/item_mailorder.jpg') }}" alt="">
          <p>{{ "app.web.home.filters.mail"|trans({}, shop.code) }}</p>
        </label>
        <label class="input-item">
          <input type="checkbox" id="map_filters_personaltailoring" data-checkbox="serviceKeys" name="serviceKeys[2]" value="personaltailoring">
          <span class="check-img"></span>
          <img src="{{ asset('build/images/web/shop/' ~ shop.code ~ '/item_personaltailoring.jpg') }}" alt="">
          <p>{{ "app.web.home.filters.tailor"|trans({}, shop.code) }}</p>
        </label>
        <label class="input-item">
          <input type="checkbox" id="map_filters_boyscollection" data-checkbox="serviceKeys" name="serviceKeys[3]" value="boyscollection">
          <span class="check-img"></span>
          <img src="{{ asset('build/images/web/shop/' ~ shop.code ~ '/item_boyscollection.jpg') }}" alt="">
          <p>{{ "app.web.home.filters.boys"|trans({}, shop.code) }}</p>
        </label>
      </div>
    </form>
    <div class="filter-rezults">
      <span class="search-results-no" style="display:none">0</span> <span class="search-results-no-loading">0</span> {{ "app.web.home.stores_found"|trans({}, shop.code) }} (<span class="current_city">{{ "app.web.home.worldwide"|trans({}, shop.code) }}</span>)
    </div>
  </div>

  <div class="section-map-content">
    <div class="map-search-box">
      <div class="search-results" data-prototype="{% filter escape %}{% include 'web/shop/'~shop.code~'/block/prototype/open_hours.html.twig' %}{% endfilter %}">
        <div class="search-results-list">
          <ul></ul>
        </div>
      </div>
    </div>

    <div id="map_container" class="map-container" data-type="{{ shop.mapType }}"
     data-type-google="{{ constant('App\\Entity\\Shop::MAP_TYPE_GOOGLE') }}"
     data-type-here="{{ constant('App\\Entity\\Shop::MAP_TYPE_HERE') }}"
     data-credentials="{{ shop.mapCredentials }}" data-language="{{ app.request.locale }}"
     data-prototype="{% filter escape %}{% include 'web/shop/'~shop.code~'/block/prototype/info_window.html.twig' %}{% endfilter %}">
    <div id="map_element" class="map-element"></div>
      <div class="map-search-options">
        <div class="map-search-options-container">
          <div class="loading-map-search">
            <span class="item"></span>
            <span class="item"></span>
            <span class="item"></span>
          </div>
          <div class="input">
            <input type="checkbox" id="map_refresh_on_drag"/>
            <label for="map_refresh_on_drag"></label>
          </div>
          <div>
            <span class="txt-blue ubuntu center reset weight300 selected-text">{{ 'app.web.home.map.search_on_move'|trans }}</span>
            <span class="txt-blue ubuntu center reset weight300 not-selected-text">{{ 'app.web.home.map.search_area'|trans }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
