{% set trip_advisor = "" %}
{% set best_restaurant = "" %}
{% set a_emporter = "" %}
{% set reserver = "" %}
{% set livraison = "" %}
{% set menu = "" %}

{% if location.locationExtraData and location.locationExtraData|length %}
  {% for extraData in location.locationExtraData  %}

      {% if extraData.key == "trip_advisor" %}
          {% set trip_advisor = extraData.value %}
      {% endif %}
      {% if extraData.key == "best_restaurant" %}
          {% set best_restaurant = extraData.value %}
      {% endif %}

      {% if extraData.key == "a_emporter" %}
          {% set a_emporter = extraData.value %}
      {% endif %}

      {% if extraData.key == "reserver" %}
          {% set reserver = extraData.value %}
      {% endif %}

      {% if extraData.key == "livraison" %}
          {% set livraison = extraData.value %}
      {% endif %}

      {% if extraData.key == "menu" %}
          {% set menu = extraData.value %}
      {% endif %}

  {% endfor %}
{% endif %}

<!-- Block location details + image and map -->
<div class="wrapper">
  <section id="block_location_details" class="section-location-details">
  <div class="wrapper section-location-introduction">
    <div class="wrapper-title">
      <div class="header-introduction">
        <h4>{{ "app.web.show.title"|trans({}, shop.code) }}</h4>
        <h2>{{ location.name }}</h2>
        {# new rezervation button #}
            {% if reserver|length %}
              <a href="{{ reserver }}"  data-modal="command_modal"target="_blank" class="open_pop leonbooking btn btn-secondary offer-tracking">{{ "app.web.show.cta_buttons.rezerver"|trans({}, shop.code) }}</a>

          {% endif %}
          {# new rezervation button #}
          {% set _tsid = '' %}
            {% if location.locationExtraData and location.locationExtraData|length %}
                {% for extraData in location.locationExtraData if extraData.key == 'trustpilot_id' %}
                    {% set _tsid = extraData.value %}
                {% endfor %}
            {% endif %}
            {% if _tsid|length %}
              <div class="rating-block">
                  <!-- TrustBox widget - Mini -->

                  <!-- TrustBox widget - Horizontal --> <div class="trustpilot-widget" data-locale="fr-FR" data-template-id="5406e65db0d04a09e042d5fc" data-businessunit-id="5ddf8737d5594d0001d710c4" data-style-height="28px" data-style-width="100%" data-theme="light" data-location="{{ _tsid }}"> <a href="https://fr.trustpilot.com/review/restaurants.leon-de-bruxelles.fr" target="_blank" rel="noopener">Trustpilot</a> </div> <!-- End TrustBox widget -->

              </div>
            {% endif %}
            <ul class="social_net">
              <li>
                <a href="https://www.facebook.com/leondebruxellesofficiel" class="facebook" target="_blank"></a>
              </li>
              <li>
                <a href="https://www.instagram.com/leon_de_bruxelles_officiel/?hl=fr" class="instagram" target="_blank">
                  <img src="{{ asset('build/images/web/shop/leondebruxelles-fr/intagram.png') }}">
                </a>
              </li>
               <li>
                <a href="https://www.youtube.com/channel/UCLF1-Np46WJHTDNy05BzPKA/videos" class="youtube" target="_blank">
                  <img src="{{ asset('build/images/web/shop/leondebruxelles-fr/youtube.png') }}">
                </a>
              </li>
              <!-- <li>
                <a href="https://twitter.com/Leon_Officiel" class="tweet" target="_blank"></a>
              </li>
              <li>
                <a href="https://itunes.apple.com/fr/app/leon-de-bruxelles/id690506820?mt=8&amp;ign-mpt=uo%3D4" class="mac" target="_blank"></a>
              </li>
              <li>
                <a href="https://play.google.com/store/apps/details?id=com.phoceis.leon"  class="googlestore" target="_blank"></a>
              </li> -->
            </ul>
      </div>
    </div>

    <div class="box">

      <div class="header-introduction only-mobile">
        <h4>{{ "app.web.show.title"|trans({}, shop.code) }}</h4>
        <h2>{{ location.address.locality }}</h2>
          {# new rezervation button #}
            {% if reserver|length %}
                <a href="{{ reserver }}"  data-modal="command_modal"target="_blank" class="open_pop leonbooking btn btn-secondary offer-tracking">{{ "app.web.show.cta_buttons.rezerver"|trans({}, shop.code) }}</a>
            {% endif %}
          {# new rezervation button #}
          <div class="rating-block">
              <!-- TrustBox widget - Mini -->

              <!-- TrustBox widget - Horizontal --> <div class="trustpilot-widget" data-locale="fr-FR" data-template-id="5406e65db0d04a09e042d5fc" data-businessunit-id="5ddf8737d5594d0001d710c4" data-style-height="28px" data-style-width="100%" data-theme="light" data-location="{{ _tsid }}"> <a href="https://fr.trustpilot.com/review/restaurants.leon-de-bruxelles.fr" target="_blank" rel="noopener">Trustpilot</a> </div> <!-- End TrustBox widget -->

          </div>
      </div>

      <div class="details-image-slider">
        <div class="image-slider">
          {% for image in location.images %}

            <img src="{{ path('app_web_image_cloudinary_path',
              {'apiKey': image.cloudName|default("mobilosoft-testing"),
                'apiPath': image.publicId,
                'imageSize': 'h_300'}) }}" alt="{{ location.name }} {{ location.address.locality }}">
          {% endfor %}

        </div>
      </div>

      <div class="details-address">
        <div>
          <h4>{{ 'app.web.show.location_details.address'|trans }}</h4>
        <address>
           {{ location.address.street|street_number_fr_format }}
           {% if location.address.extraInfo|length %}
               <br>{{ location.address.extraInfo }}
           {% endif %}
          <br><br>
          {{ location.address.zipCode ~ ' ' ~ location.address.locality }}
        </address>



        <div class="btn-block">

          <button data-gtm_event="itinerary" data-gtm_event_value="__externalId__" type="button" class="services-button location-button ga-cta" data-type="{{ shop.mapType }}"
              data-type-google="{{ constant('App\\Entity\\Shop::MAP_TYPE_GOOGLE') }}"
              data-type-here="{{ constant('App\\Entity\\Shop::MAP_TYPE_HERE') }}"
              data-show-route="{{ path('app_web_shop_show', {'_locale': app.request.locale, 'slug': location.slug, focusRoute: true}) }}">
            {{ 'app.web.show.location_details.route'|trans }}
          </button>

            {% if menu|length %}
          <a class="services-button menu-btn open_pop" href="{{ menu }}" target="_blank" data-modal="menu_modal">
              {{ "app.web.show.cta_buttons.menu"|trans({}, shop.code) }}
          </a>
            {% endif %}
        </div>

        {# new logo block #}
        <div class="logo-block">
          {% if trip_advisor == "true" %}
            <div class="logo-block-item">
              <img src="{{ asset('build/images/web/shop/leondebruxelles-fr/tripadviser.jpg') }}">
            </div>
          {% endif %}
          
          {% if best_restaurant == "true" %}
            <div class="logo-block-item">
                <img src="{{ asset('build/images/web/shop/leondebruxelles-fr/logo-chaine_restaurant.jpg') }}">
            </div>
          {% endif %}
          
          {% if livraison|length %}
            <div class="logo-block-item">
                <a href="{{ livraison }}" target="_blank" class="delivery btn btn-secondary">
                  {# {{ "app.web.show.cta_buttons.delivery"|trans({}, shop.code) }} #}
                </a>
            </div>
          {% endif %}
        </div>
        {# end new logo block #}
        </div>

      </div>

      <div class="details-info">
          {% if location.contact.phone|length %}
        <div class="call_it">
            <a data-gtm_event="call" data-gtm_event_value="__externalId__" href="tel: {{ location.contact.phone }}" class="ga-cta">{{ location.contact.phone }}</a>
        </div>
          {% endif %}

        <h4>{{ 'app.web.show.location_details.working_hours.title'|trans }}</h4>

         {% if location.status == 'OPEN' %}
            {% if globalTemplates and globalTemplates[constant('App\\Entity\\AttributeValue::VALUE_OPEN_HOURS_EXCEPTION')] is defined %}
              {% set openHours = open_hours(location, shopDomain, constant('App\\Twig\\OpenHoursExtension::TYPE_EXCEPTION')) %}

              {% include 'web/block/location_details/block/open_hours/exception.html.twig' %}
            {% else %}
              {% set openHours = open_hours(location, shopDomain, constant('App\\Twig\\OpenHoursExtension::TYPE_WEEK')) %}

              {% include 'web/block/location_details/block/open_hours/week.html.twig' %}
            {% endif %}
          {% elseif location.status == 'OPEN_SOON' %}
              <div>{{ "app.web.show.location_open_soon"|trans({'%%openingDate%%': location.openingDate|date('d/m/Y')}, shop.code) }}</div>
          {% else %}
              <div>{{ "app.web.show.location_closed"|trans({}, shop.code) }}</div>
          {% endif %}

        <div class="cta-commander">

          {% if a_emporter|length %}
            <a target="_blank" href="{{ a_emporter }}" class="pop_open btn btn-primary offer-tracking">{{ "app.web.show.cta_buttons.a_empoter"|trans({}, shop.code) }}</a>
          {% endif %}

          {% if reserver|length %}
            <a href="{{ reserver }}"  data-modal="command_modal"target="_blank" class="open_pop leonbooking btn btn-secondary offer-tracking">{{ "app.web.show.cta_buttons.rezerver"|trans({}, shop.code) }}</a>

          {% endif %}

        </div>
      </div>
      <div class="btn-block only-mobile">
          <button data-gtm_event="itinerary" data-gtm_event_value="__externalId__" type="button" class="services-button location-button ga-cta" data-type="{{ shop.mapType }}"
              data-type-google="{{ constant('App\\Entity\\Shop::MAP_TYPE_GOOGLE') }}"
              data-type-here="{{ constant('App\\Entity\\Shop::MAP_TYPE_HERE') }}"
              data-show-route="{{ path('app_web_shop_show', {'_locale': app.request.locale, 'slug': location.slug, focusRoute: true}) }}">
            {{ 'app.web.show.location_details.route'|trans }}
          </button>

        {% if menu|length  %}
          <a href="{{ menu }}" type="button" target="_blank" class="services-button location-button menu-btn">
            {{ "app.web.show.cta_buttons.menu"|trans({}, shop.code) }}
          </a>
        {% endif %}
        </div>
    </div>
  </div>

  <div id="map_container" class="map-container" data-type="{{ shop.mapType }}"
     data-type-google="{{ constant('App\\Entity\\Shop::MAP_TYPE_GOOGLE') }}"
     data-type-here="{{ constant('App\\Entity\\Shop::MAP_TYPE_HERE') }}"
     data-credentials="{{ shop.mapCredentials }}" data-language="{{ app.request.locale }}">
    <div id="map_element" class="map-element"></div>
  </div>
</section>
</div>

{% if reserver|length %}
<div class="container-popup" id="command_modal">
    <div class="content-popup">
        <a href="javascript:;" class="close_pop">&nbsp;</a>
        <iframe class="window_open_pop" id="command" src="{{ reserver }}"></iframe>
    </div>
</div>
{% endif %}

{% if menu|length %}
    <div class="container-popup big" id="menu_modal">
        <div class="content-popup big">
            <a href="javascript:;" class="close_pop">&nbsp;</a>
            <iframe class="window_open_pop big" id="menu" src="{{ menu }}"></iframe>
        </div>
    </div>
{% endif %}