{% set _tsid = '' %}
{% if location.locationExtraData and location.locationExtraData|length %}
    {% for extraData in location.locationExtraData if extraData.key == 'trustpilot_id' %}
        {% set _tsid = extraData.value %}
    {% endfor %}
{% endif %}

{% if _tsid|length %}
    <div class="rating-wrapper">
        <div class="wrapper">
            <!-- TrustBox widget - Carousel -->
            <div class="trustpilot-widget" data-locale="fr-FR" data-template-id="53aa8912dec7e10d38f59f36" data-businessunit-id="5ddf8737d5594d0001d710c4" data-style-height="130px" data-style-width="100%" data-theme="light" data-location="{{ _tsid }}" data-stars="1,2,3,4,5" data-schema-type="LocalBusiness">
            <a href="https://fr.trustpilot.com/review/restaurants.leon-de-bruxelles.fr" target="_blank" rel="noopener">Trustpilot</a>
            </div>
            <!-- End TrustBox widget -->
        </div>
    </div>

{% endif %}