<!-- Block near locations + simple -->
<div class="wrapper">
  <section id="block_near_location" class="section-near-location">
  <div class="near-location-block">
    <div class="wrapper">
      <h2 class="near-location-title">{{ 'app.web.show.proximities.title'|trans({'%locality%':location.address.locality}, shop.code) }}</h2>

      <div class="locations-to-slide proximities-list" data-url="{{ path('api_get_near_locations_by_slug', {'version': shop.apiVersion, 'slug': location.slug}) }}"
         data-prototype="{% filter escape %}{% include 'web/shop/leondebruxelles-fr/block/prototype/near_location_summary.html.twig' %}{% endfilter %}" data-useslider="1">
      </div>

    </div>
  </div>
</section>
</div>
