{% set info_proximity = "" %}
{% if location.locationExtraData and location.locationExtraData|length %}
    {% for extraData in location.locationExtraData if extraData.key == "info_proximity" %}
        {% set info_proximity = extraData.value %}
    {% endfor %}
{% endif %}
{% set openHours = open_hours(location, shopDomain, constant('App\\Twig\\OpenHoursExtension::TYPE_WEEK')) %}

<div class="wrapper">
    <div class="presentation-container">
        <div class="col-md-12 detail-container">
            <div class="row">
                <div class="col-md-4 image-block">
                    <img src="{{ asset('/build/images/web/shop/leondebruxelles-fr/plat_new.jpg') }}" alt="{{ "app.web.show.invite_friend"|trans({}, shop.code) }}" title="{{ "app.web.show.invite_friend"|trans({}, shop.code) }}">

                    {% if app.request.locale != "en" %}
                    <a href="javascript;" data-modal="frend_invite" id="popin-trigger" class="open_pop troq-invite inviter_amis">
                        {% autoescape false %}
                            {{ "app.web.show.invite_friend"|trans({}, shop.code) }}
                        {% endautoescape %}
                    </a>
                    <div class="container-popup" id="frend_invite">
                        <div class="content-popup">
                            <a href="javascript:;" class="close_pop">&nbsp;</a>
                            <iframe class="window_open_pop" id="inviter_amis_iframe" src="https://www.leon-de-bruxelles.fr/invitez-un-ami/"></iframe>
                        </div>
                    </div>
                    {% endif %}

                </div>
                <div class="presentation-content col-md-7">
                    <h2>
                        {% autoescape false %}
                            {{ "app.web.show.description.title"|trans({}, shop.code) }}
                        {% endautoescape %}
                    </h2>
                    <div class="presentation_item">

                        <h3>{{ "app.web.show.description.subtitle"|trans({}, shop.code) }} {{ location.address.locality }}</h3>
                        <span>
                            {% if location.description|length %}
                                {{ location.description }}
                            {% else %}
                                {{ "app.web.show.description.default"|trans({}, shop.code) }}
                            {% endif %}
                        </span>
                    </div>
                    {% if location.services['paiement'] is defined %}
                    <div class="presentation_item">
                        <h3>{{ "app.web.show.payment_methods_title"|trans({}, shop.code) }}</h3>
                        <span>
                            {% for service in location.services['paiement'] %}
                                {{ service.contentFacet.longContent }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </span>
                    </div>
                    {% endif %}
                    
                    {% if location.services['service_resto'] is defined %}
                    <div class="presentation_item">
                        <h3>{{ "app.web.show.services_title"|trans({}, shop.code) }}</h3>
                        <ul>
                            {% for propertyService in location.services['service_resto'] %}
                            <li itemscope itemtype="http://schema.org/Service">

                                {% if propertyService.assets[0] is defined and propertyService.assets[0].publicId|length %}
                                    {% set image = propertyService.assets[0]  %}
                                    <img src="{{ path('app_web_image_cloudinary_path', {'apiKey': image.cloudName, 'apiPath': image.publicId, 'imageSize': 'h_64'}) }}" alt="{{ propertyService.contentFacet.longContent }}" title="{{ propertyService.contentFacet.longContent }}"/>
                                {% endif %}
                                <h5 itemprop="serviceType" style="display: none">{{ propertyService.contentFacet.longContent }}</h5>

                                {% if propertyService.assets[0] is defined and propertyService.assets[0].publicId|length %}
                                    {% set image = propertyService.assets[0]  %}
                                    <meta itemprop="logo" content="{{ url('app_web_image_cloudinary_path', {'apiKey': image.cloudName, 'apiPath': image.publicId, 'imageSize': 'h_64'}) }}"/>
                                {% endif %}


                            </li>

                            {% endfor %}


                        </ul>
                    </div>
                    {% endif %}

                    <div class="presentation_item">
                        <h3>{{ "app.web.show.info_title"|trans({}, shop.code) }}</h3>
                        {{ "app.web.show.description.line_1"|trans({"%%proximite%%":info_proximity, "%%name%%":location.name}, shop.code) }}<br>
                        {% if location.status == 'OPEN' %}
                            {{ "app.web.show.description.line_2"|trans({"%%currentDayHours%%": openHours.opens.openTime , "%%name%%":location.name}, shop.code) }}<br>
                        {% elseif location.status == 'OPEN_SOON' %}
                            {{ "app.web.show.location_open_soon"|trans({'%%openingDate%%': location.openingDate|date('d/m/Y')}, shop.code) }}<br/>
                        {% endif %}
                        {{ "app.web.show.description.line_3"|trans({"%%name%%":location.name}, shop.code) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
