<!-- Block with all city/locations -->
<section id="block_locations" class="section-locations">
    <div class="wrapper">
        <div class="wrap-title">
            <h2>
                {% spaceless %}
                    {% if 'app.web.home.locations.title'|trans({}, shop.code) != 'app.web.home.locations.title' %}
                        {{ 'app.web.home.locations.title'|trans({}, shop.code) }}
                    {% else %}
                        {{ 'app.web.home.locations.title'|trans }}
                    {% endif %}
                {% endspaceless %}
            </h2>
        </div>

        <div class="event-list-block">
            <div class="search-alphabet">
                <ul id="search_alphabet" data-prototype-default="{{ '<li><span>__letter__</span></li>'|e }}"
                    data-prototype-link="{{ '<li><a href="#letter___letter__" rel="nofollow" data-scroll><span>__letter__</span></a></li>'|e }}">
                </ul>
            </div>

            <div class="results-by-letters">
                <div id="results_letters_content" class="wrapper"
                     data-prototype="{% apply escape %}{% include 'web/block/locations/prototype/result_letter.html.twig' %}{% endapply %}"
                     data-prototype-summary="{% apply escape %}{% include 'web/shop/leondebruxelles-fr/block/prototype/location_summary.html.twig' %}{% endapply %}">
                </div>
            </div>
        </div>
    </div>
</section>
