{% set promotions = [] %}
{% if location.items|length %}
    {% for key,value in location.items %}
        {% set promotions = promotions|merge(value) %}
    {% endfor %}
{% endif %}

{% set currentUrl = url(app.request.attributes.get('_route'),
                       app.request.attributes.get('_route_params')) %}

{% if promotions|length %}

<div class="location-items">
    <div class="wrapper">
        <h3 class="shop-title-h2">{{ "app.web.show.promotions.title"|trans({}, shop.code) }}</h3>
        <div class="promotion-slider">
            {% for servicePromotion in promotions %}
            <div class="slider-item-img">


                {% if servicePromotion.assets[0] is defined %}

                    {% set ctaUrlPrefix = '' %}
                    {% if not 'http' in servicePromotion.callToActionFacet.ctaUrl %}
                        {% set ctaUrlPrefix = 'https://' %}
                    {% endif %}


                    <a href="{{ ctaUrlPrefix ~ servicePromotion.callToActionFacet.ctaUrl }}" target="_blank" data-tracking="offre_dej_zpt_f" tabindex="0"><img src="{{ path('app_web_image_cloudinary_path', {'apiKey': servicePromotion.assets[0].cloudName, 'apiPath': servicePromotion.assets[0].publicId}) }}"  alt="{{ servicePromotion.contentFacet.title }}"/></a>


                    <script type="application/ld+json">
                        {
                            "@context": "https://schema.org",
                            "@type": "Event",

                            "name": "{{ servicePromotion.contentFacet.title }}",
                            "startDate": "{{ servicePromotion.validityFacet.validFrom }}",

                            "eventStatus": "https://schema.org/EventCancelled",
                            "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",

                            "location": {
                                "@type": "Place",
                                "name": "{{ location.name }}",
                                "address": {
                                    "@type": "PostalAddress",
                                    "streetAddress": "{{ location.address.street }}",
                                    "addressLocality": "{{ location.address.locality }}",
                                    "postalCode": "{{ location.address.zipCode }}",
                                    "addressCountry": "{{ location.address.country }}"
                                }
                            },

                            "image": [
                                "{{ url('app_web_image_cloudinary_path', {'apiKey': servicePromotion.assets[0].cloudName, 'apiPath': servicePromotion.assets[0].publicId})
                    }}"
                            ],
                            "description": "{{ servicePromotion.contentFacet.longContent }}",
                            "url": "{{ ctaUrlPrefix ~ servicePromotion.callToActionFacet.ctaUrl }}",
                            "brand": "{{ location.brand }}",
                            "identifier": "{{ servicePromotion.externalId }}"

                        }
                    </script>

                {% endif %}


            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endif %}