.detail-page {
  header {
    @media (max-width: 767px) {
      margin-bottom: 0;
    }
  }
}

header {
  padding-bottom: 26px;

  @media (max-width: 979px) and (min-width: 768px) {
    padding-top: 20px;
  }

  @media (max-width: 767px) {
    border-bottom: 1px solid $gray_ee;
    margin-bottom: 40px;
    padding: 20px 0;
    position: relative;
  }

  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

    @media (min-width: 768px) {
      max-width: 750px;
    }

    @media (min-width: 992px) {
      max-width: 970px;
    }

    @media (min-width: 1200px) {
      max-width: 1160px;
    }

    @media (max-width: 767px) {
      padding: 0 30px;
    }

    &:after {
      content:'';
      display: block;
      clear: both;
    }
  }

  #sub-navigation {
    float: right;
    font-size: 12px;
    padding: 23px 0 0;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 33px;

    .nav {
      display: flex;

      li {
        display: block;

        &.active {
          a {
            span {
              border-color: $red;
              color: $red;
            }
          }
        }

        a {
          padding: 5px 10px;
          font-size: 12px;
          line-height: 24px;
          display: block;
          font-weight: 700;

          span {
            display: block;
            font-size: 12px;
            line-height: 16px;
            font-weight: 700;
            transition: all .3s ease-in-out;
            color: $gray;
            border-bottom: 2px solid $tr;
          }
        }
      }
    }
  }

  #logo {
    float: left;
    padding: 45px 10px 15px 0;

    @media (max-width: 979px) and (min-width: 768px) {
      padding: 0;
    }

    @media (max-width: 767px) {
      padding: 0;
    }

    img {
      @media (max-width: 979px) {
        width: 190px;
      }
    }
  }

  #navigation {
    float: right;
    clear: right;

    @media (min-width: 1200px) {
      margin-top: 15px
    }

    @media (max-width: 979px) and (min-width: 768px) {
      float: left;
      clear: both;
    }

    .nav-hamburger {
      display: block;
      background: 0 none;
      font-size: 28px;
      color: $blue;
      padding: 4px;
      line-height: 36px;
      border: none;
      outline: none;
      float: right;
      margin-top: 24px;
      margin-right: 5px;

      i {
        font-size: 28px;
        color: $blue;
      }

      @media (min-width: 768px) {
        display: none;
      }
    }

    .mainnavigation {
      @media (min-width: 768px) {
        display: block !important;
      }
      
      @media (max-width: 767px) {
        display: none;
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        z-index: 101;
      }
    }

    .nav {
      display: flex;
      padding-top: 18px;

      @media (max-width: 1200px) {
        padding-top: 3px;
      }

      @media (max-width: 767px) {
        display: block;
        padding-top: 0;
      }

      li {
        @media (max-width: 767px) {
          display: block;
        }

        &.active {
          a {
            border-bottom: 3px solid $yellow;

            @media (max-width: 767px) {
              background-color: $dark_red;
              border-bottom: 1px solid $gray_ee;
            }
          }
        }

        a {
          font-size: 22px;
          color: $gray_nav;
          line-height: 24px;
          padding: 10px 0;
          margin: 0 15px;
          display: block;
          transition: color .3s ease-in-out;

          &:hover {
            @media (min-width: 768px) {
              color: $red_hover;
            }
          }

          @media (max-width: 979px) and (min-width: 768px) {
            font-size: 18px;
            margin: 0 10px;
          }

          @media (max-width: 767px) {
            padding: 15px 30px;
            background: $yellow;
            border-bottom: 1px solid $gray_ee;
            color: $white;
            margin: 0;
            font-size: 24px;
            line-height: 26px;
          }
        }
      }
    }
  }
}
















