.section-location-promotions {
  .promotions-block {
    padding: 0;

    .slick-slider {
      .slick-list {
        @media only screen and (min-width: 768px) {
          margin: 0 -4px;
        } 
      }

      .img-block {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        overflow: hidden;
      }
    }
  }
}