.detail-page {
  background-color: $gray;
  margin-top: 140px;

  @media only screen and (max-width: 1023px) {
    margin-top: 70px;
  }

  .container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;

    @media only screen and (max-width: 1200px) {
      padding-left: 15px;
      padding-right: 15px;
    }

    @media only screen and (max-width: 767px) {
      padding: 0;
    }
  }

  .row {
    @media only screen and (max-width: 767px) {
      margin: 0;
    }
  }

  .col {
    @media only screen and (max-width: 767px) {
      padding: 0;
      margin: 0;
    }
  }

  h2 {
    font-size: 24px;
    line-height: 48px;
    margin-bottom: 30px;
    color: $text-color;
    text-transform: initial;

    @media only screen and (max-width: 767px) {
      font-size: 16px;
      line-height: 24px;
      text-align: left;
      margin-bottom: 10px;
    }
  }

  .col-box {
    box-shadow: none;
    border: 1px solid $gray-light;
    background-color: $white;
    border-radius: 4px;
    padding: 19px 20px;
    margin-bottom: 20px;

    @media only screen and (max-width: 767px) {
      border-radius: 0;
      background-color: $white;
      border-top: none;
      border-right: none;
      border-left: none;
      padding: 11px 11px 10px;
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.section-location-details {
  margin-top: 0;

  .middle-content {
    margin-bottom: 20px;

    @media only screen and (max-width: 767px) {
      display: flex;
      margin-bottom: 0;
      flex-direction: column;
    }

    .col {
      @media only screen and (max-width: 767px) {
        margin-bottom: 0;
        padding: 0;
      }
    }

    .col-box {
      @media only screen and (min-width: 768px) {
        height: calc(50% - 10px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
      }
    }

    .col-box-content {
      flex: 1;
    }

    .btn {
      display: inline-block;
    }
  }

  .row {
    @media screen and (max-width: 960px) and (min-width: 768px) {
      display: flex;
    }
  }

  .col-box {
    .socials {
      padding-top: 15px;
    }

    .schedule-inline {
      margin-bottom: 23px;
      th,
      td {
        font-size: 16px;
        line-height: 12px;
        font-weight: 300;
        font-family: $font-roboto;
        color: $text-color;
        margin: 0;
        padding: 0;

        @media only screen and (max-width: 767px) {
          font-size: 12px;
          line-height: 16px;
          padding-bottom: 5px;
        }

        span {
          font-size: 16px;
          line-height: 16px;
          font-weight: 300;
          font-family: $font-roboto;
          color: $text-color;
          margin: 0;
          display: block;

          @media only screen and (max-width: 767px) {
            font-size: 12px;
            line-height: 16px;
          }
        }

        &.active {
          font-weight: 700;
        }
      }

      tbody {
        @media only screen and (max-width: 767px) {
          justify-content: flex-start;
        }
      }

      tr {
        @media only screen and (max-width: 767px) {
          width: 40%;
        }
      }

      th {
        padding-bottom: 17px;

        @media only screen and (max-width: 767px) {
          padding-bottom: 5px;
        }
      }
    }

    h4 {
      display: block;
      font-family: $font-msr-700;
      font-size: 18px;
      line-height: 24px;
      color: $text-color;
      margin-bottom: 3px;
      font-weight: 400;
      text-transform: initial;

      @media only screen and (max-width: 767px) {
        font-size: 16px;
        margin-bottom: 0;
      }
    }

    address,
    a,
    p {
      font-family: $font-roboto;
      font-size: 16px;
      line-height: 31px;
      font-weight: 300;
      color: $text-color;
      margin: 0 0 14px;

      @media only screen and (max-width: 767px) {
        font-size: 12px;
        line-height: 16px;
      }
    }

    a {
      margin: 0;
    }

    .button-tracking {
      border: 1px solid $text-color;
      color: $text-color;
      padding: 7px 19px 7px 44px;
      border-radius: 21px;
      font-size: 15px;
      line-height: 18px;
      font-family: $font-msr-700;
      font-weight: 400;
      background-color: transparent;
      box-shadow: none;
      background: transparent url('#{$img_voo}intinerary-icon.svg') 22px 7px no-repeat;
      text-decoration: none;
      transition: background-color .3s ease,color .3s ease;

      &:hover {
        background: $text-color url('#{$img_voo}intinerary-icon-hover.svg') 22px 7px no-repeat;
        color: $white;
      }
    }

    .services-button {
      border: 1px solid $text-color;
      color: $text-color;
      padding: 7px 19px 7px 44px;
      border-radius: 21px;
      font-size: 15px;
      line-height: 18px;
      font-family: $font-msr-700;
      font-weight: 400;
      background-color: transparent;
      box-shadow: none;
      transition: background-color .3s ease,color .3s ease;

      &:hover {
        color: $white;
        filter: none;

        &.location-button {
           background: $text-color url('#{$img_voo}intinerary-icon-hover.svg') 22px 7px no-repeat;
        }

        &.call-button {
          background: $text-color url('#{$img_voo}call-icon-hover.svg') 22px 7px no-repeat;
          background-size: 17px;
        }
      }

      &.location-button {
        background: transparent url('#{$img_voo}intinerary-icon.svg') 22px 7px no-repeat;
      }

      &.call-button {
        background: transparent url('#{$img_voo}call-icon.svg') 22px 7px no-repeat;
      }
    }
  }

  .loaction-bottom-info {
    h4 {
      margin-bottom: 13px;
    }

    .schedule-inline {
      td {
        @media only screen and (min-width: 768px) {
          line-height: 20px !important;
          width: 14.8%;
        }
      
        span {
          @media only screen and (min-width: 768px) {
            line-height: 20px;
          }
        }
      }
    }
  }

  .col {
    align-self: stretch;

    &.col-35 {
      @media screen and (max-width: 960px) and (min-width: 768px) {
        max-width: 35%;
      }

      @media only screen and (max-width: 767px) {
        order: 2;
      }
    }

    &.col-65 {
      @media screen and (max-width: 960px) and (min-width: 768px) {
        max-width: 65%;
      }

      @media only screen and (max-width: 767px) {
        order: 1;
      }
    }
  }

  .col-image {
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    border: none;

    @media only screen and (min-width: 768px) {
      min-height: 385px;
    }
  }

  .image-slider {
    border-radius: 0;
    &.slick-dotted {
      &.slick-slider {
        min-height: 100%;
        height: 385px;

        @media only screen and (max-width: 767px) {
          height: 247px;
        }
      }
    }

    .slick-slide {
      outline: none;
    }

    .image-slider-item {
      height: 385px;

      .image-slider-img {
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
      }
    }

    img {
      // height: 385px;
      max-width: 100%;
      height: auto;
      
      @media only screen and (min-width: 768px) {
        min-height: 100%;
      }
    }

    .slick-dots {
      li {
        &.slick-active {
          button {
            background-color: $pink;
          }
        }
        button {
          &:before {
            display: none;
          }
        }
      }
    }

    .slick-list {
      @media only screen and (max-width: 767px) {
        height: 100%;
      }

      .slick-track {
        @media only screen and (max-width: 767px) {
          height: 100%;
        }
      }
    }
  }

  .wrapper-title-icon {
    margin-bottom: 24px;
    margin-left: 6px;
    margin-right: 6px;

    @media only screen and (max-width: 767px) {
      margin: 0;
      padding: 0 10px;
    }
    
    .header-link {
      font-family: $font-msr-700;
      font-size: 15px;
      line-height: 18px;
      color: $text-color;
      text-decoration: underline;
      background: url("#{$img_voo}back-link-icon.svg") 0 no-repeat;
      padding-left: 28px;
      margin-top: 21px;
      margin-bottom: 22px;
      font-weight: 400;
      display: inline-block;

      @media only screen and (max-width: 767px) {
        font-size: 12px;
        line-height: 14px;
        background-size: contain;
        margin-top: 11px;
        padding-left: 24px;
        margin-bottom: 11px;
      }
    }

    h1 {
      font: 36px/48px $font-msr-700;
      margin: 0 0 10px;
      color: $text-color;
      font-weight: 400;

      @media only screen and (max-width: 767px) {
        font-size: 20px;
        line-height: 30px;
        padding: 0;
        margin: 0 0 5px;
      }
    }

    .voo-hours-block {
      margin-bottom: 17px;

      .open-label {
        display: inline-block;
        font-size: 13px;
        line-height: 14px;
        border-radius: 4px;
        padding: 1.5px 8px 1px 5px;
        text-transform: uppercase;
        margin-right: 4px;
        font-family: $font-msr-700;

        @media only screen and (max-width: 767px) {
          font-size: 10px;
          line-height: 11px;
          padding: 2.5px 5px 2px;
        }
      }

      .open-sentence {
        padding-right: 16px;
        font-size: 15px;
        line-height: 19px;
        font-family: $font-msr-700;

        @media only screen and (max-width: 767px) {
          font-size: 10px;
          line-height: 14px;
          text-transform: uppercase;
        }
      }
    }
  }

  .option-list-block {
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      align-items: flex-end;

      @media only screen and (max-width: 767px) {
        flex-wrap: wrap;
      }

      li {
        margin-right: 17px;

        @media only screen and (max-width: 767px) {
          width: 50%;
          margin-bottom: 12px;
          margin-right: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        a {
          display: flex;
          align-items: center;

          img {
            display: block;
            margin-right: 6px;
          }

          span {
            font-family: $font-msr-700;
            font-size: 15px;
            line-height: 14px;
            font-weight: 400;
            color: $text-color;

            @media only screen and (max-width: 767px) {
              font-size: 14px;
              line-height: 15px;
            }
          }
        }
      }
    }
  }
}