.section-locations {
  padding-top: 53px;
  padding-bottom: 57px;
  margin-top: 0;

  @media only screen and (max-width: 767px) {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .wrap-title {
    @media only screen and (max-width: 767px) {
      padding: 0 10px;
      text-align: left;
      cursor: pointer;
    }

    .wrapper {
      @media only screen and (max-width: 767px) {
        padding: 0;
        margin: 0;
      }
    }

    h2 {
      font-family: $font-msr-700;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      margin: 0;
      font-weight: 400;
      color: #1b1b1b;
      text-transform: initial;

      @media only screen and (max-width: 767px) {
        font-size: 16px;
        line-height: 19px;
        text-align: left;
        background: url('#{$img_voo}arrow-down-black.png') center right no-repeat;
        padding-right: 25px;
        display: inline-block
      }
    }
  }

  .search-alphabet {
    margin: 0;
    padding: 30px 0;
    display: block;
    background-color: #f3f6f9;
    text-align: center;

    @media only screen and (max-width: 767px) {
      display: none;
      margin-top: 20px;
      padding: 10px 15px;
    }

    &.active {
      @media only screen and (max-width: 767px) {
        display: block;
      }
    }

    li {
      display: inline-block;
      margin-right: 15px;

      @media only screen and (max-width: 767px) {
        width: 10px !important;
        height: 19px !important;
        margin-bottom: 5px !important;
        margin-right: 15px !important;
      }

      &:last-child {
        margin-right: 0;
      }

      a {
        span {
          font-size: 16px;
          line-height: 19px;
          display: block;
          font-weight: 400;
          color: $text-color;
          padding: 0;
          font-family: $font-roboto;
        }
      }

      span {
        font-size: 16px;
        line-height: 19px;
        display: block;
        font-weight: 300;
        color: rgba(39,72,86,.58);
        padding: 0;
        font-family: $font-roboto;
      }
    }
  }

  .results-by-letters {
    @media only screen and (max-width: 767px) {
      display: none;
    }

    &.active {
      @media only screen and (max-width: 767px) {
        display: block;
      }
    }

    .wrapper {
      margin: 0 auto;
      max-width: 1054px;
    }
  }

  .result-one-letter {
    display: flex;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    .title-letter {
      font-family: $font-roboto;
      font-size: 36px;
      line-height: 42px;
      font-weight: 500;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      width: 25px;
      color: #1b1b1b;

      @media only screen and (max-width: 767px) {
        font-size: 20px;
        line-height: 24px;
      }
    }

    .letter-content {
      flex: 1;
      margin-left: 63px;
      padding-top: 10px;

      @media only screen and (max-width: 767px) {
        margin-left: 31px;
        padding-top: 2px;
      }
    }

    ul {
      li {
        margin-bottom: 44px;

        @media only screen and (max-width: 767px) {
          margin-left: 0;
          padding-right: 0;
          margin-bottom: 20px;
        }
      }
    }
  }

  .location-summary {

    h5 {
      color: $text-color;
      font-family: $font-msr-700;
      font-size: 16px;
      line-height: 19px;
      font-weight: 400;
      text-transform: initial;

      @media only screen and (max-width: 767px) {
        font-size: 12px;
        line-height: 14px;
      }

      a {
        font-family: $font-msr-700;
        font-size: 16px;
        line-height: 19px;
        color: $pink;
        text-decoration: underline;
        font-weight: 400;
        text-transform: initial;

        @media only screen and (max-width: 767px) {
          font-size: 12px;
          line-height: 14px;
        }

        &:hover {
          color: $pink;
        }
      }
    }

    address,
    a {
      display: block;
      font-family: $font-roboto;
      font-size: 15px;
      line-height: 19px;
      font-weight: 300;
      color: $text-color;
      margin-bottom: 0;
      text-decoration: none;

      @media only screen and (max-width: 767px) {
        font-size: 12px;
        line-height: 14px;
      }
    }

    .location-phone {
      display: flex;
      a {
        padding-left: 2px;
        @media only screen and (max-width: 767px) {
          line-height: 20px;
        }
        
        &:hover {
          color: $text-color;
        }
      }
    }
  }
}