.section-location-services {
  margin-top: 20px;
  margin-bottom: 60px;

  @media only screen and (max-width: 767px) {
    margin-top: 0;
    margin-bottom: 0;
  }

  .location-services {
    background: transparent;
    padding: 0;

    .col-box {
      padding: 30px 30px 20px;
      margin: 0 6px;

      @media only screen and (max-width: 767px) {
        padding: 10px;
        margin: 0;
      }
    }

    h2 {
      font-size: 18px;
      line-height: 24px;
      font-family: $font-msr-700;
      color: $text-color;
      margin: 0 0 21px;
      font-weight: 400;
      text-align: left;

      @media only screen and (max-width: 767px) {
        margin: 0 0 4px 0;
        font-size: 16px;
      }
    }

    .services-block {
      display: flex;
      flex-wrap: wrap;

      @media only screen and (max-width: 767px) {
        margin-bottom: 3px;
      }

      li {
        width: 33.33333%;
        display: block;
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        font-family: $font-roboto;
        padding-left: 29px;
        margin-bottom: 8px;
        color: $text-color;
        text-transform: initial;
        padding: 0 10px 0 29px;
        margin: 0 0 8px 0;
        background: url('#{$img_voo}service-icon.svg') 0 0 no-repeat;

        @media only screen and (max-width: 767px) {
          width: 100%;
          padding-right: 0;
          margin: 0 0 5px 0;
          font-size: 12px;
          line-height: 19px;
        }

        b {
          color: $text-color;
          font-size: inherit;
          font-weight: 300;
        }
      }
    }

    .services-payments {
      text-align: left;

      p {
        font-size: 18px;
        line-height: 24px;
        font-family: $font-msr-700;
        color: $text-color;
        margin: 0 0 19px;
        font-weight: 400;
        text-align: left;
        display: block;

        @media only screen and (max-width: 767px) {
          font-size: 16px;
          margin: 0 0 5px 0;
        }
      }

      img {
        @media only screen and (max-width: 767px) {
          width: 161px;
        }
      }
    }
  }
}