body {
  font-family: $font-roboto;
}

.homepage {
  .map-search-options {
    transform: none;
    top: 8px;

    @media only screen and (max-width: 767px) {
      left: 15%;
    }

    @media only screen and (max-width: 680px) {
      left: 10px;
    }

    @media only screen and (min-width: 768px) {
      left: 110px;
    }
  }
}

.section-map {
  margin-top: 140px;

  @media only screen and (max-width: 1023px) {
    margin-top: 70px;
  }

  &.mobile-map-small {
    @media only screen and (max-width: 767px) {
      position: relative;
    }
    .map-search-box {
      .map-list-header {
        @media only screen and (max-width: 767px) {
          padding-bottom: 175px;
        }
      }
    }

    .map-container {
      @media only screen and (max-width: 767px) {
        position: absolute !important;
        top: 136px;
        left: 0;
        height: 164px;
        min-height: 164px;
        z-index: 11;
      }
    }

    &.expand {
      .map-container {
        @media only screen and (max-width: 767px) {
          top: 353px;
        }
      }
    }
  }

  /* modification to show the rezults list by defqult*/
  &.mobile-default-rezults {
    @media only screen and (max-width: 767px) {
      position: relative;
    }
    .map-search-box {
      .map-list-header {
        @media only screen and (max-width: 767px) {
          padding-bottom: 175px;
        }
      }

      .search-results {
        @media only screen and (max-width: 767px) {
          display: block;
        }
      }
    }

    .map-container {
      @media only screen and (max-width: 767px) {
        position: absolute !important;
        top: 136px;
        left: 0;
        height: 164px;
        min-height: 164px;
        z-index: 11;
      }
    }

    &.expand {
      .map-container {
        @media only screen and (max-width: 767px) {
          top: 353px;
        }
      }
    }
  }

  &.expand {
    .map-search-box {
      .search-results {
        @media only screen and (min-width: 768px) {
          height: calc(100vh - 533px);
        }
      }
    }
  }

  .H_ib {
    @media only screen and (min-width: 768px) {
      margin-left: 127px;
      left: -100%;
    }

    .H_ib_body {
      width: 280px;
      max-height: initial;

      .H_ib_content {
        min-height: 100%;
        max-height: 100%;
      }

      .H_ib_close {
        margin: 10px;
      }
    }
  }

  .map-container {
    height: calc(100vh - 140px);

    @media only screen and (max-width: 1023px) {
      height: calc(100vh - 70px);
    }

    @media only screen and (max-width: 767px) {
      height: 460px;
    }

  }

  .map-search-box {
    border: 1px solid $gray-light;
    width: 378px;
    box-shadow: none;
    top: 20px;
    right: 20px;
    min-height: 0;
    height: auto;

    @media only screen and (min-width: 767px) {
      height: auto !important;
    }

    @media only screen and (max-width: 767px) {
      border: none;
      border-radius: 0;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      border: 0;
      margin-bottom: 0;
      width: 100%;
    }

    .map-list-header {
      padding: 20px 18px 20px 17px;

      @media only screen and (max-width: 767px) {
        padding: 12px 11px 10px;
      }
    }

    .search-form {
      align-items: center;
      padding: 0;

      @media only screen and (max-width: 767px) {
        flex-direction: column;
      }

      .search-position  {
        @media only screen and (max-width: 767px) {
          margin-bottom: 10px;
        }

        #map_search_autocomplete {
          width: 100%;
          height: 38px;
          font-size: 16px;
          line-height: 20px;
          border: 1px solid #7c96a4;
          border-radius: 3px;
          background: transparent;
          box-shadow: none;
          padding: 0 15px 0 41px;
          font-weight: 400;
          outline: none;
          appearance: none;

          &::placeholder {
            color: rgba(#7C96A4, 0.70);
          }
        }
      }

      .map-list-header-geolocation-btn {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 9px;
        left: 10px;
      }

      #map_current_position {
        position: relative;
        right: auto;
        left: 0;
        border: none;
        box-shadow: none;
        border-radius: 0;
        background: url('#{$img_voo}map-list-search-icon.svg') center center no-repeat;
        background-size: contain;
        padding: 0;
        min-width: 0;
        margin: 0;
        width: 100%;
        height: 100%;
      }

      .search-button {
        background-color: $pink;
        border-radius: 21px;
        line-height: 14px;
        padding: 8px 20px;
        font-size: 15px;
        min-width: 119px;
        font-family: $font-msr-700;
        height: 34px;
        width: auto;
        margin: 0;
        text-transform: none;
        font-weight: 400;
        margin-left: 11px;
        border: none;

        @media only screen and (max-width: 767px) {
          width: 100%;
          margin: 0;
          background-image: none;
          text-indent: 0;
        }

        &:hover {
          background-color: #ba1773;
          filter: none;
        }
      }
    }

    .search-results {
      display: none;
      height: calc(100vh - 290px);
      background-color: #ffffff;

      @media screen and (max-height: 560px) {
        height: 300px;
      }

      @media only screen and (max-width: 767px) {
        height: 100%;
      }

      &.loading {
        &.show {
          display: none;
        }
      }

      &.show {
        display: block;
      }
    }

    .search-results-list {
      height: 100%;
      padding: 0;

      @media only screen and (max-width: 767px) {
        overflow: hidden;
      }

      .location-summary {
        padding: 15px 20px 12px 24px;
        display: block;
        margin: 0 auto;
        cursor: pointer;
        border: 6px solid transparent;
        position: relative;

        @media only screen and (max-width: 767px) {
          padding: 4px;
        }

        &:before {
          top: -6px;
          left: -6px;
          background-color: $gray-light;
          position: absolute;
          display: block;
          content: "";
          height: 1px;
          width: calc(100% + 12px);
        }

        &:first-child {
          &:before {
            display: none;
          }
        }

         &:hover {
          @media only screen and (min-width: 768px) {
            border-color: $gray-light;
          }
        }

        a {
          &:hover {
            color: $text-color;
          }
        }

        .btn-group {
          display: none;

          @media only screen and (max-width: 767px) {
            margin-bottom: 10px;
            padding-top: 10px;
            display: flex;
          }

          .btn {
            @media only screen and (max-width: 767px) {
              border: 1px solid $text-color;
              color: $text-color;
              padding: 7px 40px;
              border-radius: 21px;
              font-size: 15px;
              line-height: 18px;
              font-family: $font-msr-700;
              margin-right: 10px;
              background-color: transparent;
              font-weight: 400;
              width: 100%;
              margin-right: 10px;
              text-decoration: none;
              text-align: center;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              background-image: none;

              &:last-child {
                margin-right: 0;
              }
            }
          }
        }

        .tracking-item {
          display: none;

          @media only screen and (max-width: 767px) {
            display: flex;
          }

          .lication-more-info {
            background-color: $pink;
            border-radius: 21px;
            padding: 8px 20px;
            font-size: 15px;
            min-width: 119px;
            font-family: $font-msr-700;
            height: 34px;
            width: auto;
            margin: 0;
            text-transform: none;
            font-weight: 400;
            text-decoration: none;
            width: 100%;
            display: block;
            text-align: center;
            color: $white;
            line-height: 20px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }
    }

    .search-filters {
      border: none;
      padding: 10px 0 0 0;

      .open-filters {
        padding: 0;

        p {
          font-size: 15px;
          line-height: 18px;
          font-weight: 300;
          display: inline-block;
          background-size: 8% !important;
          background-position: left 7px !important;
          text-decoration: underline;
        }
      }

      .content-filters {
        padding-top: 20px;
        margin-top: 20px;
        max-height: 100%;
        padding-bottom: 0;

        @media only screen and (max-width: 767px) {
          margin-left: -11px;
          margin-left: -11px;
          padding-right: 11px;
          padding-left: 11px;
          padding-top: 10px;
          margin-top: 10px;
        }

        input[type="checkbox"] {
          width: 20px;
          height: 20px;
          margin-right: 10px;
          background: url('#{$img_voo}checkbox.svg') center center no-repeat;
          outline: none;
          -webkit-appearance: none;

          &:checked {
             background: url('#{$img_voo}checkbox-checked.svg') center center no-repeat;
          }
        }

        li {
          margin-bottom: 10px;
          display: flex;
          align-items: center;

          &:last-child {
            margin-bottom: 0;
          }

          ul {
            margin: 0;
            padding: 0;

            li {
              input {
                max-height: 100%;
              }

              label {
                font-size: 16px;
              }
            }
          }

          label {
            font-size: 16px;
            line-height: 24px;
            font-weight: 300;
            color: $text-color;
          }
        }
      }
    }
  }

  .location-summary {
    h5 {
      padding-bottom: 4px;
      font-weight: 400;
      line-height: 24px;
      font-size: 16px;
      color: $text-color;
      text-transform: initial;
      font-family: $font-msr-700;

      a {
        line-height: 24px;
        font-size: 16px;
        text-transform: initial;
      }

    }

    .hidden {
      display: none;
    }

    .location-distance {
      background: url('#{$img_voo}map-list-icon.svg') left center no-repeat;
      background-size: contain;
      margin-bottom: 13px;
    }

    .show-open-window {
      address {
        line-height: 24px;
        font-size: 15px;
        color: $text-color;
        margin-bottom: 3px;
      }
    }

    .open-box {
      &.is-open {
        .open-sentence {
          &:after {
            background: url('#{$img_voo}open-hours-arrow.svg') center center no-repeat;
          }
        }
      }

      &.is-closed {
        .open-sentence {
          &:after {
            background: url('#{$img_voo}close-hours-arrow.svg') center center no-repeat;
          }
        }
      }

      .open-label {
        display: inline-block;
        font-size: 11px;
        line-height: 13px;
        color: #fff;
        border-radius: 4px;
        padding: 1.5px 8px 1px 5px;
        text-transform: uppercase;
        margin-right: 4px;
        font-family: $font-msr-700;
        font-weight: 400;
      }

      .open-sentence {
        font-size: 12px;
        line-height: 14px;
        padding-right: 13px;
        font-family: $font-msr-700;
        font-weight: 400;
      }
    }

    .open-close-box {
      .small-schedule {
        border: none;
        padding: 0;
        border-radius: 0;
        box-shadow: none;

        .table-schedule {
          font-family: $font-roboto;
          tr {
            &.active {
              th,
              td {
                font-weight: 700;
              }
            }
          }

          td,
          th {
            font-size: 16px;
            font-weight: 300;

            &.warning {
              color: $text-color;
            }
          }
        }
      }
    }
  }

  .info-window-block {
    .location-summary {
      .location-summary-block {
        text-align: left;
      }

      .table-schedule {
        tr {
          vertical-align: top;
        }
      }

      address {
        line-height: 24px;
        font-size: 15px;
        color: $text-color;
        margin-bottom: 3px;
        font-weight: 300;
        font-family: $font-roboto;
      }

      .search-button,
      .services-button {
        font-size: 15px;
        line-height: 18px;
        font-family: $font-msr-700;
        border: 1px solid $text-color;
        padding: 8px 24px 6px;
        border-radius: 21px;
        margin-right: 10px;
        font-weight: 400;
        background-image: none;
        box-shadow: none;
        margin: 0;
        transition: background-color .3s ease,color .3s ease;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .search-button {
        background-color: $pink;
        color: $white;
        border-color: $pink;

        &:hover {
          filter: none;
          background-color: #ba1773;
        }
      }

      .btn-block {
        display: flex;

        .services-button {
          flex: 1;
          background-color: transparent;
          color: $text-color;
          transition: background-color .3s ease,color .3s ease;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;

          &:hover {
            background-color: $text-color;
            color: $white;
            filter: none;
          }

          &:last-child {
            margin-right: 0;
          }

          &.call-button {
            margin-left: 10px;
          }
        }
      }
    }
  }
}








