.section-near-location {
  margin: 0;
  padding-bottom: 100px;
  padding-top: 25px;

  @media only screen and (max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  h2 {
    @media only screen and (max-width: 767px) {
      padding: 0 10px;
    }
  }

  .locations-to-slide {
    .slick-slide {
      outline: none;
    }
  }

  .near-location-block {
    background-color: transparent;
    padding: 0;

    article {
      border: 1px solid $gray-light;
      border-radius: 4px;
      text-align: left;
      font-weight: 400;
      background-color: $white;
      margin: 0 10px;
      box-shadow: none;
    }

    .slick-dotted {
      &.slick-slider {
        @media only screen and (min-width: 768px) {
          margin: 0 -4px 30px -4px;
        }
      }
    }
  }

  .slick-dots {
    bottom: -30px;
    li {
      width: 10px;
      height: 10px;
      margin: 0 15px 0 0;
      padding: 0;

      @media only screen and (max-width: 767px) {
        margin: 0 10px 0 0;
      }

      &:last-child {
        margin: 0;
      }

      &.slick-active {
        button {
          background-color: $pink;
        }
      }

      button {
        background-color: rgba(39,72,86,.5);
        border: none;

        &:before {
          display: none;
        }
      }
    }
  }

  .location-summary {
    h5 {
      font-weight: 400;
      line-height: 24px;
      font-size: 16px;
      color: $text-color;
      text-transform: initial;
      font-family: $font-msr-700;
      margin-bottom: 7px;

    }

    .hidden {
      display: none;
    }



    .location-distance {
      background: url('#{$img_voo}map-list-icon.svg') left center no-repeat;
      background-size: contain;
      margin-bottom: 8px;
    }

    address {
      line-height: 24px;
      font-size: 15px;
      color: $text-color;
      margin-bottom: 8px;
      font-weight: 300;
      font-family: $font-roboto;
    }

    .location-label {
      display: inline-block;
      font-size: 11px;
      line-height: 13px;
      color: $white;
      border-radius: 4px;
      padding: 1.5px 8px 1px 5px;
      text-transform: uppercase;
      margin-right: 4px;
      font-family: $font-msr-700;
      font-weight: 400;
    }

    .location-sentence {
      font-size: 12px;
      line-height: 14px;
      padding-right: 13px;
      font-family: $font-msr-700;
      font-weight: 400;
    }

    .btn-block {
      display: flex;
      margin-bottom: 10px;

      .services-button,
      .button-tracking {
        font-size: 15px;
        line-height: 18px;
        font-family: $font-msr-700;
        border: 1px solid $text-color;
        padding: 8px 24px 6px;
        border-radius: 21px;
        margin-right: 10px;
        font-weight: 400;
        background-image: none;
        box-shadow: none;
        text-decoration: none;
        flex: 1;
        margin: 0 10px 0 0;
        background-color: transparent;
        color: $text-color;
        text-align: center;
        transition: background-color .3s ease,color .3s ease;

        &:hover {
          background-color: $text-color;
          color: $white;
          filter: none;
        }

        &:last-child {
          margin: 0;
        }
      }
    }

    .search-button {
      font-size: 15px;
      line-height: 18px;
      font-family: $font-msr-700;
      padding: 8px 24px 6px;
      border-radius: 21px;
      margin-right: 10px;
      font-weight: 400;
      background-image: none;
      box-shadow: none;
      flex: 1;
      margin: 0;
      background-color: $pink;
      color: $white;
      border-color: $pink;
      text-align: center;

      &:hover {
        background-color: #ba1773;
        filter: none;
      }
    }
  }
}












