.section-nos-offers {
  padding-top: 25px;

  @media only screen and (max-width: 767px) {
    padding: 0 10px;
    border-bottom: 1px solid $gray-light;
  }

  h2 {
    text-align: center;

    @media only screen and (max-width: 767px) {
      text-align: left;
      padding: 0 10px;
    }
  }

  .offers-slider {
    .slick-list {
      @media only screen and (max-width: 767px) {
        margin: 0 -10px;
      }

      @media only screen and (max-width: 540px) {
        margin: 0;
      }
      .slick-track {
        display: flex;
      }
    }
  }

  .no-offers-item {
    height: inherit;
    .img-block {
      @media only screen and (max-width: 767px) {
        display: none;
      }

      img {
        max-width: 100%;
      }
    }

    .content {
      padding: 29px 20px 20px 30px;

      @media only screen and (max-width: 767px) {
        padding: 9px;
      }

      .title {
        display: block;
        font-size: 18px;
        line-height: 24px;
        font-family: $font-msr-700;
        color: $text-color;

        @media only screen and (max-width: 767px) {
          font-size: 14px;
          margin-bottom: 5px;
        }
      }

      .date {
        display: block;
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
        color: $text-color;
        font-family: $font-roboto;
        margin: 0 0 10px;

        @media only screen and (max-width: 767px) {
          font-size: 12px;
          margin: 0 0 6px;
        }
      }

      p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        font-family: $font-roboto;
        color: $text-color;
        margin: 0 0 20px;

        @media only screen and (max-width: 767px) {
          font-size: 12px;
          margin: 0 0 9px;
        }
      }
    }
  }

  .col-box {
    margin: 0 10px;
    padding: 0;

    @media only screen and (max-width: 767px) {
      border: 1px solid $gray-light;
      border-radius: 4px;
    }

    @media only screen and (max-width: 540px) {
      margin: 0;
    }
  }

  .slick-dots {
    bottom: -30px;

    @media only screen and (max-width: 767px) {
      bottom: -20px;
    }

    li {
      width: 10px;
      height: 10px;
      margin: 0 15px 0 0;
      padding: 0;

      @media only screen and (max-width: 767px) {
        margin: 0 10px 0 0;
      }

      &:last-child {
        margin: 0;
      }

      &.slick-active {
        button {
          background-color: $pink;
        }
      }

      button {
        background-color: rgba(39,72,86,.5);
        border: none;
        padding: 0;
        border-radius: 50%;
        width: 10px;
        height: 10px;

        &:before {
          display: none;
        }
      }
    }
  }
}