.voo-accordion-block {
  min-height: 400px;
  background: url('#{$img_voo}accordion-bg.png') no-repeat;
  background-position: 50% 0;
  margin-bottom: 60px;
  display: flex;
  align-items: center;

  @media only screen and (max-width: 767px) {
    background: none;
    min-height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #D0DEE5;
    margin-bottom: 10px;
  }

  .container {
    padding: 0 6px;

    @media only screen and (max-width: 767px) {
      padding-left: 10px;
      padding-right: 10px;
    }

    @media screen and (max-width: 1200px) and (min-width: 768px) {
      padding-left: 21px;
      padding-right: 21px;
    }
  }

  .voo-accordion-item {
    max-width: 490px;
    width: 100%;
    padding: 20px 30px 18px 30px;
    margin-bottom: 20px;

    @media only screen and (max-width: 767px) {
      max-width: 100%;
      margin-bottom: 10px;
      padding: 9px 10px 10px 10px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.voo-card {
      background-color: #ffffff;
      border-radius: 4px;
      border: 1px solid #D0DEE5;

      @media only screen and (max-width: 767px) {
        background-color: #ffffff;
        border-radius: 4px;
        border: 1px solid #D0DEE5;
      }
    }

    &.open {
      .voo-accordion-header {
        padding-top: 10px;
        cursor: pointer;

        @media only screen and (max-width: 767px) {
          padding-top: 0;
        }
      }
    }

    .voo-accordion-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      

      .title {
        font-size: 20px;
        line-height: 24px;
        font-family: $font-msr-700;
        color: #274856;
        display: block;
        margin: 0px;
        font-weight: 400;
        flex: 1;

         @media only screen and (max-width: 767px) {
          font-size: 16px;
         }
      }

      .voo-open-accordion {
        width: 30px;
        height: 30px;
        background: url('#{$img_voo}dropdown-icon.svg') center center no-repeat;
        cursor: pointer;

        @media only screen and (max-width: 767px) {
          width: 14px;
          height: 14px;
          background-size: contain;
        }

        &.active {
          background: url('#{$img_voo}dropup-icon.svg') center center no-repeat;
          @media only screen and (max-width: 767px) {
            background-size: contain;
            width: 14px;
            height: 14px;
          }
        }
      }
    }

    .voo-accordion-content {
      padding-top: 19px; 
      display: none;
      padding-bottom: 11px;

      &.accordion-open {
        display: block;
      }

      @media only screen and (max-width: 767px) {
        padding-top: 5px;
        padding-bottom: 0;
      }

      span {
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        font-family: $font-roboto;
        color: #274856;
        margin: 0 0 12px 0;

        @media only screen and (max-width: 767px) {
          font-size: 12px;
          line-height: 12px
         }

        &:last-child {
          margin: 0;
        }
      }
    }
  }
}