{% extends 'web/base/home.html.twig' %}

{% block header %}
    {% include 'web/shop/proximus-be/layout/header.html.twig' %}
{% endblock %}

{% block footer %}
    {% include 'web/shop/proximus-be/layout/footer.html.twig' %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('css/web/shop/' ~ shop.code ~ '/base') }}
{% endblock %}

{% block javascripts_custom %}
    {{ encore_entry_script_tags('js/web/shop/' ~ shop.code ~ '/base') }}
{% endblock %}

{% block javascripts_var %}
    {{ parent() }}

    {# Map Settings for this shop (default are defind in js map folder files, DEFAULT_SETTINGS getter) #}
    <script>
        var globalSettings = {
            map: {
                center: {lat: 50.62313744304004, lng: 5.365809522627387},
                zoom: 10,
            },
            geoLocationCountry: 'BE',
            query: {
                size: 50,
                radius: 15000,
            },
        };
    </script>
{% endblock %}
