{% extends 'web/base/show.html.twig' %}

{% block header %}
    {% include 'web/shop/proximus-be/layout/header.html.twig' %}
{% endblock %}

{% block footer %}
    {% include 'web/shop/proximus-be/layout/footer.html.twig' %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('css/web/shop/' ~ shop.code ~ '/base') }}
{% endblock %}

{% block javascripts_custom %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/web/shop/' ~ shop.code ~ '/base') }}
{% endblock %}
