{% extends 'web/base/show.html.twig' %}
{% set headerUrl = "https://antwerpen-eilandje.pv.be/" %}
{% if app.request.locale =='fr' %}
    {% set headerUrl = "https://antwerpen-eilandje.pv.be/fr/" %}
{% endif %}
{% block body_class %}detail-page{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/web/shop/' ~ shop.code ~ '/show') }}
{% endblock %}

{% block header %}
    {% autoescape false %}
        {{ remote_content(shop, headerUrl, 'header') }}
    {% endautoescape %}
{% endblock %}

{% block footer %}
    <footer>
    </footer>
{% endblock %}

{% block javascripts_var %}
    {{ parent() }}

    <script>
        var globalSettings = {
            near_query: {
                size: 6,
                radius: 200000
            },
            geoLocationCountry: ['BE'],
        };
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('js/web/shop/pv-be/app') }}
{% endblock %}






