.btn {
  -webkit-transition: background-color .3s ease,color .3s ease;
  transition: background-color .3s ease,color .3s ease;
  text-transform: none;
  border-radius: 0;
  padding: 10px 20px;
  font-size: 12px;
  line-height: 13.8px;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  outline: 0 none;
  border: 0 none;
  color: $white;
  font-family: Montserrat,Helvetica,Arial,sans-serif;

  &.btn-primary {
    background-color: $green;

    &:hover {
      background-color: $green_be;
    }
  }
}