.cc-banner {
  .cc-btn {
    border-radius: 0;
    padding: 10px 20px;
    font-size: 12px;
    line-height: 13.8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: $red !important;

    &:hover {
      background-color: $red_hover !important;
    }

    &.cc-allow {
      background-color: $green !important;

      &:hover {
        background-color: $green_be !important;
      }
    }
  }

  .cc-message {
    font-family: 'Montserrat', sans-serif;
    color: $gray_72;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;

    a {
      font-family: 'Montserrat', sans-serif;
      color: $gray_72 !important;
      font-weight: 400;
      font-size: 13px;
      line-height: 15px;

      &:hover {
        color: $green !important;
      }
    }
  }
}