@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$font-path: '../../../../../fonts/shop/louisdelhaize-be/';

@font-face {
  font-family: 'Avenir';
  src: url($font-path + 'AvenirLTStd-Heavy.eot');
  src: url($font-path + 'AvenirLTStd-Heavy.eot?#iefix') format('embedded-opentype'),
      url($font-path + 'AvenirLTStd-Heavy.woff2') format('woff2'),
      url($font-path + 'AvenirLTStd-Heavy.woff') format('woff'),
      url($font-path + 'AvenirLTStd-Heavy.ttf') format('truetype'),
      url($font-path + 'AvenirLTStd-Heavy.svg#AvenirLTStd-Heavy') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Helvetica-Neue';
    src: url($font-path + 'HelveticaNeue.eot');
    src: url($font-path + 'HelveticaNeue.eot?#iefix') format('embedded-opentype'),
        url($font-path + 'HelveticaNeue.woff2') format('woff2'),
        url($font-path + 'HelveticaNeue.woff') format('woff'),
        url($font-path + 'HelveticaNeue.ttf') format('truetype'),
        url($font-path + 'HelveticaNeue.svg#HelveticaNeue') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}