$instagram-color: #19567c;
$facebook-color:  #4267b2;
$dark_green: #00512a;
$green: #adcb53;
$green_be: #bed57c;

$red: #e00f21;
$red_hover: #f12b3c;

$gray_72: #727272;
$gray_fe: #fefefe;
$gray_e2: #e2e2e2;

$balck_0a: #0a0a0a;

$white: #ffffff;

/* Fonts*/
$font-avenir: 'Avenir', sans-serif;
$font-helvetica-neue: 'Helvetica-Neue',Helvetica,Roboto,Arial,sans-serif;

/* Image path*/
$img_path: '../../../../../images/web/shop/louisdelhaize-be/';
