<footer class="proximus-footer">
  <div class="container">
    <div class="left-footer">
      <div class="image-block">
        <img src="{{ asset('build/images/web/shop/' ~ shop.code ~ '/logo-proximus-white.png') }}" alt="">
      </div>
      <div class="info">
          <span class="rs-footer-legal-reserved">Tous droits réservés. © 2019 Proximus</span>
          <ul>
            <li><a href="/fr/id_cr_warnland/particuliers/produits/r-orphans/informations-legales.html">Conditions générales, info sur la consommation</a></li>
          <li><a href="/fr/id_cr_warnland/particuliers/produits/r-orphans/informations-legales.html#privacy">Vie privée</a></li>
          <li><a href="/fr/id_cr_cookie/particuliers/produits/r-orphans/gestion-des-cookies.html">Politique de gestion des cookies</a></li>
          <li><a onclick="javascript:PxConsentManager.open();">Cookie manager</a></li>
          <li><a href="https://www.proximus.be/companydata" target="_blank">Coordonnées de l’entreprise</a></li>
          </ul>
          <p>Ce site a été créé et est géré conformément au droit belge.<br>
          Boulevard du Roi Albert II 27 - B-1030 Bruxelles.</p>
        </div>
    </div>
    <div class="right-footer">
      <div class="medium-text-right">
          <a href="https://www.proximuswholesale.be" target="_blank">Carrier &amp; Wholesale Solutions</a><br>
          <a href="http://www.proximus.com/" target="_blank">Proximus Group</a>&nbsp;|&nbsp;<a href="http://www.telindus.com/">Telindus</a><br>
          <a href="http://www.proximus.com/jobs" target="_blank">Jobs</a>&nbsp;|&nbsp;<a href="https://www.proximus.be/fr/id_ar_sitemap">Sitemap</a>
          <!-- <ul>
              <li><a href="http://www.proximuswholesale.be">Carrier and Wholesale Solutions</a></li>
              <li><a href="http://www.proximus.com/">Proximus Group</a></li>
              <li><a href="http://www.telindus.com/">Telindus</a></li>
              <li><a href="http://www.proximus.com/jobs">Jobs</a></li>
              <li><a href="http://www.proximus.com/sitemap">Sitemap</a></li>
          </ul> -->
        </div>
        <div class="small-3 medium-push-9 columns">
          <a href="https://www.becommerce.be/fr/membres/chercher-un-membre/d/certificate/271 ">
            <img src="{{ asset('build/images/web/shop/' ~ shop.code ~ '/becommerce-logo.png') }}" alt="" becommerce="" logo="">
          </a>
        </div>
    </div>
  </div>
</footer>