<header class="proximus-header">
    <div class="container">
      <div class="logo">
        <img src="{{ asset('build/images/web/shop/' ~ shop.code ~ '/logo.png') }}">
      </div>
      <ul class="nav">
        <li class="selected"><a href="@">Produits</a></li>
        <li class=""><a href="#">Découvrir</a></li>
        <li class=""><a href="#">Support</a></li>
        <li class=""><a href="#">MyProximus</a></li>
      </ul>
    </div>
</header>