<!-- Block location details + simple -->
<section id="block_location_details" class="section-location-details">

{% include 'web/block/location_details/block/breadcrumb.html.twig' %}
{% spaceless %}
    {% if globalTemplates and globalTemplates[constant('App\\Entity\\AttributeValue::VALUE_OPEN_HOURS_EXCEPTION')] is defined %}
        {% include 'web/block/location_details/block/simple_exception.html.twig' %}
    {% else %}
        {% include 'web/block/location_details/block/simple_week.html.twig' %}
    {% endif %}
{% endspaceless %}
</section>
