{% set twigData = {'showSocials': false} %}

<!-- Block location details + image -->
{% include 'web/block/location_details/block/breadcrumb.html.twig' %}
<section id="block_location_details" class="section-location-details">
    {% if globalTemplates and globalTemplates[constant('App\\Entity\\AttributeValue::VALUE_OPEN_HOURS_EXCEPTION')] is defined %}
        {% set openHours = open_hours(location, shopDomain, constant('App\\Twig\\OpenHoursExtension::TYPE_EXCEPTION')) %}
    {% else %}
        {% set openHours = open_hours(location, shopDomain, constant('App\\Twig\\OpenHoursExtension::TYPE_WEEK')) %}
    {% endif %}

    <div class="location-details-block">
        <div class="wrapper">
            <div class="wrapper-title-icon">
                <h1>
                    {{ location.name }}
                    &nbsp;
                    {% if location.status == 'OPEN' %}
                    <span class="open-label {% if openHours.opens.isOpenNow %}is-open{% else %}is-closed{% endif %}">
                        {% if openHours.opens.isOpenNow %}
                            {{ 'app.web.global.open_hours.shop_open'|trans }}
                        {% else %}
                            {{ 'app.web.global.open_hours.shop_close'|trans }}
                        {% endif %}
                    </span>
                    <span class="open-sentence {% if openHours.opens.isOpenNow %}is-open{% else %}is-closed{% endif %}">{{ openHours.opens.sentence }}</span>
                    {% else %}
                        <span class="open-label is-closed">{{ 'app.web.global.open_hours.shop_close'|trans }}</span>
                    {% endif %}
                </h1>
            </div>

            <div class="row m-b-30">
                <div class="col col-35">
                    <div class="col-box m-b-30">
                        <h4>{{ 'app.web.show.location_details.address'|trans }}</h4>

                        <address>

                            {% if location.address.extraInfo|length  %}
                                {{ location.address.extraInfo }}<br/>
                            {% endif %}
                            {{ (location.address.number ? location.address.number ~ ' ' : '') ~ location.address.street }}
                            <br>
                            {{ location.address.zipCode ~ ' ' ~ location.address.locality }}
                        </address>

                        <button data-gtm_event="itinerary" data-gtm_event_value="__externalId__" type="button" class="services-button location-button ga-cta" data-type="{{ shop.mapType }}"
                                data-type-google="{{ constant('App\\Entity\\Shop::MAP_TYPE_GOOGLE') }}"
                                data-type-here="{{ constant('App\\Entity\\Shop::MAP_TYPE_HERE') }}"
                                data-show-route="{{ path('app_web_shop_show', {'_locale': app.request.locale, 'slug': location.slug, focusRoute: true}) }}">
                            {{ 'app.web.show.location_details.route'|trans }}
                        </button>
                    </div>

                    <div class="col-box">
                        <h4>{{ 'app.web.show.location_details.contact'|trans }}</h4>

                        <div class="m-b-15">
                            <p>
                                {% if location.contact.email %}
                                    <a href="mailto:{{ location.contact.email }}">{{ location.contact.email }}</a> |
                                {% endif %}
                                {{ location.contact.phone }}
                            </p>
                        </div>

                        <a data-gtm_event="call" data-gtm_event_value="__externalId__" href="tel:{{ location.contact.phone }}" class="services-button call-button m-r-10 ga-cta">{{ 'app.web.show.location_details.call'|trans }}</a>

                        {% if twigData is not defined or twigData['showSocials'] is not defined or twigData['showSocials'] %}
                            <ul class="socials">
                                <li>
                                    <a href="#" target="_blank"><img src="{{ asset('build/images/web/block/location_details/icon_fb.svg') }}"></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><img src="{{ asset('build/images/web/block/location_details/icon_twitter.svg') }}"></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><img src="{{ asset('build/images/web/block/location_details/icon_instagram.svg') }}"></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><img src="{{ asset('build/images/web/block/location_details/icon_gplus.svg') }}"></a>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </div>

                <div class="col col-65">
                    <div class="col-image">
                        <div class="image-slider">
                            {# add support for V3 #}
                            {% set imageShown = false %}
                            {% for key,image in location.images %}
                                {% if image.type == 'COVER' %}
                                    {% set imageShown = true %}
                                    <img src="{{ path('app_web_image_cloudinary_path',
                                        {'apiKey': image.cloudName|default("mobilosoft-testing"),
                                            'apiPath': image.publicId,
                                            'imageSize': 'h_300'}) }}" alt="{{ location.brand }} {{ location.address.locality }}">
                                {% endif %}
                            {% endfor %}

                            {% if not imageShown and location.images|length %}
                                {% set image = location.images[0] %}
                                <img src="{{ path('app_web_image_cloudinary_path',
                                    {'apiKey': image.cloudName|default("mobilosoft-testing"),
                                        'apiPath': image.publicId,
                                        'imageSize': 'h_300'}) }}" alt="{{ location.brand }} {{ location.address.locality }}">
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                {% if location.status == 'OPEN' %}
                <div class="col">
                    <div class="col-box">
                        <h4>{{ 'app.web.show.location_details.working_hours.title'|trans }}</h4>

                        {% if globalTemplates and globalTemplates[constant('App\\Entity\\AttributeValue::VALUE_OPEN_HOURS_EXCEPTION')] is defined %}
                            {% include 'web/block/location_details/block/with_image_exception.html.twig' %}
                        {% else %}
                            {% include 'web/block/location_details/block/with_image_week.html.twig' %}
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
