{% set twigData = {'showSocials': false} %}
<!-- Block location details + image and map -->
{% include 'web/block/location_details/block/breadcrumb.html.twig' %}
<section id="block_location_details" class="section-location-details">
    <div class="wrapper">
        <div class="wrapper-title">
            <h1>{{ location.name }}</h1>
        </div>

        <div class="box">
            <div class="details-image-slider">
                <div class="image-slider">
                    {# add support for V3 #}
                    {% for image in location.images %}

                        <img src="{{ path('app_web_image_cloudinary_path',
                            {'apiKey': image.cloudName|default("mobilosoft-testing"),
                                'apiPath': image.publicId,
                                'imageSize': 'h_300'}) }}" alt="{{ location.brand }} {{ location.address.locality }}">
                    {% endfor %}
                </div>
            </div>

            <div class="details-address">
                <h4>{{ 'app.web.show.location_details.address'|trans }}</h4>
                <address class="m-b-15">
                    {{  location.address.street|street_number_us_format }}{% if location.address.extraInfo|length %}, {{ location.address.extraInfo }}{% endif %}
                    <br>
                    {{ location.address.locality~ ', '~location.address.zipCode }}
                </address>

                <div>
                    <button data-gtm_event="itinerary" data-gtm_event_value="__externalId__" type="button" class="services-button location-button ga-cta" data-type="{{ shop.mapType }}"
                            data-type-google="{{ constant('App\\Entity\\Shop::MAP_TYPE_GOOGLE') }}"
                            data-type-here="{{ constant('App\\Entity\\Shop::MAP_TYPE_HERE') }}"
                            data-show-route="{{ path('app_web_shop_show', {'_locale': app.request.locale, 'slug': location.slug, focusRoute: true}) }}">
                        {{ 'app.web.show.location_details.route'|trans({}, shop.code) }}
                    </button>
                </div>
            </div>

            <div class="details-info">
                <div class="m-b-15">
                    <a data-gtm_event="call" data-gtm_event_value="__externalId__" href="tel:{{ location.contact.phone }}" class="services-button call-button ga-cta">{{ 'app.web.show.location_details.call'|trans }}</a>

                    <p class="text-info">
                        {% if location.contact.email %}
                            <a href="mailto:{{ location.contact.email }}">{{ location.contact.email }}</a> |
                        {% endif %}
                        {{ location.contact.phone|phone_format_us }}
                    </p>
                </div>

                {% if location.status == 'OPEN' %}
                    <h4>{{ 'app.web.show.location_details.working_hours.title'|trans }}</h4>

                    {% if globalTemplates and globalTemplates[constant('App\\Entity\\AttributeValue::VALUE_OPEN_HOURS_EXCEPTION')] is defined %}
                        {% set openHours = open_hours(location, shopDomain, constant('App\\Twig\\OpenHoursExtension::TYPE_EXCEPTION')) %}

                        {% include 'web/block/location_details/block/open_hours/exception.html.twig' %}
                    {% else %}
                        {% set openHours = open_hours(location, shopDomain, constant('App\\Twig\\OpenHoursExtension::TYPE_WEEK')) %}

                        {% include 'web/block/location_details/block/open_hours/week.html.twig' %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    <div id="map_container" class="map-container" data-type="{{ shop.mapType }}"
         data-type-google="{{ constant('App\\Entity\\Shop::MAP_TYPE_GOOGLE') }}"
         data-type-here="{{ constant('App\\Entity\\Shop::MAP_TYPE_HERE') }}"
         data-credentials="{{ shop.mapCredentials }}" data-language="{{ app.request.locale }}">
        <div id="map_element" class="map-element"></div>
    </div>
</section>
