<footer class="app-footer" role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
    <!--
        <div class="footer-seo d-none d-sm-block">
            <div class="row">
                <div class="col">
                    <ul class="list-inline">
                                                    <li class="list-inline-item">
                                <a href="" title=" "></a>
                            </li>
                                            </ul>
                </div>
            </div>
        </div>
    -->
    <div class="container pb-5">
        <div class="row">
            <div class="col text-center aos-init" data-aos="fade-up" data-aos-delay="300">
                <p>
                    <!--<a class="link-footer" href="/fr/faq" target="_blank">Questions/réponses</a>
                    | WAIT FOR CONTENT--><a class="link-footer" href="/fr/contact">Contact</a>
                    | <a class="link-footer" href="http://bit.ly/GDPR-Covid-Solidarity" target="_blank">Mention légales</a>
                    <!--| <a class="link-footer" href="#"></a>-->
                </p>
                <p class="d-flex">
                    Join the movement on Social Media:
                    <a class="link-icon" href="https://www.facebook.com/covidsolidarity/" target="_blank">
                        <i class="icon-facebook" aria-hidden="true"></i>
                    </a>
                    <a class="link-icon" href="https://www.instagram.com/covid19.solidarity/" target="_blank">
                        <i class="icon-instagram" aria-hidden="true"></i>
                    </a>
                    <a class="link-icon" href="https://twitter.com/covidsolidarit" target="_blank">
                        <i class="icon-twitter" aria-hidden="true"></i>
                    </a>
                    <a class="link-icon" href="https://www.linkedin.com/company/covid-solidarity/" target="_blank">
                        <i class="icon-linkedin" aria-hidden="true"></i>
                    </a>
                    <!--<a class="link-icon" href="https://bit.ly/Press-Covid-Solidarity" target="_blank">
                        <i class="icon-medium" aria-hidden="true"></i>
                    </a>-->
                </p>
                <p>
                    ❤️ Made in 🇧🇪 to beat Covid 19                </p>
                <br>
                <img src="https://www.covid-solidarity.org/assets/img/logo.svg" alt="Covid-19 solidarity logo">
            </div>
        </div>
    </div>
</footer>