<header class="app-header" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand aos-init aos-animate" href="" data-aos="fade-right" data-aos-delay="200">
                <img src="https://www.covid-solidarity.org/assets/img/logo.svg" alt="Covid-19 solidarity logo">
            </a>


            <ul class="navbar-nav ml-auto">
                <li class="nav-item nav-item-phone aos-init aos-animate" itemscope="" itemtype="http://schema.org/LocalBusiness" data-aos="zoom-in" data-aos-delay="1000">
                            <span itemprop="telephone">
                                <a class="btn btn-sm btn-success" href="tel:+3228089654" title="" data-toggle="tooltip" data-placement="left" data-html="true" data-original-title="Need help? <br>Call us!">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="phone" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-phone fa-w-16"><path fill="currentColor" d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z" class=""></path></svg>
                                </a>
                            </span>
                </li>
                <li class="nav-item nav-item-share aos-init aos-animate" data-aos="zoom-in" data-aos-delay="800">
                    <div class="fb-share-button fb_iframe_widget" data-href="https://www.facebook.com/covidsolidarity" data-layout="button_count" data-size="large" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;container_width=44&amp;href=https%3A%2F%2Fwww.facebook.com%2Fcovidsolidarity&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;size=large"><span style="vertical-align: bottom; width: 107px; height: 28px;"><iframe name="f28ae33f55502a8" width="1000px" height="1000px" data-testid="fb:share_button Facebook Social Plugin" title="fb:share_button Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v3.0/plugins/share_button.php?app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D46%23cb%3Df245a9619d8605%26domain%3Dwww.covid-solidarity.org%26origin%3Dhttps%253A%252F%252Fwww.covid-solidarity.org%252Ff365e2db3799788%26relation%3Dparent.parent&amp;container_width=44&amp;href=https%3A%2F%2Fwww.facebook.com%2Fcovidsolidarity&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;size=large" style="border: none; visibility: visible; width: 107px; height: 28px;" class=""></iframe></span></div>
                </li>
                <li class="nav-item aos-init aos-animate" data-aos="fade-left" data-aos-delay="150">
                    <a class="nav-link" href="/fr/">FR</a>
                </li>
                <li class="nav-item aos-init aos-animate" data-aos="fade-left" data-aos-delay="300">
                    <a class="nav-link" href="/nl/">NL</a>
                </li>
                <li class="nav-item active aos-init aos-animate" data-aos="fade-left" data-aos-delay="450">
                    <a class="nav-link" href="/">EN</a>
                </li>
            </ul>
        </nav>
    </div>
</header>