$font-path: '../../../../../fonts/shop/manpower-be/';

@font-face {
  font-family: 'verdana';
  src: url($font-path + 'Verdana.eot');
  src: url($font-path + 'Verdana.eot?#iefix') format('embedded-opentype'),
      url($font-path + 'Verdana.woff2') format('woff2'),
      url($font-path + 'Verdana.woff') format('woff'),
      url($font-path + 'Verdana.ttf') format('truetype'),
      url($font-path + 'Verdana.svg#Verdana') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'verdana';
  src: url($font-path + 'Verdana-Bold.eot');
  src: url($font-path + 'Verdana-Bold.eot?#iefix') format('embedded-opentype'),
      url($font-path + 'Verdana-Bold.woff2') format('woff2'),
      url($font-path + 'Verdana-Bold.woff') format('woff'),
      url($font-path + 'Verdana-Bold.ttf') format('truetype'),
      url($font-path + 'Verdana-Bold.svg#Verdana-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url($font-path + 'Lato-Regular.eot');
  src: url($font-path + 'Lato-Regular.eot?#iefix') format('embedded-opentype'),
      url($font-path + 'Lato-Regular.woff2') format('woff2'),
      url($font-path + 'Lato-Regular.woff') format('woff'),
      url($font-path + 'Lato-Regular.ttf') format('truetype'),
      url($font-path + 'Lato-Regular.svg#Lato-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'manweb-icons';
  src: url($font-path + 'manweb-icons.eot');
  src: url($font-path + 'manweb-icons.eot?#iefix') format('embedded-opentype'),
      url($font-path + 'manweb-icons.woff2') format('woff2'),
      url($font-path + 'manweb-icons.woff') format('woff'),
      url($font-path + 'manweb-icons.ttf') format('truetype'),
      url($font-path + 'manweb-icons.svg#manweb-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


