body {
  font-family: $verdana_font;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-size: 13px;
  color: $gray;
  background: #f6f6f7;
  background: -moz-linear-gradient(#ffffff,#f6f6f7);
  background: -webkit-linear-gradient(#ffffff,#f6f6f7);
  background: linear-gradient(#ffffff,#f6f6f7);
}

* {
  font-family: $verdana_font;
  font-weight: 400;
  font-size: 13px;
  color: $gray;
}

a {
  color: $blue_45;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;

  &:hover {
    color: $blue;
  }
}

.search-results-list {
 .hidden {
    display: none !important;
  } 
}

.wrapper {
  max-width: 1210px !important;
  background-color: $white;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.detail-page {
  h4,
  h2 {
    color: $blue;
    text-transform: initial;
  }

  h2 {
    strong {
      color: $blue;
    }
  }
}

.pac-container {
  font-family: $verdana_font;
  font-size: 13px;
  font-weight: 400;

  span {
    font-family: $verdana_font;
    font-size: 13px;
    font-weight: 400;
  }
}




