// Color
$white: #ffffff;
$black: #000000;
$tr: transparent;

$blue: #4491c8;
$blue_hover: #265b80;
$blue_62: #628fc5;
$blue_45: #456da4;
$blue_a7: #a7cbe5;


$gray: #74767f;
$gray_8e: #8e9098;
$gray_ec: #ececec;
$gray_e9: #e9e9eb;
$gray_f6: #f6f6f7;
$gray_c3: #c3c4c9;

$orange: #ff8619;
$orange_hover: #ffa14c;

// Fonts
$verdana_font: 'verdana', sans-serif;
$lato_font: 'Lato', sans-serif;
$manweb-icons_font: 'manweb-icons', sans-serif;

// Image path
$img_path: '../../../../../images/web/shop/manpower-be/';

// Media
$desktop: 1200px;
$tablet: 992px;
$tablet_up: 993px;
$mobile_up: 768px;
$mobile_down: 767px;
$small_screen_up: 576px;
$small_screen_down: 575px;

/*@media (max-width: #{$mobile_down})*/