{% extends 'web/base/show.html.twig' %}
{% block body_class %}detail-page{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/web/shop/' ~ shop.code ~ '/show') }}
{% endblock %}

{% block header %}
    <header style="height: 45px;">
        <img src="{{ asset('build/images/web/shop/' ~ shop.code ~ '/laposte-fr-header.jpg') }}" style="width: 100%; height: 100%;">
    </header>
{% endblock %}



{% block content_blocks %}


    {% for template in templates %}
        {% if template.attribute.block == constant('App\\Entity\\Attribute::BLOCK_LOCATION_SERVICES') %}
            {% include 'web/shop/'~shop.code~'/block/location_services.html.twig' %}
        {% else %}
            {% include 'web/block/' ~ template.attribute.block ~ '/' ~ template.attributeValue.value ~ '.html.twig' ignore missing %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block footer %}
    <footer>
        <img src="{{ asset('build/images/web/shop/' ~ shop.code ~ '/laposte-fr-footer.jpg') }}" style="width: 100%">
    </footer>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('js/web/shop/laposte-fr/app') }}
{% endblock %}

{% block javascripts_var %}
    {{ parent() }}

    <script>
        var globalSettings = {
            near_query: {
                size: 9,
                radius: 2000000,
            }
        };
    </script>
{% endblock %}
