{% apply spaceless %}
    <div class="result-one-letter">
        <span id="letter___letter__" class="letter-anchor"></span>
        <div class="title-letter">__letter__</div>

        <ul class="letter-content"></ul>
    </div>
{% endapply %}