.services-button {
  background-color: transparent;
  border-color: $green_28;
  color: $white;
  border-radius: 24px;
  font-size: 14px;
  text-transform: initial;
  color: $text;

  &:hover {
    background-color: transparent;
    border-color: $green_21;
    filter: none;
  }
}
