$font-path: '../../../../../fonts/shop/covid-solidarity';

@font-face {
    font-family: 'Inter';
    src: url($font-path + '/inter-bold-webfont.eot');
    src: url($font-path + '/inter-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url($font-path + '/inter-bold-webfont.woff2') format('woff2'),
         url($font-path + '/inter-bold-webfont.woff') format('woff'),
         url($font-path + '/inter-bold-webfont.ttf') format('truetype'),
         url($font-path + '/inter-bold-webfont.svg#interbold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Inter';
    src: url($font-path + '/inter-regular-webfont.eot');
    src: url($font-path + '/inter-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url($font-path + '/inter-regular-webfont.woff2') format('woff2'),
         url($font-path + '/inter-regular-webfont.woff') format('woff'),
         url($font-path + '/inter-regular-webfont.ttf') format('truetype'),
         url($font-path + '/inter-regular-webfont.svg#interregular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}