body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $Inter_font;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

* {
  font-family: $Inter_font;
  font-weight: 400;
}

.text-center {
  text-align: center;
}