// Color
$green_28: #28a745;
$green_44: #44b144;
$green_21: #218838;

$white: #ffffff;
$black: #000000;
$text: #212529;

$blue_42: #4267b2;

$gray_footer: #e9ecef;
$gray_e7: #e7e8ed;
$gray_70: #707279;

// Fonts
$Inter_font: 'Inter', sans-serif;

// Image path
$img_path: '../../../../../images/web/shop/covid-solidarity/';