{% extends 'web/base/home.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/web/shop/'~shop.code~'/home') }}
{% endblock %}

{% block header %}
    <header style="height: 177px;">
        <img src="{{ asset('build/images/web/shop/' ~ shop.code ~ '/header.png') }}" style="width: 100%; height: 100%;">
    </header>
{% endblock %}

{% block content %}

    {% set twigData = {'filterDynamic': true} %}

    {% for template in templates %}
        {% include 'web/block/' ~ template.attribute.block ~ '/' ~ template.attributeValue.value ~ '.html.twig' ignore missing %}
    {% endfor %}
{% endblock %}


{% block footer %}
    <footer style="height: 651px;">
        <img src="{{ asset('build/images/web/shop/' ~ shop.code ~ '/footer.png') }}" style="width: 100%; height: 100%;">
    </footer>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('js/web/shop/brocom-be/app') }}
{% endblock %}

{% block javascripts_var %}
    {{ parent() }}
    {#  Map Settings for this shop (default are defind in js map folder files, DEFAULT_SETTINGS getter) #}
    <script type="text/javascript">
        var globalSettings = {
            map: {
                center: {lat: 50.62313744304004, lng: 5.365809522627387},
                zoom: 10,
            },
            geoLocationCountry: 'BE',
            query: {
                size: 50,
                radius: 15000,
            },
        };
    </script>
{% endblock %}
