{% extends 'web/base/show.html.twig' %}
{% block body_class %}detail-page{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/web/shop/'~shop.code~'/show') }}
{% endblock %}

{% block header %}
    <header style="height: 177px;">
        <img src="{{ asset('build/images/web/shop/' ~ shop.code ~ '/header.png') }}" style="width: 100%; height: 100%;">
    </header>
{% endblock %}

{% block content_blocks %}

    {% set twigData = {'showSocials': false} %}

    {% for template in templates %}
        {% if template.attribute.block == constant('App\\Entity\\Attribute::BLOCK_LOCATION_SERVICES') %}
            {% include 'web/shop/brocom-be/block/location_services.html.twig' %}
        {% else %}
            {% include 'web/block/' ~ template.attribute.block ~ '/' ~ template.attributeValue.value ~ '.html.twig' ignore missing %}
        {% endif %}
    {% endfor %}
{% endblock %}


{% block footer %}
    <footer style="height: 651px;">
        <img src="{{ asset('build/images/web/shop/' ~ shop.code ~ '/footer.png') }}" style="width: 100%; height: 100%;">
    </footer>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('js/web/shop/brocom-be/app') }}
{% endblock %}


{% block javascripts_var %}
    {{ parent() }}

    {#  Map Settings for this shop (default are defind in js map folder files, DEFAULT_SETTINGS getter) #}
    <script type="text/javascript">
        var globalSettings = {
            map: {
                zoom: 14,
            },
            near_query: {
                size: 9,
                radius: 2000000,
            }
        };
    </script>
{% endblock %}