.voo-footer {
  .pillars__title {
    font-size: 24px;
    text-transform: initial;
  }
}

.voo-footer__nav {
  padding-top: 63px;
}

.voo-secondary-menu__nav__item {
  a {
    span {
      color: #ffffff;
      font-size: 16px;
    }
  }
}

.voo-secondary-menu__nav__list {
  li {
    margin-top: 9px !important;

    &:first-child {
      margin-top: 0;
    }
  }
}