@import "../../vars";
@import "components/vars";

.section-smartphones {
  .smartphones-block {
    text-align: center;
    padding: 0 !important;

    @media only screen and (max-width: 767px) {
      padding: 0 !important;
      margin: 0 10px;
    }

    .wrapper {
      max-width: 1500px;
      margin: 0 auto;
      padding: 0 2%;
      position: relative;

      h2 {
        margin-bottom: 40px;

        @media only screen and (max-width: 767px) {
          padding: 0 10px;
        }
      }
    }

    @media screen and (min-width: 0px) and (max-width: #{$sm_w}px) {
      padding: 40px 40px;

     a.smartphone-article .slide-image img{
       width: auto;
       height: 280px;
     }
    }
  }

  .slick-dotted.slick-slider {
    margin: 0 0 40px 0;

    @media only screen and (min-width: 768px) {
      margin: 0 6px 40px 6px;
    }
  }

  a.smartphone-article {
    display: block;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
    font-size: 12px;
    color: #274856;
    text-decoration: none;
    background-color: $lite_color;
    border-radius: 4px;
    border: 1px solid #d0dee5;
    outline: none;

    @media only screen and (max-width: 767px) {
      display: flex;
      padding: 10px 53px 10px 24px;
    }

    .slide-image {
      width: 100%;
      height: auto;
      margin-top: -95px;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      margin-bottom: 3px;
      display: flex;

      @media only screen and (max-width: 767px) {
        margin: 0;
        height: 194px;
        width: 131px;
      }

      img {
        display: block;
        width: 118px;
        height: 240px;

        @media only screen and (max-width: 767px) {
          width: auto !important;
          height: 100% !important;
        }
      }
    }

    .slide-content {
      padding: 17px 20px 19px 20px;
      font-family: $font-msr-700;

      @media (max-width: #{$custom_smartphones}px) {
        padding: 0;
        width: 47%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
      }

      .name {
        text-align: center;
        margin-bottom: 9px;

        @media (max-width: #{$custom_smartphones}px) {
          text-align: left;
          margin-bottom: 5px;
        }

        span {
          font-size: 11px;
          line-height: 13px;
          color: #274856;
          display: block;
          text-transform: uppercase;
          margin-bottom: 3px;
          font-weight: bold;

          @media (max-width: #{$custom_smartphones}px) {
            margin-bottom: 5px;
          }
        }

        strong {
          font-size: 18px;
          line-height: 24px;
          color: #274856;
          display: block;
          font-weight: bold;
        }
      }

      .specification {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 9px;

        @media (max-width: #{$custom_smartphones}px) {
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 4px;
          margin-right: auto;
        }

        .color-block {
          @media (max-width: #{$custom_smartphones}px) {
            margin-bottom: 5px;
          }

          .item {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            display: block;
            margin-right: 6px;

            &:last-child {
              margin-right: 0;
            }

            &.black {
              background-color: #000000;
            }
          }
        }

        .capacity {
          font-size: 16px;
          line-height: 24px;
          font-weight: 300;
          color: #274856;
          display: block;
          text-align: center;
          margin: auto;
        }
      }

      .footer {
        .price {
          display: flex;
          align-items: center;
          justify-content: center;

          @media (max-width: #{$custom_smartphones}px) {
            justify-content: flex-start;
            margin-bottom: 6px;
          }

          span {
            display: inline-block;

            &.old-price {
              font-size: 16px;
              line-height: 24px;
              font-weight: 300;
              color: #274856;
              text-decoration: line-through;
              margin-right: 9px;
              font-family: $font-roboto;

              @media (max-width: #{$custom_smartphones}px) {
                margin-right: 6px;
              }
            }

            &.new-price {
              font-size: 24px;
              line-height: 24px;
              color: #F19300;
              font-weight: 400;
              font-family: $font-msr-700;
            }
          }
        }

        span {
          font-size: 12px;
          line-height: 24px;
          color: #F19300;
          text-align: center;
          font-weight: 400;
          display: block;

          @media (max-width: #{$custom_smartphones}px) {
            font-size: 11px;
            font-weight: 300;
            text-align: left;
            display: block;
          }
        }
      }
    }
  }

  .slider-item {
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #D0DEE5;

    @media (max-width: #{$custom_smartphones}px) {
      display: flex;
    }
  }

  .slick-list {
    padding-top: 95px;
    margin-left: -10px;
    margin-right: -10px;

    @media only screen and (max-width: 767px) {
      padding: 0;
    }
  }

  .slick-slide {
    margin: 0 10px;
  }

  .slick-dots {
    bottom: -30px;

    @media only screen and (max-width: 767px) {
      bottom: -26px !important;
    }

    li {
      width: 10px;
      height: 10px;
      margin: 0 15px 0 0;
      padding: 0;

      @media only screen and (max-width: 767px) {
        margin: 0 10px 0 0;
      }

      &:last-child {
        margin: 0;
      }

      &.slick-active {
        button {
          background-color: $pink !important;
        }
      }

      button {
        width: 10px;
        height: 10px;
        background-color: rgba(39,72,86,.5);
        border-radius: 50%;

        &:before {
          display: none;
        }
      }
    }

    @media screen and (min-width: 0px) and (max-width: #{$xs_w}px) {
      bottom: -45px;
    }
  }

  @media (max-width: #{$custom_smartphones}px) {
    padding: 0 10px;
    border-bottom: 1px solid #D0DEE5;
    margin-bottom: 10px;
  }
}
