{% extends 'web/base/home.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('css/web/shop/'~shop.code~'/home') }}
{% endblock %}

{% block header %}
    <header style="height: 140px;">
        <img src="{{ asset('build/images/web/shop/' ~ shop.code ~ '/wasteconnections-header.png') }}" style="width: 100%; height: 100%;">
    </header>
{% endblock %}

{% block content %}
    
    {% set twigData = {'filterDynamic': true} %}

    {% for template in templates %}

        {% if template.attribute.block == constant('App\\Entity\\Attribute::BLOCK_MAP') %}
            {% include 'web/shop/wasteconnections-us/block/map_search_list.html.twig' %}
        {% else %}
            {% include 'web/block/' ~ template.attribute.block ~ '/' ~ template.attributeValue.value ~ '.html.twig' ignore missing %}
        {% endif %}
    {% endfor %}

{% endblock %}

{% block footer %}
    <footer style="height: 80px;">
       <img src="{{ asset('build/images/web/shop/' ~ shop.code ~ '/wasteconnections-footer.png') }}" style="width: 100%; height: 100%;">
    </footer>
{% endblock %}


{% block javascripts_main %}
    {{ encore_entry_script_tags('js/web/shop/' ~ shop.code ~ '/home') }}
{% endblock %}

{% block javascripts_var %}
    {{ parent() }}
    {#  Map Settings for this shop (default are defind in js map folder files, DEFAULT_SETTINGS getter) #}
    <script type="text/javascript">
        var globalSettings = {
            map: {
                center: {lat: 50.62313744304004, lng: 5.365809522627387},
                zoom: 10,
            },
            geoLocationCountry: ['US', 'CA'],
            query: {
                size: 50,
                radius: 15000,
            },
            marker: {
                icon: '{{ asset('build/images/web/shop/'~shop.code~'/theme_map_icon.png') }}',
                icon_width: 29,
                icon_height: 46,
            },
        };
    </script>
{% endblock %}
