$font-path: '../../../../../fonts/shop/workforcesolutions-us';

@font-face {
  font-family: 'proxima-nova-extra-condensed';
  src: url($font-path + '/ProximaNovaAExCn-Regular.eot');
  src: url($font-path + '/ProximaNovaAExCn-Regular.eot?#iefix') format('embedded-opentype'),
      url($font-path + '/ProximaNovaAExCn-Regular.woff2') format('woff2'),
      url($font-path + '/ProximaNovaAExCn-Regular.woff') format('woff'),
      url($font-path + '/ProximaNovaAExCn-Regular.ttf') format('truetype'),
      url($font-path + '/ProximaNovaAExCn-Regular.svg#ProximaNovaAExCn-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'proxima-nova-extra-condensed';
  src: url($font-path + '/ProximaNovaAExCn-Bold.eot');
  src: url($font-path + '/ProximaNovaAExCn-Bold.eot?#iefix') format('embedded-opentype'),
      url($font-path + '/ProximaNovaAExCn-Bold.woff2') format('woff2'),
      url($font-path + '/ProximaNovaAExCn-Bold.woff') format('woff'),
      url($font-path + '/ProximaNovaAExCn-Bold.ttf') format('truetype'),
      url($font-path + '/ProximaNovaAExCn-Bold.svg#ProximaNovaAExCn-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'proxima-nova-extra-condensed';
  src: url($font-path + '/ProximaNovaAExCn-Extrabld.eot');
  src: url($font-path + '/ProximaNovaAExCn-Extrabld.eot?#iefix') format('embedded-opentype'),
      url($font-path + '/ProximaNovaAExCn-Extrabld.woff2') format('woff2'),
      url($font-path + '/ProximaNovaAExCn-Extrabld.woff') format('woff'),
      url($font-path + '/ProximaNovaAExCn-Extrabld.ttf') format('truetype'),
      url($font-path + '/ProximaNovaAExCn-Extrabld.svg#ProximaNovaAExCn-Extrabld') format('svg');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'proxima-nova-extra-condensed';
  src: url($font-path + '/ProximaNovaAExCn-Light.eot');
  src: url($font-path + '/ProximaNovaAExCn-Light.eot?#iefix') format('embedded-opentype'),
      url($font-path + '/ProximaNovaAExCn-Light.woff2') format('woff2'),
      url($font-path + '/ProximaNovaAExCn-Light.woff') format('woff'),
      url($font-path + '/ProximaNovaAExCn-Light.ttf') format('truetype'),
      url($font-path + '/ProximaNovaAExCn-Light.svg#ProximaNovaAExCn-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'adobe-garamond';
  src: url($font-path + '/AGaramondPro-Bold.eot');
  src: url($font-path + '/AGaramondPro-Bold.eot?#iefix') format('embedded-opentype'),
      url($font-path + '/AGaramondPro-Bold.woff2') format('woff2'),
      url($font-path + '/AGaramondPro-Bold.woff') format('woff'),
      url($font-path + '/AGaramondPro-Bold.ttf') format('truetype'),
      url($font-path + '/AGaramondPro-Bold.svg#AGaramondPro-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'adobe-garamond';
  src: url($font-path + '/AGaramondPro-Regular.eot');
  src: url($font-path + '/AGaramondPro-Regular.eot?#iefix') format('embedded-opentype'),
      url($font-path + '/AGaramondPro-Regular.woff2') format('woff2'),
      url($font-path + '/AGaramondPro-Regular.woff') format('woff'),
      url($font-path + '/AGaramondPro-Regular.ttf') format('truetype'),
      url($font-path + '/AGaramondPro-Regular.svg#AGaramondPro-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}















