body {
  font-weight: 400;
  font-family: $proxima-nova-extra-condensed_font;
  text-rendering: optimizeLegibility;
  font-size: 1em;
  transition: all 0.5s ease-in-out; 

  &[data-zoom="-1"] {
    font-size: 95%;

    header.printviewnone {
      .nav li {
        a {
          transition: none;
          span {
            transition: none;
          }
        }
      }
    }
  }

  &[data-zoom="1"] {
    font-size: 105%;
    
    header.printviewnone {
      .nav li {
        a {
          transition: none;
          span {
            transition: none;
          }
        }
      }
    }
  }

  &[data-zoom="2"] {
    font-size: 110%;
    
    header.printviewnone {
      .nav li {
        a {
          transition: none;
          span {
            transition: none;
          }
        }
      }
    }
  }
}

html {
  font-size: 62.5%;
}

* {
  font-family: $proxima-nova-extra-condensed_font;
  font-weight: 400;
  font-size: 1em;
}

a {
  text-decoration: none;
  background: transparent;
  transition: all 0.5s ease-in-out; 
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.wrapper {
  padding-right: 15px !important;
  padding-left: 15px !important;
  width: 100%;
  margin: 0 auto;

  @media (min-width: #{$mobile_up}) {
    max-width: 670px !important;
  }

  @media (min-width: #{$media_tablete}) {
    max-width: 970px !important;
  }

  @media (min-width: #{$media_desktop}) {
    max-width: 1030px !important;
  }
}

.detail-page {
  h1,
  h2 {
    font-size: 4.8em;
    color: $orange_d8;
    font-weight: 700;
    text-transform: capitalize;
  }

  h2 {
    strong {
      font-size: 1em;
      color: $orange_d8;
      font-weight: 700;
      text-transform: capitalize;
    }
  }

  h4 {
    font-size: 2.5em;
    text-transform: capitalize;
  }

  h5 {
    font-size: 1.8em;
  }
}

