// Color
$white: #ffffff;
$black: #000000;
$tr: transparent;

$banner-color: #585858;

$gray_93: #939598;
$gray_58: #58595b;
$gray_68: #68696a;
$gray_59: #595959;
$gray_5e: #5E5E5E;

$red: #cb3824;
$red_cb: #cb3725;
$red_ca: #ca3c2b;

$orange: #cc4827;
$orange_d8: #d87900;

$blue: #0079c5;

// Fonts
$proxima-nova-extra-condensed_font: 'proxima-nova-extra-condensed', sans-serif;
$adobe-garamond_font: 'adobe-garamond', sans-serif;

// Image path
$img_path: '../../../../../images/web/shop/workforcesolutions-us/';

/* Media query */
$media_desktop: 1200px;
$media_tablete: 992px;
$media_tablete_up: 993px;
$mobile_up: 768px;
$mobile_down: 767px;

/* @media (min-width: #{$mobile_up}) */