{% spaceless %}
<article>
    <div class="location-summary">
        <h5>__name__</h5>
        <address>__address__</address>
        <span class="location-distance">__distance__ __distance_unit__</span>
        <div class="openings m-b-15 __openClass__">
            <span class="location-label">__openLabel__</span>
            <span class="location-sentence">__openSentence__</span>
        </div>

        <div class="location-services">
            <ul>
                <li><img src="{{ asset('build/images/web/block/map/icon_service-parking.png') }}"/></li>
                <li><img src="{{ asset('build/images/web/block/map/icon_service-exchange.png') }}"/></li>
                <li><img src="{{ asset('build/images/web/block/map/icon_service-card.png') }}"/></li>
            </ul>
        </div>

        <div class="m-b-15">
            <button type="button" class="services-button location-button"
                    data-show-route="{{ path('app_web_shop_show', {'_locale': app.request.locale, 'slug': '__slug__', focusRoute: true}) }}"
                    data-latitude="__latitude__"
                    data-longitude="__longitude__">
                {{ 'app.web.home.map.image.results.route'|trans }}
            </button>

            <a href="tel:__phone__"
               class="services-button call-button">{{ 'app.web.home.map.image.results.call'|trans }}</a>
        </div>

        <a href="{{ path('app_web_shop_show', {'_locale': app.request.locale, 'slug': '__slug__'}) }}"
           target="_self" class="search-button">{{ 'app.web.home.map.image.results.show'|trans }}</a>
    </div>
</article>
{% endspaceless %}