/* fonts */
$font: 'Proximus','Verdana','Helvetica',sans-serif;
@font-face {
  font-family: 'Proximus';
  src: url('../../../../fonts/shop/proximus-be/Proximus-Bold.eot');
  src: url('../../../../fonts/shop/proximus-be/Proximus-Bold.eot?#iefix') format('embedded-opentype'),
      url('../../../../fonts/shop/proximus-be/Proximus-Bold.woff2') format('woff2'),
      url('../../../../fonts/shop/proximus-be/Proximus-Bold.woff') format('woff'),
      url('../../../../fonts/shop/proximus-be/Proximus-Bold.ttf') format('truetype'),
      url('../../../../fonts/shop/proximus-be/Proximus-Bold.svg#Proximus-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proximus';
  src: url('../../../../fonts/shop/proximus-be/Proximus-Light.eot');
  src: url('../../../../fonts/shop/proximus-be/Proximus-Light.eot?#iefix') format('embedded-opentype'),
      url('../../../../fonts/shop/proximus-be/Proximus-Light.woff2') format('woff2'),
      url('../../../../fonts/shop/proximus-be/Proximus-Light.woff') format('woff'),
      url('../../../../fonts/shop/proximus-be/Proximus-Light.ttf') format('truetype'),
      url('../../../../fonts/shop/proximus-be/Proximus-Light.svg#Proximus-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proximus';
  src: url('../../../../fonts/shop/proximus-be/Proximus-ExtraBold.eot');
  src: url('../../../../fonts/shop/proximus-be/Proximus-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../../../../fonts/shop/proximus-be/Proximus-ExtraBold.woff2') format('woff2'),
      url('../../../../fonts/shop/proximus-be/Proximus-ExtraBold.woff') format('woff'),
      url('../../../../fonts/shop/proximus-be/Proximus-ExtraBold.ttf') format('truetype'),
      url('../../../../fonts/shop/proximus-be/Proximus-ExtraBold.svg#Proximus-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proximus';
  src: url('../../../../fonts/shop/proximus-be/Proximus-Regular.eot');
  src: url('../../../../fonts/shop/proximus-be/Proximus-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../../../fonts/shop/proximus-be/Proximus-Regular.woff2') format('woff2'),
      url('../../../../fonts/shop/proximus-be/Proximus-Regular.woff') format('woff'),
      url('../../../../fonts/shop/proximus-be/Proximus-Regular.ttf') format('truetype'),
      url('../../../../fonts/shop/proximus-be/Proximus-Regular.svg#Proximus-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: inherit;
  color: #0A0A0A;
  font-size: 1.2rem;
}

h3 {
  font-family: $font;
  font-weight: 600;
  color: #5C2D91;
  font-size: 1.5rem;
}

h2 {
  font-family: $font;
  font-weight: 600;
  color: #5C2D91;
  font-size: 1.8rem;
}

h1 {
  font-family: $font;
  font-weight: 600;
  color: #5C2D91;
  font-size: 2rem;
}

.section-location-promotions,
.section-location-events {
  .info-button {
    font-family: $font;
    font-weight: 600;
    background-color: #C1C1C3;
    border-color: #C1C1C3;
    color: #5C2D91;
    font-size: 1.3rem;
  }
}

.section-location-details {
  .location-button {
    font-family: $font;
    font-weight: 600;
    background-color: #8d6cb2;
    color: #ffffff;
    font-size: 1.3rem;
  }
}

.section-location-details {
  .box {
    .details-info {
      .call-button {
        font-family: $font;
        font-weight: 600;
        background-color: #8d6cb2;
        color: #ffffff;
        font-size: 1.3rem;
      }
    }
  }
}

.location-summary {
  .search-button {
    font-family: $font;
    font-weight: 600;
    background-color: #C1C1C3;
    border-color: #C1C1C3;
    color: #0A0A0A;
    font-size: 1.3rem;
  }
}

.proximus-header {
  border-bottom: 1px solid #ded5e9;
  @media (max-width: 767px) {
    padding: 20px 0;
  }

  .container {
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 50px;
    height: 50px;

    @media (max-width: 767px) {
      margin: 0 auto;
    }

    img {
      display: block;
      width: 100%;
    }
  }

  .nav {
    flex: 1;
    margin-left: 60px;
    @media (max-width: 767px) {
      display: none;
    }

    li {
      display: inline-block;
      border-bottom: 4px solid transparent;
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }

      &.selected {
        border-bottom: 4px solid #8d6cb2; 
      } 
      a {
        font-family:$font;
        font-weight: 400;
        font-size: 20px;
        color: #5C2D91;
        line-height: 91px;
        text-decoration: none;
      }
    }
  }
}

.proximus-footer {
  background-color: #45216f;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #C1C1C3;
  padding: 40px 0 20px 0;

  .container {
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;

    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }
  }

  .left-footer {
    @media (min-width: 768px) {
      display: flex;
      flex: 1;
      
    }

    @media (max-width: 767px) {
      margin-bottom: 21px;
    }
  }

  .right-footer {
    display: flex;
    max-width: 400px;
    width: 100%;

    @media (max-width: 767px) {
      max-width: 100%;
    }

    .medium-text-right {
      max-width: 280px;
      width: 100%;
      text-align: right;
      padding-right: 20px;

      @media (max-width: 767px) {
        order: 2;
        text-align: left;
        max-width: 100%;
        margin-right: 0;
        margin-left: 20px;
      }

      a {
        font-family: $font;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #C1C1C3;
        text-decoration: none;
      }
    }

    .small-3 {
      @media (max-width: 767px) {
        order: 1;
      }
    }
  }

  .image-block {
    max-width: 200px;
    width: 100%;

    @media (max-width: 767px) {
      max-width: 100%;
      margin-bottom: 21px;
    }
  }

  .info {
    max-width: 600px;
    width: 100%;
    a,
    p, 
    ul,
    li,
    span {
      font-size: 12px;
      line-height: 18px;
      color: #C1C1C3;
      text-decoration: none;
      font-family: $font;
        font-weight: 400;
    }
  }

  .rs-footer-legal-reserved {
    padding-right: 20px;
    display: block;
  }

  ul{
    li{
      display: inline-block;
      a{
        border-right: 1px solid rgba(255,255,255,0.4);
        padding: 0 1rem 0 0;
        margin: 0 1rem 0 0;
      }
    }
  }
}

















