.map-search-options {
  .input {
    input[type=checkbox]:checked + label {
      background-color: $yellow_btn;
      border-color: $yellow_btn;
    }
  }

  span {
    color: $black;
  }

  .loading-map-search {
    .item {
      background-color: $yellow_btn;
    }
  }
}