.section-location-services {
  margin-top: 0;

  .location-services {
    background-color: $yellow_btn;

    .services-images {
      li {
        span {
          color: $text-color;
        }
      }
    }
  }

  .info-button {
    min-height: 45px;
    border-radius: 10px;
    background-color: $yellow_btn;
    color: $black;
    border-color: $yellow;
    font-size: 13px;
    line-height: 35px;
    padding: 5px 15px;
    font-weight: 700;
    background-image: none;

    @media (max-width: #{$mobile_down}) {
      min-height: 35px;
      line-height: 23px;
    }

    &:hover {
      background-color: $yellow_hover;
      border-color: $yellow_hover_border;
      filter: none;
    }
  }
}