.section-location-description {
  box-shadow: 5px 0 14px -3px $gray;
  margin-top: 0;
  padding-top: 40px;
  padding-bottom: 40px;

  .image-slider {
    .slick-dots {
      li {
        &.slick-active {
          button {
            background-color: $yellow_btn;

            &:before {
              background-color: $yellow_btn;
              border-color: $yellow_btn;
            }
          }
        }

        button {
          &:before {
            background-color: $white;
            border-color: $white;
          }
        }
      }
    }
  }
}