.section-locations {
  .location-search {
    background-color: $yellow;

    @media (min-width: #{$mobile_up}) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    label {
      font-family: $montserrat_font;
      font-weight: 700;
    }
  }

  .location-search-input {
    outline: none;
    border-radius: 10px;
    border-color: $gray;
    background-color: $white;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    font-size: 13px;
    color: $black;
  }

  .search-alphabet {
    box-shadow: 5px 0 14px -3px $gray;
    padding: 25px 0;

    li {
      span {
        font-family: $montserrat_font;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
      }
    }
  }

  .result-one-letter {
    .title-letter {
      color: $blue;
      font-family: $montserrat_font;
      font-weight: 700;
    }
  }
}