.section-location-promotions,
.section-location-events {
  .slick-track {
    display: flex;
  }

  .slick-slide {
    height: inherit;
  }

  .events-block {
    h2 {
      margin-bottom: 0;
    }

    article {
      margin: 40px 20px;
    }
  }

  .promotions-block {
    article {
      .slide-content {
        @media (min-width: #{$mobile_up}) {
          height: calc(100% - 250px);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }

  .slick-dots {
    li {
      &.slick-active {
        button {
          background-color: $yellow_btn;

          &:before {
            background-color: $yellow_btn;
            border-color: $yellow_btn;
          }
        }
      }

      button {
        border-color: $yellow_btn;
        &:hover {
          background-color: $yellow_btn;

          &:before {
            background-color: $yellow_btn;
            border-color: $yellow_btn;
          }
        }

        &:before {
          background-color: $white;
          border-color: $white;
        }
      }
    }
  }

  .info-button {
    min-height: 45px;
    border-radius: 10px;
    background-color: $yellow_btn;
    color: $black;
    border-color: $yellow;
    font-size: 13px;
    line-height: 35px;
    padding: 5px 15px;
    font-weight: 700;
    background-image: none;

    &:hover {
      background-color: $yellow_hover;
      border-color: $yellow_hover_border;
      filter: none;
    }

    @media (max-width: #{$mobile_down}) {
      min-height: 35px;
      line-height: 23px;
    }
  }
}
















