.section-location-details {
  .services-button {
    min-height: 45px;
    border-radius: 10px;
    background-color: $yellow_btn;
    color: $black;
    border-color: $yellow;
    font-size: 13px;
    line-height: 35px;
    padding: 5px 15px;
    font-weight: 700;
    background-image: none;

    &:hover {
      background-color: $yellow_hover;
      border-color: $yellow_hover_border;
      filter: none;
    }

    @media (max-width: #{$mobile_down}) {
      min-height: 35px;
      line-height: 23px;
      min-width: 100px;
      text-align: center;
    }
  }

  .box {
    .details-info {
      .text-info {
        @media (max-width: #{$mobile_down}) {
          display: block;
          padding-top: 20px;
        }
      }
    }
  }

  .image-slider {
    .slick-dots {
      li {
        &.slick-active {
          button {
            background-color: $yellow_btn;

            &:before {
              background-color: $yellow_btn;
              border-color: $yellow_btn;
            }
          }
        }

        button {
          &:before {
            background-color: $white;
            border-color: $white;
          }
        }
      }
    }
  }
}