.section-map {
  margin-top: 0;

  .map-search-box {
    &.open {
      .search-results {
        height: calc(100vh - 385px) !important;
      }
    }

    .search-form {
      background-color: $gray_71;

      .search-position {
        #map_search_autocomplete {
          outline: none;
          border-radius: 10px;
          border-color: $gray;
          background-color: $white;
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
          font-size: 13px;
          color: $black;

          &::placeholder {
            font-style: italic;
            font-size: 11px;
          }
        }

        .position-locate {
          border-radius: 10px;
        }
      }
    }

    .search-filters {
      .open-filters-checkbox {
        p {
          font-family: $montserrat_font;
          font-weight: 700;
          background-size: auto 50% !important;
        }
      }

      .content-filters {
        ul {
          li {
            > label {
                font-family: $montserrat_font;
                font-weight: 700;
            }

            ul {
              li {
                display: flex;

                label {
                  font-weight: 400;
                  font-family: $verdana_font;
                }
              }
            }
          }
        }
      }
    }
  }

  .search-button {
    border-radius: 10px;
    background-color: $yellow_btn !important;
    color: $black;
    border-color: $yellow;
    font-size: 13px;
    font-weight: 700;

    &:hover {
      background-color: $yellow_hover;
      border-color: $yellow_hover_border;
      filter: none;
    }
  }
}

.location-summary {
  h5 {
    font-family: $montserrat_font;
    font-weight: 700;
    color: $text-color;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 5px;

    a {
      font-family: $montserrat_font;
      font-weight: 700;
      color: $text-color !important;
      font-size: 14px !important;
      line-height: 18px !important;

      &:hover {
        color: $text-color !important;
      }
    }
  }

  address {
    color: $text-color;
  }
}