.section-near-location {
  box-shadow: 5px 0 14px -3px $gray;
  margin-top: 0;

  .near-location-block {
    background-color: $tr;
  }

  .location-summary {
    h5 {
      font-family: $montserrat_font;
      font-weight: 700;
      color: $text-color;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 5px;
      min-height: 36px;

      a {
        font-family: $montserrat_font;
        font-weight: 700;
        color: $text-color !important;
        font-size: 14px !important;
        line-height: 18px !important;

        &:hover {
          color: $text-color !important;
        }
      }
    }

    address {
      color: $text-color;
    }
  }

  .m-b-15 {
    &:not(.openings) {
      display: flex;
      margin-left: -5px;
      margin-right: -5px;
    }
  }

  .search-button,
  .services-button {
    min-height: 45px;
    border-radius: 10px;
    background-color: $yellow_btn;
    color: $black;
    border-color: $yellow;
    font-size: 13px;
    line-height: 35px;
    padding: 5px 15px;
    font-weight: 700;
    background-image: none;

    &:hover {
      background-color: $yellow_hover;
      border-color: $yellow_hover_border;
      filter: none;
    }

    @media (max-width: #{$mobile_down}) {
      min-height: 35px;
      line-height: 23px;
    }
  }

  .services-button {
    background-color: $white;
    flex: 1;

    &:hover {
      background-color: $yellow_btn;
    }
  }

  .location-distance {
    font-weight: 400;
  }

  .slick-dots {
    li {
      &.slick-active {
        button {
          background-color: $yellow_btn;

          &:before {
            background-color: $yellow_btn;
            border-color: $yellow_btn;
          }
        }
      }

      button {
        border-color: $yellow_btn;
        &:hover {
          background-color: $yellow_btn;

          &:before {
            background-color: $yellow_btn;
            border-color: $yellow_btn;
          }
        }

        &:before {
          background-color: $white;
          border-color: $white;
        }
      }
    }
  }
}