.breadcrumb {
  position: absolute;
  top: 94px;
  left: 0;
  overflow: hidden;

  @media (max-width: 600px) {
    width: 100%;
  }

  @media (max-width: 767px) {
    top: 121px;
    position: relative;
    left: 0;
    top: 0;
    margin-bottom: -25px;
  }

  .breadcrumb-wrapper {
    position: relative;
    padding-right: 40px;

    @media (max-width: 767px) {
      padding-right: 0;
    }

    &:before {
      content: "";
      position: absolute;
      bottom: 3px;
      background: $white;
      display: block;
      width: 92px;
      right: 6px;
      height: 74px;
      border: 1px solid $gray_e7;
      -moz-transform: rotate(46deg);
      -webkit-transform: rotate(46deg);
      -o-transform: rotate(46deg);
      -ms-transform: rotate(46deg);
      transform: rotate(-46deg);

      @media (max-width: 600px) {
        display: none;
      }
    }

    &:after {
      content:'';
      width: 54px;
      height: 1px;
      background-color: $gray_e7;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
    }
  }

  ul {
    background-color: #fff;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
    border-top: 1px solid $gray_e7;
    border-left: 1px solid $gray_e7;
    border-bottom: 1px solid $gray_e7;

    @media (max-width: 767px) {
      padding-bottom: 5px;
    }

    li {
      display: inline-block;
      color: $gray_70;
      font-size: 13px;

      @media (max-width: 767px) {
        margin-bottom: 5px;
      }

      &:first-child {
        &:before {
          display: none;
        }
      }

      &:before {
        color: #ccc;
        content: "";
        display: inline-block;
        background: url("#{$img_path}breadcrump-arrow.png") center center no-repeat;
        width: 12px;
        height: 12px;
        background-size: contain;
        padding: 0 4px;
      }

      a {
        font-weight: 700;
        text-decoration: none;
        font-size: 13px;

        &:hover {
          text-decoration: underline;
        }

        span {
          font-weight: 700;
          font-size: 13px;
        }
      }
    }
  }
}