.mobilosoft-block {
  display: flex;
  align-items: center;
  justify-content: center;
  
  &.pt-50 {
   padding-top: 50px; 
  }

  span {
    display: block;
    font-size: 18px;
    line-height: 28px;
    color: $text;
  }

  img {
    display: block;
    max-width:250px;
  }
}