<div data-overlay class="overlay-infowindow">
    <div class="overlay-infowindow-container">
        <div class="overlay-infowindow-header">
            <span class="overlay-infowindow-close" data-overlay-close>{{ "app.web.overlay.close"|trans({}, shop.code) }}</span>
        </div>
        <div class="overlay-infowindow-content">
            {% autoescape false %}
                {{ "app.web.overlay.content"|trans({}, shop.code) }}
            {% endautoescape %}
        </div>
    </div>
</div>