<div class="mobilo_storeInfos">
    <div class="mobilo_storeInfosList">
        <div class="mobilo_storeContact">
            <ul>
                <li>
                    <address>{% if location.address.extraInfo|length %}{{ location.address.extraInfo }} - {% endif %}{{ (location.address.number ? location.address.number ~ ' ' : '') ~ location.address.street }} -
                        {{ location.address.zipCode ~ ' ' ~ location.address.locality }} -
                        <a href="https://www.google.be/maps?q={{ location.address.fullAddress }}" class="gtm-cta" data-gtm_event="storeRouteClick"
                                data-gtm_event_value="{{ location.name }}" data-type="{{ shop.mapType }}"
                                target="_blank">
                            {{ "app.web.show.itineraire"|trans({}, shop.code) }}
                        </button>
                    </address>
                </li>
                {% if location.contact.phone and location.contact.phone|length %}
                    <li>
                        <p class="mobilo_tel">{{ "app.web.show.contact_us"|trans({}, shop.code) }}: <a data-gtm_event="storePhoneClick" data-gtm_event_value="{{ location.name }}" class="gtm-cta" href="tel:{{ location.contact.phone }}">{{ location.contact.phone }}</a></p>
                    </li>
                {% endif %}
            </ul>

        </div>
        <div class="mobilo_storeServices">

            <ul>
                <li>
                    <p class="mobilo_withIco"><b><img src="{{ asset('build/images/web/shop/medimarket-be/icon_rdv.svg') }}" /></b><span>{{ "app.web.show.pharmacie.consultation"|trans({}, shop.code) }}</span></p>
                </li>
                <li>
                    <p class="mobilo_withIco"><b><img src="{{ asset('build/images/web/shop/medimarket-be/icon_rdv.svg') }}" /></b><span></span>{{  "app.web.show.pharmacie.medical"|trans({}, shop.code) }}</span>
                    </p>
                </li>
            </ul>

        </div>
    </div>
</div>