<div class="mobilo_storeInfos">

    {% set promoUrl = '' %}
    {% if location.locationExtraData and location.locationExtraData|length %}
        {% for extraData in location.locationExtraData if (extraData.key == "Promotions FR" or extraData.key == "Promotions NL") %}
            {% if extraData.value|length  %}
                {% set promoUrl = extraData.value %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if promoUrl|length %}
        <div class="mobilo_ctaWrapper gtm-cta" data-gtm_event="storeCTAClick" data-gtm_event_value="{{ location.name }}"><a href="{{ promoUrl }}" class="mobilo_cta" target="_blank">{{ "app.web.show.parapharmacie.promotions"|trans({}, shop.code) }}</a></div>
    {% endif %}

    <div class="mobilo_storeInfosList">
        <div class="mobilo_storeContact">
            <ul>
                <li><address>{% if location.address.extraInfo|length %}{{ location.address.extraInfo }} - {% endif %}{{ (location.address.number ? location.address.number ~ ' ' : '') ~ location.address.street }} -
                        {{ location.address.zipCode ~ ' ' ~ location.address.locality }} -
                        <a href="https://www.google.be/maps?q={{ location.address.fullAddress }}"  class="gtm-cta" data-gtm_event="storeRouteClick"
                                data-gtm_event_value="{{ location.name }}" data-type="{{ shop.mapType }}"
                                target="_blank">
                            {{ "app.web.show.itineraire"|trans({}, shop.code) }}
                        </a>
                    </address></li>


                {% set progendaUrl = '' %}
                {% if location.locationExtraData and location.locationExtraData|length %}
                    {% for extraData in location.locationExtraData if extraData.key == "Prise de rdv Progenda" %}
                        {% set progendaUrl = extraData.value %}
                    {% endfor %}
                {% endif %}


                {% if progendaUrl|length %}
                    <li>
                        <p class="mobilo_rdv">{{ "app.web.show.parapharmacie.consultation"|trans({}, shop.code) }} - <a href="{{ progendaUrl }}" target="_blank" data-gtm_event="storeAppointmentClick" data-gtm_event_value="{{ location.name }}" class="gtm-cta">{{ "app.web.show.parapharmacie.consultation_cta"|trans({}, shop.code) }}</a></p>
                    </li>
                {% endif %}

                {% if location.contact.phone and location.contact.phone|length %}
                    <li>
                        <p class="mobilo_tel">{{ "app.web.show.contact_us"|trans({}, shop.code) }}: <a data-gtm_event="storePhoneClick" data-gtm_event_value="{{ location.name }}" class="gtm-cta" href="tel:{{ location.contact.phone }}">{{ location.contact.phone }}</a></p>
                    </li>
                {% endif %}

            </ul>

        </div>

    </div>
</div>