{% block google_tag_home %}
    <script type="text/javascript">
        var dataLayer = [{
            'pageLanguage': '{{ app.request.locale }}',
            'pageType': 'store locator - home',
            'pageName': document.title,
        }];
    </script>
{% endblock %}

{% block google_tag_show %}
    <script type="text/javascript">
        var dataLayer = [{
            'pageLanguage': '{{ app.request.locale }}',
            'pageType': 'store locator - store page',
            'pageBrand': '{{ location.brand }}',
            'pageName': document.title,
            'storeName': '{{ location.name }}'
        }];
    </script>
{% endblock %}
