<!-- Block near locations + simple -->
<section id="block_near_location" class="section-near-location mobilo_sect-closeBy" style="display: none">
    <div class="near-location-block">
        <div class="wrapper mobilo_wrapper">
            <h2>{{ 'app.web.show.near_location.title'|trans({}, shop.code) }}</h2>

            <div class="mobilo_sect-closeByArticles">
                <div class="locations-to-slide mobilo_toSlide" data-url="{{ path('api_get_near_locations_by_slug', {'version': shop.apiVersion, 'slug': location.slug}) }}"
                     data-prototype="{% filter escape %}{% include 'web/shop/medimarket-be/block/prototype/near_summary.html.twig' %}{% endfilter %}"></div>
            </div>

        </div>
    </div>
</section>