<!-- ************************************* -->
<!-- SECTION DISPLAY ALL STORE FROM A to Z -->
<!-- ************************************* -->
<section id="block_locations" class="mobilo_sect-allStores">
    <div class="mobilo_alphaSelect">
        <div class="mobilo_wrapper">
            <div class="mobilo_wrapselect">
                <select id="search_alphabet_select">
                    <option>Select a letter</option>
                </select>
            </div>
        </div>
    </div>
    <div class="mobilo_alphabet">
        <div class="mobilo_wrapper">
            <ul id="search_alphabet" data-prototype-default="{{ '<li><span>__letter__</span></li>'|e }}"
                data-prototype-link="{{ '<li><a href="#letter___letter__" rel="nofollow" data-scroll><span>__letter__</span></a></li>'|e }}">
            </ul>
        </div>
    </div>
    <div class="mobilo_resultsByLettersSubtitle">{{ "app.web.home.list.subtitle"|trans({}, 'medimarket-be') }}</div>
    <div class="mobilo_resultsByLetters">
        <div id="results_letters_content" class="mobilo_wrapper"
             data-prototype="{% apply escape %}{% include 'web/shop/medimarket-be/block/prototype/result_letter.html.twig' %}{% endapply %}"
             data-prototype-summary="{% apply escape %}{% include 'web/shop/medimarket-be/block/prototype/location_summary.html.twig' %}{% endapply %}">
        </div>
    </div>
</section>
<!-- LETTERS -->