{% set _tsid = '' %}
{% if location.locationExtraData and location.locationExtraData|length %}
    {% for extraData in location.locationExtraData if extraData.key == 'Trusted shops ID' %}
        {% set _tsid = extraData.value %}
    {% endfor %}
{% endif %}

{% if _tsid|length %}
    <section class="mobilo_sect-storeReviews">
        <input type="hidden" name="locale" id="locale" value="{{ app.request.locale }}">
        <input type="hidden" name="externalId" id="externalId" value="{{ location.externalId }}">
        <input type="hidden" name="trusted_shop_id" value="{{ _tsid }}" id="trusted_shop_id">
        <div class="mobilo_wrapper">
            <h2>{{ "app.web.show.reviews_title"|trans({}, shop.code) }}</h2>

            <div id="reviewsContent">

                <script type="text/javascript">
                //tab details banner
                _tsRatingConfig = {
                    tsid: "{{ _tsid }}",
                    variant: 'skyscraper_horizontal',
                    theme: 'light',
                    borderColor:"#00A983",
                    reviews: 10,
                    locale: "{{ app.request.locale~'_'~app.request.locale|upper }}"
                };
                var _ts = document.createElement('SCRIPT');
                _ts.type = 'text/javascript';
                _ts.async = true;
                _ts.src = '//widgets.trustedshops.com/reviews/tsSticker/tsSticker.js';

                var scripts = document.getElementsByTagName('SCRIPT'),
                    me = scripts[scripts.length - 1];

                // document.getElementById("trusted_shop_content").parentNode.insertBefore(_ts, document.getElementById("trusted_shop_content"));
                me.parentNode.insertBefore(_ts, me);
                _tsRatingConfig.script = _ts;
                </script>

                <div class="mobilo_iframe" id="trusted_shop_content"></div>
            </div>

        </div>
    </section>
{% endif %}