{% if brandSlug == constant('App\\Service\\Api\\Entity\\LocationEntity::MEDIMARKET_BRAND_SLUG_MEDI') %}
    {% set altStoreType = "app.web.show.parapharmacie.store_type" %}
    {% set defaultDescription = "app.web.show.parapharmacie.default_description" %}
{% elseif brandSlug == constant('App\\Service\\Api\\Entity\\LocationEntity::MEDIMARKET_BRAND_SLUG_INSTITUT') %}
    {% set altStoreType = "app.web.show.institut.store_type" %}
    {% set defaultDescription = "app.web.show.institut.default_description" %}
{% elseif brandSlug == constant('App\\Service\\Api\\Entity\\LocationEntity::MEDIMARKET_BRAND_SLUG_PHARMACY') %}
    {% set altStoreType = "app.web.show.pharmacie.store_type" %}
    {% set defaultDescription = "app.web.show.pharmacie.default_description" %}
{% endif %}

<section id="block_location_description" class="mobilo_sect-storeDescription">
    <div class="mobilo_wrapper">
        <div class="mobilo-storeDescription">
            {% if location.description|length %}
                {% autoescape false %}
                    {{ location.description }}
                {% endautoescape %}
            {% else %}
                {% autoescape false %}
                    {{ (defaultDescription)|trans({}, shop.code) }}
                {% endautoescape %}
            {% endif %}
        </div>

        <div class="image-slider-block mobilo_storeSlider">
            <div class="mobilo_aboutSlider image-slider">
                {% if location.images %}

                    {% for image in location.images %}

                        <img src="{{ path('app_web_image_cloudinary_path',
                            {'apiKey': image.cloudName|default("mobilosoft-testing"),
                             'apiPath': image.publicId,
                              'imageSize': 'h_500'}) }}" alt="{{ (altStoreType)|trans({}, shop.code) }} {{ location.brand }} {{ location.address.locality }}">
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
