{% set openHours = open_hours(location, shopDomain, constant('App\\Twig\\OpenHoursExtension::TYPE_WEEK')) %}

{% if location.brandSlug is defined %}
    {% set brandSlug = location.brandSlug %}
{% else %}
    {% set brandSlug = constant('App\\Service\\Api\\Entity\\LocationEntity::MEDIMARKET_BRAND_SLUG_MEDI') %}
{% endif %}

{% if brandSlug == constant('App\\Service\\Api\\Entity\\LocationEntity::MEDIMARKET_BRAND_SLUG_MEDI') %}
    {% set templateDetails =  'web/shop/medimarket-be/block/details_parapharmacie.html.twig' %}
    {% set headTitleKey = "app.web.show.parapharmacie.head_title" %}
{% elseif brandSlug == constant('App\\Service\\Api\\Entity\\LocationEntity::MEDIMARKET_BRAND_SLUG_INSTITUT') %}
    {% set templateDetails = 'web/shop/medimarket-be/block/details_institut.html.twig' %}
    {% set headTitleKey = "app.web.show.institut.head_title" %}
{% elseif brandSlug == constant('App\\Service\\Api\\Entity\\LocationEntity::MEDIMARKET_BRAND_SLUG_PHARMACY') %}
    {% set templateDetails =  'web/shop/medimarket-be/block/details_pharmacie.html.twig' %}
    {% set headTitleKey = "app.web.show.pharmacie.head_title" %}
{% endif %}

{% set apb = "" %}
{% if location.locationExtraData and location.locationExtraData|length %}
    {% for extraData in location.locationExtraData if extraData.key == "Numéro APB" %}
        {% set apb = extraData.value %}
    {% endfor %}
{% endif %}

{% set titulaire = "" %}
{% if location.locationExtraData and location.locationExtraData|length %}
    {% for extraData in location.locationExtraData if extraData.key == "Pharmacien titulaire" %}
        {% set titulaire = extraData.value %}
    {% endfor %}
{% endif %}


<section class="mobilo_sect-storeDetail" id="block_location_details">

    <div class="mobilo_wrapper">

        {% block breadcrumb %}
        <div class="breadcrumb">
            <ul vocab="https://schema.org/" typeof="BreadcrumbList">
                <li property="itemListElement" typeof="ListItem">
                    <a property="item" typeof="WebPage" href="{{ path('app_web_shop_home', {'_locale': app.request.locale}) }}"> <span property="name">{{ 'app.web.header.homepage'|trans({}, shop.code) }}</span></a>
                    <meta property="position" content="1">
                </li>
                <li property="itemListElement" typeof="ListItem">
                    <span property="name">{{ location.name }}</span>
                    <meta property="position" content="2">
                </li>
            </ul>
        </div>
        {% endblock %}

        <div class="mobilo_wrapTitle">
            <h1>{{ headTitleKey|trans({}, shop.code) }} <strong>{{ location.name }}</strong></h1>
            <span class="{% if openHours.opens.isOpenNow %}mobilo_openStatus{% else %}mobilo_closedStatus{% endif %}">
                {% if openHours.opens.isOpenNow %}
                    {{ 'app.web.global.open_hours.shop_open'|trans }},
                {% else %}
                    {{ 'app.web.global.open_hours.shop_close'|trans }}
                {% endif %}
                {{ openHours.opens.sentence }}
            </span>
            {% if apb|length %}
                <br/><span class="apb">{{ "app.web.show.pharmacie.apb"|trans({}, shop.code) }}: {{ apb }}</span>
            {% endif %}
            {% if titulaire|length %}
                {% if apb|length %} - {% else %}<br/>{% endif %}
                <span class="apb">{{ "app.web.show.pharmacie.titulaire"|trans({}, shop.code) }}: {{ titulaire }}</span>
            {% endif %}
        </div>

        {% include templateDetails %}

        <div class="mobilo_timetable">
            <h2>{{ "app.web.show.opening_hours"|trans({}, shop.code) }}</h2>

            {% include 'web/block/location_details/block/open_hours/week.html.twig' %}
        </div>
    </div>
</section>