


{% if (location.services['medimarket.group.services'] is defined and location.services['medimarket.group.services']|length) or (location.services['medimarket.group.soins'] is defined and location.services['medimarket.group.soins']|length) %}

<!-- Block location services + image -->
<section id="block_location_services" class="section-location-services mobilo_sect-storeServices">

        <div class="location-services">
            <div class="mobilo_wrapper">
                <h2>{{ 'app.web.show.location_services.title'|trans({}, shop.code) }}</h2>

                <ul>
                    {% if location.services['medimarket.group.services'] is defined %}
                        {% for propertyService in location.services['medimarket.group.services'] if propertyService.contentFacet.title or propertyService.externalId %}
                            <li itemscope itemtype="http://schema.org/Service">
                                <div class="mobilo_service">


                                    {% if propertyService.assets[0] is defined and propertyService.assets[0].publicId|length %}
                                        {% set image = propertyService.assets[0]  %}
                                        <span class="mobilo_ico">
                                            <img src="{{ path('app_web_image_cloudinary_path', {'apiKey': image.cloudName, 'apiPath': image.publicId}) }}" alt="{{ propertyService.contentFacet.title }}"/>
                                        </span>
                                    {% endif %}
                                    <h5 itemprop="serviceType">{{ propertyService.contentFacet.title }}</h5>

                                    {% if propertyService.assets[0] is defined and propertyService.assets[0].publicId|length %}
                                        {% set image = propertyService.assets[0]  %}
                                        <meta itemprop="logo" content="{{ url('app_web_image_cloudinary_path', {'apiKey': image.cloudName, 'apiPath': image.publicId}) }}"/>
                                    {% endif %}

                                </div>

                            </li>
                        {% endfor %}
                    {% endif %}

                    {% if location.services['medimarket.group.soins'] is defined %}
                        {% for propertyService in location.services['medimarket.group.soins'] if propertyService.contentFacet.title or propertyService.externalId %}
                            <li itemscope itemtype="http://schema.org/Service">
                                <div class="mobilo_service">


                                    {% if propertyService.assets[0] is defined and propertyService.assets[0].publicId|length %}
                                        {% set image = propertyService.assets[0]  %}
                                        <span class="mobilo_ico">
                                            <img src="{{ path('app_web_image_cloudinary_path', {'apiKey': image.cloudName, 'apiPath': image.publicId}) }}" alt="{{ propertyService.contentFacet.title }}"/>
                                        </span>
                                    {% endif %}
                                    <h5 itemprop="serviceType">{{ propertyService.contentFacet.title }}</h5>

                                    {% if propertyService.assets[0] is defined and propertyService.assets[0].publicId|length %}
                                        {% set image = propertyService.assets[0]  %}
                                        <meta itemprop="logo" content="{{ url('app_web_image_cloudinary_path', {'apiKey': image.cloudName, 'apiPath': image.publicId}) }}"/>
                                    {% endif %}

                                </div>

                            </li>
                        {% endfor %}
                    {% endif %}

                </ul>
            </div>
        </div>

</section>

{% endif %}