<section id="block_map" class="mobilo_sect-mapSearch">
    <div class="mobilo_modalSearch">
        <div class="mobilo_searchBox">
            <div class="mobilo_searchForm">
                <h1>{{ "app.web.home.search.title"|trans({}, shop.code) }}</h1>
            </div>
            <div class="mobilo_searchPosition">
                <input type="text" id="map_search_autocomplete"
                       placeholder="{{ 'app.web.home.map.search.input'|trans }}"
                       value="{{ app.request.get('location')|default('') }}">
                <span class="or">{{ "app.web.home.search.or"|trans({}, shop.code) }}</span>
                <a href="#" id="map_current_position"
                   class="mobilo_myposition">{{ "app.web.home.search.my_position"|trans({}, shop.code) }}</a>
            </div>

            {% include 'web/shop/medimarket-be/block/map/filters.html.twig' %}
        </div>

        <div class="mobilo_resultsBox map-search-box">
            <div class="mobilo_resultsAbout">
                <p><strong><span class="search-results-no-loading">0</span><span
                                class="search-results-no"></span></strong>{{ "app.web.home.search.results_no"|trans({}, shop.code) }}
                    <strong class="search-results-location">{{ "app.web.home.search.results_default_search"|trans({}, shop.code) }}</strong>
                </p>
            </div>
            <div class="search-results"
                 data-prototype="{% filter escape %}{% include 'web/shop/medimarket-be/block/prototype/map_open_hours.html.twig' %}{% endfilter %}">
                <div class="search-results-list mobilo_searchResultsLoc">
                    <ul></ul>
                </div>
            </div>
        </div>
    </div>

    <div id="map_container" class="mobilo_map" data-type="{{ shop.mapType }}"
         data-type-google="{{ constant('App\\Entity\\Shop::MAP_TYPE_GOOGLE') }}"
         data-type-here="{{ constant('App\\Entity\\Shop::MAP_TYPE_HERE') }}"
         data-credentials="{{ shop.mapCredentials }}" data-language="{{ app.request.locale }}"
         data-prototype="{% filter escape %}{% include 'web/shop/medimarket-be/block/prototype/info_window.html.twig' %}{% endfilter %}">

        <div id="map_element" class="map-element googlemap" style="width: 100%; height:800px;"></div>
        <div class="map-search-options">
            <div class="map-search-options-container">
                <div class="loading-map-search">
                    <span class="item"></span>
                    <span class="item"></span>
                    <span class="item"></span>
                </div>
                <div class="input">
                    <input type="checkbox" id="map_refresh_on_drag"/>
                    <label for="map_refresh_on_drag"></label>
                </div>
                <div>
                    <span class="txt-blue ubuntu center reset weight300 selected-text">{{ 'app.web.home.map.search_on_move'|trans({}, shop.code) }}</span>
                    <span class="txt-blue ubuntu center reset weight300 not-selected-text">{{ 'app.web.home.map.search_area'|trans({}, shop.code) }}</span>
                </div>
            </div>
        </div>
    </div>
</section>