{% extends 'web/base/home.html.twig' %}

{% set assets = remote_assets(shop, carrefourHeaderUrl~app.request.locale~"/master.atoffernew.nolib.html", "assets") %}

{% if not app.request.get(constant('App\\Twig\\RoutingExtension::QUERY_NO_HEADER')) %}
    {% set noHeader = 0 %}
    {% if assets|length == 0 %}
        {% set  noHeader = 1 %}
    {% endif %}
{% else %}
    {% set noHeader = 1 %}
{% endif %}

{% set noHeader = 1 %}

{% if noHeader == 0 %}
    {# if there is no header add only class no-header #}
    {# if there is no red popup on top of header add class header-md #}
    {% set body_class = "header-md external-style" %}
{% else %}
    {% set body_class = "no-header" %}
{% endif %}


{% block body_class %}{{ body_class }}{% endblock %}

{% block header %}
    {% if noHeader == 0 %}
        {% autoescape false %}
            {{ remote_content(shop, carrefourHeaderUrl~app.request.locale~"/master.atoffernew.nolib.html", "header")  }}
        {% endautoescape %}
    {% endif %}
{% endblock %}

{% block footer %}
    {% if not app.request.get(constant('App\\Twig\\RoutingExtension::QUERY_NO_FOOTER')) %}
        {% include 'web/shop/' ~ shop.code ~ '/layout/footer.html.twig' %}
    {% endif %}
{% endblock %}

{% block content %}
    {# set filters content for map #}
    {% set twigData = {'filterContent': include('web/shop/' ~ shop.code ~ '/block/map/filter.html.twig')} %}

    {% include 'web/shop/' ~ shop.code ~ '/block/map.html.twig' %}
{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" type="text/css" media="all" href="https://cdn-mkt.be.carrefour.eu/free-html/oil_gdpr/design.css"/>
    {% if  noHeader == 0 %}
        {% for assetSrc in assets["css"]  %}
            <link rel="stylesheet" href="{{ assetSrc }}" type="text/css">
        {% endfor %}
    {% endif %}

    {{ encore_entry_link_tags('css/web/shop/' ~ shop.code ~ '/home') }}
{% endblock %}

{% block javascripts_var %}
    {{ parent() }}

    <script>
        var locale = '{{ app.request.locale }}';
    </script>

    <script type="text/javascript">
        globalData['openHoursData']['openClass'] = 'open';
        globalData['openHoursData']['closedClass'] = 'closed';
        globalData['brandSlugs'] = ['bio', 'easy', 'express', 'hyper', 'market'];

        var globalSettings = {
            language: "{{ app.request.locale }}",
            showMarkersClusterOnSearch: true,
            refreshControlCheckbox: false,
            fitBounce: true,
            map: {
                center: {lat: 50.62313744304004, lng: 5.365809522627387},
                zoom: 8,
                fitAll: true,
            },
            mapZoom: {position: 'right-bottom'},
            restriction: {
                latLngBounds: {north: 52.7, south: 48.03, east: 11.23, west: -1.96},
                strictBounds: true,
            },
            marker: {
                icon: '{{ asset('build/images/web/shop/' ~ shop.code ~ '/markers/marker-default.png') }}',
                icon_width: 50,
                icon_height: 53,
                icon_center: '{{ asset('build/images/web/block/map/marker/center.png') }}',
                icon_width_center: 30,
                icon_height_center: 30,
                icon_selected: '{{ asset('build/images/web/shop/' ~ shop.code ~ '/markers/marker-selected-default.png') }}',
                icon_width_selected: 75,
                icon_height_selected: 80,
            },
            marker_cluster: {
                images: '{{ asset('build/images/web/shop/' ~ shop.code ~ '/markers/m') }}',
                sizes: [{w: 52, h: 52}, {w: 55, h: 55}, {w: 65, h: 65}, {w: 77, h: 77}, {w: 89, h: 89}],
                textColor: '#ffffff',
            },
            autocompleteUrl: "{{ path('api_get_road_locations', {'version': shop.apiVersion})|escape('js') }}",
            geoLocationCountry: 'BE',
            query: {
                radius: 5000,
                onEmptyRadius: 15000,
            },
            styles: [
                {"featureType":"poi.business","stylers":[{"visibility":"off"}]},
                {"featureType":"poi.park","elementType":"labels.text","stylers":[{"visibility":"off"}]},
                {"featureType":"transit","stylers":[{"lightness":-10},{"visibility":"on"}]}
                ]
        };
    </script>
{% endblock %}

{% block before_body_end %}
    <div id="oil-preference-center" class="light as-oil"></div>
{% endblock %}

{% block head_scripts %}

    {% include 'web/shop/'~shop.code~'/block/tracking_top.html.twig' %}
    <script src="{{ carrefourTrackingScript }}" async></script>


{% endblock %}

{% block javascripts %}

    {{ encore_entry_script_tags('js/web/home') }}
    {{ encore_entry_script_tags('js/web/shop/' ~ shop.code ~ '/home') }}

    {{ encore_entry_script_tags('js/web/global/ga-events') }}

    {% if noHeader == 0 %}

        {% for assetSrc in assets["js"]  %}
            <script type="text/javascript" src="{{ assetSrc }}"></script>
        {% endfor %}

    {% endif %}



    {% include 'web/shop/'~shop.code~'/block/gdpr.html.twig' %}
    {% include 'web/shop/'~shop.code~'/block/tracking.html.twig' %}

{% endblock %}
