{% extends 'web/base/show.html.twig' %}

{% set assets = remote_assets(shop, carrefourHeaderUrl~app.request.locale~"/master.atoffernew.nolib.html", "assets") %}

{% if not app.request.get(constant('App\\Twig\\RoutingExtension::QUERY_NO_HEADER')) %}
    {% set noHeader = 0 %}
    {% if assets|length == 0 %}
        {% set  noHeader = 1 %}
    {% endif %}
{% else %}
    {% set noHeader = 1 %}
{% endif %}

{% set noHeader = 1 %}


{% if noHeader == 0 %}
    {# if there is no header add only class no-header #}
    {# if there is no red popup on top of header add class header-md #}

    {% set body_class = "header-md detail-page" %}
{% else %}
    {% set body_class =  "no-header" %}
{% endif %}

{% block body_class %}{{ body_class }}{% endblock %}

{% block seo_tags %}
    <link rel="canonical" href="{{ url_https('app_web_carrefour_show', {'slug': location.slug, 'externalId':location.externalId}) }}"/>

    {% block multi_language_tags %}
        {% set defaultDomain = shop.defaultDomain %}
        {% if defaultDomain %}
            <link rel="alternate" hreflang="x-default" href="{{ app.request.scheme ~ '://' ~ defaultDomain.name ~ path('app_web_carrefour_show', {'_locale': defaultDomain.language.code, 'slug': location.slug, 'externalId' : location.externalId}) }}"/>
        {% endif %}

        {% for language, domain in shop.languageDomains if language != app.request.locale %}
            <link rel="alternate" hreflang="{{ language }}" href="{{ app.request.scheme ~ '://' ~ domain ~ path('app_web_carrefour_show', {'_locale': language, 'slug': location.slug, 'externalId' : location.externalId}) }}"/>
        {% endfor %}
    {% endblock %}
{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" type="text/css" media="all" href="https://cdn-mkt.be.carrefour.eu/free-html/oil_gdpr/design.css"/>

    {% if  noHeader == 0 %}
        {% for assetSrc in assets["css"]  %}
            <link rel="stylesheet" href="{{ assetSrc }}" type="text/css">
        {% endfor %}
    {% endif %}

    {{ encore_entry_link_tags('css/web/shop/' ~ shop.code ~ '/show') }}
{% endblock %}


{% block header %}

    {% if noHeader == 0 %}
        {% autoescape false %}
            {{ remote_content(shop, carrefourHeaderUrl~app.request.locale~"/master.atoffernew.nolib.html", "header")  }}
        {% endautoescape %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="detail-page-wrapper">
      <div class="breadcrumb-container">
        {% include 'web/shop/' ~ shop.code ~ '/block/breadcrumb.html.twig' %}
      </div>
      <div class="container-wrapper d-flex-up">
          {% include 'web/shop/' ~ shop.code ~ '/block/sidebar.html.twig' %}
          {% include 'web/shop/' ~ shop.code ~ '/block/details.html.twig' %}
      </div>
    </div>
{% endblock %}


{% block before_body_end %}
    <div id="oil-preference-center" class="light as-oil"></div>
{% endblock %}

{% block footer %}
    {% if not app.request.get(constant('App\\Twig\\RoutingExtension::QUERY_NO_FOOTER')) %}
        {% include 'web/shop/' ~ shop.code ~ '/layout/footer.html.twig' %}
    {% endif %}
{% endblock %}


{% block javascripts_var %}
    {{ parent() }}

    <script type="text/javascript">
        globalData['openHoursData']['openClass'] = 'open';
        globalData['openHoursData']['closedClass'] = 'closed';
        globalData['brandSlugs'] = ['bio', 'easy', 'express', 'hyper', 'market'];

        var globalSettings = {
            language: "{{ app.request.locale }}",
            map: {
                zoom: 14,
            },
            marker: {
                icon: '{{ asset('build/images/web/shop/' ~ shop.code ~ '/markers/marker-selected-' ~ location.brandSlug|default('default') ~ '.png') }}',
                icon_width: 75,
                icon_height: 80,
            },
            mapFullScreen: false,
            mapZoom: {position: 'right-bottom'},
            near_query: {
                size: 5,
                radius: 500000,
            }
        };
    </script>
{% endblock %}

{% block head_scripts %}
    {% include 'web/shop/'~shop.code~'/block/tracking_top.html.twig' %}
    <script src="{{ carrefourTrackingScript }}" async></script>

{% endblock %}

{% block javascripts %}
    
    {{ encore_entry_script_tags('js/web/shop/' ~ shop.code ~ '/show') }}

    {% if noHeader == 0 %}
        {% for assetSrc in assets["js"]  %}
            <script type="text/javascript" src="{{ assetSrc }}"></script>
        {% endfor %}
    {% endif %}

    {% include 'web/shop/'~shop.code~'/block/gdpr.html.twig' %}
    {% include 'web/shop/'~shop.code~'/block/tracking.html.twig' with {'location':location} %}
    {{ encore_entry_script_tags('js/web/global/ga-events') }}

{% endblock %}