<!-- Block location description + image left -->
<section id="block_location_description" class="section-location-description">

    <div class="description-block">
        <div class="wrapper">
            <div class="col-box">
                <div class="row">
                <div class="col-half">
                    {% block location_image_left %}
                        <div class="image-slider-block">
                            <div class="image-slider">
                                {% if location.images %}

                                    {% for image in location.images %}

                                        <img src="{{ path('app_web_image_cloudinary_path',
                                            {'apiKey': image.cloudName|default("mobilosoft-testing"),
                                                'apiPath': image.publicId,
                                                'imageSize': 'w_700'}) }}" alt="{{ location.brand }} {{ location.address.locality }}">
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    {% endblock %}
                </div>

                <div class="col-half">


                    {% block location_description_content %}
                        {% if location.description|length %}
                            {{ location.description }}
                        {% else %}
                            {% block location_description_default_content %}
                                default description
                            {% endblock %}
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
            </div>
        </div>
    </div>

</section>


