<!-- Block near locations + simple -->
<section id="block_near_location" class="section-near-location" style="display: none">
    <div class="near-location-block">
        <div class="wrapper">
            <h2>{{ 'app.web.show.near_location.title'|trans({}, shop.code) }}</h2>

            <div class="locations-to-slide" data-url="{{ path('api_get_near_locations_by_slug', {'version': shop.apiVersion, 'slug': location.slug}) }}"
                 data-prototype="{% filter escape %}{% include 'web/shop/'~shop.code~'/block/prototype/summary.html.twig' %}{% endfilter %}"></div>
        </div>
    </div>
</section>
