{% set twigData = {'showSocials': false} %}

{% set ByAppointment = "" %}

{% if location.locationExtraData and location.locationExtraData|length %}
    {% for extraData in location.locationExtraData  %}

        {% if extraData.key == "By Appointment" %}
            {% set ByAppointment = extraData.value %}
        {% endif %}

    {% endfor %}
{% endif %}


<!-- Block location details + map -->
{% include 'web/block/location_details/block/breadcrumb.html.twig' %}
<section id="block_location_details" class="section-location-details">
    {% if globalTemplates and globalTemplates[constant('App\\Entity\\AttributeValue::VALUE_OPEN_HOURS_EXCEPTION')] is defined %}
        {% set openHours = open_hours(location, shopDomain, constant('App\\Twig\\OpenHoursExtension::TYPE_EXCEPTION')) %}
    {% else %}
        {% set openHours = open_hours(location, shopDomain, constant('App\\Twig\\OpenHoursExtension::TYPE_WEEK')) %}
    {% endif %}

    <div class="details-header">
        <div class="wrapper">
            <h1>{{ location.name }}</h1>
            <h5>{{ location.brand }}</h5>

            <div class="header-info">
                <div class="m-b-15">
                    {% if ByAppointment %}
                        {% if location.status == 'OPEN' %}
                            <span class="open-label {% if openHours.opens.isOpenNow %}is-open{% else %}is-closed{% endif %}">
                                {% if openHours.opens.isOpenNow %}
                                    {{ 'app.web.global.open_hours.shop_open'|trans }}
                                {% else %}
                                    {{ 'app.web.global.open_hours.shop_close'|trans }}
                                {% endif %}
                            </span>
                            <span class="open-sentence {% if openHours.opens.isOpenNow %}is-open{% else %}is-closed{% endif %}">{{ openHours.opens.sentence }}</span>
                        {% else %}
                            <span class="open-label is-closed">{{ 'app.web.global.open_hours.shop_close'|trans }}</span>
                        {% endif %}
                    {% else %}
                        <span class="open-label is-closed">{{ 'app.web.show.open_by_appointment'|trans({}, shop.code) }}</span>
                    {% endif %}
                </div>

                <button data-gtm_event="itinerary" data-gtm_event_value="__externalId__" type="button" class="services-button location-button ga-cta" data-type="{{ shop.mapType }}"
                        data-type-google="{{ constant('App\\Entity\\Shop::MAP_TYPE_GOOGLE') }}"
                        data-type-here="{{ constant('App\\Entity\\Shop::MAP_TYPE_HERE') }}"
                        data-show-route="{{ path('app_web_shop_show', {'_locale': app.request.locale, 'slug': location.slug, focusRoute: true}) }}">
                    {{ 'app.web.show.location_details.route'|trans }}
                </button>
            </div>
        </div>
    </div>

    <div class="details-content">
        <div class="wrapper">
            <div class="details-address-big">
                <h4>{{ 'app.web.show.location_details.address'|trans }}</h4>
                <address>
                    {% if location.address.extraInfo|length  %}
                        {{ location.address.extraInfo }}<br/>
                    {% endif %}
                    {{ (location.address.number ? location.address.number ~ ' ' : '') ~ location.address.street }}
                    <br>
                    {{ location.address.zipCode ~ ' ' ~ location.address.locality }}
                </address>

                <div class="m-b-15">
                    <p>
                        {% if location.contact.email %}
                            <a href="mailto:{{ location.contact.email }}">{{ location.contact.email }}</a> |
                        {% endif %}
                        {{ location.contact.phone }}
                    </p>
                </div>

                <div class="m-b-15">
                    <a href="tel:{{ location.contact.phone }}" class="services-button call-button">{{ 'app.web.show.location_details.call'|trans }}</a>
                </div>

            </div>

            {% if location.status == 'OPEN' %}
                <div class="details-schedule">
                    <h4>{{ 'app.web.show.location_details.working_hours.title'|trans }}</h4>

                    {% if globalTemplates and globalTemplates[constant('App\\Entity\\AttributeValue::VALUE_OPEN_HOURS_EXCEPTION')] is defined %}
                        {% include 'web/block/location_details/block/open_hours/exception.html.twig' %}
                    {% else %}
                        {% include 'web/block/location_details/block/open_hours/week.html.twig' %}
                    {% endif %}
                </div>
            {% endif %}

            <div class="map-block-small">
                <div id="map_container" class="map-container map-small" data-type="{{ shop.mapType }}"
                     data-type-google="{{ constant('App\\Entity\\Shop::MAP_TYPE_GOOGLE') }}"
                     data-type-here="{{ constant('App\\Entity\\Shop::MAP_TYPE_HERE') }}"
                     data-credentials="{{ shop.mapCredentials }}" data-language="{{ app.request.locale }}">
                    <div id="map_element" class="map-element"></div>
                </div>
            </div>
        </div>
    </div>
</section>
