body {
  &.loading {
    transform: none;
  }

  &.loading:after {
    background: rgba(0,0,0, 0.7) url('#{$img_path}/loading.svg') no-repeat 50% 50%;
    background-size: 220px;
    position: fixed;
    display: block;
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
  }
}

#auctions-wrapper {
  border-top: 2px solid $gray_ee;
  border-bottom: 2px solid $gray_ee;
  background-color: $gray_f7;
  padding-top: 33px;
  padding-bottom: 40px;
  margin-top: 50px;

  .auctions-container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;

    @media (max-width: #{$desktop}) {
      max-width: 930px;
      padding-left: 30px;
      padding-right: 30px;
    }

    @media (max-width: #{$tablet}) {
      max-width: 100%;
    }

    @media (max-width: #{$mobile_down}) {
      padding-left: 35px;
      padding-right: 35px
    }
  }

  .auctions-title {
    text-align: center;
    font: 700 32px/36px $helvetica_font;
    margin-bottom: 28px;
    color: $blue_0f;
    text-transform: capitalize;

    @media (max-width: #{$mobile_down}) {
      font-size: 17px;
      margin-bottom: 20px;
    }
  }
}

.car-list {
  margin-left: -20px;
  margin-right: -20px;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: #{$desktop}) {
    margin-left: 0;
    margin-right: 0;
  }

  .car-grid-item {
    width: 33.333333%;
    padding: 0 20px;

    @media (max-width: #{$desktop}) {
      width: 50%;
    }

    @media (max-width: #{$mobile_down}) {
      width: 100%;
    }
  }
}

.car-item {
  border: 1px solid rgba(0,0,0,.125);
  background-color: $white;
  border-radius: 4px;
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
  font-family: $helvetica_font;

  @media (max-width: #{$mobile_down}) {
    margin-bottom: 20px;
  }

  .car-header {
    padding: 11px;
    background-color: #1a4f90;

    .car-header-title {
      font-size: 15px;
      opacity: 0.7;
      color: $white;
      display: block;
      text-decoration: none;
      line-height: 22px;
      font-family: $helvetica_font;
      font-weight: 700;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      &:hover {
        opacity: 1;
      }
    }
  }

  .car-img {
    background-color: $gray_f7;
    min-height: 256px;
    position: relative;
    overflow: hidden;

    a {
      display: block;
    }

    img {
      vertical-align: middle;
      max-width: 100%;
      max-height: 100%;
      transition: all .3s;
      width: 100%;
    }
  }

  .car-body {
    padding: 15px;
    background: $white;

    .buy-method {
      font-size: 11px;
      text-transform: uppercase;
      overflow: hidden;
      text-overflow: ellipsis;
      letter-spacing: 2.1px;
      line-height: 16px;
      font-weight: 500;
      color: #a7a7a7;
      text-align: left;
      display: block;
      margin-bottom: 4px;
      white-space: nowrap;
      font-family: $helvetica_font;

      .fa {
        margin-right: 6px;
        color: #a7a7a7;
      }
    }

    .price {
      display: block;
      font-size: 22px;
      margin-top: 2px;
      margin-bottom: 2px;
      color: $blakc_29;
      line-height: 24px;
      font-family: $helvetica_font;
      font-weight: 400;
      letter-spacing: 0.6px;
      margin-left: 2px;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      margin-top: 12px;

      li {
        display: flex;
        align-items: center;
        width: 50%;

        i {
          font-size: 19px;
          margin-right: 8px;
        }

        span {
          display: block;
          font-size: 13px;
          line-height: 19px;
          color: $gray_66;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          width: 75%;
          font-family: $helvetica_font;
          font-weight: 300;
          letter-spacing: 0.4px;
        }
      }
    }
  }

  .car-footer {
    border-top: 1px solid rgba(0,0,0,.125);
    background-color: #f7f7f9;
    padding: 8px 15px;
    text-align: right;

    .car-btn {
      padding: 6px 8px;
      font-size: 10px;
      border-radius: 2.4px;
      text-transform: uppercase;
      letter-spacing: 1.4px;
      font-weight: 500;
      font-family: $helvetica_font;
      color: #777778;
      background-color: transparent;
      border: 1px solid #777778;
      line-height: 13px;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      transition: all .2s ease-in-out;
      height: auto;
      outline: none;
      cursor: pointer;
      text-transform: uppercase;
      text-decoration: none;
      display: inline-block;
    }
  }
}

.pages {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 4px;
  justify-content: flex-end;

  @media (max-width: #{$mobile_down}) {
    margin-right: 19px;
  }

  .page, li {
    &:first-child {
      .page-link {
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
      }
    }

    &:last-child {
      .page-link {
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
      }
    }
    &.active {
      .page-link, .current {
        background-color: $blue_1a;
        border-color: $blue_1a;
        z-index: 2;
        color: $white;
      }
    }
  }

  .fa {
    color: $blue_1a;
  }

  .page-link, .current, .ellipse {
    position: relative;
    font-size: 16px;
    display: block;
    padding: 8px 12px;
    margin-left: -1px;
    line-height: 20px;
    color: $blue_1a;
    background-color: $white;
    border: 1px solid #ddd;
    text-decoration: none;
    min-width: 44px;
    text-align: center;
    cursor: pointer;
    font-family: $helvetica_font;
    font-weight: 300;

    @media (max-width: #{$mobile_down}) {
      min-width: 35px;
      padding: 8px 1.6px;
    }

    &:hover,
    &:active {
      color: #0e2b4f;
      text-decoration: none;
      background-color: #f3f3f3;
      border-color: #ddd;
    }
  }
}




