.bread_default {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media (min-width: #{$small_screen_up}) {
    width: 540px;
    max-width: 100%;
  }

  @media (min-width: #{$mobile_down}) {
    width: 720px;
    max-width: 100%;
  }

  @media (min-width: #{$tablet}) {
    width: 960px;
    max-width: 100% ;
  }

  @media (min-width: #{$desktop}) {
    width: 1140px;
    max-width: 100%;
  }

  a {
    color: $blue_0f;
    font-family: $helvetica_font;
    font-weight: 700;
  }

  span {
    font-family: $helvetica_font;
    font-weight: 400;
  }
}