.section-location-services {
  margin-top: 0;
  position: relative;

  .location-services {
    background-color: $tr;
    padding-top: 67px;
    padding-bottom: 0;
    text-align: left;

    h2 {
      font-size: 32px;
      line-height: 36px;
      color: $blue_0f;
      text-transform: capitalize;
      margin-bottom: 8px;

      @media (max-width: #{$mobile_down}) {
        font-size: 17px;
        line-height: 21px;
      }
    }
  }

  .services-images-info {
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    li {
      width: 25%;
      max-width: initial;
      padding: 0;
      display: flex;
      align-items: center;
      margin-bottom: 0;
      min-width: initial;
      min-height: 40px;

      @media (max-width: #{$tablet}) {
        min-width: 240px;
        margin-bottom: 5px;
        padding: 5px 0;
        flex-grow: inherit;
      }

      @media (max-width: #{$mobile_down}) {
        width: 100%;
        min-width: 100%;
      }

      div {
        margin: 0;
        padding: 0;
        height: 25px;

        img {
          width: 30px;
          height: 25px;
          cursor: pointer;
        }
      }

      span {
        font-size: 22px;
        line-height: 28px;
        font-weight: 600;
        color: $black;
        display: block;
        margin: 0;
        min-height: auto;
        text-transform: capitalize;
        font-family: $helvetica_font;
        margin-left: 12px;
        cursor: pointer;

        @media (max-width: #{$mobile_down}) {
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
  }

  .modal-body {
    font-family: $helvetica_font;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: $black;
  }

  .modal {
    .close {
      font-size: 0;
      outline: none;

      &:before {
        display: inline-block;
        font: 14px/1 $font_awesome_font;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f00d";
        font-size: 20px;
        color: $black;
      }
    }
  }
}



// #service_info_modal {
//   position: absolute;
//   height: 100vh;

//   &.fade {
//     &.show {
//       display: flex !important;
//     }
//   }
// }








