.section-location-description {
  .row {
    margin: 0 -1.5%;
  }

  .image-slider-block {
    height: 302px;

    @media (max-width: #{$tablet}) {
      height: auto;
      box-shadow: none;
    }

    .details-image {
      height: 100%;
      position: relative;

      img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
      }

      .btn {
        position: absolute;
        bottom: -16px;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 300;
        font-family: $helvetica_font;
        font-size: 12px;
        text-transform: uppercase;
        padding: 8px 25px 8px;
      }
    }
  }
}