.section-locations {
  .result-one-letter {
    .title-letter {
      color: #003f7a;

      @media (min-width: #{$mobile_up}) {
        text-align: left;
      }
    }
  }

  .wrap-title {
    h2 {
      font-size: 28px;
      line-height: 32px;
      font-weight: 700;
      color: $blue_0f;
      font-family: $helvetica_font;

      @media (max-width: #{$mobile_down}) {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }

  .location-search {
    background-color: #003f7a;
  }
}