.section-location-details {
  .services-button {
    padding: 7px 24px 7px;
    display: inline-block;
    border-radius: 4px;
    outline: 0 none;
    font-size: 16px;
    border: 0 none;
    color: $white;
    text-decoration: none;
    outline: none;
    box-shadow: none;
    background-color: $blue_0f;
    background-image: none;

    &:hover {
      filter: none;
      background-color: $blue_0a;
    }
  }

  .schedule {
    th,
    td {
      padding: 0;
    }
  }

  .col-image {
    @media (min-width: #{$mobile_up}) {
      height: 325px;
    }
  }

  .col {
    align-self: stretch;
  }

  .location-details-block {
    .row {
      margin: 0 -1.5%;
      .col {
        &:last-child {
          .col-box {
            height: 100%;
          }
        }

        .col-box {
          &.mb-40 {
            margin-bottom: 30px;
          }
        }
      }
    }
  }

  .box {
    .details-image-slider {
      .details-image {
        margin: auto;
        text-align: center;
        vertical-align: center;
        padding-top: 30px;
        padding-left: 10px;
        padding-right: 10px;

        @media (max-width: #{$mobile_down}) {
          padding-top: 10px;
        }

        img {
          max-width: 100%;

          @media (max-width: #{$mobile_down}) {
            max-width: 60%;
          }
        }
      }
    }
  }
}


