.section-map {
  margin-top: 23px;
  position: relative;
  padding: 0 15px 0px 15px;
  margin: 23px auto 0 auto;
  width: 100%;

  @media (min-width: #{$tablet}) {
    width: 960px;
    max-width: 100%;
    display: flex;
    padding: 0 58px 57px 58px;
  }

  @media (min-width: #{$desktop}) {
    width: 1140px;
    max-width: 100%;
  }

  .info-window-block {
    .location-summary {
      text-align: left;

      button {
        margin-left: 0;
      }
    }
  }

  .map-search-box {
    position: relative;
    top: 0;
    right: 0;
    order: 2;
    width: 100%;
    border-radius: 0;
    border: 1px solid #ececec;
    box-shadow: none;
    border-left: none;

    @media (min-width: #{$mobile_up}) {
      height: calc(100vh - 206px) !important;
      min-height: 450px;
    }

    @media (min-width: #{$tablet}) {
      width: 342px;
    }

    .search-form {
      padding: 16px;

      .search-position {
        #map_search_autocomplete {
          background-color: $gray_d6;
          border-radius: 5px;
          border-color: $gray_d6;
          padding: 8px 40px 8px 10px;
          font-size: 16px;
          text-align: center;
          outline: none;
          color: $blue_0f;
        }

        .position-locate {
          background-color: $gray_d6;
        }
      }
    }

    .search-results {
      background-color: $white;

      @media (min-width: #{$tablet}) {
        height: calc(100vh - 278px);
      }
    }

    .search-results-list {
      padding: 0;

      .location-summary {
        border-color: #f1f0ee;
        padding: 19px 15px 25px 78px;
        position: relative;

        .pin-icon {
          position: absolute;
          top: 22px;
          left: 22px;
          background: url('#{$img_path}/theme_map_icon.png') center center no-repeat;
          width: 36px;
          height: 52px;
        }

        .btn-block {
          margin-bottom: 10px;
        }
      }
    }
  }

  .search-button {
    background-color: $blue_0f !important;
    padding: 5px 18px;
    border-radius: 4px;
    font-size: 16px;
    border-color: $blue_0f;

    &:hover {
      background-color: $blue_0a;
      filter: none;
    }
  }

  .map-container {
    order: 1;
    flex: 1;

    @media (min-width: #{$desktop}) {
      height: calc(100vh - 206px);
    }

    @media (max-width: #{$tablet}) {
      height: 40vh;
    }
  }
}