.section-near-location {
  .search-button,
  .services-button {
    padding: 7px 24px 7px;
    display: inline-block;
    border-radius: 4px;
    outline: 0 none;
    font-size: 16px;
    border: 0 none;
    color: $white;
    text-decoration: none;
    outline: none;
    box-shadow: none;
    background-color: $blue_0f;
    background-image: none;

    &:hover {
      filter: none;
      background-color: $blue_0a;
    }
  }

  .services-button {
    border: 1px solid $blue_0f;
    background-color: $tr;
    color: $blue_0f;

    &:hover {
      color: $white;
    }
  }

  .location-label {
    display: none !important;
  }

  .location-sentence {
    font-size: 14px;
    line-height: 16px;
    font-family: $helvetica_font;
    font-weight: 400;
    color: $black !important;
    display: inline-block;
  }

  .slick-track {
    display: flex;
  }

  .slick-slide {
    height: inherit;
  }

  .location-summary {
    height: 100%;
  }
}