{% extends 'web/base/home.html.twig' %}

{% block header %}
    {% autoescape false %}
        <div class="portal-bg">
            {{ remote_content(shop, 'https://www.wrksolutions.com/', 'header') }}
        </div>
    {% endautoescape %}
{% endblock %}

{% block footer %}
    {% autoescape false %}
        {{ remote_content(shop, 'https://www.wrksolutions.com/', 'footer') }}
    {% endautoescape %}
{% endblock %}

{% block content %}
    {% set twigData = {'filterDynamic': true} %}

    {{ parent() }}
{% endblock %}

{% block stylesheets_custom %}
    {{ encore_entry_link_tags('css/web/shop/' ~ shop.code ~ '/home') }}
{% endblock %}

{% block javascripts_main %}
    {{ encore_entry_script_tags('js/web/shop/' ~ shop.code ~ '/home') }}
{% endblock %}

{% block javascripts_custom %}
    {{ encore_entry_script_tags('js/web/shop/' ~ shop.code ~ '/app') }}
{% endblock %}

{% block javascripts_var %}
    {{ parent() }}

    {#  Map Settings for this shop (default are defind in js map folder files, DEFAULT_SETTINGS getter) #}
    <script type="text/javascript">
        var globalSettings = {
            map: {
                center: {lat: 31.1004039, lng: -104.5673455},
                zoom: 10,
            },
            marker: {
                icon: '{{ asset('build/images/web/shop/'~shop.code~'/marker-blue.png') }}',
                icon_width: 42,
                icon_height: 67,
            },
            geoLocationCountry: ['US'],
            query: {
                size: 50,
                radius: 15000,
            },
        };
    </script>
{% endblock %}
