{% extends 'web/base/show.html.twig' %}

{% block body_class %}detail-page{% endblock %}

{% block header %}
    {% autoescape false %}
        <div class="portal-bg">
            {{ remote_content(shop, 'https://www.wrksolutions.com/', 'header') }}
        </div>
    {% endautoescape %}
{% endblock %}

{% block footer %}
    {% autoescape false %}
        {{ remote_content(shop, 'https://www.wrksolutions.com/', 'footer') }}
    {% endautoescape %}
{% endblock %}

{% block content_blocks %}
    {% for template in templates %}
        {% if template.attribute.block == constant('App\\Entity\\Attribute::BLOCK_LOCATION_SERVICES') %}
            {% include 'web/shop/' ~ shop.code ~ '/block/location_services.html.twig' %}
        {% elseif template.attribute.block == constant('App\\Entity\\Attribute::BLOCK_NEAR_LOCATION') %}
            {% include 'web/shop/' ~ shop.code ~ '/block/near_location_simple.html.twig' %}
        {% elseif template.attribute.block == constant('App\\Entity\\Attribute::BLOCK_LOCATION_DETAILS') %}
            {% include 'web/shop/' ~ shop.code ~ '/block/location_details.html.twig' %}
        {% else %}
            {% include 'web/block/' ~ template.attribute.block ~ '/' ~ template.attributeValue.value ~ '.html.twig' ignore missing %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block stylesheets_custom %}
    {{ encore_entry_link_tags('css/web/shop/' ~ shop.code ~ '/show') }}
{% endblock %}

{% block javascripts_main %}
    {{ encore_entry_script_tags('js/web/shop/' ~ shop.code ~ '/show') }}
{% endblock %}

{% block javascripts_custom %}
    {{ encore_entry_script_tags('js/web/shop/' ~ shop.code ~ '/app') }}
{% endblock %}

{% block javascripts_var %}
    {{ parent() }}

    <script>
        var globalSettings = {
            near_query: {
                size: 9,
                radius: 2000000,
            },
            marker: {
                icon: '{{ asset('build/images/web/shop/'~shop.code~'/marker-blue.png') }}',
                icon_width: 42,
                icon_height: 67,
            },
            geoLocationCountry: ['US'],
        };
    </script>
{% endblock %}
