{% block breadcrumb_default %}
    {% set showBreadcrumb = 1 %}
    {% if twigData['showBreadcrumb'] is defined %}
        {% set showBreadcrumb = twigData['showBreadcrumb'] %}
    {% endif %}

    {% if showBreadcrumb %}
        <ul class="bread_default" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a href="{{ path("app_web_shop_home", {"_locale":app.request.locale}) }}" itemprop="item">
                    <span itemprop="name">{{ "app.web.show.header_homepage"|trans }}</span>
                </a>
                <meta itemprop="position" content="1" />
            </li>

            <li itemprop="itemListElement" itemscope
                itemtype="http://schema.org/ListItem" class="current_city">
                <span itemprop="name">{{ location.name }}</span>
                <meta itemprop="position" content="2" />
            </li>
        </ul>
    {% endif %}
{% endblock %}