<div class="block-inline">
    <table class="schedule-inline">
        <tr>
            {% for weekDay in 1..7 %}
                <th class="{% if openHours.currentWeekDay == weekDay %}active{% endif %}">
                    {{ ('app.web.global.open_hours.days.' ~ weekDay)|trans }}
                </th>
            {% endfor %}
        </tr>

        <tr>
            {% for weekDay in 1..7 %}
                {% if openHours.weekOpenHours[weekDay] is defined %}
                    <td class="{% if openHours.currentWeekDay == weekDay %}active{% endif %}">
                        {% for weekOpenHour in openHours.weekOpenHours[weekDay]|sort((a, b) => a.openTime <=> b.openTime) %}
                            {{ weekOpenHour.openTimeFormat }}
                            {{ ' - ' }}
                            {{ weekOpenHour.closeTimeFormat }}
                            {% if loop.length > 1 and not loop.last %}{{ ' ' ~ openHoursSeparator ~ ' ' }}{% endif %}
                        {% endfor %}
                    </td>
                {% else %}
                    <td class="warning {% if openHours.currentWeekDay == weekDay %}active{% endif %}">
                        {{ 'app.web.global.open_hours.days.closed'|trans }}
                    </td>
                {% endif %}
            {% endfor %}
        </tr>
    </table>

    {# Exceptions #}
    <div class="shedule-exception-inline m-t-10">
        <div class="title-exception is-open">{{ 'app.web.global.open_hours.exceptions.open'|trans }}</div>

        {% if openHours.specialHours.open|length %}
            {% for specialOpenHour in openHours.specialHours.open %}
                <p>{{ specialOpenHour }}</p>
            {% endfor %}
        {% endif %}
    </div>

    <div class="shedule-exception-inline m-t-10">
        <div class="title-exception is-closed">{{ 'app.web.global.open_hours.exceptions.closed'|trans }}</div>

        {% if openHours.specialHours.closed|length %}
            {% for specialClosedHour in openHours.specialHours.closed %}
                <p>{{ specialClosedHour }}</p>
            {% endfor %}
        {% endif %}
    </div>
</div>