.detail-page {
  .wrapper {
    @media only screen and (max-width: 767px) {
      padding: 0 5%;
    }
  }
}
.section-location-details {
  .row {
    margin-left: -1.5%;
    margin-right: -1.5%;
  }

  .map-container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 2%;

    @media only screen and (max-width: 767px) {
      padding: 0 5%;
    }
  }
}

.section-location-services .services-images li img {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  width: 55px;
  height: 55px;
}