.section-location-promotions {
  .promotions-block {
    h2 {
      font: $h1-font;
      color: $font-color;
    }

    .slick-track {
      display: flex;

      .slick-slide {
        height: inherit;
        display: flex;
        flex-direction: column;
      }
    }

    article {
      h3 {
        font: $h2-font;
        color: $font-color;
        height: 42px;
      }

      .slide-image {
        img {
          bottom: auto;
        }
      }
    }

    .slide-content {
      flex: 1;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
    }
  }

  .info-button {
    background-color: $primary-color;
    border-color: $primary-color;
    border-radius: 0;
    text-transform: uppercase;
  }

  .slick-dots {
    li {
      button {
        &:before {
          background-color: $primary-color;
          border-color: $primary-color;
        }
      }

      &.slick-active {
        button {
          background-color: $primary-color;
        }
      }
    }
  }
}

