.section-location-events {
  .events-block {
    outline: 0 none;

    article {
      outline: 0 none;
    
      .slide-image {
        overflow: hidden;
        height: 280px;

        img {
          max-height: initial;
          bottom: auto;
        }
      }

      .slide-content {
        height: 120px;
      }
    }
  }
}


.section-near-location {
  .near-location-block {
    outline: 0 none;

    article {
      outline: 0 none;
    }  
  }
}