{% extends 'web/base/home.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/web/shop/'~shop.code~'/home') }}
{% endblock %}

{% block header %}
    {% autoescape false %}
        {{ remote_content(shop, 'https://www.pickles.com.au', 'header') }}
    {% endautoescape %}
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="pickles-list-title">
            <h3>
                Find the nearest Pickles Locations
            </h3>
        </div>
    </div>
    {% include 'web/shop/'~shop.code~'/block/map_search_list.html.twig' %}
    {% include 'web/shop/'~shop.code~'/block/locations_city.html.twig' %}
{% endblock %}

{% block footer %}
    {% autoescape false %}
        {{ remote_content(shop, 'https://www.pickles.com.au', 'footer') }}
    {% endautoescape %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('js/web/shop/pickles-au/app') }}
{% endblock %}

{% block javascripts_var %}
    {{ parent() }}
    {#  Map Settings for this shop (default are defind in js map folder files, DEFAULT_SETTINGS getter) #}
    <script type="text/javascript">
        var globalSettings = {
            map: {
                center: {lat: -33.8478796, lng: 150.7918934},
                zoom: 10,
            },
            marker: {
                icon: '{{ asset('build/images/web/shop/'~shop.code~'/theme_map_icon.png') }}',
                icon_width: 50,
                icon_height: 50,
            },
            geoLocationCountry: ['AU'],
            query: {
                size: 50,
                radius: 15000,
            },
        };
    </script>
{% endblock %}
