{% extends 'web/base/show.html.twig' %}
{% block body_class %}detail-page{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/web/shop/'~shop.code~'/show') }}
{% endblock %}

{% block header %}
    {% autoescape false %}
        {{ remote_content(shop, 'https://www.pickles.com.au', 'header') }}
    {% endautoescape %}
{% endblock %}

{% block content_blocks %}


    {% set twigData = {'showSocials': false, 'showBreadcrumb': 1, 'defaultTitleLeft':'About '~location.name} %}

    {% for template in templates %}
        {% if template.attribute.block == constant('App\\Entity\\Attribute::BLOCK_LOCATION_SERVICES') %}
            {% include 'web/shop/pickles-au/block/location_services.html.twig' %}
            {% include 'web/shop/pickles-au/block/auctions.html.twig' %}
        {% elseif template.attribute.block == constant('App\\Entity\\Attribute::BLOCK_LOCATION_DETAILS')  %}
            {% include 'web/shop/pickles-au/block/location_details.html.twig' %}
        {% elseif template.attribute.block == constant('App\\Entity\\Attribute::BLOCK_LOCATION_DESCRIPTION')  %}
            {% include 'web/shop/pickles-au/block/location_description.html.twig' %}
        {% else %}
            {% include 'web/block/' ~ template.attribute.block ~ '/' ~ template.attributeValue.value ~ '.html.twig' ignore missing %}
        {% endif %}
    {% endfor %}
{% endblock %}


{% block footer %}
    {% autoescape false %}
        {{ remote_content(shop, 'https://www.pickles.com.au', 'footer') }}
    {% endautoescape %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('js/web/shop/pickles-au/app') }}
{% endblock %}

{% block javascripts_var %}

    {{ parent() }}

    {% set auctionParam = "" %}
    {% if location.locationExtraData and location.locationExtraData|length %}
        {% for extraData in location.locationExtraData if extraData.key == "Auctions XML Feed" %}
            {% set auctionParam = extraData.value %}
        {% endfor %}
    {% endif %}

    {% set ajaxRequestUrl = "#" %}
    {% if auctionParam|length  %}
        {% set ajaxRequestUrl = app.request.getSchemeAndHttpHost()~'/api/v3/pickles/auctions' %}
    {% endif %}


    <script type="text/javascript">
      var globalSettings = {
        near_query: {
          size: 6,
          radius: 200000,
        },
        geoLocationCountry: ['AU'],
        auctionsUrl: "{{ ajaxRequestUrl }}",
        auctionParam: {
          organizationCode: "{{ auctionParam }}",
          page: 1,
          n: 6,
        }
      };
    </script>
{% endblock %}
