$font-path: '../../../../../fonts/shop/refinerylab-us';


@font-face {
    font-family: 'Lato';
    src: url($font-path + '/Lato-Regular.eot');
    src: url($font-path + '/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url($font-path + '/Lato-Regular.woff2') format('woff2'),
        url($font-path + '/Lato-Regular.woff') format('woff'),
        url($font-path + '/Lato-Regular.ttf') format('truetype'),
        url($font-path + '/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url($font-path + '/Lato-Bold.eot');
    src: url($font-path + '/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url($font-path + '/Lato-Bold.woff2') format('woff2'),
        url($font-path + '/Lato-Bold.woff') format('woff'),
        url($font-path + '/Lato-Bold.ttf') format('truetype'),
        url($font-path + '/Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}