body {
  font-family: $Lato_font;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;

  &.overflow {
    overflow: hidden;
  }
}

* {
  font-family: $Lato_font;
  font-weight: 400;
}

a {
  text-decoration: none;
}