// Color
$header-color: #40484f;
$gray_93: #939799;
$white: #ffffff;

$footer-color: #222c35;

$black_22: #222222;

// Fonts
$Lato_font: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Image path
$img_path: '../../../../../images/web/shop/refinerylab-us/';