<section id="map_search_filters">
    <div class="mobilo_searchFilters mobilo_closedElt search-filters closed-box">
        <div class="mobilo_openFilters open-filters">
            <p>{{ "app.web.home.filters.title"|trans({}, shop.code) }}</p>
        </div>

        <div class="mobilo_contentFilters">
            <ul>
                <li>
                    <label class="mobilo_cbcontainer">{{ "app.web.home.filters.pharmacie"|trans({}, shop.code) }}
                        <input type="checkbox" data-checkbox="brandSlugs" name="brandSlugs[1]"
                               value="{{ constant('App\\Service\\Api\\Entity\\LocationEntity::MEDIMARKET_BRAND_SLUG_PHARMACY') }}"
                               id="map_filters_{{ constant('App\\Service\\Api\\Entity\\LocationEntity::MEDIMARKET_BRAND_SLUG_PHARMACY') }}"
                               {% if app.request.query.get('_utm_source') == 'pharmacies' %}checked{% endif %}>
                        <span class="mobilo_checkmark"></span>
                        <input type="hidden" value="{{ app.request.server.get('HTTP_REFERER') }}">
                    </label>
                </li>
                <li>
                    <label class="mobilo_cbcontainer">{{ "app.web.home.filters.parapharmacie"|trans({}, shop.code) }}
                        <input type="checkbox" data-checkbox="brandSlugs" name="brandSlugs[2]"
                               value="{{ constant('App\\Service\\Api\\Entity\\LocationEntity::MEDIMARKET_BRAND_SLUG_MEDI') }}"
                               id="map_filters_{{ constant('App\\Service\\Api\\Entity\\LocationEntity::MEDIMARKET_BRAND_SLUG_MEDI') }}"
                               {% if  app.request.query.get('_utm_source') == 'parapharmacies'  %}checked{% endif %}>
                        <span class="mobilo_checkmark"></span>
                    </label>
                    <ul>
                        <li>
                            <label class="mobilo_cbcontainer">{{ "app.web.home.filters.para_subfilter"|trans({}, shop.code) }}
                                <input type="checkbox" data-checkbox="serviceKeys" name="serviceKeys[1]" value="CONSULTATIONS_DIETETIQUES" id="map_filters_CONSULTATIONS_DIETETIQUES">
                                <span class="mobilo_checkmark"></span>
                            </label>
                        </li>
                    </ul>
                </li>
                <li>
                    <label class="mobilo_cbcontainer">{{ "app.web.home.filters.institut"|trans({}, shop.code) }}
                        <input type="checkbox" data-checkbox="brandSlugs" name="brandSlugs[3]"
                               value="{{ constant('App\\Service\\Api\\Entity\\LocationEntity::MEDIMARKET_BRAND_SLUG_INSTITUT') }}"
                               id="map_filters_{{ constant('App\\Service\\Api\\Entity\\LocationEntity::MEDIMARKET_BRAND_SLUG_INSTITUT') }}"
                               {% if app.request.query.get('_utm_source') == 'instituts' %}checked{% endif %}>
                        <span class="mobilo_checkmark"></span>
                    </label>
                </li>
            </ul>
        </div>
    </div>
</section>