{% extends 'web/base/home.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/web/shop/' ~ shop.code ~ '/home') }}
{% endblock %}

{% block header %}
    <header style="text-align: center; background-color: #0A0A0A ">
        <div style="text-align: center; margin: auto"><img src="{{ asset('/build/images/web/shop/sequoia-be/header.png') }}" width="100%"></div>
    </header>
{% endblock %}

{% block content %}
    {# set filters content for map #}

    {#{% set twigData = {'filterContent': include('web/block/map/filters/simple_checkbox.html.twig', {#}
        {#'filters': {#}
            {#'brands': {'brandSlugs[0]':'brut-by-farm', 'brandSlugs[1]':'farm'}#}
        {#}#}
    {#})} %}#}

    {% for template in templates %}
        {% include 'web/block/' ~ template.attribute.block ~ '/' ~ template.attributeValue.value ~ '.html.twig' ignore missing %}
    {% endfor %}
{% endblock %}

{% block footer %}
    <footer style="text-align: center;font-weight: bold;background-color: #0A0A0A">
        <div style="text-align: center; margin: auto"><img src="{{ asset('/build/images/web/shop/sequoia-be/footer.png') }}" width="100%"></div>
    </footer>
{% endblock %}

{% block javascripts_var %}
    {{ parent() }}

    {#  Map Settings for this shop (default are defind in js map folder files, DEFAULT_SETTINGS getter) #}
    <script type="text/javascript">
        var globalSettings = {
            map: {
                center: {lat: 50.62313744304004, lng: 5.365809522627387},
                zoom: 10,
            },
            geoLocationCountry: 'BE',
            query: {
                size: 50,
                radius: 15000,
            },
        };
    </script>
{% endblock %}
