{% extends 'web/base/show.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/web/shop/' ~ shop.code ~ '/show') }}
{% endblock %}

{% block header %}
    <header style="text-align: center; background-color: #0A0A0A ">
        <div style="text-align: center; margin: auto"><img src="{{ asset('/build/images/web/shop/sequoia-be/header.png') }}" width="100%"></div>
    </header>
{% endblock %}

{% block footer %}
    <footer style="text-align: center;margin-top: 50px;font-weight: bold;background-color: #0A0A0A">
        <div style="text-align: center; margin: auto"><img src="{{ asset('/build/images/web/shop/sequoia-be/footer.png') }}" width="100%"></div>
    </footer>
{% endblock %}



{% block javascripts_var %}
    {{ parent() }}

    <script>
        var globalSettings = {
            near_query: {
                size: 9,
                radius: 2000000,
            }
        };
    </script>
{% endblock %}