<!-- Block location banner + map -->
<section id="block_location_banner" class="section-location-banner">
    <div id="map_container_banner" class="map-container" data-type="{{ shop.mapType }}"
         data-type-google="{{ constant('App\\Entity\\Shop::MAP_TYPE_GOOGLE') }}"
         data-type-here="{{ constant('App\\Entity\\Shop::MAP_TYPE_HERE') }}"
         data-credentials="{{ shop.mapCredentials }}" data-language="{{ app.request.locale }}">
        <div id="map_element_banner" class="map-element"></div>
    </div>
</section>