<!-- Block location banner + image -->
<section id="block_location_banner" class="section-location-banner">
    <img class="banner-image" src="{{ asset('build/images/web/block/location_banner/banner.png') }}"/>
</section>