.section-location-events {
  h2 {
    font-family: $Handage_font;
    font-size: 50px;
    line-height: 54px;
    color: $text-color;
    margin-bottom: 0;
    letter-spacing: 1px;
  }

  .events-slide {
    .slick-track {
      padding-top: 30px;
    }
  }

  .events-block {
    article {
      h3 {
        color: $text-color;
      }

      .block-hover {
        p {
          font-family: $Work_sans_font;
        }
      }
    }
  }

  .info-button {
    font-family: $Work_sans_font;
    background-color: $red_c0;
    text-transform: uppercase;
    border-radius: 2px;
    border-color: $red_c0;

    &:hover {
      filter: none;
      background-color: $red_c0;
      border-color: $red_c0;
    } 
  }

  .slick-dots {
    li {
      &.slick-active {
        button {
          background-color: $red_c0;
        }
      }

      button {
        &:before {
          background-color: $red_c0;
          border-color: $red_c0;
        }
      }
    }
  }
}

.section-location-promotions  {
  .promotions-block {
    h2 {
      font-family: $Handage_font;
      font-size: 50px;
      line-height: 54px;
      color: $text-color;
      letter-spacing: 1px;
    }

    article {
      p, span, a {
        font-family: $Work_sans_font;
      }

      h3 {
        height: 65px;
        color: $text-color;
      }

      .slide-content {
        height: calc(100% - 250px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
    }

    .info-button {
      font-family: $Work_sans_font;
      background-color: $red_c0;
      text-transform: uppercase;
      border-radius: 2px;
      border-color: $red_c0;

      &:hover {
        filter: none;
        background-color: $red_c0;
        border-color: $red_c0;
      } 
    }
  }

  .slick-track {
    display: flex;
  }

  .slick-slide {
    height: inherit;
  }

  .slick-dots {
    li {
      &.slick-active {
        button {
          background-color: $red_c0;
        }
      }

      button {
        &:before {
          background-color: $red_c0;
          border-color: $red_c0;
        }
      }
    }
  }
}


















