.section-location-description {
  .description-block {
    h2 {
      font-family: $Handage_font;
      font-size: 60px;
      line-height: 64px;
      letter-spacing: 1px;

      strong {
        font-family: $Handage_font;
        font-size: 60px;
        line-height: 64px;
        letter-spacing: 1px;
      }
    }
  }

  .col-half {
    font-size: 14px;
    font-family: $Work_sans_font;
  }

  .image-slider {
    .slick-dots {
      li {
        &.slick-active {
          button {
            background-color: $red_c0;

            &:before {
              background-color: $red_c0;
              border-color: $red_c0;
            }
          }
        }

        button {
          &:before {
            background-color: $white;
            border-color: $white;
          }
        }
      }
    }
  }
}