.section-location-details {
  margin-top: 25px;

  .wrapper {
    max-width: 1400px;

    @media (min-width: 1600px) {
      max-width: 1500px;
    }

    @media (min-width: 960px) {
      padding: 0 7%;
    }
  }

  .location-social-icon {
    padding-top: 15px;
    display: flex;
    align-items: center;

    .social-icon {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:last-child {
        margin-right: 0;
      }

      &.facebook {
        background: #3c5a99 url('#{$img_path}/facebook.svg') center center no-repeat;
      }
    }
    
  }

  .wrapper-title {
    h1 {
      font-family: $Handage_font;
      font-size: 60px;
      line-height: 64px;
      letter-spacing: 1px;
    }
  }

  .text-info {
    font-family: $Work_sans_font;
    color: $red_c0;

    a {
      font-family: $Work_sans_font;
      transition: all .2s linear;
      color: $red_c0;

      &:hover {
        color: $text-color;
      }
    }
  }

  address {
    font-size: 14px;
    font-family: $Work_sans_font;
  }

  .schedule {
    td,
    th {
      font-family: $Work_sans_font;

      span {
        font-family: $Work_sans_font;
      }
    }
  }

  .image-slider {
    .slick-dots {
      li {
        &.slick-active {
          button {
            background-color: $red_c0;

            &:before {
              background-color: $red_c0;
              border-color: $red_c0;
            }
          }
        }

        button {
          &:before {
            background-color: $white;
            border-color: $white;
          }
        }
      }
    }
  }

  .location-button,
  .call-button {
    background-image: none;
    font-family: $Work_sans_font;
    background-color: $red_c0;
    text-transform: uppercase;
    border-radius: 2px;
    border-color: $red_c0;
    padding: 5px 15px;

    &:hover {
      filter: none;
      background-color: $red_c0;
      border-color: $red_c0;
    } 
  }
}