.section-locations {

  .location-search {
    background-color: $green;

    @media (min-width: #{$mobile_up}) {
      display: flex;
      text-align-last: center;
      justify-content: center;
      padding: 30px 0;
    }

    label {
      font-family: $Handage_font;
      font-size: 40px;
      line-height: 44px;
      color: $text-color;
      letter-spacing: 1px;
    }
  }

  .search-alphabet {
    padding: 35px 0;

    li {
      span {
        font-family: $Handage_font;
        font-size: 30px;
        letter-spacing: 1px;
      }
    }
  }

  .result-one-letter {
    .title-letter {
      color: $text-color;
    }
  }

  .location-summary {
    h5 {
      a {
        font-size: 21px;
        color: $text-color;

        &:hover {
          color: $text-color;
        }
      }
    }

    address {
      font-size: 14px;
    }
  }
}