.section-location-services {
  .location-services {
    background-color: $green;

    h2 {
      font-family: $Handage_font;
      font-size: 50px;
      line-height: 54px;
      letter-spacing: 1px;
    }
  }

  .services-images {
    li {
      width: 25%;
      flex-basis: initial;
      flex-grow: initial;

      @media (max-width: #{$desktop}) {
        width: 33.333333%;
      }

      @media (max-width: 800px) {
        width: 50%;
      }

      @media (max-width: 600px) {
        width: 100%;
      }
    }

    .services-tooltip {
      font-family: $Work_sans_font;
      line-height: 18px;
      font-weight: 400;
    }
  }

  .services-images-info {
    li {
      button {
        font-family: $Work_sans_font;
        background-color: $red_c0;
        text-transform: uppercase;
        border-radius: 2px;
        border-color: $red_c0;
        color: $white;
      }
    }
  }
}