.section-map {
  margin-top: 0px;
  .map-search-box {
    .search-filters {
      &.closed-box {
        .open-filters-checkbox {
          p {
            background-size: auto 40%;
          }
        }
      }

      .open-filters {
        &.open-filters-checkbox {
          p {
            background-size: auto 40%;
          }
        }
      }
    }
  }

  .location-summary {
    h5 {
      a {
        color: $text-color;

        &:hover {
          color: $text-color;
        }
      }
    }
  }

  .search-button {
    font-family: $Work_sans_font;
    background-color: $red_c0 !important;
    text-transform: uppercase;
    border-radius: 2px;
    border-color: $red_c0;

    &:hover {
      filter: none;
      background-color: $red_c0;
      border-color: $red_c0;
    } 
  }

  .info-window-block {
    .location-summary {
      .location-button,
      .call-button {
        background-image: none;
        font-family: $Work_sans_font;
        background-color: $gray;
        text-transform: uppercase;
        border-radius: 2px;
        border-color: $gray;
        color: $white;
        padding: 10px 15px;

        &:hover {
          filter: none;
          background-color: $gray;
          border-color: $gray;
          color: $white;
        }
      }
    }
  }
}