.section-near-location {
  h2 {
    font-family: $Handage_font;
    font-size: 50px;
    line-height: 54px;
    color: $text-color;
    letter-spacing: 1px;

    @media (min-width: 768px) {
      font-size: 30px;
      line-height: 34px;
    }
  }

  .location-summary {
    h5 {
      text-transform: capitalize;
    }
    
    address {
      font-size: 14px;
    }
  }

  .slick-dots {
    li {
      &.slick-active {
        button {
          background-color: $red_c0;
        }
      }

      button {
        &:before {
          background-color: $red_c0;
          border-color: $red_c0;
        }
      }
    }
  }

  .location-button,
  .call-button {
    background-image: none;
    font-family: $Work_sans_font;
    background-color: $gray;
    text-transform: uppercase;
    border-radius: 2px;
    border-color: $gray;
    padding: 5px 15px;
    color: $white;

    &:hover {
      filter: none;
      background-color: $gray;
      border-color: $gray;
      color: $white;
    }
  }

  .search-button {
    font-family: $Work_sans_font;
    background-color: $red_c0;
    text-transform: uppercase;
    border-radius: 2px;
    border-color: $red_c0;

    &:hover {
      filter: none;
      background-color: $red_c0;
      border-color: $red_c0;
    } 
  }
}