{% apply spaceless %}
    <li class="location-summary">
        <h5>
            <a href="{{ path('app_web_leondebruxelles_show', {'_locale': app.request.locale, 'slug': '__slug__', 'externalId': '__externalId__'}) }}">__name__</a>
        </h5>

        <address>__address__</address>
    </li>
{% endapply %}