{% spaceless %}
  <div class="col-md-2 marker-item col-xs-12 col-sm-12 slider-item">
      <div class="clearfix marker-icon">
        <img src="{{ asset('/build/images/web/shop/leondebruxelles-fr/theme_map_icon.png') }}" alt="__name__">
      </div>
      <h4 class="marker-item-title">__name__</h4>
      <p class="marker-item-distance">__distance__ __distance_unit__</p>
      <a class="marker-item-more-info" href="{{ path('app_web_leondebruxelles_show', {'_locale': app.request.locale, 'slug': '__slug__', 'externalId': '__externalId__'}) }}">
          {{ 'app.web.home.map.image.results.show'|trans }}
      </a>
  </div>
{% endspaceless %}