{% spaceless %}
  <li class="location-summary">
    <div class='pin-icon show-open-window' data-id="__externalId__">__index__</div>
    <span class="location-distance show-open-window" data-id="__externalId__">__distance__ __distance_unit__</span>
    <div class="info-window-content">
        <a  data-gtm_event="impression" data-gtm_event_value="__externalId__" href="{{ path('app_web_leondebruxelles_show', {'slug': '__slug__', 'externalId': '__externalId__'}) }}" class="location-summary-title ga-cta" target="_blank">__name__</a>

      <div class="show-open-window" data-id="__externalId__">
        <address>__address__</address>

        <a href="tel:__phone__" class="tel ga-cta" data-gtm_event="call" data-gtm_event_value="__externalId__">{{ "app.web.home.map.phone"|trans({}, shop.code) }} <span class="list-phone">__phone_format__</span></a>
      </div>

      <div class="open-close-box">
        <div class="open-box __openClass__">
          <span class="open-sentence">__openLabel__, __openSentence__</span>
        </div>
        <div class="small-schedule">
          <table class="table-schedule"></table>
        </div>
      </div>

      <div class="btn-group tracking-item">
          <a data-gtm_event="impression" data-gtm_event_value="__externalId__" class="btn btn-secondary offer-tracking ga-cta" href="{{ path('app_web_leondebruxelles_show', {'_locale': app.request.locale, 'slug': '__slug__', 'externalId': '__externalId__'}) }}">{{ "app.web.home.map.fiche"|trans({}, shop.code) }}</a>
          <a class="open_pop leonbooking btn btn-primary offer-tracking __reservationClass__" href="__reservationUrl__" target="_blank" data-modal="command_modal">{{ "app.web.home.map.rezerver"|trans({}, shop.code) }}</a>
      </div>

      <div class="bottom-btn-container">
        <div class="tracking-item">
            <a data-gtm_event="impression" data-gtm_event_value="__externalId__" class="lication-more-info ga-cta" href="{{ path('app_web_leondebruxelles_show', {'slug': '__slug__', 'externalId': '__externalId__'}) }}" target="_self">{{ "app.web.home.map.more_info"|trans({}, shop.code) }}</a>
        </div>
        <div class="tracking-item">
            <a data-gtm_event="itinerary" data-gtm_event_value="__externalId__" class="lication-more-info intinerary ga-cta" href="https://www.google.com/maps?saddr=My+Location&daddr=__latitude__,__longitude__" target="_blank" data-itineraire="__latitude__,__longitude__">{{ "app.web.home.map.itineraire"|trans({}, shop.code) }}</a>
        </div>
      </div>



    </div>
  </li>
{% endspaceless %}