@import "../base/animations";
@import "../base/mixin";

%flex-vertical-align {
  justify-content: center;
  align-items: center;
  display: flex;
}

%flex-vertical-between-align {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

%flex-align-items-center {
  align-items: center;
  display: flex;
}

%flex {
  display: flex;
}

%flex-direction-row {
  flex-direction: row;
}

%flex-right-align {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

%flex-left-align {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}