.section-locations {
  .location-search {
    background-color: $gray_cc;

    label {
      color: $text-color;
    }

    input {
      background-color: $tr;
      border: 1px solid $text-color;
      border-radius: 0;
      padding: 11px 15px;
      font-family: $font_arial;
      font-size: 13px;
    }
  }

  .result-one-letter {
    .title-letter {
      color: $text-color;
    }

    ul {
      li {
        border-bottom: 1px solid $gray_cc;
        padding-bottom: 20px;
      }
    }
  }
}