.section-location-details {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;

  @media (max-width: #{$mobile_down}) {
    margin-top: 61px;
  }

  @media (max-width: #{$small_screen_down}) {
    max-width: 100%;
  }

  @media (min-width: #{$small_screen_up}) {
    max-width: 720px;
  }

  @media (min-width: #{$mobile_up}) {
    max-width: 920px;
  }

  @media (min-width: #{$tablet}) {
    max-width: 1000px;
  }

  @media (min-width: #{$desktop}) {
    max-width: 1015px;
  }

  &.custome-block {
    min-height: calc(100vh - 324px);

    .location-details-block {
      .row {
        @media (min-width: #{$mobile_up}) {
          display: flex;
        }
      }

      .col-md-5,
      .col-md-7 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 1.5%;
        padding-left: 1.5%;
      }

      .col-md-7 {
        @media (min-width: #{$mobile_up}) {
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 58.33333%;
          -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
          max-width: 58.33333%;
        }
      }

      .col-md-5 {
        @media (min-width: #{$mobile_up}) {
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 41.66667%;
          -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
          max-width: 41.66667%;
        }
      }

      .left-detail-image {
        margin-bottom: 15px;
        padding-top: 25px;

        img {
          width: 100%;
          display: block;
        }
      }

      .location-details-description {
        padding-top: 20px;

        @media (min-width: #{$mobile_up}) {
          margin-left: 54px;
        }

        h2 {
          margin-bottom: 18px;

          @media (max-width: #{$mobile_down}) {
            font-size: 20px;
            line-height: 26px;
          }
        }

        address {
          line-height: 18px;
        }

        .opening-hours-block {
          margin-bottom: 13px;
          .title-hours {
            display: block;
            font-family: $myriad_font;
            font-weight: 700;
            font-size: 13px;
            line-height: 16px;
            text-transform: none;
            letter-spacing: .2px;
            margin-bottom: 10px;
            color: $text-color;
          }

          .subtitle-hours {
            font-family: $myriad_font;
            display: block;
            margin-bottom: 2px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        .icon-link-block {
          margin-bottom: 18px;

          .icon-link {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            &:last-child {
              margin-bottom: 0;
            }

            .icon {
              display: inline-block;
              margin-right: 7px;

              &.envelope-square {
                font-size: 15px;

                &:before {
                  width: 12px;
                  display: block;
                }
              }
            }

            a {
              font-weight: 700;
              font-size: 15px;
              letter-spacing: 1px;
              display: block;
              color: $text-color;
            }
          }
        }

        .location-button {
          background-color: $white_fd;
          background-image: none;
          border: 2px solid $text-color;
          color: $text-color;
          display: block;
          letter-spacing: 1.7px;
          font-weight: 700;
          text-transform: uppercase;
          width: 100%;
          box-shadow: none;
          outline: none;

          &:hover {
            background-color: $text-color;
            color: $white_fd;
          }
        }
      }
    }
  }

  .row {
    margin: 0 -1.5%;

    &.m-b-30 {
      margin-bottom: 30px;

      @media (max-width: #{$mobile_down}) {
        margin-bottom: 20px;
      }
    }
  }

  .col {
    @media (max-width: #{$mobile_down}) {
      margin-bottom: 20px;
    }
  }

  .col-image {
    height: 315px;
  }

  .location-details-block {
    .row {
      .col {
        align-self: stretch;

        .col-box {
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        &:last-child {
          .col-box {
            margin-bottom: 0;
            height: 100%;
          }
        }
      }
    }
  }

  .call-button {
    margin-left: 0;
    background-color: $white_fd;
    background-image: none;
    border: 2px solid $text-color;
    border-radius: 0;
    width: auto;
    cursor: pointer;
    font-size: 15px;
    line-height: 15px;
    font-weight: 700;
    padding: 11px 24px;
    letter-spacing: .5px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    color: $text-color;
    box-shadow: none;

    &:hover {
      background-color: $text-color;
      color: $white_fd;
    }
  }

  .location-button {
    margin-left: 0;
    background-color: $text-color;
    background-image: none;
    border: 2px solid $tr;
    border-radius: 0;
    width: auto;
    cursor: pointer;
    font-size: 15px;
    line-height: 15px;
    padding: 11px 24px;
    letter-spacing: .5px;
    font-weight: 700;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    color: $white_fd;

    &:hover {
      background-color: $text-color;
      color: $white_fd;
    }
  }
}

.availability-block {
  padding-top: 50px;

   @media (max-width: #{$mobile_down}) {
    padding-top: 20px;
   }

  .abailable-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    display: block;
    color: $text-color;
    margin-bottom: 30px;
    text-align: center;

    @media (max-width: #{$mobile_down}) {
      font-size: 20px;
      line-height: 26px;
      text-align: left;
      margin-bottom: 18px;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      display: flex;
      align-items: center;
      margin-bottom: 9px;
      width: 25%;

      @media (max-width: #{$mobile_down}) {
        width: 33.333333%;
      }

      @media (max-width: #{$small_screen_down}) {
        width: 100%;
      }

      &:last-child {
        margin-bottom: 0;
      }

      img {
        width: 20px;
        height: 20px;
        margin-right: 7px;
        display: block;
      }

      span {
        display: block;
        
      }
    }
  }
}