.section-map {
  margin-top: 63px;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: #{$mobile_down}) {
    margin-top: 61px;
  }

  @media (max-width: #{$small_screen_down}) {
    max-width: 100%;
  }

  @media (min-width: #{$small_screen_up}) {
    max-width: 720px;
  }

  @media (min-width: #{$mobile_up}) {
    max-width: 920px;
  }

  @media (min-width: #{$tablet}) {
    max-width: 1000px;
  }

  @media (min-width: #{$desktop}) {
    max-width: 1015px;
  }

  .section-map-content {
    display: flex;
    padding-top: 16px;
    margin-bottom: 60px;

    @media (max-width: #{$mobile_down}) {
      flex-direction: column;
      margin-bottom: 20px;
    }
  }

  #map_search_filters {
    padding-top: 20px;

    .filter-rezults {
      font-size: 18px;
      line-height: 20px;
      color: $text-color;
      display: block;
      letter-spacing: 1px;

      span {
        font-size: 18px;
        line-height: 20px;
        color: $text-color;
        display: inline-block;
        letter-spacing: 1px;
      }
    }
  }

  .map-search-box {
    position: relative;
    top: 0;
    right: 0;
    width: 341px;
    box-shadow: none;
    border-radius: 0;
    background: $tr;
    order: 2;

     @media (min-width: #{$mobile_up}) {
      height: 460px !important;
     }

    @media (max-width: #{$mobile_down}) {
      width: 100%;
    }

    .search-results {
      background-color: $tr;
      height: 460px;
      border: none;
    }

    .search-results-list {
      padding: 0 24px;

      @media (max-width: #{$mobile_down}) {
        height: 100%;
      }

      .location-summary {
        border-bottom: none;
        border-top: 1px solid $gray_cc;
      }

      .location-summary {
        padding: 13px 31px 16px 40px;
      }
    }
  }

  .map-container {
    flex: 1;
    height: 460px;
  }

  .hackett-introduction-title {
    text-align: center;
    padding-top: 35px;
    margin-bottom: 33px;

    @media (max-width: #{$mobile_down}) {
      padding-top: 26px;
    }

    h2 {
      margin: 0 0 21px 0;
      font-size: 30px;
      letter-spacing: 1px;
      word-spacing: 1px;
      font-family: $apercu_font;
      font-weight: 700;
      color: $text-color;
      text-transform: inherit;

      @media (max-width: #{$mobile_down}) {
        font-size: 18px;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 4px;
      }
    }

    .hackett-introduction-content {
      p {
        font-size: 15px;
        line-height: 17px;
        display: block;
        font-family: $apercu_font;
        font-weight: 400;
        margin-bottom: 18px;

        &:last-child {
          margin-bottom: 0;
        }

        @media (max-width: #{$mobile_down}) {
          line-height: 16px;
          text-align: left;
          font-size: 14px;
        }
      }
    }
  }

  .search-form {
    display: block;
    padding: 0;
    border-bottom: 1px solid $gray_cc;
    padding-bottom: 20px;

    .title-block {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      img {
        display: block;
        margin-right: 7px;
      }
    }

    .search-button {
      margin-left: 0;
      background-color: $tr;
      border-top: 1px solid $gray_cc;
      border-right: 1px solid $gray_cc;
      border-bottom: 1px solid $gray_cc;
      border-left: 0;
      border-radius: 0;
      width: auto;
      cursor: pointer;
      font-size: 15px;
      line-height: 15px;
      padding: 11px 10px;
      letter-spacing: .5px;
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
      color: $text-color;

      &:hover {
        background-color: $text-color;
        color: $white_fd;
      }
    }

    p {
      font-size: 15px;
      font-family: $font_arial;
      font-weight: 400;
    }

    a {
      font-family: $font_arial;
      border-bottom: 1px solid $link-color;
      display: inline-block;
      line-height: 16px;
    }

    .position-locate {
      display: none;
    }

    .input-block {
      display: flex;
      align-items: center;

      @media (max-width: #{$tablet}) {
        flex-direction: column;
        align-items: flex-start;
      }

      .separator {
        font-family: $font_arial;
        font-size: 13px;
        display: block;
        padding: 0 12px;

        @media (max-width: #{$tablet}) {
          display: none;
        }
      }

      .search-position {
        flex: 1;
      }
    }

    .select-row {
      max-width: 418px;
      width: 100%;

      @media (max-width: #{$tablet}) {
        max-width: 100%;
        margin-bottom: 10px;
      }
    }

    .input-row {
      display: flex;
      flex: 1;

      @media (max-width: #{$tablet}) {
        max-width: 100%;
        width: 100%;
      }
    }

     select {
      background: $tr url('#{$img_path}/icons/gray-arrow.png') 99% center no-repeat;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: '';
     }

    select,
    input[type="text"] {
      outline: none;
      width: 100%;
      border: 1px solid $gray_cc;
      border-radius: 0;
      padding: 11px 15px;
      color: $text-color;
      box-shadow: none;
      font-family: $font_arial;
      font-size: 13px;
    }

    input[type="text"] {
      background-color: $tr;

      &::placeholder {
        color: $gray_cc;
        font-family: $font_arial;
        font-size: 13px;
      }
    }
  }
}

.filter-form {
  margin-bottom: 36px;

  @media (min-width: #{$tablet_up}) {
    display: flex;
    align-items: center;
  }

  @media (max-width: #{$tablet}) {
    margin-bottom: 18px;
  }

  h3 {
    font-weight: 700;
    font-size: 13px;
    display: block;
    color: $text-color;
    margin-right: 19px;
  }

  .items {
    @media (min-width: #{$tablet_up}) {
      display: flex;
      align-items: center;
    }

    @media (max-width: #{$tablet}) {
      padding-top: 13px;
      display: inline-block;
    }
  }

  .input-item {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 32px;

    @media (max-width: #{$tablet}) {
      margin-right: 0;
      margin-bottom: 10px;
    }

    &:last-child {
      margin-right: 0;

      @media (max-width: #{$tablet}) {
        margin-bottom: 0;
      }
    }

    p {
      font-size: 13px;
      display: block;
      color: $text-color;
      margin: 0 0 0 9px;
      padding: 1px 0 0;
    }

    img {
      display: block;
      margin-left: 10px;
    }
  }

  input[type=checkbox] {
    width: 20px;
    height: 20px;
    border: 1px solid $text-color;
    outline: none;
    border-radius: 0;
    -webkit-appearance: none;
    appearance: none;
  }

  input[type=checkbox]:checked {
    background-color: $text-color;
  }

  input[type=checkbox]:checked + .check-img {
    display: block;
  }

  .check-img {
    background: url('#{$img_path}/icons/check-icon.png');
    width: 13px;
    height: 9px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 4px;
    display: none;
  }
}

/* location-summary */
.location-summary {
  position: relative;

  .location-marker {
    display: block;
    position: absolute;
    top: 12px;
    left: 9px;
    font-size: 15px;
    color: $text-color;
    font-weight: 700;
  }

  h5 {
    font-family: $apercu_font;
    font-weight: 700;
    line-height: 16px;
    font-size: 15px;
    color: $text-color;
    text-transform: inherit;
    margin-bottom: 4px;

    a {
      font-family: $apercu_font;
      font-weight: 700;
      line-height: 16px;
      font-size: 15px !important;
      color: $text-color;
      text-transform: inherit;

      &:hover {
        color: $text-color !important;
      }
    }
  }

  address {
    font-size: 13px;
    line-height: 18px;
    color: $text-color;
    margin-bottom: 2px;
  }

  .phone-number {
    display: block;
    line-height: 22px;

    .icon {
      margin-right: 6px;
    }
  }

  .location-phone {
    a {
      font-size: 13px;
      color: $text-color;

      &:hover {
        color: $text-color !important;
      }
    }
  }

  .open-box {
    display: flex;
  }

  .open-label,
  .open-sentence {
    background-color: $tr !important;
    color: $text-color !important;
    padding: 0 !important;
    font-size: 13px !important;
    font-weight: 700 !important;
  }

  .open-close-box {
    .open-sentence {
      &:after {
        display: none !important;
      }
    }
  }

  .small-schedule {
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;

    .table-schedule {
      td,
      th {
       font-size: 13px;
        line-height: 18px;
        margin-bottom: 2px;
        line-height: 15px;
      }
    }
  }
}

.info-window-block {
  width: 260px;
  height: 273px;

  .location-summary {
    text-align: left;
    padding: 0;

    .phone-number {
      margin-bottom: 7px;
    }
  }

  .m-b-15 {
    margin-bottom: 0 !important;
  }

  .services-button,
  .search-button {
    margin-left: 0;
    background-color: $white_fd;
    background-image: none;
    border: 2px solid $text-color;
    border-radius: 0;
    width: auto;
    cursor: pointer;
    font-size: 15px;
    line-height: 15px;
    font-weight: 700;
    padding: 12px 15px 11px 15px;
    letter-spacing: .5px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    color: $text-color;
    box-shadow: none;
    text-transform: uppercase;
    width: 100%;
    margin: 0 0 10px 0;
    text-align: center;

    &:hover {
      background-color: $text-color;
      color: $white_fd;
    }
  }

  .services-button {
    background-color: $text-color;
    color: $white_fd;

    &:hover {
      background-color: $white_fd;
      color: $text-color;
    }
  }
}













