{% extends 'web/base/home.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/web/shop/'~shop.code~'/home') }}
{% endblock %}

{% block header %}
    {% include 'web/shop/'~shop.code~'/default_remote/header.html.twig' %}
{% endblock %}

{% block content %}
    {# set filters content for map #}
    {% set twigData = {'filterDynamic': true} %}

    {% for template in templates %}
        {% include 'web/block/' ~ template.attribute.block ~ '/' ~ template.attributeValue.value ~ '.html.twig' ignore missing %}
    {% endfor %}
{% endblock %}

{% block footer %}
    {% include 'web/shop/'~shop.code~'/default_remote/footer.html.twig' %}
{% endblock %}

{% block javascripts_var %}
    {{ parent() }}

    {#  Map Settings for this shop (default are defind in js map folder files, DEFAULT_SETTINGS getter) #}
    <script type="text/javascript">
        var globalSettings = {
            map: {
                center: {lat: 50.62313744304004, lng: 5.365809522627387},
                zoom: 10,
            },
            geoLocationCountry: ['BE'],
            query: {
                size: 50,
                radius: 15000,
            },
        };
    </script>
{% endblock %}
