{% extends 'web/base/show.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/web/shop/'~shop.code~'/show') }}
{% endblock %}

{% block header %}
    {% include 'web/shop/'~shop.code~'/default_remote/header.html.twig' %}
{% endblock %}


{% block footer %}
    {% include 'web/shop/'~shop.code~'/default_remote/footer.html.twig' %}
{% endblock %}
