<!-- Block event team -->
<section id="block_event_team" class="section-event-team" style="display: none">
    {% if location.services and location.services['post.event.team'] is defined and location.services['post.event.team']|length %}
        <div class="events-block">
            <div class="wrapper">
                <h2>{{ 'app.web.show.event_team.title'|trans({}, 'tomandco') }}</h2>

                <div class="events-slide">
                    {% for serviceEventTeam in location.services['post.event.team'] %}
                        <article itemscope itemtype="https://schema.org/EmployeeRole">
                            <div class="slide-image">
                                <img src="{{ path('app_web_image_cloudinary', {
                                    'apiKey': shop.apiKey,
                                    'id': serviceEventTeam.language ~ '_' ~ serviceEventTeam.externalId,
                                    'imageSize': 'w_440',
                                    'defaultImage': asset('build/images/web/one-pixel.png')
                                }) }}" alt="{{ serviceEventTeam.contentFacet.title }}"/>
                            </div>

                            <div class="slide-content">
                                <h3 itemprop="name">{{ serviceEventTeam.contentFacet.title }}</h3>
                            </div>

                            <div class="block-hover">
                                <h3>{{ serviceEventTeam.contentFacet.title }}</h3>
                                <h6>
                                    {% if serviceEventTeam.validityFacet.validFrom and serviceEventTeam.validityFacet.validUntil %}
                                        <span itemprop="startDate">{{ serviceEventTeam.validityFacet.validFrom|split(' ')[0] }}</span>
                                        -
                                        <span itemprop="endDate">{{ serviceEventTeam.validityFacet.validUntil|split(' ')[0] }}</span>
                                    {% endif %}
                                </h6>
                                <p itemprop="description">{{ serviceEventTeam.contentFacet.longContent }}</p>

                                <div class="button-bottom">
                                    <a href="{{ serviceEventTeam.callToActionFacet.ctaUrl ? serviceEventTeam.callToActionFacet.ctaUrl : '#' }}" class="info-button">
                                        {{ 'app.web.show.event_team.info_button'|trans({}, 'tomandco') }}
                                    </a>
                                </div>
                            </div>

                            <meta itemprop="identifier" content="{{ serviceEventTeam.externalId }}"/>
                            <meta itemprop="image" content="{{ url('app_web_image_cloudinary', {
                                'apiKey': shop.apiKey,
                                'id': serviceEventTeam.language ~ '_' ~ serviceEventTeam.externalId,
                                'imageSize': 'w_440',
                                'defaultImage': asset('build/images/web/one-pixel.png')
                            }) }}"/>
                            <meta itemprop="roleName" content="{{ serviceEventTeam.callToActionFacet.ctaUrl }}"/>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
</section>