{% extends 'web/block/location_description/image_left.html.twig' %}

{% block location_image_left %}
    <div class="image-slider-block">
        <div class="image-slider">
            {% for image in location.images %}

                <img src="{{ path('app_web_image_cloudinary_path',
                    {'apiKey': image.cloudName|default("mobilosoft-testing"),
                        'apiPath': image.publicId,
                        'imageSize': 'w_629'}) }}" alt="{{ location.brand }} {{ location.address.locality }}">
            {% endfor %}
            <img src="{{ asset('build/images/web/shop/tomandco/default-logo-wide.gif') }}" alt="logo">
        </div>

        <div class="default-shop-image"><img src="{{ asset('build/images/web/shop/tomandco/default-image.png') }}" alt="default"></div>

        <div class="more-shop-images"><img src="{{ asset('build/images/web/shop/tomandco/default-logo-wide.gif') }}" alt="logo"></div>

        <input type="hidden" id="default_img_width" value="629">

    </div>
{% endblock %}