<!-- Block location services + image and info -->

<section id="block_location_services" class="section-location-services">
    {% if location.services and location.services|length %}

        {% set _store_service, _store_animal, _store_living = [], [], [] %}
        {% if location.services['tom&co_services'] is defined %}
            {% set _store_service = location.services['tom&co_services'] %}
        {% endif %}
        {% if location.services['tom&co_products'] is defined %}
            {% set _store_living = location.services['tom&co_products'] %}
        {% endif %}
        {% if location.services['tom&co_animals'] is defined %}
            {% set _store_animal = location.services['tom&co_animals'] %}
        {% endif %}


        <div class="location-services">
            <div class="wrapper">
                {% set _storeServices = {'store_service': _store_service, 'store_animal': _store_living, 'store_living': _store_animal} %}
                {% for serviceType, servicesData in _storeServices if servicesData|length %}
                    <div class="service-type-block">
                        <h2>{{ ('app.web.show.location_services.' ~ serviceType)|trans({}, 'tomandco') }}</h2>

                        <ul class="services-images-info">
                            {% for propertyService in servicesData %}
                                {% set image = propertyService.assets[0]  %}
                                <li itemscope itemtype="http://schema.org/Service">
                                    <div>
                                        <img src="{{ path('app_web_image_cloudinary_path', {'apiKey': image.cloudName, 'apiPath': image.publicId}) }}" alt="{{ propertyService.contentFacet.title }}"/>
                                    </div>

                                    <span itemprop="serviceType">{{ propertyService.contentFacet.title }}</span>

                                    <meta itemprop="logo" content="{{ url('app_web_image_cloudinary_path', {'apiKey': image.cloudName, 'apiPath': image.publicId}) }}"/>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</section>