$font-path: '../../../../../fonts/shop/farm-be';

@font-face {
  font-family: 'Oswald';
  src: url($font-path + '/Oswald-Regular.eot');
  src: url($font-path + '/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/shop/farm-be/Oswald-Regular.woff2') format('woff2'),
      url($font-path + '/Oswald-Regular.woff') format('woff'),
      url($font-path + '/Oswald-Regular.ttf') format('truetype'),
      url($font-path + '/Oswald-Regular.svg#Oswald-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Handage';
  src: url($font-path + '/HandageAOE.eot');
  src: url($font-path + '/HandageAOE.eot?#iefix') format('embedded-opentype'),
      url('/fonts/shop/farm-be/HandageAOE.woff2') format('woff2'),
      url($font-path + '/HandageAOE.woff') format('woff'),
      url($font-path + '/HandageAOE.ttf') format('truetype'),
      url($font-path + '/HandageAOE.svg#HandageAOE') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url($font-path + '/WorkSans-Regular.eot');
  src: url($font-path + '/WorkSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/shop/farm-be/WorkSans-Regular.woff2') format('woff2'),
      url($font-path + '/WorkSans-Regular.woff') format('woff'),
      url($font-path + '/WorkSans-Regular.ttf') format('truetype'),
      url($font-path + '/WorkSans-Regular.svg#WorkSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url($font-path + '/WorkSans-Light.eot');
  src: url($font-path + '/WorkSans-Light.eot?#iefix') format('embedded-opentype'),
      url('/fonts/shop/farm-be/WorkSans-Light.woff2') format('woff2'),
      url($font-path + '/WorkSans-Light.woff') format('woff'),
      url($font-path + '/WorkSans-Light.ttf') format('truetype'),
      url($font-path + '/WorkSans-Light.svg#WorkSans-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url($font-path + '/WorkSans-Bold.eot');
  src: url($font-path + '/WorkSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/shop/farm-be/WorkSans-Bold.woff2') format('woff2'),
      url($font-path + '/WorkSans-Bold.woff') format('woff'),
      url($font-path + '/WorkSans-Bold.ttf') format('truetype'),
      url($font-path + '/WorkSans-Bold.svg#WorkSans-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Yanone';
  src: url($font-path + '/YanoneKaffeesatz-Regular.eot');
  src: url($font-path + '/YanoneKaffeesatz-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/shop/farm-be/YanoneKaffeesatz-Regular.woff2') format('woff2'),
      url($font-path + '/YanoneKaffeesatz-Regular.woff') format('woff'),
      url($font-path + '/YanoneKaffeesatz-Regular.ttf') format('truetype'),
      url($font-path + '/YanoneKaffeesatz-Regular.svg#YanoneKaffeesatz-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'eicons';
  src: url($font-path + '/eicons.eot');
  src: url($font-path + '/eicons.eot?#iefix') format('embedded-opentype'),
      url('/fonts/shop/farm-be/eicons.woff2') format('woff2'),
      url($font-path + '/eicons.woff') format('woff'),
      url($font-path + '/eicons.ttf') format('truetype'),
      url($font-path + '/eicons.svg#eicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Font Awesome';
  src: url($font-path + '/FontAwesome5Brands-Regular.eot');
  src: url($font-path + '/FontAwesome5Brands-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/shop/farm-be/FontAwesome5Brands-Regular.woff2') format('woff2'),
      url($font-path + '/FontAwesome5Brands-Regular.woff') format('woff'),
      url($font-path + '/FontAwesome5Brands-Regular.ttf') format('truetype'),
      url($font-path + '/FontAwesome5Brands-Regular.svg#FontAwesome5Brands-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



