body {
  font-family: $Oswald_font;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

* {
  font-family: $Oswald_font;
  font-weight: 400;
}

::selection {
  background: $red_c0;
  color: $white;
}
::-moz-selection {
  background: $red_c0;
  color: $white;
}

[class*=" eicon-"],
[class^="eicon"] {
  display: inline-block;
  font-family: $icons_font;
  font-size: inherit;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.eicon-menu-bar {
  &:before {
    content: '\e816';
  }
}



