// Color
$white: #ffffff;
$black: #000000;
$tr: transparent;

$black_26: #262626;
$black_001: #001c38;

$text-color: #3a3a3a;

$red_c0: #c04e54;

$green: #5bbab7;

$gray: #aaaaaa;
$gray_4c: #4c4c4c;

// Fonts
$Oswald_font: 'Oswald', sans-serif;
$Handage_font: 'Handage', sans-serif;
$Work_sans_font: 'Work Sans', sans-serif;
$icons_font: 'eicons', sans-serif;
$yanone_font: 'Yanone', sans-serif;
$brand_font:'Font Awesome', sans-serif;

// Image path
$img_path: '../../../../../images/web/shop/farm-be/';

// Media
$desktop: 1024px;
$desktop_up: 1025px;
$tablet: 992px;
$tablet_up: 993px;
$mobile_up: 768px;
$mobile_down: 767px;
$small_screen_up: 576px;
$small_screen_down: 575px;

/*@media (max-width: #{$mobile_down})*/