.btn {
  font-weight: 700;
  border-radius: 25px;
  border: none;
  text-align: center;
  white-space: nowrap;
  font-size: 14px;
  padding: 7.4px 16px;
  border-style: solid;
  border-width: 2px;
  text-decoration: none;
  display: inline-block;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  &.btn-secondary {
    color: $white;
    background-color: $green;
    border-color: $green;
  }

  &.btn-primary-outline {
    background-color: transparent;
    border-color: $black_23;
    color: $black_23;

    &:hover {
      background-color: $black_23;
      border-color: $black_23;
      color: $white;
      text-decoration: none;
    }
  }
}

.btn-cirlce {
  width: 40px;
  height: 40px;
  padding-left: 0;
  padding-right: 0;
  border-radius: 50%;
}