$font-path: '../../../../../fonts/shop/multipharma';

@font-face {
  font-family: 'Montserrat';
  src: url($font-path + '/Montserrat-Regular.eot');
  src: url($font-path + '/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
      url($font-path + '/Montserrat-Regular.woff2') format('woff2'),
      url($font-path + '/Montserrat-Regular.woff') format('woff'),
      url($font-path + '/Montserrat-Regular.ttf') format('truetype'),
      url($font-path + '/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url($font-path + '/Montserrat-Medium.eot');
  src: url($font-path + '/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
      url($font-path + '/Montserrat-Medium.woff2') format('woff2'),
      url($font-path + '/Montserrat-Medium.woff') format('woff'),
      url($font-path + '/Montserrat-Medium.ttf') format('truetype'),
      url($font-path + '/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url($font-path + '/Montserrat-Bold.eot');
  src: url($font-path + '/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
      url($font-path + '/Montserrat-Bold.woff2') format('woff2'),
      url($font-path + '/Montserrat-Bold.woff') format('woff'),
      url($font-path + '/Montserrat-Bold.ttf') format('truetype'),
      url($font-path + '/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'font-awesome';
  src: url($font-path + '/fa-brands-400.eot');
  src: url($font-path + '/fa-brands-400.eot?#iefix') format('embedded-opentype'),
      url($font-path + '/fa-brands-400.woff2') format('woff2'),
      url($font-path + '/fa-brands-400.woff') format('woff'),
      url($font-path + '/fa-brands-400.ttf') format('truetype'),
      url($font-path + '/fa-brands-400.svg#fontawesome') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'font-awesome';
  src: url($font-path + '/fa-regular-400.eot');
  src: url($font-path + '/fa-regular-400.eot?#iefix') format('embedded-opentype'),
      url($font-path + '/fa-regular-400.woff2') format('woff2'),
      url($font-path + '/fa-regular-400.woff') format('woff'),
      url($font-path + '/fa-regular-400.ttf') format('truetype'),
      url($font-path + '/fa-regular-400.svg#fontawesome') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'font-awesome';
  src: url($font-path + '/fa-solid-900.eot');
  src: url($font-path + '/fa-solid-900.eot?#iefix') format('embedded-opentype'),
      url($font-path + '/fa-solid-900.woff2') format('woff2'),
      url($font-path + '/fa-solid-900.woff') format('woff'),
      url($font-path + '/fa-solid-900.ttf') format('truetype'),
      url($font-path + '/fa-solid-900.svg#fontawesome') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}






