.fa, 
.fas {
  font-family: $font_awesome;
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.fa-search:before {
  content: "\f002";
}

.fa-truck:before {
  content: "\f0d1";
}

.fa-map-marker-alt:before {
  content: "\f3c5";
}

.fa-user:before {
  content: "\f007";
}

.fa-heart:before {
  content: "\f004";
}

.fa-shopping-bag:before {
  content: "\f290";
}

.fa-bars:before {
  content: "\f0c9";
}

.fa-times:before {
  content: "\f00d";
}

.fa-chevron-right:before {
  content: "\f054";
}

.fa-chevron-left:before {
  content: "\f053";
}

.fa-phone:before {
  content: "\f095";
}

.fa-lock:before {
  content: "\f023";
}

.fa-facebook-f:before {
  content: "\f39e";
}

.fa-instagram:before {
  content: "\f16d";
}

.fa-linkedin:before {
  content: "\f08c";
}

.fa-twitter:before {
  content: "\f099";
}

.fa-youtube:before {
  content: "\f167";
}

.far,
.fab {
  font-family: $font_awesome;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}