body {
  font-family: $Montserrat_font;
  font-size: 14px;
}

* {
  font-family: $Montserrat_font;
  font-size: inherit;
  color: inherit;
}

::-moz-selection { /* Code for Firefox */
  color: $white;
  background: $green_94;
}

::selection {
  color: $white;
  background: $green_94;
}

/*locations summary*/
.location-summary {
  h5 {
    font-size: 18px !important;
    line-height: 22.5px !important;
    color: $black_23 !important;
    text-transform: initial;
    margin-bottom: 12px;

    a {
      font-size: 18px !important;
      line-height: 22.5px !important;
      color: $black_23;
      text-transform: initial;

      &:hover {
        color: $black_23 !important;
        text-decoration: underline;
      }
    }
  }

  address {
    font-size: 14px;
    line-height: 21px;
    color: $black_23;
    font-weight: 500;
  }

  .location-phone {
    font-size: 14px;
    line-height: 21px;
    color: $black_23;
    font-weight: 500;

    a {
      &:hover {
        color: $black_23 !important;
      }
    }
  }
}

.wrapper,
.container {
  padding-left: 10px !important;
  padding-right: 10px !important;
  margin: 0 auto;
  width: 100% !important;

  @media (max-width: #{$tablet}) {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  @media (min-width: #{$small_screen_up}) {
    max-width: 540px !important;
  }

  @media (min-width: #{$mobile_down}) {
    max-width: 720px !important;
  }

  @media (min-width: #{$tablet}) {
    max-width: 960px !important;
  }

  @media (min-width: #{$desktop}) {
    max-width: 1140px !important;
  }
}

.text-sm-center {
  @media (min-width: #{$small_screen_up}) {
    text-align: center !important;
  }
}

.detail-page {
  h1 {
    font-size: 36px;

    @media (max-width: #{$mobile_down}) {
      font-size: 24px;
    }
  }

  h2 {
    font-size: 36px;
    line-height: 45px;
    color: $black_23;
    text-transform: initial;

    @media (max-width: #{$mobile_down}) {
      font-size: 24px;
      line-height: 30px;
    }
  }
}

.pb-2, 
.py-2 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.pb-5, 
.py-5 {
  padding-bottom: 48px !important;
}

.fa-2x {
  font-size: 28px !important;
}

.js-close, 
.first-lvl li, 
.second-lvl li, 
.js-menu-button, 
.js-back {
  cursor: pointer;
}

.pt-2, 
.py-2 {
  padding-top: 8px !important;
}

.mb-0, 
.my-0 {
  margin-bottom: 0 !important;
}

.ml-4, 
.mx-4 {
  margin-left: 24px;
}

.mr-4, 
.mx-4 {
  margin-right: 24px;
}

.mr-2, 
.mx-2 {
  margin-right: 8px;
}

.pl-4, 
.px-4 {
  padding-left: 24px;
}

.pr-4, 
.px-4 {
  padding-right: 24px;
}

.mr-3, 
.mx-3 {
  margin-right: 16px !important;
}

.position-relative {
  position: relative;
}

.mb-3, 
.my-3 {
  margin-bottom: 16px !important;
}

.ml-2, 
.mx-2 {
  margin-left: 8px !important;
}

.mt-2, 
.my-2 {
  margin-top: 8px !important;
}

.mr-2, 
.mx-2 {
  margin-right: 8px;
}

.pb-3, 
.py-3 {
  padding-bottom: 16px !important;
}

.pt-3, 
.py-3 {
  padding-top: 16px !important;
}

.pr-2, 
.px-2 {
  padding-right: 8px !important;
}

.pl-2, 
.px-2 {
  padding-left: 8px !important;
}

.m-2 {
  margin: 8px !important;
}

.pl-3, 
.px-3 {
  padding-left: 16px !important;
}

.pr-3, 
.px-3 {
  padding-right: 16px !important;
}

.pt-4, 
.py-4 {
  padding-top: 24px !important;
}

.text-center {
  text-align: center !important;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.no-scroll {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.font-weight-bold {
  font-weight: 700!important;

  a {
    font-weight: 700!important;
  }
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.col-sm-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-sm-4 {
  @media (min-width: #{$small_screen_up}) {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

h2 {
  strong {
    color: $black_23;
  }
}

h5,
.h5 {
  font-size: 18px;
  line-height: 22px;
  text-transform: initial;
  color: $black_23;

  @media (max-width: #{$mobile_down}) {
    font-size: 16px;
    line-height: 20px;
  }

  strong {
    color: $black_23;
  }

  strong,
  i, 
  span {
    font-size: 18px;
    line-height: 22px;

    @media (max-width: #{$mobile_down}) {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

b,
strong {
  font-weight: 700;
}

a {
  &:hover {
    color: $black_1e;
    text-decoration: underline;
  }
}

.w-100 {
  width: 100% !important;
}

.bg-grey1 {
  background-color: $gray_f5;
}

.bg-yellow {
  background-color: $yellow;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.justify-content-end {
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}

.flex-row {
  -ms-flex-direction: row !important;
  flex-direction: row !important;
}

.flex-grow-1 {
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
}

.justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.bg-green {
  background-color: $green;
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(35,35,35,.15)!important;
}

nav .first-lvl, 
nav .second-lvl, 
nav .third-lvl {
  transition: left .3s ease-in-out;

  @media (max-width: #{$tablet}) {
    position: fixed;
    left: -100vw;
    top: 0;
    padding: 0;
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
  }
}

nav .third-lvl>div {
  @media (max-width: #{$tablet}) {
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
  }
}

nav .third-lvl>div li {
  @media (max-width: #{$tablet}) {
    width: 100%;
  }
}

nav {
  @media (max-width: #{$tablet}) {
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
  }

  .open {
    @media (max-width: #{$tablet}) {
      left: 0;
    }
  }

  a {
    @media (max-width: #{$tablet}) {
      display: flex !important;
    }
  }
}

nav .second-lvl, 
nav .third-lvl {
  a {
    &:hover {
      span {
        @media (max-width: #{$tablet}) {
          text-decoration: underline;
        }
      }
    }
  }
}

.position-absolute {
  position: absolute !important; 
}

.icon-label {
  .globe-quantity {
    width: 1rem;
    top: -4px;
    right: calc(50% - 15px);

    .counter {
      font-size: 10px;
      line-height: 16.8px;
      display: block;
    }
  }
}

.text-decoration-none {
  text-decoration: none !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.text-white {
  color: $white !important;
}

.font-size-10 {
  font-size: 10px !important;
}

.font-size-12 {
  font-size: 12px !important;

  a {
    font-size: 12px !important;
    line-height: 18px !important;
  }
}

.m-0 {
  margin: 0!important;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}

.p-3 {
  padding: 16px !important;
}

.h-100 {
  height: 100% !important;
}

.ml-auto, 
.mx-auto {
  margin-left: auto !important;
}

.text-right {
  text-align: right !important;
}

.d-lg-none {
  @media (min-width: #{$tablet}) {
    display: none !important;
  }
}

.d-sm-block {
  @media (min-width: #{$small_screen_up}) {
    display: block !important;
  }
}

.flex-sm-grow-1 {
  @media (min-width: #{$small_screen_up}) {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
  }
}

.flex-lg-row {
  @media (min-width: #{$tablet}) {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
}

.d-lg-block {
  @media (min-width: #{$tablet}) {
    display: block !important;
  }
}

.d-inline-flex {
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

.d-md-block {
  @media (min-width: #{$mobile_up}) {
    display: block !important;
  }
}

.pb-md-1, 
.py-md-1 {
  @media (min-width: #{$mobile_up}) {
    padding-bottom: 4px !important
  }
}

.pt-md-4, 
.py-md-4 {
  @media (min-width: #{$mobile_up}) {
    padding-top: 24px !important
  }
}

.text-green {
  color: $green;
}

.text-sm-left {
  @media (min-width: #{$small_screen_up}) {
    text-align: left !important;
  }
}

.w-sm-auto {
  @media (min-width: #{$small_screen_up}) {
    width: auto !important;
  }
}
















