// Color
$white: #ffffff;
$black: #000000;
$tr: transparent;

$black_23: #232323;
$black_1e: #1e1e1e;
$black_21: #212529;

$green: #92d500;
$green_94: #94d351;

$gray: #aaaaaa;
$gray_f5: #f5f5f5;
$gray_89: #898989;
$gray_d6: #D6D6D6;
$gray_fa: #fafafa;

$yellow: #fff200;

$blue: #3b5998;
$blue_light: #007bb6;
$blue_00: #00aced;
$blue_2a: #2AB8CB;

$red: #e4405f;
$red_dark: #b00;



// Fonts
$Montserrat_font: 'Montserrat', sans-serif;
$font_awesome: 'font-awesome';

// Image path
$img_path: '../../../../../images/web/shop/multipharma/';

// Media
$desktop: 1440px;
$desktop_up: 1441px;
$tablet: 1024px;
$tablet_up: 1025px;
$mobile_up: 768px;
$mobile_down: 767px;
$small_screen_up: 576px;
$small_screen_down: 575px;

/*@media (max-width: #{$mobile_down})*/