{% extends 'web/base/home.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('css/web/shop/'~shop.code~'/home') }}
{% endblock %}

{% block header %}
    <header style="height: 152px;">
        <img src="{{ asset('build/images/web/shop/' ~ shop.code ~ '/lepetitcasino-header.png') }}" style="width: 100%; height: 100%;">
    </header>
{% endblock %}

{% block content %}
    
    {% set twigData = {'filterDynamic': true} %}

    {% for template in templates %}

        {% if template.attribute.block == constant('App\\Entity\\Attribute::BLOCK_MAP') %}
            {% include 'web/shop/lepetitcasino-fr/block/map_search_list.html.twig' %}
        {% else %}
            {% include 'web/block/' ~ template.attribute.block ~ '/' ~ template.attributeValue.value ~ '.html.twig' ignore missing %}
        {% endif %}
    {% endfor %}

{% endblock %}

{% block footer %}
    <footer style="height: 535px; padding-top: 50px;">
        <img src="{{ asset('build/images/web/shop/' ~ shop.code ~ '/lepetitcasino-footer.png') }}" style="width: 100%; height: 100%;">
    </footer>
{% endblock %}

{% block javascripts_var %}
    {{ parent() }}
    {#  Map Settings for this shop (default are defind in js map folder files, DEFAULT_SETTINGS getter) #}
    <script type="text/javascript">
        var globalSettings = {
            map: {
                center: {lat: 48.8589507, lng: 2.2770207},
                zoom: 10,
            },
            geoLocationCountry: ['FR'],
            searchType: 'NEAR',
            query: {
                near: '48.8589507,2.2770207',
                size: 50,
                radius: 15000,
            },
            marker: {
                icon: '{{ asset('build/images/web/shop/'~shop.code~'/theme_map_icon.png') }}',
                icon_width: 34,
                icon_height: 44,
            },
        };
    </script>
{% endblock %}
