.footer {
  padding-bottom: 50px;

  @media (max-width: 992px) {
    padding-bottom: 18px;
  }

  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 576px) {
      max-width: 720px;
    }

    @media (min-width: 768px) {
      max-width: 920px;
    }

    @media (min-width: 992px) {
      max-width: 1000px;
    }

    @media (min-width: 1200px) {
      max-width: 1015px;
    }
  }

  .footer-banner {
    background-color: $gray_f7;
    padding: 17px 0;
    
    .container {
      display: flex;
      align-items: center;
    }

    img {
      margin-right: 15px;
      display: block;
    }

    p {
      margin: 0;
      padding: 0;
      color: $black_22;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.3px;

      a {
        color: $black_22;
        font-size: 15px;
        line-height: 18px;
        text-decoration: underline;
      }
    }
  }

  .copyright-block {
    padding-top: 126px;

    @media (max-width: 992px) {
      padding-top: 63px;
    }

    h2 {
      font-size: 15px;
      line-height: 18px;
      font-weight: 400;
      padding: 0;
      margin: 0;
      color: $black_22;
      text-transform: initial;

      .year {
        font-size: 15px;
        line-height: 18px;
        font-weight: 700;
        display: inline-block;
        margin-right: 5px;
      }
    }

    a {
      display: flex;
      align-items: center;

      span {
        display: block;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 700;
        margin-left: 6px;
      }
    }
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}










