.header {
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 576px) {
      max-width: 720px;
    }

    @media (min-width: 768px) {
      max-width: 920px;
    }

    @media (min-width: 992px) {
      max-width: 1000px;
    }

    @media (min-width: 1200px) {
      max-width: 1015px;
    }
  }

  .header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid $gray_f3;
    padding: 16px 0 11px;

    @media (max-width: 767px) {
      background-color: $gray_de;
      border-bottom: 1px solid $gray_b7;
      padding: 7px 15px 6px;
      min-height: 55px;
      margin: 0 -15px;
    }
  }

  .logo {
    display: block;

    img {
      max-width: 102px;

      @media (max-width: 767px) {
        max-width: 89px;
      }
    }
  }
}