$font-path: '../../../../../fonts/shop/lepetitcasino-fr';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@font-face {
  font-family: 'Bree';
  src: url($font-path + '/Bree-Regular.eot');
  src: url($font-path + '/Bree-Regular.eot?#iefix') format('embedded-opentype'),
  url($font-path + '/Bree-Regular.woff') format('woff'),
  url($font-path + '/Bree-Regular.ttf') format('truetype'),
  url($font-path + '/Bree-Regular.svg#Bree-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bree';
  src: url($font-path + '/Bree-Light.eot');
  src: url($font-path + '/Bree-Light.eot?#iefix') format('embedded-opentype'),
  url($font-path + '/Bree-Light.woff') format('woff'),
  url($font-path + '/Bree-Light.ttf') format('truetype'),
  url($font-path + '/Bree-Light.svg#Bree-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FontAwesome';
  src: url($font-path + '/fontawesome-webfont.674f50d2.eot');
  src: url($font-path + '/fontawesome-webfont.674f50d2.eot?#iefix&v=4.7.0') format('embedded-opentype'),
      url($font-path + '/fontawesome-webfont.af7ae505.woff2') format('woff2'),
      url($font-path + '/fontawesome-webfont.fee66e71.woff') format('woff'),
      url($font-path + '/fontawesome-webfont.b06871f2.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'toolbox_hunterswood';
  src: url($font-path + '/toolboxhunterswood-webfont.woff2') format('woff2'),
  url($font-path + '/toolboxhunterswood-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
