.fa {
  display: inline-block;
  font: normal normal normal 14px/1 $font_awesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-phone:before {
  content: "\F095";
}