body {
  font-family: $roboto_font;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  color: $black;
  font-size: 16px;
}

* {
  font-family: $roboto_font;
  font-weight: 400;
  color: $black;
  font-size: 16px;
}

.wrapper {
  width: 100%;
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin: 0 auto;

  @media (min-width: #{$small_screen_up}) {
    max-width: 720px !important;
  }

  @media (min-width: #{$mobile_up}) {
    max-width: 920px !important;
  }

  @media (min-width: #{$tablet}) {
    max-width: 1024px !important;
  }

  @media (min-width: #{$desktop}) {
    max-width: 1275px !important;
  }

  &#wrapper-footer {
    max-width: 100% !important;
  }
}

header,
#sticky-header-container {
  z-index: 101 !important;
}

.location-summary {
  h5 {
    font-weight: 600;
    line-height: 16px !important;
    font-size: 14px !important;
    color: $green_03 !important;
    text-transform: none;
    margin-bottom: 6px;

    a {
      font-weight: 600;
      line-height: 16px !important;
      font-size: 14px !important;
      color: $green_03 !important;
      text-transform: none;

      &:hover {
        color: $green_03 !important;
      }
    }
  }

  address {
    font-size: 14px;
    line-height: 16px;
    color: $black;
    margin-bottom: 4px;
  }

  .phone-number {
    font-size: 14px;
    line-height: 16px;
    color: $black;
    font-weight: 400;
    display: flex;
    align-items: center;

    .fa {
      margin-right: 7px;
      font-size: 18px;
      line-height: 16px;

      &:before {
        color: $black;
      }
    }
  }

  .location-phone {
    a {
      font-size: 14px;
      line-height: 16px;
      color: $black;
      font-weight: 400;
      display: flex;
      align-items: center;
      text-decoration: none;

      &:hover {
        color: $black !important;
      }
    }
  }

  .small-schedule {
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    padding: 7px 0 0 0;

    .table-schedule {
      th,
      td {
        font-size: 16px;
        line-height: 16px;
        padding: 0 !important;
        color: $black;
        font-family: $bree_font;
        font-weight: 300;
      }

      th {
        width: 30%;
      }

      td {
        width: 70%;
      }
    }
  }

  .open-box {
    display: flex;
    align-items: center;

    span {
      line-height: 17px !important;
      font-size: 15px !important;
      display: block;
      font-weight: 400;
    }

    .open-sentence {
      color: $green_63;
      position: relative;
      padding-right: 30px;

      &:after {
        content: "\F0DD";
        display: inline-block;
        font: normal normal normal 38px/5px $font_awesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-image: none !important;
        font-size: 38px;
        position: absolute;
        top: -3px;
        right: 0;
        color: $green_63;
      }
    }
  }

  .open-close-box {
    padding-top: 7px;

    &.box-opened {
      .open-sentence {
        &:after {
          top: 3px;
          right: -5px;
        }
      }
    }
  }

  .open-label {
    border-radius: 0;
    background-color: $tr !important;
    padding: 0;
    color: $green_63;
    margin-right: 3px;
  }

  .btn-block {
    margin-top: 12px;
  }
}

.mb-40 {
  margin-bottom: 40px !important;

  @media (max-width: #{$mobile_down}) {
    margin-bottom: 30px !important;
  }
}

.detail-page{ 
  .wrapper-title {
    h1 {
      text-transform: capitalize;
      background-color: $green_00;
      font-family: $toolbox_hunterswood_font;
      text-decoration: none;
      padding: 10px 70px;
      margin: 0 auto 76px;
      position: relative;
      text-align: center;
      max-width: 612px;
      font-size: 38px;
      line-height: 40px;
      font-weight: 400;
      display: block;
      color: $white;
      width: 100%;

      @media (max-width: #{$mobile_down}) {
        margin: 0 auto 40px;
      }
    }
  }

  .wrapper-title-icon {
    h1 {
      color: $green_00;
      font-family: $toolbox_hunterswood_font;
      font-size: 38px;
      font-weight: 400;
    }
  }

  h2 {
    font-weight: 600;
    font-size: 27px;
    line-height: 30px;
    color: $green_03;
    text-transform: inherit;
    margin-bottom: 28px;
    text-align: left;

    @media (max-width: #{$mobile_down}) {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 18px;
    }

    strong {
      font-weight: 600;
      font-size: 27px;
      line-height: 30px;
      color: $green_03;
      text-transform: inherit;

      @media (max-width: #{$mobile_down}) {
        font-size: 20px;
        line-height: 26px;
      }
    }
  }

  h4 {
    color: $green_03;
    text-transform: inherit;
    font-size: 18px;
    font-weight: 600;
  }

  address {
    color: $black !important;
  }


  .slick-dots {
    li {
      &.slick-active {
        button {
          background-color: $green_03 !important;
        }
      }

      &:hover {
        button {
          background-color: $green_03 !important; 
        }
      }

      button {
        border: 1px solid $green_03 !important;
        width: 12px !important;
        height: 12px !important;

        &:before {
          display: none !important;
        }
      }
    }
  }

  .services-button,
  .info-button {
    background-color: $red;
    border-color: $red;
    border-radius: 8px;
    display: inline-block;
    color: $white;
    padding: 8px 12px 7px;
    font-size: 16px;
    line-height: 16px;
    transition: background-color .3s ease,color .3s ease;
    font-family: $bree_font;
    font-weight: 300;
    background-image: none;
    outline: none;
    box-shadow: none;

    &:hover {
      background-color: $red_hover;
      filter: none;
    }
  }
}





