// Color
$white: #ffffff;
$black: #000000;
$tr: transparent;

$black_dark: #444444;

$gray: #ececec;


$green: #0e6e8a;
$green_hover: #09495c;
$green_65: #65795c;

$blue: #276b97;


$green_00: #003610;
$green_03: #033612;
$green_63: #639b49;

$gray_92: #929292;
$gray_d6: #d6d6d6;
$gray_75: #757575;
$gray_b7: #b7c5bb;

$red: #e01021;
$red_hover: #cf0814;

// Fonts
$bree_font: 'Bree', sans-serif;
$roboto_font: 'Roboto', sans-serif;
$font_awesome: 'FontAwesome';
$toolbox_hunterswood_font: 'toolbox_hunterswood', sans-serif;

// Image path
$img_path: '../../../../../images/web/shop/lepetitcasino-fr/';

// Media
$desktop: 1200px;
$desktop_up: 1201px;
$tablet: 992px;
$tablet_up: 993px;
$mobile_up: 768px;
$mobile_down: 767px;
$small_screen_up: 576px;
$small_screen_down: 575px;

/*@media (max-width: #{$mobile_down})*/