.app-footer {
  background-color: $gray_footer;
  padding-top: 40px;
  margin-top: 50px;

  .container {
    width: 100%;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 48px;

    @media (min-width: 576px) {
      max-width: 540px;
    }

    @media (min-width: 768px) {
      max-width: 720px;
    }

    @media (min-width: 992px) {
      max-width: 960px;
    }

    @media (min-width: 1200px) {
      max-width: 1140px;
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

    .col {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
      position: relative;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  p {
    font-size: 18px;
    line-height: 28px;
    color: $text;
    margin-bottom: 16px;

    &.d-flex {
      display: flex;
      align-items: center;  
      justify-content: center;
    }
  }

  a {
    font-size: 18px;
    line-height: 28px;
    color: $green_44;
    padding: 9px;
    margin: -9px;

    &.link-footer {
      color: $blue_42;
    }

    &.link-icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      padding: 0;
      margin: 0;
      display: inline-block;
      background-color: $white;
      transition: all .2s ease-in-out;
      margin-left: 6px;

      &:hover {
        box-shadow: 0 1.5px 4px rgba(0,0,0,.24), 0 1.5px 6px rgba(0,0,0,.12)
      }

      i {
        display: block;
        height: 100%;
      }

      .icon-linkedin {
        background: url("#{$img_path}linkedin.png") center center no-repeat; 
      }

      .icon-facebook {
        background: url("#{$img_path}facebook.png") center center no-repeat; 
      }

      .icon-instagram {
        background: url("#{$img_path}instagram.png") center center no-repeat; 
      }

      .icon-twitter {
        background: url("#{$img_path}twitter.png") center center no-repeat; 
      }
    }
  }

  .footer-seo {
    text-align: justify;
    padding: 30px;
    font-size: 11px;
    line-height: 16px;

    ul {
      li {
        display: inline-block;
        margin-right: 8px;
      }
    }

    a {
      color: grey;
      font-size: 11px;
      line-height: 16px;
      text-decoration: none;
      padding: 0;
      margin: 0;
      letter-spacing: 0.1px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}