<header class="header">
  <div class="wrapper">
    <div class="header-content">
      <a href="https://www.hackett.com/gb/home" class="logo">
        <img src="{{ asset('build/images/web/shop/' ~ shop.code ~ '/logo.png') }}">
      </a>
    </div>
  </div>
</header>