.breadcrumb {
  padding: 20px 50px;

  @media (max-width: 992px) {
    padding: 20px;
  }

  ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    li {
      color: $black_22;
      margin-bottom: 5px;

      &:after {
        content:'/';
        display: inline-block;
        padding: 0 5px;
      }

      &:first-child {
        padding-left: 15px;
        position: relative;

        &:before {
          content:'';
          background: url("#{$img_path}breadcrumb-icon.svg") center center no-repeat;
          background-size: contain;
          position: absolute;
          top: 3px;
          left: 0;
          width: 12px;
          height: 12px;
        }
      }

      &:last-child {
        &:after {
          display: none;
        }
      }

      a {
        color: $footer-color;
        font-weight: 700;

        span {
          color: $footer-color;
          font-weight: 700;
        }
      }
    }
  }
}