{% extends 'web/base/home.html.twig' %}

{% block body_class %}header-change homepage{% endblock %}

{% block seo_tags %}
    {% set defaultDomain = shop.defaultDomain %}
    {% if defaultDomain %}
        <link rel="canonical" href="{{ '//' ~ defaultDomain.name ~ path('app_web_voo_home', {'_locale': defaultDomain.language.code}) }}"/>

        <link rel="alternate" hreflang="x-default" href="{{ '//' ~ defaultDomain.name ~ path('app_web_voo_home', {'_locale': defaultDomain.language.code}) }}"/>
    {% endif %}

    {% for language, domain in shop.languageDomains %}
        <link rel="alternate" hreflang="{{ language|replace({'_': '-'}) }}" href="{{ '//' ~ domain ~ path('app_web_voo_home', {'_locale': language}) }}"/>
    {% endfor %}
{% endblock %}

{% block header %}
    {% include 'web/shop/' ~ shop.code ~ '/default_remote/header_' ~ app.request.locale ~ '.html.twig' with {'header_url': 'https://www.voo.be'} %}
{% endblock %}

{% block footer %}
    {% include 'web/shop/' ~ shop.code ~ '/default_remote/footer_' ~ app.request.locale ~ '.html.twig' with {'header_url': 'https://www.voo.be'} %}
    {% include 'web/shop/' ~ shop.code ~ '/default_remote/svg.html.twig' %}
{% endblock %}

{% block content %}
    {# set filters content for map #}
    {% set twigData = {'filterContent': include('web/block/map/filters/simple_checkbox.html.twig', {
        'filters': {
            'serviceKeys[1]':'filtersouscrireaunproduitvoo',
            'serviceKeys[2]':'servsmartphoneendemonstration',
            'serviceKeys[3]':'filterechangecartesimtelecommande',
            'serviceKeys[4]':'filtersouscrireaunproduitvoobusiness',
            'serviceKeys[5]':'servrendresonmaterielvoo',
            'serviceKeys[6]':'servquestionadministrative'
        }
    })} %}

    {% include 'web/shop/' ~ shop.code ~ '/block/map_search_list.html.twig' %}
    {% include 'web/shop/' ~ shop.code ~ '/block/locations_simple.html.twig' %}

    <div class="intinerary-popup-container">
        <div class="intinerary-popup-block">
            <h3 class="title">{{ 'app.web.itineraire.popup_title'|trans({}, 'voo-be') }}</h3>
            <div class="intinerary-map-block">
                <a href="" id="waze_url" class="waze-icon" target="_blank" data-url="waze">
                    <img src="{{ asset('build/images/web/shop/voo-be/waze-icon.svg') }}" alt="Waze"/>
                </a>
                <a href="" id="google_map_url" class="google-maps-icon" target="_blank" data-url="google">
                    <img src="{{ asset('build/images/web/shop/voo-be/google-maps-icon.svg') }}" alt="GoogleMap"/>
                </a>
            </div>
            <div class="intinerary-btn-block"><span class="btn intineray-close-popup-btn">{{ 'app.web.itineraire.popup_close'|trans({}, 'voo-be') }}</span></div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="//www.voo.be/shared/styles/voo-chrome.min.css"/>

    {{ parent() }}
    {{ encore_entry_link_tags('css/web/shop/' ~ shop.code ~ '/home') }}
{% endblock %}

{% block javascripts_main %}
    {{ encore_entry_script_tags('js/web/shop/' ~ shop.code ~ '/home') }}
{% endblock %}

{% block javascripts_custom %}
    <script src="//www.voo.be/shared/scripts/voo-chrome-legacy.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>

    <script>
        // Init VOO header when your DOM is ready.
        document.addEventListener('DOMContentLoaded', function init() {
            window.vooHeader.init();
        });
    </script>
{% endblock %}

{% block javascripts_var %}
    {{ parent() }}

    {#  Map Settings for this shop (default are defind in js map folder files, DEFAULT_SETTINGS getter) #}
    <script type="text/javascript">
        //reverse order as importance
        globalData['brandSlugs'] = [
            "{{ constant('App\\Service\\Api\\Entity\\LocationEntity::VOO_BRAND_SLUG_POS') }}",
            "{{ constant('App\\Service\\Api\\Entity\\LocationEntity::VOO_BRAND_SLUG_BOUTIQUE') }}",
            "{{ constant('App\\Service\\Api\\Entity\\LocationEntity::VOO_BRAND_SLUG_REVENDEUR') }}"
        ];
        globalData['brandSlugBoutique'] = "{{ constant('App\\Service\\Api\\Entity\\LocationEntity::VOO_BRAND_SLUG_BOUTIQUE') }}";
        globalData['brandSlugRevendeur'] = "{{ constant('App\\Service\\Api\\Entity\\LocationEntity::VOO_BRAND_SLUG_REVENDEUR') }}";

        var globalSettings = {
            defaultGeolocationSearch: true,
            map: {
                center: {lat: 50.62313744304004, lng: 5.365809522627387},
                zoom: 10,
                fitAll: false,
            },
            mapZoom: {
                    position: 'top-left'
            },
            marker: {
                icon: '{{ asset('build/images/web/shop/' ~ shop.code ~ '/markers/default.svg') }}',
                icon_width: 29,
                icon_height: 41
            },
            apiVersion: "{{ shop.apiVersion }}",
            geoLocationCountry: ['BE'],
            searchType: 'FIT_ALL',
            query: {
                near: '50.8467,4.3524',
                radius: 25000,
                onEmptyRadius: 100000,
                page: 0,
                size: 200
            },
            here_marker_cluster: {
                template: '<svg xmlns="http://www.w3.org/2000/svg" width="48" height="47.03" viewBox="0 0 48 47.03"><style>.st0,.st1,.st2{fill:#d4007a}.st1,.st2{opacity:.5}.st2{opacity:.2}</style><circle class="st0" cx="24" cy="24" r="13"/><path class="st1" d="M12.96 13.14C15.77 10.28 19.68 8.5 24 8.5c4.57 0 8.67 2 11.51 5.16l1.85-2.42C33.99 7.71 29.25 5.5 24 5.5c-5.15 0-9.81 2.12-13.17 5.53l2.13 2.11zM19.67 38.87C13.22 36.99 8.5 31.04 8.5 24c0-1.22.16-2.41.43-3.55l-3.06-.13A18.52 18.52 0 0 0 5.5 24c0 8.4 5.63 15.5 13.32 17.75l.85-2.88zM39.22 21.13c.18.93.28 1.89.28 2.87 0 7.16-4.88 13.18-11.48 14.95l1.33 2.75c7.6-2.3 13.15-9.36 13.15-17.71 0-1.17-.12-2.3-.33-3.41l-2.95.55z"/><path class="st2" d="M9.06 9.27C12.87 5.4 18.16 3 24 3c5.82 0 11.09 2.38 14.89 6.22l1.83-2.4C36.4 2.6 30.5 0 24 0 17.33 0 11.28 2.74 6.93 7.15l2.13 2.12zM44.63 20.13c.23 1.26.37 2.55.37 3.87 0 9.33-6.12 17.25-14.56 19.98l1.32 2.73C41.2 43.47 48 34.52 48 24c0-1.51-.15-2.98-.41-4.41l-2.96.54zM18.11 44.14C9.39 41.59 3 33.53 3 24c0-1.3.14-2.56.36-3.8l-3.03-.13C.12 21.35 0 22.66 0 24c0 10.89 7.3 20.11 17.26 23.03l.85-2.89z"/><text x="24" y="28" font-size="10pt"  font-weight="normal" font-family="\'roboto\', Helvetica, Arial, sans-serif"   text-anchor="middle" fill="white">__text__</text></svg>',
                textColor: '#ffffff',
                options: {
                    1: {color: '#D4007A', width: 53},
                    2: {color: '#D4007A', width: 56},
                    3: {color: '#D4007A', width: 66},
                    4: {color: '#D4007A', width: 78},
                    5: {color: '#D4007A', width: 90},
                },
            },
        };
    </script>
{% endblock %}
