{% extends 'web/base/show.html.twig' %}

{% block body_class %}header-change{% endblock %}

{% block main_meta_tags %}
    <title>{{ location.name }}</title>
    <meta name="description" content="{{ 'app.web.show.address_label'|trans({}, 'voo-be') ~ ": " ~ location.address.fullAddress }}">
    <meta name="keywords" content="{{ (location.brand ? location.brand ~ ', ' : '') ~ location.name ~ ', ' ~ location.address.locality }}">
{% endblock %}

{% block seo_tags %}
    {% set defaultDomain = shop.defaultDomain %}
    {% if defaultDomain %}
        <link rel="canonical" href="{{ app.request.scheme ~ '://' ~ defaultDomain.name ~ path('app_web_voo_show', {'_locale': defaultDomain.language.code, 'slug': location.slug, 'externalId': location.externalId}) }}"/>

        <link rel="alternate" hreflang="x-default"
              href="{{ app.request.scheme ~ '://' ~ defaultDomain.name ~ path('app_web_voo_show', {'_locale': defaultDomain.language.code, 'slug': location.slug, 'externalId': location.externalId}) }}"/>
    {% endif %}

    {% for language, domain in shop.languageDomains %}
        <link rel="alternate" hreflang="{{ language|replace({'_': '-'}) }}"
              href="{{ app.request.scheme ~ '://' ~ domain ~ path('app_web_voo_show', {'_locale': language, 'slug': location.slug, 'externalId': location.externalId}) }}"/>
    {% endfor %}
{% endblock %}

{% block header %}
    {% include 'web/shop/' ~ shop.code ~ '/default_remote/header_' ~ app.request.locale ~ '.html.twig' with {'header_url':'https://www.voo.be'} %}
{% endblock %}

{% block footer %}
    {% include 'web/shop/' ~ shop.code ~ '/default_remote/footer_' ~ app.request.locale ~ '.html.twig' with {'header_url':'https://www.voo.be'} %}
    {% include 'web/shop/' ~ shop.code ~ '/default_remote/svg.html.twig' %}
{% endblock %}

{% block content_blocks %}
    <div class="detail-page">
        {% include 'web/shop/voo-be/block/location_details_with_image.html.twig' %}
        {% include 'web/shop/voo-be/block/location_details_services_with_text.html.twig' %}
        {% include 'web/shop/voo-be/block/location_details_image_right.html.twig' %}
        {% include 'web/shop/voo-be/block/smartphone.html.twig' %}
        {% include 'web/shop/voo-be/block/nos_offers.html.twig' %}
        {% include 'web/shop/voo-be/block/near_location_simple.html.twig' %}
    </div>
{% endblock %}

{% block stylesheets_blocks %}
    {% for template in templates %}
        {% if template.attribute.block == constant('App\\Entity\\Attribute::BLOCK_LOCATION_SERVICES') %}
            {{ encore_entry_link_tags('css/web/shop/voo-be/smartphones') }}
        {% endif %}

        {{ encore_entry_link_tags('css/web/block/' ~ template.attribute.block) }}
    {% endfor %}
{% endblock %}

{% block stylesheets_custom %}
    {{ encore_entry_link_tags('css/web/shop/' ~ shop.code ~ '/show') }}

    <link rel="stylesheet" type="text/css" href="https://www.voo.be/shared/styles/voo-chrome.min.css" />
{% endblock %}

{% block javascripts_blocks %}
    {% for template in templates %}
        {% if template.attribute.block == constant('App\\Entity\\Attribute::BLOCK_LOCATION_SERVICES') %}
            {{ encore_entry_script_tags('js/web/shop/voo-be/smartphones') }}
        {% endif %}

        {{ encore_entry_script_tags('js/web/block/' ~ template.attribute.block) }}
    {% endfor %}
{% endblock %}

{% block javascripts_custom %}
    {{ encore_entry_script_tags('js/web/shop/' ~ shop.code ~ '/show') }}

    <script src="//www.voo.be/shared/scripts/voo-chrome-legacy.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>

    <script>
        // Init VOO header when your DOM is ready.
        document.addEventListener('DOMContentLoaded', function init() {
            window.vooHeader.init();
        });
    </script>
{% endblock %}

{% block javascripts_var %}
    {{ parent() }}

    <script type="text/javascript">
        globalData['brandSlugBoutique'] = "{{ constant('App\\Service\\Api\\Entity\\LocationEntity::VOO_BRAND_SLUG_BOUTIQUE') }}";
        globalData['brandSlugRevendeur'] = "{{ constant('App\\Service\\Api\\Entity\\LocationEntity::VOO_BRAND_SLUG_REVENDEUR') }}";

        var globalSettings = {
            near_query: {
                size: 6,
                radius: 200000,
                brandSlugs: [
                    "{{ constant('App\\Service\\Api\\Entity\\LocationEntity::VOO_BRAND_SLUG_BOUTIQUE') }}",
                    "{{ constant('App\\Service\\Api\\Entity\\LocationEntity::VOO_BRAND_SLUG_REVENDEUR') }}"
                ]
            }
        };
    </script>
{% endblock %}
