/* ALPHABET */

.mobilo_alphaSelect {
    display: none;
    margin-top: 30px;
}

.mobilo_alphabet {
    background-color: #f6f7f8;
    text-align: center;
    padding: 15px 0;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    z-index: 2;
    ul {
        display: flex;
        li {
            flex-grow: 1;
            span {
                display: inline-block;
                color: #969696;
                font-size: 20px;
                padding: 5px
            }
            a {
                text-decoration: none;
                span {
                    color: #343434;
                }
            }
        }
    }
}

.mobilo_resultsByLetters {
    padding: 50px;
    .mobilo_wrapper {
        columns: 3;
        column-gap: 50px;
    }
}
.mobilo_resultsByLettersSubtitle {
    text-align: center;
    margin: auto;
    padding-top: 25px;
    color: #343434;
    font-size: 20px;

}

.mobilo_letter {
    color: #3D3D3D;
    font-size: 36px;
    line-height: 42px;
    border-bottom: 1px solid #DEDEDE;
    padding-bottom: 10px;
}

.mobilo_oneLetter {
    margin-bottom: 60px;
    position: relative;
    -webkit-column-break-inside: avoid;
    /* Chrome, Safari, Opera */
    page-break-inside: avoid;
    /* Firefox */
    break-inside: avoid;
    /* IE 10+ */
}

span.mobilo_anchor {
    position: absolute;
    top: -150px;
}

.mobilo_wrapselect {
    background: url('../../../../../../images/web/shop/medimarket-be/arrow.svg') no-repeat right 20px center / 10px;
    display: block;
    width: 100%;
    padding: 5px 10px;
    font-size: 15px;
    min-width: 200px;
    border: 1px solid #E4E4E4;
    border-radius: 3px;
    background-color: #F9F9F9;
}

.mobilo_wrapselect select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    min-height: 38px;
    width: 100%;
    border: none;
    margin: 0;
    background: transparent;
    font-size: 15px;
}

@media only screen and (max-width:900px) {
    /* LETTERS */
    .mobilo_resultsByLetters {
        padding: 50px 0;
    }
    .mobilo_resultsByLetters .mobilo_wrapper {
        columns: 1;
        column-gap: 0;
    }
    .mobilo_alphabet {
        display: none;
    }
    .mobilo_alphaSelect {
        display: block;
    }
}