.mobilo_sect-storeReviews {
    text-align: center;
    padding: 50px 0;
    background-color: #F6F6F6;
}

.mobilo_sect-storeReviews h2,
.mobilo_sect-storeServices h2 {
    font-size: 22px;
    margin-bottom: 30px;
}

.mobilo_sect-storeReviews h2 {
    color: #464646
}

.mobilo_sect-storeReviews .mobilo_iframe {
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}