.mobilo_sect-storeDescription {
    padding: 40px 0;
}

.mobilo-storeDescription {
    color: #8A8A8A;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding: 30px;
    float: left;
    width: 50%;
    p {
        margin-bottom: 20px;
        letter-spacing: 0;
        a {
            color: $green
        }
    }
}

.mobilo_storeSlider {
    width: 50%;
    float: left;
}

.mobilo_sect-storeDescription .mobilo_wrapper {
    overflow: hidden;
}

@media only screen and (max-width:1024px) {
    .mobilo-storeDescription {
        width: 100%;
        padding: 0;
        margin-top: 10px;
        padding-top: 30px;
        border-top: 1px solid #E3E3E3;
    }
    .mobilo_storeSlider {
        width: 100%;
    }
}