.mobilo_sect-closeBy {
    text-align: center;
    padding: 50px 0;
    letter-spacing: 0;

    .slick-track {
      display: flex;
    }

    .slick-list {
      padding-bottom: 7px;
    }

    .slick-slide {
      height: inherit;
    }
}

.mobilo_sect-closeBy a {
    text-decoration: underline;
}

.mobilo_sect-closeBy a:hover {
    text-decoration: none;
}

.mobilo_sect-closeBy h2 {
    font-size: 22px;
    margin-bottom: 30px;
    color: $green;
}

.mobilo_sect-closeBy article {
    border: 1px solid #F2F2F2;
    background-color: #FFFFFF;
    box-shadow: 0 3px 4px 0 rgba(78, 78, 78, 0.2);
    text-align: left;
    margin: 0 5px;
}

.mobilo_sect-closeBy article .mobilo_storeContent p {
    font-size: 14px;
    margin-bottom: 5px;
    color: #5E5E5E
}

.mobilo_sect-closeBy article .mobilo_storeContent p.address {
    font-size: 14px;
    margin-bottom: 5px;
    color: #5E5E5E;
    min-height: 40px;

}

.mobilo_sect-closeBy article .mobilo_storeSummary {
    padding: 20px;
}

.mobilo_sect-closeBy article .mobilo_storeCta {
    text-align: center;
    padding: 20px;
}

.mobilo_sect-closeBy article .mobilo_storeCta a {
    color: #15A983;
    font-size: 16px;
    font-weight: normal;
}

.mobilo_sect-closeBy .mobilo_storeActions {
    margin-top: 20px;
}

.mobilo_sect-closeBy .mobilo_storeActions p {
    display: inline-block;
}

.mobilo_sect-closeBy .mobilo_storeActions .mobilo_location a {
    color: $green;
    padding-left: 20px;
    background: url('../../../../../../images/web/shop/medimarket-be/icon_loc.svg') no-repeat left center / 10px;
}

.mobilo_sect-closeBy .mobilo_tel {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #D4D4D4;
}