.mobilo_sect-storeServices {
	padding: 50px 0 20px 0;
	background-color: $green;
	text-align: center;
	color: #fff;
	ul {
		display: block;
		text-align: center;
		li {
			display: inline-block;
			padding: 0 30px;
			position: relative;
			margin-bottom: 30px;
		}
		li:before {
			content: '.';
			width: 1px;
			height: 40px;
			background-color: rgba(255, 255, 255, 0.43);
			display: inline-block;
			vertical-align: middle;
			position: absolute;
			left: 0;
			font-size: 0;
		}
	}

	h2 {
		color: #ffffff;
		letter-spacing: 0;
	}

	h5 {
		color: #ffffff;
		letter-spacing: 0;
	}
}

.mobilo_sect-storeServices ul li:first-child:before {
  content: none;
}

.mobilo_service {
	display: inline-block;
	max-width: 100px;
	width: 100px;
	vertical-align: top;
	h6 {
		font-size: 16px;
		font-weight: 400;
	}
	.mobilo_ico {
		margin-bottom: 25px;
		display: block;
		img {
		  height: 50px;
		  margin: 0 auto;
		}
	}
}

@media only screen and (max-width:900px) {
	.mobilo_sect-storeServices ul li {
		display: block;
	}
	.mobilo_sect-storeServices .mobilo_service {
		display: block;
		max-width: 100%;
		width: 100%;
		overflow: hidden;
		text-align: left;
		padding: 30px 0;
	}
	.mobilo_service .mobilo_ico {
		margin-bottom: 0;
		display: inline-block;
		vertical-align: middle;
		width: 30%;
	}
	.mobilo_service h5 {
		display: inline-block;
		vertical-align: middle;
		width: 68%;
		font-size: 14px;
	}
	.mobilo_sect-storeServices ul li:before {
		position: relative;
		width: 100%;
		height: 1px;
		display: block;
	}
}