    .mobilo_sect-storeDetail {
        color: #8A8A8A;
    }
    
    .mobilo_sect-storeDetail .mobilo_wrapTitle {
        border-bottom: 1px solid #E3E3E3;
        padding: 30px 330px 30px 0;
    }
    
    .mobilo_sect-storeDetail .mobilo_wrapTitle h1 {
        color: #272727;
        font-size: 30px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 30px;
        font-weight: bold;
    }
    
    .mobilo_sect-storeDetail .mobilo_wrapTitle .mobilo_opening {
        color: #F3988B;
        font-size: 16px;
        font-weight: bold;
        vertical-align: middle;
        display: inline-block;
    }
    
    .mobilo_sect-storeDetail .mobilo_wrapTitle h1 strong {
        color: #63C2BB;
    }
    
    .mobilo_storeInfos {
        padding: 70px 40px;
        border-bottom: 1px solid #E3E3E3;
        padding-right: 350px;
        min-height: 300px;
        .mobilo_ctaWrapper {
            margin-bottom: 20px;
        }
    }
    
    .mobilo_storeInfosList {
        display: flex;
    }
    
    .mobilo_storeContact {
        padding-right: 50px;
    }
    
    .mobilo_withIco b {
        display: inline-block;
        vertical-align: middle;
        img {
            width: 16px;
            margin-right: 10px;
            display: block;
        }
    }
    
    .mobilo_withIco span {
        display: inline-block;
        vertical-align: middle;
    }
    
    .mobilo_storeInfos ul li,
    .mobilo_storeInfos ul p {
        font-size: 16px;
        color: #464646;
        margin-bottom: 10px;
        letter-spacing: 0;
    }
    
    .mobilo_storeInfos ul li a {
        color: #63C2BB;
    }
    
    .mobilo_timetable {
        position: absolute;
        right: 0;
        top: 30px;
        background-color: $green;
        padding: 40px 45px;
        color: #fff;
        width: 350px;
    }
    
    .mobilo_timetable h2 {
        margin-bottom: 25px;
        font-size: 22px;
        font-weight: 400;
        color: #ffffff;
    }
    
    .mobilo_timetable table {
        width: 100%;
    }
    
    .mobilo_timetable table th {
        text-align: left;
        padding: 0 25px 5px 0;
        font-size: 16px;
        font-weight: 400;
    }
    
    .mobilo_timetable table td {
        font-size: 16px;
        font-weight: 100;
    }

    @media (max-width: 1024px) {
        .mobilo_timetable {
            position: relative;
            right: 0;
            top: 0;
            width: 100%;
            padding: 30px 10%;
        }

        .mobilo_storeInfos {
            padding: 30px 0;
            margin-bottom: 30px;
        }

        .mobilo_sect-storeDetail {
            .mobilo_wrapTitle {
                padding: 30px 0;
            }
        }
    }


    @media only screen and (max-width:900px) {
        .mobilo_sect-storeDetail .mobilo_wrapTitle h1 {
            font-size: 20px;
            margin-bottom: 5px;
        }
        .mobilo_storeInfosList {
            display: block;
        }
        
        .mobilo_storeInfos ul li,
        .mobilo_storeInfos ul p {
            font-size: 14px;
        }
    }