/* *** */


/* MAP */


/* *** */

.mobilo_map {}

.mobilo_sect-mapSearch {
	 position: relative;
}

.mobilo_map img.googlemap {
	 display: block;
	 width: 100%;
}

.mobilo_modalSearch {
	 position: absolute;
	 top: 5%;
	 left: 5%;
	 width: 30%;
	 color: #3D3D3D;
	 z-index: 1000;
}

.search-results {
	 &.loading {
		  position: relative;
		  
		  &:after {
				background: transparent url("../../../../../../images/web/shop/medimarket-be/ajax-loader.gif") 50% 50% no-repeat;
				margin-left: -20px;
				position: absolute;
				display: block;
				width: 40px;
				height: 40px;
				content: '';
				z-index: 10;
				left: 50%;
				top: 20%;
		  }
	 }

	 .search-results-list {
		  position: relative;
		  
		  ul {
				position: static;
		  }
	 }
}


/* form */

.mobilo_searchPosition input[type="text"],
.mobilo_searchPosition input[type="search"] {
	 border-style: solid;
	 border-width: 1px;
	 border-color: rgb(208, 208, 208);
	 border: 1px solid #E4E4E4;
	 border-radius: 3px;
	 font-size: 13px;
	 padding: 10px 15px 10px 30px;
	 background: #F9F9F9 url('../../../../../../images/web/shop/medimarket-be/icon_search.svg') no-repeat left 10px center / auto 40%;
}

.mobilo_searchPosition span.or {
	 font-size: 13px;
	 color: #3D3D3D;
	 display: inline-block;
	 vertical-align: middle;
	 margin: 0 5px;
}

.mobilo_myposition {
	 background: $green url('../../../../../../images/web/shop/medimarket-be/icon_target.svg') no-repeat left 10px center / auto 40%;
	 font-size: 13px;
	 color: #fff;
	 text-decoration: none;
	 padding: 12px 15px 11px 36px;
	 display: inline-block;
	 margin: 10px 0;
}

.mobilo_searchBox {
	 box-shadow: 0px 0px 6px 0px rgba(54, 54, 54, 0.32);
	 background-color: #fff;
	 overflow: hidden;
	 border-top: 4px solid #b4c941;
	 padding: 5%;
	 margin-bottom: 20px;
	 h1 {
		  color: $green;
		  font-size: 22px;
		  font-weight: 500;
		  margin-bottom: 25px;
	 }
}

.mobilo_searchPosition {
	 padding-bottom: 25px
}

.mobilo_searchFilters {}

.mobilo_openFilters {
	 padding-bottom: 13px;
	 border-bottom: 1px solid #DEDEDE;
	 cursor: pointer;
	 p {
		  color: #3D3D3D;
		  font-size: 14px;
		  line-height: 16px;
		  position: relative;
	 }
	 p:before {
		  content: ".";
		  background: url('../../../../../../images/web/shop/medimarket-be/arrow.svg') no-repeat right center;
		  right: 0;
		  top: 0;
		  width: 20px;
		  height: 20px;
		  display: block;
		  font-size: 0;
		  position: absolute;
	 }
}

.mobilo_contentFilters {
	 padding-top: 10px;
	 padding-bottom: 20px;
	 max-height: 150px;
	 overflow-y: scroll;
	 input[type="checkbox"] {
		  display: inline-block;
		  vertical-align: middle;
		  margin-right: 10px
	 }
}

.mobilo_closedElt {


	 &.closed-box {
		  .mobilo_contentFilters {
				display: none;
		  }
	 }
	 .mobilo_openFilters p:before {
		  -webkit-transform: rotate(-90deg);
		  -moz-transform: rotate(-90deg);
		  -ms-transform: rotate(-90deg);
		  -o-transform: rotate(-90deg);
		  transform: rotate(-90deg);
		  top: 50%;
		  margin-top: -3px;
	 }
}



.mobilo_contentFilters li {
	 margin-bottom: 5px;
	 label {
		  position: relative;
	 }
	 ul {
		  padding-left: 20px;
		  margin-top: 5px;
		  margin-bottom: 10px;
		  li {
				position: relative;
		  }
	 }
}

.mobilo_contentFilters li ul li::before {
	 content: '-';
	 position: absolute;
	 left: -16px;
	 width: 10px;
	 height: 1px;
	 background-color: #ececec;
	 font-size: 0;
	 top: 9px;
}

.mobilo_contentFilters li ul li:after {
	 content: '-';
	 position: absolute;
	 left: -16px;
	 height: 10px;
	 width: 1px;
	 background-color: #ececec;
	 font-size: 0;
	 top: 0px;
}

.mobilo_contentFilters li ul li input {
	 max-height: 5px
}

.mobilo_resultsBox {
	 background-color: #fff;
	 box-shadow: 0px 0px 6px 0px rgba(54, 54, 54, 0.32);
	 padding: 5%;
	 .mobilo_searchResultsLoc {
		  max-height: 250px;
		  overflow-y: auto;
		  min-height: 250px;
	 }
}

.mobilo_resultsAbout {
	 font-size: 14px;
	 border-bottom: 1px solid #DEDEDE;
	 padding-bottom: 20px;
}

@media only screen and (max-width:900px) {
	 .mobilo_modalSearch {
		  position: relative;
		  top: 0;
		  left: 0;
		  width: 100%;
		  color: #3D3D3D;
		  margin-bottom: 0;
		  z-index: 1000;
	 }
	 .mobilo_searchBox {
		  margin-bottom: 0;
	 }
	 .mobilo_searchPosition {
		  text-align: center;
	 }
	 .mobilo_searchPosition input[type=text],
	 .mobilo_searchPosition input[type=search] {
		  width: 100%;
		  display: block;
		  margin-bottom: 10px;
	 }
	 .mobilo_resultsBox {
		  // display: none;
	 }
	 .mobilo_resultsBox .mobilo_searchResultsLoc,
	 .mobilo_contentFilters {
		  max-height: none;
	 }
}