    /* only pharmacie */
    /* class to add at the top of the DOM*/
    
    .mobilo_pharma {
        font-weight: normal;
        .mobilo_sect-storeDetail .mobilo_wrapTitle {
            .mobilo_opening {
                color: #FF8900
            }
            h1 strong {
                color: $green
            }
        }
        .mobilo_storeInfos ul li a {
            color: $green;
        }

        .mobilo_storeInfos ul li button {
            color: $green;
            font-weight: normal;
            font-size: 16px;
            text-decoration: underline;
        }

        .mobilo_storeContact {
            a {
                text-decoration: underline;
            }
        }

        .detail-info {
            text-align: center;
            margin-bottom: 20px;
            font-size: 16px;

            a {
                color: #2AA883;
            }
        }
    }