/* only INSTITUT*/


/* class to add at the top of the DOM*/

.mobilo_institut {}

.mobilo_institut {
    font-weight: normal;
    .mobilo_sect-storeDetail .mobilo_wrapTitle {
        .mobilo_opening {
            color: #F3988B
        }
        h1 strong {
            color: $greenlight
        }
    }
    .mobilo_storeInfos ul li a {
        color: $greenlight;
    }
    .mobilo_timetable {
        background-color: $greenlight;
    }
    .mobilo_sect-storeServices {
        background-color: $greenlight;
    }
    .slick-dots li.slick-active button:before {
        color: $greenlight;
    }
    .mobilo-storeDescription p a {
        color: $greenlight;
    }
    .mobilo_sect-closeBy h2 {
        color: $greenlight;
    }
    address {
        background: url('../../../../../../images/web/shop/medimarket-be/icon_loc_light.svg') no-repeat left center/10px;
    }
    .mobilo_tel {
        background: url('../../../../../../images/web/shop/medimarket-be/icon_tel_light.svg') no-repeat left center/13px;
    }
    .mobilo_rdv {
        background: url('../../../../../../images/web/shop/medimarket-be/icon_rdv_light.svg') no-repeat left center/15px;
    }

    .mobilo_storeContact {
            a {
                text-decoration: underline;
            }
        }
}