    /* only pharmacie */
    /* class to add at the top of the DOM*/
    
    .mobilo_para {
        font-weight: normal;
        
        .mobilo_sect-storeDetail .mobilo_wrapTitle {
            .mobilo_opening {
                color: #AECB06
            }
            h1 strong {
                color: $green
            }
        }
        .mobilo_storeInfos ul li a {
            color: $green;
        }

        .mobilo_storeContact {
            a {
                text-decoration: underline;
            }
        }

        .mobilo_cta {
            &:hover,
            &:visited {
                color: #ffffff;
            }
        }
    }