.carrefour-header {
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E5E5E5;

  @media only screen and (max-width: 767px) {
    height: 60px;
  }
}
