@import "../components/vars";
@import "../components/animation";

.search-value {
  &.hide {
    opacity: 0;
  }
}

.button[data-load-more] {
  box-shadow: none;
  border: 0 none;
  outline: none;
}

.no-header {
  .map-container-with-reset {
    @media only screen and (max-width: 992px){
      height: calc(100% - 120px);
    }
  }
}

.map-container-with-reset {
  position: relative;
  height: 100%;
}

.map-search-options {
  transform: translate3d(-50%,0,0);
  position: absolute;
  z-index: 100;
  left: 50%;
  top: 24px;
  font-size: 13px !important;
}

.no-results {
  .no-results-info {
    display: block;
  }  
}

.no-results-info {
  text-align: center;
  display: none;
}

.icon-calendar {
  min-height: 16px;
}

/* mobile on select input remove header*/
.keyboard-open {
  &.android {
    > div {
      @media only screen and (max-width: 992px){
        display: none;
      }
    }

    .main-content {
      @media only screen and (max-width: 992px){
        display: none;
      }
    }

    .home-page {
      .sidebar {
        @media only screen and (max-width: 992px){
          z-index: 11;
          top: 0 !important;
          height: 100% !important;
          background-color: #ffffff;
          bottom: 0 !important;
          transition: top ease 0.2s;
        }
      }
    }
  }
}


/* header withput red popup top */
.header-md {
  &.nav-open {
    .home-page {
      &.section-map {
        padding-top: 160px;
      }
    }
  }

  .filter-block {
    &.fixed {
      @media only screen and (max-width: 992px){
        position: fixed;
        top: 80px;
        width: 100%;
        z-index: 3;
      }

      + .search-results {
        @media only screen and (max-width: 992px){
          padding: 65px 0 25px 0;
        }
      }
    }
  }

  .section-map {
    &.mobile {
      .map-container-with-reset {
        @media only screen and (max-width: 992px){
          height: calc(100% - 120px);
        }
      }
    }
  }

  &.banner-promotion {
    &.nav-open {
      .home-page {
        &.section-map {
          padding-top: 210px;
        }
      }
    }

    .sidebar {
      @media only screen and (max-width: 992px){
        top: 193px;
        height: auto;
        bottom: 80px;
      }
    }

    .section-map {
      &.mobile {
        .map-container-with-reset {
          @media only screen and (max-width: 992px){
            height: calc(100% - 120px);
          }
        }
      }
    }

    .home-page {
      &.is-results-wrapper{
        &.mobile {
          .main-content {
            @media only screen and (max-width: 992px){
              top: 193px;
             }
          }
        }
      }
    }
  }

  .map-search-box {
    @media only screen and (max-width: 992px){
      height: 100%;
    }
  }

  .main-content {
    @media only screen and (min-width: 993px) {
      height: calc(100vh - 160px);
    }

    // @media screen and (max-width: 992px) and (min-width: 768px) {
    //    height: calc(100vh - 145px);
    // }
  }

  .home-page {
    &.section-map {
      // @media screen and (max-width: 992px) and (min-width: 768px) {
      //   margin-top: -5px;
      // }
    }
  }

  .sidebar {
    top: 160px;
    height: calc(100vh - 160px);

    // @media screen and (max-width: 992px) and (min-width: 768px) {
    //   top: 145px;
    //   height: calc(100% - 145px);
    // }

    @media only screen and (max-width: 992px){
      top: 143px;
      // height: calc(100vh - 223px);
      height: auto;
      bottom: 80px;
      background-color: #F5F6F7;
    }
  }

  .map-search-box {
    height: 100%;
  }

  .filter-block {
    &.fixed {
      @media only screen and (min-width: 993px) {
        top: 160px;
      }

      // @media screen and (max-width: 992px) and (min-width: 768px) {
      //   top: 145px;
      // }
    }
  }

  .filter-block-results {
    // height: calc(100vh - 160px);
    height: 100%;
    overflow: hidden;

    @media only screen and (max-width: 992px){
      // height: calc(100vh - 143px);
      height: 100%;
    }

    .filter-results-content {
      height: calc(100vh - 160px);

      @media only screen and (max-width: 992px){
        // height: calc(100vh - 143px);
        height: 100%;
        overflow: hidden;
      }

      #map_search_filters {
        height: calc(100vh - 300px);

        @media only screen and (max-width: 992px){
          // height: calc(100vh - 283px);
          height: calc(100% - 60px);
        }
      }
    }
  }

  &.banner-promotion {
    .main-content {
      @media only screen and (min-width: 993px) {
        height: calc(100vh - 210px);
      }

      // @media screen and (max-width: 992px) and (min-width: 768px) {
      //   height: calc(100vh - 192px);
      // }
    }

    .sidebar {
      @media only screen and (min-width: 993px) {
        top: 210px;
        height: calc(100vh - 210px);
      }

      // @media screen and (max-width: 992px) and (min-width: 768px) {
      //   top: 192px;
      //   height: calc(100vh - 192px);
      // }
    }

    .home-page {
      &.section-map {
        // @media screen and (max-width: 992px) and (min-width: 768px) {
        //   margin-top: -8px;
        // }
      }
    }

    .filter-block {
      &.fixed {
        @media only screen and (min-width: 993px) {
          top: 210px;
        }

        // @media screen and (max-width: 992px) and (min-width: 768px) {
        //   top: 192px;
        // }
      }
    }

    .filter-block-results {
      @media only screen and (min-width: 993px) {
        height: calc(100vh - 210px);
      }

      .filter-results-content {
        @media only screen and (min-width: 993px) {
          height: calc(100vh - 210px);
        }
        
        #map_search_filters {
          @media only screen and (min-width: 993px) {
            height: calc(100vh - 350px);
          }
        }
      }
    }
  }
}


/* no header style */
.no-header {
  .home-page {
    &.is-results-wrapper {
      &.mobile {
        .main-content {
          @media only screen and (max-width: 992px){
            top: 0;
          }
        }
      }
    }
  }

  .filter-block {
    &.fixed {
      @media only screen and (max-width: 992px){
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 3;
      }
    }
  }

  .sidebar {
    top: 0;
    height: 100%;
    bottom: 0;

    @media only screen and (max-width: 992px){
      // height: calc(100vh - 80px);
      bottom: 80px;
      height: auto;
    }

    .map-search-box {
      height: 100%;
    }
  }

  .main-content {
    @media only screen and (min-width: 993px) {
      height: 100vh;
    }
  }

  .filter-block {
    &.fixed {
      @media only screen and (min-width: 993px) {
        top: 0;
      }
    }
  }

  .filter-block-results {
    height: 100%;

    .filter-results-content {
      height: 100%;

       @media only screen and (max-width: 992px){
        overflow: hidden;
       }

      #map_search_filters {
        height: calc(100vh - 140px);

        @media only screen and (max-width: 992px){
          height: calc(100% - 60px);
        }
      }
    }
  }

  &.is-small-view {
    &.is-iphone-x {
      .sidebar {
        @media only screen and (max-width: 992px){
          height: calc(100vh - 193px);
        }
      }
    }
  }
}



.content-page {
  position: relative;
  z-index: 3;
}


[data-datepicker] {
  &.show-date {
    line-height: 21px !important;
    
    &:before {
      display: none;
    }

    input {
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0;
    }

    .calendar-selection {
      display: inline-block;
      position: absolute;
      top: -3px;
      right: -155px;
      width: 160px;
    }
  }

  .calendar-selection {
    line-height: 21px !important;
    font-size: 14px !important;
    display: none;
    font-family: $font-open-sans;
  }
}

div[data-active-filters] {
  display: none;
}

.db {
  display: block;
}

#search_field_store .wrapper {
  input {
    transition-duration: 0.3s;
    height: 43px;
    color: #0E3368;
  
    &:focus {
      height: 65px;

      + span + label {
        opacity: 1;
        top: 0;
      }
    }
  }
}

.checkbox-with-icons {
  &#filtering {
    .icon {
      font-size: 14px !important;
      margin-right: 5px;
      margin-left: 0;

      &.icon-sport-bike {
        font-size: 13px !important;
      }
    }
  }
}

#search_field_store .icon-delete-content-field.select-done, 
#search_field_store span.icon-localise-me.select-done,
#search_field_store .wrapper label {
  transition: top 0.3s ease;
  animation: none;
}

#search_field_store .wrapper label {
  transition: top 0.3s ease, opacity 0.3s ease;
}

#search_field_store {
  span.icon-delete-content-field {
    transition: opacity 0.3s ease;
    opacity: 0;
  }

  span.icon-localise-me {
    top: 2px !important;
  }

  &.focus {
    span.icon-delete-content-field {
      top: 25px !important;
    }

    span.icon-localise-me {
      top: 15px !important;
    }
  }

  footer {
    &.ptb-20 {
      padding: 20px 0;
    }
  }
}

.animate-marker {
  overflow: visible !important;

  &:before {
    animation: animatePinMap 5s infinite;
    background-color: transparent;
    position: absolute;
    border-radius: 50%;
    display: block;
    height: 47px;
    content: '';
    width: 47px;
    right: 14px;
    top: 14px;
  }
}

// div[data-screen] {
//   &.animate {
//     transition: opacity ease 0.2s, visibility ease 0.2s;
//     position: absolute;
//     display: block;
//     right: 30px;
//     left: 30px;
//     top: 0;
//   }

//   &.animate-leave {
//     visibility: hidden;
//     opacity: 0;
//     z-index: 0;
//   }

//   &.animate-enter {
//     visibility: visible;
//     opacity: 1;
//     z-index: 1;
//   }
// }

.button{
  &.bio {
    background: url('#{$img_carrefour}bio.svg') left center no-repeat ;
    background-position: 20px 17px !important;
    background-size: 20px !important;
    text-indent: 25px;
  }
}

.home-page {
  display: flex;

  &.section-map {
    padding: 0;
    margin: 0;

    &.is-results-wrapper {
      .map-container {
        @media only screen and (max-width: 992px){
          height: 100%;
        }
      }
    }

    .map-container {
      height: 100%;

      @media only screen and (max-width: 992px){
        height: 0%;
      }

      .map-element {
        height: 100%;

        .gm-style .gm-style-cc span, .gm-style .gm-style-cc a, .gm-style .gm-style-mtc div {
          font-size: 10px !important;
        }
      }
    }
  }

  &.is-results-wrapper {
    @media only screen and (max-width: 992px){
      display: flex !important;
      flex-direction: column;
      overflow: hidden;
    }

    .sidebar {
      @media only screen and (min-width: 993px) {
        overflow: auto;
      }

      @media only screen and (max-width: 992px){
        position: relative;
        top: 0;
        height: auto;
        overflow: initial;
      }

      .search-results {
        @media only screen and (min-width: 993px) {
          height: 100%;
        }
      }
    }

    &.mobile {
      .search-results-list {
        @media only screen and (max-width: 992px){
          display: none;
        }
      }

      .hide-on-mobile,
      .filter-block {
        @media only screen and (max-width: 992px){
          display: none;
        }
      }

      .no-results-text {
        @media only screen and (max-width: 992px){
          display: none;
        }
      }

      .results-wrapper-mobile-btn {
        @media only screen and (max-width: 992px){
          display: block;
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }

      .sidebar {
        @media only screen and (max-width: 992px){
          height: 80px;
          position: fixed;
          top: auto;
          bottom: 0;
        }
      }

      .search-results {
        @media only screen and (max-width: 992px){
          padding: 0;
          height: auto;
        }
      }

      .main-content {
        @media only screen and (max-width: 992px){
          // height: calc(100vh - 230px);
          position: fixed;
          top: 140px;
          height: auto;
          bottom: 80px;
        }
      }
    }
  }
}

.results-wrapper-mobile-btn {
  display: none;
}

.sidebar {
  position: fixed;
  top: 200px;
  left: 0;
  max-width: 375px;
  width: 100%;
  background-color: $white;
  height: calc(100vh - 200px);
  padding: 0 30px;
  z-index: 2;
  bottom: 0;

  @media only screen and (min-width: 993px) {
    overflow-y: auto;
    overflow-x: hidden;
  }

  @media only screen and (max-width: 992px){
    top: 193px;
    max-width: 100%;
    background-color: $tr;
    padding: 0;
    height: calc(100vh - 60px);
    order: 2;
  }

  @media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    .sidebar {
      background-color: red;
    }
  }

  .sidebar-header {
    padding: 20px;
  }

  .close-sidebar {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: background-color ease 0.2s;
    cursor: pointer;
    margin-left: auto;

    &:hover {
      &:after,
      &:before {
        background-color: $blue_05;
      }
    }

    &:after {
      content: '';
      width: 100%;
      height: 2px;
      background-color: $blue_09;
      transform: rotate(45deg);
      display: block;
      border-radius: 5px;
    }

    &:before {
      content: '';
      width: 100%;
      height: 2px;
      background-color: $blue_09;
      transform: rotate(-45deg);
      display: block;
      margin-bottom: -2px;
      border-radius: 5px;
    }
  }

  .sidebar-title {
    font: 300 20px/28px $font-umbutu;
    text-align: center;
    color: $blue_0e;
    margin-bottom: 15px;
  }

  .back_quick_link {
    text-decoration: none;

    &:hover {
      .back_quick_link_text {
        text-decoration: none;
      }
    }

    .back_quick_link_text {
      text-decoration: underline;
    }
  }

  .no-results-text {

  }
}

.main-content {
  transition: height ease 0.2s;
  height: calc(100vh - 200px);
  width: calc(100% - 375px);
  margin-left: auto;
  position: relative;

  @media only screen and (min-width: 993px) {
    z-index: 4
  }

  @media only screen and (max-width: 992px){
    height: 273px;
    order: 1;
    width: 100%;
    z-index: 1;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .map-element {
    .gm-style {
      .gm-style-iw-c {
        box-shadow: none;
        border: none;
        background-color: transparent;

        .gm-style-iw-d {
          overflow: hidden !important;
        }

        .gm-ui-hover-effect {
          top: 5px !important;
        }
      }
    }

    #storeloc_list {
      width: 350px;

      @media only screen and (max-width: 992px){
        width: 100%;
      }
      
      &.popup_store {
        li {
          margin: 0 !important;
          min-height: 120px !important;
          height: auto !important;

          .adress {
            margin-bottom: 10px !important;
          }
        }

        .button {
          top: auto !important;
          bottom: 20px !important;

          @media only screen and (max-width: 992px){
            width: 100%;
            position: relative;
            bottom: 0 !important;
            right: auto;
          }


          &.hyper,
          &.market,
          &.express,
          &.easy {
            @media only screen and (max-width: 992px){
              background-position: 42% 8px!important;
            }

            @media only screen and (max-width: 450px) {
              background-position: 40% 8px!important;
            }

            @media only screen and (max-width: 350px) {
              background-position: 36% 8px!important;
            }
          }
        }

        .store-timetable {
          .store-timetable-span {
            margin-left: -4px;

            &:before {
              top: 28.5px;
            }
          }
        }
      }
    }
  }
}


/* drodown google maps style*/
.pac-container {
  // box-shadow: 0px 1px 6px rgba(0,0,0,0.29);
  border-radius: 0 0 8px 8px;
  background-color: #ffffff;

  &.pac-logo {
    &:after {
      display: none;
    }
  }
}

.pac-item {
  border-color: #EBEBEB;
  padding: 8px 10px 8px 34px;

  &:hover {
    background-color: #E4F0FE;
    border-color: #E4F0FE;

    span {
      color: #0970E6;
    }
  }

  span {
    font-family: $font-open-sans;
    font-size: 14px !important;
    line-height: 19px;
    color: #0E3368;
    font-weight: 400;

    &.pac-icon {
      display: none;
    }
  }
}

/* here dropdown style*/
.ui-widget{
  &.ui-widget-content {
    box-shadow: 0px 1px 6px rgba(0,0,0,0.29);
    border-radius: 0px 0px 8px 8px;
    border: none;
    background-color: $white;
    max-height: 280px;
    overflow: auto;
  }
}

.ui-menu {
  .ui-menu-item {
    border-color: #EBEBEB;
    padding: 14px 10px 14px 34px;
    border-bottom: 1px solid #EBEBEB; 

    &:hover {
      background-color: #E4F0FE;
      border-color: #E4F0FE;
    }
  }

  .ui-menu-item-wrapper {
    padding: 0;
    font-family: $font-open-sans;
    font-size: 14px !important;
    line-height: 19px;
    color: #0E3368;
    font-weight: 400;

    &.ui-state-active {
      background-color: $tr;
      border-color: $tr;
      color: #0970E6;
    }
  }
}

/* custom-loading-block*/
.custom-loading-block {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0 auto;
  display: none;

  &.show {
    display: block;
  }
  
  .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    &:before {
      content: '';
      display: block;
      margin: 0 auto;
      width: 15%;
      height: 15%;
      background-color: #0970E6;
      border-radius: 100%;
      -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
      animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
    }
  }

  .sk-circle2 {
    transform: rotate(40deg);

    &:before {
      animation-delay: -0.8s;
    }
  }

  .sk-circle3 {
    transform: rotate(80deg);

    &:before {
      animation-delay: -0.7s;
    }
  }

  .sk-circle4 {
    transform: rotate(120deg);

    &:before {
      animation-delay: -0.6s;
    }
  }

  .sk-circle5 {
    transform: rotate(160deg);

    &:before {
      animation-delay: -0.5s;
    }
  }

  .sk-circle6 {
    transform: rotate(200deg);

    &:before {
      animation-delay: -0.4s;
    }
  }

  .sk-circle7 {
    transform: rotate(240deg);

    &:before {
      animation-delay: -0.3s;
    }
  }

  .sk-circle8 {
    transform: rotate(280deg);

    &:before {
      animation-delay: -0.2s;
    }
  }

  .sk-circle9 {
    transform: rotate(320deg);

    &:before {
      animation-delay: -0.1s;
    }
  }
}

/* modify they style*/
header.top_header a.close_link {
  right: -20px;

  @media only screen and (max-width: 992px){
    top: -23px;
  }
}

.center.wrapper {
  padding: 0;
}

#search_field_store {
  .relative {
    &.has-value {
      span.icon-delete-content-field {
        opacity: 1;
      }
    }
  }
}

#search_field_store {
  input[type=text] {
    padding: 10px 40px;
  }

  input[type=text]::placeholder {
    text-align: left;
    padding-left: 20px;
  }
}

/* change size of controlf of google maps*/
.gm-control-active {
  @media only screen and (max-width: 992px){
    display: none;
  }
}
.gm-bundled-control-on-bottom {
  .gmnoprint {
    @media only screen and (max-width: 992px){
      display: none;
    }

    > div {
      width: 26px !important;
      height: 53px !important;
      display: flex;
      flex-direction: column;
      margin-left: 14px;

      button {
        width: 26px !important;
        height: 26px !important;
      }
    }
  }
}

.poi-info-window {
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
}


#search_field_store input:focus {
  text-indent: 0;
  padding-top: 12px;
}

.search-wrapper,
.results-wrapper {
  display: none;

  &.show {
    display: block;
  }
}

.search-results-list {
  @media only screen and (max-width: 992px){
    padding: 0 30px;
  }
}

#storeloc_list {
  .button {
    width: 150px;
    position: relative;
    z-index: 1;
  }
}

.map-search-box {
  @media only screen and (max-width: 992px){
    height: 100%;
  }
}

.results-mobile-top {
  header {
    &.main_title {
      @media only screen and (max-width: 992px){
        padding: 10px 0px 20px 0!important;
      }
    }
  }
  &.only-mobile {
    display: none;

    @media only screen and (max-width: 992px){
      display: block;
      width: 100%;
      background-color: #ffffff;
      padding: 0 22px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.29);
      position: relative;
      z-index: 1;
    }

    .top_header {
      @media only screen and (max-width: 992px){
        padding: 20px 0 22px 0;
      }
    }

    h2 {
      @media only screen and (max-width: 992px){
        padding-bottom: 5px !important;
      }
    }

    .back_quick_link {
      @media only screen and (max-width: 992px){
        text-decoration: none;
      }

      &:hover {
        .back_quick_link_text {
          text-decoration: none;
        }
      }

      .back_quick_link_text {
        @media only screen and (max-width: 992px){
          text-decoration: underline;
        }
      }
    }
  }

  &.only-desktop {
    display: block;
    
    @media only screen and (max-width: 992px){
      display: none;
    }
  }
}

.results-wrapper {
  @media only screen and (max-width: 992px){
    height: auto;
  }

  &.loading {
    .save-filter-btn {
      visibility: hidden;
      opacity: 0;
    }
  }

  .results-mobile-top {
    @media only screen and (max-width: 992px){
      position: fixed;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: $white;
      padding: 0 22px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.29);
    }
  }

  header {
    &.top_header {
      @media only screen and (max-width: 992px){
        padding: 14px 0 22px 0;
      }

    }
  }

  h2 {
    @media only screen and (max-width: 992px){
      padding-bottom: 5px !important;
    }
  }

  #storeloc_list {
    position: static;

    li {
      position: relative;
    }

    .show-open-window {
      margin-bottom: 2px !important;
      cursor: pointer;

      &:after {
        content:'';
        width: 100%;
        height: 100%;
        background-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .open {
      margin-bottom: 0 !important;
    }

    li.selected .reset a, li.selected:hover .reset a {
      color: #ffffff !important;
    }

    li {
      &.selected {
        .txt-green,
        .txt-light-grey {
          color: #ffffff !important;
        }
      }
      p {
        &.reset {
          margin-bottom: 0 !important;
        }
      }
    }
  }

  header{
    &.top_header {
      padding: 20px 0 22px 0;
    }
  }
}

/*map-search-options*/
.map-search-options {
  background-color: $white;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 8px;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 12px;
  cursor: pointer;

  @media only screen and (max-width: 992px){
    font-size: 13px !important;
    width: 210px;
    display: none;
  }

  &.need-map-refresh {
    @media only screen and (max-width: 992px){
      width: 150px;
    }
    .not-selected-text {
      display: flex;
    }

    .selected-text {
      display: none;
    }

    .input {
      display: none;
    }
  }

  &.loading {
    @media only screen and (max-width: 992px){
      width: auto;
    }
    .not-selected-text {
      display: none;
    }

    .selected-text {
      display: none;
    }

    .input {
      display: none;
    }

    .loading-map-search {
      display: flex;
    }
  }

  .selected-text {
    padding-left: 30px;
    display: block;
    white-space: nowrap;
    line-height: 17px;
    font-size: 13px;
  }

  .not-selected-text {
    display: none;
    align-items: center;
    white-space: nowrap;

    &:before {
      content:'';
      width: 20px;
      height: 20px;
      display: inline-block;
      background: url('#{$img_carrefour}refresh-blue.svg') center center no-repeat;
      margin-right: 10px;
      background-size: 82%;
      margin-top: 2px;
    }
  }

  .map-search-options-container {
    position: relative;
  }

  .loading-map-search {
    display: none;
    align-items: center;
    height: 40px;
    padding: 0 20px;

    .item {
      width: 6px;
      height: 6px;
      margin-right: 11px;
      display: inline-block;
      border-radius: 50%;
      background-color: $blue_18;
      animation-name: mapSearchOptionLoading;
      animation-duration: 0.8s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-fill-mode: both;
      vertical-align: middle;

      &:last-child {
        margin-right: 0;
      }

      &:nth-child(1) {
        animation-delay: -0.3s;
      }

      &:nth-child(2) {
        animation-delay: -0.15s;
      }
    }
  }

  .input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0px;
    display: flex;
    align-items: center;

    input {
      width: 100%;
      height: 100%;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      cursor: pointer;
    }

    input[type=checkbox]:checked + label {
      background: $blue_18 url('#{$img_carrefour}check-white.svg') center center no-repeat;
      background-size: 59%;
      border-color: $blue_18;
    }

    label {
      position: absolute;
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      background: $tr url('#{$img_carrefour}check-white.svg') center center no-repeat;
      transition: all ease 0.2s;
      background-size: 59%;
      border-radius: 3px;
      border: 1px solid $gray_92;
      position: relative;
      margin: 0px;
    }
  }
}

.search-results {
  overflow: auto;
  height: calc(100vh - 307px);
  margin: 0 -30px;
  padding: 30px 30px 59px 30px;

  @media only screen and (max-width: 992px){
    background-color: $white;
    height: auto;
    overflow: auto;
    padding: 25px 0 25px 0;
    margin: 0;
  }

  &.no-results {
    .no-results-text {
      display: none;
    }

    .search-results-list {
      min-height: calc(100% - 52px);
    }
  }

  .search-results-list {
    min-height: calc(100% - 88px);
    position: relative;

    @media only screen and (max-width: 992px){
      min-height: calc(100% - 93px);
    }
  }

  #storeloc_list {
    li {
      transition: background-color ease 0.3s, color ease 0.3s;

      p {
        transition: color ease 0.3s;
      }
    }
  }
}

.search-wrapper {
  @media only screen and (max-width: 992px){
    background-color: $white;
    height: 100%;
    padding: 0 30px;
  }

  header {
    &.top_header {
      @media only screen and (max-width: 992px){
        padding: 20px 0 18px 0;
      }
    }
  }

  #search_field_store {
    .wrapper {
      label {
        &.selected-label {
          left: 15px;
        }
      }
    }
  }

  .search-wrapper-subtitle {
    padding: 0 20px;
  }

  header {
    &.main_title {
      @media only screen and (max-width: 992px){
        padding: 20px 0 9px 0 !important;
      }
    }
  }

  #map_search_autocomplete {
    &.ui-autocomplete-loading {
      + #map_search_reset {
        cursor: progress;
        
        &:before {
          display: none;
        }

        &:after {
          border-color: #188ffc #188ffc #188ffc transparent;
          -webkit-animation:ld-spin 1s infinite;
          animation:ld-spin 1s infinite;
          border-radius: 50%;
          border-style: solid;
          border-width: 3px;
          display: block;
          position: absolute;
          height: 18px;
          content: '';
          width: 18px;
          top: 50%;
          right: 0px;
          margin-top: 2px;
        }
      }
    }
  }
}

.mb-20 {
  margin-bottom: 20px;
}

.loading-block {
  margin-bottom: 47px;
  padding-top: 10px;
}

.result-block {
  padding-bottom: 80px;
}

.filter-block {
  height: 40px;
  background-color: #F5F6F7;
  border-top: 0.5px solid #AEB6BF80;
  border-bottom: 0.5px solid #AEB6BF80;
  margin: 0 -30px 0px -30px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  position: relative;
  cursor: pointer;

  &.fixed {
    @media only screen and (min-width: 993px) {
      position: fixed;
      top: 200px;
      width: 375px;
      z-index: 3;
    }

    + .search-results {
      @media only screen and (min-width: 993px) {
        padding-top: 71px;
      }
    }
  }

  @media only screen and (max-width: 992px){
    margin: 0;
  }

  .open-filter-block {
    position: absolute;
    top: -7px;
    left: 0;
    width: 39px;
    height: 50px;
    background: url('#{$img_carrefour}bg-test.png') center center no-repeat;
    background-size: contain;
  }

  .open-filter {
    width: 36.18px;
    height: 36.18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 2px solid #0970E6;
    position: relative;
    z-index: 2;
    cursor: pointer;
    margin-top: 7px;
    margin-left: 3px;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0px);
    }
  }

  .icon {
    &.icon-filtering {
      color: #0970E6;
    }
  }

  h3 {
    font: 400 16px/20px $font-open-sans;
    color: #0E3368;
    margin: 0 0 0 8px;
    padding: 0 !important;
  }
}

.filter-block-results {
  margin: 0 -30px;
  height: calc(100vh - 200px);
  position: relative;
  display: none;

  @media only screen and (max-width: 992px){
    margin: 0;
    height: calc(100vh - 193px);
  }

  &.show {
    display: block;
    @media only screen and (max-width: 992px){
      position: relative;
      // z-index: 10;
    }
  }
  .filter-results-items {
    ul {
      @media only screen and (max-width: 992px){
        padding: 0 30px;
      }
    }

    #filtering {
      li {
        padding-left: 30px;

        @media only screen and (max-width: 992px){
          padding-left: 0px;
        }
      }
      
      label {
        &:hover {
          @media only screen and (min-width: 993px){
            color: #05529C;
          }

          .icon {
            @media only screen and (min-width: 993px){
              color: #05529C !important;
            }

            @media only screen and (max-width: 992px){
              color: #AEB6BF !important;
            }
          }

          span {
            @media only screen and (max-width: 992px){
              color: #575757 !important;
            }
          }
        }

        &.container {
          width: 100% !important;
          padding-left: 35px !important;
        }

        &.calendar-filter {
          min-height: 30px;

          &.date-selected {
            padding-top: 5.5px;
          }
        }
      }
    }
  }

  .filter-results-content {
    height: calc(100vh - 200px);
    overflow-y: auto;
    overflow-x: hidden;

    @media only screen and (max-width: 992px){
      height: calc(100vh - 273px);
    }

    #map_search_filters {
      height: calc(100vh - 340px);
      overflow-y: auto;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;

      @media only screen and (max-width: 992px){
        height: calc(100vh - 334px);
      }
    }
  }

  .top_header {
    background-color: #F5F6F7;
    padding: 18px 0 18px 0;
  }

  .card-header {
    padding-left: 30px;
    padding-right: 30px;
  }

  .header {
    &.main_title {
      padding: 0 !important;

      h2 {
        padding: 0 !important;
      }
    }
  }

  .card-body {
    padding: 20px 30px;
  }

  #services_section {
    #accordion {
      .btn-link {
        font-weight: 600;
        background-color: transparent;

        &:after {
          content: "\ea13";
        }

        &.collapsed {
          &:after {
            content: "\ea16";
          }
        }
      }
    }
  }

  .ptb-20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  .filter-block-results-header {
    .badge {
      position: absolute;
      top: 23px;
      right: 51px;
    }
  }

  header{
    &.top_header {
      .filter-block-results-header {
        a.close_link {
          padding: 20px;
          right: 0;
          top: 0;
        }
      }
    }
  }
}

/* badge*/
.badge {
  width: 20px;
  height: 20px;
  background-color: #52cc8c;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    display: block;
    font-family: $font-open-sans;
    font-size: 10px !important;
    color: #ffffff;
  }
}

.pr-30 {
  padding-right: 30px;
}

.pl-10 {
  padding-left: 10px;
}

/* checkbox-with-img */
.checkbox-with-img {
  display: flex;
  flex-wrap: wrap;

  .item {
    width: 62px;
    height: 64px;
    margin: 0 10px 20px 0;
    position: relative;

    &:hover {
      label {
        @media only screen and (min-width: 993px) {
          border-color: #0970E6;
        }
      }
    }

    input {
      border: none;
      outline: none;
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      cursor: pointer;
    }

    input[type=checkbox]:checked + label {
      border-color: #0970E6;
    }

    label {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      border: 1px solid #E5E5E5;
      padding: 10px;
      border-radius: 8px;
      width: 100%;
      height: 100%;

      img {
        max-width: 100%;
      }
    }

    // &:hover {
    //   label {
    //     border-color: #0970E6;
    //   }
    // }
  }
}

.ml-0 {
  margin-left: 0;
}


/*ratio-input*/
#filtering {
  .checkmark {
    &:hover {
      @media only screen and (max-width: 992px) {
        border-color: #BCBCBC;
      }
    }
  }
}
.ratio-input {
  &#filtering {
    label {
      position: relative;

      &:hover {
        @media only screen and (min-width: 993px) {
          color: #05529C;
        }

        @media only screen and (max-width: 992px) {
           color: #575757;
        }
      }
    }

    input {
      width: 100%;
      height: 100%;
      left: 0;

      &#third-input {
        min-height: 30px;
      }
    }

    input[type=radio]:checked + .checkmark:after {
      opacity: 1;
      visibility: visible;
    }

     input[type=radio]:checked + .checkmark {
      background-color: #4CCD8A;
    }

    .checkmark {
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
      

      &:hover {
        @media only screen and (min-width: 993px) {
          border-color: #4CCD8A;
        }

        @media only screen and (max-width: 992px) {
          border-color: #BCBCBC;
        }
      }

      &:after {
        content:'';
        width: 11px;
        height: 11px;
        background-color: #ffffff;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        opacity: 0;
        visibility: hidden;
        transition: all ease 0.2s;
      }
    }

    .icon {
      // font-size: 14px !important;
    }
  }
}

.search-list-actions {
  transition: opacity ease 0.2s, visibility ease 0.2s;
  visibility: visible;
  opacity: 1;

  &.hidden-searchlist-footer {
    visibility: hidden;
    opacity: 0;
  }
}


.save-filter-btn {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px -2px 8px rgba(196, 199, 199, 1);
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 992px){
    position: fixed;
  }

  button {
    border: none;
  }
  
  &.fixed {
    transition: opacity ease 0.2s, visibility ease 0.2s;
    position: fixed;
    width: 360px;

    @media only screen and (max-width: 992px){
      width: 100%;
    }
  }
}

/* for iphone add more space bottom for bar*/

body {
  /* for iphone 6/7/8*/
  &.iphone_6_8 {
    &.no-header {
      .filter-block-results {
        &.show {
          @media only screen and (max-width: 992px){
            background-color: #F5F6F7;
          }
        }
      }

      // .home-page {
      //   &.is-results-wrapper {
      //     &.mobile {
      //       .main-content {
      //         @media only screen and (max-width: 992px){
      //           height: calc(100vh - 156px);
      //         }

      //         .map-container-with-reset {
      //           @media only screen and (max-width: 992px){
      //             height: calc(100% - 100px);
      //           }
      //         }
      //       }
      //     }
      //   }
      // }
    }

    &.header-md {
      .filter-block-results {
        &.show {
          @media only screen and (max-width: 992px){
            background-color: #F5F6F7;
          }
        }
      }

      .home-page {
        &.is-results-wrapper {
          &.mobile {
            .main-content {
              @media only screen and (max-width: 992px){
                height: calc(100vh - 306px);
              }
            }
          }
        }
      }

      // .section-map {
      //   &.mobile {
      //     .map-container-with-reset {
      //       @media only screen and (max-width: 992px){
      //         height: calc(100% - 100px)
      //       }
      //     }
      //   }
      // }

      &.banner-promotion {
        .filter-block-results {
          &.show {
             @media only screen and (max-width: 992px){
              background-color: #F5F6F7;
             }
          }
        }

        // .home-page {
        //   &.is-results-wrapper {
        //     &.mobile {
        //       .main-content {
        //         @media only screen and (max-width: 992px){
        //           height: 273px;
        //         }
        //       }
        //     }
        //   }
        // }
      }
    }
  }
  
  /* for iphone X*/
  &.is-iphone-x {
    &.no-header {
      .filter-block-results {
        &.show {
          @media only screen and (max-width: 992px){
            background-color: #F5F6F7;
          }
        }
      }
    }

    &.header-md {
      .filter-block-results {
        &.show {
           @media only screen and (max-width: 992px){
            background-color: #F5F6F7;
           }
        }
        // .filter-results-content {
        //   #map_search_filters {
        //     @media only screen and (max-width: 992px){
        //       height: calc(100% - 174px);
        //     }
        //   }
        // }
      }

      .section-map.mobile {
        .map-container-with-reset {
          @media only screen and (max-width: 992px){
            height: calc(100% - 120px);
          }
        }
      }

      // .home-page {
      //   &.is-results-wrapper {
      //     &.mobile {
      //       .main-content {
      //         @media only screen and (max-width: 992px){
      //           height: calc(100vh - 344px);
      //         }
      //       }
      //     }
      //   }
      // }

      &.banner-promotion {
        .filter-block-results {
          &.show {
             @media only screen and (max-width: 992px){
              background-color: #F5F6F7;
             }
          }

          // .filter-results-content {
          //   #map_search_filters {
          //     @media only screen and (max-width: 992px){
          //       height: calc(100% - 173px);
          //     }
          //   }
          // }
        }
        // .home-page {
        //   &.is-results-wrapper {
        //     &.mobile  {
        //       .main-content {
        //         @media only screen and (max-width: 992px){
        //           height: calc(100vh - 393px);
        //         }
        //       }
        //     }
        //   }
        // }
      }
    }
  }
}
// body{
//   &.is-iphone-x {
//     .home-page {
//       &.is-results-wrapper {
//         &.mobile {
//           .main-content {
//             @media only screen and (max-width: 992px){
//               height: calc(100vh - 230px);
//             }
//           }
//         }
//       }
//     }

//     &.banner-promotion {
//       .home-page {
//         &.is-results-wrapper {
//           &.mobile {
//             .main-content {
//               @media only screen and (max-width: 992px){
//                 height: calc(100vh - 280px);
//               }
//             }
//           }
//         }
//       }   
//     }

//     .filter-block-results {
//       @media only screen and (max-width: 992px){
//         height: calc(100vh - 175px);
//       }

//       .filter-results-content {
//         @media only screen and (max-width: 992px){
//           height: calc(100vh - 256px);
//         }

//         #map_search_filters {
//           @media only screen and (max-width: 992px){
//             height: calc(100vh - 316px);
//           }
//         }
//       }
//     }

//     &.no-header {
//       .home-page {
//         &.is-results-wrapper {
//           &.mobile {
//             .main-content {
//               @media only screen and (max-width: 992px){
//                 height: calc(100vh - 194px);
//               }
//             }
//           }
//         }

//         .filter-block-results {
//           @media only screen and (max-width: 992px){
//             height: calc(100vh - 114px);
//           }

//           .filter-results-content {
//             @media only screen and (max-width: 992px){
//               height: calc(100vh - 194px);
//             }

//             #map_search_filters {
//               @media only screen and (max-width: 992px){
//                 height: calc(100vh - 254px);
//               }
//             }
//           }
//         }
//       }
//     }
//   }

  
//   &.iphone_6_8 {
//     /* iphone_6_8 no header*/
//     &.no-header {
//       .filter-block-results {
//         @media only screen and (max-width: 992px){
//           height: calc(100vh - 76px);
//         }

//         .filter-results-content {
//           @media only screen and (max-width: 992px){
//             height: calc(100vh - 156px);
//           }

//           #map_search_filters {
//             @media only screen and (max-width: 992px){
//               height: calc(100vh - 216px);
//             }
//           }
//         }
//       }

//       .home-page{
//         &.is-results-wrapper{
//           &.mobile  {
//             .main-content {
//               @media only screen and (max-width: 992px){
//                 height: calc(100vh - 155px);
//               }

//               .map-container-with-reset {
//                 @media only screen and (max-width: 992px){
//                   height: 74%;
//                 }
//               }
//             }
//           }
//         }
//       }
//     }

//     &.header-md {
//       &.external-style {
//         .is-results-wrapper {
//           .sidebar {
//             @media only screen and (max-width: 992px){
//              top: 0px;
//             }
//           }
//         }
//         .sidebar {
//           @media only screen and (max-width: 992px){
//            top: 193px;
//           }
//         }

//         .filter-block-results {
//           @media only screen and (max-width: 992px){
//             height: calc(100vh - 269px);
//           }

//           .filter-results-content {
//             @media only screen and (max-width: 992px){
//               height: calc(100vh - 350px);
//             }

//             #map_search_filters {
//               @media only screen and (max-width: 992px){
//                 height: calc(100vh - 408px);
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }



/* style for chrome on window*/
// body{
//   &.win {
//     &.chrome {
//       .icon {
//         &.icon-localise-me {
//           width: 25px;
//           height: 25px;

//           &:before {
//             position: absolute;
//             top: -25px;
//           }
//         }

//         &.icon-delete-content-field {
//           width: 20px;
//           height: 15px;

//           &:before{
//             position: absolute;
//             top: -15px;
//           }

//           &:after {
//             margin-top: -10px;
//           }
//         }

//         &.icon-filtering {
//           width: 16px;
//           height: 16px;

//           &:before {
//             position: absolute;
//             top: -15px;
//           }
//         }

//         &.icon-simply-you-box {
//           width: 14px;
//           height: 14px;
//           position: relative;

//           &:before {
//             position: absolute;
//             top: -14px;
//           }
//         }

//         &.icon-delivery-bike {
//           width: 20px;
//           height: 14px;
//           position: relative;

//           &:before {
//             position: absolute;
//             top: -14px;
//           }
//         }
//       }

//       #filtering {
//         .checkmark{
//           &:after {
//             top: -9px;
//           }
//         }
//       }
//     }
//   }
// }

