.pt-24 {
  padding-top: 24px;
}

.w-22 {
  width: 22px;
}

.d-contents {
  display: contents;
}

.absolute-desktop {
  position: absolute;
  top: 40px;
  right: 70px;
  @media only screen and (max-width: 767px) {
    position: relative !important;
    top: auto !important;
    right: auto !important;
  }
}

.detail-page-aside {
  max-width: 252px;
  width: 100%;
  background-color: $white;
  padding: 26px 0px 26px 0px;
  margin-right: 32px;

  @media only screen and (max-width: 767px) {
    max-width: 100%;
    padding: 144px 0px 0px 0px;
    background-color: $tr;
    position: relative;
    z-index: 1;
    margin-right: 0
  }

  .wrapper {
    width: 100%;
    margin-left: auto;

    @media only screen and (max-width: 767px) {
      max-width: 100%;
    }
  }

  .detail-page-aside-container {
     @media only screen and (max-width: 767px) {
      background-color: $white;
      padding: 20px;
     }

     .btn-link {
      background-color: transparent !important;
      color: #575757 !important;
      font-weight: 100 !important;

      &:hover {
        font-weight: 100 !important;
      }
    }

    #services_section {
      #accordion {
        .btn-link {
          &:hover {
            font-weight: 100 !important;
          }
        }
      }
    }

    #details_opening_hours {
      li {
        a {
          > span {
            padding-left: 26px;
            display: flex;
            flex-direction: column;

            &:before {
              left: -27px;
              top: 7px;
            }

            .today-work-hour {
              margin-left: 0;
            }
          }
        }
      }
    }
  }

  #services_section {
    #accordion {
      .btn-link{
        &:after {
          content:"\ea13";
        }
        
        &.collapsed{
          &:after {
            content:"\ea16";
          }
        }
      }
    }
  }

  .opening-hours-block {
    .today-work-hour {
      display: block;
      margin-left: 26px;
    }

    .closed .icon {
      font-size: 6px !important;
      margin: 0 0 0 5px;
      position: relative;
      top: -2px;
    }

    .opening-hours-week {
      display: none;
    }
  }

  .shop-logo {
    padding-top: 26px;
    margin-bottom: 10px;

    @media only screen and (max-width: 767px) {
     text-align: center;
    }

    img {
      width: 45px;
      height: auto;
    }
  }

  h2 { 
    font-size: 26px !important;
    line-height: 38px;

    @media only screen and (max-width: 767px) {
      text-align: center;
    }
  }

  #services_section {
    @media only screen and (max-width: 767px) {
      margin-left: -20px;
      margin-right: -20px;
    }
  }
}

.gm-bundled-control-on-bottom {
  bottom: 65px !important;
  right: 30px !important;

  .gmnoprint {
    @media only screen and (max-width: 767px) {
      display: none;
    }

    > div {
      width: 26px !important;
      height: 53px !important;

      button {
        width: 26px !important;
        height: 26px !important;
      }
    }
  }
}

//Review
#location_reviews_block {
  margin-top: 25px;
  display: none;
  justify-content: space-between;
  align-items: center;

  .review-rating {
    display: inline-block;
    font-size: 21px !important;
    line-height: 21px;
    font-weight: 600 !important;
    color: #FFA917;
    font-family: $font-open-sans;
    margin-right: 7px;
  }

  div {
    flex: 1;
    text-align: right;
    margin-left: 10px;

    a {
      font-size: 14px;
      line-height: 22px;
      font-family: $font-open-sans;
    }
  }

  .stars-container {
    position: relative;
    display: inline-block;
    color: transparent;
    width: 55px;
    line-height: 12px;
  }

  .stars-container:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    color: lightgray;
    font-size: 11px;
  }

  .stars-container:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    color: #FFA917;
    overflow: hidden;
    font-size: 11px;
  }

  //one star
  .stars-0:after {width: 0}
  .stars-2:after {width: 5%}
  .stars-4:after {width: 6%}
  .stars-6:after {width: 7%}
  .stars-8:after {width: 9%}
  .stars-10:after {width: 10%}
  .stars-12:after {width: 11%}
  .stars-14:after {width: 13%}
  .stars-16:after {width: 14%}
  .stars-18:after {width: 15%}
  .stars-20:after {width: 20%}
  //two star
  .stars-22:after {width: 25%}
  .stars-24:after {width: 26%}
  .stars-26:after {width: 27%}
  .stars-28:after {width: 29%}
  .stars-30:after {width: 30%}
  .stars-32:after {width: 31%}
  .stars-34:after {width: 33%}
  .stars-36:after {width: 34%}
  .stars-38:after {width: 35%}
  .stars-40:after {width: 40%}
  //three star
  .stars-42:after {width: 45%}
  .stars-44:after {width: 46%}
  .stars-46:after {width: 47%}
  .stars-48:after {width: 49%}
  .stars-50:after {width: 50%}
  .stars-52:after {width: 51%}
  .stars-54:after {width: 53%}
  .stars-56:after {width: 54%}
  .stars-58:after {width: 55%}
  .stars-60:after {width: 60%}
  //four star
  .stars-62:after {width: 65%}
  .stars-64:after {width: 66%}
  .stars-66:after {width: 67%}
  .stars-68:after {width: 69%}
  .stars-70:after {width: 70%}
  .stars-72:after {width: 71%}
  .stars-74:after {width: 73%}
  .stars-76:after {width: 74%}
  .stars-78:after {width: 75%}
  .stars-80:after {width: 80%}
  //five star
  .stars-82:after {width: 85%}
  .stars-84:after {width: 86%}
  .stars-86:after {width: 87%}
  .stars-88:after {width: 89%}
  .stars-90:after {width: 90%}
  .stars-92:after {width: 91%}
  .stars-94:after {width: 93%}
  .stars-96:after {width: 94%}
  .stars-98:after {width: 95%}
  .stars-100:after {width: 100%}
}
