.flex{
  &.start {
    align-items: flex-start;
  }

  &.flex-1 {
    flex: 1;
  }
}
.pb-20 {
  padding-bottom: 20px
}

.no-header {
  .detail-page-aside {
    @media only screen and (max-width: 767px) {
      padding: 120px 0px 0px 0px;
    }
  }

  .detail-page-main {
    .detail-page-map-block{
      @media only screen and (max-width: 767px) {
        top: 0;
      }
    }
  }
}

.column-mobile {
  @media only screen and (max-width: 767px) {
    flex-direction: column;
  }
}

#block_details_promotions,
#block_details_campaigns {
  .detail-slider {
    overflow: hidden;
    max-width: 827px;
    width: 100%;

    @media only screen and (max-width: 1200px) {
      max-width: 646px;
    }

    @media only screen and (max-width: 992px) and (min-width: 768px)  {
      max-width: calc(546px + (646 - 546) * ((100vw - 768px) / (992 - 768)));

    }

    @media only screen and (max-width: 767px) {
      max-width: 100%;
    }

    &:after {
      content:'';
      clear: both;
      display: block;
    }

    .owl-carousel {
      padding: 0;

      .owl-stage {
        display: flex;
      }

      .item {
        height: 100%;

        ul {
          height: 100%;

          a {
            height: 100%;
          }
        }

        #banner_component_regular {
          li {
            height: 100% !important;
            display: flex;
            flex-direction: column;

            figure {
              height: auto;
            }

            footer {
              flex: 1;
            }
          }
        }
      }

      .owl-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 15px;

        &.disabled {
          display: none;
        }

        .owl-dot {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #aeb6bf;
          transition: color ease 0.2s;
          margin-right: 10px;
          display: block;
          outline: none;

          &:last-child {
            margin-right: 0;
          }

          &.active,
          &:hover {
            background-color: #1674e3;
          }
        }
      }

      .owl-nav {
        &.disabled {
          display: none;
        }
      }
    }
  }
}

.owl-theme {
  .owl-dots {
    .owl-dot {
      outline: none;
      &.active,
      &:hover {
        span {
          background-color: $blue_18;
        }
      }

      span {
        width: 5px;
        height: 5px;
      }
    }
  }
}

.owl-carousel {
  .owl-item {
    img {
      width: auto;
      display: inline-block;
    }
  }
}

.d-block {
  display: block;
}

.m-l-10 {
  margin-left: 10px;
}

.flex-1 {
  flex: 1;
}

.pr-20 {
  padding-right: 20px;
}

.height-100 {
  height: 100%;
}

.mb-0 {
  margin-bottom: 0 !important;
}

/* open navigation*/
.header-md {
  &.nav-open {
    .detail-page-wrapper {
      padding-top: 160px;
    }
  }

  &.banner-promotion {
    &.nav-open {
      .detail-page-wrapper {
        padding-top: 210px;
      }
    }
  }
}

.detail-page-wrapper {
  .container-wrapper {
    max-width: 1140px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;

    @media only screen and (max-width: 1200px) {
      max-width: 960px;
    }

    @media only screen and (max-width: 767px) {
      padding: 0;
    }

    &.d-flex-up {
      @media only screen and (min-width: 768px) {
        display: flex;
      }
    }
  }
}

.detail-slider {
  #banner_component_regular {
    a {
      &:hover {
        text-decoration: none;

        footer {
          span {
            color: #0E3368 !important;
          }

          .content {
            span {
              color: #575757 !important;
            }
          }
        }
      }
    }

    li {
      height: auto !important;
    }

    figure {
      border-radius: 5px 5px 0px 0px;
    }

    footer {
      padding: 15px 20px 17px 20px;
      text-align: left;

      .description {
        font-size: 14px !important;
        line-height: 18px;
      }

      span {
        &.title {
          font-size: 14px !important;
          font-weight: 600 !important;
          height: 40px;
          overflow: hidden;
          display: block;
          margin-bottom: 10px;
        }
      }
    }

    .morecontent span {
      display: none;
    }

    .read-more {
      display: inline-block;
      padding-top: 15px;
      position: relative;
      z-index: 2;
      font-size: 14px !important;
      line-height: 12px;
      color: #0970E6;
      position: relative;
      padding-right: 20px;

      &:before {
        content:'';
        width: calc(100% - 20px);
        height: 1px;
        position: absolute;
        bottom: -1px;
        left: 0;
        background-color: #0970E6;
      }

      &:after {
        content:'';
        background: url('#{$img_carrefour}add.png') center center no-repeat;
        width: 15px;
        height: 15px;
        display: block;
        background-size: cover;
        display: block;
        position: absolute;
        bottom: -2px;
        right: 0;
      }

      &.less {
        &:after {
          background: url('#{$img_carrefour}less.png') center center no-repeat;
        }
      }

      .name {
        display: block;
        
      }

      .icons {
        &.add {
           background: url('#{$img_carrefour}add.png') center center no-repeat;
           width: 15px;
           height: 15px;
           display: block;
           background-size: cover;
        }
      }
    }
  }

  #banner_component_magazine {
    li {
      height: 100%;
      padding-bottom: 0;

      a {
        &.magazine-img {
          display: block;
          height: 126px;

          figure {
            height: 100%;

            img {
              height: 100%;
            }
          }
        }
      }
    }

    footer {
      padding-top: 15px;
      padding-bottom: 17px;
      text-align: left;
    }
  }
}

.detail-page-main {
  width: 100%;
  flex: 1;

  @media only screen and (min-width: 768px) {
    margin-left: -20px;
    margin-right: -20px;
  }

  @media only screen and (max-width: 767px) {
    padding-bottom: 90px;
    max-width: 100%;
  }

  .save-filter-btn {
    display: none;

    @media only screen and (max-width: 767px) {
      display: flex;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      background-color: #ffffff;
      box-shadow: 0px -2px 8px rgba(245, 246, 246, 1);
      z-index: 4;
    }
  }

  .detail-main-container {
    width: 100%;

    @media only screen and (max-width: 767px) {
      padding: 0;
      position: relative;
      z-index: 1;
      background-color: $white;
      max-width: 100%;
    }

    #stay_connected {
      a {
        @media only screen and (max-width: 992px) {
          width: 100%;
        }
      }
    }

    #storeloc_list {
      &.stores_around {
        .button {
          @media only screen and (max-width: 992px) {
            position: relative;
            left: 0;
            top: 0;
          }
        }
      }
    }

    .flex {
      &.center {
        @media only screen and (max-width: 767px) {
          justify-content: flex-start;
        }
      }
    }

    #near_location_block {
      #storeloc_list {
        li { 
          &.selected {
            background-color: $white !important;
            color: inherit !important;

            .open,
            .closed {
              span {
                &.txt-light-grey {
                  color: #BCBCBC !important;
                }

                &.txt-green {
                  color: #4CCD8A !important;
                }

                &.txt-red {
                  color: #D83832 !important;
                }
              }
            }
          }

          &:hover {
            background-color: $white !important;
            color: inherit !important;
          }
        }
      }
    }

    .center {
      &.wrapper {
        section {
          &.center {
            &.wrapper {
              @media only screen and (max-width: 767px) {
                padding-left: 0;
                padding-right: 0;
              }
            }
          }
        }
      }
    }

    #storeloc_list {
      .row{
        &.column-992 {
          @media only screen and (max-width: 992px) {
            flex-direction: column;
          }
          
          .col-8 {
            @media only screen and (max-width: 992px) {
              flex: 0 0 100%;
              max-width: 100%;
            }
          }

          .col-4 {
            @media only screen and (max-width: 992px) {
              flex: 0 0 100%;
              max-width: 100%;
            }
          }
        }
      }

      li {
        &.mb-0 {
          margin-bottom: 0 !important;
        }
      }
    }
  }

  .detail-page-map-block {
    height: 245px;
    padding-top: 0;
    
    @media only screen and (max-width: 767px) {
      position: fixed;
      top: 60px;
      left: 0;
      right: 0;
      width: 100%;
      height: 120px;
      padding: 0;
    }
  }

  .detail-page-map {
    width: 100%;
    height: 100%;

    .gm-style .gm-style-cc span, .gm-style .gm-style-cc a, .gm-style .gm-style-mtc div {
      font-size: 10px !important;
    }
  }

  #storeloc_list{
    li {
      &.left-item {
        padding-right: 65px;
      }

      h3 {
        margin: 0 0 19px 0!important;

        @media only screen and (max-width: 992px) {
          width: 100%;
        }

        span {
          @media only screen and (max-width: 992px) {
            width: 100% !important;
          }
        }
      }
    }

    &.store_details_address {
      .infos {
        margin-top: 34px;
      }
    }
  }

  aside{
    &#stay_connected {
      @media only screen and (min-width: 768px) {
        background-position: top right;
      }

      @media only screen and (max-width: 767px) {
        background-position: 195px 10px;
      }

      ul {
        @media only screen and (max-width: 767px) {
          flex-direction: column;
        }
      }

      a {
        @media only screen and (min-width: 993px) {
          width: 27%;
        }

        @media only screen and (max-width: 767px) {
          width: 100%;
        }
      }
    }
  }
}