{% extends 'web/base/home.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('css/web/shop/manpower-be/home') }}
{% endblock %}

{% set headerUrl = 'https://manpower.be/' %}
{% if app.request.locale != 'en' %}
    {% set headerUrl = headerUrl~app.request.locale~'/' %}
{% endif %}
{% if app.request.locale == 'nl' %}
    {% set headerUrl = headerUrl~'alle-vacatures' %}
{% elseif app.request.locale == 'fr' %}
    {% set headerUrl = headerUrl~'tous-les-emplois' %}
{% else %}
    {% set headerUrl = headerUrl~'all-vacancies' %}
{% endif %}




{% block header %}
    <div class="menuToggle"><span>MENU</span></div>
    {% autoescape false %}
        {{ remote_content(shop, headerUrl, 'header') }}
    {% endautoescape %}
{% endblock %}

{% block content %}

    {% set twigData = {'filterDynamic': true} %}

 {% for template in templates %}
     {% if template.attribute.block == constant('App\\Entity\\Attribute::BLOCK_MAP') %}

         {% include 'web/shop/manpower-be/block/map_search_list.html.twig' %}
     {% else %}
         {% include 'web/block/' ~ template.attribute.block ~ '/' ~ template.attributeValue.value ~ '.html.twig' ignore missing %}
     {% endif %}
 {% endfor %}

{% endblock %}

{% block footer %}
    {% autoescape false %}
        {{ remote_content(shop, headerUrl, 'footer') }}
    {% endautoescape %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('js/web/shop/manpower-be/app') }}
{% endblock %}

{% block javascripts_main %}
    {{ encore_entry_script_tags('js/web/shop/' ~ shop.code ~ '/home') }}
{% endblock %}

{% block javascripts_var %}
    {{ parent() }}
    {#  Map Settings for this shop (default are defind in js map folder files, DEFAULT_SETTINGS getter) #}
    <script type="text/javascript">
        var globalSettings = {
            map: {
                center: {lat: 50.62313744304004, lng: 5.365809522627387},
                zoom: 10,
            },
            geoLocationCountry: 'BE',
            query: {
                size: 50,
                radius: 15000,
            },
        };
    </script>
{% endblock %}
