{% extends 'web/base/show.html.twig' %}
{% block body_class %}detail-page{% endblock %}
{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('css/web/shop/manpower-be/show') }}
{% endblock %}

{% set headerUrl = 'https://manpower.be/' %}
{% if app.request.locale != 'en' %}
    {% set headerUrl = headerUrl~app.request.locale~'/' %}
{% endif %}
{% if app.request.locale == 'nl' %}
    {% set headerUrl = headerUrl~'alle-vacatures' %}
{% elseif app.request.locale == 'fr' %}
    {% set headerUrl = headerUrl~'tous-les-emplois' %}
{% else %}
    {% set headerUrl = headerUrl~'all-vacancies' %}
{% endif %}


{% block header %}
    <div class="menuToggle"><span>MENU</span></div>
    {% autoescape false %}
        {{ remote_content(shop, headerUrl, 'header') }}
    {% endautoescape %}
{% endblock %}





{% block content %}

    {% set twigData = {

        'defaultDescriptionLeft': 'app.web.show.default_description'|trans({}, shop.code),
        'defaultImageLeft': asset('/build/images/web/shop/'~shop.code~'/cover.jpeg'),
        'defaultTitleLeft': 'app.web.show.title_description'|trans({'%%location_name%%':location.name}, shop.code),
        'nearLocationTitle': 'app.web.show.near_location.title'|trans({'%%location_city%%':location.address.locality}, shop.code)

    } %}

    {% for template in templates %}

        {% if template.attribute.block == constant('App\\Entity\\Attribute::BLOCK_LOCATION_DETAILS') %}
            {% include 'web/shop/manpower-be/block/location_details_with_map.html.twig' %}
        {% else %}
            {% include 'web/block/' ~ template.attribute.block ~ '/' ~ template.attributeValue.value ~ '.html.twig' ignore missing %}
        {% endif %}

    {% endfor %}

{% endblock %}



{% block footer %}
    {% autoescape false %}
        {{ remote_content(shop, headerUrl, 'footer') }}
    {% endautoescape %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('js/web/shop/manpower-be/app') }}
{% endblock %}


{% block javascripts_var %}
    {{ parent() }}

    <script>
        var globalSettings = {
            near_query: {
                size: 9,
                radius: 2000000,
            }
        };
    </script>
{% endblock %}