.overlay-infowindow {
  transition: opacity ease 0.2s, visibility ease 0.2s;
  background-color: rgba(0,0,0, 0.7);
  justify-content: center;
  align-items: center;
  visibility: hidden;
  position: fixed;
  display: flex;
  z-index: 1001;
  opacity: 0;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;

  &.open {
    visibility: visible;
    opacity: 1;
  }

  .overlay-infowindow-container {
    background-color: #ffffff;
    border-radius: 6px;
    position: relative;
    min-height: 200px;
    margin: 0 auto;
    padding: 20px;
    width: 500px;
  }

  .overlay-infowindow-close {
    position: absolute;
    font-weight: 600;
    cursor: pointer;
    display: block;
    color: #000;
    right: 10px;
    top: 10px;
    height: 30px;
    min-width: 100px;
    text-align: right;
  }

  .overlay-infowindow-content {
    margin: 20px;
    font-size: 14px;
  }
}