@import "../vars";

.bread_default {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 20px 0 20px;
  
  @media (max-width: 767px) {
    padding: 20px 20px 0 20px;
  }

  li {
    color: $breadcrump-color;
    margin-bottom: 5px;

    &:after {
      content:'/';
      display: inline-block;
      padding: 0 5px;
    }

    &:first-child {
      padding-left: 15px;
      position: relative;

      &:before {
        content:'';
        background: url("#{$img_path}web/block/breadcrumb/breadcrumb-icon.svg") center center no-repeat;
        background-size: contain;
        position: absolute;
        top: 3px;
        left: 0;
        width: 12px;
        height: 12px;
      }
    }

    &:last-child {
      &:after {
        display: none;
      }
    }

    a {
      color: $breadcrump-color;
      font-weight: 700;

      span {
        color: $breadcrump-color;
        font-weight: 700;
      }
    }
  }
}