@import "../vars";

.section-location-services {
  margin-top: 40px;

  .location-services {
    background-color: $main_blue;
    color: $lite_color;
    padding: 60px 0;
    text-align: center;

    h2 {
      color: $lite_color;
      margin-bottom: 50px;
    }
  }

  .wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 2%;
    position: relative
  }

  .services-block {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 0px) and (max-width: #{$xs_w}px) {
      flex-flow: column;
    }

    li {
      text-transform: uppercase;
      color: $lite_color;
      display: inline-block;
      width: 30%;
      font-size: 15px;
      padding: 10px 10px 10px 30px;
      text-align: left;
      font-weight: bold;
      vertical-align: top;

      b {
        color: #fff;
        font-size: 15px;
      }

      background: url('#{$img_path}web/block/location_services/icon_verified.svg') no-repeat left center / auto 20px;



      @media screen and (min-width: 0px) and (max-width: #{$xs_w}px) {
        width: 100%;
      }

      @media screen and (min-width: #{$xs_w}px) and (max-width: #{$sm_w}px) {
        width: 50%;
      }

    }
  }

  .services-images {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    li {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
      color: #fff;
      display: flex;
      padding: 0 15px;
      -ms-flex-positive: 1;
      -ms-flex-preferred-size: 0;
      min-width: 240px;
      margin-bottom: 20px;
      position: relative;

      &:hover {
        .services-tooltip  {
          display: block;
        }
      }

      span {
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        align-self: center;
        font-weight: bold;
        text-align: left;
      }

      img {
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
        width: 50px;
        height: auto;
      }
    }

    .services-tooltip {
      display: none;
      position: absolute;
      top: calc(100% + 15px);
      left: 50%;
      transform: translateX(-50%);
      background-color: #ffffff;
      border-radius: 5px;
      box-shadow: 0 0 3px 0 rgba(54, 54, 54, 0.2);
      color: #000000;
      width: 100%;
      padding: 15px 10px;
      z-index: 10;
      font-weight: 500;
      line-height: 21px;

      &:after {
        content:'';
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid  #ffffff;
        position: absolute;
        top: -10px;
        left: 30px;
      }
    }
  }

  .services-images-info {
    display: -ms-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;

    li {
      flex-basis: 0;
      flex-grow: 1;
      color: #fff;
      padding: 0 20px;
      text-align: center;
      max-width: 300px;
      -ms-flex-positive: 1;
      -ms-flex-preferred-size: 0;
      margin-bottom: 20px;
      min-width: 200px;

      div {
        margin-bottom: 10px;
      }

      img {
        height: 35px;
      }

      span {
        display: block;
        font-size: 15px;
        color: #fff;
        text-transform: uppercase;
        min-height: 40px;
        margin-bottom: 20px;
        text-align: center;
      }

      button {
        width: 100%;
      }
    }
  }

  .services-payments {
    p {
      color: #fff;
      display: inline-block;
      font-size: 19px;
      margin-right: 15px;
      text-transform: uppercase;
      vertical-align: middle;
    }

    ul {
      display: inline-block;
      vertical-align: middle;

      li {
        display: inline-block;
        vertical-align: middle
      }
    }
  }

  .info-button {
    text-decoration: none;
    background-color: #fff;
    border-radius: 5px;
    display: inline-block;
    color: $blue_text;
    padding: 10px 15px;
    font-size: 13px;
    border: 1px solid $main_blue;
    cursor: pointer;
  }

  // Modals
  .modal-open {
    padding-right: 15px;
    overflow: hidden;
  }

  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    display: none;
    overflow: hidden;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }

  .fade.show {
    opacity: 1;
  }

  .fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
  }

  .modal-dialog {
    position: relative;
    width: auto;
    max-width: 500px;
    margin: 30px auto;
  }

  .modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
  }

  .modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
  }

  .modal-title {
    font: 600 22px/28px Arial, Helvetica, sans-serif;
    color: #000;
  }

  .modal-body {
    font: 500 16px/22px Arial, Helvetica, sans-serif;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
  }

  .modal-body p {
    margin-bottom: 15px;
  }

  .modal-body ul,
  .modal-body ol {
    margin-bottom: 15px;
    margin-left: 16px;
    list-style: disc;
  }

  .modal-body ol {
    list-style: decimal;
  }

  .modal-body p:last-child {
    margin-bottom: 0;
  }

  .modal-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 15px;
    border-top: 1px solid #eceeef;
  }

  .modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out, -o-transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
  }


  .modal.show .modal-dialog {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .modal .close {
    border: 0 none;
    font-size: 20px;
    cursor: pointer;
    background: white;
  }

  @media screen and (min-width: #{$xs_w}px) and (max-width: #{$sm_w}px) {
    .services-images li {
      margin-bottom: 20px;

      span {
        text-align: left;
        font-size: 14px;
      }
    }
  }

  @media screen and (min-width: 0px) and (max-width: #{$xs_w}px) {
    .modal-dialog {
      max-width: 500px;
      margin: 30px auto;
    }

    .services-images-info li {
      margin-bottom: 30px
    }

    @media (min-width: #{$custom_smartphones}px) {
      .modal-dialog {
        max-width: 500px;
        margin: 30px auto;
      }
    }
  }
}
