@import "../vars";
// Here Map API style
@import "map/here-map-api";

.section-location-details {
  margin-top: 50px;

  @media screen and (min-width: 0px) and (max-width: #{$xs_w}px) {
    margin-top: 25px;
  }

  .open-label {
    color: $lite_color;
    font-size: 12px;
    background-color: $success_color;
    border-radius: 10px;
    padding: 3px 13px;
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
  }

  .open-sentence {
    vertical-align: middle;
  }

  .open-label.is-open {
    background-color: $success_color;
  }

  .open-sentence.is-open {
    color: $success_color;
  }

  .open-label.is-closed {
    background-color: $danger_color;
  }

  .open-sentence.is-closed {
    color: $danger_color;
  }

  .details-header {
    background: url('#{$img_path}web/block/location_details/details-header.png') no-repeat center center / cover;
    padding: 50px 0;
    color: $lite_color;
    min-height: 157px;

    h1, h5 {
      color: $lite_color;
    }

    .header-info {
      position: absolute;
      right: 2%;
      top: 0;
      text-align: center;

      @media screen and (min-width: 0px) and (max-width: #{$xs_w}px) {
        position: relative;
        right: 0;
        text-align: inherit;
        padding-top: 10px;

        .m-b-15 {
          position: relative;
          float: left;
        }

        .location-button {
          position: relative;
          float: right;
        }
      }

      .open-sentence {
        color: #fff !important;
      }
    }
  }

  .details-content {
    position: relative;
    overflow: hidden;
    padding: 70px 0;

    @media screen and (min-width: 0px) and (max-width: #{$xs_w}px) {
      padding: 35px 0;
    }

    .details-address-big {
      float: left;
      width: 25%;
      padding: 0 20px;

      @media screen and (min-width: 0px) and (max-width: #{$xs_w}px) {
        width: 100%;
        padding: 0 10px;
      }

      @media screen and (min-width: #{$xs_w}px) and (max-width: #{$sm_w}px) {
        .socials {
          margin-right: 0;

          li {
            margin: 0 3px;
          }
        }
      }
    }
  }

  .wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 2%;
    position: relative;

    &-title {
      text-align: center;
      padding-bottom: 40px;

      .socials {
        position: absolute;
        top: 3px;
        right: 35px;
      }
    }

    &-title-icon {
      margin-bottom: 20px;

      h1 {
        display: flex;
        align-items: center;
      }
    }
  }

  .with-image {
    .call-button {
      margin-right: 10px;
    }

    @media screen and (min-width: #{$sm_w}px) and (max-width: 1024px) {
      .socials li {
        margin: 0 2px;
      }
    }

    .socials {
      margin-right: 0;
    }
  }

  .socials {
    display: inline-block;
    vertical-align: middle;

    li:first-child {
      margin-left: 0;
    }

    li {
      display: inline-block;
      margin: 0 5px;

      &:hover {
        filter: saturate(1.5)
      }

      img {
        width: 30px
      }
    }

    @media screen and (min-width: 0px) and (max-width: #{$xl_w}px) {
      li {
        margin: 0 3px;
      }
    }
  }

  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -1%;
  }

  .col {
    max-width: 100%;
    padding: 0 1.5%;
    align-self: flex-end;
    flex-basis: 0;
    flex-grow: 1;
    -ms-flex-positive: 1;
    -ms-flex-preferred-size: 0;
  }

  .col-35 {
    max-width: 35%;
  }

  .col-65 {
    max-width: 65%;
  }

  .col-box {
    border-width: 1px;
    border-color: rgb(226, 230, 239);
    border-style: solid;
    border-radius: 5px;
    background-color: transparentize($lite_color, 0.831);
    box-shadow: 0 0 3px 0 transparentize($dark_color, 0.8);
    padding: 20px 30px;
  }

  .col-image {
    border-width: 1px;
    border-color: rgb(226, 230, 239);
    border-style: solid;
    border-radius: 5px;
    background-color: transparentize($lite_color, 0.831);
    box-shadow: 0 0 3px 0 transparentize($dark_color, 0.8);
    height: 300px;
  }

  .box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-width: 1px;
    border-color: rgb(226, 230, 239);
    border-style: solid;
    border-radius: 5px;
    //background-color: transparentize($lite_color,0.831);
    box-shadow: 0 0 3px 0 transparentize($dark_color, 0.8);
    padding: 20px;
    overflow: hidden;
    margin-bottom: -40px;
    z-index: 30;
    position: relative;
    background-color: $lite_color;

    .details-image-slider {
      float: left;
      width: 30%;
      box-shadow: 0 0 6px 0 transparentize($dark_color, 0.68);
      border-radius: 5px;
      overflow: hidden;

      @media screen and (min-width: 0px) and (max-width: #{$xl_w}px) {
        width: 100%;
        margin-bottom: 15px;
      }
    }

    .details-address {
      padding: 0 50px;
      float: left;
      width: 30%;

      @media screen and (min-width: 0px) and (max-width: #{$xs_w}px) {
        padding: 0;
      }

      @media screen and (min-width: #{$xs_w}px) and (max-width: #{$sm_w}px) {
        width: 40%;
      }
    }

    .details-info {
      float: left;
      width: 40%;
      padding: 0 20px;
      border-left: 1px solid $lite_gray;

      @media screen and (min-width: 0px) and (max-width: #{$xs_w}px) {
        padding: 0;
      }

      @media screen and (min-width: #{$xs_w}px) and (max-width: #{$xl_w}px) {
        width: 60%;
      }

      .call-button, .text-info {
        display: inline-block;
        margin-right: 10px;
      }
    }
  }

  .image-slider {
    height: 100%;
    border-radius: 5px;

    &.slick-dotted.slick-slider {
      margin-bottom: 0;
      height: 300px;
      overflow: hidden;
    }

    img {
      display: block;
      width: 100%;
      height: 300px;
      object-fit: cover;
    }

    .slick-dots {
      bottom: 15px;

      li {
        width: 20px;
        height: 20px;
        padding: 5px;
        margin: 0;

        &.slick-active {
          button {
            background-color: $second_blue;
          }
        }

        button {
          width: 10px;
          height: 10px;
          border: 1px solid transparent;
          background-color: $lite_color;
          padding: 0;
          border-radius: 50%;

          &:before {
            content: '';
            width: 10px;
            height: 10px;
            border: 1px solid $second_blue;
            background-color: $second_blue;
            top: 4px;
            left: 4px;
            border-radius: 50%;
          }
        }
      }
    }
  }

  .services-button {
    background-color: $main_blue;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    padding: 5px 15px;
    cursor: pointer;
    color: $lite_color;
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.1);

    &:hover {
      filter: saturate(2);
      box-shadow: none
    }
  }

  .details-schedule {
    float: left;
    width: 45%;
    padding: 0 20px;
    border-left: 1px solid $lite_gray;
  }

  .schedule {
    display: table;

    td, th {
      text-align: left;
      width: 50%;
      padding: 5px 0;
      font-weight: normal;
    }

    tr.active {
      font-weight: bold
    }
  }

  .schedule-inline {
    display: table;
    width: 100%;

    td, th {
      text-align: left;
      padding: 5px 0;
      font-weight: normal;

      &.active {
        font-weight: bold
      }
    }


    @media screen and (min-width: 0px) and (max-width: #{$xs_w}px) {
      tbody {
        display: flex;
        justify-content: space-between;

        tr {
          display: flex;
          flex-direction: column;
        }
      }
    }

  }

  .schedule-half {
    float: left;
    width: 50%;
    border-right: 1px solid $lite_gray;
  }

  .schedule-full {
    width: 100%;
  }

  .shedule-exception {
    float: right;
    line-height: 20px;
    width: 50%;
    padding-left: 30px;

    .title-exception {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;

      &.is-open {
        color: $success_color_second;
      }

      &.is-closed {
        color: $danger_color_second;
      }
    }
  }

  .shedule-exception-inline {
    line-height: 20px;
    width: 50%;
    float: left;

    .title-exception {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;

      &.is-open {
        color: $success_color_second;
      }

      &.is-closed {
        color: $danger_color_second;
      }
    }
  }

  .location-button {
    padding-left: 30px;
    background-image: url('#{$img_path}web/block/location_details/icon_location_white.svg');
    background-repeat: no-repeat;
    background-position: left 10px center;
    background-size: auto 60%;
    border: 0;
  }

  .call-button {
    padding-left: 30px;
    background-image: url('#{$img_path}web/block/location_details/icon_phone_white.svg');
    background-repeat: no-repeat;
    background-position: left 10px center;
    background-size: auto 55%;
  }

  .m-b-15 {
    margin-bottom: 15px;
  }

  .m-b-30 {
    margin-bottom: 30px;
  }

  .m-t-5 {
    margin-top: 5px;
  }

  .m-t-10 {
    margin-top: 10px;
  }

  .m-r-10 {
    margin-right: 10px;
  }

  .m-r-15 {
    margin-right: 15px;
  }

  .block-inline {
    width: 100%;
    display: inline-block;

    @media screen and (min-width: 0px) and (max-width: #{$xs_w}px) {
      display: flex;
      flex-flow: column;

      .shedule-exception-inline {
        width: 100%;
      }
    }
  }

  .warning {
    color: $danger_color;
  }

  /* map container */
  .map-block-small {
    float: left;
    width: 30%;
    border: 1px solid $gray;
    border-radius: 5px;
    overflow: hidden;
  }

  .map-container {
    position: relative;
    overflow: hidden;
    padding: 0;
    width: 100%;
    height: 400px;
    min-height: 400px;
  }

  .map-small {
    height: 260px;
    min-height: 260px;
  }

  .map-element {
    height: 100%;
    width: 100%;

    .map-overlay {
      position: absolute;
      display: none;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;

      &.visible {
        display: block;
      }
    }
  }

  @media screen and (min-width: 0px) and (max-width: #{$sm_w}px) {
    .wrapper-title {
      .socials {
        position: relative;
        top: 0;
        right: 0;
        margin-top: 20px;
      }
    }

    .box {
      margin-bottom: 30px;
    }

    .row {
      display: block;
    }

    .col {
      margin-bottom: 30px;
      width: 100%;
      max-width: 100%;
    }

    .schedule-half {
      width: 100%;
      border-right: 0;
    }

    .shedule-exception {
      padding-left: 0;
      width: 100%;
    }

  }

  @media screen and (min-width: 0px) and (max-width: #{$xs_w}px) {
    .box {
      .details-image, .details-address, .details-info {
        width: 100%;
        margin-bottom: 20px;
        border: none;
      }
    }

    .details-address-big, .details-schedule {
      width: 100%;
      margin-bottom: 20px;
      border: none;
      padding: 0 10px;
    }

    .map-block-small {
      width: 100%;
      margin-bottom: 20px;
      border: none;
      padding: 0 10px;
    }
  }
}


@media screen and (min-width: 0px) and (max-width: #{$sm_w}px) {
  .col-md-100 {
    max-width: 100% !important;
  }
}
