@import "../vars";

.section-location-banner {
  margin-top: 40px;

  /* map container */
  .map-container {
    position: relative;
    overflow: hidden;
    padding: 0;
    width: 100%;
    height: 350px;
    min-height: 350px;

    .map-element {
      height: 100%;
      width: 100%;
    }
  }

  /* Image */
  img.banner-image {
    display: block;
    width: 100%;
  }
}
