@import "../vars";

.section-locations {

  @media screen and (min-width: 0px) and (max-width: #{$xs_w}px) {
    margin-top: 25px;
  }

  .wrap-title {
    text-align: center;
    padding: 40px 0px 40px 0px;

    h2 {
      margin: 0;
    }
  }

  .wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 2%;
    position: relative
  }

  .location-search {
    background-color: $main_blue;
    padding: 40px 0;
    text-align: center;
    color: $lite_color;

    &-input {
      background: $lite_color url(#{$img_path}web/block/locations/icon_magnifying-glass.svg) no-repeat right 10px center / auto 60%;
      min-width: 300px;
      padding: 10px 35px 10px 15px;
      outline: none;
    }

    label {
      color: $lite_color;
      margin: 0 20px;
      font-size: 18px;
    }


    @media screen and (min-width: 0px) and (max-width: #{$xs_w}px) {
      padding: 20px;

      &-input {
        width: 100%;
      }
    }

  }

  .search-alphabet {
    background-color: #f6f7f8;
    text-align: center;
    padding: 45px 0;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    z-index: 2;

    li {
      display: inline-block;

      a {
        text-decoration: none;

        span {
          color: #343434;
        }
      }

      span {
        display: inline-block;
        color: #969696;
        font-size: 20px;
        padding: 5px
      }
    }


    @media screen and (min-width: 0px) and (max-width: #{$xs_w}px) {
      padding: 0;
      margin-top: 15px;

      #search_alphabet {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px 0;

        li {
          position: relative;
          width: 28px;
          height: 32px;
          margin: 1px;

          a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
          }
        }
        li > span {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0;
        }
      }
    }
  }

  .results-by-letters {
    padding-top: 40px;
  }

  .result-one-letter {
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;

    .letter-anchor {
      position: absolute;
      top: -150px;
    }

    .title-letter {
      float: left;
      width: 15%;
      text-align: center;
      color: $blue_text;
      font-size: 35px;
      font-weight: bold;
    }

    ul {
      float: left;
      width: 80%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;

      li {
        width: 32%;
        margin-bottom: 20px;
        padding-right: 4%;

        @media screen and (min-width: #{$xs_w}px) and (max-width: #{$sm_w}px) {
          width: 49%;
        }

        @media screen and (min-width: 0px) and (max-width: #{$xs_w}px) {
          width: 100%;
          margin-left: 15%;
        }
      }
    }
  }

  .location-summary {
    h5 {
      font-size: 19px;
      text-transform: uppercase;
      text-decoration: none;
      margin-left: 0;

      a {
        margin-left: 0;
        font-size: 19px;
        text-transform: uppercase;
        text-decoration: none;

        &:hover {
          color: $blue_text;
        }
      }
    }

    .location-phone {
      margin-bottom: 10px;

      a {
        &:hover {
          color: $blue_text;
        }
      }
    }
  }

  .open-close-box {
    .open-sentence {
      cursor: pointer;

      &:after {
        background: url('#{$img_path}web/block/locations/icon_downArrowGreen.svg') no-repeat center center / 15px;
        padding-right: 0;
        content: '.';
        font-size: 0;
        width: 15px;
        height: 15px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 7px;
      }
    }

    &.box-opened .open-sentence:after {
      transform: rotate(180deg);
    }

    .is-closed .open-sentence:after {
      background: url('#{$img_path}web/block/locations/icon_downArrowRed.svg') no-repeat center center / 15px;
    }
  }

  .open-label {
    color: $lite_color;
    font-size: 12px;
    background-color: $success_color;
    border-radius: 10px;
    padding: 3px 13px 4px 13px;
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
  }

  .is-open {
    .open-label {
      background-color: $success_color;
    }

    .open-sentence {
      color: $success_color;
    }
  }

  .is-closed {
    .open-label {
      background-color: $danger_color;
    }

    .open-sentence {
      color: $danger_color;
    }
  }

  .shedule-exception {
    line-height: 20px;

    h5 {
      margin: 5px 0;
      text-transform: uppercase;

      &.is-open {
        color: $success_color_second;
      }

      &.is-closed {
        color: $danger_color_second;
      }
    }
  }

  .exception-small {
    font-size: 11px;
    border-width: 1px;
    border-color: rgb(226, 230, 239);
    border-style: solid;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 transparentize($dark_color, 0.8);
    padding: 10px;
    margin-top: 10px;

    h5, p {
      font-size: 11px;
      margin: 0;
      line-height: 16px;
    }
  }

  .small-schedule {
    border-width: 1px;
    border-color: rgb(226, 230, 239);
    border-style: solid;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 transparentize($dark_color, 0.8);
    padding: 10px;
    margin-top: 10px;
    display: none;

    .table-schedule td, .table-schedule th {
      padding: 0
    }
  }

  .box-opened .small-schedule {
    display: block;
  }

  .table-schedule {
    display: table;
    width: 100%;

    tr.active {
      font-weight: bold
    }

    td, th {
      text-align: left;
      width: 50%;
      padding: 5px 0
    }
  }

  .warning {
    color: $danger_color;
  }
}
