@import "../vars";

.section-location-route {
  .wrapper {
    max-width: 1500px;
    margin: 50px auto;
    padding: 0 2%;
    position: relative;

    h2 {
      text-align: center;
    }
  }

  /* map container */
  .map-container {
    position: relative;
    overflow: hidden;
    padding: 0;
    width: 100%;
    height: 500px;
    min-height: 500px;
    border: 1px solid #e2e6ef;
    border-radius: 5px;

    .map-element {
      height: 100%;
      width: 100%;
    }
  }

  .search-route {
    position: absolute;
    z-index: 10;
    width: 325px;
    height: 415px;
    right: 70px;
    top: 80px;
    background: $lite_color;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.15);
    box-shadow: 0 0 10px rgba(0,0,0,.15);
    border-radius: 10px;

    .search-route-header {
      padding: 28px 26px;
      border-bottom: 1px solid #cfcfcf;
      display: block;

      .search-address {
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #5e5e5e;
        transition: box-shadow .5s,border-color .25s ease-in-out,-webkit-box-shadow .5s;
        border-radius: 5px;
        font-size: 11px;
        background-color: #eeecea;
        padding: 10px 15px;
        border: 0 none;
        text-align: left;
        outline: 0 none;
        display: block;
        width: 100%;
      }

      .search-area {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        display: flex;
        align-items: center;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-box-pack: justify;
        margin-top: 20px;
      }

      .btn-search {
        margin-left: 10px;
        background-color: $main_blue;
        color: $lite_color;
        border-radius: 8px;
        padding: 9px 11px;
        font-size: 14px;
        line-height: 13.8px;
        display: inline-block;
        text-decoration: none;
        white-space: nowrap;
        text-align: center;
        cursor: pointer;
        outline: 0 none;
        border: 0 none;

        &:hover {
          filter: saturate(2);
        }
      }
    }

    .search-route-container {
      display: flex;
      flex-direction: column;
      padding: 10px 20px;
      height: 275px;
      overflow: auto;

      ol li {
        padding: 7px 0 7px 33px;
        border-top: 1px solid #c0c0c0;
        font-size: 13px;
        line-height: 17px;
        position: relative;

        &:last-child {
          border-bottom: 1px solid #c0c0c0;
        }

        &:nth-child(odd) {
          background-color: #eee;
        }

        .arrow {
          background: url('#{$img_path}web/block/location_route/arrows.png') no-repeat 0;
          min-width:28px;
          min-height:28px;
          position: absolute;
          left: 0;
          top: calc(50% - 15px);

          &.depart {
            background-position:-28px;
          }

          &.rightUTurn {
            background-position:-56px;
          }

          &.leftUTurn {
            background-position:-84px;
          }

          &.rightFork {
            background-position:-112px;
          }

          &.leftFork  {
            background-position:-140px;
          }

          &.rightMerge  {
            background-position:-112px;
          }

          &.leftMerge  {
            background-position:-140px;
          }

          &.slightRightTurn  {
            background-position:-168px;
          }

          &.slightLeftTurn  {
            background-position:-196px;
          }

          &.rightTurn  {
            background-position:-224px;
          }

          &.leftTurn  {
            background-position:-252px;
          }

          &.sharpRightTurn  {
            background-position:-280px;
          }

          &.sharpLeftTurn  {
            background-position:-308px;
          }

          &.rightRoundaboutExit1  {
            background-position:-616px;
          }

          &.rightRoundaboutExit2  {
            background-position:-644px;
          }

          &.rightRoundaboutExit3  {
            background-position:-672px;
          }

          &.rightRoundaboutExit4  {
            background-position:-700px;
          }

          &.rightRoundaboutPass  {
            background-position:-700px;
          }

          &.rightRoundaboutExit5  {
            background-position:-728px;
          }

          &.rightRoundaboutExit6  {
            background-position:-756px;
          }

          &.rightRoundaboutExit7  {
            background-position:-784px;
          }

          &.rightRoundaboutExit8  {
            background-position:-812px;
          }

          &.rightRoundaboutExit9  {
            background-position:-840px;
          }

          &.rightRoundaboutExit10  {
            background-position:-868px;
          }

          &.rightRoundaboutExit11  {
            background-position:896px;
          }

          &.rightRoundaboutExit12  {
            background-position:924px;
          }

          &.leftRoundaboutExit1  {
            background-position:-952px;
          }

          &.leftRoundaboutExit2  {
            background-position:-980px;
          }

          &.leftRoundaboutExit3  {
            background-position:-1008px;
          }

          &.leftRoundaboutExit4  {
            background-position:-1036px;
          }

          &.leftRoundaboutPass   {
            background-position:1036px;
          }

          &.leftRoundaboutExit5 {
            background-position:-1064px;
          }

          &.leftRoundaboutExit6 {
            background-position:-1092px;
          }

          &.leftRoundaboutExit7 {
            background-position:-1120px;
          }

          &.leftRoundaboutExit8 {
            background-position:-1148px;
          }

          &.leftRoundaboutExit9  {
            background-position:-1176px;
          }

          &.leftRoundaboutExit10  {
            background-position:-1204px;
          }

          &.leftRoundaboutExit11  {
            background-position:-1232px;
          }

          &.leftRoundaboutExit12  {
            background-position:-1260px;
          }

          &.arrive  {
            background-position:-1288px;
          }

          &.leftRamp  {
            background-position:-392px;
          }

          &.rightRamp  {
            background-position:-420px;
          }

          &.leftExit {
            background-position:-448px;
          }

          &.rightExit {
            background-position:-476px;
          }

          &.ferry  {
            background-position:-1316px;
          }
        }
      }
    }

    @media screen and (min-width: 0px) and (max-width: #{$xs_w}px) {
      position: relative;
      width: 100%;
      right: 0;
      top: 0;
    }
  }

  .m-b-15 {
    margin-bottom: 15px;
  }
}

// Autocomplete
.pac-container {
  &:after {
    display: none;
  }

  .pac-item {
    cursor: pointer;
  }
}

.ui-menu {
  &.ui-widget-content {
    width: 221px;
    background-color: $lite_color;
    z-index: 1000;
    border-radius: 2px;
    border-top: 1px solid #d9d9d9;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }

  .ui-menu-item {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    line-height: 14px;
    text-align: left;
    font-size: 11px;
    border-top: 1px solid #e6e6e6;
    cursor: pointer;

    .ui-menu-item-wrapper {
      display: flex;
      padding: 4px;
      width: 100%;
      border-color: #e6e6e6 transparent transparent transparent;
      align-items: center;
      color: #999;

      b {
        display: contents;
      }

      &:before {
        content: '';
        width: 15px;
        min-width: 15px;
        height: 20px;
        margin-right: 7px;
        margin-top: 6px;
        display: inline-block;
        vertical-align: top;
        background-image: url('#{$img_path}web/block/location_route/autocomplete-icons.png');
        background-size: 34px;
        background-position: -1px -161px;
      }

      &.ui-state-active, &:hover {
        background-color: #fafafa;
        color: darken(#999, 20);
        border-right-color: transparent;
        border-left: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
      }
    }
  }
}

.ui-helper-hidden-accessible {
  display: none;
}

// Here map style
.H_ib {
  left: -95%;
  top: -12px;

  .H_ib_body {
    background-color: $lite_color;
    padding: 16px 0 0 10px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 7px 1px rgba(0,0,0,0.3);
    line-height: normal;

    .H_ib_close {
      font-size: 0.4em;
      right: 0;
      top: 0;

      .H_icon {
        width: 20px;
        height: 20px;
      }

      path {
        fill: #a6a6a6;

        &:hover {
          fill: #818181;
        }
      }
    }

    .H_ib_content {
      margin: 0 0 16px 0;
      padding: 0 10px 0 0;
      overflow: auto;
      width: 150px;
    }
  }

  .H_ib_tail {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    z-index: 100;

    &:after {
      background: white;
      box-shadow: -2px 2px 2px 0 rgba(178,178,178,.4);
      content: "";
      height: 15px;
      left: -71px;
      position: absolute;
      top: -0.5em;
      transform: translate(-50%,-50%) rotate(-45deg);
      width: 15px;
    }

    svg {
      display: none;
    }
  }
}
