@import "../vars";

.section-location-description {
  margin-top: 40px;

  .description-block {
    line-height: 20px;
    text-align: justify;

    p {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 0px) and (max-width: #{$xs_w}px) {
    .description-block {
      padding: 0;
    }
  }

  .wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 2%;
    position: relative;
  }

  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -1%;
  }

  .col-half {
    width: 50%;
    padding: 0 1.5%;
  }

  .image-slider-block {
    width: 100%;
    height: 400px;
    box-shadow: 0 0 6px 0 transparentize($dark_color, 0.68);
    overflow: hidden;

    .default-shop-image {

      display: none;

      img {
        display: block;
        max-height: 400px;
        text-align: center;
        margin: auto;
      }

    }


  }

  .image-slider {
    width: 100%;

    &.slick-dotted.slick-slider {
      margin-bottom: 0;
      height: 400px;
      overflow: hidden;
    }

    img {
      display: block;
      width: 100%;
      height: 400px;
      object-fit: cover;
    }

    .slick-dots {
      bottom: 15px;

      li {
        width: 20px;
        height: 20px;
        padding: 5px;
        margin: 0;

        &.slick-active {
          button {
            background-color: $second_blue;
          }
        }

        button {
          width: 10px;
          height: 10px;
          border: 1px solid transparent;
          background-color: $lite_color;
          padding: 0;
          border-radius: 50%;

          &:before {
            content: '';
            width: 10px;
            height: 10px;
            border: 1px solid $second_blue;
            background-color: $second_blue;
            top: 4px;
            left: 4px;
            border-radius: 50%;
          }
        }
      }
    }
  }


  @media screen and (min-width: 0px) and (max-width: #{$sm_w}px) {
    .row {
      display: block;
    }

    .col-half {
      margin-bottom: 30px;
      width: 100%;
    }
  }
}

.more-shop-images
{
  display: none;
}