@import "../vars";

.section-location-events {
  margin-top: 50px;

  .events-block {
    text-align: center;
    padding: 0 100px;

    @media screen and (min-width: 0px) and (max-width: #{$sm_w}px) {
      padding: 0;
    }

    article {
      background-color: $lite_color;
      box-shadow: 0 0 6px 0 transparentize($dark_color,0.68);
      width: 30%;
      margin: 10px 20px 40px 20px;
      display: inline-block;
      position: relative;

      &:hover {
        box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.14);

        .block-hover {
          display: block
        }
      }

      h3 {
        margin-top: 30px;
        margin-bottom: 10px;
      }

      .slide-image {
        position: relative;
        width: 100%;
        height: 200px;

        img {
          max-width: 100%;
          max-height: 100%;
          width: auto;
          height: auto;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          object-fit: cover;
        }
      }

      .slide-content {
        padding: 20px;
        height: 200px;
        overflow: auto;
      }
    }
  }

  .wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 2%;
    position: relative
  }

  .block-hover {
    position: absolute;
    top: 0;
    background-color: $lite_color;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: none;

    h3 {
      border-bottom: 1px solid #eff3f5;
      padding-bottom: 30px;
      margin-bottom: 25px!important;
    }

    h6 {
      color: #c7c7c7;
      font-size: 14px;
      margin-bottom: 20px
    }

    .button-bottom {
      position: absolute;
      text-align: center;
      width: 100%;
      bottom: 30px;
      left: 0;
    }
  }

  .info-button {
    text-decoration: none;
    background-color: $main_blue;
    border-radius: 5px;
    display: inline-block;
    color: $lite_color;
    padding: 10px 15px;
    font-size: 13px;
    border: 1px solid $main_blue;
    cursor: pointer;
    outline: none;

    &:hover {
      filter: saturate(2);
    }
  }

  .slick-dots {
    bottom: 0;

    li {
      width: 20px;
      height: 20px;
      padding: 5px;
      margin: 0;

      &.slick-active {
        button {
          background-color: $second_blue;
        }
      }

      button {
        width: 10px;
        height: 10px;
        border: 1px solid transparent;
        background-color: $lite_color;
        border-radius: 50%;

        &:before {
          content: '';
          width: 10px;
          height: 10px;
          border: 1px solid $second_blue;
          background-color: $second_blue;
          top: 5px;
          left: 5px;
          border-radius: 50%;
        }
      }
    }
  }
}
