@import "../vars";

// Include defaults
@import "../base/all";
@import "loader-map";

// Here Map API style
@import "map/here-map-api";

@import "../components/ui-menu";

#map_container {
  position: relative;
}

.section-map {
  position: relative;
  margin-top: 50px;

  @media screen and (min-width: 0px) and (max-width: #{$xs_w}px) {
    margin-top: 25px;
  }

  /* map container */
  .map-container {
    position: relative;
    overflow: hidden;
    padding: 0;
    width: 100%;
    height: calc(100vh - 170px);
    min-height: 450px;

    .map-element {
      height: 100%;
      width: 100%;

      .map-overlay {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;

        &.visible {
          display: block;
        }
      }
    }

    @media screen and (min-width: 0px) and (max-width: #{$xs_w}px) {
      height: 40vh;
      //position: absolute;
      min-height: 200px;
      //top: 0;
      left: 0;


      * {
        margin: 0;
      }
    }
  }

  /* picture search */
  .picture-search {
    min-height: 600px;
    background: url('#{$img_path}web/block/map/map_search.jpg') no-repeat center center / cover;
    text-align: center;

    h1 {
      color: $lite_color;
      padding-top: 5rem;
      margin-bottom: 40px;
      text-transform: uppercase;
    }
  }

  .search-box {
    position: relative;
    left: 0;
    display: inline-block;
    top: 0;
    background-color: $lite_color;
    right: 5%;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 transparentize($dark_color, 0.68);
    width: 400px;
    overflow: hidden;

    .wrap-link {
      text-align: center;
      padding-bottom: 20px;

      a {
        color: $blue_text;
      }
    }
  }

  .search-tabs {
    display: table;
    width: 100%;

    li {
      display: table-cell;
      border: solid;
      border-width: 0 1px 1px 0;
      border-color: $lite_gray;
      width: 50%;
      background-color: lighten($lite_gray, 20%);
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      padding: 10px;
      vertical-align: middle;

      &.selected {
        background-color: $lite_color;
        border-bottom: 0
      }
    }

    span {
      min-height: 30px;
      padding-left: 27px;
      display: flex;
      align-items: center;
    }

    .find-location-icon {
      background: url('#{$img_path}web/block/map/icon_location_grey.svg') no-repeat left center / 28px;
      padding-left: 30px;
    }

    .location-closest {
      background: url('#{$img_path}web/block/map/icon_gpslocation.svg') no-repeat left center / 20px;
    }
  }

  .search-form {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .search-button {
      margin-left: 10px
    }

    input[type="text"] {
      border-style: solid;
      border-width: 1px;
      border-color: rgb(208, 208, 208);
      border-radius: 5px;
      background-color: rgba(245, 246, 250, 0.459);
      box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.07);
      width: 100%;
      outline: none;
    }
  }

  .search-button {
    text-decoration: none;
    background-color: $main_blue;
    border-radius: 5px;
    display: inline-block;
    color: $lite_color;
    padding: 10px 15px;
    font-size: 13px;
    border: 1px solid $main_blue;
    cursor: pointer;

    &:hover {
      filter: saturate(2);
    }
  }

  .picture-search-results {
    margin-top: -150px;
    padding-bottom: 100px;
    text-align: center;

    .wrapper {
      max-width: 1500px;
      margin: 0 auto;
      padding: 0 2%;
      position: relative
    }

    h2 {
      text-align: center;
      color: $lite_color;
    }

    article {
      background-color: $lite_color;
      box-shadow: 0 0 6px 0 transparentize($dark_color, 0.68);
      width: 31%;
      margin: 10px 1% 40px 1%;
      display: inline-block;
      position: relative;
      vertical-align: top;
      padding: 20px;
      text-align: center;
    }
  }

  .location-summary {
    .location-services {
      margin-bottom: 20px;

      li {
        display: inline-block;
        margin: 0 5px;
      }
    }
  }

  // Map search box
  .map-search-box {
    z-index: 10;
    background-color: $lite_color;
    position: absolute;
    top: 5%;
    right: 5%;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 transparentize($dark_color, 0.68);
    width: 400px;
    overflow: hidden;

    @media (min-width: 768px) {
      height: calc(100vh - 235px) !important;
      min-height: 400px;
      display: flex;
      flex-direction: column;
    }

    .search-form {
      width: 100%;
      padding: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .search-position {
        position: relative;
        display: inline-block;
        width: 100%;
        margin: 0;

        .position-locate {
          position: absolute;
          right: 0;
          top: 0;
          cursor: pointer;
          border-style: solid;
          border-width: 1px;
          border-color: rgb(208, 208, 208);
          border-radius: 0 5px 5px 0;
          width: 40px;
          height: 100%;
          background: rgba(245, 246, 250, 0.32) url('#{$img_path}web/block/map/icon_gpslocation.svg') no-repeat center center / 50%;
          margin: 0;
        }

        #map_search_autocomplete {
          padding: 10px 40px 10px 10px;
          height: 100%;
          margin: 0;
        }
      }
    }

    .search-filters {
      border-top: 1px solid #e2e6ef;
      padding: 20px 20px 0 20px;

      .open-filters {
        padding: 0 0 15px 0;
        cursor: pointer;

        p {
          background: url('#{$img_path}web/block/map/icon_downArrow.svg') no-repeat left center;
          padding-left: 20px;
          font-weight: bold;
        }

        &.open-filters-checkbox p {
          background: url('#{$img_path}web/block/map/arrow_up.svg') no-repeat left center / auto 60%;
        }

        &.open-filters-icon p {
          background: url('#{$img_path}web/block/map/icon_filter.svg') no-repeat left center / auto 100%;
          padding-left: 30px;
        }
      }

      &.closed-box {
        .content-filters {
          display: none;
        }

        .open-filters-checkbox p {
          background: url('#{$img_path}web/block/map/arrow_down.svg') no-repeat left center / auto 60%;
        }
      }

      .content-filters {
        max-height: 200px;
        overflow: auto;
        border-top: 1px solid #b0b0b0;
        padding-top: 10px;
        padding-bottom: 20px;

        input[type="checkbox"] {
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px;
          cursor: pointer;
        }

        li {
          margin-bottom: 5px;

          label {
            cursor: pointer;
          }

          ul {
            padding-left: 20px;
            margin-top: 5px;
            margin-bottom: 10px;

            li label {
              font-size: 11px;
            }

            li input {
              max-height: 5px;
            }
          }
        }

        .logo-filters {
          overflow: hidden;

          div {
            width: 20%;
            float: left;
            border-radius: 3px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.21);
            margin: 2%;
            padding: 10px;
            text-align: center;

            &.active {
              background-color: rgba(39, 107, 151, 0.129);
              box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.57);
            }

            &:hover {
              background-color: rgba(39, 107, 151, 0.129);
              box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.57);
            }
          }
        }
      }
    }

    .search-results {
      background-color: #fafafa;
      border-top: 1px solid #e2e6ef;
      // @media (min-width: 768px) {
      //   height: calc(100vh - 385px);
      //   min-height: 270px;
      // }

      @media (min-width: 768px) {
        overflow-y: auto;
        flex-grow: 1;
        flex:1;
      }

      &-list {
        padding: 0 20px 20px 20px;
        overflow-y: scroll;
        height: 420px;
        @media (min-width: 768px) {
          height: 100%;
        }

        .location-summary {
          border-bottom: 1px solid #b0b0b0;
          padding: 15px 0;

          .show-open-window {
            cursor: pointer;
          }
        }
      }
    }

    // Exceptions
    .shedule-exception {
      line-height: 20px;

      h5 {
        margin: 5px 0;
        text-transform: uppercase;

        &.is-open {
          color: $success_color_second;
        }

        &.is-closed {
          color: $danger_color_second;
        }
      }
    }

    .exception-small {
      font-size: 11px;
      border-width: 1px;
      border-color: rgb(226, 230, 239);
      border-style: solid;
      border-radius: 5px;
      box-shadow: 0 0 3px 0 transparentize($dark_color, 0.8);
      padding: 10px;
      margin-top: 10px;

      h5, p {
        font-size: 11px;
        margin: 0;
        line-height: 16px;
      }
    }

    @media screen and (min-width: 0px) and (max-width: #{$xs_w}px) {
      width: 100%;
      left: 0;
      right: 0;
      margin: 0 0 0;
      top: 0;
      position: relative;

      .search-form {
        padding: 10px;
      }

      input[type="text"] {
        margin: 0;
      }

      .position-locate {
        margin: 0;
      }

      .search-button {
        width: 50px;
        font-size: 0;
        background: $main_blue url('#{$img_path}web/block/map/icon_search.svg') no-repeat center center / 50%;
        text-indent: -9999em;


      }
    }
  }

  @media screen and (min-width: #{$xs_w}px) and (max-width: #{$sm_w}px) {
    .search-box {
      position: relative;
      top: 0;
      right: 0;
      width: 90%;
      margin: 50px 5%;
    }

    .picture-search-results article {
      width: 47%
    }
  }

  @media screen and (min-width: 0px) and (max-width: #{$xs_w}px) {
    .search-box {
      position: relative;
      top: 0;
      right: 0;
      width: 90%;
      margin: 20px 5%;
    }

    .picture-search-results article {
      width: 47%;
    }
  }
}

.location-summary {
  h5 {
    font-size: 19px;
    text-transform: uppercase;
    text-decoration: none;

    a {
      font-size: 19px;
      text-transform: uppercase;
      text-decoration: none;

      &:hover {
        color: $blue_text;
      }
    }
  }

  .search-button {
    display: block;
  }
}

.location-distance {
  padding-left: 20px;
  font-weight: bold;
  background: url('#{$img_path}web/block/map/icon_location.svg') no-repeat left center / auto 80%;
  display: inline-block;
  margin-bottom: 10px;
}

.openings {
  margin-bottom: 5px;
}

.location-label {
  color: $lite_color;
  font-size: 12px;
  background-color: $success_color;
  border-radius: 10px;
  padding: 3px 13px;
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}

.is-open {
  .location-label {
    background-color: $success_color;
  }

  .location-sentence {
    color: $success_color;
  }
}

.is-closed {
  .location-label {
    background-color: $danger_color;
  }

  .location-sentence {
    color: $danger_color;
  }
}

.services-button {
  border-style: solid;
  border-width: 1px;
  border-color: $main_blue;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.1);
  text-decoration: none;
  display: inline-block;
  padding: 5px 15px;
  cursor: pointer;
  margin: 0 5px;

  &:hover {
    filter: saturate(2);
    box-shadow: none
  }
}

.location-button {
  padding-left: 30px;
  background-image: url('#{$img_path}web/block/map/icon_location.svg');
  background-repeat: no-repeat;
  background-position: left 10px center;
  background-size: auto 60%;
}

.call-button {
  padding-left: 30px;
  background-image: url('#{$img_path}web/block/map/icon_phone.svg');
  background-repeat: no-repeat;
  background-position: left 10px center;
  background-size: auto 55%;
}

.m-t-15 {
  margin-top: 15px;
}

.m-b-15 {
  margin-bottom: 15px !important
}

// Info Window template styles
.info-window-block {
  background-color: white;

  .location-summary {
    text-align: center;
    padding: 10px;
  }
}

.open-close-box {
  .open-sentence {
    cursor: pointer;

    &:after {
      background: url('#{$img_path}web/block/map/icon_downArrowGreen.svg') no-repeat center center / 15px;
      padding-right: 0;
      content: '.';
      font-size: 0;
      width: 15px;
      height: 15px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 7px;
    }
  }

  &.box-opened .open-sentence:after {
    transform: rotate(180deg);
  }

  .is-closed .open-sentence:after {
    background: url('#{$img_path}web/block/map/icon_downArrowRed.svg') no-repeat center center / 15px;
  }
}

.open-label {
  color: $lite_color;
  font-size: 12px;
  background-color: $success_color;
  border-radius: 10px;
  padding: 3px 13px 4px 13px;
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}

.is-open {
  .open-label {
    background-color: $success_color;
  }

  .open-sentence {
    color: $success_color;
  }
}

.is-closed {
  .open-label {
    background-color: $danger_color;
  }

  .open-sentence {
    color: $danger_color;
  }
}

.small-schedule {
  border-width: 1px;
  border-color: rgb(226, 230, 239);
  border-style: solid;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 transparentize($dark_color, 0.8);
  padding: 10px;
  margin-top: 10px;
  display: none;

  .table-schedule td, .table-schedule th {
    padding: 0
  }
}

.box-opened .small-schedule {
  display: block;
}

.table-schedule {
  display: table;
  width: 100%;

  tr.active {
    font-weight: bold
  }

  td, th {
    text-align: left;
    width: 50%;
    padding: 5px 0
  }

  .warning {
    color: $danger_color;
  }
}

// Here map style
.H_ib {
  left: -93.3%;
  top: -30px;

  .H_ib_body {
    background-color: $lite_color;
    padding: 16px 0 0 10px;
    max-width: 310px;
    max-height: 300px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
    line-height: normal;

    .H_ib_close {
      font-size: 0.4em;
      right: 0;
      top: 0;
      background-color: transparent;

      .H_icon {
        width: 15px;
        height: 15px;
      }

      path {
        fill: #a6a6a6;

        &:hover {
          fill: #818181;
        }
      }
    }

    .H_ib_content {
      margin: 0 0 16px 0;
      padding: 0 10px 0 0;
      overflow: auto;
      max-width: 300px;
      min-width: 260px;
      max-height: 270px;
      min-height: 240px;
    }
  }

  .H_ib_tail {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    z-index: 100;

    &:after {
      background: white;
      box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, .4);
      content: "";
      height: 15px;
      left: -9.8em;
      position: absolute;
      top: -0.5em;
      transform: translate(-50%, -50%) rotate(-45deg);
      width: 15px;
    }

    svg {
      display: none;
    }
  }
}

#map_svg_title {
  font-weight: bold;
  z-index: 1;
}

// Autocomplete
.pac-container {
  &:after {
    display: none;
  }

  .pac-item {
    cursor: pointer;
  }
}

.ui-helper-hidden-accessible {
  display: none;
}


.search-results-list {
  .search-results-list-loading {
    text-align: center;
    margin: auto;
    padding-top: 30px;
  }

}
