@import "../vars";

.section-near-location {
  margin-top: 50px;

  .near-location-block {
    text-align: center;
    padding: 40px 0;
    background-color: #f9fafa;

    .wrapper {
      max-width: 1500px;
      margin: 0 auto;
      padding: 0 2%;
      position: relative
    }

    article {
      vertical-align: top;
      background-color: #fff;
      box-shadow: 0 0 6px 0 transparentize($dark_color,0.68);
      width: 30%;
      margin: 10px 20px 40px 20px;
      display: inline-block;
      padding: 20px;
    }
  }

  .location-summary {
    h5 {
      font-size: 19px;
      text-transform: uppercase;
      text-decoration: none;

      a {
        font-size: 19px;
        text-transform: uppercase;
        text-decoration: none;

        &:hover {
          color: $blue_text;
        }
      }
    }

    .search-button {
      display: block;
    }
  }

  .location-distance {
    padding-left: 20px;
    font-weight: bold;
    background: url('#{$img_path}web/block/near_location/icon_location.svg') no-repeat left center / auto 80%;
    display: inline-block;
    margin-bottom: 10px;
  }

  .openings {
    margin-bottom: 5px;
  }

  .location-label {
    color: #fff;
    font-size: 12px;
    background-color: $success_color;
    border-radius: 10px;
    padding: 3px 13px;
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
  }

  .is-open {
    .location-label {
      background-color: $success_color;
    }

    .location-sentence {
      color: $success_color;
    }
  }

  .is-closed {
    .location-label {
      background-color: $danger_color;
    }

    .location-sentence {
      color: $danger_color;
    }
  }

  .services-button {
    border-style: solid;
    border-width: 1px;
    border-color: $main_blue;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.1);
    text-decoration: none;
    display: inline-block;
    padding: 5px 15px;
    cursor: pointer;
    margin: 0 5px;

    &:hover {
      filter: saturate(2);
      box-shadow: none
    }
  }

  .location-button {
    padding-left: 30px;
    background-image: url('#{$img_path}web/block/map/icon_location.svg');
    background-repeat: no-repeat;
    background-position: left 10px center;
    background-size: auto 60%;
    outline: none;
  }

  .call-button {
    padding-left: 30px;
    background-image: url('#{$img_path}web/block/map/icon_phone.svg');
    background-repeat: no-repeat;
    background-position: left 10px center;
    background-size: auto 55%;
    outline: none;
  }

  .search-button {
    text-decoration: none;
    background-color: $main_blue;
    border-radius: 5px;
    display: block;
    color: #fff;
    padding: 10px 15px;
    font-size: 13px;
    border: 1px solid $main_blue;
    cursor: pointer;
    outline: none;

    &:hover {
      filter: saturate(2);
    }
  }

  .slick-dots {
    bottom: 0;

    li {
      width: 20px;
      height: 20px;
      padding: 5px;
      margin: 0;

      &.slick-active {
        button {
          background-color: $second_blue;
        }
      }

      button {
        width: 10px;
        height: 10px;
        border: 1px solid transparent;
        background-color: #ffffff;
        border-radius: 50%;

        &:before {
          content: '';
          width: 10px;
          height: 10px;
          border: 1px solid $second_blue;
          background-color: $second_blue;
          top: 5px;
          left: 5px;
          border-radius: 50%;
        }
      }
    }
  }

  .m-b-15 {
    margin-bottom: 15px;
  }
}














