{% spaceless %}
    <div class="info-window-block">
        <div class="location-summary">
            <div class="location-summary-block">
                <h5>__name__</h5>

                <address>__address__</address>

                <span class="location-distance">__distance__ __distance_unit__</span>

                <div class="open-close-box">
                    <div class="open-box __openClass__">
                        <span class="open-label">__openLabel__</span>
                        <span class="open-sentence">__openSentence__</span>
                    </div>
                    <div class="small-schedule">
                        <table class="table-schedule"></table>
                    </div>
                </div>
            </div>

            <div class="m-t-15 m-b-15">
                <button data-gtm_event="itinerary" data-gtm_event_value="__externalId__" type="button" class="services-button location-button ga-cta"
                        data-show-route="{{ path('app_web_shop_show', {'slug': '__slug__', focusRoute: true}) }}"
                        data-latitude="__latitude__"
                        data-longitude="__longitude__">
                    {{ 'app.web.home.map.button.route'|trans }}
                </button>

                <a data-gtm_event="call" data-gtm_event_value="__externalId__" href="tel:__phone__" class="services-button call-button ga-cta">{{ 'app.web.home.map.button.call'|trans }}</a>
            </div>

            <a data-gtm_event="impressionMap" data-gtm_event_value="__externalId__" href="{{ path('app_web_shop_show', {'slug': '__slug__'}) }}"
               target="_self" class="search-button ga-cta">{{ 'app.web.home.map.button.show'|trans }}</a>
        </div>
    </div>
{% endspaceless %}