{% extends 'web/base/home.html.twig' %}

{% block header %}
    {% include 'web/shop/' ~ shop.code ~ '/layout/header.html.twig' %}
{% endblock %}

{% block footer %}
    {% include 'web/shop/' ~ shop.code ~ '/layout/footer.html.twig' %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/web/shop/' ~ shop.code ~ '/home') }}
{% endblock %}


{% block javascripts_main %}
    {{ encore_entry_script_tags('js/web/shop/' ~ shop.code ~ '/home') }}
{% endblock %}


{% block javascripts_custom %}
    {{ encore_entry_script_tags('js/web/shop/' ~ shop.code ~ '/app') }}
{% endblock %}

{% block javascripts_var %}
    {{ parent() }}

    {# Map Settings for this shop (default are defind in js map folder files, DEFAULT_SETTINGS getter) #}
    <script>
        var globalSettings = {
            map: {
                center: {lat: 29.43787664952377, lng: -98.48229854912108},
                zoom: 6,
            },
            geoLocationCountry: ['US','AU'],
            query: {
                size: 50,
                radius: 15000,
            },
            searchType: 'FIT_ALL'
        };
    </script>
{% endblock %}
