{% extends 'web/base/show.html.twig' %}

{% block header %}
    {% include 'web/shop/' ~ shop.code ~ '/layout/header.html.twig' %}
{% endblock %}

{% block footer %}
    {% include 'web/shop/' ~ shop.code ~ '/layout/footer.html.twig' %}
{% endblock %}

{% block content %}
    {# set filters content for map #}
    {% set twigData = {'showSocials': false, 'showBreadcrumb': 0} %}

    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/web/shop/' ~ shop.code ~ '/show') }}
{% endblock %}

{% block javascripts_main %}
    {{ encore_entry_script_tags('js/web/shop/' ~ shop.code ~ '/show') }}
{% endblock %}

{% block javascripts_custom %}
    {{ encore_entry_script_tags('js/web/shop/' ~ shop.code ~ '/app') }}
{% endblock %}



{% block javascripts_var %}
    {{ parent() }}

    {#  Map Settings for this shop (default are defind in js map folder files, DEFAULT_SETTINGS getter) #}
    <script type="text/javascript">
        var globalSettings = {
            near_query: {
                size: 9,
                radius: 2000000,
            }
        };
    </script>
{% endblock %}
