{% set openHours = open_hours(location, shopDomain, constant('App\\Twig\\OpenHoursExtension::TYPE_EXCEPTION')) %}

<div class="open-close-box">
    <div class="open-box {% if openHours.opens.isOpenNow %}is-open{% else %}is-closed{% endif %}">
        <span class="open-label">
            {% if openHours.opens.isOpenNow %}
                {{ 'app.web.global.open_hours.shop_open'|trans }}
            {% else %}
                {{ 'app.web.global.open_hours.shop_close'|trans }}
            {% endif %}
        </span>
        <span class="open-sentence">{{ openHours.opens.sentence }}</span>
    </div>

    <div class="small-schedule">
        <table class="table-schedule">
            {% for weekDay in 1..7 %}
                <tr class="{% if openHours.currentWeekDay == weekDay %}active{% endif %}">
                    <th>{{ ('app.web.global.open_hours.days.' ~ weekDay)|trans }}</th>
                    <td>
                        {% if openHours.weekOpenHours[weekDay] is defined %}
                            {% for businessHour in openHours.weekOpenHours[weekDay]|sort((a, b) => a.openTime <=> b.openTime) %}
                                {{ businessHour.openTimeFormat }}
                                {{ ' - ' }}
                                {{ businessHour.closeTimeFormat }}
                                {% if loop.length > 1 and not loop.last %}{{ ' ' ~ openHoursSeparator ~ ' ' }}{% endif %}
                            {% endfor %}
                        {% else %}
                            <span class="warning">{{ 'app.web.global.open_hours.days.closed'|trans }}</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{# Exceptions #}
<div class="open-hours-exceptions">
    {% if openHours.specialHours.open|length %}
        <div class="shedule-exception exception-small">
            <h5 class="is-open">{{ 'app.web.global.open_hours.exceptions.open'|trans }}</h5>

            {% for specialOpenHour in openHours.specialHours.open %}
                <p>{{ specialOpenHour }}</p>
            {% endfor %}
        </div>
    {% endif %}

    {% if openHours.specialHours.closed|length %}
        <div class="shedule-exception exception-small">
            <h5 class="is-closed">{{ 'app.web.global.open_hours.exceptions.closed'|trans }}</h5>

            {% for specialClosedHour in openHours.specialHours.closed %}
                <p>{{ specialClosedHour }}</p>
            {% endfor %}
        </div>
    {% endif %}
</div>
