{% if locations is defined and locations|length %}
    {% for letter, locationsData in locations %}
        <div class="result-one-letter">
            <span id="letter_{{ letter }}" class="letter-anchor"></span>
            <div class="title-letter">{{ letter }}</div>

            <ul class="letter-content">
                {% for location in locationsData %}
                    <li class="location-summary">
                        <h5>
                            <a href="{{ path('app_web_shop_show', {'_locale': app.request.locale, 'slug': location.slug}) }}">
                                {{ location.name }}
                            </a>
                        </h5>

                        <address>
                            {{ location.address.number }} {{ location.address.street }}
                            <br>
                            {{ location.address.zipCode }} {{ location.address.locality }}
                        </address>

                        {% if showPhone is defined and showPhone and location.contact.phone %}
                            <div class="location-phone"><a href="tel:{{ location.contact.phone }}">{{ location.contact.phone }}</a></div>
                        {% endif %}

                        {% if openHours is defined and openHours %}
                            {% if globalTemplates and globalTemplates[constant('App\\Entity\\AttributeValue::VALUE_OPEN_HOURS_EXCEPTION')] is defined %}
                                {% spaceless %}{% include 'web/block/locations/block/open_hours_exception.html.twig' with {'location': location} %}{% endspaceless %}
                            {% else %}
                                {% spaceless %}{% include 'web/block/locations/block/open_hours_week.html.twig' with {'location': location} %}{% endspaceless %}
                            {% endif %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% endif %}