{% extends 'web/base/home.html.twig' %}

{% block header %}
    <header style="margin-top: 20px;text-align: center;">
        <div style="text-align: center; margin: auto"><img src="{{ asset('/build/images/web/shop/mistergenius/header.png') }}" width="950px"></div>
    </header>
{% endblock %}

{% block content %}
    {# set filters content for map #}
    {% set twigData = {'filterDynamic': true} %}

    {% for template in templates %}
        {% include 'web/block/' ~ template.attribute.block ~ '/' ~ template.attributeValue.value ~ '.html.twig' ignore missing %}
    {% endfor %}
{% endblock %}

{% block footer %}
    <footer style="margin-top: 20px;margin-bottom: 20px;text-align: center;font-weight: bold;">
        <div style="text-align: center; margin: auto"><img src="{{ asset('/build/images/web/shop/mistergenius/footer.png') }}" width="950px"></div>
    </footer>
{% endblock %}

{% block javascripts_var %}
    {{ parent() }}

    {#  Map Settings for this shop (default are defind in js map folder files, DEFAULT_SETTINGS getter) #}
    <script type="text/javascript">
        var globalSettings = {
            map: {
                center: {lat: 50.62313744304004, lng: 5.365809522627387},
                zoom: 10,
            },
            geoLocationCountry: 'BE',
            query: {
                size: 50,
                radius: 15000,
            },
        };
    </script>
{% endblock %}
