{% extends 'web/base/show.html.twig' %}

{% block header %}
    <header style="margin-top: 20px;text-align: center;">
        <div style="text-align: center; margin: auto"><img src="{{ asset('/build/images/web/shop/mistergenius/header.png') }}" width="950px"></div>
    </header>
{% endblock %}

{% block content %}
    {% for template in templates %}
        {% if template.attribute.block == constant('App\\Entity\\Attribute::BLOCK_LOCATION_SERVICES') %}
            {% include 'web/shop/'~shop.code~'/block/location_services.html.twig' %}
        {% else %}
            {% include 'web/block/' ~ template.attribute.block ~ '/' ~ template.attributeValue.value ~ '.html.twig' ignore missing %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block footer %}
    <footer style="margin-top: 20px;margin-bottom: 20px;text-align: center;font-weight: bold;">
        <div style="text-align: center; margin: auto"><img src="{{ asset('/build/images/web/shop/mistergenius/footer.png') }}" width="950px"></div>
    </footer>
{% endblock %}

{% block javascripts_var %}
    {{ parent() }}

    <script>
        var globalSettings = {
            near_query: {
                size: 9,
                radius: 2000000,
            }
        };
    </script>
{% endblock %}