// Preview Attribute Value image
img.attribute-image-preview {
  display: block;
  max-width: 400px;
  max-height: 400px;
  height: auto;
}

.admin-shop-attribute-value-select {
  width: 45% !important;
}

img.attribute-image-select {
  float: right;
  margin-top: -38px;
  max-width: 50%;
  max-height: 200px;
  height: auto;
  display: block;
}
