.bread_default {
  width: 100% !important;
  max-width: 1100px !important;
  margin: 0 auto;

  @media (max-width: #{$desktop}) {
    max-width: 950px !important;
  }

  @media (max-width: #{$tablet}) {
    max-width: 768px !important;
  }

  @media (max-width: #{$mobile_up}) {
    max-width: 600px !important;
  }

  @media (max-width: #{$small_screen_down}) {
    max-width: 420px !important;
  }

  @media (max-width: #{$phone}) {
    max-width: 320px !important;
  }

  li {
    &:first-child {
      &:before {
        top: 8px;
      }
    }
    a {
      text-decoration: none;
      
      span {
        font-family: $Oswald_font;
        color: $brown;
      }
    }

    span {
      font-family: $Oswald_font;
      color: $black_11;
    }
  } 
}