.section-location-services {
  .location-services {
    background-color: $black_11;
  }

  .info-button {
    border: 2px solid $brown;
    background-color: $brown;
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
    padding: 8px 20px;
    position: relative;
    font-family: $Oswald_font;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    color: $black_11;
    box-shadow: none;
    background-image: none;
    border-radius: 0;
    text-align: center;
    transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;

    &:hover {
      background-color: $black_11;
      color: $white;
      filter: none;
    }
  }
}


