.section-locations {
  .result-one-letter {
    .title-letter {
      color: $black_11;
      font-family: $Oswald_font;
    }
  }

  .location-search{
    background-color: $gray_f5;
    margin-bottom: 50px;

    label {
      color: $black_11;
      font-family: $Oswald_font;
      font-size: 20px;
      font-weight: 700;
    }

    input[type="text"] {
      font-size: 12px;
      border: 2px solid $black;
      border-radius: 3px;
      padding: 15px;
      color: $black_13;
      font-weight: 700;
      background-image: none;
    }
  }

  .search-alphabet {
    background-color: $tr;
    padding: 0;

    .wrapper {
      padding: 45px 0;
      border: 2px solid $black;
    }

    li {
      span {
        color: $black_11;
        font-family: $Oswald_font;
      }

      a {
        span {
          color: $brown;

          &:hover {
            color: $yellow
          }
        }
      }
    }
  }
}