.section-location-details {
  .schedule {
    td,
    th {
      line-height: 27px;
      padding: 0;
    }
  }

  .col {
    align-self: stretch;
  }

  .details-schedule {
    border-left: 2px solid $black;
  }

  .location-details-block {
    .col {
      &:nth-child(2) {
        .col-box {
          height: 100%;
        }
      }
    }
  }

  .col-image {
    border: 2px solid $black;
    border-radius: 0;
    background-color: $white;
    box-shadow: none;
  }

  .box,
  .col-box {
    border: 2px solid $black;
    border-radius: 0;
    background-color: $white;
    box-shadow: none;

    .details-info {
      border-left: 2px solid $black;
    }
  }
}

