.section-map {
  margin-top: 0;


  .map-search-box {
    border-radius: 0;
    box-shadow: none;
    border: 2px solid #636363;

    .search-form {
      .search-position {
        #map_search_autocomplete {
          font-size: 12px;
          border: 2px solid $black;
          border-radius: 3px;
          padding: 15px;
          color: $black_13;
          font-weight: 700;
          background-image: none;
          background-color: $tr;
          box-shadow: none;
        }

        .position-locate {
          display: none;
        }
      }
    }

    .search-results {
      background-color: $tr;
    }

    .search-filters {
      .open-filters-checkbox {
        p {
          background-size: 4% 50% !important;
          font-family: $Oswald_font;
          color: $black_11;
        }
      }

      .content-filters {
        li {
          ul {
            li {
              label {
                font-size: 15px;
                color: $gray;
              }
            }
          }
        }
      }
    }
  }

  .search-button {
    border: 2px solid $brown;
    background-color: $brown;
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
    padding: 8px 20px;
    position: relative;
    font-family: $Oswald_font;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    color: $black_11;
    box-shadow: none;
    border-radius: 0;
    text-align: center;
    transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;

    &:hover {
      background-color: $black_11;
      color: $white;
      filter: none;
    }
  }
}


.info-window-block {
  .location-summary  {
    text-align: left;
    min-width: 260px;

    .m-t-15 {
      display: flex;
      align-items: center;

      .services-button {
        margin: 0 5px 0 0;
        flex: 1;

        &:last-child {
          margin: 0;
        }
      }
      
    }
  }
}