$font-path: '../../../../../fonts/shop/laposte-fr';

@font-face {
  font-family: 'verdana';
  src: url($font-path + '/Verdana.eot');
  src: url($font-path + '/Verdana.eot?#iefix') format('embedded-opentype'),
      url($font-path + '/Verdana.woff2') format('woff2'),
      url($font-path + '/Verdana.woff') format('woff'),
      url($font-path + '/Verdana.ttf') format('truetype'),
      url($font-path + '/Verdana.svg#Verdana') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'verdana';
  src: url($font-path + '/Verdana-Bold.eot');
  src: url($font-path + '/Verdana-Bold.eot?#iefix') format('embedded-opentype'),
      url($font-path + '/Verdana-Bold.woff2') format('woff2'),
      url($font-path + '/Verdana-Bold.woff') format('woff'),
      url($font-path + '/Verdana-Bold.ttf') format('truetype'),
      url($font-path + '/Verdana-Bold.svg#Verdana-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'montserrat';
  src: url($font-path + '/Montserrat-Bold.eot');
  src: url($font-path + '/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
      url($font-path + '/Montserrat-Bold.woff2') format('woff2'),
      url($font-path + '/Montserrat-Bold.woff') format('woff'),
      url($font-path + '/Montserrat-Bold.ttf') format('truetype'),
      url($font-path + '/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINWeb-Medium';
  src: url($font-path + '/Svatxepxpzpietzyzxvprfzqnyr.eot');
  src: url($font-path + '/Svatxepxpzpietzyzxvprfzqnyr.eot?#iefix') format('embedded-opentype'),
      url($font-path + '/Svatxepxpzpietzyzxvprfzqnyr.woff2') format('woff2'),
      url($font-path + '/Svatxepxpzpietzyzxvprfzqnyr.woff') format('woff'),
      url($font-path + '/Svatxepxpzpietzyzxvprfzqnyr.ttf') format('truetype'),
      url($font-path + '/Svatxepxpzpietzyzxvprfzqnyr.svg#Svatxepxpzpietzyzxvprfzqnyr') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}















