body {
  font-weight: 400;
  font-family: $verdana_font;
  text-rendering: optimizeLegibility;
  background-color: $gray_f7;
}


* {
  font-family: $verdana_font;
  font-weight: 400;
  color: $black;
}

a {
  text-decoration: none;
  background: transparent;
}

.detail-page {
  h1,
  h4,
  h2,
  h3 {
    font-family: $montserrat_font;
    font-weight: 700;
    color: $text-color !important;
  }

  h2 {
    strong {
      font-family: $montserrat_font;
      font-weight: 700;
      color: $text-color;
    }
  }

  h1 {
    @media (max-width: #{$mobile_down}) {
      font-size: 27px;
    }
  }
}
