// Color
$white: #ffffff;
$black: #000000;
$tr: transparent;

$text-color: #3c3c3c;

$gray: #cccccc;
$gray_71: #717171;
$gray_f7: #f7f7f7;

$yellow: #f4b700;
$yellow_btn: #ffc928;
$yellow_hover: #febe00;
$yellow_hover_border: #eaaf00;

$blue: #2955AC;

// Fonts
$verdana_font: 'verdana', sans-serif;
$DINWeb-medium_font: 'DINWeb-Medium', sans-serif;
$montserrat_font: 'montserrat', sans-serif;

// Image path
$img_path: '../../../../../images/web/shop/laposte-fr/';

/* Media query */
$media_desktop: 1200px;
$media_tablete: 992px;
$media_tablete_up: 993px;
$mobile_up: 768px;
$mobile_down: 767px;

/* @media (min-width: #{$mobile_up}) */