<footer class="footer">
  <div class="footer-banner">
    <div class="container">
      <img src="{{ asset('/build/images/web/shop/pepejeans-int/smile-icon.png') }}">
      <p>You are social and so are we. Follow us on <a href="https://www.instagram.com/pepejeans/">Instagram</a>, <a href="https://www.facebook.com/PepeJeans">Facebook</a>, <a href="https://www.youtube.com/user/pepejeanstv">YouTube</a>
      </p>
    </div>
  </div>
  <div class="copyright-block">
    <div class="container">
      <h2>
        <span class="year">2018</span> © Pepe Jeans
      </h2>
       <a href="#">
          <img src="{{ asset('/build/images/web/shop/pepejeans-int/security-logo.png') }}">
          <span>secure shopping
          </span>
       </a>
    </div>
  </div>
</footer>