<header class="header">
  <div class="container">
    <div class="header-content">
      <a href="#" class="logo">
        <img src="{{ asset('/build/images/web/shop/pepejeans-int/logo.png') }}">
      </a>
    </div> 
   </div>
</header>