<!-- Block location services + text -->
<section id="block_location_services" class="section-location-services">

    {% set showServices = false %}

    {% if shop.apiVersion == constant('App\\Entity\\Shop::API_VERSION_2') %}
        {% if location.services and location.services['property.service'] is defined and location.services['property.service']|length %}
            {% set showServices = true %}
            {% set services = location.services['property.service'] %}
        {% endif %}
    {% else %}
        {% if location.services and location.services['SERVICE'] is defined and location.services['SERVICE']|length %}
            {% set showServices = true %}
            {% set services = location.services['SERVICE'] %}
        {% endif %}

    {% endif %}


    {% if showServices %}
        <div class="location-services">
            <div class="wrapper">
                <h2>{{ 'app.web.show.location_services.title'|trans }}</h2>

                <ul class="services-block">
                    {% for propertyService in services if propertyService.contentFacet.title %}
                        <li itemscope itemtype="http://schema.org/Service">
                            <b itemprop="serviceType">{{ propertyService.contentFacet.title }}</b>
                        </li>
                    {% endfor %}
                </ul>

                <div class="services-payments">
                    <p>{{ 'app.web.show.location_services.payments'|trans }}</p>

                    <ul><li><img src="{{ asset('build/images/web/block/location_services/payments.png') }}" /></li></ul>
                </div>
            </div>
        </div>
    {% endif %}
</section>