<!-- Block location services + image -->

{% if serviceImageSize is not defined %}
    {% set serviceImageSize = 'w_50' %}
{% endif %}


<section id="block_location_services" class="section-location-services">
    {% set showServices = false %}


    {% if location.services and location.services['SERVICE'] is defined and location.services['SERVICE']|length %}
        {% set showServices = true %}
        {% set services = location.services['SERVICE'] %}
    {% endif %}

    {% if showServices %}

        <div class="location-services">
            <div class="wrapper">
                <h2>{{ 'app.web.show.location_services.title'|trans }}</h2>

                <ul class="services-images">
                    {% for propertyService in services if propertyService.contentFacet.title or propertyService.externalId %}
                        <li itemscope itemtype="http://schema.org/Service">



                                {% if propertyService.assets[0] is defined and propertyService.assets[0].publicId|length  %}
                            <div>
                                    {% set image = propertyService.assets[0]  %}
                                    <img src="{{ path('app_web_image_cloudinary_path', {'apiKey': image.cloudName, 'apiPath': image.publicId, 'imageSize':serviceImageSize}) }}" alt="{{ propertyService.contentFacet.title }}"/>
                            </div>
                                {% endif %}



                            <span itemprop="serviceType">{{ propertyService.contentFacet.title }}</span>
                            {% if propertyService.assets[0] is defined and propertyService.assets[0].publicId|length  %}
                                {% set image = propertyService.assets[0]  %}
                                <meta itemprop="logo" content="{{ url('app_web_image_cloudinary_path', {'apiKey': image.cloudName, 'apiPath': image.publicId, 'imageSize': serviceImageSize}) }}"/>
                            {% endif %}

                            {% if propertyService.contentFacet.longContent|length %}
                                <div class="services-tooltip" itemprop="description">{{ propertyService.contentFacet.longContent }}</div>
                            {% endif %}

                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

</section>