div[data-elementor-type='footer'] {
  background-color: $black;
  margin-top: 50px;

  .elementor-section-wrap {
    .elementor-element {
      &.elementor-top-section {
        &:first-child {
          display: none;
        }

        &:nth-child(2) {
          padding: 70px 0;

          @media (max-width: #{$desktop}) {
            padding: 50px 20px 50px 20px;
          }

          @media (max-width: #{$mobile_down}) {
            padding: 35px 20px 35px 20px;
          }

          .elementor-container {
            max-width: 950px;
            width: 100%;
            margin: 0 auto;

            .elementor-row {
              display: flex;
              flex-wrap: wrap;

              .elementor-col-25 {
                width: 25%;

                @media (max-width: #{$desktop}) and (min-width: #{$mobile_up}) {
                  width: 50%;
                }

                @media (max-width: #{$mobile_down}) {
                  width: 100%;
                  text-align: center;
                }

                &:first-child {
                  .elementor-image {
                    img {
                      max-width: 120px;
                    }
                  }
                }
              }
            }
          }
        }

        &:last-child {
          background-color: $black_26;

          .elementor-column-wrap {
            @media (max-width: #{$mobile_down}) {
              padding: 30px 20px 20px 20px;
            }
          }

          p {
            font-size: 12px;
            font-family: $Work_sans_font;
            letter-spacing: 0;
            color: $gray_4c;
            margin-bottom: 17px;

            @media (max-width: #{$mobile_down}) {
              font-size: 10px;
              line-height: 18px;
            }

            strong,
            a {
              color: $gray_4c;
              font-family: $Work_sans_font;
              font-weight: 700;
              font-size: 12px;

              @media (max-width: #{$mobile_down}) {
                font-size: 10px;
                line-height: 18px;
              }
            }

            span {
              display: inline-block;
              font-size: 12px;
              font-family: $Work_sans_font;

              @media (max-width: #{$mobile_down}) {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }

  .elementor-image {
    img {
      max-width: 100%;
      height: auto;
      vertical-align: middle;
      display: inline-block;
    }
  }

  .elementor-text-editor {
    p {
      font-size: 14px;
      line-height: 26px;
      font-family: $Work_sans_font;
      margin-bottom: 25px;
      color: $white;
      font-weight: 300;
      opacity: 0.7;

      strong {
        font-family: $Work_sans_font;
        font-size: 14px;
        color: $white;
        opacity: 1;
      }

      a {
        color: $red_c0;
        text-decoration: none;
        font-size: 14px;
        font-weight: 300;
        font-family: $Work_sans_font;
        transition: all .2s linear;

        &:hover {
          color: $text-color;
        }
      }
    }
  }

  .elementor-screen-only, 
  .screen-reader-text, 
  .screen-reader-text span, 
  .ui-helper-hidden-accessible {
    position: absolute;
    top: -10000em;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }

  .elementor-social-icons-wrapper {
    padding-top: 11px;

    .elementor-icon {
      background-color: rgba(255,255,255,0);
      font-size: 26px;
      padding: 0 7.8px;
      position: relative;
      display: inline-block;
      transition: all .3s;

      &:hover {
        background-color: $white;

        i {
          color: $black_001;
        }
      }

      i {
        width: 1em;
        height: 1em;
        position: relative;
        display: block;
        font-family: $brand_font;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        font-size: 26px;
        color: $white;
        text-align: center;
        transition: all .3s;

        &:before {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }

        &.fa-facebook-f {
          &:before {
            content: "\f39e";
          }
        }

        &.fa-instagram:before {
          content: "\f16d";
        }

        &.fa-youtube:before {
          content: "\f167";
        }

        &.fa-linkedin-in:before {
          content: "\f0e1";
        }
      }
    }
  }

  .elementor-nav-menu--dropdown-none .elementor-menu-toggle, 
  .elementor-nav-menu--dropdown-none .elementor-nav-menu--dropdown {
    display: none;
  }

  .elementor-nav-menu--main {
    .elementor-item {
      color: $white;
      padding: 5px 20px;
      display: block;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 15px;
      line-height: 20px;
    }
  }

  .elementor-heading-title{
    color: $white;
    font-family: $yanone_font;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 20px;
  }

  .elementor-widget:not(:last-child) {
    margin-bottom: 20px;
  }

  .elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
    padding: 10px;
  }
}