div[data-elementor-type='header'] {
  background-color: $black;

  @media (max-width: #{$desktop}) {
    padding: 10px 20px 10px 20px;
    position: relative;
  }

  .elementor-hidden-desktop {
    @media (min-width: #{$desktop_up}) {
      display: none;
    }
  }

  .elementor-hidden-phone {
    @media (max-width: #{$desktop}) {
      display: none;
    }
  }

  .elementor-hidden-tablet {
    @media (max-width: #{$desktop}) {
      display: none;
    }
  }

  .elementor-image {
    img {
      width: 147px;
      max-width: 100%;
      height: auto;
      vertical-align: middle;
    }
  }

  .elementor-column.elementor-col-50, 
  .elementor-column[data-col="50"] {
    @media (max-width: #{$desktop}) {
      width: 50%;
    }
  }

  .elementor-element {
    &.elementor-element-c1609b0 {
      @media (min-width: #{$mobile_up}) {
        width: 28.5%;
        text-align: center;
      }
    }
  }

  .elementor-container {
    @media (min-width: #{$desktop_up}) {
      min-height: 80px;
      margin: 0px 40px 0px 0px;
      display: flex;
      align-items: center;
    }
  }

  .elementor-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }

  .elementor-nav-menu--dropdown-tablet .elementor-menu-toggle, 
  .elementor-nav-menu--dropdown-tablet .elementor-nav-menu--dropdown {
    @media (min-width: #{$desktop_up}) {
      display: none;
    }
  }

  .elementor-4806 {
    .elementor-element {
      &.elementor-element-c1609b0 {
        width: 28.07%;
      }
    }
  }

  .elementor-nav-menu--main {
    ul {
      display: flex;

      li {
        .elementor-item {
          font-family: $Oswald_font;
          font-size: 18px;
          line-height: 20px;
          text-transform: uppercase;
          padding: 13px 20px;
          color: $white;
          text-decoration: none;
          font-weight: 400;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;

          span {
            display: inline-block;
            font-family: $Oswald_font;
            font-size: 18px;
            color: $white;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
          }
        }
      }
    }
  }

  .elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
    @media (max-width: #{$desktop}) {
      padding: 10px;
    }
  }

  .elementor-menu-toggle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    font-size: 31px;
    padding: .25em;
    cursor: pointer;
    border: 0 solid;
    border-radius: 3px;
    background-color: rgba(0,0,0,.05);
    color: $white;
    outline: none;

    .eicon-menu-bar {
      &.elementor-active {
        &:before {
          content: "\e87f";
        }
      }
    }

    .eicon-menu-bar {
      color: $white;

      &:hover {
        color: $red_c0;
      }
    }
  }

  .elementor-screen-only, 
  .screen-reader-text, 
  .screen-reader-text span, 
  .ui-helper-hidden-accessible {
    position: absolute;
    top: -10000em;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }

  .elementor-nav-menu--dropdown {
    display: none;

    @media (max-width: #{$desktop}) {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: $black;
      z-index: 120;
    }

    ul {
      li {
        .elementor-item {
          font-size: 20px;
          line-height: 24px;
          color: $white;
          padding: 5px 20px;
          color: $white;
          text-decoration: none;
          font-weight: 400;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          display: block;
          text-transform: uppercase;

          &.elementor-item-active {
            color: $red_c0;
          }

          span {
            display: inline-block;
            font-family: $Oswald_font;
            font-size: 20px;
            line-height: 24px;
            color: $white;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
          }
        }
      }
    }
  }
}
























