.section-locations {
  @media (max-width: #{$mobile_down}) {
    margin-top: 0;
  }
  
  h2 {
    color: $green;
    text-transform: initial
  }


  .result-one-letter {
    .title-letter {
      color: $green;
    }
  }

  .search-alphabet {
    padding: 20px 0;
  }
}