.section-map {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;

  @media (min-width: #{$small_screen_up}) {
    max-width: 720px;
  }

  @media (min-width: #{$mobile_up}) {
    max-width: 920px;
    display: flex;
  }

  @media (min-width: #{$tablet}) {
    max-width: 1024px;
  }

  @media (min-width: #{$desktop}) {
    max-width: 1275px;
  }

  .search-button {
    background-color: $green !important;
    border-color: $green;
    border-radius: 5px;
    display: inline-block;
    color: $white;
    padding: 8px 13px;
    font-size: 16px;
    font-weight: 400;
    transition: background-color .3s ease,color .3s ease;

    &:hover {
      background-color: $green_hover;
      filter: none;
    }

    @media (max-width: #{$mobile_down}) {
      padding: 17.5px 13px;
    }
  }

  .map-search-box {
    z-index: 9;
    border: 1px solid $gray;

    @media (max-width: #{$mobile_down}) {
      width: 100%;
      left: 0;
      right: 0;
      margin: 0 0 0;
      top: 0;
      position: relative;
      box-shadow: none;
      border-radius: 4px;
      padding-bottom: 16px;
      margin-bottom: 10px;
    }

    @media (min-width: #{$mobile_up}) {
      top: 0;
      right: 0;
      position: relative;
      order: 2;
      width: 342px;
      border-radius: 0 4px 4px 0;
      height: calc(100vh - 267px) !important;
      box-shadow: none;
      min-height: 450px;
    }

    .search-filters {
      padding: 0;
      border-top: none;

      .content-filters {
        display: block !important;
        padding-top: 0px;
        padding-bottom: 0;
        border-top: none;

        li {
          margin-bottom: 12px;

          &:last-child {
            margin-bottom: 0;
          }

          ul {
            padding-left: 16px;

            li {
              position: relative;

              input {
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                min-height: 25px;
                z-index: 1;
                opacity: 0;
              }

              input[type=checkbox]:checked+label:after {
                opacity: 1;
              }

              label {
                font-size: 14px;
                line-height: 16px;
                font-weight: 500;
                padding: 4px 0 5px 31px;
                display: inline-block;
                position: relative;
                cursor: pointer;
                color: $black_dark;
                margin-bottom: 0;

                &:before {
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 21px;
                  width: 21px;
                  background-color: transparent;
                  border: 2px solid $black;
                  display: inline-block;
                  border-radius: 5px;
                  -webkit-box-shadow: none;
                  box-shadow: none;
                  content: " ";
                  margin: 0;
                }

                &:after {
                  position: absolute;
                  top: 8px;
                  left: 6px;
                  height: 10px;
                  width: 13px;
                  background-image: url('#{$img_path}checkmark.png');
                  -webkit-transition: opacity .2s ease;
                  transition: opacity .2s ease;
                  display: block;
                  content: "";
                  opacity: 0;
                }
              }
            }
          }
        }
      }
    }

    .open-filters {
      display: none;
    }

    .search-form {
      padding: 13px 16px 11px;

      .search-position {
        #map_search_autocomplete {
          box-shadow: none;
          background-color: $gray_d6;
          color: $green;
          border-radius: 5px;
          text-align: center;
          font-size: 16px;
          padding: 0 15px;
          outline: none;

          &::placeholder {
            color: $green;
            font-size: 16px;
          }
        }

        .position-locate {
          display: none;
        }
      }
    }

    .search-results {
      background-color: $tr;
      border-top: none;
    }

    .search-results-list {
      padding: 0;

      .location-summary {
        padding: 19px 20px 0px 67px;
        position: relative;
        border: none;

        .location-pin-block {
          position: absolute;
          top: 19px;
          left: 17px;

          .location-pin {
            display: block;
            width: 33px;
          }

          img {
            width: 100%;
          }
        }

        .location-summary-content {
          border-bottom: 2px dashed #bad5de;
          padding-bottom: 25px;
        }
      }
    }
  }

  .map-container {
    @media (max-width: #{$mobile_down}) {
      height: 60vh;
    }
    
    @media (min-width: #{$mobile_up}) {
      height: calc(100vh - 267px);
      flex: 1;
      order: 1;
    }
  }

  .btn-block {
    display: flex;

    .services-button {
      margin: 0 7px 0 0;

      &:last-child {
        margin: 0;
      }
    }
  }

  .services-button {
    background-color: $green;
    border-color: $green;
    border-radius: 5px;
    display: inline-block;
    color: $white;
    padding: 6px 11px;
    font-size: 16px;
    font-weight: 400;
    transition: background-color .3s ease,color .3s ease;
    box-shadow: none;
    width: auto;
    background-image: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &:hover {
      background-color: $green_hover;
      filter: none;
    }
  }

  .btn-text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-decoration: underline;
    color: $green;
    margin: 10px 0 0 6px;
    display: inline-block;
    padding: 0;
    border-radius: 0;
    background-color: $tr;
    border: none;

    &:hover {
      background-color: $tr;
      color: $green;
      text-decoration: none;
    }
  }
}

.info-window-block {
  .location-summary {
    text-align: left;
  }
}

.location-distance {
  background-image: none;
  font-size: 10px;
  color: $black;
  text-align: center;
  padding: 0;
  display: block;
  font-weight: 400;
}










