.map-search-options {
  @media screen and (max-width: #{$tablet}) and (min-width: #{$mobile_up}) {
    left: 25%;
  }

  span {
    font-size: 13px;
    font-family: $bree_font;
    font-weight: 300;
  }
}