.bread_default {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto 20px auto;

  @media (min-width: #{$small_screen_up}) {
    max-width: 720px;
  }

  @media (min-width: #{$mobile_up}) {
    max-width: 920px;
  }

  @media (min-width: #{$tablet}) {
    max-width: 1024px;
  }

  @media (min-width: #{$desktop}) {
    max-width: 1275px;
  }

  li {
    &:first-child {
      &:before {
       top: 4px;
      }
    }

    span {
      font-size: 14px;
      font-weight: 600;
    }
    
    a {
      text-decoration: none;
      span {
        color: $green_03;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}