.section-location-services {
  .location-services {
    background-color: $green_03;
  }
  .services-images {
    li {
      position: relative;

      span {
        text-transform: initial;
      }
    }

    .services-tooltip {
      font-weight: 400;
    }
  }
}