.section-locations {
  margin-top: 45px;

  h2 {
    color: $green_00;
    text-transform: initial
  }

  .result-one-letter {
    .title-letter {
      color: $green_00;
      font-family: $bree_font;
      font-weight: 400;
    }
  }

  .search-alphabet {
    padding: 20px 0;

    @media (max-width: #{$mobile_down}) {
      margin-top: 0;
    }

    li {
      span {
        @media (max-width: #{$mobile_down}) {
          font-size: 16px;
        }
      }
    }

    #search_alphabet {
      @media (max-width: #{$mobile_down}) {
        padding: 0;
      }
    }
  }

  .location-summary {
    .location-phone {
      margin-bottom: 0;
    }
  }

  .location-search {
    background-color: $gray_d6;

    label {
      color: $green_00;
      font-family: $bree_font;
      font-weight: 300;
      font-size: 22px;
      line-height: 24px;
    }

    .location-search-input {
      color: $green_00;
      font-family: $bree_font;
      font-weight: 300;
    }
  }
}