.section-location-details {
  .wrapper-title {
    padding-bottom: 0;
  }

  .warning {
    color: $red;
  }

  .details-header {
    h1 {
      font-family: $toolbox_hunterswood_font;
      font-size: 38px;
      font-weight: 400;
    }
  }

  .row {
    .col {
      &:nth-child(2) {
        .col-box {
          height: 100%;
        }
      }
    }
  }

  .col {
    align-self: stretch;
  }

  .schedule {
    th,
    td {
      font-size: 16px;
      line-height: 18px;
      padding: 0 !important;
      color: $black;
      font-weight: 500;
    }

    th {
      width: 30%;
    }

    td {
      width: 70%;
    }
  }

  .box {
    .details-info {
      .text-info {
        a {
          color: $black_dark;
        }
      }
    }
  }
}