.section-map {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 23px auto 0 auto;

  @media (min-width: #{$small_screen_up}) {
    max-width: 720px;
  }

  @media (min-width: #{$mobile_up}) {
    max-width: 920px;
    display: flex;
  }

  @media (min-width: #{$tablet}) {
    max-width: 1024px;
  }

  @media (min-width: #{$desktop}) {
    max-width: 1159px;
  }

  .search-button {
    background-color: $red !important;
    border-color: $red;
    border-radius: 8px;
    display: inline-block;
    color: $white;
    padding: 10px 12px 9px;
    font-size: 16px;
    line-height: 16px;
    transition: background-color .3s ease,color .3s ease;
    font-family: $bree_font;
    font-weight: 300;
    outline: none;

    &:hover {
      background-color: $red_hover !important;
      filter: none;
    }
  }

  .map-search-box {
    border-radius: 0;

    @media (min-width: #{$mobile_up}) {
      height: calc(100vh - 279px) !important;
      width: 342px;
      min-height: 425px;
      top: 7px;
      border-radius: 10px;
    }

    @media (max-width: #{$mobile_down}) {
      box-shadow: none;
      border: none;
      margin-bottom: 30px;
      width: 100%;
      left: 0;
      right: 0;
      top: 0;
      position: relative;
    }

    .search-filters {
      padding: 0;
      border-top: none;

      .content-filters {
        display: block !important;
        padding-top: 0px;
        padding-bottom: 0;
        border-top: none;

        li {
          margin-bottom: 12px;

          &:last-child {
            margin-bottom: 0;
          }

          ul {
            padding-left: 16px;

            li {
              position: relative;

              input {
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                min-height: 25px;
                z-index: 1;
                opacity: 0;
              }

              input[type=checkbox]:checked+label:after {
                opacity: 1;
              }

              label {
                font-size: 14px;
                line-height: 16px;
                font-weight: 600;
                padding: 4px 0 5px 31px;
                display: inline-block;
                position: relative;
                cursor: pointer;
                color: $green_03;
                margin-bottom: 0;

                &:before {
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 21px;
                  width: 21px;
                  background-color: transparent;
                  border: 2px solid $black;
                  display: inline-block;
                  border-radius: 5px;
                  -webkit-box-shadow: none;
                  box-shadow: none;
                  content: " ";
                  margin: 0;
                }

                &:after {
                  position: absolute;
                  top: 8px;
                  left: 6px;
                  height: 10px;
                  width: 13px;
                  background-image: url('#{$img_path}checkmark.png');
                  -webkit-transition: opacity .2s ease;
                  transition: opacity .2s ease;
                  display: block;
                  content: "";
                  opacity: 0;
                }
              }
            }
          }
        }
      }
    }

    .open-filters {
      display: none;
    }

    .search-form {
      padding: 16px 16px 11px;

      .search-position {
        #map_search_autocomplete {
          box-shadow: none;
          background-color: $gray_d6;
          border-color: $gray_d6;
          color: $green_00;
          border-radius: 5px;
          text-align: center;
          font-size: 16px;
          padding: 0 15px;
          outline: none;
          font-family: $bree_font;
          font-weight: 300;

          &::placeholder {
            color: $gray_75;
            font-size: 16px;
          }
        }

        .position-locate {
          display: none;
        }
      }
    }

    .search-results {
      background-color: $tr;
      border-top: none;
    }

    .search-results-list {
      padding: 0;

      .location-summary {
        padding: 10px 12px 0px 80px;
        position: relative;
        border: none;

        .location-pin-block {
          position: absolute;
          top: 34px;
          left: 30px;

          .location-pin {
            display: block;
            width: 34px;
            margin-bottom: 17px;
            position: relative;

            &:after {
              content:'';
              width: 34px;
              height: 4px;
              background-color: $red;
              position: absolute;
              left: 0;
              bottom: -3px;
            }
          }

          img {
            width: 100%;
          }
        }

        .location-summary-content {
          border-top: 2px dashed $gray_b7;
          padding-bottom: 15px;
          padding-top: 19px;
        }
      }
    }
  }

  .map-container {
    height: calc(100vh - 384px);

    @media (min-width: #{$mobile_up}) {
      height: calc(100vh - 254px);
    }
  }

  .btn-block {
    display: flex;

    .services-button {
      margin: 0 7px 0 0;

      &:last-child {
        margin: 0;
      }
    }
  }

  .services-button {
    background-color: $red;
    border-color: $red;
    border-radius: 8px;
    display: inline-block;
    color: $white;
    padding: 8px 12px 7px;
    font-size: 16px;
    line-height: 16px;
    transition: background-color .3s ease,color .3s ease;
    font-family: $bree_font;
    font-weight: 300;
    background-image: none;
    outline: none;
    box-shadow: none;

    &:hover {
      background-color: $red_hover;
      filter: none;
    }
  }

  .btn-text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    text-decoration: underline;
    color: $green_03;
    margin: 10px 0 0 6px;
    display: inline-block;
    padding: 0;
    border-radius: 0;
    background-color: $tr;
    border: none;

    &:hover {
      background-color: $tr;
      color: $green_03;
      text-decoration: none;
    }
  }
}

.info-window-block {
  .location-summary {
    text-align: left;
  }
}

.location-distance {
  background-image: none;
  font-size: 11px;
  line-height: 12px;
  color: $gray_92;
  text-align: center;
  padding: 0;
  display: block;
  font-weight: 400;
}










