.section-near-location {
  margin-top: 0;

  .near-location-block {
    .slick-slide {
      margin: 10px 20px 40px 20px;

      article {
        margin: 0;
      }
    }
  }

  .locations-to-slide {
    margin-left: -20px;
    margin-right: -20px;
  }

  .search-button {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-decoration: underline;
    color: $green_03;
    margin: 10px 0 0 6px;
    display: inline-block;
    padding: 0;
    border-radius: 0;
    background-color: $tr;
    border: none;

    &:hover {
      background-color: $tr;
      color: $green_03;
      text-decoration: none;
      filter: none;
    }
  }

  .location-distance {
    background-image: none;
    color: $gray_92;
    text-align: center;
    padding: 0;
    display: block;
    font-weight: 400;
  }

  .openings {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      line-height: 17px !important;
      font-size: 15px !important;
      font-weight: 500;
      color: #639b49 !important;
    }
  }

  .location-label {
    border-radius: 0;
    background-color: $tr !important;
    padding: 0;
    color: #639b49;
    margin-right: 3px;
  }
}