//colors
$main_blue: #276b97;
$second_blue: #286095;

$blue_text: $main_blue;
$gray_text: #464646;

$dark_color: #363636;

$lite_color: #ffffff;
$lite_gray: #d3d3d3;
$gray: #ccc;
$gray_second: #c6c9d5;
$gray_mid: #707279;

$success_color: #6ab130;
$success_color_second: #9bbb07;
$danger_color: #d74e18;
$danger_color_second: #dc4e41;

$breadcrump-color: #595959;

//paths
$img_path: '../../../images/';

//responsive grid
$xs_w: 680;
$sm_w: 960;
$xl_w: 1024;
$custom_smartphones: 576;

// Map loader  
$loader_map_default_color: green
