@import "~jquery-ui/themes/base/all.css";
@import "vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  color: #484848;
  font-size: 13px;
}


ul,
li {
  list-style: none
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 25px;
  text-transform: uppercase;
  color: $blue_text;
  margin-bottom: 30px
}

h2 strong {
  color: #464646;
  font-size: 25px;
}

h3 {
  font-size: 21px;
  color: $blue_text;
  font-weight: normal
}

h4 {
  font-size: 16px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

h5 {
  font-size: 17px
}

input {
  border: none;
}

input[type="text"] {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 20px
}

address {
  font-style: normal;
  color: #484848;
  margin-bottom: 10px;

  p {
    font-size: 14px;
    line-height: 23px
  }
}

@media screen and (min-width: 0px) and (max-width: #{$xs_w}px) {
  body header:first-child {
    display: flex;
    flex-flow: column;
  }
}
