{% extends 'web/base/home.html.twig' %}

{% set headerUrl = 'https://www.3brasseurs.com/' %}

{% block stylesheets %}
    {{ parent() }}
    
    {{ encore_entry_link_tags('css/web/shop/'~shop.code~'/home') }}
{% endblock %}


{% block header %}
    {% autoescape false %}
        {{ remote_content(shop, headerUrl, 'header') }}
    {% endautoescape %}
{% endblock %}


{% block content %}
    {% include 'web/shop/'~shop.code~'/block/map_search_list.html.twig' %}
    {% include 'web/shop/'~shop.code~'/block/locations_simple.html.twig' %}
{% endblock %}


{% block footer %}
    {% autoescape false %}
        {{ remote_content(shop, headerUrl, 'footer') }}
    {% endautoescape %}
{% endblock %}

{% block javascripts_custom %}
    {{ encore_entry_script_tags('js/web/shop/' ~ shop.code ~ '/app') }}
{% endblock %}

{% block javascripts_main %}
    {{ encore_entry_script_tags('js/web/shop/' ~ shop.code ~ '/home') }}
{% endblock %}


{% block javascripts_var %}
    {{ parent() }}

    {#  Map Settings for this shop (default are defind in js map folder files, DEFAULT_SETTINGS getter) #}
    <script type="text/javascript">
        var globalSettings = {
            map: {
                center: {lat: 50.6310623, lng: 3.0121412},
                zoom: 10,
            },
            marker: {
                icon: '{{ asset('build/images/web/shop/les3brasseurs-fr/map-marker.png') }}',
                icon_width: 44,
                icon_height: 46,
            },
            searchType: 'NEAR',
            geoLocationCountry: ['FR','RE'],
            query: {
                size: 50,
                radius: 25000,
            },
        };
    </script>
{% endblock %}
