{% extends 'web/base/show.html.twig' %}
{% block body_class %}detail-page{% endblock %}

{% set headerUrl = 'https://www.3brasseurs.com/' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/web/shop/'~shop.code~'/show') }}
{% endblock %}

{% block header %}
    {% autoescape false %}
        {{ remote_content(shop, headerUrl, 'header') }}
    {% endautoescape %}
{% endblock %}

{% block content %}
    {% include 'web/shop/'~shop.code~'/block/location_details_with_image_and_map.html.twig' %}
    {% include 'web/shop/'~shop.code~'/block/image_description_left.html.twig' %}
    {% include 'web/block/location_promotions/with_slideshow.html.twig' %}
    {% include 'web/shop/'~shop.code~'/block/near_locations.html.twig' %}
{% endblock %}

{% block footer %}
    {% autoescape false %}
        {{ remote_content(shop, headerUrl, 'footer') }}
    {% endautoescape %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('js/web/shop/'~shop.code~'/app') }}
{% endblock %}

{% block javascripts_var %}
    {{ parent() }}

    <script>
        var globalSettings = {
            near_query: {
                size: 9,
                radius: 2000000,
            },
            marker: {
                icon: '{{ asset('build/images/web/shop/les3brasseurs-fr/map-marker.png') }}',
                icon_width: 44,
                icon_height: 46,
            },
            searchType: 'NEAR',
            geoLocationCountry: ['FR','RE'],
        };
    </script>

    <script type="text/javascript">
        (function(i,s,o,g,r,a,m) {i[r]=i[r],a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://static.critizr.com/widgets/f473e8755d3ed20a21e374b8c42ec017.js','cz');
    </script>
{% endblock %}
