{% set promotions = [] %}
{% if location.items|length %}
    {% for key,value in location.items %}
        {% set promotions = promotions|merge(value) %}
    {% endfor %}
{% endif %}

{% set json = {} %}

<!-- Block location events + slideshow -->
<section id="block_location_promotions" class="section-location-events" style="display: none">
    {% if promotions|length %}
        <div class="events-block">
            <div class="wrapper">
                <h2>
                    {% if 'app.web.show.location_promotions.title'|trans({}, shop.code) != 'app.web.show.location_promotions.title' %}
                        {{ 'app.web.show.location_promotions.title'|trans({}, shop.code) }}
                    {% else %}
                        {{ 'app.web.show.location_promotions.title'|trans }}
                    {% endif %}
                </h2>


                <div class="events-slide">
                    {% for servicePromotion in promotions %}

                        {% set urlPromotion = "" %}
                        {% if servicePromotion.callToActionFacet.ctaUrl|length %}
                            {% set urlPromotion =  servicePromotion.callToActionFacet.ctaUrl %}
                            {% if not 'http' in urlPromotion %}
                                {% set urlPromotion = 'https://' ~ urlPromotion  %}
                            {% endif %}
                        {% endif %}



                        <article>

                            <div class="slide-image">
                                {% if servicePromotion.assets[0] is defined %}
                                    <img src="{{ path('app_web_image_cloudinary_path', {'apiKey': servicePromotion.assets[0].cloudName, 'apiPath': servicePromotion.assets[0].publicId}) }}"
                                         alt="{{ servicePromotion.contentFacet.title }}"/>
                                {% endif %}
                            </div>

                            <div class="slide-content">
                                <h3>{{ servicePromotion.contentFacet.title }}</h3>
                            </div>

                            <div class="block-hover">
                                <h3>{{ servicePromotion.contentFacet.title }}</h3>
                                <h6>
                                    {% if servicePromotion.validityFacet.validFrom and servicePromotion.validityFacet.validUntil %}
                                        <span>{{ servicePromotion.validityFacet.validFrom|split(' ')[0] }}</span>
                                        -
                                        <span>{{ servicePromotion.validityFacet.validUntil|split(' ')[0] }}</span>
                                    {% endif %}
                                </h6>
                                <p>{{ servicePromotion.contentFacet.longContent }}</p>


                                {% if urlPromotion|length  %}
                                    <a  href="{{ urlPromotion }}" class="info-button">
                                        {{ 'app.web.show.location_promotions.info_button'|trans }}
                                    </a>
                                {% endif %}

                            </div>
                        </article>

                        {% set microdata =

                            {
                                "@context": "https://schema.org",
                                "@type": "Event",

                                "name": servicePromotion.contentFacet.title,
                                "startDate": servicePromotion.validityFacet.validFrom,

                                "eventStatus": "https://schema.org/EventCancelled",
                                "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",

                                "location": {
                                "@type": "Place",
                                "name": location.name,
                                "address": {
                                    "@type": "PostalAddress",
                                    "streetAddress": location.address.street,
                                    "addressLocality": location.address.locality,
                                    "postalCode": location.address.zipCode,
                                    "addressCountry": location.address.country
                                }
                            },

                                "image": [
                                url('app_web_image_cloudinary_path', {'apiKey': servicePromotion.assets[0].cloudName, 'apiPath': servicePromotion.assets[0].publicId})

                            ],
                                "description": servicePromotion.contentFacet.longContent,
                                "url": urlPromotion,
                                "brand": location.brand,
                                "identifier": servicePromotion.externalId

                            }



                        %}
                        {% set json = json|merge({"0":microdata}) %}

                    {% endfor %}
                </div>
            </div>
        </div>

        {% for jsonDetails in json %}
        <script type="application/ld+json">
        {{ jsonDetails|json_encode|raw }}
        </script>
        {% endfor %}

    {% endif %}
</section>