{% set promotions = [] %}
{% if location.items|length %}
    {% for key,value in location.items %}
        {% set promotions = promotions|merge(value) %}
    {% endfor %}
{% endif %}

{% set imageSize = "" %}
{% if twigData['promotionImageSize'] is defined %}
    {% set imageSize = twigData['promotionImageSize'] %}
{% endif %}

{% set json = {} %}


<!-- Block location promotions + slideshow -->
<section id="block_location_promotions" class="section-location-promotions" style="display: none">
    {% if promotions|length  %}
        <div class="promotions-block">
            <div class="wrapper">
                <h2>
                    {% if 'app.web.show.location_promotions.title'|trans({}, shop.code) != 'app.web.show.location_promotions.title' %}
                        {{ 'app.web.show.location_promotions.title'|trans({}, shop.code) }}
                    {% else %}
                        {{ 'app.web.show.location_promotions.title'|trans }}
                    {% endif %}
                </h2>

                <div class="promotions-slide">
                    {% for servicePromotion in promotions %}

                        {% set urlPromotion = "" %}
                        {% if servicePromotion.callToActionFacet.ctaUrl|length %}
                            {% set urlPromotion =  servicePromotion.callToActionFacet.ctaUrl %}
                            {% if not 'http' in urlPromotion %}
                                {% set urlPromotion = 'https://' ~ urlPromotion  %}
                            {% endif %}
                        {% endif %}

                        {% set imageUrl = "" %}
                        {% if servicePromotion.assets[0] is defined %}
                            {% set imageType = 'image' %}
                            {% if servicePromotion.assets[0].type == constant('App\\Service\\Api\\Entity\\Item\\AssetEntity::TYPE_VIDEO') %}
                                {% set imageType = 'video' %}
                            {% endif %}

                            {% set imageUrl = url('app_web_image_cloudinary_path', {'apiKey': servicePromotion.assets[0].cloudName, 'apiPath': servicePromotion.assets[0].publicId, 'type':imageType}) %}
                            {% if imageSize|length %}

                                {% set imageUrl = url('app_web_image_cloudinary_path', {'apiKey': servicePromotion.assets[0].cloudName, 'apiPath': servicePromotion.assets[0].publicId, 'type':imageType, 'imageSize':imageSize}) %}

                            {% endif %}

                        {% endif %}



                        <article>
                            <div class="slide-image">
                                {% if servicePromotion.assets[0] is defined %}
                                    {% if servicePromotion.assets[0].type == constant('App\\Service\\Api\\Entity\\Item\\AssetEntity::TYPE_VIDEO') %}


                                        <video width="320" height="240" controls>
                                            <source src="{{ path('app_web_image_cloudinary_path', {'apiKey': servicePromotion.assets[0].cloudName, 'apiPath': servicePromotion.assets[0].publicId,'type':'video'}) }}" type="video/mp4">
                                            Your browser does not support the video tag.
                                        </video>
                                    {% else %}
                                    <img data-src="{{ imageUrl }}"
                                         alt="{{ servicePromotion.contentFacet.title }}" class="lazyload" data-sizes="auto"/>
                                    {% endif %}
                                {% endif %}
                            </div>

                            <div class="slide-content">
                                <div class="content-description">
                                    {% if  servicePromotion.priceFacet.price is defined %}
                                        <div class="prices-promo">
                                            <span>{{ servicePromotion.priceFacet.price }}€</span>
                                            {% if servicePromotion.priceFacet.priceOld %}
                                                <strong>{{ servicePromotion.priceFacet.priceOld }}€</strong>
                                            {% endif %}
                                        </div>
                                    {% endif %}

                                    <h3>{{ servicePromotion.contentFacet.title }}</h3>
                                    <p class="show-more-text">{{ servicePromotion.contentFacet.longContent }}</p>
                                </div>

                                {% if urlPromotion|length  %}

                                    <a  href="{{ urlPromotion }}" class="info-button">
                                        {{ 'app.web.show.location_promotions.info_button'|trans }}
                                    </a>

                                {% endif %}



                            </div>
                        </article>


                        {% set microdata =

                            {
                                "@context": "https://schema.org",
                                "@type": "Event",

                                "name": servicePromotion.contentFacet.title,
                                "startDate": servicePromotion.validityFacet.validFrom,

                                "eventStatus": "https://schema.org/EventCancelled",
                                "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",

                                "location": {
                                    "@type": "Place",
                                    "name": location.name,
                                    "address": {
                                        "@type": "PostalAddress",
                                        "streetAddress": location.address.street,
                                        "addressLocality": location.address.locality,
                                        "postalCode": location.address.zipCode,
                                        "addressCountry": location.address.country
                                    }
                                },

                                "image": [
                                    imageUrl
                                ],
                                "description": servicePromotion.contentFacet.longContent,
                                "url": urlPromotion,
                                "brand": location.brand,
                                "identifier": servicePromotion.externalId

                            }



                    %}
                        {% set json = json|merge({"0":microdata}) %}


                    {% endfor %}
                </div>
            </div>
        </div>

        {% for jsonDetails in json %}
            <script type="application/ld+json">
            {{ jsonDetails|json_encode|raw  }}
            </script>
        {% endfor %}

    {% endif %}
    <input type="hidden" id="show_more_trans" value="{{ "app.web.show.location_promotions.show_more"|trans }}">
    <input type="hidden" id="show_less_trans" value="{{ "app.web.show.location_promotions.show_less"|trans }}">
</section>
