{% extends 'web/base/home.html.twig' %}

{% block header %}
    <header style="margin-top: 20px;margin-bottom: 20px;text-align: center;font-weight: bold; background: #e6ded2; color: #292e31">
        <div style="float: left"><img src="{{ asset('build/images/web/shop/' ~ shop.code ~ '/logo.svg') }}" style="width: 124px; height: 55px; background-size: 124px 24px;"></div>
        <div style="float:right">Header Demo Details</div>
        <div style="clear: both"></div>

    </header>
{% endblock %}

{% block footer %}
    <footer style="margin-top: 20px;margin-bottom: 20px;text-align: center;font-weight: bold;">Footer Demo</footer>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {# Map Settings for this shop (default are defind in js map folder files, DEFAULT_SETTINGS getter) #}
    <script>
        var globalSettings = {
            map: {
                center: {lat: 50.62313744304004, lng: 5.365809522627387},
                zoom: 10,
            },
            geoLocationCountry: 'BE',
            query: {
                size: 50,
                radius: 15000,
            },
        };
    </script>
{% endblock %}
