{% extends 'web/base/show.html.twig' %}

{% block content %}
    {% for template in templates %}
        {% include 'web/block/' ~ template.attribute.block ~ '/' ~ template.attributeValue.value ~ '.html.twig' ignore missing %}
    {% endfor %}
{% endblock %}

{% block stylesheets_block %}
    {% for template in templates %}
        {{ encore_entry_link_tags('css/web/block/' ~ template.attribute.block) }}
    {% endfor %}
{% endblock %}

{% block javascripts_block %}
    {% for template in templates %}
        {{ encore_entry_script_tags('js/web/block/' ~ template.attribute.block) }}
    {% endfor %}
{% endblock %}

{% block header %}
    <header style="margin-top: 20px;margin-bottom: 20px;text-align: center;font-weight: bold; background: #e6ded2; color: #292e31">
        <div style="float: left"><img src="{{ asset('build/images/web/shop/' ~ shop.code ~ '/logo.svg') }}" style="width: 124px; height: 55px; background-size: 124px 24px;"></div>
        <div style="float:right">Header Demo Details</div>
        <div style="clear: both"></div>

    </header>
{% endblock %}

{% block footer %}
    <footer style="margin-top: 20px;margin-bottom: 20px;text-align: center;font-weight: bold;">Footer Demo Details</footer>
{% endblock %}
