.btn {
  padding: 7px 24px 7px;
  display: inline-block;
  border-radius: 4px;
  outline: 0 none;
  font-size: 16px;
  border: 0 none;
  color: $white;
  text-decoration: none;
  outline: none;
  box-shadow: none;

  &.btn-primary {
    background-color: $blue_0f;
    background-image: none;

    &:hover {
      filter: none;
      background-color: $blue_0a;
    }
  }

  &.text {
    padding: 0;
    border-radius: 0;
    background-color: $tr;
    color: $blue_0f;
    text-decoration: underline;
    font-size: 14px;
    line-height: 16px;
    font-family: $helvetica_font;
    font-weight: 700;
  }
}