$font-path: '../../../../../fonts/shop/pickles-au';

@font-face {
  font-family: 'Source-Sans';
  src: url($font-path + '/SourceSansPro-Regular.eot');
  src: url($font-path + '/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
      url($font-path + '/SourceSansPro-Regular.woff2') format('woff2'),
      url($font-path + '/SourceSansPro-Regular.woff') format('woff'),
      url($font-path + '/SourceSansPro-Regular.ttf') format('truetype'),
      url($font-path + '/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source-Sans';
  src: url($font-path + '/SourceSansPro-SemiBold.eot');
  src: url($font-path + '/SourceSansPro-SemiBold.eot?#iefix') format('embedded-opentype'),
      url($font-path + '/SourceSansPro-SemiBold.woff2') format('woff2'),
      url($font-path + '/SourceSansPro-SemiBold.woff') format('woff'),
      url($font-path + '/SourceSansPro-SemiBold.ttf') format('truetype'),
      url($font-path + '/SourceSansPro-SemiBold.svg#SourceSansPro-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source-Sans';
  src: url($font-path + '/SourceSansPro-Bold.eot');
  src: url($font-path + '/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
      url($font-path + '/SourceSansPro-Bold.woff2') format('woff2'),
      url($font-path + '/SourceSansPro-Bold.woff') format('woff'),
      url($font-path + '/SourceSansPro-Bold.ttf') format('truetype'),
      url($font-path + '/SourceSansPro-Bold.svg#SourceSansPro-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'font-awesome';
  src: url($font-path + '/fontawesome-webfont.eot');
  src: url($font-path + '/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
      url($font-path + '/fontawesome-webfont.woff2') format('woff2'),
      url($font-path + '/fontawesome-webfont.woff') format('woff'),
      url($font-path + '/fontawesome-webfont.svg#apercubold') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'pickles-custom-icon';
  src: url($font-path + '/pickles-custom-icon.eot?qxawz3');
  src: url($font-path + '/pickles-custom-icon.eot?qxawz3#iefix') format('embedded-opentype'),
      url($font-path + '/pickles-custom-icon.woff') format('woff'),
      url($font-path + '/pickles-custom-icon.ttf?qxawz3') format('truetype'),
      url($font-path + '/pickles-custom-icon.svg?qxawz3#pickles-custom-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ionicons';
  src: url($font-path + '/Ionicons.eot');
  src: url($font-path + '/Ionicons.eot?#iefix') format('embedded-opentype'),
      url($font-path + '/Ionicons.woff2') format('woff2'),
      url($font-path + '/Ionicons.woff') format('woff'),
      url($font-path + '/Ionicons.ttf') format('truetype'),
      url($font-path + '/Ionicons.svg#Ionicons') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica-Neue';
  src: url($font-path + '/HelveticaNeue-Bold.eot');
  src: url($font-path + '/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
      url($font-path + '/HelveticaNeue-Bold.woff2') format('woff2'),
      url($font-path + '/HelveticaNeue-Bold.woff') format('woff'),
      url($font-path + '/HelveticaNeue-Bold.ttf') format('truetype'),
      url($font-path + '/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica-Neue';
  src: url($font-path + '/HelveticaNeue.eot');
  src: url($font-path + '/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
      url($font-path + '/HelveticaNeue.woff2') format('woff2'),
      url($font-path + '/HelveticaNeue.woff') format('woff'),
      url($font-path + '/HelveticaNeue.ttf') format('truetype'),
      url($font-path + '/HelveticaNeue.svg#HelveticaNeue') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica-Neue';
  src: url($font-path + '/HelveticaNeue-Medium.eot');
  src: url($font-path + '/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
      url($font-path + '/HelveticaNeue-Medium.woff2') format('woff2'),
      url($font-path + '/HelveticaNeue-Medium.woff') format('woff'),
      url($font-path + '/HelveticaNeue-Medium.ttf') format('truetype'),
      url($font-path + '/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica-Neue';
  src: url($font-path + '/HelveticaNeue-Light.eot');
  src: url($font-path + '/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
      url($font-path + '/HelveticaNeue-Light.woff2') format('woff2'),
      url($font-path + '/HelveticaNeue-Light.woff') format('woff'),
      url($font-path + '/HelveticaNeue-Light.ttf') format('truetype'),
      url($font-path + '/HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}



