.fa {
  display: inline-block;
  font: 14px/1 $font_awesome_font;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-bars:before, 
.fa-navicon:before, 
.fa-reorder:before {
  content: "\f0c9";
}

.fa-gavel:before, 
.fa-legal:before {
  content: "\f0e3";
}

.fa-close:before, 
.fa-remove:before, 
.fa-times:before {
  content: "\f00d";
}

.fa-search:before {
  content: "\f002";
}

.fa-arrow-left:before {
  content: "\f060";
}

.fa-angle-right:before {
  content: "\f105";
}

.fa-facebook-f:before, 
.fa-facebook:before {
  content: "\f09a";
}

.fa-linkedin:before {
  content: "\f0e1";
}

.fa-instagram:before {
  content: "\f16d";
}

.fa-twitter:before {
  content: "\f099";
}

.fa-youtube:before {
  content: "\f167";
}

.fa-angle-left:before {
  content: "\f104";
}

.fa-angle-right:before {
  content: "\f105";
}

.fa-fw {
  width:13px;
  text-align: center;
}

.ion {
  display: inline-block;
  font-family: $Ionicons_font;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ion-chevron-right:before {
  content: "\f125";
}

[class*=' picon_'], 
[class*=' picon_']:before, 
[class^=picon_], 
[class^=picon_]:before {
  font-family: $pickles_custom_icon_font !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.picon_pickles:before {
  content: '\e913';
}

.picon_location:before {
  content: "\e90d";
}

.picon_transmission:before {
  content: "\e918";
}

.picon_mileage:before {
  content: "\e910";
}

.picon_engine:before {
  content: "\e907";
}

.picon_body:before {
  content: "\e902";
}

.picon_warranty:before {
  content: "\e91a";
}















