body {
  font-family: $Source_sans_font;
  font-weight: 400;
  color: $black_2b;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  transition: transform .3s,-webkit-transform .3s;
  transform: translate3d(0%, 0, 0);

  &.modal-open {
    overflow: hidden;
    transform: initial;
    transition: initial;

    .modal {
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}

* {
  font-family: $Source_sans_font;
  font-weight: 400;
  font-size: 16px;
}

.isOpen {
  transition: transform .3s,-webkit-transform .3s;
  @media (max-width: #{$tablet}) {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: visible;
    -webkit-transform: translate3d(50%,0,0);
    transform: translate3d(50%,0,0);
  }

  @media (max-width: #{$mobile_down}) {
    -webkit-transform: translate3d(85%,0,0);
    transform: translate3d(85%,0,0);
  }
}

.wrapper {
  padding-left: 15px !important;
  padding-right: 15px !important;
  margin: 0 auto;

  @media (min-width: #{$small_screen_up}) {
    width: 540px !important;
    max-width: 100% !important;
  }

  @media (min-width: #{$mobile_down}) {
    width: 720px !important;
    max-width: 100% !important;
  }

  @media (min-width: #{$tablet}) {
    width: 960px !important;
    max-width: 100% !important;
  }

  @media (min-width: #{$desktop}) {
    width: 1140px !important;
    max-width: 100% !important;
  }
}

.pickles-list-title {
  text-align: center;
  padding-top: 23px;

  h3 {
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
    color: $blue_0f;
    font-family: $helvetica_font;

    @media (max-width: #{$mobile_down}) {
      font-size: 18px;
      line-height: 22px;
    }
  }
}

.location-summary {
  h5 {
    color: $blue_0f;
    font-size: 14px !important;
    line-height: 18px !important;;
    font-family: $helvetica_font;
    font-weight: 700;
    margin-bottom: 5px;

    a {
      color: $blue_0f;
      font-size: 14px !important;
      line-height: 18px;
      font-family: $helvetica_font;
      font-weight: 700;

      &:hover {
        color: $blue_0f !important;
        filter: none;
      }
    }
  }

  address {
    font-size: 14px;
    line-height: 16px;
    font-family: $helvetica_font;
    font-weight: 400;
    color: $black;
    margin-bottom: 7px;
  }

  .location-phone {
    a {
      font-size: 14px;
      line-height: 16px;
      font-family: $helvetica_font;
      font-weight: 400;
      color: $black;
      text-decoration: none;

      &:hover {
        color: $black !important;
      }
    }
  }

  .open-close-box {
    margin-bottom: 10px;

    .open-box {
      display: flex;
      align-items: center;

      span {
        font-size: 14px;
        line-height: 16px;
        font-family: $helvetica_font;
        font-weight: 400;
        color: $black;
        display: inline-block;

        &.open-sentence {
          &:after {
            background-image: none;
            width: 0; 
            height: 0; 
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid $black;
          }
        }
      }
    }
    .open-label {
      display: none !important;
    }
  }

  .small-schedule {
    border: none;
    box-shadow: none;
    padding: 0;

    table {
      td,
      th {
        font-size: 14px;
        line-height: 16px;
        font-family: $helvetica_font;
        font-weight: 400;
        color: $black;
      }
    }
  }
}

.mr-10 {
  margin-right: 10px;
}

.detail-page {
  h2,
  h1,
  h4 {
    color: $blue_0f;
    font-weight: 700;
    font-family: $helvetica_font;
  }

  h1 {
    font-size: 48px;
    line-height: 52px;

    @media (max-width: #{$mobile_down}) {
      font-size: 24px;
      line-height: 28px;
    }
  }

  h2 {
    strong {
      color: $blue_0f;
      font-family: $helvetica_font;
      font-weight: 700;
      line-height: 36px;

      @media (max-width: #{$mobile_down}) {
        font-size: 17px;
        line-height: 21px;
      }
    }
  }

  .wrapper {
    @media (max-width: #{$tablet}) {
      max-width: 100% !important;
      width: 100% !important;
    }
  }
}











