// Color
$white: #ffffff;
$black: #000000;
$tr: transparent;

$black_2b: #2b2b2b;
$black_22: #222222;
$blakc_29: #292b2c;

$gray: #cacaca;
$gray_44: #444444;
$gray_88: #888888;
$gray_66: #666666;
$gray_f8: #f8f8f8;
$gray_f3: #f3f3f3;
$gray_8d: #8d8d8d;
$gray_d6: #d6d6d6;
$gray_ee: #eeeeee;
$gray_f7: #f7f6f6;

$blue: #004c93;
$blue_6d: #6d93b6;
$blue_0f: #0f47a1;
$blue_0a: #0a3c8d;
$blue_1a: #1a4f90;

$green: #00a1cb;
$green_hover: #007998;
$green_5b: #5bad2a;
$green_45: #458420;

$yellow: #f7b631;

// Fonts
$Source_sans_font: 'Source-Sans', sans-serif;
$font_awesome_font: 'font-awesome', sans-serif;
$pickles_custom_icon_font: 'pickles-custom-icon', sans-serif;
$helvetica_font: 'Helvetica-Neue', sans-serif;
$Ionicons_font: 'Ionicons';

// Image path
$img_path: '../../../../../images/web/shop/pickles-au/';

// Media
$desktop: 1200px;
$desktop_up: 1201px;
$tablet: 992px;
$tablet_up: 993px;
$mobile_up: 768px;
$mobile_down: 767px;
$small_screen_up: 576px;
$small_screen_down: 575px;

/*@media (max-width: #{$mobile_down})*/