<!-- Block location services + text -->
<section id="block_location_services" class="section-location-services">

    {% set showServices = false %}



    {% set services = [] %}
    {% if location.services and location.services['installations'] is defined and location.services['installations']|length %}
        {% set showServices = true %}
        {% set services = location.services['installations'] %}
    {% endif %}


    {% if location.services and location.services['assistanceadistance'] is defined and location.services['assistanceadistance']|length %}
        {% set showServices = true %}
        {% set services = services|merge(location.services['assistanceadistance']) %}
    {% endif %}

    {% if showServices %}
        <div class="location-services">
            <div class="wrapper">
                <h2>{{ 'app.web.show.location_services.title'|trans }}</h2>

                <ul class="services-block">
                    {% for propertyService in services if propertyService.contentFacet.title %}
                        <li itemscope itemtype="http://schema.org/Service">
                            <b itemprop="serviceType">{{ propertyService.contentFacet.title }}</b>
                        </li>
                    {% endfor %}
                </ul>

                <div class="services-payments">
                    <p>{{ 'app.web.show.location_services.payments'|trans }}</p>

                    <ul><li><img src="{{ asset('build/images/web/block/location_services/payments.png') }}" /></li></ul>
                </div>
            </div>
        </div>
    {% endif %}
</section>